Repository AltairaLabs/PromptKit: changes, and which Codecov flags are due for each by the changed paths.
All: runtime, sdk, arena, packc, inspect-state

feat: Gemini provider multimodal tool result serialization (#620)
  runtime/providers/gemini/gemini_tool_results_test.go
  runtime/providers/gemini/gemini_tools.go
Due: runtime

feat: SDK deferred tool resolution with multimodal Parts (#623)
  sdk/client_tools.go
  sdk/client_tools_test.go
  sdk/tools/pending.go
  sdk/tools/pending_test.go
Due: sdk

feat: OpenAI provider multimodal tool result serialization (#619)
  runtime/providers/openai/openai_multimodal_tools_test.go
  runtime/providers/openai/openai_tools.go
Due: runtime

feat: Claude provider multimodal tool result serialization (#618)
  runtime/providers/claude/claude_tool_results_test.go
  runtime/providers/claude/claude_tools.go
Due: runtime

feat: Gemini provider multimodal tool result serialization (#620) (#638)
  runtime/providers/gemini/gemini_tool_results_test.go
  runtime/providers/gemini/gemini_tools.go
Due: runtime

feat: A2A executor ExtractResponseParts and MultimodalExecutor interface (#621)
  runtime/a2a/executor.go
  runtime/a2a/executor_test.go
  runtime/pipeline/stage/stages_provider.go
  runtime/tools/registry.go
  runtime/tools/registry_async_test.go
  runtime/tools/types.go
Due: runtime

feat: PromptArena mock_parts on ToolDescriptor for multimodal mock results (#624)
  runtime/tools/executors.go
  runtime/tools/executors_multimodal_test.go
  runtime/tools/registry.go
  runtime/tools/testdata/sample-chart.png
  runtime/tools/types.go
Due: runtime

feat: pipeline stage and event emission for multimodal tool results (#622)
  runtime/pipeline/stage/stages_provider.go
  runtime/pipeline/stage/stages_provider_test.go
  runtime/pipeline/stage/stages_recording_test.go
  runtime/tools/registry.go
Due: runtime

feat: SDK deferred tool resolution with multimodal Parts (#623) (#639)
  sdk/client_tools.go
  sdk/client_tools_test.go
  sdk/tools/pending.go
  sdk/tools/pending_test.go
Due: sdk

feat: Claude provider multimodal tool result serialization (#618) (#641)
  runtime/providers/claude/claude_tool_results_test.go
  runtime/providers/claude/claude_tools.go
Due: runtime

feat: OpenAI provider multimodal tool result serialization (#619) (#640)
  runtime/providers/openai/openai_multimodal_tools_test.go
  runtime/providers/openai/openai_tools.go
Due: runtime

feat: PromptArena mock_parts on ToolDescriptor for multimodal mock results (#624) (#643)
  runtime/tools/executors.go
  runtime/tools/executors_multimodal_test.go
  runtime/tools/registry.go
  runtime/tools/testdata/sample-chart.png
  runtime/tools/types.go
Due: runtime

feat: pipeline stage and event emission for multimodal tool results (#622) (#644)
  runtime/pipeline/stage/stages_provider.go
  runtime/pipeline/stage/stages_provider_test.go
  runtime/pipeline/stage/stages_recording_test.go
  runtime/tools/registry.go
Due: runtime

feat: PromptArena tool_result_has_media and tool_result_media_type assertions (#625)
  runtime/evals/handlers/handlers_test.go
  runtime/evals/handlers/register.go
  runtime/evals/handlers/tool_result_media.go
  runtime/evals/handlers/tool_result_media_test.go
Due: runtime

fix: improve coverage and reduce duplication for MultimodalExecutor (#621)
  runtime/a2a/executor.go
  runtime/a2a/executor_test.go
  runtime/tools/registry.go
  runtime/tools/registry_async_test.go
Due: runtime

feat: PromptArena tool_result_has_media and tool_result_media_type assertions (#625) (#645)
  runtime/evals/handlers/handlers_test.go
  runtime/evals/handlers/register.go
  runtime/evals/handlers/tool_result_media.go
  runtime/evals/handlers/tool_result_media_test.go
Due: runtime

feat: A2A executor ExtractResponseParts and MultimodalExecutor (#621)
  runtime/a2a/executor.go
  runtime/a2a/executor_test.go
Due: runtime

feat: PromptArena HTML report media thumbnails in DevTools panel (#626)
  tools/arena/render/html.go
  tools/arena/render/media.go
  tools/arena/render/media_test.go
  tools/arena/render/templates/report.html.tmpl
Due: arena

feat: A2A executor ExtractResponseParts and MultimodalExecutor (#621) (#647)
  runtime/a2a/executor.go
  runtime/a2a/executor_test.go
Due: runtime

feat: PromptArena HTML report media thumbnails in DevTools panel (#626) (#648)
  tools/arena/render/html.go
  tools/arena/render/media.go
  tools/arena/render/media_test.go
  tools/arena/render/templates/report.html.tmpl
Due: arena

docs: update documentation for multimodal tool results
  docs/src/content/docs/arena/reference/assertions.md
  docs/src/content/docs/runtime/reference/types.md
  docs/src/content/docs/sdk/how-to/client-tools.md
Due: none

feat: add multimodal tool results PromptArena example
  examples/multimodal-tool-results/README.md
  examples/multimodal-tool-results/config.arena.yaml
  examples/multimodal-tool-results/mock-responses.yaml
  examples/multimodal-tool-results/prompts/data-viz.yaml
  examples/multimodal-tool-results/providers/mock-provider.yaml
  examples/multimodal-tool-results/scenarios/chart-generation.scenario.yaml
  examples/multimodal-tool-results/testdata/sample-chart.png
  examples/multimodal-tool-results/tools/generate-chart.tool.yaml
Due: none

docs: add multimodal tool results example
  examples/multimodal-tool-results/README.md
  examples/multimodal-tool-results/config.arena.yaml
  examples/multimodal-tool-results/mock-responses.yaml
  examples/multimodal-tool-results/prompts/analyst.yaml
  examples/multimodal-tool-results/providers/mock-provider.yaml
  examples/multimodal-tool-results/scenarios/chart-generation.scenario.yaml
  examples/multimodal-tool-results/scenarios/document-scan.scenario.yaml
  examples/multimodal-tool-results/testdata/sample-chart.png
  examples/multimodal-tool-results/tools/generate-chart.tool.yaml
  examples/multimodal-tool-results/tools/scan-document.tool.yaml
Due: none

docs: multimodal tool results documentation and example (#651)
  docs/src/content/docs/arena/reference/assertions.md
  docs/src/content/docs/runtime/reference/types.md
  docs/src/content/docs/sdk/how-to/client-tools.md
  examples/multimodal-tool-results/README.md
  examples/multimodal-tool-results/config.arena.yaml
  examples/multimodal-tool-results/mock-responses.yaml
  examples/multimodal-tool-results/prompts/analyst.yaml
  examples/multimodal-tool-results/providers/mock-provider.yaml
  examples/multimodal-tool-results/scenarios/chart-generation.scenario.yaml
  examples/multimodal-tool-results/scenarios/document-scan.scenario.yaml
  examples/multimodal-tool-results/testdata/sample-chart.png
  examples/multimodal-tool-results/tools/generate-chart.tool.yaml
  examples/multimodal-tool-results/tools/scan-document.tool.yaml
Due: none

perf: pipeline, tools, and misc runtime performance fixes
  runtime/pipeline/stage/builder.go
  runtime/pipeline/stage/element_pool.go
  runtime/pipeline/stage/pipeline.go
  runtime/pipeline/stage/pipeline_internal_test.go
  runtime/pipeline/stage/stages_provider.go
  runtime/pipeline/stage/stages_token_budget.go
  runtime/skills/executor.go
  runtime/tools/executors.go
  runtime/tools/executors_test.go
  runtime/tools/registry.go
  runtime/tools/registry_test.go
  runtime/tools/validator.go
  runtime/tools/validator_test.go
Due: runtime

fix: server/a2a and pkg reliability improvements
  pkg/config/logging.go
  pkg/config/logging_test.go
  pkg/config/schema_validator.go
  pkg/config/schema_validator_test.go
  pkg/config/validator.go
  pkg/errors/errors.go
  server/a2a/eviction_test.go
  server/a2a/server.go
  server/a2a/server_stream.go
  server/a2a/server_stream_test.go
  server/a2a/server_test.go
  server/a2a/task_store.go
  server/a2a/task_store_test.go
Due: none

fix: state store, storage, and data management scalability improvements
  runtime/annotations/store.go
  runtime/annotations/store_test.go
  runtime/events/blob_store.go
  runtime/events/store.go
  runtime/events/store_test.go
  runtime/internal/lru/lru.go
  runtime/internal/lru/lru_test.go
  runtime/statestore/index_memory.go
  runtime/statestore/redis.go
  runtime/statestore/redis_test.go
  runtime/storage/local/filestore.go
Due: runtime

fix: server/a2a and pkg reliability improvements (#652)
  pkg/config/logging.go
  pkg/config/logging_test.go
  pkg/config/schema_validator.go
  pkg/config/schema_validator_test.go
  pkg/config/validator.go
  pkg/errors/errors.go
  server/a2a/eviction_test.go
  server/a2a/server.go
  server/a2a/server_stream.go
  server/a2a/server_stream_test.go
  server/a2a/server_test.go
  server/a2a/task_store.go
  server/a2a/task_store_test.go
Due: none

perf: pipeline, tools, and misc runtime performance fixes (#653)
  runtime/pipeline/stage/builder.go
  runtime/pipeline/stage/element_pool.go
  runtime/pipeline/stage/pipeline.go
  runtime/pipeline/stage/pipeline_internal_test.go
  runtime/pipeline/stage/stages_provider.go
  runtime/pipeline/stage/stages_token_budget.go
  runtime/skills/executor.go
  runtime/tools/executors.go
  runtime/tools/executors_test.go
  runtime/tools/registry.go
  runtime/tools/registry_test.go
  runtime/tools/validator.go
  runtime/tools/validator_test.go
Due: runtime

fix: state store, storage, and data management scalability improvements (#655)
  runtime/annotations/store.go
  runtime/annotations/store_test.go
  runtime/events/blob_store.go
  runtime/events/store.go
  runtime/events/store_test.go
  runtime/internal/lru/lru.go
  runtime/internal/lru/lru_test.go
  runtime/statestore/index_memory.go
  runtime/statestore/redis.go
  runtime/statestore/redis_test.go
  runtime/storage/local/filestore.go
Due: runtime

fix: SDK reliability and performance improvements
  sdk/agui/adapter.go
  sdk/conversation.go
  sdk/eval_integration_test.go
  sdk/eval_middleware.go
  sdk/eval_middleware_test.go
  sdk/local_agent_executor_integration.go
  sdk/multi_agent.go
  sdk/multi_agent_test.go
  sdk/sdk.go
  sdk/session/duplex_session.go
  sdk/session/unary_session.go
  sdk/session/unary_session_test.go
  sdk/shutdown.go
  sdk/streaming.go
  sdk/template.go
  sdk/tools/http.go
  sdk/tools/typed.go
  sdk/workflow.go
  sdk/workflow_integration.go
  sdk/workflow_test.go
Due: sdk

fix: runtime concurrency, goroutine safety, and reliability improvements
  runtime/a2a/client.go
  runtime/a2a/executor.go
  runtime/evals/worker.go
  runtime/events/blob_store_test.go
  runtime/events/bus.go
  runtime/events/player.go
  runtime/mcp/client.go
  runtime/mcp/client_test.go
  runtime/mcp/registry.go
  runtime/pipeline/stage/stages_advanced.go
  runtime/providers/base_provider.go
  runtime/providers/internal/streaming/conn.go
  runtime/providers/internal/streaming/session.go
  runtime/providers/openai/openai.go
  runtime/telemetry/listener.go
Due: runtime

test: add coverage tests for SDK reliability changes
  sdk/conversation_test.go
  sdk/eval_middleware_test.go
  sdk/shutdown_test.go
Due: none

test: add telemetry listener Close and evictStale coverage
  runtime/telemetry/listener_test.go
Due: none

test: add stream processor context cancellation coverage
  sdk/session/unary_session_test.go
Due: none

fix: runtime concurrency, goroutine safety, and reliability improvements (#656)
  runtime/a2a/client.go
  runtime/a2a/executor.go
  runtime/evals/worker.go
  runtime/events/blob_store_test.go
  runtime/events/bus.go
  runtime/events/player.go
  runtime/mcp/client.go
  runtime/mcp/client_test.go
  runtime/mcp/registry.go
  runtime/pipeline/stage/stages_advanced.go
  runtime/providers/base_provider.go
  runtime/providers/internal/streaming/conn.go
  runtime/providers/internal/streaming/session.go
  runtime/providers/openai/openai.go
  runtime/telemetry/listener.go
  runtime/telemetry/listener_test.go
Due: runtime

Path conditions:
  runtime: any of: runtime/, but not: **/*_test.go, **/*_interactive.go, **/*_integration.go, examples/, docs/, scripts/, .github/, *.md
  sdk: any of: sdk/, but not: **/*_test.go, **/*_interactive.go, **/*_integration.go, examples/, docs/, scripts/, .github/, *.md
  arena: any of: tools/arena/, but not: **/*_test.go, **/*_interactive.go, **/*_integration.go, examples/, docs/, scripts/, .github/, *.md
  packc: any of: tools/packc/, but not: **/*_test.go, **/*_interactive.go, **/*_integration.go, examples/, docs/, scripts/, .github/, *.md
  inspect-state: any of: tools/inspect-state/, but not: **/*_test.go, **/*_interactive.go, **/*_integration.go, examples/, docs/, scripts/, .github/, *.md
