Repository AltairaLabs/PromptKit: changes, and which Codecov flags are due for each by the changed paths.
All: runtime, sdk, arena, packc, inspect-state

codecov.yml:

codecov:
  require_ci_to_pass: yes
  notify:
    wait_for_ci: yes

coverage:
  precision: 2
  round: down
  range: "70...100"
  
  status:
    project:
      default:
        target: 70%
        threshold: 1%
        if_ci_failed: error
    patch:
      default:
        target: 70%
        threshold: 1%
        if_ci_failed: error

comment:
  layout: "reach,diff,flags,tree"
  behavior: default
  require_changes: false

flags:
  runtime:
    paths:
      - runtime/
  sdk:
    paths:
      - sdk/
  arena:
    paths:
      - tools/arena/
  packc:
    paths:
      - tools/packc/
  inspect-state:
    paths:
      - tools/inspect-state/

ignore:
  - "**/*_test.go"
  - "**/*_interactive.go"
  - "**/*_integration.go"
  - "examples/"
  - "docs/"
  - "scripts/"
  - ".github/"
  - "*.md"

feat(sdk): WithVoiceObserver — observe the conversation while Start manages audio
  docs/src/content/docs/sdk/reference/conversation-manager.md
  sdk/options.go
  sdk/voice.go
  sdk/voice_test.go
Due: sdk

feat(sdk): OpenVoice / WithAudioSession — bind the duplex pipeline to an audio.Session (#1663)
  docs/src/content/docs/sdk/reference/conversation-manager.md
  sdk/options.go
  sdk/voice.go
  sdk/voice_test.go
Due: sdk

example(openai-realtime): drive interactive voice with OpenVoice + Start
  sdk/examples/openai-realtime/main_interactive.go
Due: none

example(openai-realtime): drive interactive voice with OpenVoice + Start (#1664)
  sdk/examples/openai-realtime/main_interactive.go
Due: none

fix(sdk): OpenVoice Start must not end the session when the device Start returns
  sdk/voice.go
  sdk/voice_test.go
Due: sdk

fix(sdk): OpenVoice Start must not end the session when the device Start returns (#1665)
  sdk/voice.go
  sdk/voice_test.go
Due: sdk

fix(duplex): drain a live streaming voice session promptly, not after 30s
  runtime/pipeline/stage/duplex_burst_test.go
  runtime/pipeline/stage/stages_duplex_provider_session.go
  sdk/session/duplex_session.go
  sdk/voice_burst_test.go
Due: runtime, sdk

test(duplex): runtime coverage for the drain-signal fast path
  runtime/pipeline/stage/duplex_burst_test.go
Due: none

fix(duplex): reset the pipeline idle timeout on streaming activity
  runtime/pipeline/stage/duplex_burst_test.go
  runtime/pipeline/stage/stages_duplex_provider_session.go
Due: runtime

fix(voice): pace output audio to realtime so long replies don't stutter
  sdk/conversation.go
  sdk/internal/pipeline/builder.go
  sdk/internal/pipeline/builder_test.go
Due: sdk

test(voice): prove pacing survives a turn boundary + log cancel cause
  runtime/pipeline/stage/stages_duplex_provider_session.go
  sdk/voice_burst_test.go
Due: runtime

chore(voice): log which pump ends a Start session and why
  sdk/voice.go
Due: sdk

test(voice): real-provider integration test for the OpenVoice mic path
  sdk/voice_realtime_integration_test.go
Due: none

feat(voice): warn loudly when the microphone captures no audio
  sdk/voice.go
Due: sdk

fix(voice): stream the assistant's audio transcript to the display
  runtime/pipeline/stage/stages_duplex_provider.go
  runtime/pipeline/stage/stages_duplex_provider_session.go
  runtime/pipeline/stage/stages_duplex_provider_test.go
  sdk/voice_realtime_integration_test.go
Due: runtime

fix(voice): clean up interleaved realtime conversation display
  sdk/examples/openai-realtime/main_interactive.go
  sdk/session/duplex_session.go
  sdk/session/duplex_session_test.go
  sdk/voice_realtime_integration_test.go
Due: sdk

feat(voice): reorder late input transcripts so user turns precede replies
  docs/src/content/docs/runtime/reference/pipeline.md
  docs/src/content/docs/runtime/reference/providers.md
  runtime/pipeline/stage/transcript_reorder.go
  runtime/pipeline/stage/transcript_reorder_test.go
  runtime/providers/openai/streaming_support_integration.go
  runtime/providers/streaming_input.go
  sdk/conversation.go
  sdk/internal/pipeline/builder.go
  sdk/internal/pipeline/builder_test.go
  sdk/transcript_reorder_resolve_test.go
  sdk/voice_realtime_integration_test.go
Due: runtime, sdk

test(voice): short-reply survival test + log which pipeline stage returns
  runtime/pipeline/stage/pipeline.go
  sdk/voice_realtime_integration_test.go
Due: runtime

fix(voice): hold the turn-end for a late transcript (short replies)
  docs/src/content/docs/runtime/reference/pipeline.md
  runtime/pipeline/stage/transcript_reorder.go
  runtime/pipeline/stage/transcript_reorder_test.go
  sdk/voice_realtime_integration_test.go
Due: runtime

chore(voice): prompt close on drain + dial back stage-return logging
  runtime/pipeline/stage/pipeline.go
  sdk/session/duplex_session.go
Due: runtime, sdk

fix(voice): make the OpenAI Realtime voice example usable end to end (#1668)
  docs/src/content/docs/runtime/reference/pipeline.md
  docs/src/content/docs/runtime/reference/providers.md
  runtime/pipeline/stage/duplex_burst_test.go
  runtime/pipeline/stage/pipeline.go
  runtime/pipeline/stage/stages_duplex_provider.go
  runtime/pipeline/stage/stages_duplex_provider_session.go
  runtime/pipeline/stage/stages_duplex_provider_test.go
  runtime/pipeline/stage/transcript_reorder.go
  runtime/pipeline/stage/transcript_reorder_test.go
  runtime/providers/openai/streaming_support_integration.go
  runtime/providers/streaming_input.go
  sdk/conversation.go
  sdk/examples/openai-realtime/main_interactive.go
  sdk/internal/pipeline/builder.go
  sdk/internal/pipeline/builder_test.go
  sdk/session/duplex_session.go
  sdk/session/duplex_session_test.go
  sdk/transcript_reorder_resolve_test.go
  sdk/voice.go
  sdk/voice_burst_test.go
  sdk/voice_realtime_integration_test.go
Due: runtime, sdk

fix(gemini): send realtime audio via current realtimeInput.audio field
  runtime/providers/gemini/stream_session_helpers_test.go
  runtime/providers/gemini/stream_session_protocol_integration.go
  runtime/providers/gemini/stream_session_test.go
Due: none

fix(gemini): send realtime audio via current realtimeInput.audio field (#1671)
  runtime/providers/gemini/stream_session_helpers_test.go
  runtime/providers/gemini/stream_session_protocol_integration.go
  runtime/providers/gemini/stream_session_test.go
Due: none

feat(gemini): response modality settable via provider additional_config
  runtime/providers/gemini/gemini.go
  runtime/providers/gemini/gemini_tools.go
  runtime/providers/gemini/streaming_support.go
  runtime/providers/gemini/streaming_support_test.go
Due: runtime

feat(gemini): response modality settable via provider additional_config (#1672)
  runtime/providers/gemini/gemini.go
  runtime/providers/gemini/gemini_tools.go
  runtime/providers/gemini/streaming_support.go
  runtime/providers/gemini/streaming_support_test.go
Due: runtime

feat(tts): surface the real spoken text from synthesis (post markup-lowering)
  docs/src/content/docs/runtime/reference/pipeline.md
  docs/src/content/docs/runtime/reference/tts.md
  runtime/pipeline/stage/spoken_text_stage_test.go
  runtime/pipeline/stage/stages_speech.go
  runtime/pipeline/stage/turn_state.go
  runtime/tts/cartesia.go
  runtime/tts/elevenlabs.go
  runtime/tts/openai.go
  runtime/tts/service.go
  runtime/tts/spoken_text_test.go
  sdk/session/duplex_session.go
  sdk/session/tts_chunk_conversion_test.go
Due: runtime, sdk

feat(tts): surface the real spoken text from synthesis (post markup-lowering) (#1673)
  docs/src/content/docs/runtime/reference/pipeline.md
  docs/src/content/docs/runtime/reference/tts.md
  runtime/pipeline/stage/spoken_text_stage_test.go
  runtime/pipeline/stage/stages_speech.go
  runtime/pipeline/stage/turn_state.go
  runtime/tts/cartesia.go
  runtime/tts/elevenlabs.go
  runtime/tts/openai.go
  runtime/tts/service.go
  runtime/tts/spoken_text_test.go
  sdk/session/duplex_session.go
  sdk/session/tts_chunk_conversion_test.go
Due: runtime, sdk

test(tts): prove SpokenText matches real spoken audio across all providers
  runtime/tts/roundtrip_integration_test.go
  runtime/tts/spoken_text_integration_test.go
Due: none

test(tts): prove SpokenText matches real spoken audio across all providers (#1674)
  runtime/tts/roundtrip_integration_test.go
  runtime/tts/spoken_text_integration_test.go
Due: none

feat(classify): pure-Go video classification (#1229)
  docs/src/content/docs/reference/checks.md
  runtime/classify/factory.go
  runtime/classify/framesample/gifmjpeg.go
  runtime/classify/framesample/gifmjpeg_internal_test.go
  runtime/classify/framesample/gifmjpeg_test.go
  runtime/classify/framesample/sampler.go
  runtime/classify/types.go
  runtime/classify/video_decompose.go
  runtime/classify/video_decompose_factory.go
  runtime/classify/video_decompose_factory_test.go
  runtime/classify/video_decompose_internal_test.go
  runtime/classify/video_decompose_test.go
  runtime/evals/handlers/handlers_test.go
  runtime/evals/handlers/register.go
  runtime/evals/handlers/video_moderation.go
  runtime/evals/handlers/video_moderation_test.go
Due: runtime

test(classify): live HF integration test for video_moderation (#1229)
  runtime/evals/handlers/video_moderation_integration_test.go
Due: none

test(classify): harden live video_moderation test, verify against real HF model
  runtime/evals/handlers/video_moderation_integration_test.go
Due: none

docs(concepts): note video classifier + decompose provider under inference role (#1229)
  docs/src/content/docs/concepts/providers.md
Due: none

test(events): wait on asserted events, not just pipeline.completed
  sdk/integration/events_test.go
  sdk/integration/tools_test.go
Due: none

test(events): wait on asserted events, not just pipeline.completed (#1677)
  sdk/integration/events_test.go
  sdk/integration/tools_test.go
Due: none

fix(hooks): run BeforeCall before building the provider request
  runtime/pipeline/stage/stages_provider.go
  runtime/pipeline/stage/stages_provider_hooks_test.go
Due: runtime
