Repository AltairaLabs/PromptKit: changes, and which Codecov flags are due for each by the changed paths.
All: runtime, sdk, arena, packc, inspect-state

feat(pipeline): add EndOfTurn + Interrupt control signals to StreamElement (#1479)
  runtime/pipeline/stage/element.go
  runtime/pipeline/stage/element_test.go
  runtime/pipeline/stage/stages_recording.go
Due: runtime

feat(sdk): add ResumeDuplex to resume a persisted voice conversation (#1478)
  sdk/sdk.go
  sdk/sdk_test.go
Due: sdk

feat(pipeline): streaming multi-turn mode for ProviderStage
  runtime/pipeline/stage/stages_provider.go
  runtime/pipeline/stage/stages_provider_streaming_test.go
Due: runtime

test(pipeline): cover streaming-mode branches for SonarCloud new-coverage gate
  runtime/pipeline/stage/stages_provider_streaming_test.go
Due: none

feat(pipeline): streaming multi-turn mode for ProviderStage (#1481)
  runtime/pipeline/stage/stages_provider.go
  runtime/pipeline/stage/stages_provider_streaming_test.go
Due: runtime

feat(pipeline): AudioTurnStage emits Interrupt on barge-in
  runtime/pipeline/stage/audio_turn_stage_test.go
  runtime/pipeline/stage/stages_speech_integration.go
Due: none

feat(pipeline): TTS drops in-flight and queued audio on barge-in Interrupt
  runtime/pipeline/stage/stages_speech_integration.go
  runtime/pipeline/stage/tts_interruption_stage_test.go
Due: none

feat(pipeline): streaming provider cancels in-flight generation on Interrupt
  runtime/pipeline/stage/stages_provider.go
  runtime/pipeline/stage/stages_provider_streaming_test.go
  runtime/pipeline/stage/stages_speech_integration.go
  runtime/pipeline/stage/turn_canceller.go
Due: runtime

feat(pipeline): barge-in / interrupt propagation path (#1482)
  runtime/pipeline/stage/audio_turn_stage_test.go
  runtime/pipeline/stage/stages_provider.go
  runtime/pipeline/stage/stages_provider_streaming_test.go
  runtime/pipeline/stage/stages_speech_integration.go
  runtime/pipeline/stage/tts_interruption_stage_test.go
  runtime/pipeline/stage/turn_canceller.go
Due: runtime

feat(arena): rebuild composed-VAD pipeline as continuous conversation
  runtime/pipeline/stage/audio_turn_stage_test.go
  runtime/pipeline/stage/stages_speech_integration.go
  tools/arena/engine/duplex_interactive.go
Due: none

test(arena): continuous multi-turn composed-VAD integration test + TurnState race fix
  runtime/pipeline/stage/stages_provider.go
  tools/arena/engine/duplex_interactive.go
  tools/arena/engine/duplex_interactive_multiturn_test.go
  tools/arena/engine/interfaces.go
Due: runtime, arena

feat(arena): composed-VAD pipeline as continuous conversation + integration test (#1483)
  runtime/pipeline/stage/audio_turn_stage_test.go
  runtime/pipeline/stage/stages_provider.go
  runtime/pipeline/stage/stages_speech_integration.go
  tools/arena/engine/duplex_interactive.go
  tools/arena/engine/duplex_interactive_multiturn_test.go
  tools/arena/engine/interfaces.go
Due: runtime, arena

fix(arena/tui): run page Activate before Init so launch wires deps first
  tools/arena/tui/app/app.go
  tools/arena/tui/app/app_lifecycle_test.go
Due: arena

fix(arena): interactive voice console uses AdaptiveVAD, not SimpleVAD
  tools/arena/engine/duplex_executor_pipeline_vad_test.go
  tools/arena/engine/duplex_interactive.go
  tools/arena/engine/duplex_interactive_vad_test.go
Due: none

fix(arena): resolve TTS vendor voice + reflect voice session end in the UI
  tools/arena/engine/duplex_interactive.go
  tools/arena/engine/duplex_interactive_vad_test.go
  tools/arena/tui/app/app_lifecycle_test.go
  tools/arena/tui/app/chatpage.go
  tools/arena/tui/app/chatpage_voice.go
  tools/arena/tui/app/chatpage_voice_test.go
Due: arena

feat(arena): batch streaming TTS into sentences for smooth voice output
  tools/arena/engine/duplex_interactive.go
  tools/arena/stages/tts_sentence_aggregator.go
  tools/arena/stages/tts_sentence_aggregator_test.go
Due: arena

feat(arena): show user transcript before the reply + voice turn status
  runtime/pipeline/stage/stages_provider.go
  runtime/pipeline/stage/stages_provider_streaming_test.go
  tools/arena/tui/app/chatpage.go
Due: runtime, arena

feat(arena): make voice barge-in opt-in (--barge-in), off by default
  tools/arena/agentkb/reference/cli.md
  tools/arena/cmd/promptarena/chat.go
  tools/arena/cmd/promptarena/chat_interactive.go
  tools/arena/engine/duplex_interactive.go
  tools/arena/engine/interfaces.go
  tools/arena/tui/app/chatpage_voice.go
  tools/arena/tui/app/page.go
Due: arena

fix(arena): make the live voice console actually work (launch ordering + AdaptiveVAD) (#1484)
  runtime/pipeline/stage/stages_provider.go
  runtime/pipeline/stage/stages_provider_streaming_test.go
  tools/arena/agentkb/reference/cli.md
  tools/arena/cmd/promptarena/chat.go
  tools/arena/cmd/promptarena/chat_interactive.go
  tools/arena/engine/duplex_executor_pipeline_vad_test.go
  tools/arena/engine/duplex_interactive.go
  tools/arena/engine/duplex_interactive_vad_test.go
  tools/arena/engine/interfaces.go
  tools/arena/stages/tts_sentence_aggregator.go
  tools/arena/stages/tts_sentence_aggregator_test.go
  tools/arena/tui/app/app.go
  tools/arena/tui/app/app_lifecycle_test.go
  tools/arena/tui/app/chatpage.go
  tools/arena/tui/app/chatpage_voice.go
  tools/arena/tui/app/chatpage_voice_test.go
  tools/arena/tui/app/page.go
Due: runtime, arena

feat(deploy): resolve adapter latest version from GitHub, not a baked-in constant
  tools/arena/cmd/promptarena/deploy_adapter_interactive.go
  tools/arena/cmd/promptarena/deploy_adapter_test.go
Due: none

docs(deploy): add adapter-agnostic "Anatomy of a Deployment" explanation
  docs/src/content/docs/arena/explanation/deploy/anatomy.md
  docs/src/content/docs/arena/explanation/deploy/overview.md
Due: none

docs(deploy): add adapter-agnostic "Anatomy of a Deployment" explanation (#1487)
  docs/src/content/docs/arena/explanation/deploy/anatomy.md
  docs/src/content/docs/arena/explanation/deploy/overview.md
Due: none

feat(deploy): resolve adapter latest version from GitHub, not a baked-in constant (#1486)
  tools/arena/cmd/promptarena/deploy_adapter_interactive.go
  tools/arena/cmd/promptarena/deploy_adapter_test.go
Due: none

feat(deploy): add a Warnings channel to the deploy protocol
  runtime/deploy/adaptersdk/serve_test.go
  runtime/deploy/provider.go
  tools/arena/cmd/promptarena/deploy_config_interactive.go
  tools/arena/cmd/promptarena/deploy_interactive.go
Due: runtime

feat(deploy): add a Warnings channel to the deploy protocol (#1488)
  runtime/deploy/adaptersdk/serve_test.go
  runtime/deploy/provider.go
  tools/arena/cmd/promptarena/deploy_config_interactive.go
  tools/arena/cmd/promptarena/deploy_interactive.go
Due: runtime

ci: migrate CLA to in-repo contributor-assistant action
  .github/workflows/cla.yml
Due: none

ci: migrate CLA to in-repo contributor-assistant action (#1489)
  .github/workflows/cla.yml
Due: none

ci: pin CLA action to commit SHA (v2.6.1) for supply-chain safety
  .github/workflows/cla.yml
Due: none

docs(deploy): sync the new omnia explanation pages into arena docs
  docs/scripts/fetch-adapter-docs.mjs
Due: none

ci: pin CLA action to commit SHA (v2.6.1) for supply-chain safety (#1490)
  .github/workflows/cla.yml
Due: none

feat(deploy): generic browser login capability + `deploy login` command
  runtime/deploy/adaptersdk/serve.go
  runtime/deploy/adaptersdk/serve_test.go
  runtime/deploy/client.go
  runtime/deploy/client_test.go
  runtime/deploy/provider.go
  tools/arena/agentkb/reference/cli.md
  tools/arena/cmd/promptarena/deploy_credentials.go
  tools/arena/cmd/promptarena/deploy_credentials_test.go
  tools/arena/cmd/promptarena/deploy_interactive.go
  tools/arena/cmd/promptarena/deploy_login_interactive.go
  tools/arena/cmd/promptarena/deploy_login_interactive_test.go
  tools/arena/go.mod
  tools/arena/go.sum
Due: runtime, arena

docs(deploy): document deploy login + the Warnings protocol channel
  docs/src/content/docs/arena/reference/deploy/adapter-sdk.md
  docs/src/content/docs/arena/reference/deploy/cli-commands.md
  docs/src/content/docs/arena/reference/deploy/protocol.md
Due: none

docs(deploy): add a 'Log In' how-to for deploy login
  docs/src/content/docs/arena/explanation/deploy/overview.md
  docs/src/content/docs/arena/how-to/deploy/login.md
Due: none

feat(deploy): generic browser login capability + deploy login command (#1493)
  docs/src/content/docs/arena/explanation/deploy/overview.md
  docs/src/content/docs/arena/how-to/deploy/login.md
  docs/src/content/docs/arena/reference/deploy/adapter-sdk.md
  docs/src/content/docs/arena/reference/deploy/cli-commands.md
  docs/src/content/docs/arena/reference/deploy/protocol.md
  runtime/deploy/adaptersdk/serve.go
  runtime/deploy/adaptersdk/serve_test.go
  runtime/deploy/client.go
  runtime/deploy/client_test.go
  runtime/deploy/provider.go
  tools/arena/agentkb/reference/cli.md
  tools/arena/cmd/promptarena/deploy_credentials.go
  tools/arena/cmd/promptarena/deploy_credentials_test.go
  tools/arena/cmd/promptarena/deploy_interactive.go
  tools/arena/cmd/promptarena/deploy_login_interactive.go
  tools/arena/cmd/promptarena/deploy_login_interactive_test.go
  tools/arena/go.mod
  tools/arena/go.sum
Due: runtime, arena

feat(deploy): surface plan warnings on apply
  tools/arena/cmd/promptarena/deploy_apply_interactive.go
  tools/arena/cmd/promptarena/deploy_apply_interactive_test.go
Due: none

feat(deploy): surface plan warnings on apply (#1494)
  tools/arena/cmd/promptarena/deploy_apply_interactive.go
  tools/arena/cmd/promptarena/deploy_apply_interactive_test.go
Due: none

docs(deploy): publish the omnia deploy-login how-to
  docs/scripts/fetch-adapter-docs.mjs
Due: none

docs(deploy): publish the omnia deploy-login how-to (#1495)
  docs/scripts/fetch-adapter-docs.mjs
Due: none

fix(docs): scope adapter section links + publish omnia explanation pages
  docs/scripts/fetch-adapter-docs.mjs
Due: none

fix(docs): scope adapter section links + publish omnia explanation pages (#1496)
  docs/scripts/fetch-adapter-docs.mjs
Due: none

Path conditions:
  runtime: any of: runtime/, but not: **/*_test.go, **/*_interactive.go, **/*_integration.go, examples/, docs/, scripts/, .github/, *.md
  sdk: any of: sdk/, but not: **/*_test.go, **/*_interactive.go, **/*_integration.go, examples/, docs/, scripts/, .github/, *.md
  arena: any of: tools/arena/, but not: **/*_test.go, **/*_interactive.go, **/*_integration.go, examples/, docs/, scripts/, .github/, *.md
  packc: any of: tools/packc/, but not: **/*_test.go, **/*_interactive.go, **/*_integration.go, examples/, docs/, scripts/, .github/, *.md
  inspect-state: any of: tools/inspect-state/, but not: **/*_test.go, **/*_interactive.go, **/*_integration.go, examples/, docs/, scripts/, .github/, *.md
