Repository AltairaLabs/PromptKit: changes, and which Codecov flags are due for each by the changed paths.
All: runtime, sdk, arena, packc, inspect-state

codecov.yml:

codecov:
  require_ci_to_pass: yes
  notify:
    wait_for_ci: yes

coverage:
  precision: 2
  round: down
  range: "70...100"
  
  status:
    project:
      default:
        target: 70%
        threshold: 1%
        if_ci_failed: error
    patch:
      default:
        target: 70%
        threshold: 1%
        if_ci_failed: error

comment:
  layout: "reach,diff,flags,tree"
  behavior: default
  require_changes: false

flags:
  runtime:
    paths:
      - runtime/
  sdk:
    paths:
      - sdk/
  arena:
    paths:
      - tools/arena/
  packc:
    paths:
      - tools/packc/
  inspect-state:
    paths:
      - tools/inspect-state/

ignore:
  - "**/*_test.go"
  - "**/*_interactive.go"
  - "**/*_integration.go"
  - "examples/"
  - "docs/"
  - "scripts/"
  - ".github/"
  - "*.md"

feat(docs): port the /docs-review pipeline from Omnia
  .claude/skills/docs-review/SKILL.md
  .claude/skills/docs-review/prompts/classify.md
  .claude/skills/docs-review/prompts/extract.md
  .claude/skills/docs-review/prompts/review.md
  .claude/skills/docs-review/prompts/rewrite.md
  .claude/skills/docs-review/prompts/surface-diff.md
  .claude/skills/docs-review/prompts/verify.md
  .github/workflows/docs-checks.yml
  .github/workflows/docs-freshness.yml
  .github/workflows/docs.yml
  .gitignore
  CLAUDE.md
  Makefile
  docs/STYLE.md
  docs/check-mermaid.mjs
  docs/package-lock.json
  docs/package.json
  docs/src/content.config.ts
  scripts/check-docs-voice.sh
  scripts/check-docs-voice_test.sh
  scripts/docs-coverage-ignore.txt
  scripts/docs-coverage.py
  scripts/docs-coverage.sh
  scripts/docs-coverage_test.sh
  scripts/docs-provenance.py
  scripts/docs-provenance_test.sh
  scripts/docs-stale.py
  scripts/docs-stale.sh
  scripts/docs-stale_test.sh
  scripts/docs-surface.txt
  scripts/docs-voice-banned.txt
  scripts/docs-voice-enforced.txt
  scripts/lib/docs_freshness.py
Due: none

feat(docs): port the /docs-review pipeline from Omnia (#2116)
  .claude/skills/docs-review/SKILL.md
  .claude/skills/docs-review/prompts/classify.md
  .claude/skills/docs-review/prompts/extract.md
  .claude/skills/docs-review/prompts/review.md
  .claude/skills/docs-review/prompts/rewrite.md
  .claude/skills/docs-review/prompts/surface-diff.md
  .claude/skills/docs-review/prompts/verify.md
  .github/workflows/docs-checks.yml
  .github/workflows/docs-freshness.yml
  .github/workflows/docs.yml
  .gitignore
  CLAUDE.md
  Makefile
  docs/STYLE.md
  docs/check-mermaid.mjs
  docs/package-lock.json
  docs/package.json
  docs/src/content.config.ts
  scripts/check-docs-voice.sh
  scripts/check-docs-voice_test.sh
  scripts/docs-coverage-ignore.txt
  scripts/docs-coverage.py
  scripts/docs-coverage.sh
  scripts/docs-coverage_test.sh
  scripts/docs-provenance.py
  scripts/docs-provenance_test.sh
  scripts/docs-stale.py
  scripts/docs-stale.sh
  scripts/docs-stale_test.sh
  scripts/docs-surface.txt
  scripts/docs-voice-banned.txt
  scripts/docs-voice-enforced.txt
  scripts/lib/docs_freshness.py
Due: none

feat(docs): per-page exemptions for the docs voice check
  docs/STYLE.md
  scripts/check-docs-voice.sh
  scripts/check-docs-voice_test.sh
  scripts/docs-voice-exempt.txt
Due: none

docs(sdk): apply the docs voice rules to the SDK pages and upgrade notes
  docs/src/content/docs/reference/upgrade-notes.md
  docs/src/content/docs/sdk/explanation/hooks.md
  docs/src/content/docs/sdk/explanation/index.md
  docs/src/content/docs/sdk/explanation/observability.md
  docs/src/content/docs/sdk/explanation/runtime-config.md
  docs/src/content/docs/sdk/how-to/conversations/use-memory.md
  docs/src/content/docs/sdk/how-to/conversations/use-runtime-config.md
  docs/src/content/docs/sdk/how-to/multimodal/analyze-documents.md
  docs/src/content/docs/sdk/how-to/observability/monitor-events.md
  docs/src/content/docs/sdk/how-to/observability/run-evals.md
  docs/src/content/docs/sdk/how-to/providers/bring-your-own-classifier.md
  docs/src/content/docs/sdk/how-to/providers/declarative-embedding-providers.md
  docs/src/content/docs/sdk/how-to/providers/declarative-tts-stt-providers.md
  docs/src/content/docs/sdk/how-to/tools/override-capability-tools.md
  docs/src/content/docs/sdk/how-to/tools/register-tools.md
  docs/src/content/docs/sdk/index.md
  docs/src/content/docs/sdk/reference/exec-protocol.md
  docs/src/content/docs/sdk/reference/index.md
  docs/src/content/docs/sdk/reference/runtime-config.md
  docs/src/content/docs/sdk/tutorials/10-a2a-server.md
Due: none

docs: regenerate the reference pages with the go1.26.0 toolchain
  docs/src/content/docs/runtime/reference/memory.md
  docs/src/content/docs/runtime/reference/tools.md
  docs/src/content/docs/sdk/reference/conversation-manager.md
Due: none

docs(sdk): verify the RuntimeConfig explanation against the code
  docs/src/content/docs/sdk/explanation/runtime-config.md
Due: none

docs(sdk): verify the RuntimeConfig how-to against the code
  docs/src/content/docs/sdk/how-to/conversations/use-runtime-config.md
Due: none

docs(sdk): verify the RuntimeConfig reference against the code
  docs/src/content/docs/sdk/reference/runtime-config.md
Due: none

docs: record verification provenance for the docs-review pilot pages
  docs/provenance/sdk/explanation/runtime-config.json
  docs/provenance/sdk/how-to/conversations/use-runtime-config.json
  docs/provenance/sdk/reference/runtime-config.json
  docs/src/content/docs/sdk/explanation/runtime-config.md
  docs/src/content/docs/sdk/how-to/conversations/use-runtime-config.md
  docs/src/content/docs/sdk/reference/runtime-config.md
Due: none

docs(skill): encode the docs-review pilot lessons
  .claude/skills/docs-review/SKILL.md
  .claude/skills/docs-review/prompts/classify.md
  .claude/skills/docs-review/prompts/rewrite.md
Due: none

docs(sdk): second pass on the docs-review pilot pages from the batch review
  docs/src/content/docs/sdk/explanation/runtime-config.md
  docs/src/content/docs/sdk/how-to/conversations/use-runtime-config.md
  docs/src/content/docs/sdk/reference/runtime-config.md
Due: none

docs(sdk): third pass on the RuntimeConfig pilot pages
  docs/src/content/docs/sdk/explanation/runtime-config.md
  docs/src/content/docs/sdk/reference/runtime-config.md
Due: none

docs: /docs-review pilot on the RuntimeConfig pages (#2118)
  .claude/skills/docs-review/SKILL.md
  .claude/skills/docs-review/prompts/classify.md
  .claude/skills/docs-review/prompts/rewrite.md
  docs/provenance/sdk/explanation/runtime-config.json
  docs/provenance/sdk/how-to/conversations/use-runtime-config.json
  docs/provenance/sdk/reference/runtime-config.json
  docs/src/content/docs/sdk/explanation/runtime-config.md
  docs/src/content/docs/sdk/how-to/conversations/use-runtime-config.md
  docs/src/content/docs/sdk/reference/runtime-config.md
Due: none

fix(types): CloneMessage keeps MediaContent.StorageReference and PolicyName
  docs/src/content/docs/runtime/reference/types.md
  runtime/types/migration.go
  runtime/types/migration_test.go
Due: runtime

fix(tools): ServerExecutor survives canceled calls and restarts dead processes
  docs/src/content/docs/runtime/reference/tools.md
  runtime/tools/server_executor.go
  runtime/tools/server_executor_test.go
Due: runtime

fix(sdk): apply provider tuning fields from a RuntimeConfig
  docs/src/content/docs/runtime/reference/providers.md
  docs/src/content/docs/sdk/reference/runtime-config.md
  pkg/config/provider_tuning.go
  pkg/config/provider_tuning_test.go
  runtime/providers/base_provider.go
  runtime/providers/registry.go
  runtime/providers/registry_ratelimit_test.go
  sdk/go.mod
  sdk/runtime_config.go
  sdk/runtime_config_test.go
Due: runtime, sdk

fix(sdk): apply timeout_ms from a RuntimeConfig exec tool binding
  docs/src/content/docs/sdk/explanation/runtime-config.md
  docs/src/content/docs/sdk/reference/runtime-config.md
  sdk/exec_tools.go
  sdk/runtime_config_test.go
Due: sdk

fix(config): reject runtime: server on exec hook and eval bindings
  docs/src/content/docs/sdk/reference/runtime-config.md
  pkg/config/runtime_config.go
  pkg/config/runtime_config_test.go
Due: none

fix(sdk): reject source-backed MCP servers in a RuntimeConfig
  docs/src/content/docs/sdk/reference/runtime-config.md
  sdk/runtime_config.go
  sdk/runtime_config_test.go
Due: sdk

docs(config): correct stale doc comments on exec commands, retry window and MCP transport
  pkg/config/runtime_config.go
  pkg/config/types.go
  runtime/hooks/execconfig/execconfig.go
Due: runtime

docs(sdk): refresh the RuntimeConfig pages after the fixes
  docs/provenance/sdk/explanation/runtime-config.json
  docs/provenance/sdk/how-to/conversations/use-runtime-config.json
  docs/provenance/sdk/reference/runtime-config.json
  docs/src/content/docs/sdk/explanation/runtime-config.md
  docs/src/content/docs/sdk/how-to/conversations/use-runtime-config.md
  docs/src/content/docs/sdk/reference/runtime-config.md
Due: none

fix(config): deprecate provider rate_limit instead of wiring it
  docs/src/content/docs/runtime/reference/providers.md
  docs/src/content/docs/sdk/how-to/conversations/use-runtime-config.md
  docs/src/content/docs/sdk/reference/runtime-config.md
  pkg/config/provider_tuning.go
  pkg/config/provider_tuning_test.go
  pkg/config/types.go
  runtime/providers/base_provider.go
  runtime/providers/registry.go
  runtime/providers/registry_ratelimit_test.go
  sdk/go.mod
  sdk/runtime_config_test.go
Due: runtime, sdk

docs(sdk): roll the RuntimeConfig reference provenance forward
  docs/provenance/sdk/reference/runtime-config.json
  docs/src/content/docs/sdk/reference/runtime-config.md
Due: none

fix(config): leave provider rate_limit as it was, without a deprecation
  pkg/config/types.go
Due: none

fix: provider files honoured by the SDK, RuntimeConfig fails loudly, plus ServerExecutor and CloneMessage fixes (#2126)
  docs/provenance/sdk/explanation/runtime-config.json
  docs/provenance/sdk/how-to/conversations/use-runtime-config.json
  docs/provenance/sdk/reference/runtime-config.json
  docs/src/content/docs/runtime/reference/tools.md
  docs/src/content/docs/runtime/reference/types.md
  docs/src/content/docs/sdk/explanation/runtime-config.md
  docs/src/content/docs/sdk/how-to/conversations/use-runtime-config.md
  docs/src/content/docs/sdk/reference/runtime-config.md
  pkg/config/provider_tuning.go
  pkg/config/provider_tuning_test.go
  pkg/config/runtime_config.go
  pkg/config/runtime_config_test.go
  pkg/config/types.go
  runtime/hooks/execconfig/execconfig.go
  runtime/tools/server_executor.go
  runtime/tools/server_executor_test.go
  runtime/types/migration.go
  runtime/types/migration_test.go
  sdk/exec_tools.go
  sdk/runtime_config.go
  sdk/runtime_config_test.go
Due: runtime, sdk

feat: capability provider files honor headers, request_timeout and http_transport
  docs/src/content/docs/runtime/reference/providers.md
  docs/src/content/docs/runtime/reference/tts.md
  docs/src/content/docs/sdk/reference/conversation-manager.md
  docs/src/content/docs/sdk/reference/runtime-config.md
  pkg/config/provider_tuning.go
  pkg/config/provider_tuning_test.go
  runtime/inference/huggingface/tuning.go
  runtime/inference/huggingface/tuning_test.go
  runtime/inference/openai/register.go
  runtime/inference/openai/tuning.go
  runtime/inference/openai/tuning_test.go
  runtime/inference/systemone/tuning.go
  runtime/inference/systemone/tuning_test.go
  runtime/providers/base/factory.go
  runtime/providers/base/factory_test.go
  runtime/providers/base/http_tuning.go
  runtime/providers/base/http_tuning_test.go
  runtime/providers/base_embedding.go
  runtime/providers/base_provider.go
  runtime/providers/base_rerank.go
  runtime/providers/capability_tuning_test.go
  runtime/providers/embedding_factory.go
  runtime/providers/embedding_transport.go
  runtime/providers/registry.go
  runtime/providers/rerank_factory.go
  runtime/stt/http_tuning_test.go
  runtime/tts/cartesia.go
  runtime/tts/cartesia_interactive.go
  runtime/tts/http_tuning_test.go
  sdk/options.go
  sdk/provider_file.go
  sdk/provider_file_test.go
  sdk/runtime_config.go
  sdk/runtime_config_test.go
Due: runtime, sdk

docs: re-record RuntimeConfig page provenance after capability tuning
  docs/provenance/sdk/explanation/runtime-config.json
  docs/provenance/sdk/how-to/conversations/use-runtime-config.json
  docs/provenance/sdk/reference/runtime-config.json
  docs/src/content/docs/sdk/explanation/runtime-config.md
  docs/src/content/docs/sdk/how-to/conversations/use-runtime-config.md
  docs/src/content/docs/sdk/reference/runtime-config.md
Due: none

feat: capability provider files honor headers, request_timeout and http_transport (#2129)
  docs/provenance/sdk/explanation/runtime-config.json
  docs/provenance/sdk/how-to/conversations/use-runtime-config.json
  docs/provenance/sdk/reference/runtime-config.json
  docs/src/content/docs/runtime/reference/providers.md
  docs/src/content/docs/runtime/reference/tts.md
  docs/src/content/docs/sdk/explanation/runtime-config.md
  docs/src/content/docs/sdk/how-to/conversations/use-runtime-config.md
  docs/src/content/docs/sdk/reference/conversation-manager.md
  docs/src/content/docs/sdk/reference/runtime-config.md
  pkg/config/provider_tuning.go
  pkg/config/provider_tuning_test.go
  runtime/inference/huggingface/tuning.go
  runtime/inference/huggingface/tuning_test.go
  runtime/inference/openai/register.go
  runtime/inference/openai/tuning.go
  runtime/inference/openai/tuning_test.go
  runtime/inference/systemone/tuning.go
  runtime/inference/systemone/tuning_test.go
  runtime/providers/base/factory.go
  runtime/providers/base/factory_test.go
  runtime/providers/base/http_tuning.go
  runtime/providers/base/http_tuning_test.go
  runtime/providers/base_embedding.go
  runtime/providers/base_provider.go
  runtime/providers/base_rerank.go
  runtime/providers/capability_tuning_test.go
  runtime/providers/embedding_factory.go
  runtime/providers/embedding_transport.go
  runtime/providers/registry.go
  runtime/providers/rerank_factory.go
  runtime/stt/http_tuning_test.go
  runtime/tts/cartesia.go
  runtime/tts/cartesia_interactive.go
  runtime/tts/http_tuning_test.go
  sdk/options.go
  sdk/provider_file.go
  sdk/provider_file_test.go
  sdk/runtime_config.go
  sdk/runtime_config_test.go
Due: runtime, sdk

test(mcp): add an interop matrix against real SDK-built servers
  CLAUDE.md
  Makefile
  go.work
  tools/mcp-interop/.gitignore
  tools/mcp-interop/README.md
  tools/mcp-interop/go.mod
  tools/mcp-interop/go.sum
  tools/mcp-interop/goserver/main.go
  tools/mcp-interop/probe/main.go
  tools/mcp-interop/run.sh
  tools/mcp-interop/servers/python_server.py
  tools/mcp-interop/servers/silent_stdio.py
Due: none

chore(pkg): tidy go.mod for the runtime deps added on main
  pkg/go.mod
  pkg/go.sum
Due: none

feat(mcp): follow tool list changes and restart timeouts on progress
  docs/src/content/docs/runtime/how-to/tools/integrate-mcp.md
  docs/src/content/docs/runtime/reference/mcp.md
  docs/src/content/docs/sdk/reference/conversation-manager.md
  runtime/mcp/client.go
  runtime/mcp/notifications_test.go
  runtime/mcp/options.go
  runtime/mcp/registry.go
  runtime/mcp/spec_parity_test.go
  sdk/conversation.go
  sdk/conversation_tools.go
  sdk/go.mod
  sdk/mcp_tool_sync.go
  sdk/mcp_tool_sync_test.go
  sdk/sdk.go
  tools/mcp-interop/README.md
Due: runtime, sdk

feat(mcp): follow tool list changes and restart timeouts on progress (#2142)
  docs/src/content/docs/runtime/how-to/tools/integrate-mcp.md
  docs/src/content/docs/runtime/reference/mcp.md
  docs/src/content/docs/sdk/reference/conversation-manager.md
  runtime/mcp/client.go
  runtime/mcp/notifications_test.go
  runtime/mcp/options.go
  runtime/mcp/registry.go
  runtime/mcp/spec_parity_test.go
  sdk/conversation.go
  sdk/conversation_tools.go
  sdk/go.mod
  sdk/mcp_tool_sync.go
  sdk/mcp_tool_sync_test.go
  sdk/sdk.go
  tools/mcp-interop/README.md
Due: runtime, sdk

fix(mcp): retry servers whose tools could not be listed instead of hiding them
  docs/src/content/docs/runtime/how-to/tools/integrate-mcp.md
  docs/src/content/docs/runtime/reference/mcp.md
  docs/src/content/docs/sdk/reference/conversation-manager.md
  runtime/mcp/registry.go
  sdk/conversation.go
  sdk/conversation_tools.go
  sdk/mcp_test.go
  sdk/mcp_tool_sync.go
  sdk/mcp_tool_sync_test.go
  sdk/sdk.go
Due: runtime, sdk

fix(mcp): retry servers whose tools could not be listed instead of hiding them (#2143)
  docs/src/content/docs/runtime/how-to/tools/integrate-mcp.md
  docs/src/content/docs/runtime/reference/mcp.md
  docs/src/content/docs/sdk/reference/conversation-manager.md
  runtime/mcp/registry.go
  sdk/conversation.go
  sdk/conversation_tools.go
  sdk/mcp_test.go
  sdk/mcp_tool_sync.go
  sdk/mcp_tool_sync_test.go
  sdk/sdk.go
Due: runtime, sdk

fix: honor provider defaults for max_tokens/temperature; send no limit by default
  docs/src/content/docs/architecture/runtime-providers.md
  docs/src/content/docs/concepts/providers.md
  docs/src/content/docs/reference/upgrade-notes.md
  docs/src/content/docs/runtime/explanation/provider-system.md
  docs/src/content/docs/runtime/how-to/providers/setup-providers.md
  docs/src/content/docs/runtime/reference/providers.md
  docs/src/content/docs/sdk/reference/conversation-manager.md
  docs/src/content/docs/sdk/reference/runtime-config.md
  runtime/providers/claude/claude.go
  runtime/providers/claude/claude_tools.go
  runtime/providers/claude/max_tokens_test.go
  runtime/providers/gemini/gemini.go
  runtime/providers/gemini/gemini_multimodal.go
  runtime/providers/gemini/gemini_thinking.go
  runtime/providers/gemini/gemini_tools.go
  runtime/providers/gemini/max_tokens_test.go
  runtime/providers/max_tokens_test.go
  runtime/providers/ollama/max_tokens_test.go
  runtime/providers/ollama/ollama.go
  runtime/providers/ollama/ollama_tools.go
  runtime/providers/openai/max_tokens_test.go
  runtime/providers/openai/openai.go
  runtime/providers/provider.go
  runtime/providers/vllm/max_tokens_test.go
  runtime/providers/vllm/vllm.go
  runtime/providers/vllm/vllm_tools.go
  sdk/conversation.go
  sdk/internal/provider/detect.go
  sdk/internal/provider/detect_test.go
  sdk/provider_defaults_test.go
  sdk/sdk.go
Due: runtime, sdk
