Repository AltairaLabs/PromptKit: changes, and which Codecov flags are due for each by the changed paths.
All: runtime, sdk, arena, packc, inspect-state

refactor: structured provider errors with arena transient skip (#923)
  runtime/providers/base_embedding.go
  runtime/providers/base_provider.go
  runtime/providers/claude/claude.go
  runtime/providers/claude/claude_test.go
  runtime/providers/claude/claude_tools.go
  runtime/providers/errors.go
  runtime/providers/errors_test.go
  runtime/providers/gemini/gemini.go
  runtime/providers/gemini/gemini_multimodal.go
  runtime/providers/gemini/gemini_multimodal_test.go
  runtime/providers/gemini/gemini_test.go
  runtime/providers/gemini/gemini_tools.go
  runtime/providers/ollama/ollama.go
  runtime/providers/ollama/ollama_tools.go
  runtime/providers/openai/openai.go
  runtime/providers/openai/openai_responses_integration.go
  runtime/providers/openai/openai_tools.go
  runtime/providers/stream_retry.go
  runtime/providers/stream_retry_driver.go
  runtime/providers/streaming_mock_test.go
  runtime/providers/vllm/vllm_tools.go
  tools/arena/engine/conversation_executor.go
  tools/arena/engine/conversation_executor_test.go
  tools/arena/engine/execution.go
  tools/arena/engine/interfaces.go
  tools/arena/engine/types.go
  tools/arena/results/junit/junit_repository.go
  tools/arena/statestore/metadata.go
  tools/arena/statestore/store.go
Due: runtime, arena

fix(openai): read audio output modalities from additional_config instead of auto-inferring
  runtime/providers/openai/openai.go
  runtime/providers/openai/openai_test.go
  runtime/providers/openai/openai_tools.go
  runtime/providers/openai/openai_tools_test.go
Due: runtime

test(openai): add unit tests for audio config helpers
  runtime/providers/openai/openai_test.go
Due: none

test(openai): cover nil-modalities fallback path in predict and stream
  runtime/providers/openai/openai_test.go
Due: none

refactor(openai): extract applyAudioModalities to reduce duplication
  runtime/providers/openai/openai.go
  runtime/providers/openai/openai_test.go
  runtime/providers/openai/openai_tools.go
Due: runtime

refactor(openai): merge getAudioVoice and getAudioOutputFormat into getStringConfigOrDefault
  runtime/providers/openai/openai.go
  runtime/providers/openai/openai_test.go
Due: runtime

refactor(openai): extract enrichRequest to eliminate predict/stream duplication
  runtime/providers/openai/openai.go
Due: runtime

fix(openai): config-driven audio output modalities instead of auto-inference (#924)
  runtime/providers/openai/openai.go
  runtime/providers/openai/openai_test.go
  runtime/providers/openai/openai_tools.go
  runtime/providers/openai/openai_tools_test.go
Due: runtime

feat(openai): parse audio data and transcript from completions responses
  runtime/providers/openai/openai.go
  runtime/providers/openai/openai_multimodal.go
  runtime/providers/openai/openai_multimodal_test.go
  runtime/providers/openai/openai_test.go
  runtime/providers/openai/openai_tools.go
  runtime/providers/openai/openai_tools_test.go
Due: runtime

feat(openai): handle audio streaming events in Responses API
  runtime/providers/openai/openai_responses_integration.go
  runtime/providers/openai/openai_responses_integration_test.go
Due: none

feat(openai): enable audio capabilities for Responses API mode
  runtime/providers/openai/openai_multimodal.go
  runtime/providers/openai/openai_multimodal_test.go
Due: runtime

feat(openai): parse audio responses in Completions and Responses APIs (#925)
  runtime/providers/openai/openai.go
  runtime/providers/openai/openai_multimodal.go
  runtime/providers/openai/openai_multimodal_test.go
  runtime/providers/openai/openai_responses_integration.go
  runtime/providers/openai/openai_responses_integration_test.go
  runtime/providers/openai/openai_test.go
  runtime/providers/openai/openai_tools.go
  runtime/providers/openai/openai_tools_test.go
Due: runtime

feat(openai): add audio integration tests and disable streaming for audio models
  runtime/providers/openai/openai.go
  runtime/providers/openai/openai_contract_test.go
  runtime/providers/openai/openai_test.go
Due: runtime

fix(openai): add audio model comparison test, drop mini-audio from capability matrix
  examples/capability-matrix/config.arena.yaml
  runtime/providers/openai/openai_contract_test.go
Due: none

feat(openai): audio integration tests and non-streaming fallback (#926)
  examples/capability-matrix/config.arena.yaml
  runtime/providers/openai/openai.go
  runtime/providers/openai/openai_contract_test.go
  runtime/providers/openai/openai_test.go
Due: runtime

fix(arena): use WAV audio sample in capability matrix to avoid ffmpeg dependency
  examples/capability-matrix/scenarios/audio.scenario.yaml
Due: none

fix(arena): remove redundant CAPABILITY_PASS assertion from tools scenarios
  examples/capability-matrix/scenarios/streaming-tools-vision.scenario.yaml
  examples/capability-matrix/scenarios/streaming-tools.scenario.yaml
  examples/capability-matrix/scenarios/tools-vision.scenario.yaml
  examples/capability-matrix/scenarios/tools.scenario.yaml
Due: none

fix: enable stream retry for ToolProvider across all providers
  runtime/providers/claude/claude_tools.go
  runtime/providers/claude/claude_tools_test.go
  runtime/providers/gemini/gemini_tools.go
  runtime/providers/gemini/gemini_tools_test.go
  runtime/providers/ollama/ollama_tools.go
  runtime/providers/ollama/ollama_tools_test.go
  runtime/providers/openai/openai_tools.go
  runtime/providers/openai/openai_tools_test.go
Due: runtime

fix(arena): use WAV audio in capability matrix, remove ffmpeg dependency (#927)
  examples/capability-matrix/scenarios/audio.scenario.yaml
  examples/capability-matrix/scenarios/streaming-tools-vision.scenario.yaml
  examples/capability-matrix/scenarios/streaming-tools.scenario.yaml
  examples/capability-matrix/scenarios/tools-vision.scenario.yaml
  examples/capability-matrix/scenarios/tools.scenario.yaml
Due: none

chore: add ollama_tools.go to SonarCloud CPD exclusions
  sonar-project.properties
Due: none

fix: enable stream retry for ToolProvider across all providers (#928)
  runtime/providers/claude/claude_tools.go
  runtime/providers/claude/claude_tools_test.go
  runtime/providers/gemini/gemini_tools.go
  runtime/providers/gemini/gemini_tools_test.go
  runtime/providers/ollama/ollama_tools.go
  runtime/providers/ollama/ollama_tools_test.go
  runtime/providers/openai/openai_tools.go
  runtime/providers/openai/openai_tools_test.go
  sonar-project.properties
Due: runtime

feat(providers): add custom HTTP headers support to provider config
  pkg/config/types.go
  runtime/providers/base_provider.go
  runtime/providers/base_provider_headers_test.go
  runtime/providers/registry.go
Due: runtime

feat(arena,sdk): plumb Headers field through config-to-spec mappers
  sdk/runtime_config.go
  tools/arena/engine/conversation_executor.go
Due: sdk, arena

feat(openai): apply custom headers to all request paths
  runtime/providers/openai/custom_headers_test.go
  runtime/providers/openai/openai.go
  runtime/providers/openai/openai_tools.go
Due: runtime

feat(claude): apply custom headers to all request paths
  runtime/providers/claude/claude.go
  runtime/providers/claude/claude_streaming.go
  runtime/providers/claude/claude_tools.go
  runtime/providers/claude/custom_headers_test.go
Due: runtime

feat(gemini): apply custom headers to all request paths
  runtime/providers/gemini/custom_headers_test.go
  runtime/providers/gemini/gemini.go
  runtime/providers/gemini/gemini_tools.go
Due: runtime

feat(ollama,vllm): apply custom headers to all request paths
  runtime/providers/ollama/custom_headers_test.go
  runtime/providers/ollama/ollama.go
  runtime/providers/ollama/ollama_tools.go
  runtime/providers/openai/openai.go
  runtime/providers/openai/openai_tools.go
  runtime/providers/vllm/custom_headers_test.go
  runtime/providers/vllm/vllm.go
  runtime/providers/vllm/vllm_tools.go
Due: runtime

chore: regenerate JSON schemas with headers field
  schemas/v1alpha1/arena.json
  schemas/v1alpha1/provider.json
  schemas/v1alpha1/runtime-config.json
Due: none

test(openai): add OpenRouter integration test for custom headers
  .env.example
  runtime/providers/openai/openrouter_integration_test.go
Due: none

docs(arena): document custom provider headers and gateway usage
  docs/src/content/docs/arena/how-to/configure-providers.md
  docs/src/content/docs/arena/reference/config-schema.md
Due: none

refactor(providers): address SonarCloud quality gate findings
  runtime/providers/base_provider.go
  runtime/providers/claude/claude.go
  runtime/providers/claude/claude_streaming.go
  runtime/providers/claude/claude_tools.go
  runtime/providers/claude/custom_headers_streaming_test.go
  runtime/providers/gemini/custom_headers_streaming_test.go
  runtime/providers/gemini/gemini.go
  runtime/providers/gemini/gemini_tools.go
  runtime/providers/ollama/custom_headers_streaming_test.go
  runtime/providers/ollama/ollama.go
  runtime/providers/ollama/ollama_tools.go
  runtime/providers/openai/custom_headers_streaming_test.go
  runtime/providers/openai/openai.go
  runtime/providers/openai/openai_tools.go
  runtime/providers/registry.go
  runtime/providers/vllm/custom_headers_streaming_test.go
  runtime/providers/vllm/vllm.go
  runtime/providers/vllm/vllm_tools.go
Due: runtime

fix(sdk): return a copy from testEvalHandler.Eval to avoid shared pointer race
  sdk/eval_integration_test.go
Due: none

feat(providers): custom HTTP headers for OpenAI-compatible gateways (#930)
  .env.example
  docs/src/content/docs/arena/how-to/configure-providers.md
  docs/src/content/docs/arena/reference/config-schema.md
  pkg/config/types.go
  runtime/providers/base_provider.go
  runtime/providers/base_provider_headers_test.go
  runtime/providers/claude/claude.go
  runtime/providers/claude/claude_streaming.go
  runtime/providers/claude/claude_tools.go
  runtime/providers/claude/custom_headers_streaming_test.go
  runtime/providers/claude/custom_headers_test.go
  runtime/providers/gemini/custom_headers_streaming_test.go
  runtime/providers/gemini/custom_headers_test.go
  runtime/providers/gemini/gemini.go
  runtime/providers/gemini/gemini_tools.go
  runtime/providers/ollama/custom_headers_streaming_test.go
  runtime/providers/ollama/custom_headers_test.go
  runtime/providers/ollama/ollama.go
  runtime/providers/ollama/ollama_tools.go
  runtime/providers/openai/custom_headers_streaming_test.go
  runtime/providers/openai/custom_headers_test.go
  runtime/providers/openai/openai.go
  runtime/providers/openai/openai_tools.go
  runtime/providers/openai/openrouter_integration_test.go
  runtime/providers/registry.go
  runtime/providers/vllm/custom_headers_streaming_test.go
  runtime/providers/vllm/custom_headers_test.go
  runtime/providers/vllm/vllm.go
  runtime/providers/vllm/vllm_tools.go
  schemas/v1alpha1/arena.json
  schemas/v1alpha1/provider.json
  schemas/v1alpha1/runtime-config.json
  sdk/eval_integration_test.go
  sdk/runtime_config.go
  tools/arena/engine/conversation_executor.go
Due: runtime, sdk, arena

ci(docs): wire check-links into docs workflow
  .github/workflows/docs.yml
  docs/check-links.js
  docs/src/content/docs/devops/packc-action.md
  runtime/prompt/registry.go
  sdk/sdk.go
Due: runtime, sdk

fix(docs): strip ANSI escapes when detecting astro preview ready line
  docs/check-links.js
Due: none

fix(docs): rewrite example README links during copy and fix link check
  docs/check-links.js
  scripts/prepare-examples-docs.sh
  scripts/rewrite-example-links.mjs
Due: none

ci(docs): wire check-links into docs workflow (#931)
  .github/workflows/docs.yml
  docs/check-links.js
  docs/src/content/docs/devops/packc-action.md
  runtime/prompt/registry.go
  scripts/prepare-examples-docs.sh
  scripts/rewrite-example-links.mjs
  sdk/sdk.go
Due: runtime, sdk

fix(providers): thread custom headers through MakeRawRequest + restore Ollama retry
  runtime/providers/base_provider.go
  runtime/providers/base_provider_headers_test.go
  runtime/providers/ollama/ollama_tools.go
Due: runtime

refactor(providers): inline custom header merge in MakeRawRequest
  runtime/providers/base_provider.go
  runtime/providers/base_provider_headers_test.go
Due: runtime

fix(providers): thread custom headers through MakeRawRequest + restore Ollama retry (#932)
  runtime/providers/base_provider.go
  runtime/providers/base_provider_headers_test.go
  runtime/providers/ollama/ollama_tools.go
Due: runtime

Path conditions:
  runtime: any of: runtime/, but not: **/*_test.go, **/*_interactive.go, **/*_integration.go, examples/, docs/, scripts/, .github/, *.md
  sdk: any of: sdk/, but not: **/*_test.go, **/*_interactive.go, **/*_integration.go, examples/, docs/, scripts/, .github/, *.md
  arena: any of: tools/arena/, but not: **/*_test.go, **/*_interactive.go, **/*_integration.go, examples/, docs/, scripts/, .github/, *.md
  packc: any of: tools/packc/, but not: **/*_test.go, **/*_interactive.go, **/*_integration.go, examples/, docs/, scripts/, .github/, *.md
  inspect-state: any of: tools/inspect-state/, but not: **/*_test.go, **/*_interactive.go, **/*_integration.go, examples/, docs/, scripts/, .github/, *.md
