Repository AltairaLabs/PromptKit: changes, and which Codecov flags are due for each by the changed paths.
All: runtime, sdk, arena, packc, inspect-state

test(sdk): drop an unfalsifiable idle-timeout assertion
  sdk/options_idle_timeout_test.go
Due: none

test(sdk): cover the slow-tool idle timeout end to end
  sdk/integration/slow_tool_idle_timeout_test.go
Due: none

test(sdk): live coverage for the slow-tool idle timeout
  sdk/slow_tool_live_integration_test.go
Due: none

fix(pipeline): keep the idle timer alive while tools are running
  docs/src/content/docs/runtime/how-to/pipeline/configure-pipeline.md
  docs/src/content/docs/runtime/reference/pipeline.md
  docs/src/content/docs/sdk/reference/conversation-manager.md
  runtime/pipeline/stage/config.go
  runtime/pipeline/stage/duplex_burst_test.go
  runtime/pipeline/stage/idle_timeout.go
  runtime/pipeline/stage/idle_timeout_test.go
  runtime/pipeline/stage/idle_tool_execution_test.go
  runtime/pipeline/stage/pipeline.go
  runtime/pipeline/stage/pipeline_internal_test.go
  runtime/pipeline/stage/stages_provider.go
  runtime/pipeline/stage/stages_provider_test.go
  sdk/conversation.go
  sdk/internal/pipeline/builder.go
  sdk/internal/pipeline/builder_idle_timeout_test.go
  sdk/options.go
  sdk/options_idle_timeout_test.go
  sdk/options_test.go
Due: runtime, sdk

test(sdk): live A2A tool-governance end to end (#2023)
  sdk/a2a_governance_live_integration_test.go
Due: none

test(pipeline): stop racing the heartbeat's last tick
  runtime/pipeline/stage/idle_tool_execution_test.go
Due: none

fix(pipeline): keep the idle timer alive while tools are running (#2021)
  docs/src/content/docs/runtime/how-to/pipeline/configure-pipeline.md
  docs/src/content/docs/runtime/reference/pipeline.md
  docs/src/content/docs/sdk/reference/conversation-manager.md
  runtime/pipeline/stage/config.go
  runtime/pipeline/stage/duplex_burst_test.go
  runtime/pipeline/stage/idle_timeout.go
  runtime/pipeline/stage/idle_timeout_test.go
  runtime/pipeline/stage/idle_tool_execution_test.go
  runtime/pipeline/stage/pipeline.go
  runtime/pipeline/stage/pipeline_internal_test.go
  runtime/pipeline/stage/stages_provider.go
  runtime/pipeline/stage/stages_provider_test.go
  sdk/conversation.go
  sdk/integration/slow_tool_idle_timeout_test.go
  sdk/internal/pipeline/builder.go
  sdk/internal/pipeline/builder_idle_timeout_test.go
  sdk/options.go
  sdk/options_idle_timeout_test.go
  sdk/options_test.go
  sdk/slow_tool_live_integration_test.go
Due: runtime, sdk

fix(pipeline): keep ProviderStage comparable
  docs/src/content/docs/runtime/reference/pipeline.md
  runtime/pipeline/stage/provider_stage_comparable_test.go
  runtime/pipeline/stage/stages_provider.go
Due: runtime

fix(pipeline): keep ProviderStage comparable (#2024)
  docs/src/content/docs/runtime/reference/pipeline.md
  runtime/pipeline/stage/provider_stage_comparable_test.go
  runtime/pipeline/stage/stages_provider.go
Due: runtime

fix(providers,sdk): complete the provider-type enum and reject duplicate IDs
  docs/src/content/docs/sdk/reference/conversation-manager.md
  runtime/providers/base/types.go
  runtime/providers/base/types_enumeration_test.go
  sdk/options.go
  sdk/options_provider_duplicate_id_test.go
Due: runtime, sdk

fix(providers,sdk): complete the provider-type enum and reject duplicate IDs (#2025)
  docs/src/content/docs/sdk/reference/conversation-manager.md
  runtime/providers/base/types.go
  runtime/providers/base/types_enumeration_test.go
  sdk/options.go
  sdk/options_provider_duplicate_id_test.go
Due: runtime, sdk

fix(guardrails,sdk): give judge-backed checks the judge the pack asked for
  docs/src/content/docs/sdk/how-to/observability/run-evals.md
  docs/src/content/docs/sdk/reference/conversation-manager.md
  runtime/evals/handlers/judge_provider.go
  runtime/evals/handlers/judge_required.go
  runtime/evals/handlers/judge_required_test.go
  runtime/evals/handlers/llm_judge.go
  runtime/hooks/guardrails/adapter.go
  runtime/hooks/guardrails/factory.go
  runtime/hooks/guardrails/judge_wiring_test.go
  sdk/eval_middleware.go
  sdk/integration/judge_guardrail_test.go
  sdk/judge.go
  sdk/judge_test.go
  sdk/options.go
  sdk/requires.go
  sdk/sdk.go
Due: runtime, sdk

test(guardrails,sdk): make the judge-wiring assertions falsifiable
  runtime/evals/handlers/judge_provider.go
  runtime/hooks/guardrails/judge_wiring_test.go
  sdk/integration/judge_guardrail_test.go
  sdk/judge_test.go
Due: runtime

fix(guardrails,sdk): give judge-backed checks the judge the pack asked for (#2026)
  docs/src/content/docs/sdk/how-to/observability/run-evals.md
  docs/src/content/docs/sdk/reference/conversation-manager.md
  runtime/evals/handlers/judge_provider.go
  runtime/evals/handlers/judge_required.go
  runtime/evals/handlers/judge_required_test.go
  runtime/evals/handlers/llm_judge.go
  runtime/hooks/guardrails/adapter.go
  runtime/hooks/guardrails/factory.go
  runtime/hooks/guardrails/judge_wiring_test.go
  sdk/eval_middleware.go
  sdk/integration/judge_guardrail_test.go
  sdk/judge.go
  sdk/judge_test.go
  sdk/options.go
  sdk/requires.go
  sdk/sdk.go
Due: runtime, sdk

test: make the provider-binding assertions falsifiable
  runtime/evals/binding_test.go
  runtime/evals/handlers/provider_binding_test.go
  sdk/binding_test.go
  sdk/integration/provider_binding_test.go
Due: none

fix(evals,sdk): close the remaining provider-binding gaps, and cover every path
  docs/src/content/docs/sdk/reference/conversation-manager.md
  runtime/evals/handlers/audio_emotion.go
  runtime/evals/handlers/classify_handler_base.go
  runtime/evals/handlers/image_moderation.go
  runtime/evals/handlers/provider_binding.go
  runtime/evals/handlers/text_classify_helpers.go
  sdk/evaluate.go
  sdk/evaluate_binding.go
  sdk/evaluate_binding_test.go
  sdk/integration/judge_guardrail_test.go
  sdk/integration/provider_binding_paths_test.go
  sdk/options.go
Due: runtime, sdk

test(sdk): make the offline-binding assertions falsifiable
  sdk/evaluate_binding_test.go
Due: none

fix(sdk): stop captureLogs racing the global logger
  sdk/eval_middleware_test.go
Due: none

fix(sdk): stop captureLogs racing the global logger (#2030)
  sdk/eval_middleware_test.go
Due: none

chore: stop the runtime inventing pack vocabulary, and write down why
  docs/src/content/docs/reference/upgrade-notes.md
  runtime/CLAUDE.md
  runtime/evals/handlers/pack_vocabulary_test.go
Due: runtime

chore: stop the runtime inventing pack vocabulary, and write down why (#2028)
  docs/src/content/docs/reference/upgrade-notes.md
  runtime/CLAUDE.md
  runtime/evals/handlers/pack_vocabulary_test.go
Due: runtime

fix(a2a): store the artifacts a streamed turn produced
  server/a2a/server_stream.go
  server/a2a/stream_artifacts_test.go
Due: none

fix(a2a): store the artifacts a streamed turn produced (#2033)
  server/a2a/server_stream.go
  server/a2a/stream_artifacts_test.go
Due: none

feat(a2a): add a stateless mode so an embedder can own conversations
  docs/src/content/docs/sdk/how-to/interop/choose-a2a-server-mode.md
  docs/src/content/docs/sdk/reference/a2a-server.md
  docs/src/content/docs/sdk/tutorials/10-a2a-server.md
  server/a2a/conversation.go
  server/a2a/handler.go
  server/a2a/handler_send.go
  server/a2a/handler_test.go
  server/a2a/server.go
  server/a2a/server_stream.go
Due: none

refactor(a2a): share the turn machinery instead of copying it
  server/a2a/handler_send.go
  server/a2a/server.go
  server/a2a/server_stream.go
Due: none

feat(a2a): add a stateless mode so an embedder can own conversations (#2034)
  docs/src/content/docs/sdk/how-to/interop/choose-a2a-server-mode.md
  docs/src/content/docs/sdk/reference/a2a-server.md
  docs/src/content/docs/sdk/tutorials/10-a2a-server.md
  server/a2a/conversation.go
  server/a2a/handler.go
  server/a2a/handler_send.go
  server/a2a/handler_test.go
  server/a2a/server.go
  server/a2a/server_stream.go
Due: none

fix(pipeline): stamp tools_offered on the streaming path too
  docs/src/content/docs/runtime/reference/pipeline.md
  runtime/pipeline/stage/stages_provider.go
  runtime/pipeline/stage/stages_provider_tools_offered_test.go
Due: runtime

fix(pipeline): stamp tools_offered on the streaming path too (#2036)
  docs/src/content/docs/runtime/reference/pipeline.md
  runtime/pipeline/stage/stages_provider.go
  runtime/pipeline/stage/stages_provider_tools_offered_test.go
Due: runtime

fix(evals,pipeline): tools_offered answers for the turn, not the session
  docs/src/content/docs/reference/upgrade-notes.md
  docs/src/content/docs/runtime/reference/evals.md
  docs/src/content/docs/runtime/reference/pipeline.md
  runtime/evals/context.go
  runtime/evals/tools_offered_context_test.go
  runtime/pipeline/stage/stages_provider.go
  runtime/pipeline/stage/stages_provider_tools_offered_test.go
Due: runtime

test(evals): make the mid-turn case discriminate, not just assert nil
  runtime/evals/tools_offered_context_test.go
Due: none

chore: run the weak-assertion guard at commit time, not just in CI
  CLAUDE.md
  scripts/pre-commit.sh
Due: none

fix(evals,pipeline): tools_offered answers for the turn, not the session (#2038)
  docs/src/content/docs/reference/upgrade-notes.md
  docs/src/content/docs/runtime/reference/evals.md
  docs/src/content/docs/runtime/reference/pipeline.md
  runtime/evals/context.go
  runtime/evals/tools_offered_context_test.go
  runtime/pipeline/stage/stages_provider.go
  runtime/pipeline/stage/stages_provider_tools_offered_test.go
Due: runtime

chore(deps): bump nine Go dependencies across runtime and sdk
  pkg/go.mod
  pkg/go.sum
  runtime/go.mod
  runtime/go.sum
  sdk/go.mod
  sdk/go.sum
  server/a2a/go.mod
  server/a2a/go.sum
Due: runtime, sdk

chore(deps): bump five docs dependencies, including @astrojs/mdx to 8
  docs/package-lock.json
  docs/package.json
Due: none

chore: run the weak-assertion guard at commit time, not just in CI (#2039)
  CLAUDE.md
  scripts/pre-commit.sh
Due: none

chore(schema): refresh the sync — promptarena moved again since September
  schemas/v1alpha1/arena.json
  schemas/v1alpha1/common/assertions.json
  schemas/v1alpha1/eval.json
  schemas/v1alpha1/scenario.json
Due: none

chore(deps): bump nine Go dependencies across runtime and sdk (#2040)
  pkg/go.mod
  pkg/go.sum
  runtime/go.mod
  runtime/go.sum
  sdk/go.mod
  sdk/go.sum
  server/a2a/go.mod
  server/a2a/go.sum
Due: runtime, sdk

chore(deps): bump five docs dependencies, including @astrojs/mdx to 8 (#2041)
  docs/package-lock.json
  docs/package.json
Due: none

Path conditions:
  runtime: any of: runtime/, but not: **/*_test.go, **/*_interactive.go, **/*_integration.go, examples/, docs/, scripts/, .github/, *.md
  sdk: any of: sdk/, but not: **/*_test.go, **/*_interactive.go, **/*_integration.go, examples/, docs/, scripts/, .github/, *.md
  arena: any of: tools/arena/, but not: **/*_test.go, **/*_interactive.go, **/*_integration.go, examples/, docs/, scripts/, .github/, *.md
  packc: any of: tools/packc/, but not: **/*_test.go, **/*_interactive.go, **/*_integration.go, examples/, docs/, scripts/, .github/, *.md
  inspect-state: any of: tools/inspect-state/, but not: **/*_test.go, **/*_interactive.go, **/*_integration.go, examples/, docs/, scripts/, .github/, *.md
