Repository AltairaLabs/PromptKit: changes, and which Codecov flags are due for each by the changed paths.
All: runtime, sdk, arena, packc, inspect-state

codecov.yml:

codecov:
  require_ci_to_pass: yes
  notify:
    wait_for_ci: yes

coverage:
  precision: 2
  round: down
  range: "70...100"
  
  status:
    project:
      default:
        target: 70%
        threshold: 1%
        if_ci_failed: error
    patch:
      default:
        target: 70%
        threshold: 1%
        if_ci_failed: error

comment:
  layout: "reach,diff,flags,tree"
  behavior: default
  require_changes: false

flags:
  runtime:
    paths:
      - runtime/
  sdk:
    paths:
      - sdk/
  arena:
    paths:
      - tools/arena/
  packc:
    paths:
      - tools/packc/
  inspect-state:
    paths:
      - tools/inspect-state/

ignore:
  - "**/*_test.go"
  - "**/*_interactive.go"
  - "**/*_integration.go"
  - "examples/"
  - "docs/"
  - "scripts/"
  - ".github/"
  - "*.md"

docs(metrics): document eval metric name prefixing convention (#948)
  docs/src/content/docs/runtime/reference/metrics.md
Due: none

docs(metrics): document eval metric name prefixing convention (#948) (#950)
  docs/src/content/docs/runtime/reference/metrics.md
Due: none

feat(prompt): add custom YAML/JSON unmarshalers for SkillSourceConfig
  runtime/prompt/pack.go
  runtime/prompt/pack_test.go
Due: runtime

feat(prompt): add WithSkills compile option for pack compilation
  runtime/prompt/pack.go
  runtime/prompt/pack_test.go
Due: runtime

feat(config): add skills field to arena config with path validation
  pkg/config/config_test.go
  pkg/config/loader.go
  pkg/config/types.go
  schemas/v1alpha1/arena.json
  schemas/v1alpha1/scenario.json
Due: none

feat(arena): wire skill discovery from arena config instead of LoadedPack
  tools/arena/engine/builder_additional_test.go
  tools/arena/engine/builder_integration.go
Due: none

feat(skills): add glob-based SetFilter for per-state skill filtering
  runtime/skills/executor.go
  runtime/skills/executor_test.go
Due: runtime

feat(arena): wire skill filtering into workflow state transitions
  examples/programmatic-arena/main.go
  tools/arena/engine/builder_additional_test.go
  tools/arena/engine/builder_integration.go
  tools/arena/engine/engine.go
  tools/arena/engine/execution_workflow_integration.go
  tools/arena/engine/workflow_tool_executor.go
  tools/arena/engine/workflow_tool_executor_test.go
Due: arena

feat(packc): include skills in compiled pack JSON
  tools/packc/compiler/compiler.go
  tools/packc/compiler/compiler_test.go
  tools/packc/compiler/helpers_integration.go
Due: packc

feat(arena): update workflow-skills example with skills config
  examples/workflow-skills/README.md
  examples/workflow-skills/config.arena.yaml
  examples/workflow-skills/scenarios/billing-flow.scenario.yaml
  examples/workflow-skills/scenarios/orders-flow.scenario.yaml
Due: none

fix(arena): align mock response turn numbers with tool loop behavior
  examples/workflow-skills/mock-responses.yaml
Due: none

fix(arena): pass ConfigDir to skill executor for glob path matching
  examples/workflow-skills/scenarios/billing-flow.scenario.yaml
  examples/workflow-skills/scenarios/orders-flow.scenario.yaml
  tools/arena/engine/builder_integration.go
Due: none

fix(arena): per-run skill filtering and assertion correctness
  runtime/evals/handlers/skill_activated.go
  runtime/evals/handlers/skill_handlers_test.go
  runtime/evals/handlers/skill_not_activated.go
  runtime/skills/executor.go
  runtime/skills/tool_executor.go
  tools/arena/engine/conversation_executor.go
  tools/arena/engine/execution.go
  tools/arena/engine/execution_workflow_integration.go
  tools/arena/engine/interfaces.go
  tools/arena/engine/workflow_tool_executor.go
  tools/arena/engine/workflow_tool_executor_test.go
Due: runtime, arena

fix(packc): handle glob patterns and relative paths in skill validation
  tools/packc/compiler/helpers_integration.go
  tools/packc/compiler/skills_validator_integration.go
  tools/packc/skills_validator.go
Due: packc

feat(arena): wire skills from arena config through discovery, filtering, and compilation (#951) (#952)
  examples/programmatic-arena/main.go
  examples/workflow-skills/README.md
  examples/workflow-skills/config.arena.yaml
  examples/workflow-skills/mock-responses.yaml
  examples/workflow-skills/scenarios/billing-flow.scenario.yaml
  examples/workflow-skills/scenarios/orders-flow.scenario.yaml
  pkg/config/config_test.go
  pkg/config/loader.go
  pkg/config/types.go
  runtime/evals/handlers/skill_activated.go
  runtime/evals/handlers/skill_handlers_test.go
  runtime/evals/handlers/skill_not_activated.go
  runtime/prompt/pack.go
  runtime/prompt/pack_test.go
  runtime/skills/executor.go
  runtime/skills/executor_test.go
  runtime/skills/tool_executor.go
  schemas/v1alpha1/arena.json
  schemas/v1alpha1/scenario.json
  tools/arena/engine/builder_additional_test.go
  tools/arena/engine/builder_integration.go
  tools/arena/engine/conversation_executor.go
  tools/arena/engine/engine.go
  tools/arena/engine/execution.go
  tools/arena/engine/execution_workflow_integration.go
  tools/arena/engine/interfaces.go
  tools/arena/engine/workflow_tool_executor.go
  tools/arena/engine/workflow_tool_executor_test.go
  tools/packc/compiler/compiler.go
  tools/packc/compiler/compiler_test.go
  tools/packc/compiler/helpers_integration.go
  tools/packc/compiler/skills_validator_integration.go
  tools/packc/skills_validator.go
Due: runtime, arena, packc

fix(arena): wire preloaded skill instructions and skills index into prompts
  tools/arena/engine/builder_additional_test.go
  tools/arena/engine/builder_integration.go
  tools/arena/stages/skill_instruction.go
  tools/arena/stages/skill_instruction_test.go
  tools/arena/turnexecutors/pipeline_stages_integration.go
Due: arena

docs(arena): exercise preload in workflow-skills example
  examples/workflow-skills/config.arena.yaml
Due: none

fix(arena): wire preloaded skill instructions and skills index into prompts (#955)
  examples/workflow-skills/config.arena.yaml
  tools/arena/engine/builder_additional_test.go
  tools/arena/engine/builder_integration.go
  tools/arena/stages/skill_instruction.go
  tools/arena/stages/skill_instruction_test.go
  tools/arena/turnexecutors/pipeline_stages_integration.go
Due: arena

fix(skills): allow narrower SkillSource to upgrade preload flag on duplicate name
  examples/workflow-skills/config.arena.yaml
  runtime/skills/registry.go
  runtime/skills/registry_test.go
Due: runtime

fix(packc): allow duplicate skill names that resolve to the same directory
  tools/packc/compiler/skills_validator_integration.go
  tools/packc/skills_validator.go
  tools/packc/skills_validator_test.go
Due: packc

fix(skills): allow narrower SkillSource to upgrade preload flag (#956) (#970)
  examples/workflow-skills/config.arena.yaml
  runtime/skills/registry.go
  runtime/skills/registry_test.go
  tools/packc/compiler/skills_validator_integration.go
  tools/packc/skills_validator.go
  tools/packc/skills_validator_test.go
Due: runtime, packc

docs(hooks): document EvalHook at parity with other hook types
  docs/src/content/docs/runtime/reference/hooks.md
  docs/src/content/docs/sdk/explanation/hooks.md
  docs/src/content/docs/sdk/how-to/exec-hooks.md
  docs/src/content/docs/sdk/how-to/run-evals.md
Due: none

fix(docs): link checker treats prod URLs as external
  docs/check-links.js
Due: none

docs(hooks): document EvalHook at parity with other hook types (#971)
  docs/check-links.js
  docs/src/content/docs/runtime/reference/hooks.md
  docs/src/content/docs/sdk/explanation/hooks.md
  docs/src/content/docs/sdk/how-to/exec-hooks.md
  docs/src/content/docs/sdk/how-to/run-evals.md
Due: none

feat(skills): MountAs virtual path indirection for SkillSource
  runtime/skills/executor_test.go
  runtime/skills/registry.go
  runtime/skills/registry_test.go
  runtime/skills/types.go
  sdk/capability_skills_test.go
  sdk/options.go
  sdk/sdk.go
Due: runtime, sdk

docs(skills): expand doccomments for SkillSource, Skill.Path, MountAs
  runtime/skills/types.go
  sdk/options.go
Due: runtime, sdk

feat(skills): MountAs virtual path indirection for SkillSource (#972)
  runtime/skills/executor_test.go
  runtime/skills/registry.go
  runtime/skills/registry_test.go
  runtime/skills/types.go
  sdk/capability_skills_test.go
  sdk/options.go
  sdk/sdk.go
Due: runtime, sdk

docs(hooks): align with diataxis, add custom-hooks how-to, clean up reference
  docs/src/content/docs/runtime/reference/hooks.md
  docs/src/content/docs/sdk/explanation/hooks.md
  docs/src/content/docs/sdk/how-to/custom-hooks.md
  docs/src/content/docs/sdk/how-to/exec-hooks.md
Due: none

docs(hooks): align with diataxis, add custom-hooks how-to, clean up reference (#973)
  docs/src/content/docs/runtime/reference/hooks.md
  docs/src/content/docs/sdk/explanation/hooks.md
  docs/src/content/docs/sdk/how-to/custom-hooks.md
  docs/src/content/docs/sdk/how-to/exec-hooks.md
Due: none

fix(server,docs): lint shadow + collapse duplicate hooks-page overview
  docs/src/content/docs/runtime/reference/hooks.md
  server/a2a/server.go
Due: none

fix(server,docs): lint shadow + collapse duplicate hooks-page overview (#974)
  docs/src/content/docs/runtime/reference/hooks.md
  server/a2a/server.go
Due: none

feat(workflow): observability events for RFC 0009 loop controls + arena artifact tool + example
  examples/workflow-agent-loops/README.md
  examples/workflow-agent-loops/config.arena.yaml
  examples/workflow-agent-loops/mock-responses.yaml
  examples/workflow-agent-loops/prompts/done.yaml
  examples/workflow-agent-loops/prompts/research.yaml
  examples/workflow-agent-loops/prompts/summarize.yaml
  examples/workflow-agent-loops/providers/mock-provider.yaml
  examples/workflow-agent-loops/scenarios/loop-converges.scenario.yaml
  examples/workflow-agent-loops/scenarios/loop-hits-max-visits.scenario.yaml
  runtime/events/emitter.go
  runtime/events/store.go
  runtime/events/types.go
  runtime/workflow/machine.go
  runtime/workflow/machine_test.go
  runtime/workflow/types.go
  sdk/workflow.go
  sdk/workflow_events.go
  sdk/workflow_test.go
  sdk/workflow_transition_integration.go
  tools/arena/engine/execution_workflow_integration.go
  tools/arena/engine/workflow_events.go
  tools/arena/engine/workflow_tool_executor.go
  tools/arena/engine/workflow_tool_executor_test.go
Due: runtime, sdk, arena

feat(workflow): observability events for RFC 0009 loop controls + arena artifact tool + example (#975)
  examples/workflow-agent-loops/README.md
  examples/workflow-agent-loops/config.arena.yaml
  examples/workflow-agent-loops/mock-responses.yaml
  examples/workflow-agent-loops/prompts/done.yaml
  examples/workflow-agent-loops/prompts/research.yaml
  examples/workflow-agent-loops/prompts/summarize.yaml
  examples/workflow-agent-loops/providers/mock-provider.yaml
  examples/workflow-agent-loops/scenarios/loop-converges.scenario.yaml
  examples/workflow-agent-loops/scenarios/loop-hits-max-visits.scenario.yaml
  runtime/events/emitter.go
  runtime/events/store.go
  runtime/events/types.go
  runtime/workflow/machine.go
  runtime/workflow/machine_test.go
  runtime/workflow/types.go
  sdk/workflow.go
  sdk/workflow_events.go
  sdk/workflow_test.go
  sdk/workflow_transition_integration.go
  tools/arena/engine/execution_workflow_integration.go
  tools/arena/engine/workflow_events.go
  tools/arena/engine/workflow_tool_executor.go
  tools/arena/engine/workflow_tool_executor_test.go
Due: runtime, sdk, arena

feat(hooks): pluggable Sandbox interface for exec-backed hooks (M1)
  runtime/evals/exec_hook.go
  runtime/hooks/exec_hooks.go
  runtime/hooks/exec_hooks_test.go
  runtime/hooks/sandbox/direct/direct.go
  runtime/hooks/sandbox/direct/direct_test.go
  runtime/hooks/sandbox/registry.go
  runtime/hooks/sandbox/registry_test.go
  runtime/hooks/sandbox/sandbox.go
  sdk/options.go
Due: runtime, sdk

feat(hooks): pluggable Sandbox interface for exec-backed hooks (M1) (#976)
  runtime/evals/exec_hook.go
  runtime/hooks/exec_hooks.go
  runtime/hooks/exec_hooks_test.go
  runtime/hooks/sandbox/direct/direct.go
  runtime/hooks/sandbox/direct/direct_test.go
  runtime/hooks/sandbox/registry.go
  runtime/hooks/sandbox/registry_test.go
  runtime/hooks/sandbox/sandbox.go
  sdk/options.go
Due: runtime, sdk

feat(hooks): sandbox backend examples — docker_run, docker_exec, kubectl_exec (M2)
  sdk/examples/sandboxes/README.md
  sdk/examples/sandboxes/dockerexec/dockerexec.go
  sdk/examples/sandboxes/dockerexec/dockerexec_test.go
  sdk/examples/sandboxes/dockerrun/dockerrun.go
  sdk/examples/sandboxes/dockerrun/dockerrun_test.go
  sdk/examples/sandboxes/kubectlexec/kubectlexec.go
  sdk/examples/sandboxes/kubectlexec/kubectlexec_test.go
Due: sdk

feat(hooks): sandbox backend examples — docker_run, docker_exec, kubectl_exec (M2) (#977)
  sdk/examples/sandboxes/README.md
  sdk/examples/sandboxes/dockerexec/dockerexec.go
  sdk/examples/sandboxes/dockerexec/dockerexec_test.go
  sdk/examples/sandboxes/dockerrun/dockerrun.go
  sdk/examples/sandboxes/dockerrun/dockerrun_test.go
  sdk/examples/sandboxes/kubectlexec/kubectlexec.go
  sdk/examples/sandboxes/kubectlexec/kubectlexec_test.go
Due: sdk

feat(hooks): RuntimeConfig YAML binding for sandbox backends (M3)
  docs/src/content/docs/sdk/how-to/sandbox-hooks.md
  pkg/config/runtime_config.go
  pkg/config/runtime_config_test.go
  schemas/v1alpha1/arena.json
  schemas/v1alpha1/runtime-config.json
  schemas/v1alpha1/tool.json
  sdk/runtime_config.go
  sdk/runtime_config_test.go
  tools/schema-gen/generators/runtime_config.go
Due: sdk

feat(hooks): RuntimeConfig YAML binding for sandbox backends (M3) (#978)
  docs/src/content/docs/sdk/how-to/sandbox-hooks.md
  pkg/config/runtime_config.go
  pkg/config/runtime_config_test.go
  schemas/v1alpha1/arena.json
  schemas/v1alpha1/runtime-config.json
  schemas/v1alpha1/tool.json
  sdk/runtime_config.go
  sdk/runtime_config_test.go
  tools/schema-gen/generators/runtime_config.go
Due: sdk

feat(selection): external Selector interface + exec client, wire for skills (M1)
  pkg/config/runtime_config.go
  pkg/config/runtime_config_test.go
  runtime/selection/exec_client.go
  runtime/selection/exec_client_test.go
  runtime/selection/selector.go
  runtime/skills/executor.go
  runtime/skills/executor_new_selector_test.go
  runtime/skills/selector_embedding.go
  runtime/skills/selector_embedding_test.go
  runtime/skills/selector_test.go
  schemas/v1alpha1/runtime-config.json
  sdk/capability.go
  sdk/capability_skills.go
  sdk/capability_skills_test.go
  sdk/conversation.go
  sdk/options.go
  sdk/options_test.go
  sdk/runtime_config.go
  sdk/runtime_config_test.go
Due: runtime, sdk
