Repository AltairaLabs/PromptKit: changes, and which Codecov flags are due for each by the changed paths.
All: runtime, sdk, arena, packc, inspect-state

feat(arena/mcpsource/docker): Docker-backed MCPSource + register in default binary
  tools/arena/engine/builder_additional_test.go
  tools/arena/engine/builder_integration.go
  tools/arena/engine/engine.go
  tools/arena/engine/execution.go
  tools/arena/engine/execution_mcpsource.go
  tools/arena/engine/mcpsource_scope.go
  tools/arena/engine/mcpsource_scope_integration_test.go
  tools/arena/mcpsource/docker/cli.go
  tools/arena/mcpsource/docker/cli_interactive.go
  tools/arena/mcpsource/docker/cli_test.go
  tools/arena/mcpsource/docker/integration_test.go
  tools/arena/mcpsource/docker/register/register.go
  tools/arena/mcpsource/docker/register/register_test.go
  tools/arena/mcpsource/docker/source.go
  tools/arena/mcpsource/docker/source_test.go
Due: arena

docs(examples/codegen-sandbox): runnable reference example + codegen skill + Makefile targets
  Makefile
  examples/codegen-sandbox/README.md
  examples/codegen-sandbox/config.arena.yaml
  examples/codegen-sandbox/mock-responses.yaml
  examples/codegen-sandbox/prompts/codegen-agent.yaml
  examples/codegen-sandbox/providers/mock-provider.yaml
  examples/codegen-sandbox/scenarios/simple-fix.scenario.yaml
  examples/codegen-sandbox/skills/codegen/SKILL.md
Due: none

chore(schemas): regenerate for MCPServerConfig Source/Scope/SourceArgs fields
  examples/codegen-sandbox/config.arena.yaml
  schemas/v1alpha1/arena.json
  schemas/v1alpha1/runtime-config.json
Due: none

chore(schemas): regenerate for MCPServerConfig URL+Headers fields
  schemas/v1alpha1/arena.json
  schemas/v1alpha1/runtime-config.json
Due: none

feat(mcp): HTTP+SSE MCP client transport (#1030)
  pkg/config/runtime_config.go
  pkg/config/runtime_config_test.go
  pkg/config/types.go
  runtime/mcp/registry.go
  runtime/mcp/registry_test.go
  runtime/mcp/sse_client.go
  runtime/mcp/sse_client_test.go
  runtime/mcp/sse_integration_test.go
  runtime/mcp/sse_transport.go
  runtime/mcp/sse_transport_test.go
  runtime/mcp/types.go
  runtime/mcp/types_test.go
  schemas/v1alpha1/arena.json
  schemas/v1alpha1/runtime-config.json
  tools/arena/engine/builder_additional_test.go
  tools/arena/engine/builder_integration.go
Due: runtime

feat(config): MCPServerConfig accepts Source+Scope+SourceArgs
  pkg/config/runtime_config.go
  pkg/config/runtime_config_test.go
  pkg/config/types.go
Due: none

feat(arena/engine): mcpSourceScope manager for per-scope MCPSource lifecycle
  tools/arena/engine/mcpsource_scope.go
  tools/arena/engine/mcpsource_scope_test.go
Due: arena

fix(mcp): UnregisterServer releases process slot + closed check + mock updates
  runtime/mcp/registry.go
  runtime/mcp/registry_test.go
  sdk/mcp_test.go
Due: runtime

feat(arena/mcpsource): MCPSource interface + registry
  tools/arena/mcpsource/export_test.go
  tools/arena/mcpsource/registry.go
  tools/arena/mcpsource/registry_test.go
  tools/arena/mcpsource/source.go
  tools/arena/mcpsource/source_test.go
Due: arena

fix(tools): implement UnregisterServer on mockMCPRegistry
  runtime/tools/mcp_executor_test.go
Due: none

feat(mcp): UnregisterServer for dynamic server lifecycle
  runtime/mcp/registry.go
  runtime/mcp/registry_test.go
  runtime/mcp/types.go
Due: runtime

feat(arena): MCPSource + codegen sandbox consumer wiring (#1032)
  Makefile
  examples/codegen-sandbox/README.md
  examples/codegen-sandbox/config.arena.yaml
  examples/codegen-sandbox/mock-responses.yaml
  examples/codegen-sandbox/prompts/codegen-agent.yaml
  examples/codegen-sandbox/providers/mock-provider.yaml
  examples/codegen-sandbox/scenarios/simple-fix.scenario.yaml
  examples/codegen-sandbox/skills/codegen/SKILL.md
  pkg/config/runtime_config.go
  pkg/config/runtime_config_test.go
  pkg/config/types.go
  runtime/mcp/registry.go
  runtime/mcp/registry_test.go
  runtime/mcp/types.go
  runtime/tools/mcp_executor_test.go
  schemas/v1alpha1/arena.json
  schemas/v1alpha1/runtime-config.json
  sdk/mcp_test.go
  tools/arena/engine/builder_additional_test.go
  tools/arena/engine/builder_integration.go
  tools/arena/engine/engine.go
  tools/arena/engine/execution.go
  tools/arena/engine/execution_mcpsource.go
  tools/arena/engine/mcpsource_scope.go
  tools/arena/engine/mcpsource_scope_integration_test.go
  tools/arena/engine/mcpsource_scope_test.go
  tools/arena/mcpsource/docker/cli.go
  tools/arena/mcpsource/docker/cli_interactive.go
  tools/arena/mcpsource/docker/cli_test.go
  tools/arena/mcpsource/docker/integration_test.go
  tools/arena/mcpsource/docker/register/register.go
  tools/arena/mcpsource/docker/register/register_test.go
  tools/arena/mcpsource/docker/source.go
  tools/arena/mcpsource/docker/source_test.go
  tools/arena/mcpsource/export_test.go
  tools/arena/mcpsource/registry.go
  tools/arena/mcpsource/registry_test.go
  tools/arena/mcpsource/source.go
  tools/arena/mcpsource/source_test.go
Due: runtime, arena

test(sdk/integration): stage contract testing regime + #1035 verification
  sdk/integration/contract_known_bugs_test.go
  sdk/integration/contract_pipeline_test.go
  sdk/integration/contract_template_test.go
  sdk/integration/probes/contract.go
  sdk/integration/probes/probes.go
  sdk/integration/probes/probes_test.go
  sdk/integration/probes/runner.go
  sdk/integration/probes/store.go
Due: sdk

fix(sdk/integration): wait for async event delivery before snapshotting
  sdk/integration/contract_known_bugs_test.go
  sdk/integration/contract_template_test.go
  sdk/integration/probes/probes.go
  sdk/integration/probes/probes_test.go
Due: sdk

test(sdk/integration): contract tests for compaction, budget, summarize + scale + bench
  sdk/integration/bench_pipeline_test.go
  sdk/integration/contract_budget_test.go
  sdk/integration/contract_compaction_test.go
  sdk/integration/contract_known_bugs_test.go
  sdk/integration/contract_summarize_test.go
  sdk/integration/contract_template_test.go
  sdk/integration/probes/probes.go
  sdk/integration/probes/probes_test.go
  sdk/integration/probes/provider.go
  sdk/integration/probes/runner.go
  sdk/integration/probes/store.go
Due: sdk

test(sdk/integration): stage contract testing regime + #1035 verification (#1036)
  sdk/integration/bench_pipeline_test.go
  sdk/integration/contract_budget_test.go
  sdk/integration/contract_compaction_test.go
  sdk/integration/contract_known_bugs_test.go
  sdk/integration/contract_pipeline_test.go
  sdk/integration/contract_summarize_test.go
  sdk/integration/contract_template_test.go
  sdk/integration/probes/contract.go
  sdk/integration/probes/probes.go
  sdk/integration/probes/probes_test.go
  sdk/integration/probes/provider.go
  sdk/integration/probes/runner.go
  sdk/integration/probes/store.go
Due: sdk

feat(sdk): WithToolDescriptorOverride + memory__remember category (#1033)
  docs/src/content/docs/sdk/how-to/override-capability-tools.md
  runtime/memory/tools.go
  runtime/memory/tools_test.go
  runtime/memory/types.go
  sdk/conversation.go
  sdk/integration/contract_tool_overrides_test.go
  sdk/options.go
  sdk/tool_descriptor_override.go
  sdk/tool_descriptor_override_test.go
Due: runtime, sdk

feat(sdk): WithToolDescriptorOverride + memory__remember category (#1033) (#1037)
  docs/src/content/docs/sdk/how-to/override-capability-tools.md
  runtime/memory/tools.go
  runtime/memory/tools_test.go
  runtime/memory/types.go
  sdk/conversation.go
  sdk/integration/contract_tool_overrides_test.go
  sdk/options.go
  sdk/tool_descriptor_override.go
  sdk/tool_descriptor_override_test.go
Due: runtime, sdk

fix(providers/claude): route Bedrock spec to bedrock-runtime, not api.anthropic.com (#1029)
  runtime/providers/claude/bedrock_unit_test.go
  runtime/providers/claude/claude.go
  runtime/providers/claude/vertex_unit_test.go
  runtime/providers/registry.go
  runtime/providers/registry_extended_test.go
Due: runtime

fix(providers/claude): route Bedrock spec to bedrock-runtime, not api.anthropic.com (#1029) (#1038)
  runtime/providers/claude/bedrock_unit_test.go
  runtime/providers/claude/claude.go
  runtime/providers/claude/vertex_unit_test.go
  runtime/providers/registry.go
  runtime/providers/registry_extended_test.go
Due: runtime

feat(events,evals): widen EvalEventData with Details, structured Violations, Trigger (#1028)
  runtime/evals/runner.go
  runtime/evals/runner_test.go
  runtime/events/types.go
Due: runtime

feat(events,evals): widen EvalEventData with Details, structured Violations, Trigger (#1028) (#1039)
  runtime/evals/runner.go
  runtime/evals/runner_test.go
  runtime/events/types.go
Due: runtime

docs(pipeline): add ARCHITECTURE.md anchoring the layered context model
  runtime/pipeline/stage/ARCHITECTURE.md
Due: runtime

docs(pipeline): add ARCHITECTURE.md anchoring the layered context model (#1048)
  runtime/pipeline/stage/ARCHITECTURE.md
Due: runtime

feat(sdk): adopt providers.Registry as the agent + summarizer pool
  sdk/conversation.go
  sdk/conversation_test.go
  sdk/options.go
  sdk/options_test.go
  sdk/runtime_config.go
  sdk/runtime_config_test.go
  sdk/sdk.go
  sdk/sdk_provider_pool_test.go
Due: sdk

feat(sdk): adopt providers.Registry as the agent + summarizer pool (#1049)
  sdk/conversation.go
  sdk/conversation_test.go
  sdk/options.go
  sdk/options_test.go
  sdk/runtime_config.go
  sdk/runtime_config_test.go
  sdk/sdk.go
  sdk/sdk_provider_pool_test.go
Due: sdk

feat(pipeline): introduce TurnState; fix #1035 by caching template render per Send
  runtime/pipeline/stage/element.go
  runtime/pipeline/stage/stages_core.go
  runtime/pipeline/stage/stages_utilities.go
  runtime/pipeline/stage/turn_state.go
  runtime/pipeline/stage/turn_state_test.go
  sdk/integration/contract_known_bugs_test.go
  sdk/integration/contract_template_test.go
  sdk/internal/pipeline/builder.go
Due: runtime, sdk

test(pipeline/stage): cover TurnState constructor + render-cache paths
  runtime/pipeline/stage/stages_core_test.go
  runtime/pipeline/stage/stages_utilities_test.go
Due: none

feat(pipeline): introduce TurnState; fix #1035 by caching template render per Send (#1050)
  runtime/pipeline/stage/element.go
  runtime/pipeline/stage/stages_core.go
  runtime/pipeline/stage/stages_core_test.go
  runtime/pipeline/stage/stages_utilities.go
  runtime/pipeline/stage/stages_utilities_test.go
  runtime/pipeline/stage/turn_state.go
  runtime/pipeline/stage/turn_state_test.go
  sdk/integration/contract_known_bugs_test.go
  sdk/integration/contract_template_test.go
  sdk/internal/pipeline/builder.go
Due: runtime, sdk

feat(arena): thread TurnState into Arena pipelines; read validator configs from TurnState
  tools/arena/engine/duplex_executor_pipeline_integration.go
  tools/arena/selfplay/generator.go
  tools/arena/stages/guardrail_eval.go
  tools/arena/stages/guardrail_eval_test.go
  tools/arena/turnexecutors/pipeline_stages_integration.go
Due: arena

feat(arena): thread TurnState into Arena pipelines; read validator configs from TurnState (#1051)
  tools/arena/engine/duplex_executor_pipeline_integration.go
  tools/arena/selfplay/generator.go
  tools/arena/stages/guardrail_eval.go
  tools/arena/stages/guardrail_eval_test.go
  tools/arena/turnexecutors/pipeline_stages_integration.go
Due: arena

feat(pipeline): runtime consumers read system_prompt + allowed_tools from TurnState
  runtime/pipeline/stage/stages_duplex_provider_integration.go
  runtime/pipeline/stage/stages_provider.go
  runtime/pipeline/stage/stages_provider_test.go
  runtime/pipeline/stage/stages_utilities.go
  runtime/pipeline/stage/stages_utilities_test.go
  sdk/internal/pipeline/builder.go
  tools/arena/engine/duplex_executor_pipeline_integration.go
  tools/arena/turnexecutors/pipeline_stages_integration.go
Due: runtime, sdk

feat(pipeline): runtime consumers read system_prompt + allowed_tools from TurnState (#1052)
  runtime/pipeline/stage/stages_duplex_provider_integration.go
  runtime/pipeline/stage/stages_provider.go
  runtime/pipeline/stage/stages_provider_test.go
  runtime/pipeline/stage/stages_utilities.go
  runtime/pipeline/stage/stages_utilities_test.go
  sdk/internal/pipeline/builder.go
  tools/arena/engine/duplex_executor_pipeline_integration.go
  tools/arena/turnexecutors/pipeline_stages_integration.go
Due: runtime, sdk

feat(arena): instruction stages append once per Turn via TurnState
  tools/arena/selfplay/generator.go
  tools/arena/stages/completion_instruction.go
  tools/arena/stages/completion_instruction_test.go
  tools/arena/stages/instruction_helpers.go
  tools/arena/stages/skill_instruction.go
  tools/arena/stages/skill_instruction_test.go
  tools/arena/turnexecutors/pipeline_stages_integration.go
Due: arena

feat(arena): instruction stages append once per Turn via TurnState (#1053)
  tools/arena/selfplay/generator.go
  tools/arena/stages/completion_instruction.go
  tools/arena/stages/completion_instruction_test.go
  tools/arena/stages/instruction_helpers.go
  tools/arena/stages/skill_instruction.go
  tools/arena/stages/skill_instruction_test.go
  tools/arena/turnexecutors/pipeline_stages_integration.go
Due: arena

wip(pipeline): PR 5c partial — typed homes + runtime stage migration
  runtime/pipeline/stage/stages_advanced.go
  runtime/pipeline/stage/stages_advanced_test.go
  runtime/pipeline/stage/stages_core.go
  runtime/pipeline/stage/stages_core_test.go
  runtime/pipeline/stage/stages_provider.go
  runtime/pipeline/stage/stages_provider_test.go
  runtime/pipeline/stage/stages_token_budget.go
  runtime/pipeline/stage/stages_utilities.go
  runtime/pipeline/stage/stages_utilities_test.go
  runtime/pipeline/stage/turn_state.go
  runtime/types/message.go
  sdk/internal/pipeline/builder.go
  tools/arena/engine/duplex_executor_pipeline_integration.go
  tools/arena/stages/metadata_injection.go
  tools/arena/stages/stages_test.go
  tools/arena/stages/statestore_save_integration.go
  tools/arena/turnexecutors/pipeline_executor_test.go
  tools/arena/turnexecutors/pipeline_stages_integration.go
Due: runtime, sdk, arena

Path conditions:
  runtime: any of: runtime/, but not: **/*_test.go, **/*_interactive.go, **/*_integration.go, examples/, docs/, scripts/, .github/, *.md
  sdk: any of: sdk/, but not: **/*_test.go, **/*_interactive.go, **/*_integration.go, examples/, docs/, scripts/, .github/, *.md
  arena: any of: tools/arena/, but not: **/*_test.go, **/*_interactive.go, **/*_integration.go, examples/, docs/, scripts/, .github/, *.md
  packc: any of: tools/packc/, but not: **/*_test.go, **/*_interactive.go, **/*_integration.go, examples/, docs/, scripts/, .github/, *.md
  inspect-state: any of: tools/inspect-state/, but not: **/*_test.go, **/*_interactive.go, **/*_integration.go, examples/, docs/, scripts/, .github/, *.md
