Repository AltairaLabs/PromptKit: changes, and which Codecov flags are due for each by the changed paths.
All: runtime, sdk, arena, packc, inspect-state

codecov.yml:

codecov:
  require_ci_to_pass: yes
  notify:
    wait_for_ci: yes

coverage:
  precision: 2
  round: down
  range: "70...100"
  
  status:
    project:
      default:
        target: 70%
        threshold: 1%
        if_ci_failed: error
    patch:
      default:
        target: 70%
        threshold: 1%
        if_ci_failed: error

comment:
  layout: "reach,diff,flags,tree"
  behavior: default
  require_changes: false

flags:
  runtime:
    paths:
      - runtime/
  sdk:
    paths:
      - sdk/
  arena:
    paths:
      - tools/arena/
  packc:
    paths:
      - tools/packc/
  inspect-state:
    paths:
      - tools/inspect-state/

ignore:
  - "**/*_test.go"
  - "**/*_interactive.go"
  - "**/*_integration.go"
  - "examples/"
  - "docs/"
  - "scripts/"
  - ".github/"
  - "*.md"

feat(a2a): add SDK adapter bridging *sdk.Conversation to a2a interfaces (#264)
  sdk/a2a.go
  sdk/a2a_test.go
Due: sdk

feat(a2a): add streaming SSE support and SDK adapter (#263, #264) (#276)
  runtime/a2a/server.go
  runtime/a2a/server_stream.go
  runtime/a2a/server_stream_test.go
  runtime/a2a/types.go
  sdk/a2a.go
  sdk/a2a_test.go
Due: runtime, sdk

feat(a2a): add tool bridge translating AgentSkill to ToolDescriptor (#265)
  runtime/a2a/bridge.go
  runtime/a2a/bridge_test.go
  runtime/tools/types.go
Due: runtime

feat(a2a): add tool bridge translating AgentSkill to ToolDescriptor (#265) (#277)
  runtime/a2a/bridge.go
  runtime/a2a/bridge_test.go
  runtime/tools/types.go
Due: runtime

feat(a2a): add WithA2ATools SDK option and a2aExecutor (#266)
  sdk/a2a_executor.go
  sdk/conversation.go
  sdk/conversation_tools.go
  sdk/hitl_test.go
  sdk/options.go
  sdk/sdk_a2a_test.go
Due: sdk

feat(a2a): add WithA2ATools SDK option and a2aExecutor (#266) (#278)
  sdk/a2a_executor.go
  sdk/conversation.go
  sdk/conversation_tools.go
  sdk/hitl_test.go
  sdk/options.go
  sdk/sdk_a2a_test.go
Due: sdk

feat(a2a): add configurable mock A2A server for Arena tests (#267)
  runtime/a2a/mock/config.go
  runtime/a2a/mock/mock.go
  runtime/a2a/mock/mock_test.go
Due: runtime

feat(a2a): add configurable mock A2A server for Arena tests (#267) (#279)
  runtime/a2a/mock/config.go
  runtime/a2a/mock/mock.go
  runtime/a2a/mock/mock_test.go
Due: runtime

feat(a2a): fix Arena A2A demo to pass end-to-end (#268)
  examples/a2a-demo/arena/mock-responses.yaml
  examples/a2a-demo/arena/prompts/assistant.yaml
  examples/a2a-demo/arena/providers/mock-provider.yaml
  examples/a2a-demo/arena/scenarios/delegated_research.yaml
  tools/arena/engine/builder_additional_test.go
  tools/arena/engine/builder_integration.go
  tools/arena/engine/engine.go
Due: arena

fix(a2a): set skillId metadata on A2A executor messages
  tools/arena/engine/a2a_executor_integration.go
Due: none

feat(a2a): add A2A config types, schema, and SDK demo examples (#268)
  examples/a2a-demo/README.md
  examples/a2a-demo/arena/config.arena.yaml
  examples/a2a-demo/assistant.pack.json
  examples/a2a-demo/client/main.go
  examples/a2a-demo/go.mod
  examples/a2a-demo/go.sum
  examples/a2a-demo/server/main.go
  examples/a2a-demo/tools/main.go
  examples/programmatic-arena/main.go
  go.work
  pkg/config/types.go
  schemas/v1alpha1/arena.json
Due: none

refactor(a2a): move server to SDK and restructure docs (#268)
  docs/src/content/docs/arena/how-to/test-a2a-agents.md
  docs/src/content/docs/concepts/a2a.md
  docs/src/content/docs/concepts/index.md
  docs/src/content/docs/runtime/how-to/index.md
  docs/src/content/docs/runtime/how-to/use-a2a-mock-server.md
  docs/src/content/docs/runtime/how-to/use-a2a-tool-bridge.md
  docs/src/content/docs/runtime/index.md
  docs/src/content/docs/runtime/reference/a2a.md
  docs/src/content/docs/runtime/reference/index.md
  docs/src/content/docs/runtime/tutorials/07-a2a-client.md
  docs/src/content/docs/runtime/tutorials/index.md
  docs/src/content/docs/sdk/index.md
  docs/src/content/docs/sdk/reference/a2a-server.md
  docs/src/content/docs/sdk/reference/index.md
  docs/src/content/docs/sdk/tutorials/10-a2a-server.md
  docs/src/content/docs/sdk/tutorials/index.md
  examples/a2a-demo/server/main.go
  runtime/a2a/client.go
  runtime/a2a/server_stream_test.go
  runtime/a2a/server_test.go
  runtime/a2a/task_store_test.go
  sdk/a2a.go
  sdk/a2a_server.go
  sdk/a2a_server_stream.go
  sdk/a2a_server_stream_test.go
  sdk/a2a_server_test.go
  sdk/a2a_task_store.go
  sdk/a2a_task_store_test.go
  sdk/a2a_test.go
Due: runtime, sdk

fix(docs): remove broken pages and fix formatting issues
  docs/public/d2/docs/architecture/diagram-examples-0.svg
  docs/public/d2/docs/architecture/diagram-examples-1.svg
  docs/public/d2/docs/architecture/diagram-examples-2.svg
  docs/public/d2/docs/architecture/diagram-examples-3.svg
  docs/src/content/docs/architecture/diagram-examples.md
  docs/src/content/docs/architecture/system-overview.md
  docs/src/content/docs/arena/explanation/validation-strategies.md.bak
  docs/src/content/docs/arena/reference/config-schema.md
  docs/src/content/docs/arena/reference/output-formats.md
  docs/src/content/docs/arena/reference/validators.md
Due: none

refactor(a2a): deduplicate executor into runtime/a2a and regenerate schemas
  runtime/a2a/executor.go
  schemas/v1alpha1/arena.json
  schemas/v1alpha1/promptconfig.json
  sdk/a2a_executor.go
  sdk/conversation_tools.go
  sdk/sdk_a2a_test.go
  tools/arena/engine/builder_integration.go
Due: runtime, sdk

fix(docs): remove fabricated workflows section
  docs/README.md
  docs/astro.config.mjs
  docs/public/d2/docs/workflows/development-workflow-0.svg
  docs/public/d2/docs/workflows/full-stack-example-0.svg
  docs/public/d2/docs/workflows/index-0.svg
  docs/src/content/docs/concepts/index.md
  docs/src/content/docs/workflows/deployment-workflow.md
  docs/src/content/docs/workflows/development-workflow.md
  docs/src/content/docs/workflows/full-stack-example.md
  docs/src/content/docs/workflows/index.md
  docs/src/content/docs/workflows/testing-workflow.md
Due: none

fix(a2a): use correct apiVersion in a2a-demo example configs
  docs/src/content/docs/arena/how-to/test-a2a-agents.md
  docs/src/content/docs/runtime/how-to/use-a2a-tool-bridge.md
  examples/a2a-demo/arena/config.arena.yaml
  examples/a2a-demo/arena/prompts/assistant.yaml
  examples/a2a-demo/arena/providers/mock-provider.yaml
  examples/a2a-demo/arena/scenarios/delegated_research.yaml
Due: none

fix(a2a): use correct kind 'Arena' instead of 'ArenaConfig'
  docs/src/content/docs/arena/examples/document-analysis.md
  docs/src/content/docs/arena/how-to/test-a2a-agents.md
  docs/src/content/docs/arena/tutorials/06-duplex-testing.md
  examples/a2a-demo/arena/config.arena.yaml
Due: none

test(a2a): add executor tests to improve coverage
  runtime/a2a/executor_test.go
Due: none

docs: fix documentation accuracy across SDK, runtime, arena, and packc
  docs/src/content/docs/arena/explanation/provider-comparison.md
  docs/src/content/docs/arena/explanation/scenario-design.md
  docs/src/content/docs/arena/explanation/testing-philosophy.md
  docs/src/content/docs/arena/explanation/validation-strategies.md
  docs/src/content/docs/arena/how-to/validate-outputs.md
  docs/src/content/docs/arena/how-to/write-scenarios.md
  docs/src/content/docs/arena/reference/config-schema.md
  docs/src/content/docs/concepts/prompts.md
  docs/src/content/docs/concepts/state-management.md
  docs/src/content/docs/concepts/templates.md
  docs/src/content/docs/concepts/tools-mcp.md
  docs/src/content/docs/concepts/validation.md
  docs/src/content/docs/packc/explanation/compilation.md
  docs/src/content/docs/packc/explanation/pack-format.md
  docs/src/content/docs/packc/explanation/validation.md
  docs/src/content/docs/packc/how-to/install.md
  docs/src/content/docs/packc/reference/compile.md
  docs/src/content/docs/runtime/explanation/state-management.md
  docs/src/content/docs/runtime/how-to/handle-errors.md
  docs/src/content/docs/runtime/how-to/manage-state.md
  docs/src/content/docs/runtime/how-to/monitor-costs.md
  docs/src/content/docs/runtime/how-to/setup-providers.md
  docs/src/content/docs/runtime/how-to/streaming-responses.md
  docs/src/content/docs/runtime/reference/statestore.md
  docs/src/content/docs/runtime/reference/validators.md
  docs/src/content/docs/sdk/explanation/observability.md
  docs/src/content/docs/sdk/how-to/analyze-documents.md
  docs/src/content/docs/sdk/how-to/initialize.md
  docs/src/content/docs/sdk/how-to/manage-context.md
  docs/src/content/docs/sdk/how-to/manage-state.md
  docs/src/content/docs/sdk/how-to/monitor-events.md
  docs/src/content/docs/sdk/how-to/send-messages.md
  docs/src/content/docs/sdk/reference/audio.md
  docs/src/content/docs/sdk/reference/conversation-manager.md
  docs/src/content/docs/sdk/reference/variables.md
  docs/src/content/docs/sdk/tutorials/01-first-conversation.md
  docs/src/content/docs/sdk/tutorials/04-state-management.md
  docs/src/content/docs/sdk/tutorials/06-media-storage.md
  docs/src/content/docs/sdk/tutorials/07-audio-sessions.md
  docs/src/content/docs/sdk/tutorials/09-variable-providers.md
Due: none

fix: align eslint and @eslint/js peer dependencies in npm packages
  npm/packc/package-lock.json
  npm/packc/package.json
  npm/promptarena/package-lock.json
  npm/promptarena/package.json
Due: none

feat(evals): add core eval types for RFC 0006
  runtime/evals/types.go
  runtime/evals/types_test.go
Due: runtime

feat(evals): implement eval resolution (pack + prompt merge)
  runtime/evals/resolve.go
  runtime/evals/resolve_test.go
Due: runtime

feat(evals): extend Pack and PackPrompt with evals field
  runtime/prompt/pack.go
  runtime/prompt/pack_evals_test.go
  sdk/internal/pack/load.go
Due: runtime, sdk

feat(evals): add eval validation for packc
  runtime/evals/validate.go
  runtime/evals/validate_test.go
Due: runtime

feat(evals): add EvalTypeRegistry and JudgeProvider interface
  runtime/evals/handlers/judge_provider.go
  runtime/evals/handlers/judge_provider_test.go
  runtime/evals/helpers_test.go
  runtime/evals/registry.go
  runtime/evals/registry_test.go
  runtime/evals/resolve_test.go
  runtime/evals/validate_test.go
Due: runtime

feat(evals): migrate conversation-level assertions to session handlers
  runtime/evals/handlers/contains.go
  runtime/evals/handlers/contains_any.go
  runtime/evals/handlers/content_excludes.go
  runtime/evals/handlers/cosine_similarity.go
  runtime/evals/handlers/handlers_test.go
  runtime/evals/handlers/helpers.go
  runtime/evals/handlers/json_schema.go
  runtime/evals/handlers/json_valid.go
  runtime/evals/handlers/latency_budget.go
  runtime/evals/handlers/regex.go
  runtime/evals/handlers/register.go
  runtime/evals/handlers/session_handlers_test.go
  runtime/evals/handlers/tool_args.go
  runtime/evals/handlers/tool_args_excluded_session.go
  runtime/evals/handlers/tool_args_session.go
  runtime/evals/handlers/tools_called.go
  runtime/evals/handlers/tools_called_session.go
  runtime/evals/handlers/tools_not_called.go
  runtime/evals/handlers/tools_not_called_session.go
  runtime/evals/registry.go
Due: runtime

feat(evals): add LLM judge handlers using JudgeProvider interface
  runtime/evals/handlers/handlers_test.go
  runtime/evals/handlers/llm_judge.go
  runtime/evals/handlers/llm_judge_session.go
  runtime/evals/handlers/llm_judge_test.go
  runtime/evals/handlers/register.go
Due: runtime

feat(evals): add trigger system and EvalRunner (#306)
  runtime/evals/runner.go
  runtime/evals/runner_test.go
  runtime/evals/trigger.go
  runtime/evals/trigger_test.go
Due: runtime

feat(evals): add EvalDispatcher, ResultWriter, and EvalWorker (#307)
  runtime/evals/dispatcher.go
  runtime/evals/dispatcher_test.go
  runtime/evals/result_writer.go
  runtime/evals/result_writer_test.go
  runtime/evals/worker.go
  runtime/evals/worker_test.go
Due: runtime

feat(evals): wire pack evals into Arena conversation executor (#308, #309, #310)
  pkg/config/config_test.go
  pkg/config/loader.go
  pkg/config/types.go
  tools/arena/cmd/promptarena/run.go
  tools/arena/cmd/promptarena/run_interactive.go
  tools/arena/cmd/promptarena/yaml_config_test.go
  tools/arena/engine/arena_statestore_test.go
  tools/arena/engine/builder_additional_test.go
  tools/arena/engine/builder_integration.go
  tools/arena/engine/composite_conversation_executor_test.go
  tools/arena/engine/conversation_executor.go
  tools/arena/engine/conversation_executor_assertions_test.go
  tools/arena/engine/conversation_executor_multiturn_test.go
  tools/arena/engine/conversation_executor_selfplay_multiturn_test.go
  tools/arena/engine/conversation_executor_streaming_test.go
  tools/arena/engine/conversation_executor_test.go
  tools/arena/engine/conversation_executor_vars_test.go
  tools/arena/engine/duplex_conversation_executor.go
  tools/arena/engine/duplex_conversation_executor_test.go
  tools/arena/engine/duplex_executor_results_integration.go
  tools/arena/engine/duplex_state_store_test.go
  tools/arena/engine/engine.go
  tools/arena/engine/eval_conversation_executor.go
  tools/arena/engine/eval_conversation_executor_test.go
  tools/arena/engine/eval_execution_test.go
  tools/arena/engine/pack_eval_adapter.go
  tools/arena/engine/pack_eval_adapter_test.go
  tools/arena/engine/pack_eval_hook.go
  tools/arena/engine/pack_eval_hook_test.go
  tools/arena/engine/statestore_integration_test.go
Due: arena

chore: regenerate arena.json schema for pack_file field
  schemas/v1alpha1/arena.json
Due: none

feat(evals): wire pack evals into Arena executor (#308, #309, #310) (#327)
  pkg/config/config_test.go
  pkg/config/loader.go
  pkg/config/types.go
  schemas/v1alpha1/arena.json
  tools/arena/cmd/promptarena/run.go
  tools/arena/cmd/promptarena/run_interactive.go
  tools/arena/cmd/promptarena/yaml_config_test.go
  tools/arena/engine/arena_statestore_test.go
  tools/arena/engine/builder_additional_test.go
  tools/arena/engine/builder_integration.go
  tools/arena/engine/composite_conversation_executor_test.go
  tools/arena/engine/conversation_executor.go
  tools/arena/engine/conversation_executor_assertions_test.go
  tools/arena/engine/conversation_executor_multiturn_test.go
  tools/arena/engine/conversation_executor_selfplay_multiturn_test.go
  tools/arena/engine/conversation_executor_streaming_test.go
  tools/arena/engine/conversation_executor_test.go
  tools/arena/engine/conversation_executor_vars_test.go
  tools/arena/engine/duplex_conversation_executor.go
  tools/arena/engine/duplex_conversation_executor_test.go
  tools/arena/engine/duplex_executor_results_integration.go
  tools/arena/engine/duplex_state_store_test.go
  tools/arena/engine/engine.go
  tools/arena/engine/eval_conversation_executor.go
  tools/arena/engine/eval_conversation_executor_test.go
  tools/arena/engine/eval_execution_test.go
  tools/arena/engine/pack_eval_adapter.go
  tools/arena/engine/pack_eval_adapter_test.go
  tools/arena/engine/pack_eval_hook.go
  tools/arena/engine/pack_eval_hook_test.go
  tools/arena/engine/statestore_integration_test.go
Due: arena

feat(evals): add MetricCollector, EventBusEvalListener, SDK eval middleware, and E2E tests (#311, #312, #313, #314)
  runtime/evals/event_listener.go
  runtime/evals/event_listener_test.go
  runtime/evals/integration_test.go
  runtime/evals/metrics.go
  runtime/evals/metrics_test.go
  sdk/conversation.go
  sdk/eval_integration_test.go
  sdk/eval_middleware.go
  sdk/eval_middleware_test.go
  sdk/options.go
  sdk/sdk.go
Due: runtime, sdk

ci: add eval-test example to test-arena-mock job
  .github/workflows/ci.yml
Due: none

docs: add event architecture, evals framework, and Excalidraw MCP
  .mcp.json
  docs/public/d2/docs/sdk/explanation/architecture-1.svg
  docs/public/d2/docs/sdk/explanation/architecture-2.svg
  docs/src/content/docs/arena/explanation/eval-framework.md
  docs/src/content/docs/arena/explanation/session-recording.md
  docs/src/content/docs/runtime/explanation/pipeline-architecture.md
  docs/src/content/docs/sdk/explanation/architecture.md
  docs/src/content/docs/sdk/explanation/observability.md
  docs/src/content/docs/sdk/how-to/monitor-events.md
Due: none

feat(evals): MetricCollector, EventBusEvalListener, SDK middleware, E2E tests (#311-#314) (#328)
  .github/workflows/ci.yml
  .mcp.json
  docs/public/d2/docs/sdk/explanation/architecture-1.svg
  docs/public/d2/docs/sdk/explanation/architecture-2.svg
  docs/src/content/docs/arena/explanation/eval-framework.md
  docs/src/content/docs/arena/explanation/session-recording.md
  docs/src/content/docs/runtime/explanation/pipeline-architecture.md
  docs/src/content/docs/sdk/explanation/architecture.md
  docs/src/content/docs/sdk/explanation/observability.md
  docs/src/content/docs/sdk/how-to/monitor-events.md
  runtime/evals/event_listener.go
  runtime/evals/event_listener_test.go
  runtime/evals/integration_test.go
  runtime/evals/metrics.go
  runtime/evals/metrics_test.go
  sdk/conversation.go
  sdk/eval_integration_test.go
  sdk/eval_middleware.go
  sdk/eval_middleware_test.go
  sdk/options.go
  sdk/sdk.go
Due: runtime, sdk
