Repository AltairaLabs/PromptKit: changes, and which Codecov flags are due for each by the changed paths.
All: runtime, sdk, arena, packc, inspect-state

codecov.yml:

codecov:
  require_ci_to_pass: yes
  notify:
    wait_for_ci: yes

coverage:
  precision: 2
  round: down
  range: "70...100"
  
  status:
    project:
      default:
        target: 70%
        threshold: 1%
        if_ci_failed: error
    patch:
      default:
        target: 70%
        threshold: 1%
        if_ci_failed: error

comment:
  layout: "reach,diff,flags,tree"
  behavior: default
  require_changes: false

flags:
  runtime:
    paths:
      - runtime/
  sdk:
    paths:
      - sdk/
  arena:
    paths:
      - tools/arena/
  packc:
    paths:
      - tools/packc/
  inspect-state:
    paths:
      - tools/inspect-state/

ignore:
  - "**/*_test.go"
  - "**/*_interactive.go"
  - "**/*_integration.go"
  - "examples/"
  - "docs/"
  - "scripts/"
  - ".github/"
  - "*.md"

review: address PR #1215 punch-list
  runtime/classify/backends/hf/client.go
  runtime/classify/backends/hf/client_test.go
  runtime/classify/backends/hf/embedder.go
  runtime/classify/registry_test.go
  runtime/classify/types.go
Due: runtime

fix(arena/web): wait for background runs before TempDir cleanup
  tools/arena/web/server.go
  tools/arena/web/server_test.go
Due: arena

feat(classify): runtime/classify foundation + HuggingFace backend (#1215)
  runtime/classify/audio.go
  runtime/classify/backends/hf/audio.go
  runtime/classify/backends/hf/client.go
  runtime/classify/backends/hf/client_test.go
  runtime/classify/backends/hf/embedder.go
  runtime/classify/backends/hf/image.go
  runtime/classify/backends/hf/text.go
  runtime/classify/embedder.go
  runtime/classify/image.go
  runtime/classify/registry.go
  runtime/classify/registry_test.go
  runtime/classify/text.go
  runtime/classify/types.go
  runtime/classify/video.go
  tools/arena/web/server.go
  tools/arena/web/server_test.go
Due: runtime, arena

feat(arena): inference: config block + classify.Registry wiring
  pkg/config/inference_test.go
  pkg/config/loader.go
  pkg/config/types.go
  schemas/v1alpha1/arena.json
  tools/arena/engine/builder_integration.go
  tools/arena/engine/classify_registry.go
  tools/arena/engine/classify_registry_test.go
  tools/arena/engine/eval_orchestrator.go
  tools/arena/engine/eval_orchestrator_test.go
Due: arena

feat(arena): inference: config block + classify.Registry wiring (#1216)
  pkg/config/inference_test.go
  pkg/config/loader.go
  pkg/config/types.go
  schemas/v1alpha1/arena.json
  tools/arena/engine/builder_integration.go
  tools/arena/engine/classify_registry.go
  tools/arena/engine/classify_registry_test.go
  tools/arena/engine/eval_orchestrator.go
  tools/arena/engine/eval_orchestrator_test.go
Due: arena

refactor(arena): fold inference: into providers: with role: inference
  pkg/config/inference_test.go
  pkg/config/loader.go
  pkg/config/role.go
  pkg/config/types.go
  runtime/credentials/resolver.go
  schemas/v1alpha1/arena.json
  schemas/v1alpha1/provider.json
  schemas/v1alpha1/runtime-config.json
  tools/arena/engine/classify_registry.go
  tools/arena/engine/classify_registry_test.go
Due: runtime, arena

refactor(arena): fold inference: into providers: with role: inference (#1217)
  pkg/config/inference_test.go
  pkg/config/loader.go
  pkg/config/role.go
  pkg/config/types.go
  runtime/credentials/resolver.go
  schemas/v1alpha1/arena.json
  schemas/v1alpha1/provider.json
  schemas/v1alpha1/runtime-config.json
  tools/arena/engine/classify_registry.go
  tools/arena/engine/classify_registry_test.go
Due: runtime, arena

feat(evals): audio_emotion assertion handler + inference provider docs
  docs/src/content/docs/arena/how-to/configure-providers.md
  docs/src/content/docs/concepts/providers.md
  docs/src/content/docs/glossary.md
  runtime/evals/handlers/audio_emotion.go
  runtime/evals/handlers/audio_emotion_test.go
  runtime/evals/handlers/handlers_test.go
  runtime/evals/handlers/register.go
Due: runtime

fix(sdk/integration): close race in metrics tests' waitForMetric helper
  sdk/integration/metrics_test.go
Due: none

feat(evals): audio_emotion handler + inference provider docs (#1218)
  docs/src/content/docs/arena/how-to/configure-providers.md
  docs/src/content/docs/concepts/providers.md
  docs/src/content/docs/glossary.md
  runtime/evals/handlers/audio_emotion.go
  runtime/evals/handlers/audio_emotion_test.go
  runtime/evals/handlers/handlers_test.go
  runtime/evals/handlers/register.go
  sdk/integration/metrics_test.go
Due: runtime

docs(classify): scope embedder as a convenience, not a migration path
  runtime/classify/types.go
Due: runtime

docs(classify): scope embedder as a convenience, not a migration path (#1219)
  runtime/classify/types.go
Due: runtime

refactor(evals): route audio_emotion infrastructure absence as Skipped
  runtime/evals/handlers/audio_emotion.go
  runtime/evals/handlers/audio_emotion_test.go
Due: runtime

refactor(evals): route audio_emotion infrastructure absence as Skipped (#1220)
  runtime/evals/handlers/audio_emotion.go
  runtime/evals/handlers/audio_emotion_test.go
Due: runtime

feat(examples/voice-refund-demo): audio_emotion SER assertion on aggressive caller
  examples/voice-refund-demo/README.md
  examples/voice-refund-demo/config.arena.yaml
  examples/voice-refund-demo/providers/hf.provider.yaml
  examples/voice-refund-demo/scenarios/aggressive-refund.scenario.yaml
Due: none

feat(examples/voice-refund-demo): audio_emotion SER assertion on aggressive caller (#1221)
  examples/voice-refund-demo/README.md
  examples/voice-refund-demo/config.arena.yaml
  examples/voice-refund-demo/providers/hf.provider.yaml
  examples/voice-refund-demo/scenarios/aggressive-refund.scenario.yaml
Due: none

fix(audio_emotion): make the SER demo runnable end-to-end
  examples/voice-refund-demo/providers/hf.provider.yaml
  runtime/classify/backends/hf/client.go
  runtime/evals/handlers/audio_emotion.go
  runtime/evals/handlers/audio_emotion_test.go
  tools/arena/cmd/ser-probe/main_interactive.go
  tools/arena/engine/duplex_executor_pipeline_integration.go
  tools/arena/engine/execution.go
  tools/arena/engine/run_timeout_test.go
Due: runtime, arena

fix(audio_emotion): make the SER demo runnable end-to-end (#1222)
  examples/voice-refund-demo/providers/hf.provider.yaml
  runtime/classify/backends/hf/client.go
  runtime/evals/handlers/audio_emotion.go
  runtime/evals/handlers/audio_emotion_test.go
  tools/arena/cmd/ser-probe/main_interactive.go
  tools/arena/engine/duplex_executor_pipeline_integration.go
  tools/arena/engine/execution.go
  tools/arena/engine/run_timeout_test.go
Due: runtime, arena

fix(mock-duplex): implement ToolResponseSupport on MockStreamSession
  examples/voice-refund-demo/scenarios/aggressive-refund.scenario.yaml
  runtime/providers/mock/mock_streaming_interactive.go
  runtime/providers/mock/mock_streaming_tools_integration.go
  runtime/providers/mock/mock_streaming_tools_test.go
Due: none

review: address PR #1223 polish items
  runtime/providers/mock/mock_streaming_tools_integration.go
  runtime/providers/mock/mock_streaming_tools_test.go
Due: none

fix(mock-duplex): implement ToolResponseSupport on MockStreamSession (#1223)
  examples/voice-refund-demo/scenarios/aggressive-refund.scenario.yaml
  runtime/providers/mock/mock_streaming_interactive.go
  runtime/providers/mock/mock_streaming_tools_integration.go
  runtime/providers/mock/mock_streaming_tools_test.go
Due: none

docs(voice-refund-demo): note dedicated-endpoint hang + correct SER label
  examples/voice-refund-demo/providers/hf.provider.yaml
  examples/voice-refund-demo/scenarios/aggressive-refund.scenario.yaml
Due: none

fix(mock): make MockStreamSession FinishReason send blocking
  runtime/providers/mock/mock_streaming_interactive.go
Due: none

fix(voice-refund-demo): expected_label "angry" -> "ang" for SER model
  examples/voice-refund-demo/scenarios/aggressive-refund.scenario.yaml
Due: none

fix(mock): block on FinishReason send so MockStreamSession can't deadlock duplex pipeline (#1226)
  examples/voice-refund-demo/scenarios/aggressive-refund.scenario.yaml
  runtime/providers/mock/mock_streaming_interactive.go
Due: none

fix(docs): migrate sidebar config to Starlight 0.39 autogenerate syntax
  docs/astro.config.mjs
Due: none

feat(evals): text_toxicity + text_sentiment classify-backed handlers
  docs/src/content/docs/reference/checks.md
  runtime/evals/handlers/handlers_test.go
  runtime/evals/handlers/register.go
  runtime/evals/handlers/text_classify_helpers.go
  runtime/evals/handlers/text_classify_test.go
  runtime/evals/handlers/text_sentiment.go
  runtime/evals/handlers/text_toxicity.go
Due: runtime

refactor(evals): share classify-handler param parsing + label lookup
  runtime/evals/handlers/audio_emotion.go
  runtime/evals/handlers/classify_handler_base.go
  runtime/evals/handlers/text_classify_helpers.go
Due: runtime

feat(evals): text_toxicity + text_sentiment classify-backed handlers (#1231)
  docs/src/content/docs/reference/checks.md
  runtime/evals/handlers/audio_emotion.go
  runtime/evals/handlers/classify_handler_base.go
  runtime/evals/handlers/handlers_test.go
  runtime/evals/handlers/register.go
  runtime/evals/handlers/text_classify_helpers.go
  runtime/evals/handlers/text_classify_test.go
  runtime/evals/handlers/text_sentiment.go
  runtime/evals/handlers/text_toxicity.go
Due: runtime

refactor(evals): classify-backed handlers are pure eval primitives
  docs/src/content/docs/reference/checks.md
  examples/voice-refund-demo/scenarios/aggressive-refund.scenario.yaml
  runtime/evals/handlers/CLAUDE.md
  runtime/evals/handlers/audio_emotion.go
  runtime/evals/handlers/audio_emotion_test.go
  runtime/evals/handlers/classify_handler_base.go
  runtime/evals/handlers/text_classify_helpers.go
  runtime/evals/handlers/text_classify_test.go
  runtime/evals/handlers/text_sentiment.go
  runtime/evals/handlers/text_toxicity.go
Due: runtime

docs(arena): migrate configure-providers example to assertion wrapper
  docs/src/content/docs/arena/how-to/configure-providers.md
Due: none

refactor(evals): classify-backed handlers are pure eval primitives (#1232)
  docs/src/content/docs/arena/how-to/configure-providers.md
  docs/src/content/docs/reference/checks.md
  examples/voice-refund-demo/scenarios/aggressive-refund.scenario.yaml
  runtime/evals/handlers/CLAUDE.md
  runtime/evals/handlers/audio_emotion.go
  runtime/evals/handlers/audio_emotion_test.go
  runtime/evals/handlers/classify_handler_base.go
  runtime/evals/handlers/text_classify_helpers.go
  runtime/evals/handlers/text_classify_test.go
  runtime/evals/handlers/text_sentiment.go
  runtime/evals/handlers/text_toxicity.go
Due: runtime

fix(hf): treat "model not supported" responses as Skipped, not Error
  examples/voice-refund-demo/providers/hf.provider.yaml
  runtime/classify/backends/hf/client.go
  runtime/classify/backends/hf/client_test.go
  runtime/evals/handlers/audio_emotion.go
  runtime/evals/handlers/audio_emotion_test.go
  runtime/evals/handlers/text_classify_helpers.go
  runtime/evals/handlers/text_classify_test.go
Due: runtime

fix(hf): treat "model not supported" responses as Skipped, not Error (#1235)
  examples/voice-refund-demo/providers/hf.provider.yaml
  runtime/classify/backends/hf/client.go
  runtime/classify/backends/hf/client_test.go
  runtime/evals/handlers/audio_emotion.go
  runtime/evals/handlers/audio_emotion_test.go
  runtime/evals/handlers/text_classify_helpers.go
  runtime/evals/handlers/text_classify_test.go
Due: runtime

refactor(evals): LLM-judge family rejects dead min_score; pure-eval primitives
  docs/src/content/docs/arena/how-to/arena-ci-quality-gate.md
  docs/src/content/docs/arena/how-to/rag-agent.md
  docs/src/content/docs/arena/how-to/text-negotiation.md
  docs/src/content/docs/arena/how-to/voice-characterization.md
  docs/src/content/docs/arena/how-to/voice-red-team.md
  docs/src/content/docs/arena/reference/assertions.md
  docs/src/content/docs/arena/why-arena.md
  docs/src/content/docs/reference/checks.md
  examples/eval-test/evals/basic-eval.eval.yaml
  examples/llm-judge/scenarios/helpfulness.yaml
  examples/rag-agent/scenarios/paris-capital.scenario.yaml
  runtime/evals/handlers/CLAUDE.md
  runtime/evals/handlers/answer_relevancy.go
  runtime/evals/handlers/bias.go
  runtime/evals/handlers/contextual_precision.go
  runtime/evals/handlers/contextual_recall.go
  runtime/evals/handlers/contextual_relevancy.go
  runtime/evals/handlers/faithfulness.go
  runtime/evals/handlers/hallucination.go
  runtime/evals/handlers/judge_provider.go
  runtime/evals/handlers/judge_provider_test.go
  runtime/evals/handlers/llm_judge.go
  runtime/evals/handlers/llm_judge_session.go
  runtime/evals/handlers/llm_judge_test.go
  runtime/evals/handlers/llm_judge_tool_calls.go
  runtime/evals/handlers/llm_judge_tool_calls_test.go
  runtime/evals/handlers/pii_leakage.go
  runtime/evals/handlers/rag_handlers_test.go
  runtime/evals/handlers/rag_helpers.go
  runtime/evals/handlers/role_violation.go
  runtime/evals/handlers/safety_handlers_test.go
  runtime/evals/handlers/safety_helpers.go
  runtime/evals/handlers/toxicity.go
Due: runtime

test(evals): dedupe RejectThresholdParams tests via shared helper
  runtime/evals/handlers/helpers_test.go
  runtime/evals/handlers/llm_judge_test.go
  runtime/evals/handlers/llm_judge_tool_calls_test.go
  runtime/evals/handlers/rag_handlers_test.go
  runtime/evals/handlers/safety_handlers_test.go
Due: none

docs(evals): drop duplicated rejection-doc paragraph from RAG/safety handlers
  runtime/evals/handlers/answer_relevancy.go
  runtime/evals/handlers/contextual_precision.go
  runtime/evals/handlers/contextual_recall.go
  runtime/evals/handlers/contextual_relevancy.go
  runtime/evals/handlers/faithfulness.go
  runtime/evals/handlers/hallucination.go
  runtime/evals/handlers/pii_leakage.go
  runtime/evals/handlers/role_violation.go
Due: runtime

refactor(evals): unify threshold-rejection across classify and LLM-judge paths
  runtime/evals/handlers/classify_handler_base.go
  runtime/evals/handlers/llm_judge.go
  runtime/evals/handlers/llm_judge_session.go
  runtime/evals/handlers/llm_judge_tool_calls.go
Due: runtime

docs(evals): collapse bias/toxicity GoDocs to single-line summaries
  runtime/evals/handlers/bias.go
  runtime/evals/handlers/toxicity.go
Due: runtime

refactor(evals/handlers): extract runJudgeEval to dedupe judge bodies
  runtime/evals/handlers/llm_judge.go
  runtime/evals/handlers/llm_judge_session.go
  runtime/evals/handlers/llm_judge_tool_calls.go
Due: runtime
