Repository AltairaLabs/PromptKit: changes, and which Codecov flags are due for each by the changed paths.
All: runtime, sdk, arena, packc, inspect-state

fix(arena): wire source-backed MCP discovery + codegen-sandbox demo green
  examples/codegen-sandbox/mock-responses.yaml
  pkg/config/config_test.go
  pkg/config/loader.go
  tools/arena/engine/arena_statestore_test.go
  tools/arena/engine/engine.go
  tools/arena/engine/engine_test.go
  tools/arena/engine/mcpsource_dispatch_test.go
  tools/arena/engine/mcpsource_scope.go
  tools/arena/engine/statestore_integration_test.go
  tools/arena/engine/statestore_test.go
  tools/arena/mcpsource/docker/source.go
  tools/arena/mcpsource/docker/source_test.go
Due: arena

fix(packc): handle absolute skill dirs against relative pack base
  tools/packc/compiler/skills_validator_integration.go
  tools/packc/skills_validator.go
  tools/packc/skills_validator_test.go
Due: packc

fix(arena): pass tool_filter to source-backed MCP entries + lift coverage
  tools/arena/engine/engine.go
  tools/arena/engine/mcpsource_dispatch_test.go
  tools/arena/engine/mcpsource_scope.go
Due: arena

docs(arena): document source-backed MCP servers (MCPSource)
  docs/src/content/docs/arena/how-to/provision-mcp-sandbox.md
  docs/src/content/docs/arena/how-to/test-mcp-tools.md
  docs/src/content/docs/arena/reference/config-schema.md
  pkg/config/types.go
  schemas/v1alpha1/arena.json
  schemas/v1alpha1/runtime-config.json
Due: none

fix(arena): wire source-backed MCP discovery + green codegen-sandbox demo (#1082)
  examples/codegen-sandbox/mock-responses.yaml
  pkg/config/config_test.go
  pkg/config/loader.go
  tools/arena/engine/arena_statestore_test.go
  tools/arena/engine/engine.go
  tools/arena/engine/engine_test.go
  tools/arena/engine/mcpsource_dispatch_test.go
  tools/arena/engine/mcpsource_scope.go
  tools/arena/engine/statestore_integration_test.go
  tools/arena/engine/statestore_test.go
  tools/arena/mcpsource/docker/source.go
  tools/arena/mcpsource/docker/source_test.go
  tools/packc/compiler/skills_validator_integration.go
  tools/packc/skills_validator.go
  tools/packc/skills_validator_test.go
Due: arena, packc

docs(arena): document source-backed MCP servers (MCPSource) (#1083)
  docs/src/content/docs/arena/how-to/provision-mcp-sandbox.md
  docs/src/content/docs/arena/how-to/test-mcp-tools.md
  docs/src/content/docs/arena/reference/config-schema.md
  pkg/config/types.go
  schemas/v1alpha1/arena.json
  schemas/v1alpha1/runtime-config.json
Due: none

docs(examples): add live Anthropic-driven codegen example
  examples/codegen-anthropic/.env.example
  examples/codegen-anthropic/README.md
  examples/codegen-anthropic/config.arena.yaml
  examples/codegen-anthropic/prompts/codegen-agent.yaml
  examples/codegen-anthropic/providers/claude-sonnet.provider.yaml
  examples/codegen-anthropic/scenarios/implement-palindrome.scenario.yaml
  examples/codegen-anthropic/skills/codegen/SKILL.md
Due: none

docs(examples): add live Anthropic-driven codegen example (#1084)
  examples/codegen-anthropic/.env.example
  examples/codegen-anthropic/README.md
  examples/codegen-anthropic/config.arena.yaml
  examples/codegen-anthropic/prompts/codegen-agent.yaml
  examples/codegen-anthropic/providers/claude-sonnet.provider.yaml
  examples/codegen-anthropic/scenarios/implement-palindrome.scenario.yaml
  examples/codegen-anthropic/skills/codegen/SKILL.md
Due: none

feat(sdk): MCP endpoint resolver — host-injected lookup for name-only servers
  sdk/mcp_resolver.go
  sdk/mcp_resolver_test.go
  sdk/options.go
  sdk/sdk.go
Due: sdk

feat(sdk): MCP endpoint resolver — host-injected lookup for name-only servers (#1098)
  sdk/mcp_resolver.go
  sdk/mcp_resolver_test.go
  sdk/options.go
  sdk/sdk.go
Due: sdk

fix(sdk): wire MCP tools into the pipeline + add live codegen example
  sdk/conversation_tools.go
  sdk/examples/codegen-resolver/README.md
  sdk/examples/codegen-resolver/codegen-resolver.pack.json
  sdk/examples/codegen-resolver/main.go
  sdk/sdk.go
  sdk/template.go
Due: sdk

test(sdk): cover Open/OpenDuplex paths through initMCPRegistry hoist
  sdk/mcp_resolver_test.go
Due: none

fix(sdk): run MCP init before duplex streaming-support check
  sdk/mcp_resolver_test.go
  sdk/sdk.go
Due: sdk

fix(sdk): wire MCP tools into the pipeline + add live codegen example (#1099)
  sdk/conversation_tools.go
  sdk/examples/codegen-resolver/README.md
  sdk/examples/codegen-resolver/codegen-resolver.pack.json
  sdk/examples/codegen-resolver/main.go
  sdk/mcp_resolver_test.go
  sdk/sdk.go
  sdk/template.go
Due: sdk

feat(evals): tool_exec handler — invoke a tool, assert it succeeded
  runtime/evals/handlers/handlers_test.go
  runtime/evals/handlers/register.go
  runtime/evals/handlers/tool_exec.go
  runtime/evals/handlers/tool_exec_test.go
  tools/arena/engine/builder_integration.go
Due: runtime

docs(checks): document tool_exec assertion type
  docs/src/content/docs/arena/how-to/provision-mcp-sandbox.md
  docs/src/content/docs/arena/reference/assertions.md
  docs/src/content/docs/reference/checks.md
Due: none

feat(evals): tool_exec handler — invoke a tool, assert it succeeded (#1100)
  docs/src/content/docs/arena/how-to/provision-mcp-sandbox.md
  docs/src/content/docs/arena/reference/assertions.md
  docs/src/content/docs/reference/checks.md
  runtime/evals/handlers/handlers_test.go
  runtime/evals/handlers/register.go
  runtime/evals/handlers/tool_exec.go
  runtime/evals/handlers/tool_exec_test.go
  tools/arena/engine/builder_integration.go
Due: runtime

feat(arena): carry scenario metadata.labels through to JSON + HTML reports
  examples/guardrails-test/scenarios/guardrail-should-not-trigger.scenario.yaml
  examples/guardrails-test/scenarios/guardrail-should-trigger.scenario.yaml
  pkg/config/config_test.go
  pkg/config/loader.go
  pkg/config/types.go
  tools/arena/cmd/promptarena/run.go
  tools/arena/engine/engine_extended_test.go
  tools/arena/engine/execution.go
  tools/arena/engine/types.go
  tools/arena/render/html.go
  tools/arena/render/html_test.go
  tools/arena/render/templates/report.html.tmpl
  tools/arena/statestore/arena_store_test.go
  tools/arena/statestore/metadata.go
  tools/arena/statestore/store.go
Due: arena

chore(schemas): regenerate after adding Scenario.Labels
  schemas/v1alpha1/arena.json
  schemas/v1alpha1/scenario.json
Due: none

refactor(arena): use maps.Clone for label copies
  pkg/config/loader.go
  tools/arena/engine/execution.go
  tools/arena/render/html.go
  tools/arena/statestore/store.go
Due: arena

test(arena): trim labels round-trip tests to drop boilerplate
  pkg/config/config_test.go
  tools/arena/statestore/arena_store_test.go
Due: none

ci(sonar): exempt arena statestore.go from CPD
  sonar-project.properties
Due: none

feat(arena): carry scenario metadata.labels through to JSON + HTML reports (#1101)
  examples/guardrails-test/scenarios/guardrail-should-not-trigger.scenario.yaml
  examples/guardrails-test/scenarios/guardrail-should-trigger.scenario.yaml
  pkg/config/config_test.go
  pkg/config/loader.go
  pkg/config/types.go
  schemas/v1alpha1/arena.json
  schemas/v1alpha1/scenario.json
  sonar-project.properties
  tools/arena/cmd/promptarena/run.go
  tools/arena/engine/engine_extended_test.go
  tools/arena/engine/execution.go
  tools/arena/engine/types.go
  tools/arena/render/html.go
  tools/arena/render/html_test.go
  tools/arena/render/templates/report.html.tmpl
  tools/arena/statestore/arena_store_test.go
  tools/arena/statestore/metadata.go
  tools/arena/statestore/store.go
Due: arena

feat(benchmarks): codegen-eval methodology spike substrate
  benchmarks/codegen-eval/README.md
  benchmarks/codegen-eval/providers/claude-sonnet.provider.yaml
  benchmarks/codegen-eval/scenarios/go-add-bugfix.scenario.yaml
  benchmarks/codegen-eval/scenarios/go-binary-search.scenario.yaml
  benchmarks/codegen-eval/scenarios/go-counter-race.scenario.yaml
  benchmarks/codegen-eval/scenarios/go-fizzbuzz-order.scenario.yaml
  benchmarks/codegen-eval/scenarios/go-strings-reverse.scenario.yaml
  benchmarks/codegen-eval/skills/codegen-disciplined/SKILL.md
  benchmarks/codegen-eval/sonnet-baseline.arena.yaml
  benchmarks/codegen-eval/sonnet-disciplined.arena.yaml
Due: none

feat(benchmarks): codegen-eval methodology spike substrate (#1102)
  benchmarks/codegen-eval/README.md
  benchmarks/codegen-eval/providers/claude-sonnet.provider.yaml
  benchmarks/codegen-eval/scenarios/go-add-bugfix.scenario.yaml
  benchmarks/codegen-eval/scenarios/go-binary-search.scenario.yaml
  benchmarks/codegen-eval/scenarios/go-counter-race.scenario.yaml
  benchmarks/codegen-eval/scenarios/go-fizzbuzz-order.scenario.yaml
  benchmarks/codegen-eval/scenarios/go-strings-reverse.scenario.yaml
  benchmarks/codegen-eval/skills/codegen-disciplined/SKILL.md
  benchmarks/codegen-eval/sonnet-baseline.arena.yaml
  benchmarks/codegen-eval/sonnet-disciplined.arena.yaml
Due: none

feat(runtime): Fork() on mcp.Registry and tools.Registry
  runtime/mcp/registry.go
  runtime/mcp/registry_test.go
  runtime/tools/registry.go
  runtime/tools/registry_test.go
Due: runtime

fix(arena): per-run MCP registry isolation for concurrent source opens
  runtime/tools/mcp_executor.go
  tools/arena/engine/execution.go
  tools/arena/engine/execution_mcpsource.go
  tools/arena/engine/mcpsource_scope_integration_test.go
Due: runtime, arena

fix(arena): per-run MCP registry isolation for concurrent source-backed opens (#1103)
  runtime/mcp/registry.go
  runtime/mcp/registry_test.go
  runtime/tools/mcp_executor.go
  runtime/tools/registry.go
  runtime/tools/registry_test.go
  tools/arena/engine/execution.go
  tools/arena/engine/execution_mcpsource.go
  tools/arena/engine/mcpsource_scope_integration_test.go
Due: runtime, arena

feat(evals): tool_exec captures structured tool payloads via Details
  benchmarks/codegen-eval/README.md
  benchmarks/codegen-eval/scenarios/go-add-bugfix.scenario.yaml
  benchmarks/codegen-eval/scenarios/go-binary-search.scenario.yaml
  benchmarks/codegen-eval/scenarios/go-counter-race.scenario.yaml
  benchmarks/codegen-eval/scenarios/go-fizzbuzz-order.scenario.yaml
  benchmarks/codegen-eval/scenarios/go-strings-reverse.scenario.yaml
  benchmarks/codegen-eval/skills/codegen-metrics/SKILL.md
  benchmarks/codegen-eval/skills/codegen-metrics/scripts/diff_stats.sh
  benchmarks/codegen-eval/sonnet-baseline.arena.yaml
  benchmarks/codegen-eval/sonnet-disciplined.arena.yaml
  runtime/evals/handlers/tool_exec.go
  runtime/evals/handlers/tool_exec_test.go
  tools/arena/assertions/eval_adapter.go
Due: runtime, arena

refactor(arena): separate runtime evals from test-time assertions
  benchmarks/codegen-eval/README.md
  benchmarks/codegen-eval/scenarios/go-add-bugfix.scenario.yaml
  benchmarks/codegen-eval/scenarios/go-binary-search.scenario.yaml
  benchmarks/codegen-eval/scenarios/go-counter-race.scenario.yaml
  benchmarks/codegen-eval/scenarios/go-fizzbuzz-order.scenario.yaml
  benchmarks/codegen-eval/scenarios/go-strings-reverse.scenario.yaml
  benchmarks/codegen-eval/sonnet-baseline.arena.yaml
  benchmarks/codegen-eval/sonnet-disciplined.arena.yaml
  pkg/config/types.go
  schemas/v1alpha1/arena.json
  tools/arena/assertions/eval_adapter.go
  tools/arena/cmd/promptarena/run.go
  tools/arena/engine/builder_integration.go
  tools/arena/engine/conversation_executor.go
  tools/arena/engine/conversation_executor_test.go
  tools/arena/engine/duplex_executor_results_integration.go
  tools/arena/engine/eval_conversation_executor.go
  tools/arena/engine/eval_orchestrator.go
  tools/arena/engine/execution.go
  tools/arena/engine/interfaces.go
  tools/arena/engine/types.go
  tools/arena/statestore/metadata.go
  tools/arena/statestore/store.go
Due: arena

feat(arena/render): summary chips in result header + eval observations panel
  runtime/evals/handlers/tool_exec.go
  runtime/evals/handlers/tool_exec_test.go
  tools/arena/render/conversation_assertions_test.go
  tools/arena/render/html.go
  tools/arena/render/templates/report.html.tmpl
Due: runtime, arena

test(arena/render): cover eval rendering helpers
  tools/arena/render/eval_results_test.go
Due: none

feat(arena): separate runtime evals from test-time assertions + tool_exec value capture (#1104)
  benchmarks/codegen-eval/README.md
  benchmarks/codegen-eval/skills/codegen-metrics/SKILL.md
  benchmarks/codegen-eval/skills/codegen-metrics/scripts/diff_stats.sh
  benchmarks/codegen-eval/sonnet-baseline.arena.yaml
  benchmarks/codegen-eval/sonnet-disciplined.arena.yaml
  pkg/config/types.go
  runtime/evals/handlers/tool_exec.go
  runtime/evals/handlers/tool_exec_test.go
  schemas/v1alpha1/arena.json
  tools/arena/assertions/eval_adapter.go
  tools/arena/cmd/promptarena/run.go
  tools/arena/engine/builder_integration.go
  tools/arena/engine/conversation_executor.go
  tools/arena/engine/conversation_executor_test.go
  tools/arena/engine/duplex_executor_results_integration.go
  tools/arena/engine/eval_conversation_executor.go
  tools/arena/engine/eval_orchestrator.go
  tools/arena/engine/execution.go
  tools/arena/engine/interfaces.go
  tools/arena/engine/types.go
  tools/arena/render/conversation_assertions_test.go
  tools/arena/render/eval_results_test.go
  tools/arena/render/html.go
  tools/arena/render/templates/report.html.tmpl
  tools/arena/statestore/metadata.go
  tools/arena/statestore/store.go
Due: runtime, arena

docs(arena): make mock_template discoverable + voice-refund-demo branches on order_id
  .claude/skills/arena-example/SKILL.md
  docs/src/content/docs/arena/reference/config-schema.md
  docs/src/content/docs/arena/reference/index.md
  docs/src/content/docs/arena/reference/tool-authoring.md
  examples/voice-refund-demo/README.md
  examples/voice-refund-demo/personas/patient-customer.persona.yaml
  examples/voice-refund-demo/tools/check-warranty-status.tool.yaml
  examples/voice-refund-demo/tools/issue-refund.tool.yaml
  examples/voice-refund-demo/tools/lookup-order.tool.yaml
  pkg/config/types.go
  schemas/v1alpha1/arena.json
  schemas/v1alpha1/runtime-config.json
  schemas/v1alpha1/tool.json
Due: none

fix(arena/web): dark mode header dropdowns + Start button text
  tools/arena/web/frontend/src/App.tsx
  tools/arena/web/frontend/src/components/A2AAgentsPanel.tsx
  tools/arena/web/frontend/src/components/AssertionsPanel.tsx
  tools/arena/web/frontend/src/components/ConversationPlayer.tsx
  tools/arena/web/frontend/src/components/ConversationThread.tsx
  tools/arena/web/frontend/src/components/EmptyStateLauncher.tsx
  tools/arena/web/frontend/src/components/EvalsPanel.tsx
  tools/arena/web/frontend/src/components/HistoricalResults.tsx
  tools/arena/web/frontend/src/components/MediaOutputsPanel.tsx
  tools/arena/web/frontend/src/components/RunControls.tsx
  tools/arena/web/frontend/src/components/RunDetail.tsx
  tools/arena/web/frontend/src/components/RunProgress.tsx
  tools/arena/web/frontend/src/components/SummaryCards.tsx
  tools/arena/web/frontend/src/components/TrialResultsPanel.tsx
  tools/arena/web/frontend/src/index.css
Due: arena

fix(arena/web): start-run nav, system prompt streaming, broken padding
  tools/arena/stages/statestore_save_integration.go
  tools/arena/web/frontend/src/App.tsx
  tools/arena/web/frontend/src/components/A2AAgentsPanel.tsx
  tools/arena/web/frontend/src/components/AssertionsPanel.tsx
  tools/arena/web/frontend/src/components/ConversationPlayer.tsx
  tools/arena/web/frontend/src/components/ConversationThread.tsx
  tools/arena/web/frontend/src/components/EmptyStateLauncher.tsx
  tools/arena/web/frontend/src/components/EvalsPanel.tsx
  tools/arena/web/frontend/src/components/HistoricalResults.tsx
  tools/arena/web/frontend/src/components/MediaOutputsPanel.tsx
  tools/arena/web/frontend/src/components/RunDetail.tsx
  tools/arena/web/frontend/src/components/RunProgress.tsx
  tools/arena/web/frontend/src/components/SummaryCards.tsx
  tools/arena/web/frontend/src/components/TrialResultsPanel.tsx
Due: arena

fix(ci): regen package-lock.json + restore frontend/dist/.gitkeep
  tools/arena/web/frontend/dist/.gitkeep
  tools/arena/web/frontend/package-lock.json
Due: arena

fix(arena/web): hydrate Previous Runs from every JSON file, not index.json
  tools/arena/web/server.go
  tools/arena/web/server_loader_integration.go
Due: arena

feat(arena/web): sortable headers + pagination on Previous Runs
  tools/arena/web/frontend/dist/.gitkeep
  tools/arena/web/frontend/src/components/HistoricalResults.tsx
Due: arena

Path conditions:
  runtime: any of: runtime/, but not: **/*_test.go, **/*_interactive.go, **/*_integration.go, examples/, docs/, scripts/, .github/, *.md
  sdk: any of: sdk/, but not: **/*_test.go, **/*_interactive.go, **/*_integration.go, examples/, docs/, scripts/, .github/, *.md
  arena: any of: tools/arena/, but not: **/*_test.go, **/*_interactive.go, **/*_integration.go, examples/, docs/, scripts/, .github/, *.md
  packc: any of: tools/packc/, but not: **/*_test.go, **/*_interactive.go, **/*_integration.go, examples/, docs/, scripts/, .github/, *.md
  inspect-state: any of: tools/inspect-state/, but not: **/*_test.go, **/*_interactive.go, **/*_integration.go, examples/, docs/, scripts/, .github/, *.md
