Repository AltairaLabs/PromptKit: changes, and which Codecov flags are due for each by the changed paths.
All: runtime, sdk, arena, packc, inspect-state

codecov.yml:

codecov:
  require_ci_to_pass: yes
  notify:
    wait_for_ci: yes

coverage:
  precision: 2
  round: down
  range: "70...100"
  
  status:
    project:
      default:
        target: 70%
        threshold: 1%
        if_ci_failed: error
    patch:
      default:
        target: 70%
        threshold: 1%
        if_ci_failed: error

comment:
  layout: "reach,diff,flags,tree"
  behavior: default
  require_changes: false

flags:
  runtime:
    paths:
      - runtime/
  sdk:
    paths:
      - sdk/
  arena:
    paths:
      - tools/arena/
  packc:
    paths:
      - tools/packc/
  inspect-state:
    paths:
      - tools/inspect-state/

ignore:
  - "**/*_test.go"
  - "**/*_interactive.go"
  - "**/*_integration.go"
  - "examples/"
  - "docs/"
  - "scripts/"
  - ".github/"
  - "*.md"

refactor: Claude and Gemini share BaseProvider's unsupported-params set
  docs/src/content/docs/runtime/reference/providers.md
  runtime/providers/claude/claude.go
  runtime/providers/claude/claude_adaptive_thinking_test.go
  runtime/providers/claude/claude_tools.go
  runtime/providers/claude/request_golden_test.go
  runtime/providers/gemini/gemini.go
  runtime/providers/gemini/gemini_tools.go
  runtime/providers/gemini/unsupported_params_test.go
  runtime/providers/rejected_params.go
  runtime/providers/rejected_params_test.go
Due: runtime

refactor: providers share one logging-context helper
  docs/src/content/docs/runtime/reference/providers.md
  runtime/providers/base_provider.go
  runtime/providers/claude/claude.go
  runtime/providers/claude/claude_streaming.go
  runtime/providers/gemini/gemini.go
  runtime/providers/gemini/gemini_streaming.go
  runtime/providers/ollama/ollama.go
  runtime/providers/ollama/ollama_tools.go
  runtime/providers/openai/openai.go
  runtime/providers/openai/openai_responses_integration.go
  runtime/providers/vllm/vllm.go
Due: runtime

feat(runtime): RFC 0017 call-site rules live in runtime/prompt
  runtime/prompt/call_sites.go
  runtime/prompt/call_sites_test.go
  sdk/provider_refs.go
  sdk/provider_refs_test.go
Due: runtime, sdk

refactor: break the remaining duplicated blocks
  docs/src/content/docs/runtime/reference/providers.md
  runtime/providers/claude/claude.go
  runtime/providers/gemini/gemini.go
  runtime/providers/provider_contract_integration.go
Due: runtime

fix: media settings are per conversation; Claude and Gemini stop sending media-less messages
  docs/src/content/docs/runtime/reference/providers.md
  docs/src/content/docs/sdk/reference/conversation-manager.md
  runtime/providers/base_provider.go
  runtime/providers/claude/claude.go
  runtime/providers/claude/claude_integration_test.go
  runtime/providers/claude/claude_streaming.go
  runtime/providers/claude/claude_tools.go
  runtime/providers/conformance/media_scoped_test.go
  runtime/providers/gemini/gemini.go
  runtime/providers/gemini/gemini_helpers_test.go
  runtime/providers/gemini/gemini_streaming.go
  runtime/providers/gemini/gemini_test.go
  runtime/providers/gemini/gemini_tools.go
  runtime/providers/ollama/ollama.go
  runtime/providers/ollama/ollama_tools.go
  runtime/providers/openai/openai.go
  runtime/providers/openai/openai_tools.go
  runtime/providers/registry.go
  sdk/media_storage_test.go
  sdk/private_network_media_test.go
  sdk/sdk.go
Due: runtime, sdk

docs: upgrade note for per-conversation media settings
  docs/src/content/docs/reference/upgrade-notes.md
Due: none

feat(runtime): RFC 0017 call-site rules live in runtime/prompt (#2225)
  runtime/prompt/call_sites.go
  runtime/prompt/call_sites_test.go
  sdk/provider_refs.go
  sdk/provider_refs_test.go
Due: runtime, sdk

test: in-package coverage for media views and the media error path
  runtime/providers/base_provider_mediastore_test.go
  runtime/providers/claude/media_error_test.go
  runtime/providers/claude/media_scoped_test.go
  runtime/providers/gemini/media_error_test.go
  runtime/providers/gemini/media_scoped_test.go
  runtime/providers/ollama/media_scoped_test.go
  runtime/providers/openai/media_scoped_test.go
Due: none

fix: media settings are per conversation; Claude and Gemini stop sending media-less messages (#2226)
  docs/src/content/docs/reference/upgrade-notes.md
  docs/src/content/docs/runtime/reference/providers.md
  docs/src/content/docs/sdk/reference/conversation-manager.md
  runtime/providers/base_provider.go
  runtime/providers/base_provider_mediastore_test.go
  runtime/providers/claude/claude.go
  runtime/providers/claude/claude_integration_test.go
  runtime/providers/claude/claude_streaming.go
  runtime/providers/claude/claude_tools.go
  runtime/providers/claude/media_error_test.go
  runtime/providers/claude/media_scoped_test.go
  runtime/providers/conformance/media_scoped_test.go
  runtime/providers/gemini/gemini.go
  runtime/providers/gemini/gemini_helpers_test.go
  runtime/providers/gemini/gemini_streaming.go
  runtime/providers/gemini/gemini_test.go
  runtime/providers/gemini/gemini_tools.go
  runtime/providers/gemini/media_error_test.go
  runtime/providers/gemini/media_scoped_test.go
  runtime/providers/ollama/media_scoped_test.go
  runtime/providers/ollama/ollama.go
  runtime/providers/ollama/ollama_tools.go
  runtime/providers/openai/media_scoped_test.go
  runtime/providers/openai/openai.go
  runtime/providers/openai/openai_tools.go
  runtime/providers/registry.go
  sdk/media_storage_test.go
  sdk/private_network_media_test.go
  sdk/sdk.go
Due: runtime, sdk
