Repository AltairaLabs/PromptKit: changes, and which Codecov flags are due for each by the changed paths.
All: runtime, sdk, arena, packc, inspect-state

feat: add all Arena web UI components (summary, progress, conversation, assertions, devtools)
  tools/arena/web/frontend/src/components/AssertionsPanel.tsx
  tools/arena/web/frontend/src/components/ConversationThread.tsx
  tools/arena/web/frontend/src/components/DevToolsPanel.tsx
  tools/arena/web/frontend/src/components/RunProgress.tsx
  tools/arena/web/frontend/src/components/SummaryCards.tsx
Due: arena

feat: Arena web UI — React frontend, result loading, docs
  .gitignore
  docs/src/content/docs/arena/reference/cli-commands.md
  docs/src/content/docs/arena/reference/output-formats.md
  tools/arena/cmd/promptarena/serve_interactive.go
  tools/arena/statestore/store.go
  tools/arena/web/frontend/.gitignore
  tools/arena/web/frontend/src/App.tsx
  tools/arena/web/frontend/src/components/DevToolsPanel.tsx
  tools/arena/web/frontend/src/components/RunDetail.tsx
  tools/arena/web/frontend/src/components/RunProgress.tsx
  tools/arena/web/frontend/src/hooks/useArenaAPI.ts
  tools/arena/web/server.go
  tools/arena/web/server_test.go
Due: arena

chore: trigger CI
  docs/local-backlog/implemented/ARENA_WEB_UI_PROPOSAL.md
Due: none

fix: blank screen on Start Run, use report logo, fix dark theme styling
  tools/arena/web/frontend/src/App.tsx
  tools/arena/web/frontend/src/components/Layout.tsx
  tools/arena/web/frontend/src/components/RunProgress.tsx
  tools/arena/web/frontend/src/components/ui/card.tsx
Due: arena

chore: add package doc comment to trigger CI
  tools/arena/web/server.go
Due: arena

fix: restyle Arena web UI to match altairalabs-web design system
  tools/arena/web/frontend/src/hooks/useArenaEvents.ts
Due: arena

fix: restyle to light theme matching altairalabs-web
  tools/arena/web/frontend/src/App.tsx
  tools/arena/web/frontend/src/components/Layout.tsx
  tools/arena/web/frontend/src/components/RunDetail.tsx
  tools/arena/web/frontend/src/components/RunProgress.tsx
  tools/arena/web/frontend/src/components/ScenarioMatrix.tsx
  tools/arena/web/frontend/src/components/SummaryCards.tsx
  tools/arena/web/frontend/src/index.css
Due: arena

feat: load existing results on startup, compact results table
  tools/arena/cmd/promptarena/serve_interactive.go
  tools/arena/web/frontend/src/App.tsx
  tools/arena/web/frontend/src/components/ScenarioMatrix.tsx
Due: arena

feat: add TypeScript types, SSE/API hooks, and layout shell
  tools/arena/web/frontend/src/App.tsx
  tools/arena/web/frontend/src/components/Layout.tsx
  tools/arena/web/frontend/src/components/RunProgress.tsx
  tools/arena/web/frontend/src/components/SummaryCards.tsx
  tools/arena/web/frontend/src/hooks/useArenaAPI.ts
  tools/arena/web/frontend/src/hooks/useArenaEvents.ts
  tools/arena/web/frontend/src/types.ts
Due: arena

fix: restyle Arena web UI to match altairalabs-web design system
  tools/arena/web/frontend/src/App.tsx
  tools/arena/web/frontend/src/components/Layout.tsx
  tools/arena/web/frontend/src/components/RunProgress.tsx
  tools/arena/web/frontend/src/components/SummaryCards.tsx
Due: arena

feat: scaffold Arena web UI with Vite + React + shadcn/ui
  tools/arena/web/frontend/.gitignore
  tools/arena/web/frontend/components.json
  tools/arena/web/frontend/package-lock.json
  tools/arena/web/frontend/package.json
  tools/arena/web/frontend/src/App.tsx
  tools/arena/web/frontend/src/components/ui/badge.tsx
  tools/arena/web/frontend/src/components/ui/button.tsx
  tools/arena/web/frontend/src/components/ui/card.tsx
  tools/arena/web/frontend/src/components/ui/collapsible.tsx
  tools/arena/web/frontend/src/components/ui/scroll-area.tsx
  tools/arena/web/frontend/src/components/ui/separator.tsx
  tools/arena/web/frontend/src/components/ui/table.tsx
  tools/arena/web/frontend/src/components/ui/tabs.tsx
  tools/arena/web/frontend/src/index.css
  tools/arena/web/frontend/src/lib/utils.ts
  tools/arena/web/frontend/src/main.tsx
  tools/arena/web/frontend/src/vite-env.d.ts
  tools/arena/web/frontend/tsconfig.app.json
  tools/arena/web/frontend/tsconfig.json
  tools/arena/web/frontend/vite.config.ts
Due: arena

fix: go:embed works without built frontend
  tools/arena/web/embed.go
  tools/arena/web/frontend/.gitignore
  tools/arena/web/frontend/dist/.gitkeep
Due: arena

fix: improve test coverage for SonarCloud quality gate
  tools/arena/cmd/promptarena/serve_interactive.go
  tools/arena/statestore/store_unit_test.go
  tools/arena/web/frontend/src/hooks/useArenaEvents.ts
  tools/arena/web/frontend/vite.config.ts
  tools/arena/web/server.go
  tools/arena/web/server_test.go
Due: arena

chore: Arena web UI cleanup
  Makefile
  tools/arena/web/frontend/index.html
  tools/arena/web/frontend/src/App.tsx
  tools/arena/web/frontend/src/components/DevToolsPanel.tsx
  tools/arena/web/frontend/src/components/ScenarioMatrix.tsx
Due: arena

chore: Arena web UI cleanup (#816)
  Makefile
  tools/arena/web/frontend/index.html
  tools/arena/web/frontend/src/App.tsx
  tools/arena/web/frontend/src/components/DevToolsPanel.tsx
  tools/arena/web/frontend/src/components/ScenarioMatrix.tsx
Due: arena

fix: Claude provider sends tool_choice "none" as tool name
  examples/capability-matrix/mock-responses.yaml
  runtime/providers/claude/claude_tools.go
  runtime/providers/claude/claude_tools_test.go
Due: runtime

chore: remove retired Claude 3.7 Sonnet from capability matrix
  examples/capability-matrix/providers/anthropic-sonnet37.provider.yaml
Due: none

feat: add Claude Opus 4.6 and Sonnet 4.6 to capability matrix
  examples/capability-matrix/config.arena.yaml
  examples/capability-matrix/providers/anthropic-opus46.provider.yaml
  examples/capability-matrix/providers/anthropic-sonnet46.provider.yaml
  examples/capability-matrix/scripts/generate-matrix.sh
Due: none

feat: add GPT-5.x family to capability matrix
  examples/capability-matrix/config.arena.yaml
  examples/capability-matrix/providers/openai-gpt5.provider.yaml
Due: none

feat: config-driven unsupported_params for provider models
  pkg/config/types.go
  runtime/providers/openai/openai.go
  runtime/providers/openai/openai_contract_test.go
  runtime/providers/openai/openai_helpers_test.go
  runtime/providers/openai/openai_multimodal_tools_test.go
  runtime/providers/openai/openai_responses_integration.go
  runtime/providers/openai/openai_tools.go
  runtime/providers/openai/openai_tools_integration_test.go
  runtime/providers/openai/openai_tools_test.go
  runtime/providers/registry.go
  sdk/internal/provider/detect.go
  sdk/runtime_config.go
  tools/arena/engine/builder_integration.go
Due: runtime, sdk

feat: add unsupported_params to GPT-5 configs, regenerate schemas
  examples/capability-matrix/config.arena.yaml
  examples/capability-matrix/providers/openai-gpt5-mini.provider.yaml
  examples/capability-matrix/providers/openai-gpt5-nano.provider.yaml
  examples/capability-matrix/providers/openai-gpt5-pro.provider.yaml
  examples/capability-matrix/providers/openai-gpt5.provider.yaml
  examples/capability-matrix/providers/openai-gpt52-pro.provider.yaml
  schemas/v1alpha1/arena.json
  schemas/v1alpha1/provider.json
  schemas/v1alpha1/runtime-config.json
Due: none

fix: reduce constructor duplication and parameter count
  runtime/providers/openai/openai.go
  runtime/providers/openai/openai_tools.go
Due: runtime

feat: config-driven unsupported_params for provider models (#818)
  examples/capability-matrix/config.arena.yaml
  examples/capability-matrix/mock-responses.yaml
  examples/capability-matrix/providers/anthropic-opus46.provider.yaml
  examples/capability-matrix/providers/anthropic-sonnet46.provider.yaml
  examples/capability-matrix/providers/openai-gpt5-mini.provider.yaml
  examples/capability-matrix/providers/openai-gpt5-nano.provider.yaml
  examples/capability-matrix/providers/openai-gpt5-pro.provider.yaml
  examples/capability-matrix/providers/openai-gpt52-pro.provider.yaml
  examples/capability-matrix/scripts/generate-matrix.sh
  pkg/config/types.go
  runtime/providers/claude/claude_tools.go
  runtime/providers/claude/claude_tools_test.go
  runtime/providers/openai/openai.go
  runtime/providers/openai/openai_contract_test.go
  runtime/providers/openai/openai_helpers_test.go
  runtime/providers/openai/openai_multimodal_tools_test.go
  runtime/providers/openai/openai_responses_integration.go
  runtime/providers/openai/openai_tools.go
  runtime/providers/openai/openai_tools_integration_test.go
  runtime/providers/openai/openai_tools_test.go
  runtime/providers/registry.go
  schemas/v1alpha1/arena.json
  schemas/v1alpha1/provider.json
  schemas/v1alpha1/runtime-config.json
  sdk/internal/provider/detect.go
  sdk/runtime_config.go
  tools/arena/engine/builder_integration.go
Due: runtime, sdk

chore: optimize capability matrix for cost
  examples/capability-matrix/providers/anthropic-haiku45.provider.yaml
  examples/capability-matrix/providers/anthropic-opus4.provider.yaml
  examples/capability-matrix/providers/anthropic-opus41.provider.yaml
  examples/capability-matrix/providers/anthropic-opus45.provider.yaml
  examples/capability-matrix/providers/anthropic-opus46.provider.yaml
  examples/capability-matrix/providers/anthropic-sonnet4.provider.yaml
  examples/capability-matrix/providers/anthropic-sonnet45.provider.yaml
  examples/capability-matrix/providers/anthropic-sonnet46.provider.yaml
  examples/capability-matrix/providers/gemini-20-flash-lite.provider.yaml
  examples/capability-matrix/providers/gemini-20-flash.provider.yaml
  examples/capability-matrix/providers/gemini-25-flash-lite.provider.yaml
  examples/capability-matrix/providers/gemini-25-flash.provider.yaml
  examples/capability-matrix/providers/gemini-25-pro.provider.yaml
  examples/capability-matrix/providers/gemini-3-flash.provider.yaml
  examples/capability-matrix/providers/gemini-3-pro.provider.yaml
  examples/capability-matrix/providers/openai-gpt41-mini.provider.yaml
  examples/capability-matrix/providers/openai-gpt41-nano.provider.yaml
  examples/capability-matrix/providers/openai-gpt41.provider.yaml
  examples/capability-matrix/providers/openai-gpt4o-audio.provider.yaml
  examples/capability-matrix/providers/openai-gpt4o-mini-audio.provider.yaml
  examples/capability-matrix/providers/openai-gpt4o-mini.provider.yaml
  examples/capability-matrix/providers/openai-gpt4o.provider.yaml
  examples/capability-matrix/providers/openai-gpt5-mini.provider.yaml
  examples/capability-matrix/providers/openai-gpt5-nano.provider.yaml
  examples/capability-matrix/providers/openai-gpt5-pro.provider.yaml
  examples/capability-matrix/providers/openai-gpt5.provider.yaml
  examples/capability-matrix/providers/openai-gpt51.provider.yaml
  examples/capability-matrix/providers/openai-gpt52-pro.provider.yaml
  examples/capability-matrix/providers/openai-gpt52.provider.yaml
  examples/capability-matrix/providers/openai-o1-pro.provider.yaml
  examples/capability-matrix/providers/openai-o1.provider.yaml
  examples/capability-matrix/providers/openai-o3-mini.provider.yaml
  examples/capability-matrix/providers/openai-o3.provider.yaml
  examples/capability-matrix/providers/openai-o4-mini.provider.yaml
  examples/capability-matrix/scenarios/streaming-tools-vision.scenario.yaml
  examples/capability-matrix/scenarios/streaming-tools.scenario.yaml
  examples/capability-matrix/scenarios/streaming-vision.scenario.yaml
  examples/capability-matrix/scenarios/tools-vision.scenario.yaml
Due: none

fix: align capability matrix configs with actual model capabilities
  examples/capability-matrix/config.arena.yaml
  examples/capability-matrix/providers/openai-gpt5-mini.provider.yaml
  examples/capability-matrix/providers/openai-gpt5-nano.provider.yaml
  examples/capability-matrix/providers/openai-gpt5-pro.provider.yaml
  examples/capability-matrix/providers/openai-gpt5.provider.yaml
  examples/capability-matrix/providers/openai-gpt51.provider.yaml
  examples/capability-matrix/providers/openai-gpt52-pro.provider.yaml
  examples/capability-matrix/providers/openai-gpt52.provider.yaml
  examples/capability-matrix/providers/openai-o1-pro.provider.yaml
  examples/capability-matrix/providers/openai-o1.provider.yaml
Due: none

chore: optimize capability matrix — cost reduction and capability alignment (#819)
  examples/capability-matrix/config.arena.yaml
  examples/capability-matrix/providers/anthropic-haiku45.provider.yaml
  examples/capability-matrix/providers/anthropic-opus4.provider.yaml
  examples/capability-matrix/providers/anthropic-opus41.provider.yaml
  examples/capability-matrix/providers/anthropic-opus45.provider.yaml
  examples/capability-matrix/providers/anthropic-opus46.provider.yaml
  examples/capability-matrix/providers/anthropic-sonnet4.provider.yaml
  examples/capability-matrix/providers/anthropic-sonnet45.provider.yaml
  examples/capability-matrix/providers/anthropic-sonnet46.provider.yaml
  examples/capability-matrix/providers/gemini-20-flash-lite.provider.yaml
  examples/capability-matrix/providers/gemini-20-flash.provider.yaml
  examples/capability-matrix/providers/gemini-25-flash-lite.provider.yaml
  examples/capability-matrix/providers/gemini-25-flash.provider.yaml
  examples/capability-matrix/providers/gemini-25-pro.provider.yaml
  examples/capability-matrix/providers/gemini-3-flash.provider.yaml
  examples/capability-matrix/providers/gemini-3-pro.provider.yaml
  examples/capability-matrix/providers/openai-gpt41-mini.provider.yaml
  examples/capability-matrix/providers/openai-gpt41-nano.provider.yaml
  examples/capability-matrix/providers/openai-gpt41.provider.yaml
  examples/capability-matrix/providers/openai-gpt4o-audio.provider.yaml
  examples/capability-matrix/providers/openai-gpt4o-mini-audio.provider.yaml
  examples/capability-matrix/providers/openai-gpt4o-mini.provider.yaml
  examples/capability-matrix/providers/openai-gpt4o.provider.yaml
  examples/capability-matrix/providers/openai-gpt5-mini.provider.yaml
  examples/capability-matrix/providers/openai-gpt5-nano.provider.yaml
  examples/capability-matrix/providers/openai-gpt5-pro.provider.yaml
  examples/capability-matrix/providers/openai-gpt5.provider.yaml
  examples/capability-matrix/providers/openai-gpt51.provider.yaml
  examples/capability-matrix/providers/openai-gpt52-pro.provider.yaml
  examples/capability-matrix/providers/openai-gpt52.provider.yaml
  examples/capability-matrix/providers/openai-o1-pro.provider.yaml
  examples/capability-matrix/providers/openai-o1.provider.yaml
  examples/capability-matrix/providers/openai-o3-mini.provider.yaml
  examples/capability-matrix/providers/openai-o3.provider.yaml
  examples/capability-matrix/providers/openai-o4-mini.provider.yaml
  examples/capability-matrix/scenarios/streaming-tools-vision.scenario.yaml
  examples/capability-matrix/scenarios/streaming-tools.scenario.yaml
  examples/capability-matrix/scenarios/streaming-vision.scenario.yaml
  examples/capability-matrix/scenarios/tools-vision.scenario.yaml
Due: none

feat: add Provider Capability Matrix CI workflow
  .github/workflows/capability-matrix.yml
  README.md
Due: none

feat: add Provider Capability Matrix CI workflow (#820)
  .github/workflows/capability-matrix.yml
  README.md
Due: none

fix: add JUnit output and test reporter to capability matrix workflow
  .github/workflows/capability-matrix.yml
Due: none

fix: add JUnit output and test reporter to capability matrix workflow (#821)
  .github/workflows/capability-matrix.yml
Due: none

chore: raise capability matrix error threshold to 8
  .github/workflows/capability-matrix.yml
Due: none

fix: raise capability matrix max_tokens from 50 to 100
  examples/capability-matrix/providers/anthropic-haiku45.provider.yaml
  examples/capability-matrix/providers/anthropic-opus4.provider.yaml
  examples/capability-matrix/providers/anthropic-opus41.provider.yaml
  examples/capability-matrix/providers/anthropic-opus45.provider.yaml
  examples/capability-matrix/providers/anthropic-opus46.provider.yaml
  examples/capability-matrix/providers/anthropic-sonnet4.provider.yaml
  examples/capability-matrix/providers/anthropic-sonnet45.provider.yaml
  examples/capability-matrix/providers/anthropic-sonnet46.provider.yaml
  examples/capability-matrix/providers/gemini-20-flash-lite.provider.yaml
  examples/capability-matrix/providers/gemini-20-flash.provider.yaml
  examples/capability-matrix/providers/gemini-25-flash-lite.provider.yaml
  examples/capability-matrix/providers/gemini-25-flash.provider.yaml
  examples/capability-matrix/providers/gemini-25-pro.provider.yaml
  examples/capability-matrix/providers/gemini-3-flash.provider.yaml
  examples/capability-matrix/providers/gemini-3-pro.provider.yaml
  examples/capability-matrix/providers/mock.provider.yaml
  examples/capability-matrix/providers/ollama-llama32-3b.provider.yaml
  examples/capability-matrix/providers/openai-gpt41-mini.provider.yaml
  examples/capability-matrix/providers/openai-gpt41-nano.provider.yaml
  examples/capability-matrix/providers/openai-gpt41.provider.yaml
  examples/capability-matrix/providers/openai-gpt4o-audio.provider.yaml
  examples/capability-matrix/providers/openai-gpt4o-mini-audio.provider.yaml
  examples/capability-matrix/providers/openai-gpt4o-mini.provider.yaml
  examples/capability-matrix/providers/openai-gpt4o.provider.yaml
  examples/capability-matrix/providers/openai-gpt5-mini.provider.yaml
  examples/capability-matrix/providers/openai-gpt5-nano.provider.yaml
  examples/capability-matrix/providers/openai-gpt5-pro.provider.yaml
  examples/capability-matrix/providers/openai-gpt5.provider.yaml
  examples/capability-matrix/providers/openai-gpt51.provider.yaml
  examples/capability-matrix/providers/openai-gpt52-pro.provider.yaml
  examples/capability-matrix/providers/openai-gpt52.provider.yaml
  examples/capability-matrix/providers/openai-o1-pro.provider.yaml
  examples/capability-matrix/providers/openai-o1.provider.yaml
  examples/capability-matrix/providers/openai-o3-mini.provider.yaml
  examples/capability-matrix/providers/openai-o3.provider.yaml
  examples/capability-matrix/providers/openai-o4-mini.provider.yaml
Due: none

fix: raise capability matrix max_tokens from 50 to 100 (#826)
  examples/capability-matrix/providers/anthropic-haiku45.provider.yaml
  examples/capability-matrix/providers/anthropic-opus4.provider.yaml
  examples/capability-matrix/providers/anthropic-opus41.provider.yaml
  examples/capability-matrix/providers/anthropic-opus45.provider.yaml
  examples/capability-matrix/providers/anthropic-opus46.provider.yaml
  examples/capability-matrix/providers/anthropic-sonnet4.provider.yaml
  examples/capability-matrix/providers/anthropic-sonnet45.provider.yaml
  examples/capability-matrix/providers/anthropic-sonnet46.provider.yaml
  examples/capability-matrix/providers/gemini-20-flash-lite.provider.yaml
  examples/capability-matrix/providers/gemini-20-flash.provider.yaml
  examples/capability-matrix/providers/gemini-25-flash-lite.provider.yaml
  examples/capability-matrix/providers/gemini-25-flash.provider.yaml
  examples/capability-matrix/providers/gemini-25-pro.provider.yaml
  examples/capability-matrix/providers/gemini-3-flash.provider.yaml
  examples/capability-matrix/providers/gemini-3-pro.provider.yaml
  examples/capability-matrix/providers/mock.provider.yaml
  examples/capability-matrix/providers/ollama-llama32-3b.provider.yaml
  examples/capability-matrix/providers/openai-gpt41-mini.provider.yaml
  examples/capability-matrix/providers/openai-gpt41-nano.provider.yaml
  examples/capability-matrix/providers/openai-gpt41.provider.yaml
  examples/capability-matrix/providers/openai-gpt4o-audio.provider.yaml
  examples/capability-matrix/providers/openai-gpt4o-mini-audio.provider.yaml
  examples/capability-matrix/providers/openai-gpt4o-mini.provider.yaml
  examples/capability-matrix/providers/openai-gpt4o.provider.yaml
  examples/capability-matrix/providers/openai-gpt5-mini.provider.yaml
  examples/capability-matrix/providers/openai-gpt5-nano.provider.yaml
  examples/capability-matrix/providers/openai-gpt5-pro.provider.yaml
  examples/capability-matrix/providers/openai-gpt5.provider.yaml
  examples/capability-matrix/providers/openai-gpt51.provider.yaml
  examples/capability-matrix/providers/openai-gpt52-pro.provider.yaml
  examples/capability-matrix/providers/openai-gpt52.provider.yaml
  examples/capability-matrix/providers/openai-o1-pro.provider.yaml
  examples/capability-matrix/providers/openai-o1.provider.yaml
  examples/capability-matrix/providers/openai-o3-mini.provider.yaml
  examples/capability-matrix/providers/openai-o3.provider.yaml
  examples/capability-matrix/providers/openai-o4-mini.provider.yaml
Due: none

feat: add Gemini 3 Pro and Flash to capability matrix
  examples/capability-matrix/config.arena.yaml
  examples/capability-matrix/providers/gemini-3-flash.provider.yaml
  examples/capability-matrix/providers/gemini-3-pro.provider.yaml
Due: none

feat: add Gemini 3 Pro and Flash to capability matrix (#827)
  examples/capability-matrix/config.arena.yaml
  examples/capability-matrix/providers/gemini-3-flash.provider.yaml
  examples/capability-matrix/providers/gemini-3-pro.provider.yaml
Due: none

fix: add audio modalities to ToolProvider buildToolRequest
  runtime/providers/openai/openai_tools.go
  runtime/providers/openai/openai_tools_test.go
Due: runtime

fix: add audio modalities to ToolProvider buildToolRequest (#828)
  runtime/providers/openai/openai_tools.go
  runtime/providers/openai/openai_tools_test.go
Due: runtime

feat: coerce string-encoded tool args to match schema types
  runtime/tools/registry.go
  runtime/tools/validator.go
  runtime/tools/validator_test.go
Due: runtime

feat: coerce string-encoded tool args to match schema types (#830)
  runtime/tools/registry.go
  runtime/tools/validator.go
  runtime/tools/validator_test.go
Due: runtime

Path conditions:
  runtime: any of: runtime/, but not: **/*_test.go, **/*_interactive.go, **/*_integration.go, examples/, docs/, scripts/, .github/, *.md
  sdk: any of: sdk/, but not: **/*_test.go, **/*_interactive.go, **/*_integration.go, examples/, docs/, scripts/, .github/, *.md
  arena: any of: tools/arena/, but not: **/*_test.go, **/*_interactive.go, **/*_integration.go, examples/, docs/, scripts/, .github/, *.md
  packc: any of: tools/packc/, but not: **/*_test.go, **/*_interactive.go, **/*_integration.go, examples/, docs/, scripts/, .github/, *.md
  inspect-state: any of: tools/inspect-state/, but not: **/*_test.go, **/*_interactive.go, **/*_integration.go, examples/, docs/, scripts/, .github/, *.md
