Repository AltairaLabs/PromptKit: changes, and which Codecov flags are due for each by the changed paths.
All: runtime, sdk, arena, packc, inspect-state

codecov.yml:

codecov:
  require_ci_to_pass: yes
  notify:
    wait_for_ci: yes

coverage:
  precision: 2
  round: down
  range: "70...100"
  
  status:
    project:
      default:
        target: 70%
        threshold: 1%
        if_ci_failed: error
    patch:
      default:
        target: 70%
        threshold: 1%
        if_ci_failed: error

comment:
  layout: "reach,diff,flags,tree"
  behavior: default
  require_changes: false

flags:
  runtime:
    paths:
      - runtime/
  sdk:
    paths:
      - sdk/
  arena:
    paths:
      - tools/arena/
  packc:
    paths:
      - tools/packc/
  inspect-state:
    paths:
      - tools/inspect-state/

ignore:
  - "**/*_test.go"
  - "**/*_interactive.go"
  - "**/*_integration.go"
  - "examples/"
  - "docs/"
  - "scripts/"
  - ".github/"
  - "*.md"

docs(concepts): document workflow control: user|agent property
  docs/src/content/docs/concepts/state-management.md
Due: none

test(arena/web): fix data race in TestStartRun_PersistsEachRunBeforeExecuteRunsReturns (#1187)
  tools/arena/web/server_test.go
Due: none

feat(examples/workflow-router): control: agent demo with multi-transition turns (#1186)
  examples/workflow-router/README.md
  examples/workflow-router/config.arena.yaml
  examples/workflow-router/mock-responses.yaml
  examples/workflow-router/prompts/billing.yaml
  examples/workflow-router/prompts/routed.yaml
  examples/workflow-router/prompts/technical.yaml
  examples/workflow-router/prompts/triage.yaml
  examples/workflow-router/providers/mock-provider.yaml
  examples/workflow-router/scenarios/route-to-billing.scenario.yaml
  examples/workflow-router/scenarios/route-to-technical.scenario.yaml
  runtime/prompt/schema/promptpack.schema.json
Due: runtime

feat(sdk/workflow): wire control: agent for multi-transition Sends
  sdk/workflow.go
  sdk/workflow_test.go
Due: sdk

refactor(sdk/workflow): dedupe applyTransition and reconcileActiveConv
  sdk/workflow.go
Due: sdk

docs(concepts): document workflow control: user|agent property (#1189)
  docs/src/content/docs/concepts/state-management.md
Due: none

feat(sdk/workflow): wire control: agent for multi-transition Sends (#1188)
  sdk/workflow.go
  sdk/workflow_test.go
Due: sdk

fix(capability-matrix): handle zero-error runs in summary parsing
  .github/workflows/capability-matrix.yml
Due: none

fix(capability-matrix): handle zero-error runs in summary parsing (#1190)
  .github/workflows/capability-matrix.yml
Due: none

test(runtime/providers): fix timing flakes in streaming and retry-budget tests
  runtime/providers/stream_retry_test.go
  runtime/providers/streaming_mock_test.go
Due: none

feat(workflow): emit observability events for eager-commit failures + review followups
  .github/workflows/capability-matrix.yml
  docs/src/content/docs/concepts/state-management.md
  runtime/workflow/transition_executor.go
  runtime/workflow/transition_executor_test.go
  sdk/workflow.go
  sdk/workflow_test.go
  tools/arena/engine/engine.go
  tools/arena/engine/workflow_tool_executor.go
  tools/arena/engine/workflow_tool_executor_test.go
Due: runtime, sdk, arena

test(runtime/providers): fix timing flakes in streaming and retry-budget tests (#1191)
  runtime/providers/stream_retry_test.go
  runtime/providers/streaming_mock_test.go
Due: none

feat(workflow): emit observability events for eager-commit failures + review followups (#1192)
  .github/workflows/capability-matrix.yml
  docs/src/content/docs/concepts/state-management.md
  runtime/workflow/transition_executor.go
  runtime/workflow/transition_executor_test.go
  sdk/workflow.go
  sdk/workflow_test.go
  tools/arena/engine/engine.go
  tools/arena/engine/workflow_tool_executor.go
  tools/arena/engine/workflow_tool_executor_test.go
Due: runtime, sdk, arena

feat(workflow): tear down stale tool descriptor on terminal entry + SDK Send heals state drift
  runtime/tools/registry.go
  runtime/tools/registry_test.go
  runtime/workflow/transition_executor.go
  runtime/workflow/transition_executor_test.go
  sdk/workflow.go
Due: runtime, sdk

feat(workflow): tear down stale tool descriptor on terminal entry + SDK Send heals state drift (#1193)
  runtime/tools/registry.go
  runtime/tools/registry_test.go
  runtime/workflow/transition_executor.go
  runtime/workflow/transition_executor_test.go
  sdk/workflow.go
Due: runtime, sdk

feat(evals/tools_called): add max_calls param for upper-bound assertions
  docs/src/content/docs/arena/reference/assertions.md
  runtime/evals/handlers/handlers_test.go
  runtime/evals/handlers/tools_called.go
Due: runtime

feat(evals/tools_called): add max_calls param for upper-bound assertions (#1194)
  docs/src/content/docs/arena/reference/assertions.md
  runtime/evals/handlers/handlers_test.go
  runtime/evals/handlers/tools_called.go
Due: runtime

refactor(config): rename Provider.capability → Provider.role; drop multi-role unified shape
  docs/src/content/docs/arena/how-to/setup-voice-testing.md
  docs/src/content/docs/arena/tutorials/06-duplex-testing.md
  examples/duplex-streaming/providers/elevenlabs-rachel.provider.yaml
  examples/duplex-streaming/providers/mock-tts.provider.yaml
  examples/duplex-streaming/providers/openai-alloy-expressive.provider.yaml
  examples/duplex-streaming/providers/openai-alloy.provider.yaml
  examples/duplex-streaming/providers/openai-echo.provider.yaml
  examples/voice-refund-demo/providers/cartesia-confident-man.provider.yaml
  examples/voice-refund-demo/providers/cartesia-friendly-woman.provider.yaml
  examples/voice-refund-demo/providers/elevenlabs-arnold.provider.yaml
  examples/voice-refund-demo/providers/mock-tts.provider.yaml
  examples/voice-refund-demo/providers/openai-nova.provider.yaml
  pkg/config/capability.go
  pkg/config/capability_test.go
  pkg/config/compat.go
  pkg/config/compat_test.go
  pkg/config/config_test.go
  pkg/config/loader.go
  pkg/config/role.go
  pkg/config/role_test.go
  pkg/config/tts_provider_test.go
  pkg/config/types.go
  pkg/config/voice_test.go
  schemas/v1alpha1/arena.json
  schemas/v1alpha1/provider.json
  schemas/v1alpha1/runtime-config.json
  tools/arena/engine/duplex_text_tts_test.go
  tools/arena/engine/duplex_tts_streaming_test.go
  tools/arena/selfplay/audio_generator_test.go
  tools/arena/selfplay/registry.go
  tools/arena/selfplay/registry_test.go
  tools/arena/selfplay/tts_registry.go
  tools/arena/selfplay/tts_registry_test.go
Due: arena

test(arena/web): wait for preReturn signal, not file existence
  tools/arena/web/server_test.go
Due: none

fix(schemas): regenerate after Provider.role rename
  schemas/v1alpha1/arena.json
  schemas/v1alpha1/provider.json
  schemas/v1alpha1/runtime-config.json
Due: none

refactor(config): rename Provider.capability → Provider.role; drop multi-role unified shape (#1195)
  docs/src/content/docs/arena/how-to/setup-voice-testing.md
  docs/src/content/docs/arena/tutorials/06-duplex-testing.md
  examples/duplex-streaming/providers/elevenlabs-rachel.provider.yaml
  examples/duplex-streaming/providers/mock-tts.provider.yaml
  examples/duplex-streaming/providers/openai-alloy-expressive.provider.yaml
  examples/duplex-streaming/providers/openai-alloy.provider.yaml
  examples/duplex-streaming/providers/openai-echo.provider.yaml
  examples/voice-refund-demo/providers/cartesia-confident-man.provider.yaml
  examples/voice-refund-demo/providers/cartesia-friendly-woman.provider.yaml
  examples/voice-refund-demo/providers/elevenlabs-arnold.provider.yaml
  examples/voice-refund-demo/providers/mock-tts.provider.yaml
  examples/voice-refund-demo/providers/openai-nova.provider.yaml
  pkg/config/capability.go
  pkg/config/capability_test.go
  pkg/config/compat.go
  pkg/config/compat_test.go
  pkg/config/config_test.go
  pkg/config/loader.go
  pkg/config/role.go
  pkg/config/role_test.go
  pkg/config/tts_provider_test.go
  pkg/config/types.go
  pkg/config/voice_test.go
  schemas/v1alpha1/arena.json
  schemas/v1alpha1/provider.json
  schemas/v1alpha1/runtime-config.json
  tools/arena/engine/duplex_text_tts_test.go
  tools/arena/engine/duplex_tts_streaming_test.go
  tools/arena/selfplay/audio_generator_test.go
  tools/arena/selfplay/registry.go
  tools/arena/selfplay/registry_test.go
  tools/arena/selfplay/tts_registry.go
  tools/arena/selfplay/tts_registry_test.go
  tools/arena/web/server_test.go
Due: arena

docs(arena),examples: A2A multi-agent how-to + scenario fix (#1157) (#1177)
  docs/src/content/docs/arena/how-to/a2a-multi-agent.md
  examples/multi-agent-demo/scenarios/multi-agent-delegation.yaml
Due: none

fix(arena/audio): bump drainTailGrace 500ms → 1500ms to cover SSE/browser playback latency (#1140)
  tools/arena/audio/local_sink.go
Due: arena

refactor(guardrails): unify SDK + arena enforcement; drop monitor-only
  examples/guardrails-test/prompts/content-filter.yaml
  runtime/events/types.go
  runtime/hooks/guardrails/adapter.go
  runtime/hooks/guardrails/factory.go
  runtime/hooks/guardrails/factory_test.go
  runtime/hooks/registry_test.go
  runtime/pipeline/stage/stages_provider.go
  runtime/pipeline/stage/stages_provider_hooks_test.go
  runtime/prompt/metadata_test.go
  runtime/prompt/pack_test.go
  runtime/prompt/registry.go
  runtime/prompt/schema/promptpack.schema.json
  schemas/v1alpha1/arena.json
  schemas/v1alpha1/promptconfig.json
  sdk/internal/pack/load.go
  sdk/internal/pack/validator_loadjson_test.go
  sdk/sdk.go
  sdk/validators_e2e_test.go
  sdk/validators_to_hooks_test.go
  tools/arena/stages/guardrail_eval.go
  tools/arena/stages/guardrail_eval_test.go
  tools/arena/turnexecutors/pipeline_stages_integration.go
  tools/arena/turnexecutors/scripted_executor.go
  tools/arena/web/event_adapter.go
Due: runtime, sdk, arena

fixup: restore PromptPack spec compliance (fail_on_violation kept, ignored)
  runtime/prompt/metadata_test.go
  runtime/prompt/registry.go
  runtime/prompt/schema/promptpack.schema.json
  schemas/v1alpha1/arena.json
  schemas/v1alpha1/promptconfig.json
  sdk/internal/pack/load.go
Due: runtime, sdk

docs(guardrails): link FailOnViolation doc comments to upstream RFC
  runtime/prompt/registry.go
  sdk/internal/pack/load.go
Due: runtime, sdk

refactor(guardrails): unify SDK + arena enforcement; always-enforce semantics (#1196)
  examples/guardrails-test/prompts/content-filter.yaml
  runtime/events/types.go
  runtime/hooks/guardrails/adapter.go
  runtime/hooks/guardrails/factory.go
  runtime/hooks/guardrails/factory_test.go
  runtime/hooks/registry_test.go
  runtime/pipeline/stage/stages_provider.go
  runtime/pipeline/stage/stages_provider_hooks_test.go
  runtime/prompt/metadata_test.go
  runtime/prompt/pack_test.go
  runtime/prompt/registry.go
  runtime/prompt/schema/promptpack.schema.json
  sdk/internal/pack/load.go
  sdk/internal/pack/validator_loadjson_test.go
  sdk/sdk.go
  sdk/validators_e2e_test.go
  sdk/validators_to_hooks_test.go
  tools/arena/stages/guardrail_eval.go
  tools/arena/stages/guardrail_eval_test.go
  tools/arena/turnexecutors/pipeline_stages_integration.go
  tools/arena/turnexecutors/scripted_executor.go
  tools/arena/web/event_adapter.go
Due: runtime, sdk, arena

feat(config): add embedding + image roles and provider ref lists
  pkg/config/config_test.go
  pkg/config/loader.go
  pkg/config/role.go
  pkg/config/role_test.go
  pkg/config/types.go
  schemas/v1alpha1/arena.json
  schemas/v1alpha1/provider.json
  schemas/v1alpha1/runtime-config.json
Due: none

test(config): cover error branches of new role loaders for SonarCloud
  pkg/config/config_test.go
Due: none

feat(config): expose embedding + image as first-class provider roles (#1197)
  pkg/config/config_test.go
  pkg/config/loader.go
  pkg/config/role.go
  pkg/config/role_test.go
  pkg/config/types.go
  schemas/v1alpha1/arena.json
  schemas/v1alpha1/provider.json
  schemas/v1alpha1/runtime-config.json
Due: none

refactor(providers): drop imagen baseURL case from LLM registry switch
  runtime/providers/registry.go
  runtime/providers/registry_extended_test.go
Due: runtime

refactor(providers): drop imagen baseURL case from LLM registry switch (#1198)
  runtime/providers/registry.go
  runtime/providers/registry_extended_test.go
Due: runtime

feat(config): route providers: entries by role; deprecate separate slots
  pkg/config/config_test.go
  pkg/config/loader.go
  pkg/config/types.go
Due: none

test(config): cover STT + image role routing for SonarCloud
  pkg/config/config_test.go
Due: none

feat(config): route providers: by role; deprecate role-specific slots (#1199)
  pkg/config/config_test.go
  pkg/config/loader.go
  pkg/config/types.go
Due: none

feat(config,imagen): predict-compatible roles flow through the matrix
  examples/arena-media-test/providers/imagen-provider.provider.yaml
  pkg/config/config_test.go
  pkg/config/loader.go
  runtime/providers/imagen/factory.go
  runtime/providers/imagen/imagen.go
  runtime/providers/imagen/imagen_test.go
Due: runtime

feat(config,imagen): predict-compatible roles flow through the matrix (#1211)
  examples/arena-media-test/providers/imagen-provider.provider.yaml
  pkg/config/config_test.go
  pkg/config/loader.go
  runtime/providers/imagen/factory.go
  runtime/providers/imagen/imagen.go
  runtime/providers/imagen/imagen_test.go
Due: runtime

chore(examples): migrate tts_providers blocks to unified providers list
  examples/duplex-streaming/config.arena.yaml
  examples/voice-refund-demo/config.arena.yaml
Due: none

chore(examples): migrate tts_providers blocks to unified providers list (#1212)
  examples/duplex-streaming/config.arena.yaml
  examples/voice-refund-demo/config.arena.yaml
Due: none

feat(classify): runtime/classify foundation + HuggingFace backend
  runtime/classify/audio.go
  runtime/classify/backends/hf/audio.go
  runtime/classify/backends/hf/client.go
  runtime/classify/backends/hf/client_test.go
  runtime/classify/backends/hf/embedder.go
  runtime/classify/backends/hf/image.go
  runtime/classify/backends/hf/text.go
  runtime/classify/embedder.go
  runtime/classify/image.go
  runtime/classify/registry.go
  runtime/classify/registry_test.go
  runtime/classify/text.go
  runtime/classify/types.go
  runtime/classify/video.go
Due: runtime
