Repository AltairaLabs/PromptKit: changes, and which Codecov flags are due for each by the changed paths.
All: runtime, sdk, arena, packc, inspect-state

codecov.yml:

codecov:
  require_ci_to_pass: yes
  notify:
    wait_for_ci: yes

coverage:
  precision: 2
  round: down
  range: "70...100"
  
  status:
    project:
      default:
        target: 70%
        threshold: 1%
        if_ci_failed: error
    patch:
      default:
        target: 70%
        threshold: 1%
        if_ci_failed: error

comment:
  layout: "reach,diff,flags,tree"
  behavior: default
  require_changes: false

flags:
  runtime:
    paths:
      - runtime/
  sdk:
    paths:
      - sdk/
  arena:
    paths:
      - tools/arena/
  packc:
    paths:
      - tools/packc/
  inspect-state:
    paths:
      - tools/inspect-state/

ignore:
  - "**/*_test.go"
  - "**/*_interactive.go"
  - "**/*_integration.go"
  - "examples/"
  - "docs/"
  - "scripts/"
  - ".github/"
  - "*.md"

ci: pin gomarkdoc to v1.1.0 for reproducible reference generation
  .github/workflows/docs.yml
  .github/workflows/reference-drift.yml
  Makefile
  docs/scripts/gen-reference.sh
Due: none

docs: document state_store file backend in runtime-config
  docs/src/content/docs/sdk/reference/runtime-config.md
Due: none

chore: pin gomarkdoc + document state_store file backend (#1592)
  .github/workflows/docs.yml
  .github/workflows/reference-drift.yml
  Makefile
  docs/scripts/gen-reference.sh
  docs/src/content/docs/sdk/reference/runtime-config.md
Due: none

docs: relocate misfiled runtime package docs into runtime reference
  docs/astro.config.mjs
  docs/public/llms.txt
  docs/scripts/gen-reference.sh
  docs/src/content/docs/runtime/reference/audio.md
  docs/src/content/docs/runtime/reference/index.md
  docs/src/content/docs/runtime/reference/streaming.md
  docs/src/content/docs/runtime/reference/tts.md
  docs/src/content/docs/runtime/reference/variables.md
  docs/src/content/docs/sdk/reference/audio.md
  docs/src/content/docs/sdk/reference/index.md
  docs/src/content/docs/sdk/reference/streaming.md
  docs/src/content/docs/sdk/reference/tts.md
  docs/src/content/docs/sdk/reference/variables.md
  docs/src/content/docs/sdk/tutorials/07-audio-sessions.md
  docs/src/content/docs/sdk/tutorials/08-tts-integration.md
  docs/src/content/docs/sdk/tutorials/09-variable-providers.md
  runtime/audio/example_test.go
  runtime/streaming/example_test.go
  runtime/tts/example_test.go
  runtime/variables/example_test.go
Due: none

feat(docs): generate SDK-owned reference pages from Go source
  .github/workflows/reference-drift.yml
  Makefile
  docs/scripts/check-sdk-reference.sh
  docs/scripts/gen-sdk-reference.sh
  docs/src/content/docs/sdk/reference/a2a-server.md
  docs/src/content/docs/sdk/reference/ag-ui.md
  docs/src/content/docs/sdk/reference/conversation-manager.md
  sdk/agui/example_test.go
  sdk/example_test.go
  server/a2a/example_test.go
Due: none

docs(sdk): fix exec-protocol and index reference drift against source
  docs/src/content/docs/sdk/reference/exec-protocol.md
  docs/src/content/docs/sdk/reference/index.md
Due: none

docs: fix ag-ui sidebar-order collision with runtime-config
  docs/scripts/gen-sdk-reference.sh
  docs/src/content/docs/sdk/reference/ag-ui.md
Due: none

docs: generate SDK reference + relocate misfiled runtime-package pages (#1593)
  .github/workflows/reference-drift.yml
  Makefile
  docs/astro.config.mjs
  docs/public/llms.txt
  docs/scripts/check-sdk-reference.sh
  docs/scripts/gen-reference.sh
  docs/scripts/gen-sdk-reference.sh
  docs/src/content/docs/runtime/reference/audio.md
  docs/src/content/docs/runtime/reference/index.md
  docs/src/content/docs/runtime/reference/streaming.md
  docs/src/content/docs/runtime/reference/tts.md
  docs/src/content/docs/runtime/reference/variables.md
  docs/src/content/docs/sdk/reference/a2a-server.md
  docs/src/content/docs/sdk/reference/ag-ui.md
  docs/src/content/docs/sdk/reference/audio.md
  docs/src/content/docs/sdk/reference/conversation-manager.md
  docs/src/content/docs/sdk/reference/exec-protocol.md
  docs/src/content/docs/sdk/reference/index.md
  docs/src/content/docs/sdk/reference/streaming.md
  docs/src/content/docs/sdk/reference/tts.md
  docs/src/content/docs/sdk/reference/variables.md
  docs/src/content/docs/sdk/tutorials/07-audio-sessions.md
  docs/src/content/docs/sdk/tutorials/08-tts-integration.md
  docs/src/content/docs/sdk/tutorials/09-variable-providers.md
  runtime/audio/example_test.go
  runtime/streaming/example_test.go
  runtime/tts/example_test.go
  runtime/variables/example_test.go
  sdk/agui/example_test.go
  sdk/example_test.go
  server/a2a/example_test.go
Due: none

docs: slim SDK reference index to a landing page
  docs/src/content/docs/sdk/reference/index.md
Due: none

docs: slim SDK reference index to a landing page (#1594)
  docs/src/content/docs/sdk/reference/index.md
Due: none

feat(types): storage-reference media parts + Validate support (#1596)
  runtime/types/content.go
  runtime/types/content_storageref_test.go
Due: runtime

feat(providers): MediaLoader.ResolveURL for storage-reference URLs (#1597)
  runtime/providers/media_loader.go
  runtime/providers/media_loader_resolveurl_test.go
  runtime/storage/interfaces.go
Due: runtime

feat(providers): inject MediaStorageService into BaseProvider (#1595)
  runtime/providers/base_provider.go
  runtime/providers/base_provider_mediastore_test.go
Due: runtime

feat(providers): thread StorageService through ProviderSpec (#1595, #1597)
  runtime/providers/registry.go
  runtime/providers/registry_mediastore_test.go
Due: runtime

feat(openai): resolve StorageReference via MediaLoader (URL-first image, bytes audio) (#1597)
  runtime/providers/openai/openai.go
  runtime/providers/openai/openai_helpers_test.go
  runtime/providers/openai/openai_multimodal.go
  runtime/providers/openai/openai_multimodal_test.go
  runtime/providers/openai/openai_multimodal_tools_test.go
  runtime/providers/openai/openai_storageref_test.go
  runtime/providers/openai/openai_tools.go
  runtime/providers/openai/openai_tools_test.go
Due: runtime

feat(ollama): resolve StorageReference via MediaLoader (#1597)
  runtime/providers/ollama/ollama.go
  runtime/providers/ollama/ollama_multimodal.go
  runtime/providers/ollama/ollama_multimodal_test.go
  runtime/providers/ollama/ollama_storageref_test.go
  runtime/providers/ollama/ollama_tools.go
  runtime/providers/ollama/ollama_tools_test.go
Due: runtime

feat(sdk): WithMediaStorage + With<Kind>StorageRef send-options (#1595, #1596)
  sdk/media_storage_test.go
  sdk/options.go
  sdk/options_storageref_test.go
  sdk/provider_file.go
  sdk/runtime_config.go
  sdk/runtime_config_test.go
  sdk/sdk.go
  sdk/streaming.go
Due: sdk

feat(gemini): store-aware media conversion, fix tool-path ref handling (#1597)
  runtime/providers/gemini/gemini.go
  runtime/providers/gemini/gemini_helpers_test.go
  runtime/providers/gemini/gemini_multimodal.go
  runtime/providers/gemini/gemini_multimodal_edge_cases_test.go
  runtime/providers/gemini/gemini_multimodal_test.go
  runtime/providers/gemini/gemini_storageref_test.go
  runtime/providers/gemini/gemini_streaming.go
  runtime/providers/gemini/gemini_test.go
  runtime/providers/gemini/gemini_tool_helpers_test.go
  runtime/providers/gemini/gemini_tool_results_test.go
  runtime/providers/gemini/gemini_tools.go
  runtime/providers/gemini/gemini_tools_edge_cases_test.go
  runtime/providers/gemini/gemini_tools_test.go
Due: runtime

feat(claude): resolve StorageReference via MediaLoader (URL-first) (#1597)
  runtime/providers/claude/claude.go
  runtime/providers/claude/claude_caching_request_test.go
  runtime/providers/claude/claude_integration_test.go
  runtime/providers/claude/claude_multimodal.go
  runtime/providers/claude/claude_multimodal_test.go
  runtime/providers/claude/claude_storageref_test.go
  runtime/providers/claude/claude_streaming.go
  runtime/providers/claude/claude_tool_results_test.go
  runtime/providers/claude/claude_tools.go
  runtime/providers/claude/claude_tools_test.go
  runtime/providers/claude/request_golden_test.go
  runtime/providers/claude/unsupported_params_test.go
Due: runtime

docs(sdk): media-storage-ref example (#1595, #1596)
  sdk/examples/media-storage-ref/README.md
  sdk/examples/media-storage-ref/main_interactive.go
  sdk/examples/media-storage-ref/media-storage-ref.pack.json
  sdk/examples/media-storage-ref/smoke_test.go
Due: sdk

test(sdk): e2e storage-reference resolution (url + bytes paths) (#1595)
  sdk/e2e_storage_ref_test.go
Due: none

docs: regenerate runtime + SDK reference for media storage APIs (#1595, #1596, #1597)
  docs/src/content/docs/runtime/reference/providers.md
  docs/src/content/docs/runtime/reference/storage.md
  docs/src/content/docs/runtime/reference/types.md
  docs/src/content/docs/sdk/reference/conversation-manager.md
Due: none

fix(providers): guard nil storage media + omit media_type on Claude URL sources
  runtime/providers/claude/claude_multimodal.go
  runtime/providers/media_loader.go
  runtime/providers/media_loader_storage_test.go
  sdk/e2e_storage_ref_test.go
Due: runtime

fix(providers): guard nil storage media + omit media_type on Claude URL sources (#1599)
  runtime/providers/claude/claude_multimodal.go
  runtime/providers/media_loader.go
  runtime/providers/media_loader_storage_test.go
  sdk/e2e_storage_ref_test.go
Due: runtime

fix(release): skip newer-than-latest check for tools-only phase
  .github/workflows/release.yml
Due: none

fix(release): skip newer-than-latest check for tools-only phase (#1600)
  .github/workflows/release.yml
Due: none

fix(tools): require explicit allowed_tools for MCP tools + wildcards (#1578)
  runtime/mcp/tool_filter_test.go
  runtime/mcp/types.go
  runtime/pipeline/stage/stages_provider.go
  runtime/pipeline/stage/stages_provider_allowed_tools_test.go
  runtime/pipeline/stage/tool_order_determinism_test.go
  runtime/tools/types.go
  runtime/tools/types_test.go
Due: runtime

docs: regenerate runtime reference for IsImplicitTool/MatchToolPattern (#1578)
  docs/src/content/docs/runtime/reference/mcp.md
  docs/src/content/docs/runtime/reference/tools.md
Due: none

fix(tools): require explicit allowed_tools for MCP tools + wildcards (#1578) (#1601)
  docs/src/content/docs/runtime/reference/mcp.md
  docs/src/content/docs/runtime/reference/tools.md
  runtime/mcp/tool_filter_test.go
  runtime/mcp/types.go
  runtime/pipeline/stage/stages_provider.go
  runtime/pipeline/stage/stages_provider_allowed_tools_test.go
  runtime/pipeline/stage/tool_order_determinism_test.go
  runtime/tools/types.go
  runtime/tools/types_test.go
Due: runtime

chore(examples): scaffold onnx-audio-emotion module
  .gitignore
  sdk/examples/onnx-audio-emotion/doc.go
  sdk/examples/onnx-audio-emotion/go.mod
Due: sdk

feat(examples): add PCM16 WAV decode + wav2vec2 normalize
  sdk/examples/onnx-audio-emotion/audio.go
  sdk/examples/onnx-audio-emotion/audio_test.go
Due: sdk

feat(examples): add softmax + label mapping to LabelScore
  sdk/examples/onnx-audio-emotion/go.mod
  sdk/examples/onnx-audio-emotion/go.sum
  sdk/examples/onnx-audio-emotion/labels.go
  sdk/examples/onnx-audio-emotion/labels_test.go
Due: sdk

feat(examples): add ONNX wav2vec2 audio-emotion classify backend
  sdk/examples/onnx-audio-emotion/go.mod
  sdk/examples/onnx-audio-emotion/go.sum
  sdk/examples/onnx-audio-emotion/onnx_backend.go
Due: sdk

chore(examples): add model/runtime download script + sample clip
  sdk/examples/onnx-audio-emotion/Makefile
  sdk/examples/onnx-audio-emotion/audio_test.go
  sdk/examples/onnx-audio-emotion/onnx_backend.go
  sdk/examples/onnx-audio-emotion/scripts/download.sh
  sdk/examples/onnx-audio-emotion/testdata/sample-16k-mono.wav
Due: sdk

fix(sdk): attach classify registry to eval middleware context
  sdk/eval_middleware.go
  sdk/eval_middleware_test.go
Due: sdk

feat(examples): wire ONNX audio-emotion demo via WithClassifier
  sdk/examples/onnx-audio-emotion/caller.pack.json
  sdk/examples/onnx-audio-emotion/doc.go
  sdk/examples/onnx-audio-emotion/go.mod
  sdk/examples/onnx-audio-emotion/go.sum
  sdk/examples/onnx-audio-emotion/main.go
  sdk/examples/onnx-audio-emotion/scripts/download.sh
Due: sdk

docs: document bring-your-own classify backend + ONNX example
  docs/src/content/docs/sdk/how-to/providers/bring-your-own-classifier.md
  sdk/examples/onnx-audio-emotion/README.md
Due: sdk

feat(examples): pluggable classify backends + ONNX audio-emotion example (#1602)
  .gitignore
  docs/src/content/docs/sdk/how-to/providers/bring-your-own-classifier.md
  sdk/eval_middleware.go
  sdk/eval_middleware_test.go
  sdk/examples/onnx-audio-emotion/Makefile
  sdk/examples/onnx-audio-emotion/README.md
  sdk/examples/onnx-audio-emotion/audio.go
  sdk/examples/onnx-audio-emotion/audio_test.go
  sdk/examples/onnx-audio-emotion/caller.pack.json
  sdk/examples/onnx-audio-emotion/go.mod
  sdk/examples/onnx-audio-emotion/go.sum
  sdk/examples/onnx-audio-emotion/labels.go
  sdk/examples/onnx-audio-emotion/labels_test.go
  sdk/examples/onnx-audio-emotion/main.go
  sdk/examples/onnx-audio-emotion/onnx_backend.go
  sdk/examples/onnx-audio-emotion/scripts/download.sh
  sdk/examples/onnx-audio-emotion/testdata/sample-16k-mono.wav
Due: sdk

feat: composable streaming pipeline with WithIngestion duplex-agent path
  runtime/audio/doc.go
  runtime/audio/g711.go
  runtime/audio/g711_test.go
  runtime/pipeline/stage/builder.go
  runtime/pipeline/stage/builder_test.go
  runtime/pipeline/stage/errors.go
  runtime/pipeline/stage/pipeline.go
  runtime/pipeline/stage/pipeline_fanin_test.go
  runtime/pipeline/stage/pipeline_fanout_test.go
  runtime/pipeline/stage/pipeline_internal_test.go
  runtime/pipeline/stage/stage.go
  runtime/pipeline/stage/stages_advanced_test.go
  runtime/providers/streaming.go
  sdk/conversation.go
  sdk/ingestion_perturn_test.go
  sdk/ingestion_test.go
  sdk/internal/pipeline/builder.go
  sdk/internal/pipeline/builder_vad.go
  sdk/internal/pipeline/builder_vad_test.go
  sdk/internal/pipeline/ingestion_test.go
  sdk/options.go
  sdk/sdk.go
  sdk/session/duplex_session.go
  sdk/template.go
Due: runtime, sdk
