Repository AltairaLabs/PromptKit: changes, and which Codecov flags are due for each by the changed paths.
All: runtime, sdk, arena, packc, inspect-state

test: add coverage for execution helpers and arena output adapter
  tools/arena/adapters/arena_output_test.go
  tools/arena/engine/execution_helpers_test.go
Due: none

fix: resolve data race in execution_helpers_test.go
  tools/arena/engine/execution_helpers_test.go
Due: none

chore: run go mod tidy
  runtime/go.sum
  sdk/go.sum
Due: runtime, sdk

test: add integration tests for execution error paths and eval validation
  tools/arena/engine/execution_integration_test.go
Due: none

test: add comprehensive tests for eval execution functions
  .github/workflows/schemas.yml
  tools/arena/engine/eval_execution_test.go
  tools/arena/engine/execution_integration_test.go
Due: none

chore: remove redundant validation job for example configs
  .github/workflows/schemas.yml
Due: none

feat: implement eval conversation executor for issue #218 (#232)
  .github/workflows/schemas.yml
  AGENTS.md
  README.md
  docs/sdk-migration.md
  examples/eval-test/config.arena.yaml
  examples/eval-test/evals/basic-eval.eval.yaml
  examples/eval-test/mock-responses-judge.yaml
  examples/eval-test/providers/gpt-4o-judge.provider.yaml
  examples/eval-test/recordings/customer-support.arena.json
  examples/eval-test/recordings/geography.recording.json
  pkg/config/config_test.go
  pkg/config/loader.go
  pkg/config/schema_validator_test.go
  pkg/config/types.go
  schemas/v1alpha1/eval.json
  sdk/go.sum
  tools/arena/adapters/arena_output.go
  tools/arena/adapters/arena_output_test.go
  tools/arena/cmd/promptarena/run.go
  tools/arena/cmd/promptarena/run_interactive.go
  tools/arena/cmd/promptarena/yaml_config_test.go
  tools/arena/engine/builder_integration.go
  tools/arena/engine/composite_conversation_executor.go
  tools/arena/engine/composite_conversation_executor_test.go
  tools/arena/engine/engine.go
  tools/arena/engine/engine_eval_test.go
  tools/arena/engine/engine_execution_test.go
  tools/arena/engine/engine_extended_test.go
  tools/arena/engine/engine_test.go
  tools/arena/engine/engine_types_test.go
  tools/arena/engine/eval_conversation_executor.go
  tools/arena/engine/eval_conversation_executor_test.go
  tools/arena/engine/eval_execution_test.go
  tools/arena/engine/execution.go
  tools/arena/engine/execution_helpers_test.go
  tools/arena/engine/execution_integration_test.go
  tools/arena/engine/interfaces.go
  tools/arena/engine/types.go
Due: sdk, arena

chore: add SonarCloud duplication exclusions for npm packages and actions
  sonar-project.properties
Due: none

feat(arena): add batch evaluation support with glob patterns for issue #220
  tools/arena/adapters/adapter.go
  tools/arena/adapters/adapter_test.go
  tools/arena/adapters/arena_output.go
  tools/arena/adapters/arena_output_test.go
  tools/arena/adapters/registry.go
  tools/arena/adapters/registry_test.go
  tools/arena/adapters/session_recording.go
  tools/arena/adapters/session_recording_test.go
  tools/arena/adapters/transcript.go
  tools/arena/adapters/transcript_test.go
  tools/arena/engine/arena_statestore_test.go
  tools/arena/engine/builder_additional_test.go
  tools/arena/engine/builder_integration.go
  tools/arena/engine/engine.go
  tools/arena/engine/engine_test.go
  tools/arena/engine/eval_conversation_executor.go
  tools/arena/engine/eval_execution_test.go
  tools/arena/engine/execution.go
  tools/arena/engine/statestore_integration_test.go
  tools/arena/engine/statestore_test.go
  tools/arena/engine/types.go
Due: arena

fix: strip Go module prefix from coverage paths for SonarCloud
  .github/workflows/ci.yml
Due: none

Revert "fix: strip Go module prefix from coverage paths for SonarCloud"
  .github/workflows/ci.yml
Due: none

fix(ci): strip Go module prefix from coverage paths for SonarCloud
  .github/workflows/ci.yml
Due: none

test: add coverage for batch eval enumeration paths
  tools/arena/adapters/registry.go
  tools/arena/engine/execution_helpers_test.go
Due: arena

feat(arena): add batch evaluation support with glob patterns (#233)
  .github/workflows/ci.yml
  tools/arena/adapters/adapter.go
  tools/arena/adapters/adapter_test.go
  tools/arena/adapters/arena_output.go
  tools/arena/adapters/arena_output_test.go
  tools/arena/adapters/registry.go
  tools/arena/adapters/registry_test.go
  tools/arena/adapters/session_recording.go
  tools/arena/adapters/session_recording_test.go
  tools/arena/adapters/transcript.go
  tools/arena/adapters/transcript_test.go
  tools/arena/engine/arena_statestore_test.go
  tools/arena/engine/builder_additional_test.go
  tools/arena/engine/builder_integration.go
  tools/arena/engine/engine.go
  tools/arena/engine/engine_test.go
  tools/arena/engine/eval_conversation_executor.go
  tools/arena/engine/eval_execution_test.go
  tools/arena/engine/execution.go
  tools/arena/engine/execution_helpers_test.go
  tools/arena/engine/statestore_integration_test.go
  tools/arena/engine/statestore_test.go
  tools/arena/engine/types.go
Due: arena

fix(gemini): resolve race condition in streaming session reconnect
  runtime/providers/gemini/stream_session_integration.go
Due: none

fix(gemini): resolve race condition in streaming session reconnect (#234)
  runtime/providers/gemini/stream_session_integration.go
Due: none

fix: address multiple bugs from code review
  pkg/config/validator.go
  runtime/storage/local/filestore.go
  runtime/storage/local/filestore_test.go
  sdk/errors.go
  sdk/errors_test.go
Due: runtime, sdk

fix: pointer types for PersonaDefaults, nested config validation, Continue() implementation
  pkg/config/duplex_config_test.go
  pkg/config/loader.go
  pkg/config/persona.go
  pkg/config/persona_test.go
  pkg/config/types.go
  runtime/providers/gemini/websocket_manager.go
  sdk/conversation.go
  sdk/conversation_tools.go
  sdk/hitl_test.go
  sdk/sdk.go
  sdk/tools/pending.go
  sdk/tools/pending_test.go
  tools/arena/engine/conversation_executor_selfplay_multiturn_test.go
  tools/arena/engine/conversation_executor_streaming_test.go
  tools/arena/render/html.go
  tools/arena/selfplay/audio_generator_test.go
  tools/arena/selfplay/generator.go
Due: runtime, sdk, arena

chore: regenerate persona schema for pointer type changes
  schemas/v1alpha1/persona.json
Due: none

fix: use proper API in TestResolveToolStoresResolution test
  sdk/hitl_test.go
Due: none

fix: add SetHandler method to PendingToolCall and wire up in CheckPending
  sdk/conversation_tools.go
  sdk/tools/pending.go
  sdk/tools/pending_test.go
Due: sdk

test: add coverage tests for RelevanceConfig.Validate and ResolvedStore.Len
  pkg/config/duplex_config_test.go
  sdk/tools/pending_test.go
Due: none

fix: address multiple bugs from code review (#235)
  pkg/config/duplex_config_test.go
  pkg/config/loader.go
  pkg/config/persona.go
  pkg/config/persona_test.go
  pkg/config/types.go
  pkg/config/validator.go
  runtime/providers/gemini/websocket_manager.go
  runtime/storage/local/filestore.go
  runtime/storage/local/filestore_test.go
  schemas/v1alpha1/persona.json
  sdk/conversation.go
  sdk/conversation_tools.go
  sdk/errors.go
  sdk/errors_test.go
  sdk/hitl_test.go
  sdk/sdk.go
  sdk/tools/pending.go
  sdk/tools/pending_test.go
  tools/arena/engine/conversation_executor_selfplay_multiturn_test.go
  tools/arena/engine/conversation_executor_streaming_test.go
  tools/arena/render/html.go
  tools/arena/selfplay/audio_generator_test.go
  tools/arena/selfplay/generator.go
Due: runtime, sdk, arena

refactor: clean up alarming test assertion messages
  runtime/providers/claude/claude_cache_test.go
  runtime/providers/claude/claude_contract_test.go
  runtime/providers/claude/claude_tool_results_test.go
  runtime/providers/gemini/gemini_contract_test.go
  runtime/providers/gemini/gemini_tool_results_test.go
  runtime/providers/openai/openai_contract_test.go
  runtime/providers/openai/openai_tools_test.go
  runtime/providers/provider_contract_test.go
  tools/arena/engine/conversation_executor_multiturn_test.go
  tools/arena/engine/conversation_executor_selfplay_multiturn_test.go
Due: none

fix: return errors for unimplemented truncation strategies
  runtime/pipeline/stage/stages_utilities.go
  runtime/pipeline/stage/stages_utilities_test.go
Due: runtime

perf: fix O(n²) message prepending in truncateOldest
  runtime/pipeline/stage/stages_utilities.go
Due: runtime

feat: implement SavePrompt for JSON and YAML repositories
  runtime/persistence/common/repository.go
  runtime/persistence/common/repository_test.go
  runtime/persistence/json/json.go
  runtime/persistence/json/json_test.go
  runtime/persistence/yaml/yaml_prompt.go
  runtime/persistence/yaml/yaml_prompt_test.go
Due: runtime

fix: add latency tracking to Claude PredictWithTools
  runtime/providers/claude/claude_tools.go
  runtime/providers/claude/claude_tools_test.go
Due: runtime

refactor: export contract test helpers for cross-package use
  runtime/providers/claude/claude_contract_test.go
  runtime/providers/gemini/gemini_contract_test.go
  runtime/providers/openai/openai_contract_test.go
  runtime/providers/provider_contract.go
Due: runtime

refactor: extract common HTTP request method to BaseProvider
  runtime/providers/base_provider.go
  runtime/providers/base_provider_test.go
  runtime/providers/claude/claude_tools.go
  runtime/providers/ollama/ollama_tools.go
  runtime/providers/openai/openai_tools.go
Due: runtime

refactor: split streaming code into separate files for Claude and Gemini
  runtime/providers/claude/claude.go
  runtime/providers/claude/claude_streaming.go
  runtime/providers/gemini/gemini.go
  runtime/providers/gemini/gemini_streaming.go
Due: runtime

refactor: replace interface{} with any and add ProviderTools type alias
  runtime/providers/base_provider.go
  runtime/providers/claude/claude_streaming.go
  runtime/providers/claude/claude_tools.go
  runtime/providers/gemini/gemini_tools.go
  runtime/providers/mock/mock_tool_provider_interactive.go
  runtime/providers/openai/openai_tools.go
  runtime/providers/provider.go
  runtime/tools/executors.go
  runtime/tools/registry.go
  runtime/tools/repository_executor.go
  runtime/tools/types.go
  runtime/tools/validator.go
Due: runtime

feat: add tokenizer package with model-aware token counting
  runtime/pipeline/stage/stages_utilities.go
  runtime/pipeline/stage/stages_utilities_test.go
  runtime/tokenizer/tokenizer.go
  runtime/tokenizer/tokenizer_test.go
Due: runtime

fix: add error handling for ignored filepath.WalkDir errors
  runtime/metrics/prometheus/exporter.go
  runtime/persistence/common/repository.go
Due: runtime

feat: implement SaveTool for JSON and YAML repositories
  runtime/persistence/common/repository.go
  runtime/persistence/json/json.go
  runtime/persistence/json/json_test.go
  runtime/persistence/yaml/yaml_tool.go
  runtime/persistence/yaml/yaml_tool_test.go
  runtime/tools/types.go
Due: runtime

refactor: add sentinel errors for persistence package
  runtime/persistence/common/repository.go
  runtime/persistence/common/repository_test.go
  runtime/persistence/errors.go
  runtime/persistence/json/json.go
  runtime/persistence/json/json_test.go
  runtime/persistence/memory/memory.go
  runtime/persistence/memory/memory_test.go
  runtime/persistence/yaml/yaml_tool.go
  runtime/persistence/yaml/yaml_tool_test.go
Due: runtime

refactor: add sentinel errors for tools package
  runtime/tools/errors.go
  runtime/tools/executors.go
  runtime/tools/mcp_executor.go
  runtime/tools/registry.go
  runtime/tools/registry_test.go
Due: runtime

fix: update SonarCloud exclusions for coverage and duplication
  sonar-project.properties
Due: none

fix: add persistence repositories to duplication exclusions
  sonar-project.properties
Due: none

Path conditions:
  runtime: any of: runtime/, but not: **/*_test.go, **/*_interactive.go, **/*_integration.go, examples/, docs/, scripts/, .github/, *.md
  sdk: any of: sdk/, but not: **/*_test.go, **/*_interactive.go, **/*_integration.go, examples/, docs/, scripts/, .github/, *.md
  arena: any of: tools/arena/, but not: **/*_test.go, **/*_interactive.go, **/*_integration.go, examples/, docs/, scripts/, .github/, *.md
  packc: any of: tools/packc/, but not: **/*_test.go, **/*_interactive.go, **/*_integration.go, examples/, docs/, scripts/, .github/, *.md
  inspect-state: any of: tools/inspect-state/, but not: **/*_test.go, **/*_interactive.go, **/*_integration.go, examples/, docs/, scripts/, .github/, *.md
