Repository AltairaLabs/PromptKit: changes, and which Codecov flags are due for each by the changed paths.
All: runtime, sdk, arena, packc, inspect-state

codecov.yml:

codecov:
  require_ci_to_pass: yes
  notify:
    wait_for_ci: yes

coverage:
  precision: 2
  round: down
  range: "70...100"
  
  status:
    project:
      default:
        target: 70%
        threshold: 1%
        if_ci_failed: error
    patch:
      default:
        target: 70%
        threshold: 1%
        if_ci_failed: error

comment:
  layout: "reach,diff,flags,tree"
  behavior: default
  require_changes: false

flags:
  runtime:
    paths:
      - runtime/
  sdk:
    paths:
      - sdk/
  arena:
    paths:
      - tools/arena/
  packc:
    paths:
      - tools/packc/
  inspect-state:
    paths:
      - tools/inspect-state/

ignore:
  - "**/*_test.go"
  - "**/*_interactive.go"
  - "**/*_integration.go"
  - "examples/"
  - "docs/"
  - "scripts/"
  - ".github/"
  - "*.md"

feat(prompt): Pack.ValidateCompositions with workflow cross-resolution
  runtime/prompt/pack.go
  runtime/prompt/pack_test.go
Due: runtime

feat(config): Config.Compositions raw field
  pkg/config/types.go
  pkg/config/types_test.go
Due: none

feat(packc): parse + validate compositions at compile time
  schemas/v1alpha1/arena.json
  tools/packc/compiler/compiler.go
  tools/packc/compiler/compiler_test.go
  tools/packc/compiler/helpers_integration.go
Due: packc

refactor(prompt): suppress redundant per-composition warning when no workflow
  runtime/prompt/pack.go
Due: runtime

feat(composition): Plan 3b — authoring / pack threading (RFC 0010) (#1344)
  pkg/config/types.go
  pkg/config/types_test.go
  runtime/prompt/pack.go
  runtime/prompt/pack_test.go
  schemas/v1alpha1/arena.json
  tools/packc/compiler/compiler.go
  tools/packc/compiler/compiler_test.go
  tools/packc/compiler/helpers_integration.go
Due: runtime, packc

feat(arena): TurnRequest.ActiveComposition field
  tools/arena/turnexecutors/interfaces.go
Due: arena

feat(arena): select CompositionStage + gate prompt-assembly; share file schema resolver
  runtime/pipeline/stage/schema_resolver.go
  runtime/pipeline/stage/schema_resolver_test.go
  sdk/conversation.go
  tools/arena/turnexecutors/composition_integration_test.go
  tools/arena/turnexecutors/pipeline_stages_integration.go
Due: runtime, sdk

feat(arena): resolve composition state per turn + e2e composition run
  tools/arena/engine/conversation_executor.go
  tools/arena/engine/execution_composition_e2e_test.go
  tools/arena/engine/execution_workflow_integration.go
  tools/arena/engine/interfaces.go
Due: arena

feat(composition): Plan 4a — Arena execution of composition states (RFC 0010) (#1345)
  runtime/pipeline/stage/schema_resolver.go
  runtime/pipeline/stage/schema_resolver_test.go
  sdk/conversation.go
  tools/arena/engine/conversation_executor.go
  tools/arena/engine/execution_composition_e2e_test.go
  tools/arena/engine/execution_workflow_integration.go
  tools/arena/engine/interfaces.go
  tools/arena/turnexecutors/composition_integration_test.go
  tools/arena/turnexecutors/interfaces.go
  tools/arena/turnexecutors/pipeline_stages_integration.go
Due: runtime, sdk, arena

feat(sdk): Response.CompositionOutput accessor
  sdk/composition_funcmode_test.go
  sdk/response.go
Due: sdk

feat(sdk): OpenComposition function-mode entry point
  sdk/sdk.go
Due: sdk

feat(composition): Plan 4b — SDK function-mode surface (RFC 0010) (#1346)
  sdk/composition_funcmode_test.go
  sdk/response.go
  sdk/sdk.go
Due: sdk

feat(composition): engine Recorder + NewWithRecorder for step observability
  runtime/composition/engine/engine.go
  runtime/composition/engine/engine_test.go
Due: runtime

feat(composition): CompositionRecorder + recorder-aware CompositionStage
  runtime/pipeline/stage/composition_recorder.go
  runtime/pipeline/stage/composition_recorder_test.go
  runtime/pipeline/stage/stages_composition.go
Due: runtime

feat(composition): mock step-id keying for per-step responses
  runtime/pipeline/stage/composition_executor.go
  runtime/providers/mock/mock.go
  runtime/providers/mock/mock_repository.go
  runtime/providers/mock/mock_step_keying_test.go
Due: runtime

feat(arena): CompositionMetadataProvider bridge in EvalOrchestrator
  tools/arena/engine/eval_orchestrator.go
  tools/arena/engine/eval_orchestrator_test.go
Due: arena

feat(evals): composition assertion handlers (step_output/branch_taken/parallel_complete/output)
  runtime/evals/handlers/composition.go
  runtime/evals/handlers/composition_test.go
  runtime/evals/handlers/handlers_test.go
  runtime/evals/handlers/register.go
Due: runtime

feat(arena): thread composition recorder into stage + per-run orchestrator; e2e testability
  tools/arena/engine/conversation_executor.go
  tools/arena/engine/execution_composition_recorder_e2e_test.go
  tools/arena/engine/execution_workflow_integration.go
  tools/arena/engine/interfaces.go
  tools/arena/engine/workflow_tool_executor.go
  tools/arena/turnexecutors/interfaces.go
  tools/arena/turnexecutors/pipeline_stages_integration.go
Due: arena

feat(composition): Plan 4c — Arena testability (RFC 0010) (#1347)
  runtime/composition/engine/engine.go
  runtime/composition/engine/engine_test.go
  runtime/evals/handlers/composition.go
  runtime/evals/handlers/composition_test.go
  runtime/evals/handlers/handlers_test.go
  runtime/evals/handlers/register.go
  runtime/pipeline/stage/composition_executor.go
  runtime/pipeline/stage/composition_recorder.go
  runtime/pipeline/stage/composition_recorder_test.go
  runtime/pipeline/stage/stages_composition.go
  runtime/providers/mock/mock.go
  runtime/providers/mock/mock_repository.go
  runtime/providers/mock/mock_step_keying_test.go
  tools/arena/engine/conversation_executor.go
  tools/arena/engine/eval_orchestrator.go
  tools/arena/engine/eval_orchestrator_test.go
  tools/arena/engine/execution_composition_recorder_e2e_test.go
  tools/arena/engine/execution_workflow_integration.go
  tools/arena/engine/interfaces.go
  tools/arena/engine/workflow_tool_executor.go
  tools/arena/turnexecutors/interfaces.go
  tools/arena/turnexecutors/pipeline_stages_integration.go
Due: runtime, arena

docs(composition): RFC 0010 composition guide + composition_* checks reference
  docs/src/content/docs/concepts/compositions.md
  docs/src/content/docs/concepts/index.md
  docs/src/content/docs/reference/checks.md
Due: none

docs(composition): RFC 0010 composition guide + composition_* checks reference (#1348)
  docs/src/content/docs/concepts/compositions.md
  docs/src/content/docs/concepts/index.md
  docs/src/content/docs/reference/checks.md
Due: none

fix(composition): load inline Arena compositions + propagate mock metadata into step sub-pipelines
  runtime/pipeline/stage/composition_executor.go
  runtime/pipeline/stage/composition_executor_test.go
  tools/arena/engine/execution_workflow_integration.go
  tools/arena/engine/inline_composition_test.go
  tools/arena/turnexecutors/composition_integration_test.go
  tools/arena/turnexecutors/pipeline_stages_integration.go
Due: runtime

fix(composition): load inline Arena compositions + propagate mock metadata into step sub-pipelines (#1349)
  runtime/pipeline/stage/composition_executor.go
  runtime/pipeline/stage/composition_executor_test.go
  tools/arena/engine/execution_workflow_integration.go
  tools/arena/engine/inline_composition_test.go
  tools/arena/turnexecutors/composition_integration_test.go
  tools/arena/turnexecutors/pipeline_stages_integration.go
Due: runtime

feat(events): composition.* event category for RFC 0010 observability
  runtime/events/composition_events.go
  runtime/events/composition_events_test.go
  runtime/events/emitter.go
Due: runtime

feat(composition): engine started/completed step hooks + CompositionRecorder emits events
  runtime/composition/engine/engine.go
  runtime/composition/engine/engine_test.go
  runtime/pipeline/stage/composition_recorder.go
  runtime/pipeline/stage/composition_recorder_test.go
Due: runtime

feat(composition): CompositionStage emits composition.started/completed + wires recorder emitter
  runtime/pipeline/stage/stages_composition.go
  runtime/pipeline/stage/stages_composition_test.go
Due: runtime

feat(telemetry): composition.* -> OTel spans (composition + per-step)
  runtime/telemetry/listener.go
  runtime/telemetry/listener_test.go
Due: runtime

feat(sdk): composition runs emit composition.* events
  sdk/internal/pipeline/builder.go
  sdk/internal/pipeline/builder_test.go
Due: sdk

feat(composition): observability events + OTLP spans (RFC 0010, Plan A) (#1371)
  runtime/composition/engine/engine.go
  runtime/composition/engine/engine_test.go
  runtime/events/composition_events.go
  runtime/events/composition_events_test.go
  runtime/events/emitter.go
  runtime/pipeline/stage/composition_recorder.go
  runtime/pipeline/stage/composition_recorder_test.go
  runtime/pipeline/stage/stages_composition.go
  runtime/pipeline/stage/stages_composition_test.go
  runtime/telemetry/listener.go
  runtime/telemetry/listener_test.go
  sdk/internal/pipeline/builder.go
  sdk/internal/pipeline/builder_test.go
Due: runtime, sdk

feat(composition): per-turn snapshot on message Meta for report rendering
  runtime/pipeline/stage/composition_recorder.go
  runtime/pipeline/stage/composition_recorder_test.go
  runtime/pipeline/stage/stages_composition.go
  runtime/pipeline/stage/stages_composition_test.go
Due: runtime

feat(arena): render composition trace in HTML (devtools tab) + JSON report
  tools/arena/render/html_test.go
  tools/arena/render/templates/report.html.tmpl
  tools/arena/results/json/json_repository_test.go
Due: arena

test(composition): sort bracket events by Sequence to fix async-delivery flake
  runtime/pipeline/stage/stages_composition_test.go
Due: none

feat(arena): composition trace in HTML + JSON reports (RFC 0010, Plan B) (#1373)
  runtime/pipeline/stage/composition_recorder.go
  runtime/pipeline/stage/composition_recorder_test.go
  runtime/pipeline/stage/stages_composition.go
  runtime/pipeline/stage/stages_composition_test.go
  tools/arena/render/html_test.go
  tools/arena/render/templates/report.html.tmpl
  tools/arena/results/json/json_repository_test.go
Due: runtime, arena

feat(arena): explicit current_workflow_state on turn results (Closes #1374)
  tools/arena/engine/conversation_executor.go
  tools/arena/engine/current_workflow_state_test.go
  tools/arena/engine/execution_workflow_integration.go
  tools/arena/engine/interfaces.go
  tools/arena/render/html_test.go
  tools/arena/render/templates/report.html.tmpl
Due: arena

feat(arena): explicit current_workflow_state on turn results (Closes #1374) (#1375)
  tools/arena/engine/conversation_executor.go
  tools/arena/engine/current_workflow_state_test.go
  tools/arena/engine/execution_workflow_integration.go
  tools/arena/engine/interfaces.go
  tools/arena/render/html_test.go
  tools/arena/render/templates/report.html.tmpl
Due: arena

chore(schema): vendor promptpack v1.5.0 composition support into embedded schema
  runtime/prompt/schema/promptpack.schema.json
Due: runtime

chore(schemas): regenerate v1alpha1 with composition_* assertion types
  schemas/v1alpha1/arena.json
  schemas/v1alpha1/common/assertions.json
  schemas/v1alpha1/eval.json
  schemas/v1alpha1/scenario.json
Due: none

chore(schema): vendor PromptPack v1.5.0 (composition) into embedded schema (#1376)
  runtime/prompt/schema/promptpack.schema.json
  schemas/v1alpha1/arena.json
  schemas/v1alpha1/common/assertions.json
  schemas/v1alpha1/eval.json
  schemas/v1alpha1/scenario.json
Due: runtime

chore(workflow): remove unused control:agent state mode (RFC 0010 composition supersedes routing use case)
  docs/src/content/docs/concepts/state-management.md
  examples/workflow-router/README.md
  examples/workflow-router/config.arena.yaml
  examples/workflow-router/mock-responses.yaml
  examples/workflow-router/prompts/billing.yaml
  examples/workflow-router/prompts/routed.yaml
  examples/workflow-router/prompts/technical.yaml
  examples/workflow-router/prompts/triage.yaml
  examples/workflow-router/providers/mock-provider.yaml
  examples/workflow-router/scenarios/route-to-billing.scenario.yaml
  examples/workflow-router/scenarios/route-to-technical.scenario.yaml
  runtime/prompt/schema/promptpack.schema.json
  runtime/workflow/transition_executor.go
  runtime/workflow/transition_executor_test.go
  runtime/workflow/types.go
  sdk/workflow.go
  sdk/workflow_test.go
  tools/arena/engine/execution_workflow_integration.go
  tools/arena/engine/workflow_tool_executor.go
  tools/arena/engine/workflow_tool_executor_test.go
Due: runtime, sdk, arena

chore(workflow): remove unused control:agent state mode (RFC 0010 composition supersedes routing use case) (#1377)
  docs/src/content/docs/concepts/state-management.md
  examples/workflow-router/README.md
  examples/workflow-router/config.arena.yaml
  examples/workflow-router/mock-responses.yaml
  examples/workflow-router/prompts/billing.yaml
  examples/workflow-router/prompts/routed.yaml
  examples/workflow-router/prompts/technical.yaml
  examples/workflow-router/prompts/triage.yaml
  examples/workflow-router/providers/mock-provider.yaml
  examples/workflow-router/scenarios/route-to-billing.scenario.yaml
  examples/workflow-router/scenarios/route-to-technical.scenario.yaml
  runtime/prompt/schema/promptpack.schema.json
  runtime/workflow/transition_executor.go
  runtime/workflow/transition_executor_test.go
  runtime/workflow/types.go
  sdk/workflow.go
  sdk/workflow_test.go
  tools/arena/engine/execution_workflow_integration.go
  tools/arena/engine/workflow_tool_executor.go
  tools/arena/engine/workflow_tool_executor_test.go
Due: runtime, sdk, arena
