Repository AltairaLabs/PromptKit: changes, and which Codecov flags are due for each by the changed paths.
All: runtime, sdk, arena, packc, inspect-state

codecov.yml:

codecov:
  require_ci_to_pass: yes
  notify:
    wait_for_ci: yes

coverage:
  precision: 2
  round: down
  range: "70...100"
  
  status:
    project:
      default:
        target: 70%
        threshold: 1%
        if_ci_failed: error
    patch:
      default:
        target: 70%
        threshold: 1%
        if_ci_failed: error

comment:
  layout: "reach,diff,flags,tree"
  behavior: default
  require_changes: false

flags:
  runtime:
    paths:
      - runtime/
  sdk:
    paths:
      - sdk/
  arena:
    paths:
      - tools/arena/
  packc:
    paths:
      - tools/packc/
  inspect-state:
    paths:
      - tools/inspect-state/

ignore:
  - "**/*_test.go"
  - "**/*_interactive.go"
  - "**/*_integration.go"
  - "examples/"
  - "docs/"
  - "scripts/"
  - ".github/"
  - "*.md"

test(pipeline): full-duplex integration proves all audio-health metrics from one real flow (#1585)
  runtime/pipeline/stage/audio_health_pipeline_integration_test.go
Due: none

test(metrics): drop faked exposition test superseded by real full-duplex flow (#1585)
  runtime/metrics/audio_health_integration_test.go
Due: none

docs: document realtime audio health + event-bus saturation metrics (#1585)
  docs/src/content/docs/runtime/how-to/observability/prometheus-metrics.md
  docs/src/content/docs/runtime/reference/metrics.md
Due: none

build(docs): use --legacy-peer-deps for docs install (starlight/astro peer drift) (#1585)
  Makefile
Due: none

Revert "build(docs): use --legacy-peer-deps for docs install"
  Makefile
Due: none

build(docs): pin starlight's nested @astrojs/mdx to 6.0.3
  docs/package.json
Due: none

build(docs): complete astro 6->7 upgrade (mdx 7, astro-d2 0.13) to match starlight 0.41
  docs/package-lock.json
  docs/package.json
Due: none

fix(pipeline): populate real message/token/cost totals on pipeline.completed
  runtime/pipeline/stage/pipeline.go
  runtime/pipeline/stage/pipeline_completion_test.go
  runtime/pipeline/stage/pipeline_internal_test.go
Due: runtime

feat: realtime audio health telemetry + event-bus flood regression guard (#1585) (#1586)
  docs/package-lock.json
  docs/package.json
  docs/src/content/docs/runtime/how-to/observability/prometheus-metrics.md
  docs/src/content/docs/runtime/reference/metrics.md
  runtime/audio/jitterbuffer.go
  runtime/audio/jitterbuffer_test.go
  runtime/metrics/eventbus_health.go
  runtime/metrics/eventbus_health_test.go
  runtime/pipeline/stage/audio_health_pipeline_integration_test.go
  runtime/pipeline/stage/audio_offbus_regression_test.go
  runtime/pipeline/stage/stages_pacing.go
  runtime/pipeline/stage/stages_pacing_test.go
  runtime/providers/jitter_health.go
  runtime/providers/jitter_health_test.go
  runtime/providers/stream_metrics.go
  runtime/providers/stream_metrics_test.go
  sdk/examples/audiohelper/portaudio_duplex.go
  sdk/examples/audiohelper/portaudio_duplex_test.go
  sdk/examples/audiohelper/portaudio_io_interactive.go
Due: runtime, sdk

fix(pipeline): populate real message/token/cost totals on pipeline.completed (#1587)
  runtime/pipeline/stage/pipeline.go
  runtime/pipeline/stage/pipeline_completion_test.go
  runtime/pipeline/stage/pipeline_internal_test.go
Due: runtime

fix: eliminate silent field-drop phantoms (Tier 1)
  runtime/pipeline/stage/stages_provider.go
  runtime/pipeline/stage/stages_provider_test.go
  runtime/providers/claude/claude_tools.go
  runtime/providers/claude/claude_tools_test.go
  runtime/statestore/memory.go
  runtime/statestore/memory_test.go
  sdk/session/unary_session.go
  sdk/session/unary_session_test.go
Due: runtime, sdk

fix: eliminate silent field-drop phantoms (Tier 1) (#1588)
  runtime/pipeline/stage/stages_provider.go
  runtime/pipeline/stage/stages_provider_test.go
  runtime/providers/claude/claude_tools.go
  runtime/providers/claude/claude_tools_test.go
  runtime/statestore/memory.go
  runtime/statestore/memory_test.go
  sdk/session/unary_session.go
  sdk/session/unary_session_test.go
Due: runtime, sdk

feat(cost): canonical token-unit vocabulary + TokenUsage carrier
  runtime/providers/base/units.go
  runtime/providers/base/units_test.go
Due: runtime

refactor(cost): partial-tolerant computeCostPartial; ComputeCost wraps it
  runtime/providers/base/cost.go
  runtime/providers/base/cost_internal_test.go
  runtime/providers/base/cost_test.go
Due: runtime

feat(cost): PriceUsage with directional-fold headlines and loud-unpriced
  runtime/providers/base/priceusage.go
  runtime/providers/base/priceusage_test.go
Due: runtime

fix(cost): fold unknown priced units + assert loud-unpriced warning
  runtime/providers/base/priceusage.go
  runtime/providers/base/priceusage_test.go
Due: runtime

fix(cost): MakeCostInfo surfaces unpriced units loudly instead of swallowing to $0 (#7)
  runtime/providers/base/cost.go
  runtime/providers/base/cost_test.go
Due: runtime

feat(cost): AggregateCost single shared roll-up merging Breakdown
  runtime/providers/base/aggregate.go
  runtime/providers/base/aggregate_test.go
Due: runtime

fix(cost): AggregateCost falls back to flat headlines so no cost is dropped
  runtime/providers/base/aggregate.go
  runtime/providers/base/aggregate_test.go
Due: runtime

refactor(cost): pipeline roll-up uses base.AggregateCost (no dropped Breakdown)
  runtime/pipeline/stage/pipeline.go
  runtime/pipeline/stage/pipeline_test.go
Due: runtime

refactor(cost): SDK session roll-up uses base.AggregateCost
  sdk/session/unary_session.go
  sdk/session/unary_session_test.go
Due: sdk

fix(cost): AggregateCost preserves TotalCost-only + Quantities shapes (no drop)
  runtime/providers/base/aggregate.go
  runtime/providers/base/aggregate_test.go
  sdk/session/unary_session_test.go
Due: runtime

feat(cost): ResolveLLMPricing config>flat>table>nil resolution
  runtime/providers/base/llmpricing.go
  runtime/providers/base/llmpricing_test.go
Due: runtime

fix(cost): price Claude cache-write tokens via unit-keyed engine (G)
  runtime/providers/base/implementation.go
  runtime/providers/claude/claude.go
  runtime/providers/claude/claude_cost_test.go
  runtime/providers/claude/claude_integration_test.go
  runtime/providers/claude/claude_streaming.go
  runtime/providers/claude/claude_test.go
  runtime/providers/claude/claude_tools.go
  runtime/providers/claude/pricing_table.go
Due: runtime

fix(cost): vLLM streaming include_usage + terminal cost/finish-reason (J)
  runtime/providers/finish_reason.go
  runtime/providers/finish_reason_test.go
  runtime/providers/vllm/vllm.go
  runtime/providers/vllm/vllm_cost_test.go
  runtime/providers/vllm/vllm_tools.go
  runtime/providers/vllm/vllm_tools_test.go
Due: runtime

fix(cost): stop fabricating Gemini streaming token counts (I)
  runtime/providers/gemini/gemini_integration_test.go
  runtime/providers/gemini/gemini_streaming.go
  runtime/providers/gemini/gemini_streaming_test.go
Due: runtime

fix(cost): price Gemini thinking tokens + kill wrong-constant fallback (F,K)
  runtime/providers/gemini/gemini.go
  runtime/providers/gemini/gemini_cost_test.go
  runtime/providers/gemini/gemini_multimodal.go
  runtime/providers/gemini/gemini_test.go
  runtime/providers/gemini/gemini_tools.go
  runtime/providers/gemini/pricing_table.go
Due: runtime

refactor(cost): route ollama/mock/replay CalculateCost through PriceUsage
  runtime/providers/mock/mock.go
  runtime/providers/ollama/ollama.go
  runtime/providers/replay/provider.go
Due: runtime

fix(cost): normalize OpenAI reasoning tokens into their own priced unit
  runtime/providers/openai/openai.go
  runtime/providers/openai/openai_cost_test.go
  runtime/providers/openai/openai_responses_integration.go
  runtime/providers/openai/openai_test.go
  runtime/providers/openai/openai_tools.go
  runtime/providers/openai/pricing_table.go
Due: runtime

fix(cost): price OpenAI Realtime cached + audio tokens via unit engine (H)
  runtime/providers/openai/realtime_cost.go
  runtime/providers/openai/realtime_cost_test.go
  runtime/providers/openai/realtime_session_integration.go
Due: runtime

fix(cost): price reasoning tokens under flat config (avoid understatement)
  runtime/providers/base/llmpricing.go
  runtime/providers/base/llmpricing_test.go
Due: runtime

docs: generate runtime reference from source via gomarkdoc
  Makefile
  docs/scripts/gen-reference.sh
  docs/src/content/docs/runtime/reference/a2a.md
  docs/src/content/docs/runtime/reference/hooks.md
  docs/src/content/docs/runtime/reference/logging.md
  docs/src/content/docs/runtime/reference/mcp.md
  docs/src/content/docs/runtime/reference/metrics.md
  docs/src/content/docs/runtime/reference/pipeline.md
  docs/src/content/docs/runtime/reference/providers.md
  docs/src/content/docs/runtime/reference/statestore.md
  docs/src/content/docs/runtime/reference/storage.md
  docs/src/content/docs/runtime/reference/telemetry.md
  docs/src/content/docs/runtime/reference/tools.md
  docs/src/content/docs/runtime/reference/types.md
  runtime/types/example_test.go
Due: none

ci: drift gate for generated runtime reference
  .github/workflows/ci.yml
  Makefile
  docs/scripts/check-reference.sh
  docs/src/content/docs/concepts/tools-mcp.md
  docs/src/content/docs/runtime/explanation/provider-system.md
  docs/src/content/docs/runtime/how-to/tools/integrate-mcp.md
  docs/src/content/docs/runtime/index.md
  docs/src/content/docs/runtime/reference/index.md
  docs/src/content/docs/runtime/reference/tools-mcp.md
  docs/src/content/docs/runtime/tutorials/03-mcp-integration.md
Due: none

ci: run reference drift gate on source-or-docs changes
  .github/workflows/ci.yml
  .github/workflows/reference-drift.yml
Due: none

docs: add compiler-checked examples to providers/types reference
  docs/src/content/docs/runtime/reference/providers.md
  docs/src/content/docs/runtime/reference/types.md
  runtime/providers/example_test.go
  runtime/types/example_test.go
Due: none

docs: add compiler-checked examples to hooks/tools/statestore/storage/a2a reference
  docs/src/content/docs/runtime/reference/a2a.md
  docs/src/content/docs/runtime/reference/hooks.md
  docs/src/content/docs/runtime/reference/statestore.md
  docs/src/content/docs/runtime/reference/storage.md
  docs/src/content/docs/runtime/reference/tools.md
  runtime/a2a/example_test.go
  runtime/hooks/example_test.go
  runtime/statestore/example_test.go
  runtime/storage/example_test.go
  runtime/tools/example_test.go
Due: none

docs: redirect retired tools-mcp reference URL
  docs/astro.config.mjs
  docs/public/llms.txt
Due: none

docs: verify runtime reference nav + salvage conceptual prose (Task 6)
  docs/src/content/docs/runtime/explanation/index.md
  docs/src/content/docs/runtime/explanation/media-storage.md
  docs/src/content/docs/runtime/explanation/state-management.md
  docs/src/content/docs/runtime/how-to/observability/export-traces-otlp.md
  docs/src/content/docs/runtime/how-to/observability/prometheus-metrics.md
  docs/src/content/docs/runtime/how-to/observability/redact-log-secrets.md
  docs/src/content/docs/runtime/how-to/tools/integrate-mcp.md
  docs/src/content/docs/runtime/reference/index.md
Due: none

docs: generate runtime reference from source + drift gate (#1591)
  .github/workflows/reference-drift.yml
  Makefile
  docs/astro.config.mjs
  docs/public/llms.txt
  docs/scripts/check-reference.sh
  docs/scripts/gen-reference.sh
  docs/src/content/docs/concepts/tools-mcp.md
  docs/src/content/docs/runtime/explanation/index.md
  docs/src/content/docs/runtime/explanation/media-storage.md
  docs/src/content/docs/runtime/explanation/provider-system.md
  docs/src/content/docs/runtime/explanation/state-management.md
  docs/src/content/docs/runtime/how-to/observability/export-traces-otlp.md
  docs/src/content/docs/runtime/how-to/observability/prometheus-metrics.md
  docs/src/content/docs/runtime/how-to/observability/redact-log-secrets.md
  docs/src/content/docs/runtime/how-to/tools/integrate-mcp.md
  docs/src/content/docs/runtime/index.md
  docs/src/content/docs/runtime/reference/a2a.md
  docs/src/content/docs/runtime/reference/hooks.md
  docs/src/content/docs/runtime/reference/index.md
  docs/src/content/docs/runtime/reference/logging.md
  docs/src/content/docs/runtime/reference/mcp.md
  docs/src/content/docs/runtime/reference/metrics.md
  docs/src/content/docs/runtime/reference/pipeline.md
  docs/src/content/docs/runtime/reference/providers.md
  docs/src/content/docs/runtime/reference/statestore.md
  docs/src/content/docs/runtime/reference/storage.md
  docs/src/content/docs/runtime/reference/telemetry.md
  docs/src/content/docs/runtime/reference/tools-mcp.md
  docs/src/content/docs/runtime/reference/tools.md
  docs/src/content/docs/runtime/reference/types.md
  docs/src/content/docs/runtime/tutorials/03-mcp-integration.md
  runtime/a2a/example_test.go
  runtime/hooks/example_test.go
  runtime/providers/example_test.go
  runtime/statestore/example_test.go
  runtime/storage/example_test.go
  runtime/tools/example_test.go
  runtime/types/example_test.go
Due: none
