Repository AltairaLabs/PromptKit: changes, and which Codecov flags are due for each by the changed paths.
All: runtime, sdk, arena, packc, inspect-state

feat: adopt OTel GenAI SIG semantic conventions for telemetry (#682)
  docs/src/content/docs/runtime/how-to/export-traces-otlp.md
  docs/src/content/docs/runtime/reference/telemetry.md
  runtime/telemetry/listener.go
  runtime/telemetry/listener_test.go
  sdk/conversation.go
  sdk/otel_integration_test.go
Due: runtime, sdk

feat: add structured logging and OTel trace propagation to tool executors
  runtime/a2a/executor.go
  sdk/tools/http.go
Due: runtime, sdk

feat: add structured logging across runtime and SDK for observability
  runtime/credentials/resolver.go
  runtime/hooks/registry.go
  runtime/pipeline/stage/pipeline.go
  runtime/providers/retry.go
  runtime/statestore/memory.go
  runtime/tools/registry.go
  runtime/workflow/machine.go
  sdk/conversation.go
  sdk/sdk.go
Due: runtime, sdk

feat: structured logging and OTel trace propagation across runtime and SDK (#683)
  runtime/a2a/executor.go
  runtime/credentials/resolver.go
  runtime/hooks/registry.go
  runtime/pipeline/stage/pipeline.go
  runtime/providers/retry.go
  runtime/statestore/memory.go
  runtime/tools/registry.go
  runtime/workflow/machine.go
  sdk/conversation.go
  sdk/sdk.go
  sdk/tools/http.go
Due: runtime, sdk

feat: extensible HTTP tool mapping with request/response transforms and multimodal support
  docs/src/content/docs/runtime/how-to/http-tool-mapping.md
  docs/src/content/docs/sdk/how-to/http-tools.md
  examples/live-http-tools/config.arena.yaml
  examples/live-http-tools/mock-responses.yaml
  examples/live-http-tools/prompts/assistant.yaml
  examples/live-http-tools/providers/mock-provider.yaml
  examples/live-http-tools/scenarios/image-generation.scenario.yaml
  examples/live-http-tools/scenarios/math-calculation.scenario.yaml
  examples/live-http-tools/scenarios/multi-tool-chain.scenario.yaml
  examples/live-http-tools/scenarios/weather-lookup.scenario.yaml
  examples/live-http-tools/tools/calculate.tool.yaml
  examples/live-http-tools/tools/generate-image.tool.yaml
  examples/live-http-tools/tools/get-weather.tool.yaml
  examples/live-http-tools/tools/search-places.tool.yaml
  examples/sdk-http-auth/assistant.pack.json
  examples/sdk-http-auth/go.mod
  examples/sdk-http-auth/go.sum
  examples/sdk-http-auth/main.go
  go.work
  pkg/config/types.go
  runtime/evals/handlers/tool_call_views.go
  runtime/evals/handlers/tool_call_views_test.go
  runtime/tools/http_executor.go
  runtime/tools/http_executor_test.go
  runtime/tools/http_mapping.go
  runtime/tools/http_mapping_test.go
  runtime/tools/http_multimodal.go
  runtime/tools/http_multimodal_test.go
  runtime/tools/types.go
  schemas/v1alpha1/arena.json
  schemas/v1alpha1/tool.json
  sdk/tools/http.go
  sdk/tools/http_test.go
  tools/arena/engine/builder_integration.go
Due: runtime, sdk

refactor: reduce test duplication in http_executor_test.go
  runtime/tools/http_executor_test.go
Due: none

refactor: deduplicate HTTP config types between pkg/config and runtime/tools
  pkg/config/types.go
  pkg/go.mod
  pkg/go.sum
Due: none

feat: extensible HTTP tool mapping with request/response transforms (#684)
  docs/src/content/docs/runtime/how-to/http-tool-mapping.md
  docs/src/content/docs/sdk/how-to/http-tools.md
  examples/live-http-tools/config.arena.yaml
  examples/live-http-tools/mock-responses.yaml
  examples/live-http-tools/prompts/assistant.yaml
  examples/live-http-tools/providers/mock-provider.yaml
  examples/live-http-tools/scenarios/image-generation.scenario.yaml
  examples/live-http-tools/scenarios/math-calculation.scenario.yaml
  examples/live-http-tools/scenarios/multi-tool-chain.scenario.yaml
  examples/live-http-tools/scenarios/weather-lookup.scenario.yaml
  examples/live-http-tools/tools/calculate.tool.yaml
  examples/live-http-tools/tools/generate-image.tool.yaml
  examples/live-http-tools/tools/get-weather.tool.yaml
  examples/live-http-tools/tools/search-places.tool.yaml
  examples/sdk-http-auth/assistant.pack.json
  examples/sdk-http-auth/go.mod
  examples/sdk-http-auth/go.sum
  examples/sdk-http-auth/main.go
  go.work
  pkg/config/types.go
  runtime/evals/handlers/tool_call_views.go
  runtime/evals/handlers/tool_call_views_test.go
  runtime/tools/http_executor.go
  runtime/tools/http_executor_test.go
  runtime/tools/http_mapping.go
  runtime/tools/http_mapping_test.go
  runtime/tools/http_multimodal.go
  runtime/tools/http_multimodal_test.go
  runtime/tools/types.go
  schemas/v1alpha1/arena.json
  schemas/v1alpha1/tool.json
  sdk/tools/http.go
  sdk/tools/http_test.go
  tools/arena/engine/builder_integration.go
Due: runtime, sdk

test: add coverage for A2A builder integration helpers
  tools/arena/engine/builder_a2a_test.go
Due: none

fix: rename builder_integration.go and add executor header tests
  runtime/a2a/executor_headers_test.go
  tools/arena/engine/builder_external.go
Due: arena

fix: revert builder_external.go rename back to builder_integration.go
  tools/arena/engine/builder_integration.go
Due: none

test: add wireA2AConfig coverage for agent bridge wiring
  sdk/a2a_builder_test.go
Due: none

docs: add how-to guides for MCP and A2A configuration
  docs/src/content/docs/arena/how-to/index.md
  docs/src/content/docs/arena/how-to/test-a2a-agents.md
  docs/src/content/docs/arena/how-to/test-mcp-tools.md
  docs/src/content/docs/sdk/how-to/configure-mcp.md
  docs/src/content/docs/sdk/how-to/connect-a2a-agents.md
  docs/src/content/docs/sdk/how-to/index.md
Due: none

docs: add how-to guides for MCP and A2A configuration (#699)
  docs/src/content/docs/arena/how-to/index.md
  docs/src/content/docs/arena/how-to/test-a2a-agents.md
  docs/src/content/docs/arena/how-to/test-mcp-tools.md
  docs/src/content/docs/sdk/how-to/configure-mcp.md
  docs/src/content/docs/sdk/how-to/connect-a2a-agents.md
  docs/src/content/docs/sdk/how-to/index.md
Due: none

feat: add standalone sdk.Evaluate() for running evals without a live conversation (#685)
  runtime/evals/context.go
  runtime/evals/context_test.go
  sdk/evaluate.go
  sdk/evaluate_test.go
  sdk/testdata/packs/eval-test.pack.json
  tools/arena/engine/pack_eval_hook.go
  tools/arena/engine/pack_eval_hook_test.go
Due: runtime, sdk, arena

docs: add sdk/examples/evaluate showing standalone eval execution
  sdk/examples/evaluate/evaluate.pack.json
  sdk/examples/evaluate/main.go
Due: sdk

docs: add EventBus example to sdk/examples/evaluate
  sdk/examples/evaluate/main.go
Due: sdk

chore: add JSON schema mapping for *.pack.json in VS Code settings
  .vscode/settings.json
Due: none

feat: standalone sdk.Evaluate() for running evals without a live conversation (#700)
  .vscode/settings.json
  runtime/evals/context.go
  runtime/evals/context_test.go
  sdk/evaluate.go
  sdk/evaluate_test.go
  sdk/examples/evaluate/evaluate.pack.json
  sdk/examples/evaluate/main.go
  sdk/testdata/packs/eval-test.pack.json
  tools/arena/engine/pack_eval_hook.go
  tools/arena/engine/pack_eval_hook_test.go
Due: runtime, sdk, arena

refactor: reduce test duplication in evaluate_test.go for SonarCloud
  sdk/evaluate_test.go
Due: none

feat: add TracerProvider option to sdk.Evaluate() for automatic OTel span emission
  sdk/evaluate.go
  sdk/evaluate_test.go
Due: sdk

refactor: reduce code duplication in evaluate tests and example
  sdk/evaluate_test.go
  sdk/examples/evaluate/main.go
Due: sdk

feat: add TracerProvider option to sdk.Evaluate() and reduce test duplication
  sdk/evaluate.go
  sdk/evaluate_test.go
  sdk/examples/evaluate/main.go
Due: sdk

feat: add TracerProvider option to sdk.Evaluate() and reduce test duplication (#701)
  sdk/evaluate.go
  sdk/evaluate_test.go
  sdk/examples/evaluate/main.go
Due: sdk

feat: make "local" an explicit built-in tool mode
  runtime/tools/errors.go
  runtime/tools/executors.go
  runtime/tools/registry.go
  runtime/tools/types.go
Due: runtime

docs: fix tool, assertion, and eval documentation
  docs/src/content/docs/architecture/runtime-tools-mcp.md
  docs/src/content/docs/arena/explanation/eval-framework.md
  docs/src/content/docs/arena/reference/assertions.md
  docs/src/content/docs/arena/reference/config-schema.md
  docs/src/content/docs/arena/reference/deploy/adapter-sdk.md
  docs/src/content/docs/arena/reference/validators.md
  docs/src/content/docs/concepts/tools-mcp.md
  docs/src/content/docs/runtime/reference/tools-mcp.md
  docs/src/content/docs/sdk/how-to/index.md
  docs/src/content/docs/sdk/how-to/register-tools.md
  docs/src/content/docs/sdk/how-to/run-evals.md
  docs/src/content/docs/sdk/tutorials/05-custom-pipelines.md
Due: none

docs: collapse sidebar sections for better navigation
  docs/astro.config.mjs
Due: none

docs: fix documentation accuracy and improve sidebar navigation (#702)
  docs/astro.config.mjs
  docs/src/content/docs/architecture/runtime-tools-mcp.md
  docs/src/content/docs/arena/explanation/eval-framework.md
  docs/src/content/docs/arena/reference/assertions.md
  docs/src/content/docs/arena/reference/config-schema.md
  docs/src/content/docs/arena/reference/deploy/adapter-sdk.md
  docs/src/content/docs/arena/reference/validators.md
  docs/src/content/docs/concepts/tools-mcp.md
  docs/src/content/docs/runtime/reference/tools-mcp.md
  docs/src/content/docs/sdk/how-to/index.md
  docs/src/content/docs/sdk/how-to/register-tools.md
  docs/src/content/docs/sdk/how-to/run-evals.md
  docs/src/content/docs/sdk/tutorials/05-custom-pipelines.md
  runtime/tools/errors.go
  runtime/tools/executors.go
  runtime/tools/registry.go
  runtime/tools/types.go
Due: runtime

feat: add eval wrappers, adapter, and new handlers (unified eval model phase 2)
  runtime/evals/handlers/field_presence.go
  runtime/evals/handlers/field_presence_test.go
  runtime/evals/handlers/handlers_test.go
  runtime/evals/handlers/register.go
  runtime/evals/handlers/sentence_count.go
  runtime/evals/handlers/sentence_count_test.go
  runtime/evals/normalize.go
  runtime/evals/normalize_test.go
  runtime/evals/wrappers.go
  runtime/evals/wrappers_test.go
  runtime/hooks/guardrails/adapter.go
  runtime/hooks/guardrails/adapter_test.go
  runtime/hooks/guardrails/factory.go
  runtime/hooks/guardrails/factory_test.go
Due: runtime

feat: migrate guardrails to unified eval registry (unified eval model phase 3)
  runtime/evals/handlers/content_excludes.go
  runtime/evals/handlers/content_excludes_test.go
  runtime/evals/handlers/length.go
  runtime/evals/handlers/length_test.go
  runtime/evals/normalize.go
  runtime/evals/normalize_test.go
  runtime/hooks/guardrails/adapter.go
  runtime/hooks/guardrails/banned_words.go
  runtime/hooks/guardrails/banned_words_test.go
  runtime/hooks/guardrails/factory.go
  runtime/hooks/guardrails/factory_test.go
  runtime/hooks/guardrails/length.go
  runtime/hooks/guardrails/length_test.go
  runtime/hooks/guardrails/max_sentences.go
  runtime/hooks/guardrails/max_sentences_test.go
  runtime/hooks/guardrails/required_fields.go
  runtime/hooks/guardrails/required_fields_test.go
  runtime/pipeline/stage/stages_provider_hooks_test.go
  sdk/examples/hooks/main_interactive.go
  tools/arena/stages/guardrail_eval.go
Due: runtime, arena

feat: deprecate Passed field, add streaming eval support (unified eval model phase 4)
  runtime/evals/handlers/content_excludes.go
  runtime/evals/handlers/content_excludes_test.go
  runtime/evals/handlers/guardrail_triggered.go
  runtime/evals/handlers/length.go
  runtime/evals/handlers/length_test.go
  runtime/evals/registry.go
  runtime/evals/runner.go
  runtime/evals/types.go
  runtime/evals/wrappers.go
  runtime/hooks/guardrails/adapter.go
  runtime/hooks/guardrails/adapter_test.go
Due: runtime

feat: guardrail enforcement, monitor-only mode, and validation events
  docs/src/content/docs/architecture/runtime-events.md
  docs/src/content/docs/arena/reference/validators.md
  docs/src/content/docs/concepts/validation.md
  docs/src/content/docs/runtime/reference/hooks.md
  docs/src/content/docs/runtime/tutorials/04-validation-guardrails.md
  docs/src/content/docs/sdk/how-to/monitor-events.md
  examples/guardrails-test/scenarios/streaming-length-trigger.scenario.yaml
  runtime/evals/context.go
  runtime/evals/context_test.go
  runtime/evals/handlers/guardrail_triggered.go
  runtime/evals/handlers/guardrail_triggered_test.go
  runtime/evals/runner.go
  runtime/evals/runner_test.go
  runtime/evals/types.go
  runtime/events/emitter.go
  runtime/events/emitter_test.go
  runtime/events/types.go
  runtime/hooks/guardrails/adapter.go
  runtime/hooks/guardrails/factory.go
  runtime/hooks/guardrails/factory_test.go
  runtime/hooks/types.go
  runtime/hooks/types_test.go
  runtime/pipeline/stage/stages_provider.go
  runtime/pipeline/stage/stages_provider_hooks_test.go
  runtime/prompt/registry.go
  sdk/internal/pack/load.go
  sdk/sdk.go
  tools/arena/stages/guardrail_eval.go
  tools/arena/stages/guardrail_eval_test.go
  tools/arena/turnexecutors/pipeline_executor.go
Due: runtime, sdk, arena

feat: add RuntimeConfig types, loader, and SDK integration
  pkg/config/runtime_config.go
  pkg/config/runtime_config_test.go
  sdk/go.mod
  sdk/runtime_config.go
  sdk/runtime_config_test.go
Due: sdk

feat: add RuntimeConfig JSON schema generation
  schemas/v1alpha1/arena.json
  schemas/v1alpha1/promptconfig.json
  schemas/v1alpha1/runtime-config.json
  tools/schema-gen/generators/runtime_config.go
  tools/schema-gen/main.go
Due: none

feat: add exec tool executor and exec eval handler (Phase 2)
  pkg/config/types.go
  runtime/evals/handlers/exec_handler.go
  runtime/evals/handlers/exec_handler_test.go
  runtime/tools/exec_executor.go
  runtime/tools/exec_executor_test.go
  runtime/tools/types.go
  schemas/v1alpha1/arena.json
  schemas/v1alpha1/runtime-config.json
  schemas/v1alpha1/tool.json
  sdk/conversation.go
  sdk/exec_tools.go
  sdk/options.go
  sdk/runtime_config.go
  sdk/runtime_config_test.go
Due: runtime, sdk

feat: add exec hook adapters for provider, tool, and session hooks (Phase 3)
  runtime/hooks/exec_hooks.go
  runtime/hooks/exec_hooks_test.go
  sdk/runtime_config.go
  sdk/runtime_config_test.go
Due: runtime, sdk

feat: add ServerExecutor for long-running JSON-RPC tool subprocesses (Phase 3)
  runtime/tools/server_executor.go
  runtime/tools/server_executor_test.go
  runtime/tools/types.go
  sdk/conversation.go
  sdk/exec_tools.go
  sdk/runtime_config.go
  sdk/runtime_config_test.go
Due: runtime, sdk

Path conditions:
  runtime: any of: runtime/, but not: **/*_test.go, **/*_interactive.go, **/*_integration.go, examples/, docs/, scripts/, .github/, *.md
  sdk: any of: sdk/, but not: **/*_test.go, **/*_interactive.go, **/*_integration.go, examples/, docs/, scripts/, .github/, *.md
  arena: any of: tools/arena/, but not: **/*_test.go, **/*_interactive.go, **/*_integration.go, examples/, docs/, scripts/, .github/, *.md
  packc: any of: tools/packc/, but not: **/*_test.go, **/*_interactive.go, **/*_integration.go, examples/, docs/, scripts/, .github/, *.md
  inspect-state: any of: tools/inspect-state/, but not: **/*_test.go, **/*_interactive.go, **/*_integration.go, examples/, docs/, scripts/, .github/, *.md
