Repository AltairaLabs/PromptKit: changes, and which Codecov flags are due for each by the changed paths.
All: runtime, sdk, arena, packc, inspect-state

codecov.yml:

codecov:
  require_ci_to_pass: yes
  notify:
    wait_for_ci: yes

coverage:
  precision: 2
  round: down
  range: "70...100"
  
  status:
    project:
      default:
        target: 70%
        threshold: 1%
        if_ci_failed: error
    patch:
      default:
        target: 70%
        threshold: 1%
        if_ci_failed: error

comment:
  layout: "reach,diff,flags,tree"
  behavior: default
  require_changes: false

flags:
  runtime:
    paths:
      - runtime/
  sdk:
    paths:
      - sdk/
  arena:
    paths:
      - tools/arena/
  packc:
    paths:
      - tools/packc/
  inspect-state:
    paths:
      - tools/inspect-state/

ignore:
  - "**/*_test.go"
  - "**/*_interactive.go"
  - "**/*_integration.go"
  - "examples/"
  - "docs/"
  - "scripts/"
  - ".github/"
  - "*.md"

fix(demo): revert voice-refund scenarios from gpt-4o-mini-tts back to tts-1 (#1137)
  examples/voice-refund-demo/scenarios/aggressive-refund.scenario.yaml
  examples/voice-refund-demo/scenarios/impersonator-refund.scenario.yaml
Due: none

fix(arena/serve): persist each run as it completes, not after the batch
  tools/arena/engine/engine.go
  tools/arena/engine/engine_audio_test.go
  tools/arena/web/server.go
  tools/arena/web/server_test.go
Due: arena

fix(demo): switch expressive scenarios to Cartesia for fast + characterized TTS
  examples/voice-refund-demo/scenarios/aggressive-refund.scenario.yaml
  examples/voice-refund-demo/scenarios/impersonator-refund.scenario.yaml
Due: none

fix(arena/serve): persist each run as it completes, not after the batch (#1138)
  tools/arena/engine/engine.go
  tools/arena/engine/engine_audio_test.go
  tools/arena/web/server.go
  tools/arena/web/server_test.go
Due: arena

fix(demo): switch expressive scenarios to Cartesia for fast + characterized TTS (#1139)
  examples/voice-refund-demo/scenarios/aggressive-refund.scenario.yaml
  examples/voice-refund-demo/scenarios/impersonator-refund.scenario.yaml
Due: none

fix(arena/audio): bump drainTailGrace 500ms → 1500ms to cover SSE/browser playback latency
  tools/arena/audio/local_sink.go
Due: arena

feat(demo): expressive selfplay TTS end-to-end with dev panel
  examples/voice-refund-demo/config.arena.yaml
  examples/voice-refund-demo/mock-responses.yaml
  examples/voice-refund-demo/personas/aggressive-entitled.persona.yaml
  examples/voice-refund-demo/personas/anxious-recipient.persona.yaml
  examples/voice-refund-demo/scenarios/anxious-delivery.scenario.yaml
  examples/voice-refund-demo/tools/lookup-order.tool.yaml
  runtime/pipeline/stage/stages_pacing.go
  runtime/pipeline/stage/stages_pacing_test.go
  runtime/providers/mock/mock_repository.go
  runtime/providers/mock/mock_streaming_interactive.go
  runtime/tts/cartesia.go
  runtime/tts/cartesia_live_integration_test.go
  runtime/tts/cartesia_shouts_probe_test.go
  runtime/tts/cartesia_test.go
  runtime/tts/elevenlabs.go
  runtime/tts/elevenlabs_probe_test.go
  runtime/tts/pcm_helpers_test.go
  tools/arena/engine/duplex_executor_turns_integration.go
  tools/arena/selfplay/generator.go
  tools/arena/selfplay/registry.go
  tools/arena/web/frontend/src/components/DevToolsPanel.tsx
  tools/arena/web/sse_latency_test.go
Due: runtime, arena

feat(demo): expressive selfplay TTS end-to-end with dev panel (#1141)
  examples/voice-refund-demo/config.arena.yaml
  examples/voice-refund-demo/mock-responses.yaml
  examples/voice-refund-demo/personas/aggressive-entitled.persona.yaml
  examples/voice-refund-demo/personas/anxious-recipient.persona.yaml
  examples/voice-refund-demo/scenarios/anxious-delivery.scenario.yaml
  examples/voice-refund-demo/tools/lookup-order.tool.yaml
  runtime/pipeline/stage/stages_pacing.go
  runtime/pipeline/stage/stages_pacing_test.go
  runtime/providers/mock/mock_repository.go
  runtime/providers/mock/mock_streaming_interactive.go
  runtime/tts/cartesia.go
  runtime/tts/cartesia_live_integration_test.go
  runtime/tts/cartesia_shouts_probe_test.go
  runtime/tts/cartesia_test.go
  runtime/tts/elevenlabs.go
  runtime/tts/elevenlabs_probe_test.go
  runtime/tts/pcm_helpers_test.go
  tools/arena/engine/duplex_executor_turns_integration.go
  tools/arena/selfplay/generator.go
  tools/arena/selfplay/registry.go
  tools/arena/web/frontend/src/components/DevToolsPanel.tsx
  tools/arena/web/sse_latency_test.go
Due: runtime, arena

feat(config): add Provider.Capability discriminator with llm default
  pkg/config/capability.go
  pkg/config/capability_test.go
  pkg/config/types.go
Due: none

feat(config): validate Provider.Capability during LoadConfig
  pkg/config/config_test.go
  pkg/config/loader.go
  schemas/v1alpha1/provider.json
Due: none

feat(schema): publish capability field in provider schema with enum constraint
  pkg/config/types.go
  schemas/v1alpha1/provider.json
Due: none

feat(config): add Voice/SampleRate/AudioFiles to Provider; Voice to UserPersonaPack
  pkg/config/persona.go
  pkg/config/tts_provider_test.go
  pkg/config/types.go
Due: none

feat(config): arena spec gains tts_providers, stt_providers, voices
  pkg/config/types.go
  pkg/config/voice.go
  pkg/config/voice_test.go
Due: none

feat(config): loader populates LoadedTTSProviders + validates voice bindings
  pkg/config/config_test.go
  pkg/config/loader.go
  schemas/v1alpha1/arena.json
  schemas/v1alpha1/provider.json
Due: none

feat(config): make Provider.Model optional; regenerate schemas authoritatively
  pkg/config/types.go
  schemas/v1alpha1/arena.json
  schemas/v1alpha1/persona.json
  schemas/v1alpha1/provider.json
  schemas/v1alpha1/runtime-config.json
Due: none

feat(config): validate persona.voice resolves to an arena voice binding
  pkg/config/config_test.go
  pkg/config/loader.go
Due: none

feat(arena/selfplay): TTSRegistry.GetForProvider takes a loaded TTS provider
  tools/arena/selfplay/audio_generator.go
  tools/arena/selfplay/audio_generator_test.go
  tools/arena/selfplay/interfaces.go
  tools/arena/selfplay/registry.go
  tools/arena/selfplay/registry_test.go
  tools/arena/selfplay/tts_registry.go
  tools/arena/selfplay/tts_registry_test.go
Due: arena

feat(arena/engine): duplex resolves TTS via persona.voice → arena catalog
  tools/arena/engine/duplex_executor_turns_integration.go
  tools/arena/engine/duplex_text_tts_test.go
  tools/arena/engine/duplex_tts_streaming.go
  tools/arena/engine/duplex_tts_streaming_test.go
Due: arena

feat(examples/voice-refund-demo): split inline tts: blocks into one-voice-per-provider yamls
  examples/voice-refund-demo/providers/cartesia-confident-man.provider.yaml
  examples/voice-refund-demo/providers/cartesia-friendly-woman.provider.yaml
  examples/voice-refund-demo/providers/elevenlabs-arnold.provider.yaml
  examples/voice-refund-demo/providers/mock-tts.provider.yaml
  examples/voice-refund-demo/providers/openai-nova.provider.yaml
Due: none

feat(examples/voice-refund-demo): wire arena voices catalog; remove inline tts: blocks
  examples/voice-refund-demo/config.arena.yaml
  examples/voice-refund-demo/personas/aggressive-entitled.persona.yaml
  examples/voice-refund-demo/personas/anxious-recipient.persona.yaml
  examples/voice-refund-demo/personas/impersonator.persona.yaml
  examples/voice-refund-demo/personas/patient-customer.persona.yaml
  examples/voice-refund-demo/scenarios/aggressive-refund.scenario.yaml
  examples/voice-refund-demo/scenarios/anxious-delivery.scenario.yaml
  examples/voice-refund-demo/scenarios/impersonator-refund.scenario.yaml
  examples/voice-refund-demo/scenarios/patient-baseline.scenario.yaml
Due: none

feat(examples/duplex-streaming): wire arena voices catalog; remove inline tts: blocks
  examples/duplex-streaming/config.arena.yaml
  examples/duplex-streaming/personas/busy-professional.persona.yaml
  examples/duplex-streaming/personas/curious-customer.persona.yaml
  examples/duplex-streaming/personas/technical-user.persona.yaml
  examples/duplex-streaming/providers/elevenlabs-rachel.provider.yaml
  examples/duplex-streaming/providers/mock-tts.provider.yaml
  examples/duplex-streaming/providers/openai-alloy-expressive.provider.yaml
  examples/duplex-streaming/providers/openai-echo.provider.yaml
  examples/duplex-streaming/scenarios/duplex-interactive.scenario.yaml
  examples/duplex-streaming/scenarios/duplex-selfplay-mock.scenario.yaml
  examples/duplex-streaming/scenarios/duplex-selfplay.scenario.yaml
  examples/duplex-streaming/scenarios/duplex-tools.scenario.yaml
Due: none

feat(config,arena): Scenario.Voice catalog field; scripted-text uses catalog
  examples/duplex-streaming/config.arena.yaml
  examples/duplex-streaming/providers/openai-alloy.provider.yaml
  examples/duplex-streaming/scenarios/duplex-scripted-text-openai.scenario.yaml
  examples/duplex-streaming/scenarios/duplex-scripted-text.scenario.yaml
  pkg/config/config_test.go
  pkg/config/loader.go
  pkg/config/tts_provider_test.go
  pkg/config/types.go
  schemas/v1alpha1/arena.json
  schemas/v1alpha1/scenario.json
  tools/arena/engine/duplex_executor_turns_integration.go
  tools/arena/engine/duplex_text_tts_test.go
Due: none

refactor: remove TTSConfig type, legacy resolveTTS chain, dual-path TTS code
  pkg/config/duplex_config_test.go
  pkg/config/loader.go
  pkg/config/types.go
  tools/arena/engine/duplex_executor_turns_integration.go
  tools/arena/engine/duplex_text_tts_test.go
  tools/arena/engine/duplex_tts_streaming.go
  tools/arena/engine/duplex_tts_streaming_test.go
  tools/arena/selfplay/audio_generator.go
  tools/arena/selfplay/audio_generator_test.go
  tools/arena/selfplay/interfaces.go
  tools/arena/selfplay/registry.go
  tools/arena/selfplay/registry_test.go
  tools/arena/selfplay/tts_registry.go
  tools/arena/selfplay/tts_registry_test.go
Due: arena

feat(schema): drop legacy inline tts: fields from scenario and arena schemas
  schemas/v1alpha1/arena.json
  schemas/v1alpha1/scenario.json
Due: none

chore: pre-merge cleanup — symmetric capability validation + doc migration
  docs/src/content/docs/arena/how-to/setup-voice-testing.md
  docs/src/content/docs/arena/reference/duplex-config.md
  docs/src/content/docs/arena/tutorials/06-duplex-testing.md
  pkg/config/config_test.go
  pkg/config/loader.go
Due: none

fix(examples/voice-refund-demo): mock selfplay user turns for keyless-LLM CI
  examples/README.md
  examples/voice-refund-demo/README.md
  examples/voice-refund-demo/config.arena.yaml
  examples/voice-refund-demo/mock-responses.yaml
  examples/voice-refund-demo/providers/openai-gpt4o-mini-text.provider.yaml
Due: none

fix(examples/voice-refund-demo): mock selfplay user turns for keyless-LLM CI (#1142)
  examples/README.md
  examples/voice-refund-demo/README.md
  examples/voice-refund-demo/config.arena.yaml
  examples/voice-refund-demo/mock-responses.yaml
  examples/voice-refund-demo/providers/openai-gpt4o-mini-text.provider.yaml
Due: none

fix(arena/audio): build-tag oto import so CGO_ENABLED=0 cross-compile works
  tools/arena/audio/local_sink_integration_cgo.go
  tools/arena/audio/local_sink_nocgo_integration.go
Due: arena

fix(arena/audio): build-tag oto import so CGO_ENABLED=0 cross-compile works (#1144)
  tools/arena/audio/local_sink_integration_cgo.go
  tools/arena/audio/local_sink_nocgo_integration.go
Due: arena

chore(examples,docs): drop PROMPTKIT_SCHEMA_SOURCE=local from shipped surfaces
  CLAUDE.md
  docs/src/content/docs/arena/reference/cli-commands.md
  docs/src/content/docs/arena/tutorials/08-client-tools.md
  examples/codegen-anthropic/README.md
  examples/codegen-anthropic/config.arena.yaml
  examples/codegen-sandbox/README.md
  examples/codegen-sandbox/config.arena.yaml
  examples/duplex-streaming/sweep-silence-tail.sh
  examples/eval-test/README.md
  examples/memory-agent/README.md
  examples/multimodal-tool-results/README.md
  examples/resilience-testing/README.md
  examples/voice-refund-demo/README.md
  examples/workflow-agent-loops/README.md
  examples/workflow-skills/README.md
Due: none

chore(examples,docs): drop PROMPTKIT_SCHEMA_SOURCE=local from shipped surfaces (#1164)
  CLAUDE.md
  docs/src/content/docs/arena/reference/cli-commands.md
  docs/src/content/docs/arena/tutorials/08-client-tools.md
  examples/codegen-anthropic/README.md
  examples/codegen-anthropic/config.arena.yaml
  examples/codegen-sandbox/README.md
  examples/codegen-sandbox/config.arena.yaml
  examples/duplex-streaming/sweep-silence-tail.sh
  examples/eval-test/README.md
  examples/memory-agent/README.md
  examples/multimodal-tool-results/README.md
  examples/resilience-testing/README.md
  examples/voice-refund-demo/README.md
  examples/workflow-agent-loops/README.md
  examples/workflow-skills/README.md
Due: none

feat(evals): add RAG eval handlers — faithfulness, answer_relevancy, contextual_*, hallucination (#1145)
  docs/src/content/docs/reference/checks.md
  runtime/evals/handlers/answer_relevancy.go
  runtime/evals/handlers/contextual_precision.go
  runtime/evals/handlers/contextual_recall.go
  runtime/evals/handlers/contextual_relevancy.go
  runtime/evals/handlers/faithfulness.go
  runtime/evals/handlers/hallucination.go
  runtime/evals/handlers/handlers_test.go
  runtime/evals/handlers/rag_handlers_test.go
  runtime/evals/handlers/rag_helpers.go
  runtime/evals/handlers/register.go
Due: runtime

feat(evals): add RAG eval handlers — faithfulness, answer_relevancy, contextual_*, hallucination (#1145) (#1165)
  docs/src/content/docs/reference/checks.md
  runtime/evals/handlers/answer_relevancy.go
  runtime/evals/handlers/contextual_precision.go
  runtime/evals/handlers/contextual_recall.go
  runtime/evals/handlers/contextual_relevancy.go
  runtime/evals/handlers/faithfulness.go
  runtime/evals/handlers/hallucination.go
  runtime/evals/handlers/handlers_test.go
  runtime/evals/handlers/rag_handlers_test.go
  runtime/evals/handlers/rag_helpers.go
  runtime/evals/handlers/register.go
Due: runtime

feat(evals): add safety eval handlers — bias, toxicity, pii_leakage, role_violation (#1146)
  docs/src/content/docs/reference/checks.md
  runtime/evals/handlers/bias.go
  runtime/evals/handlers/handlers_test.go
  runtime/evals/handlers/pii_leakage.go
  runtime/evals/handlers/register.go
  runtime/evals/handlers/role_violation.go
  runtime/evals/handlers/safety_handlers_test.go
  runtime/evals/handlers/safety_helpers.go
  runtime/evals/handlers/toxicity.go
Due: runtime

feat(evals): add safety eval handlers — bias, toxicity, pii_leakage, role_violation (#1146) (#1166)
  docs/src/content/docs/reference/checks.md
  runtime/evals/handlers/bias.go
  runtime/evals/handlers/handlers_test.go
  runtime/evals/handlers/pii_leakage.go
  runtime/evals/handlers/register.go
  runtime/evals/handlers/role_violation.go
  runtime/evals/handlers/safety_handlers_test.go
  runtime/evals/handlers/safety_helpers.go
  runtime/evals/handlers/toxicity.go
Due: runtime

docs(arena): add voice customer support how-to (#1147)
  docs/src/content/docs/arena/how-to/index.md
  docs/src/content/docs/arena/how-to/voice-customer-support.md
Due: none

docs(arena): add voice customer support how-to (#1147) (#1167)
  docs/src/content/docs/arena/how-to/index.md
  docs/src/content/docs/arena/how-to/voice-customer-support.md
Due: none

feat(examples,docs): voice IVR workflow demo (#1148)
  docs/src/content/docs/arena/how-to/index.md
  docs/src/content/docs/arena/how-to/voice-ivr.md
  examples/voice-ivr/README.md
  examples/voice-ivr/config.arena.yaml
  examples/voice-ivr/mock-responses.yaml
  examples/voice-ivr/prompts/handoff.yaml
  examples/voice-ivr/prompts/resolution.yaml
  examples/voice-ivr/prompts/verifying.yaml
  examples/voice-ivr/providers/mock-provider.yaml
  examples/voice-ivr/scenarios/balance-check.scenario.yaml
  examples/voice-ivr/scenarios/handoff-to-agent.scenario.yaml
  examples/voice-ivr/tools/check-balance.tool.yaml
  examples/voice-ivr/tools/lookup-account.tool.yaml
  examples/voice-ivr/tools/transfer-to-agent.tool.yaml
Due: none

feat(examples,docs): voice IVR workflow demo (#1148) (#1168)
  docs/src/content/docs/arena/how-to/index.md
  docs/src/content/docs/arena/how-to/voice-ivr.md
  examples/voice-ivr/README.md
  examples/voice-ivr/config.arena.yaml
  examples/voice-ivr/mock-responses.yaml
  examples/voice-ivr/prompts/handoff.yaml
  examples/voice-ivr/prompts/resolution.yaml
  examples/voice-ivr/prompts/verifying.yaml
  examples/voice-ivr/providers/mock-provider.yaml
  examples/voice-ivr/scenarios/balance-check.scenario.yaml
  examples/voice-ivr/scenarios/handoff-to-agent.scenario.yaml
  examples/voice-ivr/tools/check-balance.tool.yaml
  examples/voice-ivr/tools/lookup-account.tool.yaml
  examples/voice-ivr/tools/transfer-to-agent.tool.yaml
Due: none
