Repository AltairaLabs/PromptKit: changes, and which Codecov flags are due for each by the changed paths.
All: runtime, sdk, arena, packc, inspect-state

codecov.yml:

codecov:
  require_ci_to_pass: yes
  notify:
    wait_for_ci: yes

coverage:
  precision: 2
  round: down
  range: "70...100"
  
  status:
    project:
      default:
        target: 70%
        threshold: 1%
        if_ci_failed: error
    patch:
      default:
        target: 70%
        threshold: 1%
        if_ci_failed: error

comment:
  layout: "reach,diff,flags,tree"
  behavior: default
  require_changes: false

flags:
  runtime:
    paths:
      - runtime/
  sdk:
    paths:
      - sdk/
  arena:
    paths:
      - tools/arena/
  packc:
    paths:
      - tools/packc/
  inspect-state:
    paths:
      - tools/inspect-state/

ignore:
  - "**/*_test.go"
  - "**/*_interactive.go"
  - "**/*_integration.go"
  - "examples/"
  - "docs/"
  - "scripts/"
  - ".github/"
  - "*.md"

docs: say MaxTokensUnlimited is a provider default, not a request value
  docs/src/content/docs/reference/upgrade-notes.md
  docs/src/content/docs/runtime/reference/providers.md
  runtime/providers/provider.go
Due: runtime

fix: honor provider defaults for max_tokens/temperature; send no limit by default (#2145)
  docs/src/content/docs/architecture/runtime-providers.md
  docs/src/content/docs/concepts/providers.md
  docs/src/content/docs/reference/upgrade-notes.md
  docs/src/content/docs/runtime/explanation/provider-system.md
  docs/src/content/docs/runtime/how-to/providers/setup-providers.md
  docs/src/content/docs/runtime/reference/providers.md
  docs/src/content/docs/sdk/reference/conversation-manager.md
  docs/src/content/docs/sdk/reference/runtime-config.md
  runtime/providers/claude/claude.go
  runtime/providers/claude/claude_tools.go
  runtime/providers/claude/max_tokens_test.go
  runtime/providers/gemini/gemini.go
  runtime/providers/gemini/gemini_multimodal.go
  runtime/providers/gemini/gemini_thinking.go
  runtime/providers/gemini/gemini_tools.go
  runtime/providers/gemini/max_tokens_test.go
  runtime/providers/max_tokens_test.go
  runtime/providers/ollama/max_tokens_test.go
  runtime/providers/ollama/ollama.go
  runtime/providers/ollama/ollama_tools.go
  runtime/providers/openai/max_tokens_test.go
  runtime/providers/openai/openai.go
  runtime/providers/provider.go
  runtime/providers/vllm/max_tokens_test.go
  runtime/providers/vllm/vllm.go
  runtime/providers/vllm/vllm_tools.go
  sdk/conversation.go
  sdk/internal/provider/detect.go
  sdk/internal/provider/detect_test.go
  sdk/provider_defaults_test.go
  sdk/sdk.go
Due: runtime, sdk

test(events): benchmark EventBus per-delivery cost (#2146)
  runtime/events/bus_bench_test.go
Due: none

bench: put the event bus under the round1 load test (#2146)
  benchmarks/Makefile
  benchmarks/docker-compose.yaml
  benchmarks/frameworks/promptkit/round1/eventstore.go
  benchmarks/frameworks/promptkit/round1/main.go
  benchmarks/mockupstream/openai_sse.go
  benchmarks/mockupstream/openai_sse_test.go
  benchmarks/mockupstream/profile.go
  benchmarks/profiles/reasoning.yaml
Due: none

bench: report event counts by type from the round1 /stats endpoint
  benchmarks/frameworks/promptkit/round1/eventstore.go
Due: none

WIP: close the SDK-created event bus in Conversation.Close (#2146)
  docs/src/content/docs/sdk/reference/conversation-manager.md
  sdk/conversation.go
  sdk/conversation_eventbus_close_test.go
  sdk/options.go
  sdk/sdk.go
Due: sdk

fix(sdk): close the conversation's event bus without dropping late events (#2146)
  docs/src/content/docs/sdk/reference/conversation-manager.md
  sdk/conversation.go
  sdk/conversation_eventbus_close_test.go
  sdk/event_bus_ref.go
  sdk/event_bus_ref_test.go
  sdk/options.go
  sdk/sdk.go
  sdk/template.go
Due: sdk

ci: run the perf benchmark a second time with an event store (#2146)
  .github/workflows/ci.yml
  benchmarks/frameworks/promptkit/round1/eventstore.go
Due: none

docs: regenerate the SDK reference with Go 1.26 (#2146)
  docs/src/content/docs/sdk/reference/conversation-manager.md
Due: none

fix(sdk): close the event bus when Open fails after creating it (#2146)
  docs/src/content/docs/sdk/reference/conversation-manager.md
  sdk/conversation.go
  sdk/conversation_eventbus_close_test.go
  sdk/sdk.go
  sdk/template.go
Due: sdk

fix(sdk): hand over the bus reference under the lock; reject Fork after Close (#2146)
  .github/workflows/ci.yml
  docs/src/content/docs/sdk/reference/conversation-manager.md
  sdk/conversation.go
  sdk/conversation_eventbus_close_test.go
Due: sdk

fix(runtime): register an execution under the same lock as the shutdown check (#2146)
  docs/src/content/docs/runtime/reference/pipeline.md
  runtime/pipeline/stage/pipeline.go
  runtime/pipeline/stage/pipeline_shutdown_race_test.go
Due: runtime

fix(sdk): close each conversation's event bus; put the event bus under load (#2147)
  .github/workflows/ci.yml
  benchmarks/Makefile
  benchmarks/docker-compose.yaml
  benchmarks/frameworks/promptkit/round1/eventstore.go
  benchmarks/frameworks/promptkit/round1/main.go
  benchmarks/mockupstream/openai_sse.go
  benchmarks/mockupstream/openai_sse_test.go
  benchmarks/mockupstream/profile.go
  benchmarks/profiles/reasoning.yaml
  docs/src/content/docs/runtime/reference/pipeline.md
  docs/src/content/docs/sdk/reference/conversation-manager.md
  runtime/events/bus_bench_test.go
  runtime/pipeline/stage/pipeline.go
  runtime/pipeline/stage/pipeline_shutdown_race_test.go
  sdk/conversation.go
  sdk/conversation_eventbus_close_test.go
  sdk/event_bus_ref.go
  sdk/event_bus_ref_test.go
  sdk/options.go
  sdk/sdk.go
  sdk/template.go
Due: runtime, sdk

fix(metrics,telemetry): count a failed tool call as an error (#2148)
  docs/src/content/docs/runtime/how-to/observability/prometheus-metrics.md
  docs/src/content/docs/runtime/reference/metrics.md
  docs/src/content/docs/runtime/reference/telemetry.md
  runtime/metrics/collector.go
  runtime/metrics/tool_status_test.go
  runtime/telemetry/listener.go
  runtime/telemetry/tool_status_test.go
Due: runtime

fix(metrics,telemetry): count a failed tool call as an error (#2149)
  docs/src/content/docs/runtime/how-to/observability/prometheus-metrics.md
  docs/src/content/docs/runtime/reference/metrics.md
  docs/src/content/docs/runtime/reference/telemetry.md
  runtime/metrics/collector.go
  runtime/metrics/tool_status_test.go
  runtime/telemetry/listener.go
  runtime/telemetry/tool_status_test.go
Due: runtime

fix(examples): drop tool_policy.max_total_tool_calls from the A2A scenarios
  server/a2a/examples/a2a-auth-test/arena/scenarios/echo-test.scenario.yaml
  server/a2a/examples/a2a-demo/arena/scenarios/delegated_research.yaml
Due: none

chore(schema): sync committed schemas with promptarena (#2127)
  schemas/v1alpha1/arena.json
  schemas/v1alpha1/scenario.json
  server/a2a/examples/a2a-auth-test/arena/scenarios/echo-test.scenario.yaml
  server/a2a/examples/a2a-demo/arena/scenarios/delegated_research.yaml
Due: none

perf(events): deliver through per-listener queues, not a goroutine per event (#2146)
  docs/src/content/docs/architecture/runtime-events.md
  docs/src/content/docs/runtime/explanation/pipeline-architecture.md
  runtime/events/bus.go
  runtime/events/bus_bench_test.go
  runtime/events/bus_delivery_test.go
  runtime/events/bus_test.go
Due: runtime

fix(events): stop delivery on unsubscribe, keep DroppedCount to backpressure, bound Close on a stuck listener
  docs/src/content/docs/runtime/how-to/observability/prometheus-metrics.md
  runtime/events/bus.go
  runtime/events/bus_delivery_test.go
  runtime/metrics/eventbus_health.go
Due: runtime

fix(events,sdk): disable a hung listener; unsubscribe from a supplied bus on Close
  docs/src/content/docs/sdk/reference/conversation-manager.md
  runtime/events/bus.go
  runtime/events/bus_delivery_test.go
  sdk/conversation_eventbus_close_test.go
  sdk/event_bus_ref.go
  sdk/event_bus_ref_test.go
  sdk/options.go
  sdk/sdk.go
Due: runtime, sdk

fix(events): ordered unsubscribe, log stalls instead of counting them
  docs/src/content/docs/architecture/runtime-events.md
  runtime/events/bus.go
  runtime/events/bus_delivery_test.go
  sdk/conversation_eventbus_close_test.go
Due: runtime

fix(events): Close waits for unsubscribed listeners to drain
  runtime/events/bus.go
  runtime/events/bus_delivery_test.go
Due: runtime

fix(events,sdk): time slow calls on the monotonic clock; Evaluate releases its tracing listener
  docs/src/content/docs/sdk/reference/conversation-manager.md
  runtime/events/bus.go
  sdk/evaluate.go
  sdk/evaluate_test.go
Due: runtime, sdk

perf(events): deliver through per-listener queues, not a goroutine per event (#2146) (#2150)
  docs/src/content/docs/architecture/runtime-events.md
  docs/src/content/docs/runtime/explanation/pipeline-architecture.md
  docs/src/content/docs/runtime/how-to/observability/prometheus-metrics.md
  docs/src/content/docs/sdk/reference/conversation-manager.md
  runtime/events/bus.go
  runtime/events/bus_bench_test.go
  runtime/events/bus_delivery_test.go
  runtime/events/bus_test.go
  runtime/metrics/eventbus_health.go
  sdk/conversation_eventbus_close_test.go
  sdk/evaluate.go
  sdk/evaluate_test.go
  sdk/event_bus_ref.go
  sdk/event_bus_ref_test.go
  sdk/options.go
  sdk/sdk.go
Due: runtime, sdk

feat(governance): carry RFC 0016 governance fields (PromptPack v1.8.1)
  README.md
  docs/src/content/docs/sdk/reference/conversation-manager.md
  runtime/packspec/types.go
  runtime/prompt/governance.go
  runtime/prompt/governance_test.go
  runtime/prompt/schema/promptpack.schema.json
  sdk/README.md
  sdk/doc.go
  sdk/example_packs_load_test.go
  sdk/governance_rfc0016_test.go
Due: runtime, sdk

docs(governance): document RFC 0016 fields; review fixes
  docs/src/content/docs/concepts/governance.md
  runtime/prompt/governance.go
  sdk/example_packs_load_test.go
Due: runtime

docs(sdk): keep generated reference to the spec-version change only
  docs/src/content/docs/sdk/reference/conversation-manager.md
Due: none

fix(config): keep an explicit spec.id; metadata.name is only the fallback
  pkg/config/loader.go
  pkg/config/manifest_helpers.go
  pkg/config/shared_coverage_test.go
Due: none

fix(prompt): derive a schema-valid pack id from the task type in Compile
  runtime/prompt/pack.go
  runtime/prompt/pack_id_pattern_test.go
  runtime/prompt/pack_test.go
Due: runtime

fix(sdk/hooks): remove hook subscriptions when the conversation closes
  docs/src/content/docs/sdk/how-to/observability/monitor-events.md
  docs/src/content/docs/sdk/reference/conversation-manager.md
  sdk/conversation.go
  sdk/event_bus_ref.go
  sdk/hooks/events.go
  sdk/hooks_close_test.go
Due: sdk

test(sdk): pin that an idle-timed-out stream ends in an error, not ChunkDone
  sdk/stream_idle_timeout_test.go
Due: none

fix(prompt): derive a schema-valid pack id from the task type in Compile (#2180)
  runtime/prompt/pack.go
  runtime/prompt/pack_id_pattern_test.go
  runtime/prompt/pack_test.go
Due: runtime

ci: record sibling sums before gorelease so api-compat-check has no go.sum noise
  scripts/check-api-compatibility.sh
Due: none

ci: record sibling sums before gorelease so api-compat-check has no go.sum noise (#2183)
  scripts/check-api-compatibility.sh
Due: none

feat(governance): carry RFC 0016 governance fields (PromptPack v1.8.1) (#2177)
  README.md
  docs/src/content/docs/concepts/governance.md
  docs/src/content/docs/sdk/reference/conversation-manager.md
  runtime/packspec/types.go
  runtime/prompt/governance.go
  runtime/prompt/governance_test.go
  runtime/prompt/schema/promptpack.schema.json
  sdk/README.md
  sdk/doc.go
  sdk/example_packs_load_test.go
  sdk/governance_rfc0016_test.go
Due: runtime, sdk

fix(governance): report inherited governance errors once; stricter CURIE prefix
  runtime/prompt/governance_validate.go
  runtime/prompt/governance_validate_test.go
Due: runtime

feat(governance): reject packs whose RFC 0016 references don't resolve
  docs/src/content/docs/concepts/governance.md
  docs/src/content/docs/sdk/reference/conversation-manager.md
  runtime/prompt/export_test.go
  runtime/prompt/governance_validate.go
  runtime/prompt/governance_validate_test.go
  runtime/prompt/pack.go
  sdk/governance_rfc0016_test.go
  sdk/internal/pack/load.go
  sdk/internal/pack/validate.go
  sdk/validate_pack.go
Due: runtime, sdk
