Repository AltairaLabs/PromptKit: changes, and which Codecov flags are due for each by the changed paths.
All: runtime, sdk, arena, packc, inspect-state

codecov.yml:

codecov:
  require_ci_to_pass: yes
  notify:
    wait_for_ci: yes

coverage:
  precision: 2
  round: down
  range: "70...100"
  
  status:
    project:
      default:
        target: 70%
        threshold: 1%
        if_ci_failed: error
    patch:
      default:
        target: 70%
        threshold: 1%
        if_ci_failed: error

comment:
  layout: "reach,diff,flags,tree"
  behavior: default
  require_changes: false

flags:
  runtime:
    paths:
      - runtime/
  sdk:
    paths:
      - sdk/
  arena:
    paths:
      - tools/arena/
  packc:
    paths:
      - tools/packc/
  inspect-state:
    paths:
      - tools/inspect-state/

ignore:
  - "**/*_test.go"
  - "**/*_interactive.go"
  - "**/*_integration.go"
  - "examples/"
  - "docs/"
  - "scripts/"
  - ".github/"
  - "*.md"

fix: add hard timeout to EventBus.Close to prevent indefinite hang
  runtime/events/bus.go
Due: runtime

fix: remove blocking TUI adapter from CI mode, always return runIDs
  examples/memory-agent/config.arena.yaml
  tools/arena/cmd/promptarena/run_interactive.go
Due: none

fix: allow terminal workflow states without on_event in pack schema
  examples/workflow-order-processing/config.arena.yaml
  examples/workflow-skills/config.arena.yaml
  examples/workflow-support/config.arena.yaml
  runtime/prompt/schema/promptpack.schema.json
Due: runtime

fix: skip system messages in Claude/Gemini tool request builders (#794)
  examples/memory-agent/config.arena.yaml
  examples/workflow-order-processing/config.arena.yaml
  examples/workflow-skills/config.arena.yaml
  examples/workflow-support/config.arena.yaml
  runtime/events/bus.go
  runtime/pipeline/stage/stages_provider.go
  runtime/prompt/schema/promptpack.schema.json
  runtime/providers/claude/claude.go
  runtime/providers/claude/claude_contract_test.go
  runtime/providers/gemini/gemini.go
  runtime/providers/gemini/gemini_contract_test.go
  runtime/providers/gemini/gemini_multimodal.go
  runtime/providers/openai/openai_contract_test.go
  runtime/providers/provider.go
  runtime/providers/provider_contract_integration.go
  runtime/providers/provider_test.go
  tools/arena/cmd/promptarena/run_interactive.go
Due: runtime

fix: prevent tool call expand from triggering debug pane
  tools/arena/render/templates/report.html.tmpl
Due: arena

feat: classify tool errors and make tools_called assertion strict
  runtime/evals/context.go
  runtime/evals/handlers/tools_called.go
  runtime/pipeline/stage/stages_provider.go
  runtime/types/message.go
  runtime/types/tool_call_record.go
Due: runtime

feat: enable strict tool schemas for OpenAI by default
  runtime/providers/openai/openai_responses_integration.go
  runtime/providers/openai/openai_tools.go
Due: runtime

fix: inject additionalProperties:false for OpenAI strict tool schemas
  runtime/providers/openai/openai_tools.go
  runtime/providers/openai/openai_tools_test.go
Due: runtime

fix: parse streaming tool call args from raw SSE data, not event.Delta
  runtime/providers/openai/openai_responses_integration.go
Due: none

test: add coverage for tools_called error type filtering
  runtime/evals/handlers/handlers_test.go
Due: none

feat: classify tool errors and make tools_called assertion strict (#796)
  runtime/evals/context.go
  runtime/evals/handlers/handlers_test.go
  runtime/evals/handlers/tools_called.go
  runtime/pipeline/stage/stages_provider.go
  runtime/providers/openai/openai_responses_integration.go
  runtime/providers/openai/openai_tools.go
  runtime/providers/openai/openai_tools_test.go
  runtime/types/message.go
  runtime/types/tool_call_record.go
  tools/arena/render/templates/report.html.tmpl
Due: runtime, arena

fix: OpenAI Responses API streaming tool call ID and args handling (#797)
  runtime/providers/openai/openai_responses_integration.go
Due: none

fix: OpenAI Responses API streaming tool call ID and args handling (#797) (#798)
  runtime/providers/openai/openai_responses_integration.go
Due: none

fix: recursive strict schema for OpenAI and Responses API streaming IDs (#797)
  examples/memory-agent/config.arena.yaml
  runtime/providers/openai/openai_tools.go
Due: runtime

fix: normalize empty tool call args to {} and add streaming tool contract test
  runtime/providers/claude/claude_tools.go
  runtime/providers/provider_contract_integration.go
Due: runtime

fix: recursive strict schema for OpenAI tool calling (#799)
  examples/memory-agent/config.arena.yaml
  runtime/providers/claude/claude_tools.go
  runtime/providers/openai/openai_tools.go
  runtime/providers/provider_contract_integration.go
Due: runtime

feat: restyle Arena HTML report to match AltairaLabs design system
  tools/arena/render/templates/report.html.tmpl
Due: arena

feat: restyle Arena HTML report to match AltairaLabs design system (#800)
  tools/arena/render/templates/report.html.tmpl
Due: arena

feat: add WebEventAdapter for SSE event fan-out
  tools/arena/web/event_adapter.go
  tools/arena/web/event_adapter_test.go
Due: arena

feat: add Arena web server with SSE and REST endpoints
  tools/arena/web/server.go
  tools/arena/web/server_test.go
Due: arena

feat: replace static serve with live Arena web server
  tools/arena/cmd/promptarena/serve_interactive.go
Due: none

chore: go mod tidy after adding web package
  tools/arena/go.mod
  tools/arena/go.sum
Due: arena

feat: Arena web UI — Go backend (SSE + REST API) (#801)
  tools/arena/cmd/promptarena/serve_interactive.go
  tools/arena/go.mod
  tools/arena/go.sum
  tools/arena/web/event_adapter.go
  tools/arena/web/event_adapter_test.go
  tools/arena/web/server.go
  tools/arena/web/server_test.go
Due: arena

feat: scaffold Arena web UI with Vite + React + shadcn/ui
  tools/arena/web/frontend/.gitignore
  tools/arena/web/frontend/components.json
  tools/arena/web/frontend/package-lock.json
  tools/arena/web/frontend/package.json
  tools/arena/web/frontend/src/App.tsx
  tools/arena/web/frontend/src/components/ui/badge.tsx
  tools/arena/web/frontend/src/components/ui/button.tsx
  tools/arena/web/frontend/src/components/ui/card.tsx
  tools/arena/web/frontend/src/components/ui/collapsible.tsx
  tools/arena/web/frontend/src/components/ui/scroll-area.tsx
  tools/arena/web/frontend/src/components/ui/separator.tsx
  tools/arena/web/frontend/src/components/ui/table.tsx
  tools/arena/web/frontend/src/components/ui/tabs.tsx
  tools/arena/web/frontend/src/index.css
  tools/arena/web/frontend/src/lib/utils.ts
  tools/arena/web/frontend/src/main.tsx
  tools/arena/web/frontend/src/vite-env.d.ts
  tools/arena/web/frontend/tsconfig.app.json
  tools/arena/web/frontend/tsconfig.json
  tools/arena/web/frontend/vite.config.ts
Due: arena

feat: add TypeScript types, SSE/API hooks, and layout shell
  tools/arena/web/frontend/src/App.tsx
  tools/arena/web/frontend/src/components/Layout.tsx
  tools/arena/web/frontend/src/components/RunProgress.tsx
  tools/arena/web/frontend/src/components/SummaryCards.tsx
  tools/arena/web/frontend/src/hooks/useArenaAPI.ts
  tools/arena/web/frontend/src/hooks/useArenaEvents.ts
  tools/arena/web/frontend/src/types.ts
Due: arena

feat: add all Arena web UI components (summary, progress, conversation, assertions, devtools)
  tools/arena/web/frontend/src/components/AssertionsPanel.tsx
  tools/arena/web/frontend/src/components/ConversationThread.tsx
  tools/arena/web/frontend/src/components/DevToolsPanel.tsx
  tools/arena/web/frontend/src/components/RunProgress.tsx
  tools/arena/web/frontend/src/components/SummaryCards.tsx
Due: arena

feat: add scenario matrix, run detail view, and go:embed SPA serving
  tools/arena/web/embed.go
  tools/arena/web/frontend/src/App.tsx
  tools/arena/web/frontend/src/components/RunDetail.tsx
  tools/arena/web/frontend/src/components/ScenarioMatrix.tsx
  tools/arena/web/server.go
Due: arena

fix: blank screen on Start Run, use report logo, fix dark theme styling
  tools/arena/web/frontend/src/App.tsx
  tools/arena/web/frontend/src/components/Layout.tsx
  tools/arena/web/frontend/src/components/RunProgress.tsx
  tools/arena/web/frontend/src/components/ui/card.tsx
Due: arena

fix: handle *CustomEventData pointer in SSE adapter
  tools/arena/web/event_adapter.go
  tools/arena/web/event_adapter_test.go
  tools/arena/web/frontend/src/hooks/useArenaEvents.ts
Due: arena

fix: flaky TestConversation_EmitsEventsOnSend race condition
  sdk/integration/conversation_test.go
Due: none

fix: flaky TestConversation_EmitsEventsOnSend race condition (#802)
  sdk/integration/conversation_test.go
Due: none

fix: restyle Arena web UI to match altairalabs-web design system
  tools/arena/web/frontend/src/App.tsx
  tools/arena/web/frontend/src/components/Layout.tsx
  tools/arena/web/frontend/src/components/RunProgress.tsx
  tools/arena/web/frontend/src/components/SummaryCards.tsx
Due: arena

fix: restyle Arena web UI to match altairalabs-web design system
  tools/arena/web/frontend/src/hooks/useArenaEvents.ts
Due: arena

fix: restyle to light theme matching altairalabs-web
  tools/arena/web/frontend/src/App.tsx
  tools/arena/web/frontend/src/components/Layout.tsx
  tools/arena/web/frontend/src/components/RunDetail.tsx
  tools/arena/web/frontend/src/components/RunProgress.tsx
  tools/arena/web/frontend/src/components/ScenarioMatrix.tsx
  tools/arena/web/frontend/src/components/SummaryCards.tsx
  tools/arena/web/frontend/src/index.css
Due: arena

feat: load existing results on startup, compact results table
  tools/arena/cmd/promptarena/serve_interactive.go
  tools/arena/web/frontend/src/App.tsx
  tools/arena/web/frontend/src/components/ScenarioMatrix.tsx
Due: arena

fix: dark text in conversation thread, wire DevTools message data
  tools/arena/web/frontend/src/App.tsx
  tools/arena/web/frontend/src/components/ConversationThread.tsx
  tools/arena/web/frontend/src/components/RunDetail.tsx
Due: arena

feat: Arena web UI — React frontend, result loading, docs
  .gitignore
  docs/src/content/docs/arena/reference/cli-commands.md
  docs/src/content/docs/arena/reference/output-formats.md
  tools/arena/cmd/promptarena/serve_interactive.go
  tools/arena/statestore/store.go
  tools/arena/web/frontend/.gitignore
  tools/arena/web/frontend/src/App.tsx
  tools/arena/web/frontend/src/components/DevToolsPanel.tsx
  tools/arena/web/frontend/src/components/RunDetail.tsx
  tools/arena/web/frontend/src/components/RunProgress.tsx
  tools/arena/web/frontend/src/hooks/useArenaAPI.ts
  tools/arena/web/server.go
  tools/arena/web/server_test.go
Due: arena
