Repository AltairaLabs/PromptKit: changes, and which Codecov flags are due for each by the changed paths.
All: runtime, sdk, arena, packc, inspect-state

codecov.yml:

codecov:
  require_ci_to_pass: yes
  notify:
    wait_for_ci: yes

coverage:
  precision: 2
  round: down
  range: "70...100"
  
  status:
    project:
      default:
        target: 70%
        threshold: 1%
        if_ci_failed: error
    patch:
      default:
        target: 70%
        threshold: 1%
        if_ci_failed: error

comment:
  layout: "reach,diff,flags,tree"
  behavior: default
  require_changes: false

flags:
  runtime:
    paths:
      - runtime/
  sdk:
    paths:
      - sdk/
  arena:
    paths:
      - tools/arena/
  packc:
    paths:
      - tools/packc/
  inspect-state:
    paths:
      - tools/inspect-state/

ignore:
  - "**/*_test.go"
  - "**/*_interactive.go"
  - "**/*_integration.go"
  - "examples/"
  - "docs/"
  - "scripts/"
  - ".github/"
  - "*.md"

feat(evals): validate eval types exist at load time (#562)
  runtime/evals/validate.go
  runtime/evals/validate_test.go
  tools/arena/engine/builder_additional_test.go
  tools/arena/engine/builder_integration.go
  tools/arena/engine/engine.go
Due: runtime, arena

feat(evals): add structured logging across eval execution flow
  runtime/evals/dispatcher.go
  runtime/evals/event_listener.go
  runtime/evals/resolve.go
  runtime/evals/runner.go
  runtime/evals/validate.go
  runtime/evals/worker.go
Due: runtime

feat(logger): support JSON log format via LOG_FORMAT env var
  runtime/logger/logger.go
  runtime/logger/logger_test.go
Due: runtime

fix(sdk): dispatch turn evals after streaming pipeline completion
  sdk/streaming.go
Due: sdk

feat(evals): validate eval types at load time and add structured logging (#563)
  runtime/evals/dispatcher.go
  runtime/evals/event_listener.go
  runtime/evals/resolve.go
  runtime/evals/runner.go
  runtime/evals/validate.go
  runtime/evals/worker.go
  runtime/logger/logger.go
  runtime/logger/logger_test.go
  sdk/streaming.go
Due: runtime, sdk

feat(evals): add Prometheus label support to MetricCollector
  examples/sdk-evals/assistant.pack.json
  examples/sdk-evals/main.go
  runtime/evals/integration_test.go
  runtime/evals/metrics.go
  runtime/evals/metrics_test.go
  runtime/evals/result_writer.go
  runtime/evals/result_writer_test.go
  runtime/evals/runner.go
  runtime/evals/types.go
  runtime/evals/validate.go
  runtime/evals/validate_test.go
Due: runtime

feat(arena): create eval-only hook when no pack is present
  tools/arena/engine/builder_integration.go
  tools/arena/engine/eval_conversation_executor_test.go
Due: none

docs: document Prometheus label support for eval metrics
  docs/src/content/docs/arena/explanation/eval-framework.md
  docs/src/content/docs/sdk/how-to/monitor-events.md
Due: none

feat(evals): add Prometheus label support to MetricCollector (#564)
  docs/src/content/docs/arena/explanation/eval-framework.md
  docs/src/content/docs/sdk/how-to/monitor-events.md
  examples/sdk-evals/assistant.pack.json
  examples/sdk-evals/main.go
  runtime/evals/integration_test.go
  runtime/evals/metrics.go
  runtime/evals/metrics_test.go
  runtime/evals/result_writer.go
  runtime/evals/result_writer_test.go
  runtime/evals/runner.go
  runtime/evals/types.go
  runtime/evals/validate.go
  runtime/evals/validate_test.go
  tools/arena/engine/builder_integration.go
  tools/arena/engine/eval_conversation_executor_test.go
Due: runtime

feat(logger): add custom logger injection and standardize structured logging
  runtime/evals/metrics.go
  runtime/evals/worker.go
  runtime/logger/logger.go
  runtime/logger/logger_test.go
  runtime/pipeline/stage/pipeline.go
  runtime/pipeline/stage/stages_core.go
  runtime/pipeline/stage/stages_duplex_provider_integration.go
  runtime/pipeline/stage/stages_utilities.go
  runtime/prompt/registry.go
  runtime/providers/gemini/stream_session_integration.go
  runtime/providers/gemini/websocket_manager.go
  runtime/providers/imagen/imagen.go
  runtime/providers/mock/mock_streaming_interactive.go
  runtime/providers/mock/mock_tool_provider_interactive.go
  runtime/providers/openai/realtime_session_integration.go
  runtime/providers/openai/realtime_websocket_integration.go
  runtime/skills/registry.go
  runtime/streaming/audio_integration.go
  runtime/streaming/collector_integration.go
  runtime/streaming/image_streamer.go
  runtime/streaming/response_integration.go
  runtime/streaming/video_streamer.go
  runtime/tools/mcp_executor.go
  sdk/eval_middleware.go
  sdk/internal/pipeline/builder.go
  sdk/options.go
  sdk/sdk.go
  sdk/workflow.go
  tools/arena/engine/duplex_executor_pipeline_integration.go
  tools/arena/engine/duplex_executor_turns_integration.go
  tools/arena/engine/engine.go
  tools/arena/engine/execution.go
  tools/arena/engine/execution_workflow_integration.go
  tools/arena/stages/statestore_save_integration.go
  tools/arena/tui/tui.go
  tools/arena/turnexecutors/pipeline_executor.go
Due: runtime, sdk, arena

chore: tidy go.mod/go.sum across all modules
  examples/a2a-demo/go.mod
  examples/a2a-demo/go.sum
  examples/sdk-evals/go.mod
  examples/sdk-evals/go.sum
  examples/workflow-support/sdk-example/go.mod
  examples/workflow-support/sdk-example/go.sum
  pkg/go.mod
  pkg/go.sum
  runtime/go.mod
  runtime/go.sum
  sdk/go.mod
  sdk/go.sum
  server/a2a/go.mod
  server/a2a/go.sum
  tools/arena/go.mod
  tools/arena/go.sum
  tools/inspect-state/go.mod
  tools/inspect-state/go.sum
  tools/packc/go.mod
  tools/packc/go.sum
  tools/schema-gen/go.mod
  tools/schema-gen/go.sum
Due: runtime, sdk, arena, packc, inspect-state

chore(schemas): regenerate JSON schemas for Prometheus labels field
  schemas/v1alpha1/arena.json
  schemas/v1alpha1/promptconfig.json
Due: none

chore(schemas): regenerate JSON schemas for Prometheus labels field (#566)
  schemas/v1alpha1/arena.json
  schemas/v1alpha1/promptconfig.json
Due: none

fix(release): add server/a2a module to release workflow
  .github/workflows/release.yml
  .goreleaser.yml
Due: none

fix(release): add server/a2a module to release workflow (#567)
  .github/workflows/release.yml
  .goreleaser.yml
Due: none

fix(release): tag server/a2a and sdk from release branch after go.mod cleanup
  .github/workflows/release.yml
Due: none

fix(release): tag server/a2a and sdk from release branch after go.mod cleanup (#568)
  .github/workflows/release.yml
Due: none

fix(logger): prevent Configure() from overwriting custom logger set via SetLogger()
  runtime/logger/config.go
  runtime/logger/logger.go
  runtime/logger/logger_test.go
Due: runtime

fix(logger): use SetLogger() API instead of direct DefaultLogger assignment
  tools/arena/cmd/promptarena/run_interactive.go
  tools/arena/engine/engine_test.go
Due: none

test(logger): add coverage for SetLevel() preserving custom logger
  runtime/logger/logger_test.go
Due: none

fix(logger): prevent custom logger from being overwritten (#569)
  runtime/logger/config.go
  runtime/logger/logger.go
  runtime/logger/logger_test.go
  tools/arena/cmd/promptarena/run_interactive.go
  tools/arena/engine/engine_test.go
Due: runtime

fix(telemetry): parent OTel spans under caller context via StartSession (#588)
  runtime/telemetry/listener.go
  sdk/conversation.go
  sdk/options.go
  sdk/otel_integration_test.go
  sdk/sdk.go
  sdk/streaming.go
Due: runtime, sdk

fix(telemetry): parent OTel spans under caller context via StartSession (#588) (#589)
  runtime/telemetry/listener.go
  sdk/conversation.go
  sdk/options.go
  sdk/otel_integration_test.go
  sdk/sdk.go
  sdk/streaming.go
Due: runtime, sdk

fix(sdk): expose WithExecutionTimeout option and propagate context to tool handlers (#590, #591)
  sdk/conversation.go
  sdk/conversation_test.go
  sdk/conversation_tools.go
  sdk/internal/pipeline/builder.go
  sdk/internal/pipeline/builder_test.go
  sdk/options.go
  sdk/options_test.go
  sdk/tool_executors.go
  sdk/tools/http.go
Due: sdk

fix(sdk): expose WithExecutionTimeout option and propagate context to tool handlers (#590, #591) (#592)
  sdk/conversation.go
  sdk/conversation_test.go
  sdk/conversation_tools.go
  sdk/internal/pipeline/builder.go
  sdk/internal/pipeline/builder_test.go
  sdk/options.go
  sdk/options_test.go
  sdk/tool_executors.go
  sdk/tools/http.go
Due: sdk

fix(ollama): report token counts in streaming responses and add tool-calling examples
  examples/ollama-local/config.arena.yaml
  examples/ollama-local/prompts/tool-assistant.yaml
  examples/ollama-local/providers/ollama-llama.provider.yaml
  examples/ollama-local/scenarios/tool-calling-streaming.scenario.yaml
  examples/ollama-local/scenarios/tool-calling.scenario.yaml
  examples/ollama-local/tools/get_time.tool.yaml
  examples/ollama-local/tools/get_weather.tool.yaml
  runtime/providers/ollama/ollama.go
  runtime/providers/ollama/ollama_test.go
  runtime/providers/ollama/ollama_tools.go
Due: runtime

fix(sdk): initialize ctxHandlers map in Conversation constructors (#594)
  sdk/sdk.go
  sdk/template.go
Due: sdk

fix(ollama,sdk): streaming token counts and ctxHandlers initialization (#594) (#593)
  examples/ollama-local/config.arena.yaml
  examples/ollama-local/prompts/tool-assistant.yaml
  examples/ollama-local/providers/ollama-llama.provider.yaml
  examples/ollama-local/scenarios/tool-calling-streaming.scenario.yaml
  examples/ollama-local/scenarios/tool-calling.scenario.yaml
  examples/ollama-local/tools/get_time.tool.yaml
  examples/ollama-local/tools/get_weather.tool.yaml
  runtime/providers/ollama/ollama.go
  runtime/providers/ollama/ollama_test.go
  runtime/providers/ollama/ollama_tools.go
  sdk/sdk.go
  sdk/template.go
Due: runtime, sdk

feat(tools): add client mode for client-side tool execution (#595)
  pkg/config/types.go
  runtime/tools/errors.go
  runtime/tools/executors.go
  runtime/tools/registry.go
  runtime/tools/registry_test.go
  runtime/tools/tools_test.go
  runtime/tools/types.go
  runtime/tools/types_test.go
  schemas/v1alpha1/arena.json
  schemas/v1alpha1/tool.json
Due: runtime

feat(tools): add client mode for client-side tool execution (#595) (#601)
  pkg/config/types.go
  runtime/tools/errors.go
  runtime/tools/executors.go
  runtime/tools/registry.go
  runtime/tools/registry_test.go
  runtime/tools/tools_test.go
  runtime/tools/types.go
  runtime/tools/types_test.go
  schemas/v1alpha1/arena.json
  schemas/v1alpha1/tool.json
Due: runtime

feat(sdk): add OnClientTool handler and clientExecutor for client-side tools (#596)
  runtime/tools/registry.go
  runtime/tools/registry_test.go
  sdk/client_tools.go
  sdk/client_tools_test.go
  sdk/conversation.go
Due: runtime, sdk

feat(sdk): add OnClientTool handler and clientExecutor for client-side tools (#596) (#603)
  runtime/tools/registry.go
  runtime/tools/registry_test.go
  sdk/client_tools.go
  sdk/client_tools_test.go
  sdk/conversation.go
Due: runtime, sdk

feat(sdk): pipeline suspension and deferred client tool mode (#597)
  runtime/pipeline/stage/stages_provider.go
  runtime/pipeline/stage/stages_provider_test.go
  runtime/pipeline/types.go
  runtime/tools/errors.go
  runtime/tools/errors_test.go
  sdk/client_tools.go
  sdk/client_tools_test.go
  sdk/conversation.go
  sdk/response.go
  sdk/session/session.go
  sdk/session/unary_session.go
  sdk/session/unary_session_test.go
Due: runtime, sdk

feat(sdk): pipeline suspension and deferred client tool mode (#597) (#605)
  runtime/pipeline/stage/stages_provider.go
  runtime/pipeline/stage/stages_provider_test.go
  runtime/pipeline/types.go
  runtime/tools/errors.go
  runtime/tools/errors_test.go
  sdk/client_tools.go
  sdk/client_tools_test.go
  sdk/conversation.go
  sdk/response.go
  sdk/session/session.go
  sdk/session/unary_session.go
  sdk/session/unary_session_test.go
Due: runtime, sdk

feat(sdk): streaming support for client-side tool execution (#598)
  runtime/events/emitter.go
  runtime/events/emitter_test.go
  runtime/events/types.go
  runtime/providers/streaming.go
  sdk/client_tools.go
  sdk/client_tools_test.go
  sdk/conversation.go
  sdk/session/duplex_session.go
  sdk/session/session.go
  sdk/session/unary_session.go
  sdk/session/unary_session_test.go
  sdk/stream_events.go
  sdk/stream_events_test.go
  sdk/streaming.go
  sdk/streaming_test.go
Due: runtime, sdk

feat(sdk): streaming support for client-side tool execution (#598) (#606)
  runtime/events/emitter.go
  runtime/events/emitter_test.go
  runtime/events/types.go
  runtime/providers/streaming.go
  sdk/client_tools.go
  sdk/client_tools_test.go
  sdk/conversation.go
  sdk/session/duplex_session.go
  sdk/session/session.go
  sdk/session/unary_session.go
  sdk/session/unary_session_test.go
  sdk/stream_events.go
  sdk/stream_events_test.go
  sdk/streaming.go
  sdk/streaming_test.go
Due: runtime, sdk

feat(arena): add consent simulation for client-side tools (#598)
  examples/client-tools/config.arena.yaml
  examples/client-tools/mock-responses.yaml
  examples/client-tools/prompts/chat.yaml
  examples/client-tools/providers/mock-provider.yaml
  examples/client-tools/scenarios/consent-deny.scenario.yaml
  examples/client-tools/scenarios/consent-grant.scenario.yaml
  examples/client-tools/tools/get_location.tool.yaml
  pkg/config/types.go
  schemas/v1alpha1/arena.json
  schemas/v1alpha1/scenario.json
  tools/arena/consent/hook.go
  tools/arena/consent/hook_test.go
  tools/arena/engine/conversation_executor.go
  tools/arena/turnexecutors/interfaces.go
  tools/arena/turnexecutors/pipeline_executor.go
  tools/arena/turnexecutors/selfplay_executor.go
Due: arena

feat(arena): add consent simulation for client-side tools (#598) (#608)
  examples/client-tools/config.arena.yaml
  examples/client-tools/mock-responses.yaml
  examples/client-tools/prompts/chat.yaml
  examples/client-tools/providers/mock-provider.yaml
  examples/client-tools/scenarios/consent-deny.scenario.yaml
  examples/client-tools/scenarios/consent-grant.scenario.yaml
  examples/client-tools/tools/get_location.tool.yaml
  pkg/config/types.go
  schemas/v1alpha1/arena.json
  schemas/v1alpha1/scenario.json
  tools/arena/consent/hook.go
  tools/arena/consent/hook_test.go
  tools/arena/engine/conversation_executor.go
  tools/arena/turnexecutors/interfaces.go
  tools/arena/turnexecutors/pipeline_executor.go
  tools/arena/turnexecutors/selfplay_executor.go
Due: arena

feat(a2a): add client-side tool support to A2A server (#600)
  docs/src/content/docs/arena/tutorials/08-client-tools.md
  docs/src/content/docs/sdk/how-to/client-tools.md
  sdk/a2a_server_adapter.go
  sdk/a2a_server_adapter_test.go
  sdk/a2a_test.go
  sdk/examples/client-tools/client-tools.pack.json
  sdk/examples/client-tools/main_interactive.go
  sdk/otel_integration_test.go
  server/a2a/conversation.go
  server/a2a/server.go
  server/a2a/server_stream.go
  server/a2a/server_stream_test.go
  server/a2a/server_test.go
Due: sdk
