Repository AltairaLabs/PromptKit: changes, and which Codecov flags are due for each by the changed paths.
All: runtime, sdk, arena, packc, inspect-state

fix(prompt): embed the generated Pack; generate SkillSourceConfig
  runtime/deploy/adaptersdk/agents_test.go
  runtime/prompt/agent_state_test.go
  runtime/prompt/agentcard/agentcard_test.go
  runtime/prompt/pack.go
  runtime/prompt/pack_accessors_test.go
  runtime/prompt/pack_evals_test.go
  runtime/prompt/pack_schema_emit_test.go
  runtime/prompt/pack_struct_coverage_test.go
  runtime/prompt/pack_test.go
  runtime/prompt/pack_tools_test.go
  runtime/prompt/requires_test.go
  runtime/prompt/skill_source_spec_test.go
  runtime/prompt/version_test.go
  sdk/agent_resolver_test.go
  sdk/capability.go
  sdk/capability_a2a_test.go
  sdk/capability_skills_test.go
  sdk/capability_test.go
  sdk/capability_workflow_test.go
  sdk/conversation_test.go
  sdk/eval_integration_test.go
  sdk/eval_middleware.go
  sdk/eval_middleware_test.go
  sdk/eval_toolcalls_regression_test.go
  sdk/evaluate.go
  sdk/inference_integration_test.go
  sdk/internal/pack/agent_state_test.go
  sdk/internal/pack/validate_test.go
  sdk/requires_test.go
  sdk/stream_events_test.go
  sdk/streaming_test.go
  sdk/validate_pack.go
Due: runtime, sdk

test(prompt): stop the embedding type adding serializable fields of its own
  runtime/prompt/pack_struct_coverage_test.go
Due: none

fix: review fixes — restore a broken signature, pin a validator-default bug
  docs/src/content/docs/sdk/reference/conversation-manager.md
  runtime/prompt/pack.go
  runtime/prompt/skill_source_spec_test.go
  runtime/workflow/validate.go
  sdk/workflow.go
  sdk/workflow_state_resolver.go
  sdk/workflow_test.go
Due: runtime, sdk

fix(examples): sdk-evals passes Pack.Evals through evals.Values
  sdk/examples/sdk-evals/main.go
Due: sdk

test: cover the conversion helpers the adoption introduced
  runtime/evals/values_test.go
  runtime/prompt/conversion_helpers_test.go
  runtime/workflow/accessors_test.go
Due: none

fix(prompt): governance vocabularies merge rather than replace
  docs/src/content/docs/concepts/governance.md
  runtime/prompt/governance.go
  runtime/prompt/governance_test.go
Due: runtime

fix(prompt): governance vocabularies merge rather than replace (#1915)
  docs/src/content/docs/concepts/governance.md
  runtime/prompt/governance.go
  runtime/prompt/governance_test.go
Due: runtime

chore(deps): consolidate the 13 open Go dependency bumps
  pkg/go.mod
  pkg/go.sum
  runtime/go.mod
  runtime/go.sum
  sdk/go.mod
  sdk/go.sum
  server/a2a/go.mod
  server/a2a/go.sum
Due: runtime, sdk

chore(deps): bump starlight-theme-galaxy 0.8.0 -> 1.0.0 (#1900)
  docs/package-lock.json
  docs/package.json
Due: none

chore(deps): consolidate the 13 open Go dependency bumps (#1916)
  pkg/go.mod
  pkg/go.sum
  runtime/go.mod
  runtime/go.sum
  sdk/go.mod
  sdk/go.sum
  server/a2a/go.mod
  server/a2a/go.sum
Due: runtime, sdk

chore(deps): bump starlight-theme-galaxy 0.8.0 -> 1.0.0 (#1900) (#1918)
  docs/package-lock.json
  docs/package.json
Due: none

chore(deps): bump the four minor docs dependencies
  docs/package-lock.json
  docs/package.json
Due: none

chore(deps): bump the four minor docs dependencies (#1917)
  docs/package-lock.json
  docs/package.json
Due: none

chore(deps): bump @astrojs/starlight 0.41.9 -> 0.41.10 (#1897)
  docs/package-lock.json
  docs/package.json
Due: none

chore(deps): bump @astrojs/starlight 0.41.9 -> 0.41.10 (#1897) (#1919)
  docs/package-lock.json
  docs/package.json
Due: none

chore(schema): sync embedded PromptPack schema to v1.7.0 (#1924)
  README.md
  docs/src/content/docs/sdk/reference/conversation-manager.md
  runtime/packspec/types.go
  runtime/prompt/schema/promptpack.schema.json
  sdk/README.md
  sdk/doc.go
Due: runtime, sdk

fix(deps): align shared dependency versions across the four modules
  .github/workflows/schemas.yml
  Makefile
  runtime/go.mod
  runtime/go.sum
  scripts/check-module-dep-skew.sh
  server/a2a/go.mod
  server/a2a/go.sum
Due: runtime

ci: run the standalone-module build on PRs too
  .github/workflows/schemas.yml
Due: none

fix: retract v1.8.0
  pkg/go.mod
  runtime/go.mod
  sdk/go.mod
  server/a2a/go.mod
Due: runtime, sdk

ci: gate releases on API compatibility, module skew, and standalone builds
  .github/workflows/release.yml
  Makefile
  scripts/check-api-compatibility.sh
  scripts/check-modules-without-workspace.sh
Due: none

fix(deps): align shared dependency versions across the four modules (#1923)
  .github/workflows/release.yml
  .github/workflows/schemas.yml
  Makefile
  pkg/go.mod
  runtime/go.mod
  runtime/go.sum
  scripts/check-api-compatibility.sh
  scripts/check-module-dep-skew.sh
  scripts/check-modules-without-workspace.sh
  sdk/go.mod
  server/a2a/go.mod
  server/a2a/go.sum
Due: runtime, sdk

fix(ci): judge API compatibility on gorelease's verdict, not its exit code
  scripts/check-api-compatibility.sh
Due: none

fix(ci): make the API gate able to analyse every module
  scripts/check-api-compatibility.sh
Due: none

fix(ci): make the API gate able to analyse every module (#1927)
  scripts/check-api-compatibility.sh
Due: none

fix(build): stop `make install` breaking standalone module builds
  Makefile
Due: none

fix(build): stop `make install` breaking standalone module builds (#1928)
  Makefile
Due: none

feat: make RFC 0013's declarations authorable
  pkg/config/toolspec_authoring_test.go
  pkg/config/types.go
  runtime/prompt/pack.go
  runtime/prompt/tool_action_scope_test.go
Due: runtime

feat: make RFC 0013's declarations authorable (#1922)
  pkg/config/toolspec_authoring_test.go
  pkg/config/types.go
  runtime/prompt/pack.go
  runtime/prompt/tool_action_scope_test.go
Due: runtime

fix(ci): let the API gate handle a first major release
  scripts/check-api-compatibility.sh
Due: none

chore(schema): sync committed schemas with promptarena after v1.8.0
  schemas/v1alpha1/arena.json
  schemas/v1alpha1/promptconfig.json
Due: none

chore(schema): sync committed schemas with promptarena after v1.8.0 (#1933)
  schemas/v1alpha1/arena.json
  schemas/v1alpha1/promptconfig.json
Due: none

docs: point CLAUDE.md at the Makefile, and fix the commands that don't work
  CLAUDE.md
  runtime/CLAUDE.md
Due: runtime

docs: point CLAUDE.md at the Makefile, and fix the commands that don't work (#1934)
  CLAUDE.md
  runtime/CLAUDE.md
Due: runtime

fix(evals): reject a `when` this runtime cannot honor
  runtime/evals/runner.go
  runtime/evals/runner_test.go
  runtime/evals/validate.go
  runtime/evals/validate_test.go
  runtime/evals/values_test.go
  runtime/evals/when.go
  runtime/evals/when_test.go
Due: runtime

fix(evals): reject a `when` this runtime cannot honor (#1935)
  runtime/evals/runner.go
  runtime/evals/runner_test.go
  runtime/evals/validate.go
  runtime/evals/validate_test.go
  runtime/evals/values_test.go
  runtime/evals/when.go
  runtime/evals/when_test.go
Due: runtime

fix(prompt): treat fail_on_violation as deprecated, not as a deviation
  docs/src/content/docs/concepts/validation.md
  runtime/prompt/metadata_test.go
  runtime/prompt/pack.go
  runtime/prompt/registry.go
Due: runtime

fix(prompt): treat fail_on_violation as deprecated, not as a deviation (#1936)
  docs/src/content/docs/concepts/validation.md
  runtime/prompt/metadata_test.go
  runtime/prompt/pack.go
  runtime/prompt/registry.go
Due: runtime

fix(build): stop `make verify` reporting success when it failed
  Makefile
Due: none

Path conditions:
  runtime: any of: runtime/, but not: **/*_test.go, **/*_interactive.go, **/*_integration.go, examples/, docs/, scripts/, .github/, *.md
  sdk: any of: sdk/, but not: **/*_test.go, **/*_interactive.go, **/*_integration.go, examples/, docs/, scripts/, .github/, *.md
  arena: any of: tools/arena/, but not: **/*_test.go, **/*_interactive.go, **/*_integration.go, examples/, docs/, scripts/, .github/, *.md
  packc: any of: tools/packc/, but not: **/*_test.go, **/*_interactive.go, **/*_integration.go, examples/, docs/, scripts/, .github/, *.md
  inspect-state: any of: tools/inspect-state/, but not: **/*_test.go, **/*_interactive.go, **/*_integration.go, examples/, docs/, scripts/, .github/, *.md
