Repository AltairaLabs/PromptKit: changes, and which Codecov flags are due for each by the changed paths.
All: runtime, sdk, arena, packc, inspect-state

feat: add logging for capability lifecycle and tool registration
  sdk/capability.go
  sdk/conversation.go
  sdk/sdk.go
Due: sdk

feat: add logging for capability lifecycle and tool registration (#831)
  sdk/capability.go
  sdk/conversation.go
  sdk/sdk.go
Due: sdk

fix: coerce string-encoded objects and arrays in tool args
  runtime/tools/validator.go
  runtime/tools/validator_test.go
Due: runtime

fix: coerce string-encoded objects and arrays in tool args (#832)
  runtime/tools/validator.go
  runtime/tools/validator_test.go
Due: runtime

fix: EventBus data race between Publish and Close
  runtime/events/bus.go
  runtime/events/bus_test.go
  sdk/integration/helpers_test.go
Due: runtime

fix: EventBus data race between Publish and Close (#833)
  runtime/events/bus.go
  runtime/events/bus_test.go
  sdk/integration/helpers_test.go
Due: runtime

fix: reduce 5-second sleeps in EventBus tests to 200ms
  runtime/events/bus_test.go
Due: none

fix: reduce 5-second sleeps in EventBus tests to 200ms (#834)
  runtime/events/bus_test.go
Due: none

feat: add RenderDetailed to template renderer for observability metadata
  runtime/template/renderer.go
  runtime/template/renderer_test.go
Due: runtime

feat: add prompt.template.started/rendered/failed event types and emitter helpers
  runtime/events/emitter.go
  runtime/events/types.go
  runtime/events/types_test.go
Due: runtime

feat: add prompt.Template struct and LoadTemplate to Registry
  runtime/prompt/registry.go
  runtime/prompt/registry_test.go
Due: runtime

feat: extend VariableProviderStage with static variables
  runtime/pipeline/stage/stages_utilities.go
  runtime/pipeline/stage/stages_utilities_test.go
Due: runtime

feat: refactor PromptAssemblyStage to load without rendering
  runtime/pipeline/stage/stages_core.go
  runtime/pipeline/stage/stages_core_test.go
  runtime/pipeline/stage/stages_utilities.go
Due: runtime

feat: refactor TemplateStage to single render point with events
  runtime/pipeline/stage/stages_utilities.go
  runtime/pipeline/stage/stages_utilities_test.go
Due: runtime

feat: always add VariableProviderStage and wire emitter to TemplateStage in SDK pipeline builder
  sdk/internal/pipeline/builder.go
  sdk/internal/pipeline/builder_test.go
Due: sdk

refactor: replace Arena VariableInjectionStage with runtime VariableProviderStageWithVars
  tools/arena/engine/duplex_executor_pipeline_integration.go
  tools/arena/stages/stages_test.go
  tools/arena/stages/variable_injection.go
  tools/arena/turnexecutors/pipeline_stages_integration.go
Due: arena

feat: add template event type switch cases to Arena SSE adapter
  tools/arena/web/event_adapter.go
Due: arena

test: add SDK integration tests for template events
  sdk/integration/template_events_test.go
Due: none

docs: add prompt.template.* events to runtime events and SDK monitoring docs
  docs/src/content/docs/architecture/runtime-events.md
  docs/src/content/docs/sdk/how-to/monitor-events.md
Due: none

feat: template events, variable pipeline fix, and consolidation (#835)
  docs/src/content/docs/architecture/runtime-events.md
  docs/src/content/docs/sdk/how-to/monitor-events.md
  runtime/events/emitter.go
  runtime/events/types.go
  runtime/events/types_test.go
  runtime/pipeline/stage/stages_core.go
  runtime/pipeline/stage/stages_core_test.go
  runtime/pipeline/stage/stages_utilities.go
  runtime/pipeline/stage/stages_utilities_test.go
  runtime/prompt/registry.go
  runtime/prompt/registry_test.go
  runtime/template/renderer.go
  runtime/template/renderer_test.go
  sdk/integration/template_events_test.go
  sdk/internal/pipeline/builder.go
  sdk/internal/pipeline/builder_test.go
  tools/arena/engine/duplex_executor_pipeline_integration.go
  tools/arena/stages/stages_test.go
  tools/arena/stages/variable_injection.go
  tools/arena/turnexecutors/pipeline_stages_integration.go
  tools/arena/web/event_adapter.go
Due: runtime, sdk, arena

fix: harden CoerceArgs for weak-LLM tool calling patterns (#836)
  runtime/tools/llm_tool_calling_test.go
  runtime/tools/validator.go
Due: runtime

feat: add array element coercion and edge case tests for arbitrary tools
  runtime/tools/llm_tool_calling_test.go
  runtime/tools/validator.go
Due: runtime

fix: harden CoerceArgs for weak-LLM tool calling patterns (#836) (#837)
  runtime/tools/llm_tool_calling_test.go
  runtime/tools/validator.go
Due: runtime

feat: add robots.txt and llms.txt for SEO and AI crawler discovery
  docs/public/llms.txt
  docs/public/robots.txt
Due: none

fix: update external links — altairalabs.ai and A2A spec URL
  docs/src/content/docs/contributors/governance.md
  docs/src/content/docs/sdk/how-to/connect-a2a-agents.md
Due: none

feat: add content provenance metadata to memory (#839)
  runtime/memory/tools.go
  runtime/memory/tools_test.go
  runtime/memory/types.go
Due: runtime

feat: set agent_extracted provenance on pipeline-extracted memories
  runtime/pipeline/stage/stages_memory.go
  runtime/pipeline/stage/stages_memory_test.go
Due: runtime

fix: add GITHUB_TOKEN to GitHub Actions API calls to avoid rate limiting
  .github/actions/packc-action/dist/index.js
  .github/actions/packc-action/dist/index.js.map
  .github/actions/packc-action/src/installer.ts
  .github/actions/promptarena-action/dist/index.js
  .github/actions/promptarena-action/dist/index.js.map
  .github/actions/promptarena-action/src/installer.ts
  .github/workflows/ci.yml
Due: none

feat: add content provenance metadata to memory (#839) (#840)
  .github/actions/packc-action/dist/index.js
  .github/actions/packc-action/dist/index.js.map
  .github/actions/packc-action/src/installer.ts
  .github/actions/promptarena-action/dist/index.js
  .github/actions/promptarena-action/dist/index.js.map
  .github/actions/promptarena-action/src/installer.ts
  .github/workflows/ci.yml
  runtime/memory/tools.go
  runtime/memory/tools_test.go
  runtime/memory/types.go
  runtime/pipeline/stage/stages_memory.go
  runtime/pipeline/stage/stages_memory_test.go
Due: runtime

refactor: remove unused PredictMultimodal interface (#795)
  docs/src/content/docs/runtime/reference/providers.md
  runtime/media/convert_integration.go
  runtime/media/convert_integration_test.go
  runtime/providers/claude/bedrock_integration_test.go
  runtime/providers/claude/claude_bedrock_streaming_test.go
  runtime/providers/claude/claude_multimodal.go
  runtime/providers/claude/claude_multimodal_integration_test.go
  runtime/providers/claude/claude_multimodal_test.go
  runtime/providers/gemini/gemini_multimodal.go
  runtime/providers/gemini/gemini_multimodal_test.go
  runtime/providers/multimodal.go
  runtime/providers/multimodal_test.go
  runtime/providers/ollama/ollama_multimodal.go
  runtime/providers/ollama/ollama_multimodal_test.go
  runtime/providers/openai/openai_multimodal.go
  runtime/providers/openai/openai_multimodal_test.go
  runtime/providers/openai/openai_multimodal_tools_test.go
  runtime/providers/openai/openai_tools_integration_test.go
  runtime/providers/vllm/vllm_multimodal.go
  runtime/providers/vllm/vllm_multimodal_test.go
  tools/arena/turnexecutors/pipeline_executor_helpers_test.go
Due: runtime

refactor: remove unused PredictMultimodal interface (#795) (#841)
  docs/src/content/docs/runtime/reference/providers.md
  runtime/media/convert_integration.go
  runtime/media/convert_integration_test.go
  runtime/providers/claude/bedrock_integration_test.go
  runtime/providers/claude/claude_bedrock_streaming_test.go
  runtime/providers/claude/claude_multimodal.go
  runtime/providers/claude/claude_multimodal_integration_test.go
  runtime/providers/claude/claude_multimodal_test.go
  runtime/providers/gemini/gemini_multimodal.go
  runtime/providers/gemini/gemini_multimodal_test.go
  runtime/providers/multimodal.go
  runtime/providers/multimodal_test.go
  runtime/providers/ollama/ollama_multimodal.go
  runtime/providers/ollama/ollama_multimodal_test.go
  runtime/providers/openai/openai_multimodal.go
  runtime/providers/openai/openai_multimodal_test.go
  runtime/providers/openai/openai_multimodal_tools_test.go
  runtime/providers/openai/openai_tools_integration_test.go
  runtime/providers/vllm/vllm_multimodal.go
  runtime/providers/vllm/vllm_multimodal_test.go
  tools/arena/turnexecutors/pipeline_executor_helpers_test.go
Due: runtime

feat: add Ollama embedding provider (#842)
  runtime/providers/ollama/embedding.go
  runtime/providers/ollama/embedding_test.go
Due: runtime

test: add Ollama embedding integration tests (build tag: integration)
  runtime/providers/ollama/embedding_integration_test.go
Due: none

feat: add Ollama embedding provider (#842) (#843)
  runtime/providers/ollama/embedding.go
  runtime/providers/ollama/embedding_integration_test.go
  runtime/providers/ollama/embedding_test.go
Due: runtime

test: add GCP, Azure, and AWS credential tests (55% → 83% coverage)
  runtime/credentials/aws_integration_test.go
  runtime/credentials/azure_integration_test.go
  runtime/credentials/gcp_integration_test.go
  runtime/credentials/resolver_platform_test.go
Due: none

test: add cloud credential integration tests (build tag: integration)
  runtime/credentials/cloud_credential_integration_test.go
Due: none

test: add GCP, Azure, and AWS credential tests (55% → 83% coverage) (#845)
  runtime/credentials/aws_integration_test.go
  runtime/credentials/azure_integration_test.go
  runtime/credentials/cloud_credential_integration_test.go
  runtime/credentials/gcp_integration_test.go
  runtime/credentials/resolver_platform_test.go
Due: none

Path conditions:
  runtime: any of: runtime/, but not: **/*_test.go, **/*_interactive.go, **/*_integration.go, examples/, docs/, scripts/, .github/, *.md
  sdk: any of: sdk/, but not: **/*_test.go, **/*_interactive.go, **/*_integration.go, examples/, docs/, scripts/, .github/, *.md
  arena: any of: tools/arena/, but not: **/*_test.go, **/*_interactive.go, **/*_integration.go, examples/, docs/, scripts/, .github/, *.md
  packc: any of: tools/packc/, but not: **/*_test.go, **/*_interactive.go, **/*_integration.go, examples/, docs/, scripts/, .github/, *.md
  inspect-state: any of: tools/inspect-state/, but not: **/*_test.go, **/*_interactive.go, **/*_integration.go, examples/, docs/, scripts/, .github/, *.md
