Repository AltairaLabs/PromptKit: changes, and which Codecov flags are due for each by the changed paths.
All: runtime, sdk, arena, packc, inspect-state

feat(examples): Add Ollama local LLM example for PromptArena
  .gitignore
  examples/ollama-local/README.md
  examples/ollama-local/config.arena.yaml
  examples/ollama-local/docker-compose.yaml
  examples/ollama-local/prompts/assistant.yaml
  examples/ollama-local/providers/ollama-llama.provider.yaml
  examples/ollama-local/scenarios/basic-chat.scenario.yaml
  examples/ollama-local/scenarios/code-generation.scenario.yaml
  tools/arena/engine/builder_integration.go
Due: none

docs: Add Ollama provider documentation
  docs/src/content/docs/arena/explanation/provider-comparison.md
  docs/src/content/docs/arena/how-to/configure-providers.md
  docs/src/content/docs/concepts/providers.md
  docs/src/content/docs/glossary.md
  docs/src/content/docs/runtime/reference/providers.md
Due: none

feat(actions): Add PromptArena GitHub Action for CI/CD integration
  .github/actions/promptarena-action/.gitignore
  .github/actions/promptarena-action/README.md
  .github/actions/promptarena-action/action.yml
  .github/actions/promptarena-action/dist/index.js
  .github/actions/promptarena-action/dist/index.js.map
  .github/actions/promptarena-action/dist/licenses.txt
  .github/actions/promptarena-action/dist/sourcemap-register.js
  .github/actions/promptarena-action/package-lock.json
  .github/actions/promptarena-action/package.json
  .github/actions/promptarena-action/src/installer.ts
  .github/actions/promptarena-action/src/main.ts
  .github/actions/promptarena-action/src/outputs.ts
  .github/actions/promptarena-action/src/runner.ts
  .github/actions/promptarena-action/tsconfig.json
  .github/workflows/ci.yml
  .github/workflows/release.yml
  docs/src/content/docs/devops/index.md
  docs/src/content/docs/devops/promptarena-action.md
Due: none

fix(ci): Use relative config path for promptarena-action test
  .github/workflows/ci.yml
Due: none

fix(actions): Parse Arena's index.json output format
  .github/actions/promptarena-action/dist/index.js
  .github/actions/promptarena-action/dist/index.js.map
  .github/actions/promptarena-action/src/outputs.ts
Due: none

feat(actions): Add PromptArena GitHub Action for CI/CD integration (#169)
  .github/actions/promptarena-action/.gitignore
  .github/actions/promptarena-action/README.md
  .github/actions/promptarena-action/action.yml
  .github/actions/promptarena-action/dist/index.js
  .github/actions/promptarena-action/dist/index.js.map
  .github/actions/promptarena-action/dist/licenses.txt
  .github/actions/promptarena-action/dist/sourcemap-register.js
  .github/actions/promptarena-action/package-lock.json
  .github/actions/promptarena-action/package.json
  .github/actions/promptarena-action/src/installer.ts
  .github/actions/promptarena-action/src/main.ts
  .github/actions/promptarena-action/src/outputs.ts
  .github/actions/promptarena-action/src/runner.ts
  .github/actions/promptarena-action/tsconfig.json
  .github/workflows/ci.yml
  .github/workflows/release.yml
  docs/src/content/docs/devops/index.md
  docs/src/content/docs/devops/promptarena-action.md
Due: none

feat(actions): Add PackC GitHub Action for pack compilation and OCI publishing
  .github/actions/packc-action/.eslintrc.json
  .github/actions/packc-action/.gitignore
  .github/actions/packc-action/action.yml
  .github/actions/packc-action/dist/index.js
  .github/actions/packc-action/dist/index.js.map
  .github/actions/packc-action/dist/licenses.txt
  .github/actions/packc-action/dist/sourcemap-register.js
  .github/actions/packc-action/jest.config.js
  .github/actions/packc-action/package-lock.json
  .github/actions/packc-action/package.json
  .github/actions/packc-action/src/__mocks__/@actions/core.ts
  .github/actions/packc-action/src/__mocks__/@actions/exec.ts
  .github/actions/packc-action/src/compiler.test.ts
  .github/actions/packc-action/src/compiler.ts
  .github/actions/packc-action/src/installer.ts
  .github/actions/packc-action/src/main.ts
  .github/actions/packc-action/src/outputs.test.ts
  .github/actions/packc-action/src/outputs.ts
  .github/actions/packc-action/src/publisher.test.ts
  .github/actions/packc-action/src/publisher.ts
  .github/actions/packc-action/src/signer.test.ts
  .github/actions/packc-action/src/signer.ts
  .github/actions/packc-action/tsconfig.json
  .github/actions/promptarena-action/.eslintrc.json
  .github/actions/promptarena-action/jest.config.js
  .github/actions/promptarena-action/src/__mocks__/@actions/core.ts
  .github/actions/promptarena-action/src/__mocks__/@actions/exec.ts
  .github/actions/promptarena-action/src/outputs.test.ts
  .github/actions/promptarena-action/src/runner.test.ts
  .github/workflows/ci.yml
  .github/workflows/release.yml
  docs/src/content/docs/devops/index.md
  docs/src/content/docs/devops/packc-action.md
Due: none

docs: Add GitHub Actions section to README and action READMEs
  .github/actions/packc-action/README.md
  .github/actions/promptarena-action/README.md
  README.md
Due: none

fix(ci): Use llm-judge example for packc-action test
  .github/workflows/ci.yml
Due: none

feat(actions): Add PackC GitHub Action for pack compilation and OCI publishing (#170)
  .github/actions/packc-action/.eslintrc.json
  .github/actions/packc-action/.gitignore
  .github/actions/packc-action/README.md
  .github/actions/packc-action/action.yml
  .github/actions/packc-action/dist/index.js
  .github/actions/packc-action/dist/index.js.map
  .github/actions/packc-action/dist/licenses.txt
  .github/actions/packc-action/dist/sourcemap-register.js
  .github/actions/packc-action/jest.config.js
  .github/actions/packc-action/package-lock.json
  .github/actions/packc-action/package.json
  .github/actions/packc-action/src/__mocks__/@actions/core.ts
  .github/actions/packc-action/src/__mocks__/@actions/exec.ts
  .github/actions/packc-action/src/compiler.test.ts
  .github/actions/packc-action/src/compiler.ts
  .github/actions/packc-action/src/installer.ts
  .github/actions/packc-action/src/main.ts
  .github/actions/packc-action/src/outputs.test.ts
  .github/actions/packc-action/src/outputs.ts
  .github/actions/packc-action/src/publisher.test.ts
  .github/actions/packc-action/src/publisher.ts
  .github/actions/packc-action/src/signer.test.ts
  .github/actions/packc-action/src/signer.ts
  .github/actions/packc-action/tsconfig.json
  .github/actions/promptarena-action/.eslintrc.json
  .github/actions/promptarena-action/README.md
  .github/actions/promptarena-action/jest.config.js
  .github/actions/promptarena-action/src/__mocks__/@actions/core.ts
  .github/actions/promptarena-action/src/__mocks__/@actions/exec.ts
  .github/actions/promptarena-action/src/outputs.test.ts
  .github/actions/promptarena-action/src/runner.test.ts
  .github/workflows/ci.yml
  .github/workflows/release.yml
  README.md
  docs/src/content/docs/devops/index.md
  docs/src/content/docs/devops/packc-action.md
Due: none

feat(ci): Include TypeScript GitHub Actions in SonarCloud analysis
  .github/workflows/ci.yml
  sonar-project.properties
Due: none

feat(ci): Include TypeScript GitHub Actions in SonarCloud analysis (#172)
  .github/workflows/ci.yml
  sonar-project.properties
Due: none

fix(npm): Include lib/ directory in promptarena package files
  npm/promptarena/package.json
Due: none

test(npm): Add Jest tests and ESLint to npm packages
  .github/workflows/ci.yml
  .gitignore
  npm/packc/.eslintrc.json
  npm/packc/jest.config.js
  npm/packc/lib/installer.js
  npm/packc/lib/installer.test.js
  npm/packc/package-lock.json
  npm/packc/package.json
  npm/packc/postinstall.js
  npm/promptarena/.eslintrc.json
  npm/promptarena/jest.config.js
  npm/promptarena/lib/installer.js
  npm/promptarena/lib/installer.test.js
  npm/promptarena/package-lock.json
  npm/promptarena/package.json
  npm/promptarena/postinstall.js
  sonar-project.properties
Due: none

test(npm): Add Jest tests and ESLint to npm packages (#174)
  .github/workflows/ci.yml
  .gitignore
  npm/packc/.eslintrc.json
  npm/packc/jest.config.js
  npm/packc/lib/installer.js
  npm/packc/lib/installer.test.js
  npm/packc/package-lock.json
  npm/packc/package.json
  npm/packc/postinstall.js
  npm/promptarena/.eslintrc.json
  npm/promptarena/jest.config.js
  npm/promptarena/lib/installer.js
  npm/promptarena/lib/installer.test.js
  npm/promptarena/package-lock.json
  npm/promptarena/package.json
  npm/promptarena/postinstall.js
  sonar-project.properties
Due: none

feat(runtime): Add Prometheus metrics exporters for pipeline monitoring
  docs/src/content/docs/runtime/how-to/index.md
  docs/src/content/docs/runtime/how-to/prometheus-metrics.md
  runtime/go.mod
  runtime/go.sum
  runtime/metrics/grafana/pipeline-dashboard.json
  runtime/metrics/prometheus/exporter.go
  runtime/metrics/prometheus/listener.go
  runtime/metrics/prometheus/metrics.go
  runtime/metrics/prometheus/prometheus_test.go
  runtime/pipeline/stage/config.go
Due: runtime

feat(runtime): Add Prometheus metrics exporters for pipeline monitoring (#175)
  docs/src/content/docs/runtime/how-to/index.md
  docs/src/content/docs/runtime/how-to/prometheus-metrics.md
  runtime/go.mod
  runtime/go.sum
  runtime/metrics/grafana/pipeline-dashboard.json
  runtime/metrics/prometheus/exporter.go
  runtime/metrics/prometheus/listener.go
  runtime/metrics/prometheus/metrics.go
  runtime/metrics/prometheus/prometheus_test.go
  runtime/pipeline/stage/config.go
Due: runtime

fix: Reduce cognitive complexity and fix SonarCloud issues
  .github/actions/packc-action/dist/index.js
  .github/actions/packc-action/dist/index.js.map
  .github/actions/packc-action/src/compiler.test.ts
  .github/actions/packc-action/src/compiler.ts
  .github/actions/packc-action/src/installer.ts
  .github/actions/packc-action/src/main.ts
  .github/actions/packc-action/src/signer.test.ts
  .github/actions/packc-action/src/signer.ts
  .github/actions/promptarena-action/dist/index.js
  .github/actions/promptarena-action/dist/index.js.map
  .github/actions/promptarena-action/src/installer.ts
  .github/actions/promptarena-action/src/main.ts
  .github/actions/promptarena-action/src/outputs.test.ts
  .github/actions/promptarena-action/src/outputs.ts
  .github/actions/promptarena-action/src/runner.ts
  runtime/pipeline/stage/pipeline.go
  runtime/providers/mock/mock_repository.go
  tools/arena/statestore/store.go
Due: runtime, arena

test(actions): Add comprehensive tests for installer and main modules
  .github/actions/packc-action/src/installer.test.ts
  .github/actions/packc-action/src/main.test.ts
  .github/actions/promptarena-action/src/installer.test.ts
  .github/actions/promptarena-action/src/main.test.ts
Due: none

test(packc-action): Add comprehensive tests for compile and validate functions
  .github/actions/packc-action/src/compiler.test.ts
Due: none

fix(packc-action): Remove unused variable to fix linting error
  .github/actions/packc-action/src/main.test.ts
Due: none

test(packc-action): Improve test coverage for publisher and signer
  .github/actions/packc-action/src/publisher.test.ts
  .github/actions/packc-action/src/signer.test.ts
Due: none

test(go): Improve test coverage for pipeline and mock repository
  runtime/pipeline/stage/pipeline_internal_test.go
  runtime/providers/mock/mock_repository_extended_test.go
Due: none

fix(ci): Rewrite coverage paths for SonarCloud compatibility
  .github/workflows/ci.yml
Due: none

fix: Improve code quality and test coverage for SonarCloud (#176)
  .github/actions/packc-action/dist/index.js
  .github/actions/packc-action/dist/index.js.map
  .github/actions/packc-action/src/compiler.test.ts
  .github/actions/packc-action/src/compiler.ts
  .github/actions/packc-action/src/installer.test.ts
  .github/actions/packc-action/src/installer.ts
  .github/actions/packc-action/src/main.test.ts
  .github/actions/packc-action/src/main.ts
  .github/actions/packc-action/src/publisher.test.ts
  .github/actions/packc-action/src/signer.test.ts
  .github/actions/packc-action/src/signer.ts
  .github/actions/promptarena-action/dist/index.js
  .github/actions/promptarena-action/dist/index.js.map
  .github/actions/promptarena-action/src/installer.test.ts
  .github/actions/promptarena-action/src/installer.ts
  .github/actions/promptarena-action/src/main.test.ts
  .github/actions/promptarena-action/src/main.ts
  .github/actions/promptarena-action/src/outputs.test.ts
  .github/actions/promptarena-action/src/outputs.ts
  .github/actions/promptarena-action/src/runner.ts
  .github/workflows/ci.yml
  runtime/pipeline/stage/pipeline.go
  runtime/pipeline/stage/pipeline_internal_test.go
  runtime/providers/mock/mock_repository.go
  runtime/providers/mock/mock_repository_extended_test.go
  tools/arena/statestore/store.go
Due: runtime, arena

fix(actions): Address SonarCloud TypeScript code quality issues
  .github/actions/packc-action/.eslintrc.json
  .github/actions/packc-action/package-lock.json
  .github/actions/packc-action/package.json
  .github/actions/packc-action/src/compiler.ts
  .github/actions/packc-action/src/main.ts
  .github/actions/packc-action/src/publisher.ts
  .github/actions/packc-action/src/signer.ts
  .github/actions/promptarena-action/.eslintrc.json
  .github/actions/promptarena-action/package-lock.json
  .github/actions/promptarena-action/package.json
  .github/actions/promptarena-action/src/main.ts
  .github/actions/promptarena-action/src/runner.ts
  npm/promptarena/test-init.js
Due: none

fix(actions): Address SonarCloud TypeScript code quality issues (#177)
  .github/actions/packc-action/.eslintrc.json
  .github/actions/packc-action/package-lock.json
  .github/actions/packc-action/package.json
  .github/actions/packc-action/src/compiler.ts
  .github/actions/packc-action/src/main.ts
  .github/actions/packc-action/src/publisher.ts
  .github/actions/packc-action/src/signer.ts
  .github/actions/promptarena-action/.eslintrc.json
  .github/actions/promptarena-action/package-lock.json
  .github/actions/promptarena-action/package.json
  .github/actions/promptarena-action/src/main.ts
  .github/actions/promptarena-action/src/runner.ts
  npm/promptarena/test-init.js
Due: none

feat(arena): Add multimodal image display and per-turn latency tracking
  examples/ollama-local/README.md
  examples/ollama-local/config.arena.k8s.yaml
  examples/ollama-local/prompts/vision-assistant.yaml
  examples/ollama-local/providers/ollama-k8s.provider.yaml
  examples/ollama-local/providers/ollama-vision-k8s.provider.yaml
  examples/ollama-local/providers/ollama-vision-local.provider.yaml
  examples/ollama-local/scenarios/basic-chat.scenario.yaml
  examples/ollama-local/scenarios/multimodal-vision.scenario.yaml
  examples/ollama-local/scenarios/streaming-verification.scenario.yaml
  runtime/pipeline/stage/stages_duplex_provider_integration.go
  runtime/pipeline/stage/stages_provider.go
  runtime/pipeline/stage/stages_provider_test.go
  tools/arena/render/media.go
  tools/arena/render/media_test.go
Due: runtime, arena

test(ollama): Improve multimodal vision scenario to properly test image context retention
  examples/ollama-local/scenarios/multimodal-vision.scenario.yaml
Due: none

feat(arena): Add multimodal image display and per-turn latency tracking (#179)
  examples/ollama-local/README.md
  examples/ollama-local/config.arena.k8s.yaml
  examples/ollama-local/prompts/vision-assistant.yaml
  examples/ollama-local/providers/ollama-k8s.provider.yaml
  examples/ollama-local/providers/ollama-vision-k8s.provider.yaml
  examples/ollama-local/providers/ollama-vision-local.provider.yaml
  examples/ollama-local/scenarios/basic-chat.scenario.yaml
  examples/ollama-local/scenarios/multimodal-vision.scenario.yaml
  examples/ollama-local/scenarios/streaming-verification.scenario.yaml
  runtime/pipeline/stage/stages_duplex_provider_integration.go
  runtime/pipeline/stage/stages_provider.go
  runtime/pipeline/stage/stages_provider_test.go
  tools/arena/render/media.go
  tools/arena/render/media_test.go
Due: runtime, arena

feat(sdk): Add image preprocessing pipeline for multimodal messages
  docs/src/content/docs/sdk/examples/multimodal.md
  docs/src/content/docs/sdk/how-to/index.md
  docs/src/content/docs/sdk/how-to/preprocess-images.md
  runtime/go.mod
  runtime/go.sum
  runtime/media/image.go
  runtime/media/image_test.go
  runtime/pipeline/stage/element.go
  runtime/pipeline/stage/stages_image_preprocess.go
  runtime/pipeline/stage/stages_image_preprocess_test.go
  runtime/pipeline/stage/stages_image_resize.go
  runtime/pipeline/stage/stages_image_resize_test.go
  sdk/conversation.go
  sdk/internal/pipeline/builder.go
  sdk/options.go
Due: runtime, sdk

fix: Reduce code duplication in image test files
  runtime/media/image_test.go
  runtime/pipeline/stage/stages_image_preprocess_test.go
Due: none

fix: Eliminate config struct duplication using type alias
  runtime/pipeline/stage/stages_image_preprocess.go
  runtime/pipeline/stage/stages_image_resize.go
Due: runtime

fix: Remove duplicate code block in encodeImage function
  runtime/media/image.go
Due: runtime

refactor(stage): Reduce code duplication in media externalization
  runtime/pipeline/stage/element.go
Due: runtime

test(stage): Add tests for VideoData and ImageData externalization
  runtime/pipeline/stage/element_test.go
Due: none

feat(sdk): Add image preprocessing pipeline for multimodal messages (#184)
  docs/src/content/docs/sdk/examples/multimodal.md
  docs/src/content/docs/sdk/how-to/index.md
  docs/src/content/docs/sdk/how-to/preprocess-images.md
  runtime/go.mod
  runtime/go.sum
  runtime/media/image.go
  runtime/media/image_test.go
  runtime/pipeline/stage/element.go
  runtime/pipeline/stage/element_test.go
  runtime/pipeline/stage/stages_image_preprocess.go
  runtime/pipeline/stage/stages_image_preprocess_test.go
  runtime/pipeline/stage/stages_image_resize.go
  runtime/pipeline/stage/stages_image_resize_test.go
  sdk/conversation.go
  sdk/internal/pipeline/builder.go
  sdk/options.go
Due: runtime, sdk

feat(stage): Add MediaExtractStage and MediaComposeStage for batch media processing
  runtime/pipeline/stage/stages_media_batch_integration_test.go
  runtime/pipeline/stage/stages_media_compose.go
  runtime/pipeline/stage/stages_media_compose_test.go
  runtime/pipeline/stage/stages_media_extract.go
  runtime/pipeline/stage/stages_media_extract_test.go
Due: runtime

test(stage): Improve coverage for media extract/compose stages
  runtime/pipeline/stage/stages_media_compose_test.go
  runtime/pipeline/stage/stages_media_extract_test.go
Due: none

fix(stage): Fix data race in MediaComposeStage timeout handling
  runtime/pipeline/stage/stages_media_compose.go
Due: runtime

Path conditions:
  runtime: any of: runtime/, but not: **/*_test.go, **/*_interactive.go, **/*_integration.go, examples/, docs/, scripts/, .github/, *.md
  sdk: any of: sdk/, but not: **/*_test.go, **/*_interactive.go, **/*_integration.go, examples/, docs/, scripts/, .github/, *.md
  arena: any of: tools/arena/, but not: **/*_test.go, **/*_interactive.go, **/*_integration.go, examples/, docs/, scripts/, .github/, *.md
  packc: any of: tools/packc/, but not: **/*_test.go, **/*_interactive.go, **/*_integration.go, examples/, docs/, scripts/, .github/, *.md
  inspect-state: any of: tools/inspect-state/, but not: **/*_test.go, **/*_interactive.go, **/*_integration.go, examples/, docs/, scripts/, .github/, *.md
