Repository AltairaLabs/PromptKit: changes, and which Codecov flags are due for each by the changed paths.
All: runtime, sdk, arena, packc, inspect-state

docs: document enforced DCO + CLA for contributors
  .github/pull_request_template.md
  CONTRIBUTING.md
Due: none

docs: point CLA link at the public gist
  CONTRIBUTING.md
Due: none

docs: document enforced DCO + CLA for contributors (#1416)
  .github/pull_request_template.md
  CONTRIBUTING.md
Due: none

feat(providers): shared NormalizeOpenAIFinishReason helper
  runtime/providers/finish_reason.go
  runtime/providers/finish_reason_test.go
Due: runtime

feat(claude): normalize stop_reason onto canonical finish-reason vocabulary
  runtime/providers/claude/claude.go
  runtime/providers/claude/claude_bedrock_streaming_test.go
  runtime/providers/claude/claude_integration_test.go
  runtime/providers/claude/claude_streaming.go
  runtime/providers/claude/finish_reason.go
  runtime/providers/claude/finish_reason_test.go
Due: runtime

feat(gemini): canonicalize finish reasons on success paths
  runtime/providers/gemini/finish_reason.go
  runtime/providers/gemini/finish_reason_test.go
  runtime/providers/gemini/gemini.go
  runtime/providers/gemini/gemini_integration_test.go
  runtime/providers/gemini/gemini_streaming.go
  runtime/providers/gemini/gemini_streaming_test.go
  runtime/providers/gemini/gemini_tools.go
Due: runtime

feat(openai): normalize finish reasons onto canonical vocabulary
  runtime/providers/openai/bedrock_unit_test.go
  runtime/providers/openai/finish_reason_test.go
  runtime/providers/openai/openai.go
  runtime/providers/openai/openai_tools.go
  runtime/providers/openai/openai_tools_test.go
Due: runtime

feat(providers): canonical finish-reason vocabulary + non-streaming field
  runtime/pipeline/stage/stages_provider.go
  runtime/pipeline/stage/stages_provider_test.go
  runtime/providers/provider.go
  runtime/types/finish_reason_test.go
  runtime/types/message.go
Due: runtime

feat(vllm,ollama): normalize finish reasons via shared OpenAI-wire helper
  runtime/providers/ollama/finish_reason_test.go
  runtime/providers/ollama/ollama.go
  runtime/providers/vllm/finish_reason_test.go
  runtime/providers/vllm/vllm.go
Due: runtime

test(providers): update cross-provider stream mock to canonical reasons
  runtime/providers/streaming_mock_test.go
Due: none

feat(providers): normalize finish/stop reasons across providers (#1417)
  runtime/pipeline/stage/stages_provider.go
  runtime/pipeline/stage/stages_provider_test.go
  runtime/providers/claude/claude.go
  runtime/providers/claude/claude_bedrock_streaming_test.go
  runtime/providers/claude/claude_integration_test.go
  runtime/providers/claude/claude_streaming.go
  runtime/providers/claude/finish_reason.go
  runtime/providers/claude/finish_reason_test.go
  runtime/providers/finish_reason.go
  runtime/providers/finish_reason_test.go
  runtime/providers/gemini/finish_reason.go
  runtime/providers/gemini/finish_reason_test.go
  runtime/providers/gemini/gemini.go
  runtime/providers/gemini/gemini_integration_test.go
  runtime/providers/gemini/gemini_streaming.go
  runtime/providers/gemini/gemini_streaming_test.go
  runtime/providers/gemini/gemini_tools.go
  runtime/providers/ollama/finish_reason_test.go
  runtime/providers/ollama/ollama.go
  runtime/providers/openai/bedrock_unit_test.go
  runtime/providers/openai/finish_reason_test.go
  runtime/providers/openai/openai.go
  runtime/providers/openai/openai_tools.go
  runtime/providers/openai/openai_tools_test.go
  runtime/providers/provider.go
  runtime/providers/streaming_mock_test.go
  runtime/providers/vllm/finish_reason_test.go
  runtime/providers/vllm/vllm.go
  runtime/types/finish_reason_test.go
  runtime/types/message.go
Due: runtime

fix(arena): dim empty conversation view when inactive
  tools/arena/tui/panels/conversation.go
Due: arena

feat(arena): optional per-session eval scoring for interactive console
  tools/arena/engine/interactive.go
  tools/arena/engine/interactive_test.go
Due: arena

test(arena): assert HasConfigEvals and mock-config flag in chat command tests
  tools/arena/cmd/promptarena/chat_test.go
Due: none

test(arena): assert real input routing in chat panel tests
  tools/arena/tui/panels/interactive_chat_test.go
Due: none

test(arena): anchor busy-gate panel test to a non-empty input
  tools/arena/tui/panels/interactive_chat_test.go
Due: none

docs(arena): correct promptarena chat usage (no positional config-path)
  docs/src/content/docs/arena/reference/cli-commands.md
Due: none

feat(arena): promptarena chat command for the interactive console
  tools/arena/cmd/promptarena/chat.go
  tools/arena/cmd/promptarena/chat_interactive.go
  tools/arena/cmd/promptarena/chat_test.go
Due: arena

docs(arena): document promptarena chat; finalize interactive console phase 1
  docs/src/content/docs/arena/reference/cli-commands.md
Due: none

feat(arena): engine introspection for interactive console (agents, providers, required vars)
  tools/arena/engine/interactive.go
  tools/arena/engine/interactive_test.go
  tools/arena/engine/testdata/interactive/config.arena.yaml
  tools/arena/engine/testdata/interactive/prompts/basic.yaml
  tools/arena/engine/testdata/interactive/providers/mock.provider.yaml
Due: arena

refactor(arena): reuse ConversationPanel for interactive chat (drop duplicate UI)
  tools/arena/cmd/promptarena/chat.go
  tools/arena/cmd/promptarena/chat_interactive.go
  tools/arena/cmd/promptarena/chat_model_test.go
  tools/arena/cmd/promptarena/chat_test.go
  tools/arena/engine/engine.go
  tools/arena/engine/interactive.go
  tools/arena/engine/interactive_events_test.go
  tools/arena/tui/pages/interactive_chat.go
  tools/arena/tui/pages/interactive_chat_test.go
  tools/arena/tui/panels/interactive_chat.go
  tools/arena/tui/panels/interactive_chat_test.go
Due: arena

fix(arena): guard prompt-config type assertion in interactive introspection
  tools/arena/engine/interactive.go
Due: arena

feat(arena): auto-scroll + focus toggle for interactive chat conversation
  tools/arena/cmd/promptarena/chat_interactive.go
  tools/arena/cmd/promptarena/chat_model_test.go
  tools/arena/tui/panels/conversation.go
  tools/arena/tui/panels/conversation_test.go
Due: arena

fix(arena): run and display evals after each interactive turn
  tools/arena/cmd/promptarena/chat_interactive.go
  tools/arena/cmd/promptarena/chat_model_test.go
Due: none

feat(arena): TUI interactive chat page (setup flow + streamed turns)
  tools/arena/engine/interactive.go
  tools/arena/tui/pages/interactive_chat.go
  tools/arena/tui/pages/interactive_chat_test.go
Due: arena

feat(arena): surface left/right turns/detail nav in chat footer when conversation focused
  tools/arena/cmd/promptarena/chat_interactive.go
  tools/arena/cmd/promptarena/chat_model_test.go
Due: none

feat(arena): TUI interactive chat panel (input + run-parity transcript)
  tools/arena/tui/panels/interactive_chat.go
  tools/arena/tui/panels/interactive_chat_test.go
Due: arena

fix(arena): resolve prompt-config vars by task_type in interactive session
  tools/arena/engine/interactive.go
  tools/arena/engine/interactive_test.go
  tools/arena/engine/testdata/interactive_idvars/config.arena.yaml
  tools/arena/engine/testdata/interactive_idvars/prompts/support.yaml
  tools/arena/engine/testdata/interactive_idvars/providers/mock.provider.yaml
  tools/arena/tui/pages/interactive_chat.go
  tools/arena/tui/pages/interactive_chat_test.go
Due: arena

feat(arena): InteractiveSession core drives a live user turn via scripted executor
  tools/arena/engine/interactive.go
  tools/arena/engine/interactive_test.go
Due: arena

fix(arena): render interactive chat from state store; add exit + keybind footer
  tools/arena/cmd/promptarena/chat_interactive.go
  tools/arena/cmd/promptarena/chat_model_test.go
  tools/arena/engine/engine.go
  tools/arena/engine/interactive.go
  tools/arena/engine/interactive_events_test.go
Due: arena

fix(arena): handle provider errors gracefully in interactive chat
  tools/arena/cmd/promptarena/chat_interactive.go
  tools/arena/cmd/promptarena/chat_model_test.go
Due: none

feat(arena): focus-aware input box for interactive chat
  tools/arena/cmd/promptarena/chat_interactive.go
  tools/arena/cmd/promptarena/chat_model_test.go
  tools/arena/tui/panels/conversation.go
  tools/arena/tui/panels/conversation_test.go
Due: arena

feat(arena): interactive agent console — Phase 1 (core + TUI) (#1415)
  docs/src/content/docs/arena/reference/cli-commands.md
  tools/arena/cmd/promptarena/chat.go
  tools/arena/cmd/promptarena/chat_interactive.go
  tools/arena/cmd/promptarena/chat_model_test.go
  tools/arena/cmd/promptarena/chat_test.go
  tools/arena/engine/interactive.go
  tools/arena/engine/interactive_events_test.go
  tools/arena/engine/interactive_test.go
  tools/arena/engine/testdata/interactive/config.arena.yaml
  tools/arena/engine/testdata/interactive/prompts/basic.yaml
  tools/arena/engine/testdata/interactive/providers/mock.provider.yaml
  tools/arena/engine/testdata/interactive_idvars/config.arena.yaml
  tools/arena/engine/testdata/interactive_idvars/prompts/support.yaml
  tools/arena/engine/testdata/interactive_idvars/providers/mock.provider.yaml
  tools/arena/tui/panels/conversation.go
  tools/arena/tui/panels/conversation_test.go
Due: arena

feat(arena/tui): compose conversation view via the layout engine
  tools/arena/tui/panels/conversation.go
Due: arena

test(arena/tui): make golden snapshots environment-stable
  tools/arena/tui/golden_test.go
  tools/arena/tui/testdata/TestGoldenConversationPage/100x30.golden
  tools/arena/tui/testdata/TestGoldenConversationPage/120x40.golden
  tools/arena/tui/testdata/TestGoldenConversationPage/160x50.golden
  tools/arena/tui/testdata/TestGoldenConversationPage/60x20.golden
  tools/arena/tui/testdata/TestGoldenConversationPage/80x24.golden
  tools/arena/tui/testdata/TestGoldenMainPage/100x30.golden
  tools/arena/tui/testdata/TestGoldenMainPage/120x40.golden
  tools/arena/tui/testdata/TestGoldenMainPage/160x50.golden
  tools/arena/tui/testdata/TestGoldenMainPage/60x20.golden
  tools/arena/tui/testdata/TestGoldenMainPage/80x24.golden
Due: arena

docs(arena/tui): document golden snapshot regeneration
  tools/arena/tui/golden_test.go
Due: none

feat(arena/tui): wire in the file browser and migrate its layout
  tools/arena/tui/golden_test.go
  tools/arena/tui/pages/file_browser.go
  tools/arena/tui/testdata/TestGoldenMainPage/100x30.golden
  tools/arena/tui/testdata/TestGoldenMainPage/120x40.golden
  tools/arena/tui/testdata/TestGoldenMainPage/160x50.golden
  tools/arena/tui/testdata/TestGoldenMainPage/60x20.golden
  tools/arena/tui/testdata/TestGoldenMainPage/80x24.golden
  tools/arena/tui/tui.go
  tools/arena/tui/tui_filebrowser_test.go
Due: arena

test(arena/tui): add teatest golden harness and main-page baseline
  tools/arena/go.mod
  tools/arena/go.sum
  tools/arena/tui/golden_test.go
  tools/arena/tui/testdata/TestGoldenMainPage/100x30.golden
  tools/arena/tui/testdata/TestGoldenMainPage/120x40.golden
  tools/arena/tui/testdata/TestGoldenMainPage/160x50.golden
  tools/arena/tui/testdata/TestGoldenMainPage/60x20.golden
  tools/arena/tui/testdata/TestGoldenMainPage/80x24.golden
Due: arena

test(arena/tui): baseline goldens for conversation page; defer file browser
  tools/arena/tui/golden_test.go
  tools/arena/tui/testdata/TestGoldenConversationPage/100x30.golden
  tools/arena/tui/testdata/TestGoldenConversationPage/120x40.golden
  tools/arena/tui/testdata/TestGoldenConversationPage/160x50.golden
  tools/arena/tui/testdata/TestGoldenConversationPage/60x20.golden
  tools/arena/tui/testdata/TestGoldenConversationPage/80x24.golden
Due: arena

feat(arena/tui): drive main page layout from the engine
  tools/arena/tui/pages/main.go
  tools/arena/tui/pages/pages_test.go
  tools/arena/tui/testdata/TestGoldenMainPage/100x30.golden
  tools/arena/tui/testdata/TestGoldenMainPage/120x40.golden
  tools/arena/tui/testdata/TestGoldenMainPage/160x50.golden
  tools/arena/tui/testdata/TestGoldenMainPage/80x24.golden
Due: arena

Path conditions:
  runtime: any of: runtime/, but not: **/*_test.go, **/*_interactive.go, **/*_integration.go, examples/, docs/, scripts/, .github/, *.md
  sdk: any of: sdk/, but not: **/*_test.go, **/*_interactive.go, **/*_integration.go, examples/, docs/, scripts/, .github/, *.md
  arena: any of: tools/arena/, but not: **/*_test.go, **/*_interactive.go, **/*_integration.go, examples/, docs/, scripts/, .github/, *.md
  packc: any of: tools/packc/, but not: **/*_test.go, **/*_interactive.go, **/*_integration.go, examples/, docs/, scripts/, .github/, *.md
  inspect-state: any of: tools/inspect-state/, but not: **/*_test.go, **/*_interactive.go, **/*_integration.go, examples/, docs/, scripts/, .github/, *.md
