Repository AltairaLabs/PromptKit: changes, and which Codecov flags are due for each by the changed paths.
All: runtime, sdk, arena, packc, inspect-state

codecov.yml:

codecov:
  require_ci_to_pass: yes
  notify:
    wait_for_ci: yes

coverage:
  precision: 2
  round: down
  range: "70...100"
  
  status:
    project:
      default:
        target: 70%
        threshold: 1%
        if_ci_failed: error
    patch:
      default:
        target: 70%
        threshold: 1%
        if_ci_failed: error

comment:
  layout: "reach,diff,flags,tree"
  behavior: default
  require_changes: false

flags:
  runtime:
    paths:
      - runtime/
  sdk:
    paths:
      - sdk/
  arena:
    paths:
      - tools/arena/
  packc:
    paths:
      - tools/packc/
  inspect-state:
    paths:
      - tools/inspect-state/

ignore:
  - "**/*_test.go"
  - "**/*_interactive.go"
  - "**/*_integration.go"
  - "examples/"
  - "docs/"
  - "scripts/"
  - ".github/"
  - "*.md"

docs: document promptarena skill CLI commands
  docs/src/content/docs/arena/how-to/install-skills.md
  docs/src/content/docs/arena/reference/cli-commands.md
  docs/src/content/docs/reference/skills.md
Due: none

refactor: reduce code duplication in skill installer and CLI
  runtime/skills/installer.go
  runtime/skills/installer_test.go
  tools/arena/cmd/promptarena/skill_interactive.go
Due: runtime

chore: exclude integration files from SonarCloud analysis
  sonar-project.properties
Due: none

feat: add skill install CLI, shared skill resolution, and workflow-skills example (#421)
  docs/src/content/docs/arena/how-to/install-skills.md
  docs/src/content/docs/arena/reference/cli-commands.md
  docs/src/content/docs/reference/skills.md
  runtime/skills/installer.go
  runtime/skills/installer_integration.go
  runtime/skills/installer_test.go
  runtime/skills/registry.go
  runtime/skills/registry_test.go
  runtime/skills/types.go
  sonar-project.properties
  tools/arena/cmd/promptarena/skill.go
  tools/arena/cmd/promptarena/skill_interactive.go
  tools/arena/cmd/promptarena/skill_test.go
Due: runtime, arena

feat: fix workflow-skills pipeline, turn skew, skill discovery, and HTML report
  examples/programmatic-arena/main.go
  examples/workflow-skills/mock-responses.yaml
  examples/workflow-skills/providers/gemini-flash.provider.yaml
  examples/workflow-skills/scenarios/billing-flow.scenario.yaml
  examples/workflow-skills/scenarios/orders-flow.scenario.yaml
  runtime/pipeline/stage/stages_provider.go
  runtime/pipeline/stage/stages_provider_test.go
  runtime/skills/tool_executor.go
  runtime/skills/tool_executor_test.go
  sdk/capability_skills.go
  sdk/capability_skills_test.go
  tools/arena/assertions/skill_activated_conversation.go
  tools/arena/assertions/skill_activated_conversation_test.go
  tools/arena/engine/builder_additional_test.go
  tools/arena/engine/builder_integration.go
  tools/arena/engine/engine.go
  tools/arena/engine/execution_workflow_integration.go
  tools/arena/engine/workflow_driver_integration.go
  tools/arena/render/templates/report.html.tmpl
Due: runtime, sdk, arena

feat: enhance arena HTML report with tool schemas, clickable diagnostics, and namespace badges
  examples/a2a-demo/arena/config.arena.yaml
  examples/a2a-demo/arena/providers/gemini-flash.provider.yaml
  examples/customer-support-integrated/providers/mock-tool-scenarios.yaml
  examples/customer-support-integrated/providers/mock-tool-simulation.provider.yaml
  examples/workflow-skills/config.arena.yaml
  tools/arena/engine/execution.go
  tools/arena/engine/execution_workflow_integration.go
  tools/arena/engine/workflow_driver_integration.go
  tools/arena/render/templates/report.html.tmpl
Due: arena

feat: workflow-skills pipeline fixes, skill discovery, and enhanced HTML report (#422)
  examples/a2a-demo/arena/config.arena.yaml
  examples/a2a-demo/arena/providers/gemini-flash.provider.yaml
  examples/customer-support-integrated/providers/mock-tool-scenarios.yaml
  examples/customer-support-integrated/providers/mock-tool-simulation.provider.yaml
  examples/programmatic-arena/main.go
  examples/workflow-skills/config.arena.yaml
  examples/workflow-skills/mock-responses.yaml
  examples/workflow-skills/providers/gemini-flash.provider.yaml
  examples/workflow-skills/scenarios/billing-flow.scenario.yaml
  examples/workflow-skills/scenarios/orders-flow.scenario.yaml
  runtime/pipeline/stage/stages_provider.go
  runtime/pipeline/stage/stages_provider_test.go
  runtime/skills/tool_executor.go
  runtime/skills/tool_executor_test.go
  sdk/capability_skills.go
  sdk/capability_skills_test.go
  tools/arena/assertions/skill_activated_conversation.go
  tools/arena/assertions/skill_activated_conversation_test.go
  tools/arena/engine/builder_additional_test.go
  tools/arena/engine/builder_integration.go
  tools/arena/engine/engine.go
  tools/arena/engine/execution.go
  tools/arena/engine/execution_workflow_integration.go
  tools/arena/engine/workflow_driver_integration.go
  tools/arena/render/templates/report.html.tmpl
Due: runtime, sdk, arena

feat: extract shared BuildConversationContextFromMessages (#423)
  tools/arena/assertions/context_builder.go
  tools/arena/assertions/context_builder_test.go
  tools/arena/engine/conversation_executor.go
  tools/arena/engine/duplex_executor_assertions_integration.go
  tools/arena/engine/eval_conversation_executor.go
  tools/arena/engine/execution_workflow_integration.go
Due: arena

fix: don't set task to failed when context is canceled in A2A server
  sdk/a2a_server.go
Due: sdk

feat: shared ConversationContext builder (#423) (#427)
  sdk/a2a_server.go
  tools/arena/assertions/context_builder.go
  tools/arena/assertions/context_builder_test.go
  tools/arena/engine/conversation_executor.go
  tools/arena/engine/duplex_executor_assertions_integration.go
  tools/arena/engine/eval_conversation_executor.go
  tools/arena/engine/execution_workflow_integration.go
Due: sdk, arena

feat: add pack-level assertions (#424)
  pkg/config/types.go
  schemas/v1alpha1/arena.json
  tools/arena/engine/conversation_executor.go
  tools/arena/engine/conversation_executor_test.go
  tools/arena/engine/duplex_executor_assertions_integration.go
  tools/arena/engine/eval_conversation_executor.go
  tools/arena/engine/execution_workflow_integration.go
Due: arena

feat: add pack-level assertions (#424) (#429)
  pkg/config/types.go
  schemas/v1alpha1/arena.json
  tools/arena/engine/conversation_executor.go
  tools/arena/engine/conversation_executor_test.go
  tools/arena/engine/duplex_executor_assertions_integration.go
  tools/arena/engine/eval_conversation_executor.go
  tools/arena/engine/execution_workflow_integration.go
Due: arena

feat: add A2A spec compliance test suite (26 tests)
  sdk/a2a_server_stream_test.go
  sdk/a2a_server_test.go
Due: none

feat: add A2A spec compliance test suite (26 tests) (#431)
  sdk/a2a_server_stream_test.go
  sdk/a2a_server_test.go
Due: none

fix: add text fallback when response Parts() is empty (#428)
  sdk/a2a_server.go
  sdk/a2a_server_test.go
Due: sdk

fix: add text fallback when response Parts() is empty (#428) (#432)
  sdk/a2a_server.go
  sdk/a2a_server_test.go
Due: sdk

fix: propagate Parts through SDK pipeline boundaries (#428)
  runtime/pipeline/types.go
  sdk/conversation.go
  sdk/conversation_test.go
  sdk/session/unary_session.go
  sdk/session/unary_session_test.go
  sdk/streaming.go
Due: runtime, sdk

fix: propagate Parts through SDK pipeline boundaries (#428) (#433)
  runtime/pipeline/types.go
  sdk/conversation.go
  sdk/conversation_test.go
  sdk/session/unary_session.go
  sdk/session/unary_session_test.go
  sdk/streaming.go
Due: runtime, sdk

feat: add platform support to OpenAI and Gemini providers
  CLAUDE.md
  runtime/providers/claude/claude.go
  runtime/providers/claude/claude_bedrock_fallback_test.go
  runtime/providers/claude/claude_multimodal.go
  runtime/providers/claude/claude_streaming.go
  runtime/providers/claude/claude_test.go
  runtime/providers/claude/claude_tools.go
  runtime/providers/claude/claude_tools_test.go
  runtime/providers/errors.go
  runtime/providers/errors_test.go
  runtime/providers/gemini/gemini.go
  runtime/providers/gemini/gemini_multimodal.go
  runtime/providers/gemini/gemini_test.go
  runtime/providers/gemini/gemini_tools.go
  runtime/providers/gemini/gemini_tools_test.go
  runtime/providers/openai/openai.go
  runtime/providers/openai/openai_responses_integration.go
  runtime/providers/openai/openai_test.go
  runtime/providers/openai/openai_tools.go
  runtime/providers/openai/openai_tools_test.go
Due: runtime

feat: add platform support to OpenAI and Gemini providers (#434)
  CLAUDE.md
  runtime/providers/claude/claude.go
  runtime/providers/claude/claude_bedrock_fallback_test.go
  runtime/providers/claude/claude_multimodal.go
  runtime/providers/claude/claude_streaming.go
  runtime/providers/claude/claude_test.go
  runtime/providers/claude/claude_tools.go
  runtime/providers/claude/claude_tools_test.go
  runtime/providers/errors.go
  runtime/providers/errors_test.go
  runtime/providers/gemini/gemini.go
  runtime/providers/gemini/gemini_multimodal.go
  runtime/providers/gemini/gemini_test.go
  runtime/providers/gemini/gemini_tools.go
  runtime/providers/gemini/gemini_tools_test.go
  runtime/providers/openai/openai.go
  runtime/providers/openai/openai_responses_integration.go
  runtime/providers/openai/openai_test.go
  runtime/providers/openai/openai_tools.go
  runtime/providers/openai/openai_tools_test.go
Due: runtime

feat: add AWS SigV4 URI encoding and Bedrock integration tests
  .env.example
  runtime/credentials/aws_integration.go
  runtime/credentials/aws_integration_test.go
  runtime/providers/claude/bedrock_integration_test.go
  tools/arena/go.mod
  tools/arena/go.sum
Due: arena

feat: add AWS SigV4 URI encoding and Bedrock integration tests (#435)
  .env.example
  runtime/credentials/aws_integration.go
  runtime/credentials/aws_integration_test.go
  runtime/providers/claude/bedrock_integration_test.go
  tools/arena/go.mod
  tools/arena/go.sum
Due: arena

feat: add real Bedrock streaming via binary event-stream decoding (#430)
  runtime/go.mod
  runtime/go.sum
  runtime/providers/bedrock_eventstream.go
  runtime/providers/bedrock_eventstream_test.go
  runtime/providers/claude/claude.go
  runtime/providers/claude/claude_bedrock_fallback_test.go
  runtime/providers/claude/claude_bedrock_streaming_test.go
  runtime/providers/claude/claude_multimodal.go
  runtime/providers/claude/claude_streaming.go
  runtime/providers/claude/claude_tools.go
  runtime/providers/sse.go
Due: runtime

feat: add Bedrock streaming support (#430) (#436)
  runtime/go.mod
  runtime/go.sum
  runtime/providers/bedrock_eventstream.go
  runtime/providers/bedrock_eventstream_test.go
  runtime/providers/claude/claude.go
  runtime/providers/claude/claude_bedrock_fallback_test.go
  runtime/providers/claude/claude_bedrock_streaming_test.go
  runtime/providers/claude/claude_multimodal.go
  runtime/providers/claude/claude_streaming.go
  runtime/providers/claude/claude_tools.go
  runtime/providers/sse.go
Due: runtime

feat: enrich OTLP exporter with conversation data (#425)
  docs/src/content/docs/runtime/how-to/export-traces-otlp.md
  docs/src/content/docs/runtime/how-to/index.md
  docs/src/content/docs/runtime/reference/index.md
  docs/src/content/docs/runtime/reference/logging.md
  docs/src/content/docs/runtime/reference/telemetry.md
  docs/src/content/docs/sdk/explanation/observability.md
  runtime/telemetry/exporter.go
  runtime/telemetry/exporter_test.go
Due: runtime

feat: enrich OTLP exporter with conversation data (#425) (#437)
  docs/src/content/docs/runtime/how-to/export-traces-otlp.md
  docs/src/content/docs/runtime/how-to/index.md
  docs/src/content/docs/runtime/reference/index.md
  docs/src/content/docs/runtime/reference/logging.md
  docs/src/content/docs/runtime/reference/telemetry.md
  docs/src/content/docs/sdk/explanation/observability.md
  runtime/telemetry/exporter.go
  runtime/telemetry/exporter_test.go
Due: runtime

feat: add `promptarena generate` command with pluggable session source adapters (#426)
  tools/arena/cmd/promptarena/generate.go
  tools/arena/cmd/promptarena/generate_integration.go
  tools/arena/cmd/promptarena/generate_test.go
  tools/arena/generate/adapter.go
  tools/arena/generate/converter.go
  tools/arena/generate/converter_test.go
  tools/arena/generate/fingerprint.go
  tools/arena/generate/fingerprint_test.go
  tools/arena/generate/registry.go
  tools/arena/generate/registry_test.go
  tools/arena/generate/sources/recordings.go
  tools/arena/generate/sources/recordings_test.go
Due: arena

feat: add `promptarena generate` command with pluggable session source adapters (#426) (#438)
  tools/arena/cmd/promptarena/generate.go
  tools/arena/cmd/promptarena/generate_integration.go
  tools/arena/cmd/promptarena/generate_test.go
  tools/arena/generate/adapter.go
  tools/arena/generate/converter.go
  tools/arena/generate/converter_test.go
  tools/arena/generate/fingerprint.go
  tools/arena/generate/fingerprint_test.go
  tools/arena/generate/registry.go
  tools/arena/generate/registry_test.go
  tools/arena/generate/sources/recordings.go
  tools/arena/generate/sources/recordings_test.go
Due: arena

docs: add `promptarena generate` to CLI commands reference
  docs/src/content/docs/arena/reference/cli-commands.md
Due: none

docs: add `promptarena generate` to CLI commands reference (#439)
  docs/src/content/docs/arena/reference/cli-commands.md
Due: none

feat(arena): add turn-scoped tool call assertion system
  schemas/v1alpha1/scenario.json
  tools/arena/assertions/no_tool_errors.go
  tools/arena/assertions/no_tool_errors_test.go
  tools/arena/assertions/registry.go
  tools/arena/assertions/registry_test.go
  tools/arena/assertions/tool_call_chain.go
  tools/arena/assertions/tool_call_chain_test.go
  tools/arena/assertions/tool_call_count.go
  tools/arena/assertions/tool_call_count_test.go
  tools/arena/assertions/tool_call_sequence.go
  tools/arena/assertions/tool_call_sequence_test.go
  tools/arena/assertions/tool_calls_with_args.go
  tools/arena/assertions/tool_calls_with_args_test.go
  tools/arena/assertions/tool_result_includes.go
  tools/arena/assertions/tool_result_includes_test.go
  tools/arena/assertions/tool_result_matches.go
  tools/arena/assertions/tool_result_matches_test.go
  tools/arena/assertions/turn_tool_trace.go
  tools/arena/assertions/turn_tool_trace_test.go
Due: arena

feat(arena): add conversation-level tool call assertions with shared core
  tools/arena/assertions/conversation_registry.go
  tools/arena/assertions/conversation_registry_test.go
  tools/arena/assertions/no_tool_errors.go
  tools/arena/assertions/no_tool_errors_conversation.go
  tools/arena/assertions/tool_call_chain.go
  tools/arena/assertions/tool_call_chain_conversation.go
  tools/arena/assertions/tool_call_conversation_test.go
  tools/arena/assertions/tool_call_core.go
  tools/arena/assertions/tool_call_core_test.go
  tools/arena/assertions/tool_call_count.go
  tools/arena/assertions/tool_call_count_conversation.go
  tools/arena/assertions/tool_call_sequence.go
  tools/arena/assertions/tool_call_sequence_conversation.go
  tools/arena/assertions/tool_result_includes.go
  tools/arena/assertions/tool_result_includes_conversation.go
  tools/arena/assertions/tool_result_matches.go
  tools/arena/assertions/tool_result_matches_conversation.go
Due: arena

feat(arena): add llm_judge_tool_calls validator and when-condition filtering
  schemas/v1alpha1/scenario.json
  tools/arena/assertions/conversation.go
  tools/arena/assertions/conversation_registry.go
  tools/arena/assertions/llm_judge_tool_calls.go
  tools/arena/assertions/llm_judge_tool_calls_conversation.go
  tools/arena/assertions/llm_judge_tool_calls_conversation_test.go
  tools/arena/assertions/llm_judge_tool_calls_test.go
  tools/arena/assertions/registry.go
  tools/arena/assertions/types.go
  tools/arena/assertions/types_test.go
  tools/arena/assertions/when.go
  tools/arena/assertions/when_test.go
  tools/arena/stages/assertions.go
Due: arena

chore: regenerate JSON schemas via schema-gen
  schemas/v1alpha1/arena.json
  schemas/v1alpha1/eval.json
  schemas/v1alpha1/scenario.json
Due: none

refactor: reduce code duplication in tool call validators
  tools/arena/assertions/llm_judge_tool_calls.go
  tools/arena/assertions/llm_judge_tool_calls_conversation.go
  tools/arena/assertions/tool_call_chain.go
  tools/arena/assertions/tool_call_chain_conversation.go
Due: arena

docs(arena): add reference docs for new assertion types
  docs/src/content/docs/arena/reference/assertions.md
Due: none

docs(arena): add reference docs for new assertion types (#451)
  docs/src/content/docs/arena/reference/assertions.md
Due: none

feat(evals): add unified eval/assertion foundation types (Phase 0)
  runtime/evals/runner.go
  runtime/evals/runner_test.go
  runtime/evals/trigger.go
  runtime/evals/types.go
  runtime/evals/types_test.go
  runtime/types/tool_call_record.go
  runtime/types/tool_call_record_test.go
  tools/arena/assertions/conversation.go
  tools/arena/assertions/types.go
  tools/arena/assertions/types_test.go
Due: runtime, arena

feat(evals): port 24 arena assertion validators to eval handlers (Phase 1)
  runtime/evals/handlers/agent_handlers_test.go
  runtime/evals/handlers/agent_invoked.go
  runtime/evals/handlers/agent_not_invoked.go
  runtime/evals/handlers/agent_response_contains.go
  runtime/evals/handlers/audio_duration.go
  runtime/evals/handlers/audio_format.go
  runtime/evals/handlers/guardrail_triggered.go
  runtime/evals/handlers/guardrail_triggered_test.go
  runtime/evals/handlers/handlers_test.go
  runtime/evals/handlers/helpers.go
  runtime/evals/handlers/helpers_test.go
  runtime/evals/handlers/image_dimensions.go
  runtime/evals/handlers/image_format.go
  runtime/evals/handlers/json_path.go
  runtime/evals/handlers/json_path_test.go
  runtime/evals/handlers/llm_judge_tool_calls.go
  runtime/evals/handlers/llm_judge_tool_calls_test.go
  runtime/evals/handlers/media_handlers_test.go
  runtime/evals/handlers/media_helpers.go
  runtime/evals/handlers/no_tool_errors.go
  runtime/evals/handlers/register.go
  runtime/evals/handlers/skill_activated.go
  runtime/evals/handlers/skill_handlers_test.go
  runtime/evals/handlers/skill_not_activated.go
  runtime/evals/handlers/tool_call_chain.go
  runtime/evals/handlers/tool_call_count.go
  runtime/evals/handlers/tool_call_handlers_test.go
  runtime/evals/handlers/tool_call_sequence.go
  runtime/evals/handlers/tool_call_views.go
  runtime/evals/handlers/tool_calls_with_args.go
  runtime/evals/handlers/tool_result_includes.go
  runtime/evals/handlers/tool_result_matches.go
  runtime/evals/handlers/video_duration.go
  runtime/evals/handlers/video_resolution.go
  runtime/evals/handlers/workflow_complete.go
  runtime/evals/handlers/workflow_handlers_test.go
  runtime/evals/handlers/workflow_state_is.go
  runtime/evals/handlers/workflow_transitioned_to.go
Due: runtime
