Repository AltairaLabs/PromptKit: changes, and which Codecov flags are due for each by the changed paths.
All: runtime, sdk, arena, packc, inspect-state

feat(governance): reject packs whose RFC 0016 references don't resolve (#2184)
  docs/src/content/docs/concepts/governance.md
  docs/src/content/docs/sdk/reference/conversation-manager.md
  runtime/prompt/export_test.go
  runtime/prompt/governance_validate.go
  runtime/prompt/governance_validate_test.go
  runtime/prompt/pack.go
  sdk/governance_rfc0016_test.go
  sdk/internal/pack/load.go
  sdk/internal/pack/validate.go
  sdk/validate_pack.go
Due: runtime, sdk

feat(governance): give hosts the pack declaration at each decision point
  docs/src/content/docs/runtime/reference/hooks.md
  docs/src/content/docs/runtime/reference/pipeline.md
  docs/src/content/docs/runtime/reference/tools.md
  docs/src/content/docs/sdk/reference/conversation-manager.md
  runtime/events/types.go
  runtime/hooks/guardrails/adapter.go
  runtime/hooks/guardrails/declaration_rfc0016_test.go
  runtime/hooks/guardrails/factory.go
  runtime/hooks/guardrails/lifecycle.go
  runtime/hooks/types.go
  runtime/packspec/helpers.go
  runtime/packspec/helpers_test.go
  runtime/pipeline/stage/composition_executor.go
  runtime/pipeline/stage/declarations_rfc0016_test.go
  runtime/pipeline/stage/stages_provider.go
  runtime/pipeline/stage/state_handoff.go
  runtime/prompt/registry.go
  runtime/tools/types.go
  sdk/agent_resolver.go
  sdk/conversation.go
  sdk/conversation_tools.go
  sdk/declarations_rfc0016_test.go
  sdk/internal/pack/load.go
  sdk/internal/pipeline/builder.go
  sdk/sdk.go
  sdk/workflow_state_resolver.go
Due: runtime, sdk

fix(governance): keep declarations off messages; review fixes
  docs/src/content/docs/runtime/reference/hooks.md
  docs/src/content/docs/runtime/reference/pipeline.md
  docs/src/content/docs/runtime/reference/tools.md
  docs/src/content/docs/sdk/reference/conversation-manager.md
  runtime/events/types.go
  runtime/hooks/types.go
  runtime/pipeline/stage/declarations_rfc0016_test.go
  runtime/pipeline/stage/stages_provider.go
  runtime/tools/types.go
  sdk/conversation.go
  sdk/conversation_tools.go
  sdk/declarations_rfc0016_test.go
Due: runtime, sdk

feat(governance): give hosts the pack declaration at each decision point (#2185)
  docs/src/content/docs/runtime/reference/hooks.md
  docs/src/content/docs/runtime/reference/pipeline.md
  docs/src/content/docs/runtime/reference/tools.md
  docs/src/content/docs/sdk/reference/conversation-manager.md
  runtime/events/types.go
  runtime/hooks/guardrails/adapter.go
  runtime/hooks/guardrails/declaration_rfc0016_test.go
  runtime/hooks/guardrails/factory.go
  runtime/hooks/guardrails/lifecycle.go
  runtime/hooks/types.go
  runtime/packspec/helpers.go
  runtime/packspec/helpers_test.go
  runtime/pipeline/stage/composition_executor.go
  runtime/pipeline/stage/declarations_rfc0016_test.go
  runtime/pipeline/stage/stages_provider.go
  runtime/pipeline/stage/state_handoff.go
  runtime/prompt/registry.go
  runtime/tools/types.go
  sdk/agent_resolver.go
  sdk/conversation.go
  sdk/conversation_tools.go
  sdk/declarations_rfc0016_test.go
  sdk/internal/pack/load.go
  sdk/internal/pipeline/builder.go
  sdk/sdk.go
  sdk/workflow_state_resolver.go
Due: runtime, sdk

feat(workflow): let the host decide workflow transitions (TransitionAuthorizer)
  docs/src/content/docs/sdk/reference/conversation-manager.md
  runtime/workflow/authorizer.go
  runtime/workflow/authorizer_test.go
  runtime/workflow/transition_executor.go
  sdk/options.go
  sdk/workflow.go
  sdk/workflow_authorizer_test.go
  sdk/workflow_transition.go
Due: runtime, sdk

docs(workflow): an authorizer must not call back into the conversation
  docs/src/content/docs/sdk/reference/conversation-manager.md
  runtime/workflow/authorizer.go
  runtime/workflow/transition_executor.go
  sdk/options.go
Due: runtime, sdk

test(sdk): pin that an idle-timed-out stream ends in an error, not ChunkDone (#2182)
  sdk/stream_idle_timeout_test.go
Due: none

test(config): cover explicitID and ProviderConfig.GetID
  pkg/config/shared_coverage_test.go
Due: none

feat(workflow): let the host decide workflow transitions (TransitionAuthorizer) (#2186)
  docs/src/content/docs/sdk/reference/conversation-manager.md
  runtime/workflow/authorizer.go
  runtime/workflow/authorizer_test.go
  runtime/workflow/transition_executor.go
  sdk/options.go
  sdk/workflow.go
  sdk/workflow_authorizer_test.go
  sdk/workflow_transition.go
Due: runtime, sdk

docs: apply governance policy in your host
  docs/src/content/docs/reference/upgrade-notes.md
  docs/src/content/docs/sdk/how-to/hooks/apply-governance-policy.md
Due: none

docs: make governance-policy snippets compile; correct upgrade notes
  docs/src/content/docs/reference/upgrade-notes.md
  docs/src/content/docs/sdk/how-to/hooks/apply-governance-policy.md
Due: none

docs: apply governance policy in your host (#2187)
  docs/src/content/docs/reference/upgrade-notes.md
  docs/src/content/docs/sdk/how-to/hooks/apply-governance-policy.md
Due: none

feat(prompt): make Prompt.extensions and Validator id/extensions authorable
  runtime/prompt/authored_extensions_test.go
  runtime/prompt/pack.go
  runtime/prompt/registry.go
Due: runtime

fix(prompt): carry authored RFC 0016 fields through every compile path
  runtime/hooks/guardrails/declaration_rfc0016_test.go
  runtime/hooks/guardrails/factory.go
  runtime/prompt/authored_extensions_test.go
  runtime/prompt/pack.go
  sdk/sdk.go
Due: runtime, sdk

feat(prompt): make Prompt.extensions and Validator id/extensions authorable (#2188)
  runtime/hooks/guardrails/declaration_rfc0016_test.go
  runtime/hooks/guardrails/factory.go
  runtime/prompt/authored_extensions_test.go
  runtime/prompt/pack.go
  runtime/prompt/registry.go
  sdk/sdk.go
Due: runtime, sdk

fix(config): keep an explicit spec.id; metadata.name is only the fallback (#2179)
  pkg/config/loader.go
  pkg/config/manifest_helpers.go
  pkg/config/shared_coverage_test.go
Due: none

fix(sdk/hooks): remove hook subscriptions when the conversation closes (#2181)
  docs/src/content/docs/sdk/how-to/observability/monitor-events.md
  docs/src/content/docs/sdk/reference/conversation-manager.md
  sdk/conversation.go
  sdk/event_bus_ref.go
  sdk/hooks/events.go
  sdk/hooks_close_test.go
Due: sdk

fix(security): refuse to fetch media and tool URLs that reach the host's network
  docs/src/content/docs/concepts/a2a.md
  docs/src/content/docs/runtime/how-to/tools/http-tool-mapping.md
  docs/src/content/docs/runtime/reference/providers.md
  docs/src/content/docs/runtime/reference/tools.md
  docs/src/content/docs/sdk/reference/conversation-manager.md
  runtime/httputil/egress.go
  runtime/httputil/egress_test.go
  runtime/providers/base_provider.go
  runtime/providers/gemini/gemini.go
  runtime/providers/media_loader.go
  runtime/providers/media_loader_egress_test.go
  runtime/providers/media_loader_test.go
  runtime/providers/ollama/ollama_multimodal.go
  runtime/providers/ollama/ollama_multimodal_test.go
  runtime/providers/registry.go
  runtime/tools/http_executor.go
  runtime/tools/http_mapping_test.go
  sdk/options.go
  sdk/private_network_media_test.go
  sdk/sdk.go
Due: runtime, sdk

fix(security): refuse to fetch media and tool URLs that reach the host's network (#2191)
  docs/src/content/docs/concepts/a2a.md
  docs/src/content/docs/runtime/how-to/tools/http-tool-mapping.md
  docs/src/content/docs/runtime/reference/providers.md
  docs/src/content/docs/runtime/reference/tools.md
  docs/src/content/docs/sdk/reference/conversation-manager.md
  runtime/httputil/egress.go
  runtime/httputil/egress_test.go
  runtime/providers/base_provider.go
  runtime/providers/gemini/gemini.go
  runtime/providers/media_loader.go
  runtime/providers/media_loader_egress_test.go
  runtime/providers/media_loader_test.go
  runtime/providers/ollama/ollama_multimodal.go
  runtime/providers/ollama/ollama_multimodal_test.go
  runtime/providers/registry.go
  runtime/tools/http_executor.go
  runtime/tools/http_mapping_test.go
  sdk/options.go
  sdk/private_network_media_test.go
  sdk/sdk.go
Due: runtime, sdk

chore(deps): bump otel to 1.47.0 and prometheus/common to 0.72.0
  pkg/go.mod
  pkg/go.sum
  runtime/go.mod
  runtime/go.sum
  sdk/go.mod
  sdk/go.sum
  server/a2a/go.mod
  server/a2a/go.sum
Due: runtime, sdk

test(mcp): read advertised capabilities from the initialize request
  runtime/mcp/client_test.go
Due: none

test(mcp): read advertised capabilities from the initialize request (#2193)
  runtime/mcp/client_test.go
Due: none

chore(deps): bump otel to 1.47.0 and prometheus/common to 0.72.0 (#2190)
  pkg/go.mod
  pkg/go.sum
  runtime/go.mod
  runtime/go.sum
  sdk/go.mod
  sdk/go.sum
  server/a2a/go.mod
  server/a2a/go.sum
Due: runtime, sdk

fix(mcp): never offer 2026-07-28 over HTTP+SSE
  docs/src/content/docs/runtime/how-to/tools/integrate-mcp.md
  runtime/mcp/client.go
  runtime/mcp/client_test.go
Due: runtime

fix(mcp): never offer 2026-07-28 over HTTP+SSE (#2194)
  docs/src/content/docs/runtime/how-to/tools/integrate-mcp.md
  runtime/mcp/client.go
  runtime/mcp/client_test.go
Due: runtime

ci: bound and retry the ALSA install so a stuck apt can't hang a job
  .github/workflows/ci.yml
  .github/workflows/release.yml
  scripts/ci-install-alsa.sh
Due: none

ci: bound and retry the ALSA install so a stuck apt can't hang a job (#2192)
  .github/workflows/ci.yml
  .github/workflows/release.yml
  scripts/ci-install-alsa.sh
Due: none

fix(config): validate against embedded schemas by default, not the hosted copy
  .github/workflows/promptarena-schema-sync.yml
  CLAUDE.md
  Makefile
  pkg/config/schema_fs_test.go
  pkg/config/schema_validator.go
  pkg/config/schema_validator_test.go
  pkg/config/schemas/arena.json
  pkg/config/schemas/common/assertions.json
  pkg/config/schemas/common/media.json
  pkg/config/schemas/common/metadata.json
  pkg/config/schemas/eval.json
  pkg/config/schemas/logging.json
  pkg/config/schemas/persona.json
  pkg/config/schemas/promptconfig.json
  pkg/config/schemas/provider.json
  pkg/config/schemas/runtime-config.json
  pkg/config/schemas/scenario.json
  pkg/config/schemas/tool.json
Due: none

chore(sonar): exclude the embedded schema mirror from duplication
  sonar-project.properties
Due: none

fix(config): validate against embedded schemas by default, not the hosted copy (#2195)
  .github/workflows/promptarena-schema-sync.yml
  CLAUDE.md
  Makefile
  pkg/config/schema_fs_test.go
  pkg/config/schema_validator.go
  pkg/config/schema_validator_test.go
  pkg/config/schemas/arena.json
  pkg/config/schemas/common/assertions.json
  pkg/config/schemas/common/media.json
  pkg/config/schemas/common/metadata.json
  pkg/config/schemas/eval.json
  pkg/config/schemas/logging.json
  pkg/config/schemas/persona.json
  pkg/config/schemas/promptconfig.json
  pkg/config/schemas/provider.json
  pkg/config/schemas/runtime-config.json
  pkg/config/schemas/scenario.json
  pkg/config/schemas/tool.json
  sonar-project.properties
Due: none

feat(providers): pass additional_config.extra_body through to chat requests
  docs/src/content/docs/runtime/how-to/providers/setup-providers.md
  docs/src/content/docs/runtime/reference/providers.md
  docs/src/content/docs/sdk/reference/runtime-config.md
  runtime/providers/conformance/extra_body_matrix_test.go
  runtime/providers/extra_body.go
  runtime/providers/extra_body_test.go
  runtime/providers/ollama/ollama.go
  runtime/providers/ollama/ollama_tools.go
  runtime/providers/openai/openai.go
  runtime/providers/openai/openai_responses_integration.go
  runtime/providers/openai/openai_tools.go
  runtime/providers/vllm/vllm.go
  runtime/providers/vllm/vllm_tools.go
Due: runtime

feat(providers): pass additional_config.extra_body through to chat requests (#2197)
  docs/src/content/docs/runtime/how-to/providers/setup-providers.md
  docs/src/content/docs/runtime/reference/providers.md
  docs/src/content/docs/sdk/reference/runtime-config.md
  runtime/providers/conformance/extra_body_matrix_test.go
  runtime/providers/extra_body.go
  runtime/providers/extra_body_test.go
  runtime/providers/ollama/ollama.go
  runtime/providers/ollama/ollama_tools.go
  runtime/providers/openai/openai.go
  runtime/providers/openai/openai_responses_integration.go
  runtime/providers/openai/openai_tools.go
  runtime/providers/vllm/vllm.go
  runtime/providers/vllm/vllm_tools.go
Due: runtime

fix(a2a): align ListTasks with the A2A 1.0 proto
  docs/src/content/docs/reference/upgrade-notes.md
  docs/src/content/docs/runtime/reference/a2a.md
  docs/src/content/docs/sdk/reference/a2a-server.md
  runtime/a2a/client.go
  runtime/a2a/client_test.go
  server/a2a/conformance_test.go
  server/a2a/server.go
  server/a2a/task_store.go
  server/a2a/task_store_test.go
Due: runtime

fix(a2a): keep the legacy 0.3 tasks/list behavior
  docs/src/content/docs/reference/upgrade-notes.md
  docs/src/content/docs/runtime/reference/a2a.md
  docs/src/content/docs/sdk/reference/a2a-server.md
  runtime/a2a/client.go
  server/a2a/conformance_test.go
  server/a2a/server.go
Due: runtime

fix(a2a): align ListTasks with the A2A 1.0 proto (#2198)
  docs/src/content/docs/reference/upgrade-notes.md
  docs/src/content/docs/runtime/reference/a2a.md
  docs/src/content/docs/sdk/reference/a2a-server.md
  runtime/a2a/client.go
  runtime/a2a/client_test.go
  server/a2a/conformance_test.go
  server/a2a/server.go
  server/a2a/task_store.go
  server/a2a/task_store_test.go
Due: runtime

ci(schema-sync): run the spec guards instead of a filter that matches nothing
  .github/workflows/promptpack-schema-sync.yml
  runtime/prompt/registry.go
Due: runtime

ci(schema-sync): run the spec guards instead of a filter that matches nothing (#2199)
  .github/workflows/promptpack-schema-sync.yml
  runtime/prompt/registry.go
Due: runtime

chore(schema): sync embedded PromptPack schema to v1.9.0 (#2196)
  README.md
  docs/src/content/docs/sdk/reference/conversation-manager.md
  runtime/packspec/types.go
  runtime/prompt/schema/promptpack.schema.json
  sdk/README.md
  sdk/doc.go
Due: runtime, sdk

feat(sdk): run each call on the provider its RFC 0017 key is bound to
  docs/src/content/docs/reference/upgrade-notes.md
  docs/src/content/docs/runtime/reference/pipeline.md
  docs/src/content/docs/sdk/reference/conversation-manager.md
  runtime/pipeline/stage/composition_executor.go
  runtime/pipeline/stage/composition_executor_test.go
  sdk/conversation.go
  sdk/internal/pipeline/builder.go
  sdk/options.go
  sdk/provider_refs.go
  sdk/provider_refs_test.go
  sdk/sdk.go
  sdk/template.go
Due: runtime, sdk

fix(sdk): keep the RFC 0017 provider on forks, and check tools and role at Open
  docs/src/content/docs/reference/upgrade-notes.md
  docs/src/content/docs/sdk/reference/conversation-manager.md
  sdk/conversation.go
  sdk/provider_refs.go
  sdk/provider_refs_test.go
Due: sdk

Path conditions:
  runtime: any of: runtime/, but not: **/*_test.go, **/*_interactive.go, **/*_integration.go, examples/, docs/, scripts/, .github/, *.md
  sdk: any of: sdk/, but not: **/*_test.go, **/*_interactive.go, **/*_integration.go, examples/, docs/, scripts/, .github/, *.md
  arena: any of: tools/arena/, but not: **/*_test.go, **/*_interactive.go, **/*_integration.go, examples/, docs/, scripts/, .github/, *.md
  packc: any of: tools/packc/, but not: **/*_test.go, **/*_interactive.go, **/*_integration.go, examples/, docs/, scripts/, .github/, *.md
  inspect-state: any of: tools/inspect-state/, but not: **/*_test.go, **/*_interactive.go, **/*_integration.go, examples/, docs/, scripts/, .github/, *.md
