Repository AltairaLabs/PromptKit: changes, and which Codecov flags are due for each by the changed paths.
All: runtime, sdk, arena, packc, inspect-state

feat: wire up WithBedrock, WithVertex, WithAzure SDK platform options
  sdk/options.go
  sdk/options_test.go
  sdk/sdk.go
  sdk/sdk_test.go
Due: sdk

feat: wire up WithBedrock, WithVertex, WithAzure SDK platform options (#387)
  sdk/options.go
  sdk/options_test.go
  sdk/sdk.go
  sdk/sdk_test.go
Due: sdk

feat: implement long conversation RAG context system
  runtime/pipeline/stage/stages_context.go
  runtime/pipeline/stage/stages_context_test.go
  runtime/pipeline/stage/stages_save.go
  runtime/pipeline/stage/stages_save_test.go
  runtime/pipeline/stage/stages_utilities.go
  runtime/pipeline/stage/stages_utilities_test.go
  runtime/statestore/index.go
  runtime/statestore/index_memory.go
  runtime/statestore/index_memory_test.go
  runtime/statestore/interface.go
  runtime/statestore/memory.go
  runtime/statestore/memory_test.go
  runtime/statestore/redis.go
  runtime/statestore/redis_test.go
  runtime/statestore/summarizer.go
  runtime/statestore/summarizer_llm.go
  runtime/statestore/summarizer_llm_test.go
  sdk/conversation.go
  sdk/internal/pipeline/builder.go
  sdk/options.go
  sdk/options_test.go
Due: runtime, sdk

docs: add long conversation RAG context docs, example, and bug fixes
  docs/src/content/docs/arena/examples/context-management.md
  docs/src/content/docs/runtime/reference/statestore.md
  docs/src/content/docs/sdk/how-to/manage-context.md
  runtime/pipeline/stage/stages_context.go
  runtime/pipeline/stage/stages_save.go
  runtime/pipeline/stage/stages_save_test.go
  sdk/conversation.go
  sdk/conversation_test.go
  sdk/examples/long-conversation/README.md
  sdk/examples/long-conversation/assistant.pack.json
  sdk/examples/long-conversation/main_interactive.go
  sdk/options.go
  sdk/sdk.go
  sdk/sdk_test.go
Due: runtime, sdk

feat: implement long conversation RAG context system (#388)
  docs/src/content/docs/arena/examples/context-management.md
  docs/src/content/docs/runtime/reference/statestore.md
  docs/src/content/docs/sdk/how-to/manage-context.md
  runtime/pipeline/stage/stages_context.go
  runtime/pipeline/stage/stages_context_test.go
  runtime/pipeline/stage/stages_save.go
  runtime/pipeline/stage/stages_save_test.go
  runtime/pipeline/stage/stages_utilities.go
  runtime/pipeline/stage/stages_utilities_test.go
  runtime/statestore/index.go
  runtime/statestore/index_memory.go
  runtime/statestore/index_memory_test.go
  runtime/statestore/interface.go
  runtime/statestore/memory.go
  runtime/statestore/memory_test.go
  runtime/statestore/redis.go
  runtime/statestore/redis_test.go
  runtime/statestore/summarizer.go
  runtime/statestore/summarizer_llm.go
  runtime/statestore/summarizer_llm_test.go
  sdk/conversation.go
  sdk/conversation_test.go
  sdk/examples/long-conversation/README.md
  sdk/examples/long-conversation/assistant.pack.json
  sdk/examples/long-conversation/main_interactive.go
  sdk/internal/pipeline/builder.go
  sdk/options.go
  sdk/options_test.go
  sdk/sdk.go
  sdk/sdk_test.go
Due: runtime, sdk

feat: add deploy plan serialization and state locking (#393)
  runtime/deploy/lock.go
  runtime/deploy/lock_test.go
  runtime/deploy/state.go
  runtime/deploy/state_test.go
  tools/arena/cmd/promptarena/deploy_interactive.go
Due: runtime

feat: add deploy plan serialization and state locking (#393) (#395)
  runtime/deploy/lock.go
  runtime/deploy/lock_test.go
  runtime/deploy/state.go
  runtime/deploy/state_test.go
  tools/arena/cmd/promptarena/deploy_interactive.go
Due: runtime

fix: make deploy lock cross-platform for Windows support
  runtime/deploy/lock.go
  runtime/deploy/lock_unix.go
  runtime/deploy/lock_windows.go
Due: runtime

chore: exclude platform-specific files from SonarCloud coverage
  sonar-project.properties
Due: none

fix: make deploy lock cross-platform for Windows (#396)
  runtime/deploy/lock.go
  runtime/deploy/lock_unix.go
  runtime/deploy/lock_windows.go
  sonar-project.properties
Due: runtime

feat: add deploy refresh, drift detection, and resource import (#394)
  runtime/deploy/adaptersdk/serve.go
  runtime/deploy/adaptersdk/serve_test.go
  runtime/deploy/client.go
  runtime/deploy/client_test.go
  runtime/deploy/provider.go
  runtime/deploy/provider_test.go
  runtime/deploy/state.go
  runtime/deploy/state_test.go
  tools/arena/cmd/promptarena/deploy_interactive.go
Due: runtime

feat: add deploy refresh, drift detection, and resource import (#394) (#397)
  runtime/deploy/adaptersdk/serve.go
  runtime/deploy/adaptersdk/serve_test.go
  runtime/deploy/client.go
  runtime/deploy/client_test.go
  runtime/deploy/provider.go
  runtime/deploy/provider_test.go
  runtime/deploy/state.go
  runtime/deploy/state_test.go
  tools/arena/cmd/promptarena/deploy_interactive.go
Due: runtime

docs: merge deploy docs into arena with adapter subdirectories
  docs/.gitignore
  docs/astro.config.mjs
  docs/public/d2/docs/deploy/explanation/adapter-architecture-0.svg
  docs/public/d2/docs/deploy/index-0.svg
  docs/scripts/fetch-adapter-docs.mjs
  docs/src/content/docs/arena/explanation/deploy/adapter-architecture.md
  docs/src/content/docs/arena/explanation/deploy/overview.md
  docs/src/content/docs/arena/explanation/deploy/state-management.md
  docs/src/content/docs/arena/how-to/deploy/ci-cd.md
  docs/src/content/docs/arena/how-to/deploy/configure.md
  docs/src/content/docs/arena/how-to/deploy/install-adapters.md
  docs/src/content/docs/arena/how-to/deploy/plan-and-apply.md
  docs/src/content/docs/arena/index.md
  docs/src/content/docs/arena/reference/cli-commands.md
  docs/src/content/docs/arena/reference/deploy/adapter-sdk.md
  docs/src/content/docs/arena/reference/deploy/cli-commands.md
  docs/src/content/docs/arena/reference/deploy/protocol.md
  docs/src/content/docs/arena/tutorials/deploy/first-deployment.md
  docs/src/content/docs/arena/tutorials/deploy/multi-environment.md
  docs/src/content/docs/deploy/explanation/index.md
  docs/src/content/docs/deploy/how-to/index.md
  docs/src/content/docs/deploy/reference/index.md
  docs/src/content/docs/deploy/tutorials/index.md
Due: none

docs: remove sidebar.order for alphabetical sorting
  docs/src/content/docs/arena/explanation/duplex-architecture.md
  docs/src/content/docs/arena/explanation/eval-framework.md
  docs/src/content/docs/arena/explanation/programmatic-vs-cli.md
  docs/src/content/docs/arena/explanation/provider-comparison.md
  docs/src/content/docs/arena/explanation/scenario-design.md
  docs/src/content/docs/arena/explanation/session-recording.md
  docs/src/content/docs/arena/explanation/testing-philosophy.md
  docs/src/content/docs/arena/explanation/validation-strategies.md
  docs/src/content/docs/arena/how-to/configure-providers.md
  docs/src/content/docs/arena/how-to/installation.md
  docs/src/content/docs/arena/how-to/integrate-ci-cd.md
  docs/src/content/docs/arena/how-to/manage-context.md
  docs/src/content/docs/arena/how-to/session-recording.md
  docs/src/content/docs/arena/how-to/setup-voice-testing.md
  docs/src/content/docs/arena/how-to/shell-completions.md
  docs/src/content/docs/arena/how-to/test-a2a-agents.md
  docs/src/content/docs/arena/how-to/use-as-go-library.md
  docs/src/content/docs/arena/how-to/use-mock-providers.md
  docs/src/content/docs/arena/how-to/use-project-templates.md
  docs/src/content/docs/arena/how-to/validate-outputs.md
  docs/src/content/docs/arena/how-to/write-scenarios.md
  docs/src/content/docs/arena/reference/api-reference.md
  docs/src/content/docs/arena/reference/assertions.md
  docs/src/content/docs/arena/reference/config-schema.md
  docs/src/content/docs/arena/reference/duplex-config.md
  docs/src/content/docs/arena/reference/output-formats.md
  docs/src/content/docs/arena/reference/scenario-format.md
  docs/src/content/docs/arena/reference/validators.md
  docs/src/content/docs/arena/tutorials/01-first-test.md
  docs/src/content/docs/arena/tutorials/02-multi-provider.md
  docs/src/content/docs/arena/tutorials/03-multi-turn.md
  docs/src/content/docs/arena/tutorials/04-mcp-tools.md
  docs/src/content/docs/arena/tutorials/05-ci-integration.md
  docs/src/content/docs/arena/tutorials/06-duplex-testing.md
  docs/src/content/docs/arena/tutorials/07-programmatic-usage.md
Due: none

ci: pass GH_TOKEN to docs build for adapter doc fetching
  .github/workflows/docs.yml
Due: none

docs: add prebuild script to fetch adapter documentation
  docs/package.json
Due: none

feat: add JSON serialization to arena Config for deploy adapters
  pkg/config/types.go
  pkg/config/types_json_test.go
  runtime/deploy/provider.go
  tools/arena/cmd/promptarena/deploy_interactive.go
Due: runtime

feat: add JSON serialization to arena Config for deploy adapters (#400)
  pkg/config/types.go
  pkg/config/types_json_test.go
  runtime/deploy/provider.go
  tools/arena/cmd/promptarena/deploy_interactive.go
Due: runtime

feat: add inline resource specs to arena config
  pkg/config/inline_specs_test.go
  pkg/config/loader.go
  pkg/config/persona.go
  pkg/config/schema_validator_test.go
  pkg/config/types.go
  pkg/config/types_json_test.go
  schemas/v1alpha1/arena.json
  schemas/v1alpha1/eval.json
  schemas/v1alpha1/persona.json
  schemas/v1alpha1/provider.json
  schemas/v1alpha1/scenario.json
  schemas/v1alpha1/tool.json
Due: none

feat: add inline resource specs to arena config (#401)
  pkg/config/inline_specs_test.go
  pkg/config/loader.go
  pkg/config/persona.go
  pkg/config/schema_validator_test.go
  pkg/config/types.go
  pkg/config/types_json_test.go
  schemas/v1alpha1/arena.json
  schemas/v1alpha1/eval.json
  schemas/v1alpha1/persona.json
  schemas/v1alpha1/provider.json
  schemas/v1alpha1/scenario.json
  schemas/v1alpha1/tool.json
Due: none

feat: add deploy tool targets and gateway resource planning
  runtime/deploy/adaptersdk/arena.go
  runtime/deploy/adaptersdk/arena_test.go
  runtime/deploy/adaptersdk/tools.go
  runtime/deploy/adaptersdk/tools_test.go
Due: runtime

feat: add deploy tool targets and gateway resource planning (#402)
  runtime/deploy/adaptersdk/arena.go
  runtime/deploy/adaptersdk/arena_test.go
  runtime/deploy/adaptersdk/tools.go
  runtime/deploy/adaptersdk/tools_test.go
Due: runtime

feat: add combined resource plan orchestration and adapter helpers
  runtime/deploy/adaptersdk/plan.go
  runtime/deploy/adaptersdk/plan_test.go
Due: runtime

docs: add planning helpers and tool types to adapter SDK reference
  docs/src/content/docs/arena/reference/deploy/adapter-sdk.md
Due: none

feat: add combined resource plan orchestration and adapter helpers (#403)
  docs/src/content/docs/arena/reference/deploy/adapter-sdk.md
  runtime/deploy/adaptersdk/plan.go
  runtime/deploy/adaptersdk/plan_test.go
Due: runtime

feat: add native AgentSkills.io SKILL.md support (Phase A)
  runtime/prompt/pack.go
  runtime/skills/executor.go
  runtime/skills/executor_test.go
  runtime/skills/parser.go
  runtime/skills/parser_test.go
  runtime/skills/registry.go
  runtime/skills/registry_test.go
  runtime/skills/selector.go
  runtime/skills/selector_test.go
  runtime/skills/types.go
  runtime/tools/types.go
  sdk/capability.go
  sdk/capability_skills.go
  sdk/capability_skills_test.go
  sdk/internal/pack/load.go
  sdk/options.go
  sdk/sdk.go
Due: runtime, sdk

docs: update README features and add skills concept page
  README.md
  docs/src/content/docs/concepts/index.md
  docs/src/content/docs/concepts/skills.md
  docs/src/content/docs/sdk/index.md
Due: none

feat: add native AgentSkills.io SKILL.md support (Phase A) (#416)
  README.md
  docs/src/content/docs/concepts/index.md
  docs/src/content/docs/concepts/skills.md
  docs/src/content/docs/sdk/index.md
  runtime/prompt/pack.go
  runtime/skills/executor.go
  runtime/skills/executor_test.go
  runtime/skills/parser.go
  runtime/skills/parser_test.go
  runtime/skills/registry.go
  runtime/skills/registry_test.go
  runtime/skills/selector.go
  runtime/skills/selector_test.go
  runtime/skills/types.go
  runtime/tools/types.go
  sdk/capability.go
  sdk/capability_skills.go
  sdk/capability_skills_test.go
  sdk/internal/pack/load.go
  sdk/options.go
  sdk/sdk.go
Due: runtime, sdk

feat: add skill_activated and skill_not_activated arena assertions (#411)
  tools/arena/assertions/conversation_registry.go
  tools/arena/assertions/skill_activated_conversation.go
  tools/arena/assertions/skill_activated_conversation_test.go
  tools/arena/assertions/skill_not_activated_conversation.go
Due: arena

feat: add skill_activated and skill_not_activated arena assertions (#411) (#417)
  tools/arena/assertions/conversation_registry.go
  tools/arena/assertions/skill_activated_conversation.go
  tools/arena/assertions/skill_activated_conversation_test.go
  tools/arena/assertions/skill_not_activated_conversation.go
Due: arena

feat: add EmbeddingSelector for RAG-based skill selection (#413)
  runtime/skills/selector_embedding.go
  runtime/skills/selector_embedding_test.go
  runtime/skills/selector_test.go
Due: runtime

feat: add EmbeddingSelector for RAG-based skill selection (#413) (#418)
  runtime/skills/selector_embedding.go
  runtime/skills/selector_embedding_test.go
  runtime/skills/selector_test.go
Due: runtime

feat: update to PromptPack schema 1.3.1 with skills support (#410, #412)
  runtime/prompt/pack.go
  runtime/prompt/schema/promptpack.schema.json
  runtime/skills/registry.go
  runtime/skills/types.go
  runtime/workflow/types.go
  runtime/workflow/types_test.go
  sdk/capability.go
  sdk/internal/pack/load.go
  sdk/internal/pack/validate_test.go
  sdk/internal/pack/workflow.go
  tools/packc/skills_validator.go
  tools/packc/skills_validator_test.go
Due: runtime, sdk, packc

feat: update to PromptPack schema 1.3.1 with skills support (#410, #412) (#419)
  runtime/prompt/pack.go
  runtime/prompt/schema/promptpack.schema.json
  runtime/skills/registry.go
  runtime/skills/types.go
  runtime/workflow/types.go
  runtime/workflow/types_test.go
  sdk/capability.go
  sdk/internal/pack/load.go
  sdk/internal/pack/validate_test.go
  sdk/internal/pack/workflow.go
  tools/packc/skills_validator.go
  tools/packc/skills_validator_test.go
Due: runtime, sdk, packc

feat: add workflow-skills example and skills reference docs (#415)
  docs/src/content/docs/concepts/skills.md
  docs/src/content/docs/reference/skills.md
  examples/workflow-skills/README.md
  examples/workflow-skills/config.arena.yaml
  examples/workflow-skills/mock-responses.yaml
  examples/workflow-skills/providers/mock-provider.yaml
  examples/workflow-skills/scenarios/billing-flow.scenario.yaml
  examples/workflow-skills/scenarios/orders-flow.scenario.yaml
  examples/workflow-skills/skills/billing/pci-compliance/SKILL.md
  examples/workflow-skills/skills/billing/refund-processing/SKILL.md
  examples/workflow-skills/skills/brand-voice/SKILL.md
  examples/workflow-skills/skills/escalation/escalation-policy/SKILL.md
  examples/workflow-skills/skills/orders/order-troubleshooting/SKILL.md
  examples/workflow-skills/workflow-skills.pack.json
Due: none

feat: add workflow-skills example and skills reference docs (#415) (#420)
  docs/src/content/docs/concepts/skills.md
  docs/src/content/docs/reference/skills.md
  examples/workflow-skills/README.md
  examples/workflow-skills/config.arena.yaml
  examples/workflow-skills/mock-responses.yaml
  examples/workflow-skills/providers/mock-provider.yaml
  examples/workflow-skills/scenarios/billing-flow.scenario.yaml
  examples/workflow-skills/scenarios/orders-flow.scenario.yaml
  examples/workflow-skills/skills/billing/pci-compliance/SKILL.md
  examples/workflow-skills/skills/billing/refund-processing/SKILL.md
  examples/workflow-skills/skills/brand-voice/SKILL.md
  examples/workflow-skills/skills/escalation/escalation-policy/SKILL.md
  examples/workflow-skills/skills/orders/order-troubleshooting/SKILL.md
  examples/workflow-skills/workflow-skills.pack.json
Due: none

feat: add skill install CLI and shared skill resolution (#414)
  runtime/skills/installer.go
  runtime/skills/installer_integration.go
  runtime/skills/installer_test.go
  runtime/skills/registry.go
  runtime/skills/registry_test.go
  runtime/skills/types.go
  tools/arena/cmd/promptarena/skill.go
  tools/arena/cmd/promptarena/skill_interactive.go
  tools/arena/cmd/promptarena/skill_test.go
Due: runtime, arena

Path conditions:
  runtime: any of: runtime/, but not: **/*_test.go, **/*_interactive.go, **/*_integration.go, examples/, docs/, scripts/, .github/, *.md
  sdk: any of: sdk/, but not: **/*_test.go, **/*_interactive.go, **/*_integration.go, examples/, docs/, scripts/, .github/, *.md
  arena: any of: tools/arena/, but not: **/*_test.go, **/*_interactive.go, **/*_integration.go, examples/, docs/, scripts/, .github/, *.md
  packc: any of: tools/packc/, but not: **/*_test.go, **/*_interactive.go, **/*_integration.go, examples/, docs/, scripts/, .github/, *.md
  inspect-state: any of: tools/inspect-state/, but not: **/*_test.go, **/*_interactive.go, **/*_integration.go, examples/, docs/, scripts/, .github/, *.md
