Repository AltairaLabs/PromptKit: changes, and which Codecov flags are due for each by the changed paths.
All: runtime, sdk, arena, packc, inspect-state

refactor(events): move redaction to a subscriber wrapper, not a telemetry hook (#1867)
  docs/src/content/docs/runtime/reference/telemetry.md
  docs/src/content/docs/sdk/reference/conversation-manager.md
  go.work
  runtime/events/redact.go
  runtime/events/redact_test.go
  runtime/telemetry/content_capture.go
  runtime/telemetry/content_capture_test.go
  sdk/examples/telemetry-redaction/README.md
  sdk/examples/telemetry-redaction/go.mod
  sdk/examples/telemetry-redaction/go.sum
  sdk/examples/telemetry-redaction/main.go
  sdk/examples/telemetry-redaction/smoke_test.go
  sdk/examples/telemetry-redaction/telemetry.pack.json
  sdk/integration/telemetry_content_test.go
  sdk/options.go
  sdk/sdk.go
Due: runtime, sdk

docs: correct the trace-attribute table and the RecordingStage routing claim
  docs/src/content/docs/runtime/explanation/stage-design.md
  docs/src/content/docs/runtime/how-to/observability/export-traces-otlp.md
  docs/src/content/docs/sdk/explanation/observability.md
Due: none

docs: correct the trace-attribute table and the RecordingStage routing claim (#1868)
  docs/src/content/docs/runtime/explanation/stage-design.md
  docs/src/content/docs/runtime/how-to/observability/export-traces-otlp.md
  docs/src/content/docs/sdk/explanation/observability.md
Due: none

chore(schemas): resync committed copy to add spoke_in_state
  schemas/v1alpha1/arena.json
  schemas/v1alpha1/common/assertions.json
  schemas/v1alpha1/eval.json
  schemas/v1alpha1/scenario.json
Due: none

chore(schemas): resync committed copy to add spoke_in_state (#1869)
  schemas/v1alpha1/arena.json
  schemas/v1alpha1/common/assertions.json
  schemas/v1alpha1/eval.json
  schemas/v1alpha1/scenario.json
Due: none

fix(pipeline): keep Meta.FromHistory per-message across rebuilding stages
  runtime/pipeline/stage/from_history_propagation_test.go
  runtime/pipeline/stage/stages_token_budget.go
  runtime/pipeline/stage/stages_utilities.go
Due: runtime

refactor(events): one builder for message.created, and an index on both routes
  runtime/events/message_created_data.go
  runtime/events/message_created_data_test.go
  runtime/pipeline/stage/recording_index_test.go
  runtime/pipeline/stage/stages_recording.go
Due: runtime

fix(events): restore message.created as a supported bus route
  docs/src/content/docs/runtime/reference/pipeline.md
  runtime/events/emitter.go
  runtime/events/message_created_bus_route_test.go
  runtime/events/types.go
  runtime/pipeline/stage/stages_recording.go
Due: runtime

feat(pipeline): publish message.created on the bus as messages arrive
  docs/src/content/docs/runtime/reference/pipeline.md
  runtime/pipeline/stage/stages_message_broadcast.go
  runtime/pipeline/stage/stages_message_broadcast_test.go
  sdk/internal/pipeline/builder.go
  sdk/internal/pipeline/message_broadcast_wiring_test.go
Due: runtime, sdk

test(events): message.created is bus-delivered, and the fixture proves it
  runtime/pipeline/stage/event_route_boundary_test.go
Due: none

docs: correct the message.created routing claims and document the live route
  docs/src/content/docs/architecture/runtime-events.md
  docs/src/content/docs/runtime/explanation/pipeline-architecture.md
  docs/src/content/docs/runtime/explanation/stage-design.md
  docs/src/content/docs/sdk/explanation/observability.md
  docs/src/content/docs/sdk/how-to/observability/monitor-events.md
Due: none

fix(pipeline): make the live message route correct in the real pipeline
  docs/src/content/docs/runtime/reference/pipeline.md
  runtime/events/message_created_data.go
  runtime/events/message_created_data_test.go
  runtime/pipeline/stage/message_broadcast_pipeline_test.go
  runtime/pipeline/stage/recording_index_test.go
  runtime/pipeline/stage/stages_message_broadcast.go
  runtime/pipeline/stage/stages_recording.go
  sdk/event_store_no_duplicate_test.go
  sdk/sdk.go
Due: runtime, sdk

docs(pipeline): state where MessageBroadcastStage may be placed, and why
  docs/src/content/docs/runtime/reference/pipeline.md
  runtime/pipeline/stage/stages_message_broadcast.go
  runtime/pipeline/stage/stages_message_broadcast_test.go
Due: runtime

fix(gemini): keep the API key out of request URLs, and out of error strings
  docs/src/content/docs/runtime/reference/providers.md
  runtime/providers/base_embedding.go
  runtime/providers/errors.go
  runtime/providers/gemini/apikey_not_in_url_test.go
  runtime/providers/gemini/embedding.go
  runtime/providers/gemini/gemini.go
  runtime/providers/gemini/gemini_cache.go
  runtime/providers/gemini/interactions_mode_test.go
  runtime/providers/gemini/interactions_request.go
  runtime/providers/gemini/vertex_unit_test.go
  runtime/providers/gemini/websocket_manager.go
  runtime/providers/redact_url.go
  runtime/providers/redact_url_test.go
Due: runtime

fix(openai): stop sending 'seed' on the Responses API
  runtime/providers/openai/openai_request_field_coverage_test.go
  runtime/providers/openai/openai_responses_integration.go
  runtime/providers/openai/responses_seed_test.go
Due: none

fix(sdk): say so when WithConversationID cannot do what it looks like it does
  docs/src/content/docs/sdk/reference/conversation-manager.md
  sdk/conversation_id_inert_test.go
  sdk/options.go
  sdk/sdk.go
Due: sdk

fix(openai): say when a seed is dropped, and pin the drop unconditionally
  docs/src/content/docs/runtime/explanation/provider-system.md
  runtime/providers/openai/openai_responses_integration.go
  runtime/providers/openai/responses_seed_test.go
Due: none

fix(sdk): correct the inert-conversation-id warning after review
  docs/src/content/docs/sdk/reference/conversation-manager.md
  sdk/conversation_id_inert_test.go
  sdk/options.go
  sdk/sdk.go
Due: sdk

fix(providers): correct the URL redaction after review
  runtime/providers/base_embedding.go
  runtime/providers/gemini/apikey_not_in_url_test.go
  runtime/providers/gemini/embedding.go
  runtime/providers/gemini/gemini_cache.go
  runtime/providers/redact_url.go
  runtime/providers/redact_url_test.go
Due: runtime

test(openai): live guard that a Seed on the Responses path completes
  runtime/providers/openai/responses_seed_live_integration_test.go
Due: none

test(gemini): live guard that the embedding path authenticates by header
  runtime/providers/gemini/embedding_live_integration_test.go
Due: none

fix(events): make message.created readable, and prove the route with a real turn
  docs/src/content/docs/sdk/how-to/observability/monitor-events.md
  runtime/events/message_created_data.go
  runtime/events/message_created_data_test.go
  sdk/message_created_live_integration_test.go
Due: runtime

test(events): build message fixtures from observed shapes, not invented ones
  runtime/pipeline/stage/message_broadcast_pipeline_test.go
  runtime/pipeline/stage/recording_index_test.go
  runtime/pipeline/stage/stages_message_broadcast_test.go
  sdk/message_created_live_integration_test.go
Due: none

test(events): make the nil-message test falsifiable
  runtime/events/message_created_data_test.go
Due: none

fix(gemini): keep the API key out of request URLs, and out of error strings (#1873)
  docs/src/content/docs/runtime/reference/providers.md
  runtime/providers/base_embedding.go
  runtime/providers/errors.go
  runtime/providers/gemini/apikey_not_in_url_test.go
  runtime/providers/gemini/embedding.go
  runtime/providers/gemini/embedding_live_integration_test.go
  runtime/providers/gemini/gemini.go
  runtime/providers/gemini/gemini_cache.go
  runtime/providers/gemini/interactions_mode_test.go
  runtime/providers/gemini/interactions_request.go
  runtime/providers/gemini/vertex_unit_test.go
  runtime/providers/gemini/websocket_manager.go
  runtime/providers/redact_url.go
  runtime/providers/redact_url_test.go
Due: runtime

fix(openai): stop sending 'seed' on the Responses API (#1876)
  docs/src/content/docs/runtime/explanation/provider-system.md
  runtime/providers/openai/openai_request_field_coverage_test.go
  runtime/providers/openai/openai_responses_integration.go
  runtime/providers/openai/responses_seed_live_integration_test.go
  runtime/providers/openai/responses_seed_test.go
Due: none

fix(sdk): say so when WithConversationID cannot do what it looks like it does (#1877)
  docs/src/content/docs/sdk/reference/conversation-manager.md
  sdk/conversation_id_inert_test.go
  sdk/options.go
  sdk/sdk.go
Due: sdk

feat(events): make message.created a first-class live bus route (#1872)
  docs/src/content/docs/architecture/runtime-events.md
  docs/src/content/docs/runtime/explanation/pipeline-architecture.md
  docs/src/content/docs/runtime/explanation/stage-design.md
  docs/src/content/docs/runtime/reference/pipeline.md
  docs/src/content/docs/sdk/explanation/observability.md
  docs/src/content/docs/sdk/how-to/observability/monitor-events.md
  runtime/events/emitter.go
  runtime/events/message_created_bus_route_test.go
  runtime/events/message_created_data.go
  runtime/events/message_created_data_test.go
  runtime/events/types.go
  runtime/pipeline/stage/event_route_boundary_test.go
  runtime/pipeline/stage/from_history_propagation_test.go
  runtime/pipeline/stage/message_broadcast_pipeline_test.go
  runtime/pipeline/stage/recording_index_test.go
  runtime/pipeline/stage/stages_message_broadcast.go
  runtime/pipeline/stage/stages_message_broadcast_test.go
  runtime/pipeline/stage/stages_recording.go
  runtime/pipeline/stage/stages_token_budget.go
  runtime/pipeline/stage/stages_utilities.go
  sdk/event_store_no_duplicate_test.go
  sdk/internal/pipeline/builder.go
  sdk/internal/pipeline/message_broadcast_wiring_test.go
  sdk/message_created_live_integration_test.go
  sdk/sdk.go
Due: runtime, sdk

fix(tts): move the Cartesia key out of the WebSocket URL, and close the audit
  runtime/tts/cartesia.go
  runtime/tts/cartesia_apikey_header_test.go
  runtime/tts/cartesia_interactive.go
  runtime/tts/cartesia_live_integration_test.go
Due: runtime

fix(gemini): default to an embedding model the API still serves
  runtime/providers/gemini/embedding.go
  runtime/providers/gemini/embedding_live_integration_test.go
  runtime/providers/gemini/embedding_test.go
Due: runtime

fix(recording): stop re-recording replayed history every turn
  docs/src/content/docs/runtime/reference/pipeline.md
  runtime/pipeline/stage/recording_index_test.go
  runtime/pipeline/stage/stages_recording.go
Due: runtime

fix(recording): give the non-message shapes their own event types
  docs/src/content/docs/architecture/runtime-events.md
  runtime/events/store.go
  runtime/events/types.go
  runtime/pipeline/stage/stages_recording.go
  runtime/pipeline/stage/stages_recording_test.go
Due: runtime

test(events): assert no payload bytes ever reach the bus
  docs/src/content/docs/runtime/reference/pipeline.md
  runtime/pipeline/stage/stages_message_broadcast.go
  runtime/pipeline/stage/stages_message_broadcast_test.go
Due: runtime

docs(events): write down the rules, not just this week's answers
  docs/src/content/docs/architecture/runtime-events.md
  docs/src/content/docs/sdk/explanation/observability.md
Due: none

fix(evals): stop inventing a score for a judge that could not be read
  runtime/evals/handlers/judge_provider.go
  runtime/evals/handlers/judge_provider_test.go
  runtime/evals/handlers/judge_unparseable_test.go
  runtime/evals/handlers/llm_judge.go
Due: runtime

fix: close the four follow-ups from the message.created work (#1884)
  docs/src/content/docs/architecture/runtime-events.md
  docs/src/content/docs/runtime/reference/pipeline.md
  docs/src/content/docs/sdk/explanation/observability.md
  runtime/events/store.go
  runtime/events/types.go
  runtime/pipeline/stage/recording_index_test.go
  runtime/pipeline/stage/stages_message_broadcast.go
  runtime/pipeline/stage/stages_message_broadcast_test.go
  runtime/pipeline/stage/stages_recording.go
  runtime/pipeline/stage/stages_recording_test.go
  runtime/providers/gemini/embedding.go
  runtime/providers/gemini/embedding_live_integration_test.go
  runtime/providers/gemini/embedding_test.go
  runtime/tts/cartesia.go
  runtime/tts/cartesia_apikey_header_test.go
  runtime/tts/cartesia_interactive.go
  runtime/tts/cartesia_live_integration_test.go
Due: runtime

docs(evals): say why EvalResult.Message is empty, so it survives the next grep
  runtime/evals/types.go
  runtime/events/types.go
Due: runtime

fix(evals): stop inventing a score for a judge that could not be read (#1885)
  runtime/evals/handlers/judge_provider.go
  runtime/evals/handlers/judge_provider_test.go
  runtime/evals/handlers/judge_unparseable_test.go
  runtime/evals/handlers/llm_judge.go
Due: runtime

docs(evals): say why EvalResult.Message is empty, so it survives the next grep (#1886)
  runtime/evals/types.go
  runtime/events/types.go
Due: runtime

fix(evals): stop ExtractValue inventing a zero, and give it the MetricDef
  runtime/evals/extract_value_test.go
  runtime/evals/metrics.go
  runtime/evals/metrics_test.go
  runtime/metrics/collector.go
  runtime/metrics/collector_test.go
  sdk/eval_middleware_test.go
Due: runtime

Path conditions:
  runtime: any of: runtime/, but not: **/*_test.go, **/*_interactive.go, **/*_integration.go, examples/, docs/, scripts/, .github/, *.md
  sdk: any of: sdk/, but not: **/*_test.go, **/*_interactive.go, **/*_integration.go, examples/, docs/, scripts/, .github/, *.md
  arena: any of: tools/arena/, but not: **/*_test.go, **/*_interactive.go, **/*_integration.go, examples/, docs/, scripts/, .github/, *.md
  packc: any of: tools/packc/, but not: **/*_test.go, **/*_interactive.go, **/*_integration.go, examples/, docs/, scripts/, .github/, *.md
  inspect-state: any of: tools/inspect-state/, but not: **/*_test.go, **/*_interactive.go, **/*_integration.go, examples/, docs/, scripts/, .github/, *.md
