Repository AltairaLabs/PromptKit: changes, and which Codecov flags are due for each by the changed paths.
All: runtime, sdk, arena, packc, inspect-state

codecov.yml:

codecov:
  require_ci_to_pass: yes
  notify:
    wait_for_ci: yes

coverage:
  precision: 2
  round: down
  range: "70...100"
  
  status:
    project:
      default:
        target: 70%
        threshold: 1%
        if_ci_failed: error
    patch:
      default:
        target: 70%
        threshold: 1%
        if_ci_failed: error

comment:
  layout: "reach,diff,flags,tree"
  behavior: default
  require_changes: false

flags:
  runtime:
    paths:
      - runtime/
  sdk:
    paths:
      - sdk/
  arena:
    paths:
      - tools/arena/
  packc:
    paths:
      - tools/packc/
  inspect-state:
    paths:
      - tools/inspect-state/

ignore:
  - "**/*_test.go"
  - "**/*_interactive.go"
  - "**/*_integration.go"
  - "examples/"
  - "docs/"
  - "scripts/"
  - ".github/"
  - "*.md"

fix(sdk): admit text-only providers to OpenDuplex in VAD mode (#1642)
  docs/src/content/docs/sdk/reference/conversation-manager.md
  sdk/sdk.go
  sdk/vad_duplex_gate_test.go
Due: sdk

feat(sdk): multi-track audio ingestion helper for duplex voice apps
  docs/src/content/docs/sdk/reference/conversation-manager.md
  sdk/ingestion_multitrack.go
  sdk/ingestion_multitrack_test.go
Due: sdk

docs(sdk): warn against sharing a stateful VAD across ingestion tracks
  docs/src/content/docs/sdk/reference/conversation-manager.md
  sdk/ingestion_multitrack.go
Due: sdk

feat(sdk): multi-track audio ingestion helper for duplex voice apps (#1647)
  docs/src/content/docs/sdk/reference/conversation-manager.md
  sdk/ingestion_multitrack.go
  sdk/ingestion_multitrack_test.go
Due: sdk

feat(example): scaffold multitrack-ingestion SDK example
  go.work
  sdk/examples/multitrack-ingestion/assistant.pack.json
  sdk/examples/multitrack-ingestion/go.mod
  sdk/examples/multitrack-ingestion/main.go
Due: sdk

feat(example): built-in two-speaker script, synthetic PCM, scripted STT
  sdk/examples/multitrack-ingestion/conversation.go
  sdk/examples/multitrack-ingestion/conversation_test.go
Due: sdk

feat(example): wire two-track ingestion + keyless per-turn agent test
  sdk/examples/multitrack-ingestion/app.go
  sdk/examples/multitrack-ingestion/app_test.go
Due: sdk

feat(example): CLI entry point with keyless default and --live Claude
  sdk/examples/multitrack-ingestion/app.go
  sdk/examples/multitrack-ingestion/main.go
Due: sdk

docs(example): multitrack-ingestion README and pinned deps
  sdk/examples/multitrack-ingestion/README.md
  sdk/examples/multitrack-ingestion/go.mod
  sdk/examples/multitrack-ingestion/go.sum
Due: sdk

fix(example): print --live key-guard error to stderr, not swallowed stdlib log
  sdk/examples/multitrack-ingestion/main.go
Due: sdk

feat(example): coalesce streamed replies into one line per turn
  sdk/examples/multitrack-ingestion/main.go
Due: sdk

feat(example): generic multi-track ingestion SDK example (#1648)
  go.work
  sdk/examples/multitrack-ingestion/README.md
  sdk/examples/multitrack-ingestion/app.go
  sdk/examples/multitrack-ingestion/app_test.go
  sdk/examples/multitrack-ingestion/assistant.pack.json
  sdk/examples/multitrack-ingestion/conversation.go
  sdk/examples/multitrack-ingestion/conversation_test.go
  sdk/examples/multitrack-ingestion/go.mod
  sdk/examples/multitrack-ingestion/go.sum
  sdk/examples/multitrack-ingestion/main.go
Due: sdk

fix(statestore): make the Redis TTL a sliding window, matching MemoryStore
  runtime/statestore/memory.go
  runtime/statestore/redis.go
  runtime/statestore/redis_test.go
Due: runtime

fix(statestore): make the Redis TTL a sliding window, matching MemoryStore (#1650)
  runtime/statestore/memory.go
  runtime/statestore/redis.go
  runtime/statestore/redis_test.go
Due: runtime

feat(sdk): approve-with-edits for HITL pending tool calls
  docs/src/content/docs/sdk/reference/conversation-manager.md
  sdk/conversation_tools.go
  sdk/examples/hitl/main_interactive.go
  sdk/hitl_test.go
  sdk/tools/pending.go
  sdk/tools/pending_test.go
Due: sdk

docs: regenerate runtime reference (statestore sliding-TTL drift)
  docs/src/content/docs/runtime/reference/statestore.md
Due: none

feat(sdk): approve-with-edits for HITL pending tool calls (#1652)
  docs/src/content/docs/runtime/reference/statestore.md
  docs/src/content/docs/sdk/reference/conversation-manager.md
  sdk/conversation_tools.go
  sdk/examples/hitl/main_interactive.go
  sdk/hitl_test.go
  sdk/tools/pending.go
  sdk/tools/pending_test.go
Due: sdk

feat(runtime): HITL approval gate in the standard ProviderStage
  runtime/pipeline/stage/stages_provider.go
  runtime/pipeline/stage/stages_provider_approval_test.go
  runtime/tools/types.go
Due: runtime

feat(sdk): wire HITL approval gate into unary + WithIngestion pipelines
  docs/src/content/docs/runtime/reference/pipeline.md
  docs/src/content/docs/runtime/reference/tools.md
  runtime/pipeline/stage/stages_provider.go
  runtime/pipeline/stage/stages_provider_test.go
  runtime/tools/types.go
  sdk/conversation.go
  sdk/hitl_gate_integration_test.go
  sdk/internal/pipeline/builder.go
  sdk/internal/pipeline/builder_vad.go
  sdk/sdk.go
Due: runtime, sdk

feat: HITL approval gate on the standard ProviderStage (unary + WithIngestion) (#1654)
  docs/src/content/docs/runtime/reference/pipeline.md
  docs/src/content/docs/runtime/reference/tools.md
  runtime/pipeline/stage/stages_provider.go
  runtime/pipeline/stage/stages_provider_approval_test.go
  runtime/pipeline/stage/stages_provider_test.go
  runtime/tools/types.go
  sdk/conversation.go
  sdk/hitl_gate_integration_test.go
  sdk/internal/pipeline/builder.go
  sdk/internal/pipeline/builder_vad.go
  sdk/sdk.go
Due: runtime, sdk

feat(sdk): durable, single-winner pending-approval store for HITL
  docs/src/content/docs/runtime/reference/tools.md
  docs/src/content/docs/sdk/how-to/tools/register-tools.md
  docs/src/content/docs/sdk/reference/conversation-manager.md
  runtime/pipeline/stage/stages_provider.go
  runtime/pipeline/stage/stages_provider_approval_test.go
  runtime/tools/types.go
  sdk/client_tools.go
  sdk/client_tools_test.go
  sdk/conversation.go
  sdk/conversation_test.go
  sdk/conversation_tools.go
  sdk/examples/hitl/main_interactive.go
  sdk/go.mod
  sdk/go.sum
  sdk/hitl_gate_integration_test.go
  sdk/hitl_test.go
  sdk/inference_integration_test.go
  sdk/integration/duplex_tools_test.go
  sdk/integration/tools_test.go
  sdk/options.go
  sdk/sdk.go
  sdk/session/duplex_session.go
  sdk/session/duplex_tool_executor.go
  sdk/session/duplex_tool_executor_test.go
  sdk/session/session.go
  sdk/stream_events_test.go
  sdk/streaming_test.go
  sdk/template.go
  sdk/tools/memory.go
  sdk/tools/pending.go
  sdk/tools/pending_test.go
  sdk/tools/redis.go
  sdk/tools/redis_test.go
Due: runtime, sdk

feat(sdk): durable, single-winner pending-approval store for HITL (#1655)
  docs/src/content/docs/runtime/reference/tools.md
  docs/src/content/docs/sdk/how-to/tools/register-tools.md
  docs/src/content/docs/sdk/reference/conversation-manager.md
  runtime/pipeline/stage/stages_provider.go
  runtime/pipeline/stage/stages_provider_approval_test.go
  runtime/tools/types.go
  sdk/client_tools.go
  sdk/client_tools_test.go
  sdk/conversation.go
  sdk/conversation_test.go
  sdk/conversation_tools.go
  sdk/examples/hitl/main_interactive.go
  sdk/go.mod
  sdk/go.sum
  sdk/hitl_gate_integration_test.go
  sdk/hitl_test.go
  sdk/inference_integration_test.go
  sdk/integration/duplex_tools_test.go
  sdk/integration/tools_test.go
  sdk/options.go
  sdk/sdk.go
  sdk/session/duplex_session.go
  sdk/session/duplex_tool_executor.go
  sdk/session/duplex_tool_executor_test.go
  sdk/session/session.go
  sdk/stream_events_test.go
  sdk/streaming_test.go
  sdk/template.go
  sdk/tools/memory.go
  sdk/tools/pending.go
  sdk/tools/pending_test.go
  sdk/tools/redis.go
  sdk/tools/redis_test.go
Due: runtime, sdk

fix(sdk): fire the LLM per turn in VAD mode, not once at session close
  sdk/internal/pipeline/builder_vad.go
  sdk/vad_duplex_gate_test.go
  sdk/vad_mode_per_turn_test.go
Due: sdk

docs(sdk): state WithVADMode's per-turn firing contract
  docs/src/content/docs/sdk/reference/conversation-manager.md
  sdk/options.go
Due: sdk

test(sdk): live end-to-end VAD voice test against real providers
  sdk/vad_mode_per_turn_e2e_test.go
Due: none

fix(pipeline): speak the assistant reply once in the voice TTS path
  runtime/pipeline/stage/stages_provider.go
  runtime/pipeline/stage/stages_speech.go
  runtime/pipeline/stage/stages_tts.go
  runtime/pipeline/stage/stages_tts_role_test.go
  runtime/pipeline/stage/turn_state.go
Due: runtime

test(sdk): assert VAD mode speaks each reply once, not the caller's words
  sdk/vad_mode_per_turn_e2e_test.go
  sdk/vad_mode_per_turn_test.go
Due: none

docs(reference): regenerate runtime reference for ElementMetadata.StreamingDelta
  docs/src/content/docs/runtime/reference/pipeline.md
Due: none

fix(pipeline): don't re-deliver the reply text on the TTS audio chunk
  docs/src/content/docs/runtime/reference/pipeline.md
  runtime/pipeline/stage/stages_speech.go
  runtime/pipeline/stage/turn_state.go
  sdk/session/duplex_session.go
  sdk/session/tts_chunk_conversion_test.go
  sdk/vad_mode_per_turn_e2e_test.go
Due: runtime, sdk

fix(sdk): VAD mode fires the LLM per turn and speaks the reply once (#1656)
  docs/src/content/docs/runtime/reference/pipeline.md
  docs/src/content/docs/sdk/reference/conversation-manager.md
  runtime/pipeline/stage/stages_provider.go
  runtime/pipeline/stage/stages_speech.go
  runtime/pipeline/stage/stages_tts.go
  runtime/pipeline/stage/stages_tts_role_test.go
  runtime/pipeline/stage/turn_state.go
  sdk/internal/pipeline/builder_vad.go
  sdk/options.go
  sdk/session/duplex_session.go
  sdk/session/tts_chunk_conversion_test.go
  sdk/vad_duplex_gate_test.go
  sdk/vad_mode_per_turn_e2e_test.go
  sdk/vad_mode_per_turn_test.go
Due: runtime, sdk

fix(sdk): don't let an unread duplex Response() silently stall the pipeline
  sdk/conversation.go
  sdk/session/duplex_forward_chunk_test.go
  sdk/session/duplex_session.go
Due: sdk

docs(reference): regenerate SDK reference for the Response() drain docs
  docs/src/content/docs/sdk/reference/conversation-manager.md
Due: none

chore(hooks): catch generated-reference drift in the pre-commit hook
  CLAUDE.md
  scripts/pre-commit.sh
Due: none

fix(sdk): don't let an unread duplex Response() silently stall the pipeline (#1658)
  docs/src/content/docs/sdk/reference/conversation-manager.md
  sdk/conversation.go
  sdk/session/duplex_forward_chunk_test.go
  sdk/session/duplex_session.go
Due: sdk

test(evals): give subprocess side-effect tests a generous budget
  runtime/evals/exec_hook_test.go
Due: none

chore(hooks): catch generated-reference drift in the pre-commit hook (#1659)
  CLAUDE.md
  scripts/pre-commit.sh
Due: none

test(evals): give subprocess side-effect tests a generous budget (#1660)
  runtime/evals/exec_hook_test.go
Due: none

fix(evals): judge the full session transcript, not assistant text only
  docs/src/content/docs/reference/checks.md
  runtime/evals/handlers/llm_judge_session.go
  runtime/evals/handlers/llm_judge_session_test.go
  runtime/evals/handlers/llm_judge_test.go
Due: runtime

fix(evals): judge the full session transcript, not assistant text only (#1661)
  docs/src/content/docs/reference/checks.md
  runtime/evals/handlers/llm_judge_session.go
  runtime/evals/handlers/llm_judge_session_test.go
  runtime/evals/handlers/llm_judge_test.go
Due: runtime

feat(sdk): OpenVoice / WithAudioSession — bind the duplex pipeline to an audio.Session
  docs/src/content/docs/sdk/reference/conversation-manager.md
  sdk/options.go
  sdk/voice.go
  sdk/voice_test.go
Due: sdk
