Repository AltairaLabs/PromptKit: changes, and which Codecov flags are due for each by the changed paths.
All: runtime, sdk, arena, packc, inspect-state

codecov.yml:

codecov:
  require_ci_to_pass: yes
  notify:
    wait_for_ci: yes

coverage:
  precision: 2
  round: down
  range: "70...100"
  
  status:
    project:
      default:
        target: 70%
        threshold: 1%
        if_ci_failed: error
    patch:
      default:
        target: 70%
        threshold: 1%
        if_ci_failed: error

comment:
  layout: "reach,diff,flags,tree"
  behavior: default
  require_changes: false

flags:
  runtime:
    paths:
      - runtime/
  sdk:
    paths:
      - sdk/
  arena:
    paths:
      - tools/arena/
  packc:
    paths:
      - tools/packc/
  inspect-state:
    paths:
      - tools/inspect-state/

ignore:
  - "**/*_test.go"
  - "**/*_interactive.go"
  - "**/*_integration.go"
  - "examples/"
  - "docs/"
  - "scripts/"
  - ".github/"
  - "*.md"

feat(evals): wire arena assertion dual-write through EvalRunner (Phase 2)
  runtime/evals/dispatcher.go
  runtime/evals/dispatcher_test.go
  runtime/evals/event_listener_test.go
  runtime/evals/runner.go
  runtime/evals/when.go
  runtime/evals/when_test.go
  sdk/eval_integration_test.go
  sdk/eval_middleware_test.go
  tools/arena/assertions/types.go
  tools/arena/assertions/types_test.go
  tools/arena/engine/conversation_executor.go
  tools/arena/engine/conversation_executor_test.go
  tools/arena/engine/duplex_executor_assertions_integration.go
  tools/arena/engine/duplex_executor_results_integration.go
  tools/arena/engine/eval_conversation_executor.go
  tools/arena/engine/eval_execution_test.go
  tools/arena/engine/interfaces.go
  tools/arena/engine/pack_eval_hook.go
  tools/arena/engine/pack_eval_hook_test.go
  tools/arena/stages/assertions.go
  tools/arena/turnexecutors/interfaces.go
  tools/arena/turnexecutors/pipeline_executor.go
  tools/arena/turnexecutors/scripted_executor.go
  tools/arena/turnexecutors/scripted_executor_test.go
Due: runtime, arena

feat(evals): flow eval results through full data pipeline and prefer over old assertions (Phase 3)
  tools/arena/assertions/eval_adapter.go
  tools/arena/assertions/eval_adapter_test.go
  tools/arena/cmd/promptarena/run.go
  tools/arena/engine/execution.go
  tools/arena/engine/execution_workflow_integration.go
  tools/arena/engine/pack_eval_adapter.go
  tools/arena/engine/pack_eval_adapter_test.go
  tools/arena/engine/types.go
  tools/arena/results/utils.go
  tools/arena/results/utils_test.go
  tools/arena/statestore/arena_store_test.go
  tools/arena/statestore/metadata.go
  tools/arena/statestore/store.go
Due: arena

fix(arena): add nil receiver guards to PackEvalHook methods
  tools/arena/engine/pack_eval_hook.go
  tools/arena/engine/pack_eval_hook_test.go
Due: arena

feat(arena): add score/metric display to all renderers (Phase 3)
  tools/arena/assertions/eval_adapter.go
  tools/arena/assertions/eval_adapter_test.go
  tools/arena/render/conversation_assertions_test.go
  tools/arena/render/html.go
  tools/arena/render/templates/report.html.tmpl
  tools/arena/results/junit/junit_conversation_assertions_test.go
  tools/arena/results/junit/junit_repository.go
  tools/arena/results/markdown/markdown_conversation_assertions_test.go
  tools/arena/results/markdown/markdown_repository.go
  tools/arena/tui/panels/panels_test.go
  tools/arena/tui/panels/result.go
  tools/arena/tui/panels/result_test.go
Due: arena

feat(hooks): add core hook interfaces and registry (#455)
  runtime/hooks/errors.go
  runtime/hooks/errors_test.go
  runtime/hooks/hooks.go
  runtime/hooks/registry.go
  runtime/hooks/registry_test.go
  runtime/hooks/types.go
  runtime/hooks/types_test.go
Due: runtime

feat(hooks): add built-in guardrail hooks replacing validators (#456)
  runtime/hooks/guardrails/banned_words.go
  runtime/hooks/guardrails/banned_words_test.go
  runtime/hooks/guardrails/factory.go
  runtime/hooks/guardrails/factory_test.go
  runtime/hooks/guardrails/length.go
  runtime/hooks/guardrails/length_test.go
  runtime/hooks/guardrails/max_sentences.go
  runtime/hooks/guardrails/max_sentences_test.go
  runtime/hooks/guardrails/required_fields.go
  runtime/hooks/guardrails/required_fields_test.go
Due: runtime

feat(hooks): integrate hooks into ProviderStage (#457)
  runtime/pipeline/stage/stages_provider.go
  runtime/pipeline/stage/stages_provider_hooks_test.go
Due: runtime

refactor(hooks): remove ValidationStage (#458)
  runtime/pipeline/stage/stages_core.go
  runtime/pipeline/stage/stages_core_test.go
  sdk/internal/pipeline/builder.go
  sdk/internal/pipeline/builder_test.go
  tools/arena/turnexecutors/pipeline_executor.go
  tools/arena/turnexecutors/scripted_executor.go
  tools/arena/turnexecutors/selfplay_executor.go
Due: runtime, sdk, arena

feat(hooks): core interfaces, guardrail hooks, and ProviderStage integration (#461)
  runtime/hooks/errors.go
  runtime/hooks/errors_test.go
  runtime/hooks/guardrails/banned_words.go
  runtime/hooks/guardrails/banned_words_test.go
  runtime/hooks/guardrails/factory.go
  runtime/hooks/guardrails/factory_test.go
  runtime/hooks/guardrails/length.go
  runtime/hooks/guardrails/length_test.go
  runtime/hooks/guardrails/max_sentences.go
  runtime/hooks/guardrails/max_sentences_test.go
  runtime/hooks/guardrails/required_fields.go
  runtime/hooks/guardrails/required_fields_test.go
  runtime/hooks/hooks.go
  runtime/hooks/registry.go
  runtime/hooks/registry_test.go
  runtime/hooks/types.go
  runtime/hooks/types_test.go
  runtime/pipeline/stage/stages_core.go
  runtime/pipeline/stage/stages_core_test.go
  runtime/pipeline/stage/stages_provider.go
  runtime/pipeline/stage/stages_provider_hooks_test.go
  sdk/internal/pipeline/builder.go
  sdk/internal/pipeline/builder_test.go
  tools/arena/turnexecutors/pipeline_executor.go
  tools/arena/turnexecutors/scripted_executor.go
  tools/arena/turnexecutors/selfplay_executor.go
Due: runtime, sdk, arena

feat(sdk): add hook options and session hook lifecycle (Phase 5)
  sdk/conversation.go
  sdk/conversation_test.go
  sdk/go.mod
  sdk/go.sum
  sdk/internal/pipeline/builder.go
  sdk/internal/pipeline/builder_test.go
  sdk/options.go
  sdk/options_test.go
  sdk/sdk.go
Due: sdk

feat(sdk): add hook options and session hook lifecycle (Phase 5) (#462)
  sdk/conversation.go
  sdk/conversation_test.go
  sdk/go.mod
  sdk/go.sum
  sdk/internal/pipeline/builder.go
  sdk/internal/pipeline/builder_test.go
  sdk/options.go
  sdk/options_test.go
  sdk/sdk.go
Due: sdk

refactor: remove runtime/validators package (Phase 6)
  runtime/pipeline/stage/stages_core.go
  runtime/pipeline/stage/stages_core_test.go
  runtime/prompt/metadata_test.go
  runtime/prompt/registry.go
  runtime/validators/factory.go
  runtime/validators/factory_test.go
  runtime/validators/streaming_test.go
  runtime/validators/validators.go
  runtime/validators/validators_test.go
  tools/arena/assertions/types.go
  tools/arena/assertions/types_test.go
  tools/arena/turnexecutors/scripted_executor_test.go
  tools/packc/main_test.go
Due: runtime, arena

refactor: remove runtime/validators package (Phase 6) (#463)
  runtime/pipeline/stage/stages_core.go
  runtime/pipeline/stage/stages_core_test.go
  runtime/prompt/metadata_test.go
  runtime/prompt/registry.go
  runtime/validators/factory.go
  runtime/validators/factory_test.go
  runtime/validators/streaming_test.go
  runtime/validators/validators.go
  runtime/validators/validators_test.go
  tools/arena/assertions/types.go
  tools/arena/assertions/types_test.go
  tools/arena/turnexecutors/scripted_executor_test.go
  tools/packc/main_test.go
Due: runtime, arena

docs: update Starlight docs for hooks & policy integration
  docs/src/content/docs/arena/reference/validators.md
  docs/src/content/docs/concepts/validation.md
  docs/src/content/docs/runtime/explanation/pipeline-architecture.md
  docs/src/content/docs/runtime/how-to/configure-pipeline.md
  docs/src/content/docs/runtime/index.md
  docs/src/content/docs/runtime/reference/hooks.md
  docs/src/content/docs/runtime/reference/index.md
  docs/src/content/docs/runtime/reference/validators.md
  docs/src/content/docs/runtime/tutorials/04-validation-guardrails.md
  docs/src/content/docs/runtime/tutorials/05-production-deployment.md
  docs/src/content/docs/sdk/how-to/initialize.md
  docs/src/content/docs/sdk/reference/index.md
Due: none

feat(sdk): add hooks example and fix hook registry init order
  sdk/examples/hooks/README.md
  sdk/examples/hooks/hooks.pack.json
  sdk/examples/hooks/main_interactive.go
  sdk/sdk.go
Due: sdk

feat: hooks docs, SDK example, and init-order fix (#464)
  docs/src/content/docs/arena/reference/validators.md
  docs/src/content/docs/concepts/validation.md
  docs/src/content/docs/runtime/explanation/pipeline-architecture.md
  docs/src/content/docs/runtime/how-to/configure-pipeline.md
  docs/src/content/docs/runtime/index.md
  docs/src/content/docs/runtime/reference/hooks.md
  docs/src/content/docs/runtime/reference/index.md
  docs/src/content/docs/runtime/reference/validators.md
  docs/src/content/docs/runtime/tutorials/04-validation-guardrails.md
  docs/src/content/docs/runtime/tutorials/05-production-deployment.md
  docs/src/content/docs/sdk/how-to/initialize.md
  docs/src/content/docs/sdk/reference/index.md
  sdk/examples/hooks/README.md
  sdk/examples/hooks/hooks.pack.json
  sdk/examples/hooks/main_interactive.go
  sdk/sdk.go
Due: sdk

feat: wire pack validators to hooks (Arena + SDK)
  .github/workflows/ci.yml
  CLAUDE.md
  examples/eval-test/evals/basic-eval.eval.yaml
  examples/guardrails-test/config.arena.yaml
  examples/guardrails-test/mock-responses.yaml
  examples/guardrails-test/providers/mock-provider.yaml
  sdk/sdk.go
  sdk/validators_to_hooks_test.go
  tools/arena/engine/builder_integration.go
  tools/arena/engine/pack_eval_hook.go
  tools/arena/stages/guardrail_eval.go
  tools/arena/stages/guardrail_eval_test.go
  tools/arena/turnexecutors/pipeline_executor.go
  tools/arena/turnexecutors/scripted_executor.go
Due: sdk, arena

feat: wire LLM judge provider from Arena metadata to eval handlers
  examples/eval-test/evals/basic-eval.eval.yaml
  runtime/evals/handlers/judge_provider.go
  runtime/evals/handlers/judge_provider_integration.go
  runtime/evals/handlers/judge_provider_test.go
  runtime/evals/handlers/llm_judge.go
  sdk/eval_middleware.go
  sdk/eval_middleware_test.go
  tools/arena/engine/builder_integration.go
  tools/arena/engine/pack_eval_hook.go
Due: runtime, sdk, arena

fix: revert always-create packEvalHook and regenerate schemas
  schemas/v1alpha1/arena.json
  schemas/v1alpha1/promptconfig.json
  tools/arena/engine/builder_integration.go
Due: none

feat: wire LLM judge provider from Arena metadata to eval handlers (#465)
  .github/workflows/ci.yml
  CLAUDE.md
  examples/eval-test/evals/basic-eval.eval.yaml
  examples/guardrails-test/config.arena.yaml
  examples/guardrails-test/mock-responses.yaml
  examples/guardrails-test/providers/mock-provider.yaml
  runtime/evals/handlers/judge_provider.go
  runtime/evals/handlers/judge_provider_integration.go
  runtime/evals/handlers/judge_provider_test.go
  runtime/evals/handlers/llm_judge.go
  schemas/v1alpha1/arena.json
  schemas/v1alpha1/promptconfig.json
  sdk/eval_middleware.go
  sdk/eval_middleware_test.go
  sdk/sdk.go
  sdk/validators_to_hooks_test.go
  tools/arena/engine/builder_integration.go
  tools/arena/engine/pack_eval_hook.go
  tools/arena/stages/guardrail_eval.go
  tools/arena/stages/guardrail_eval_test.go
  tools/arena/turnexecutors/pipeline_executor.go
  tools/arena/turnexecutors/scripted_executor.go
Due: runtime, sdk, arena

refactor(sdk): move A2A task store and executor to sdk/internal/a2a
  sdk/a2a_executor.go
  sdk/a2a_exports.go
  sdk/a2a_task_store_test.go
  sdk/capability_a2a.go
  sdk/internal/a2a/executor.go
  sdk/internal/a2a/executor_test.go
  sdk/internal/a2a/task_store.go
  sdk/internal/a2a/task_store_test.go
Due: sdk

refactor(sdk): move A2A task store and executor to sdk/internal/a2a (#466)
  sdk/a2a_executor.go
  sdk/a2a_exports.go
  sdk/a2a_task_store_test.go
  sdk/capability_a2a.go
  sdk/internal/a2a/executor.go
  sdk/internal/a2a/executor_test.go
  sdk/internal/a2a/task_store.go
  sdk/internal/a2a/task_store_test.go
Due: sdk

feat(telemetry): migrate to OpenTelemetry Go SDK with real-time event listener
  docs/src/content/docs/runtime/how-to/export-traces-otlp.md
  docs/src/content/docs/runtime/reference/telemetry.md
  runtime/a2a/client.go
  runtime/a2a/client_test.go
  runtime/go.mod
  runtime/go.sum
  runtime/telemetry/exporter.go
  runtime/telemetry/exporter_test.go
  runtime/telemetry/listener.go
  runtime/telemetry/listener_test.go
  runtime/telemetry/otlp.go
  runtime/telemetry/provider.go
  runtime/telemetry/provider_test.go
  runtime/telemetry/trace_context.go
  runtime/telemetry/trace_context_test.go
  sdk/a2a_server.go
  sdk/a2a_server_test.go
  sdk/go.mod
  sdk/go.sum
  sdk/options.go
  sdk/otel_integration_test.go
  sdk/sdk.go
Due: runtime, sdk

feat(telemetry): migrate to OpenTelemetry Go SDK with real-time event listener (#467)
  docs/src/content/docs/runtime/how-to/export-traces-otlp.md
  docs/src/content/docs/runtime/reference/telemetry.md
  runtime/a2a/client.go
  runtime/a2a/client_test.go
  runtime/go.mod
  runtime/go.sum
  runtime/telemetry/exporter.go
  runtime/telemetry/exporter_test.go
  runtime/telemetry/listener.go
  runtime/telemetry/listener_test.go
  runtime/telemetry/otlp.go
  runtime/telemetry/provider.go
  runtime/telemetry/provider_test.go
  runtime/telemetry/trace_context.go
  runtime/telemetry/trace_context_test.go
  sdk/a2a_server.go
  sdk/a2a_server_test.go
  sdk/go.mod
  sdk/go.sum
  sdk/options.go
  sdk/otel_integration_test.go
  sdk/sdk.go
Due: runtime, sdk

fix(sdk): wire EventEmitter on pipeline builder for pipeline-level spans
  sdk/internal/pipeline/builder.go
  sdk/otel_integration_test.go
Due: sdk

fix(sdk): wire EventEmitter on pipeline builder for pipeline-level spans (#468)
  sdk/internal/pipeline/builder.go
  sdk/otel_integration_test.go
Due: sdk

refactor(config): collapse 7 identical schema validator functions into 1
  pkg/config/schema_validator.go
Due: none

perf(sdk): fix DuplexSession.Done() goroutine leak (#494)
  sdk/session/duplex_session.go
  sdk/session/duplex_session_test.go
Due: sdk

refactor(config): collapse 7 identical schema validator functions into 1 (#500)
  pkg/config/schema_validator.go
Due: none

cleanup(sdk): remove dead code and fix pre-existing lint issues (#485)
  sdk/conversation.go
  sdk/conversation_test.go
  sdk/eval_middleware.go
  sdk/internal/pack/load.go
  sdk/internal/pipeline/builder.go
  sdk/local_agent_executor.go
  sdk/sdk.go
  sdk/session/duplex_session.go
  sdk/streaming.go
  sdk/tool_executors.go
Due: sdk

perf(sdk): fix DuplexSession.Done() goroutine leak (#494) (#501)
  sdk/session/duplex_session.go
  sdk/session/duplex_session_test.go
Due: sdk

refactor(arena): extract schema-gen boilerplate into shared generator helper (#484)
  tools/schema-gen/generators/arena.go
  tools/schema-gen/generators/common.go
  tools/schema-gen/generators/eval.go
  tools/schema-gen/generators/generators_test.go
  tools/schema-gen/generators/helper.go
  tools/schema-gen/generators/logging.go
  tools/schema-gen/generators/persona.go
  tools/schema-gen/generators/promptconfig.go
  tools/schema-gen/generators/provider.go
  tools/schema-gen/generators/scenario.go
  tools/schema-gen/generators/tool.go
  tools/schema-gen/main.go
Due: none

cleanup(sdk): remove dead code and fix pre-existing lint issues (#485)
  .golangci.yml
  sdk/conversation.go
  sdk/conversation_test.go
  sdk/eval_middleware.go
  sdk/internal/pack/load.go
  sdk/internal/pipeline/builder.go
  sdk/local_agent_executor.go
  sdk/sdk.go
  sdk/streaming.go
  sdk/tool_executors.go
Due: sdk

refactor(sdk): extract common Open/OpenDuplex initialization into shared helpers
  sdk/sdk.go
Due: sdk

perf(statestore): replace JSON deep copy with structural cloning
  runtime/statestore/memory.go
  runtime/statestore/memory_bench_test.go
  runtime/statestore/memory_test.go
  runtime/statestore/redis.go
Due: runtime

cleanup(sdk): remove dead code and fix pre-existing lint issues (#485) (#505)
  .golangci.yml
  sdk/conversation.go
  sdk/conversation_test.go
  sdk/eval_middleware.go
  sdk/internal/pack/load.go
  sdk/internal/pipeline/builder.go
  sdk/local_agent_executor.go
  sdk/sdk.go
  sdk/streaming.go
  sdk/tool_executors.go
Due: sdk

refactor(sdk): extract common Open/OpenDuplex initialization into shared helpers (#504)
  sdk/sdk.go
Due: sdk
