Repository AltairaLabs/PromptKit: changes, and which Codecov flags are due for each by the changed paths.
All: runtime, sdk, arena, packc, inspect-state

feat(arena): promptarena schema command (#1391)
  tools/arena/cmd/promptarena/schema_cmd.go
  tools/arena/cmd/promptarena/schema_cmd_test.go
Due: arena

feat(arena): agentkb discovery commands — explain/examples/schema + validate --json (Phase B) (#1396)
  tools/arena/agentkb/catalog.go
  tools/arena/agentkb/skill.go
  tools/arena/cmd/promptarena/examples_cmd.go
  tools/arena/cmd/promptarena/examples_cmd_test.go
  tools/arena/cmd/promptarena/explain_cmd.go
  tools/arena/cmd/promptarena/explain_cmd_test.go
  tools/arena/cmd/promptarena/schema_cmd.go
  tools/arena/cmd/promptarena/schema_cmd_test.go
  tools/arena/cmd/promptarena/validate.go
  tools/arena/cmd/promptarena/validate_json.go
  tools/arena/cmd/promptarena/validate_json_test.go
Due: arena

feat(arena): agentmcp stdio MCP server core (#1392)
  tools/arena/agentmcp/server.go
  tools/arena/agentmcp/server_test.go
  tools/arena/agentmcp/tools.go
Due: arena

feat(arena): agentmcp get_schema/list_examples/show_example tools (#1392)
  tools/arena/agentmcp/examples.go
  tools/arena/agentmcp/tools.go
  tools/arena/agentmcp/tools_test.go
Due: arena

feat(arena): agentmcp resources + promptarena mcp command (#1392)
  tools/arena/agentmcp/resources.go
  tools/arena/agentmcp/resources_test.go
  tools/arena/agentmcp/server.go
  tools/arena/cmd/promptarena/mcp_cmd.go
  tools/arena/cmd/promptarena/mcp_cmd_test.go
Due: arena

feat(arena): promptarena mcp — stdio MCP server over agentkb (Phase C) (#1397)
  tools/arena/agentmcp/examples.go
  tools/arena/agentmcp/resources.go
  tools/arena/agentmcp/resources_test.go
  tools/arena/agentmcp/server.go
  tools/arena/agentmcp/server_test.go
  tools/arena/agentmcp/tools.go
  tools/arena/agentmcp/tools_test.go
  tools/arena/cmd/promptarena/mcp_cmd.go
  tools/arena/cmd/promptarena/mcp_cmd_test.go
Due: arena

refactor(arena): agentkb as single source of truth for examples + schemas
  Makefile
  tools/arena/agentkb/examples.go
  tools/arena/agentkb/examples_test.go
  tools/arena/agentkb/schema.go
  tools/arena/agentmcp/tools.go
  tools/arena/cmd/promptarena/examples_cmd.go
Due: arena

refactor(arena): agentkb as single source of truth for examples + schemas (#1398)
  Makefile
  tools/arena/agentkb/examples.go
  tools/arena/agentkb/examples_test.go
  tools/arena/agentkb/schema.go
  tools/arena/agentmcp/tools.go
  tools/arena/cmd/promptarena/examples_cmd.go
Due: arena

fix(arena): persist tool-loop messages per-round so a mid-loop turn error keeps the transcript
  runtime/pipeline/stage/stages_provider.go
  tools/arena/engine/mid_loop_error_transcript_test.go
  tools/arena/stages/statestore_save_integration.go
  tools/arena/statestore/store.go
  tools/arena/statestore/store_test.go
  tools/arena/turnexecutors/pipeline_stages_integration.go
Due: runtime, arena

fix(arena): persist tool-loop messages per-round so a mid-loop turn error keeps the transcript (#1400)
  runtime/pipeline/stage/stages_provider.go
  tools/arena/engine/mid_loop_error_transcript_test.go
  tools/arena/stages/statestore_save_integration.go
  tools/arena/statestore/store.go
  tools/arena/statestore/store_test.go
  tools/arena/turnexecutors/pipeline_stages_integration.go
Due: runtime, arena

fix(runtime): make MaxCostUSD a per-run budget, not per-turn-loop
  runtime/pipeline/stage/stages_provider.go
  runtime/pipeline/stage/stages_provider_test.go
Due: runtime

feat(arena): bounded configurable loop caps (rounds/cost, default $2) + repeated-tool-call breaker
  pkg/config/types.go
  runtime/pipeline/stage/stages_provider.go
  runtime/pipeline/stage/stages_provider_test.go
  runtime/pipeline/types.go
  schemas/v1alpha1/arena.json
  schemas/v1alpha1/scenario.json
  tools/arena/agentkb/schemas/arena.json
  tools/arena/agentkb/schemas/scenario.json
  tools/arena/turnexecutors/pipeline_executor_helpers_test.go
  tools/arena/turnexecutors/pipeline_stages_integration.go
Due: runtime, arena

feat(arena): bounded loop/cost caps (rounds + per-run $2 budget) + repeated-tool-call breaker (#1401)
  pkg/config/types.go
  runtime/pipeline/stage/stages_provider.go
  runtime/pipeline/stage/stages_provider_test.go
  runtime/pipeline/types.go
  schemas/v1alpha1/arena.json
  schemas/v1alpha1/scenario.json
  tools/arena/agentkb/schemas/arena.json
  tools/arena/agentkb/schemas/scenario.json
  tools/arena/turnexecutors/pipeline_executor_helpers_test.go
  tools/arena/turnexecutors/pipeline_stages_integration.go
Due: runtime, arena

fix(providers): enable Claude prompt caching by default + provider-config opt-out
  pkg/config/types.go
  runtime/providers/claude/claude.go
  runtime/providers/claude/claude_cache_test.go
  runtime/providers/claude/claude_integration_test.go
  runtime/providers/claude/supports_caching_test.go
  runtime/providers/provider.go
  schemas/v1alpha1/arena.json
  schemas/v1alpha1/provider.json
  schemas/v1alpha1/runtime-config.json
  sdk/internal/provider/detect.go
  tools/arena/agentkb/schemas/arena.json
  tools/arena/agentkb/schemas/provider.json
  tools/arena/agentkb/schemas/runtime-config.json
  tools/arena/engine/builder_integration.go
  tools/arena/engine/conversation_executor.go
  tools/arena/engine/prompt_caching_config_test.go
Due: runtime, sdk, arena

fix(providers): enable Claude prompt caching by default + provider-config opt-out (#1402)
  pkg/config/types.go
  runtime/providers/claude/claude.go
  runtime/providers/claude/claude_cache_test.go
  runtime/providers/claude/claude_integration_test.go
  runtime/providers/claude/supports_caching_test.go
  runtime/providers/provider.go
  schemas/v1alpha1/arena.json
  schemas/v1alpha1/provider.json
  schemas/v1alpha1/runtime-config.json
  sdk/internal/provider/detect.go
  tools/arena/agentkb/schemas/arena.json
  tools/arena/agentkb/schemas/provider.json
  tools/arena/agentkb/schemas/runtime-config.json
  tools/arena/engine/builder_integration.go
  tools/arena/engine/conversation_executor.go
  tools/arena/engine/prompt_caching_config_test.go
Due: runtime, sdk, arena

feat(agents-brief-eval): five-prompt suite + jq reporting summarizer
  benchmarks/agents-brief-eval/configs/arm-c-brief.arena.yaml
  benchmarks/agents-brief-eval/report/summarize.sh
  benchmarks/agents-brief-eval/scenarios/code-reviewer.scenario.yaml
  benchmarks/agents-brief-eval/scenarios/faq-bot.scenario.yaml
  benchmarks/agents-brief-eval/scenarios/sentiment-guardrail.scenario.yaml
  benchmarks/agents-brief-eval/scenarios/triage-router.scenario.yaml
Due: none

test(agents-brief-eval): mock wiring variant proves gates fire and discriminate
  benchmarks/agents-brief-eval/configs/arm-c-mock.arena.yaml
  benchmarks/agents-brief-eval/mock-responses.yaml
  benchmarks/agents-brief-eval/providers/mock-provider.yaml
  benchmarks/agents-brief-eval/scenarios/refund-assistant.mock.scenario.yaml
  benchmarks/agents-brief-eval/scenarios/refund-broken.mock.scenario.yaml
Due: none

feat(arena): capture sandbox workspace via /api/download (SessionHook + docker source API port)
  examples/test-a-codegen-agent/Dockerfile
  examples/test-a-codegen-agent/README.md
  examples/test-a-codegen-agent/config.arena.yaml
  examples/test-a-codegen-agent/live-gemini.arena.yaml
  examples/test-a-codegen-agent/mock.arena.yaml
  tools/arena/cmd/promptarena/run.go
  tools/arena/cmd/promptarena/run_interactive.go
  tools/arena/cmd/promptarena/yaml_config_test.go
  tools/arena/engine/execution.go
  tools/arena/engine/execution_mcpsource.go
  tools/arena/engine/mcpsource_scope.go
  tools/arena/engine/mcpsource_scope_integration_test.go
  tools/arena/mcpsource/docker/cli.go
  tools/arena/mcpsource/docker/source.go
  tools/arena/mcpsource/source.go
  tools/arena/sandboxcapture/capture.go
  tools/arena/sandboxcapture/capture_test.go
Due: arena

feat(examples): add Gemini variant to test-a-codegen-agent
  examples/test-a-codegen-agent/.gitignore
  examples/test-a-codegen-agent/README.md
  examples/test-a-codegen-agent/configs/live-gemini.arena.yaml
  examples/test-a-codegen-agent/providers/gemini.provider.yaml
Due: none

fix(agents-brief-eval): add required Bash args.description to live config gates
  benchmarks/agents-brief-eval/configs/arm-c-brief.arena.yaml
Due: none

feat(agents-brief-eval): sandbox image baking promptarena + packc + gate scripts
  Makefile
  benchmarks/agents-brief-eval/Dockerfile
Due: none

refactor(examples): conform test-a-codegen-agent to example layout convention + layout test
  examples/test-a-codegen-agent/README.md
  examples/test-a-codegen-agent/config.arena.yaml
  examples/test-a-codegen-agent/live-gemini.arena.yaml
  examples/test-a-codegen-agent/mock.arena.yaml
  examples/test-a-codegen-agent/prompts/authoring-agent.yaml
  examples/test-a-codegen-agent/providers/claude.provider.yaml
  examples/test-a-codegen-agent/providers/mock-provider.yaml
  tools/arena/agentkb/authoring_gen_interactive.go
  tools/arena/agentkb/authoringpack_test.go
  tools/arena/agentkb/examplelayout_test.go
Due: none

feat(agents-brief-eval): arm-c harness skeleton with five gates
  benchmarks/agents-brief-eval/README.md
  benchmarks/agents-brief-eval/configs/arm-c-brief.arena.yaml
  benchmarks/agents-brief-eval/providers/claude.provider.yaml
  benchmarks/agents-brief-eval/scenarios/refund-assistant.scenario.yaml
Due: none

feat(agents-brief-eval): generate authoring pack from AgentsBrief + parity test
  benchmarks/agents-brief-eval/packs/authoring-agent.yaml
  tools/arena/agentkb/authoring_gen_interactive.go
  tools/arena/agentkb/authoringpack.go
  tools/arena/agentkb/authoringpack_test.go
Due: arena

docs(examples): add the faithfulness gate to test-a-codegen-agent README
  examples/test-a-codegen-agent/README.md
Due: none

feat(agents-brief-eval): gate + metric scripts with fixtures
  benchmarks/agents-brief-eval/tools/idiom-traps.sh
  benchmarks/agents-brief-eval/tools/scripts_test.sh
  benchmarks/agents-brief-eval/tools/testdata/good-kit/config.arena.yaml
  benchmarks/agents-brief-eval/tools/testdata/good-kit/scenarios/s1.scenario.yaml
  benchmarks/agents-brief-eval/tools/testdata/trap-kit/config.arena.yaml
  benchmarks/agents-brief-eval/tools/testdata/trap-kit/mock-responses.yaml
  benchmarks/agents-brief-eval/tools/testdata/trap-kit/orphan.yaml
  benchmarks/agents-brief-eval/tools/testdata/trap-kit/providers/mock-provider.yaml
  benchmarks/agents-brief-eval/tools/testdata/trap-kit/scenarios/s1.scenario.yaml
  benchmarks/agents-brief-eval/tools/unused-files.sh
Due: none

chore(agents-brief-eval): polish — python3 note, label, LIMITATION comment, ignore run dirs
  benchmarks/agents-brief-eval/.gitignore
  benchmarks/agents-brief-eval/report/summarize.sh
  benchmarks/agents-brief-eval/scenarios/refund-broken.mock.scenario.yaml
  benchmarks/agents-brief-eval/tools/unused-files.sh
Due: none

feat(arena): fire SessionHook lifecycle (start/per-turn update/end) in executeRun
  tools/arena/engine/conversation_executor.go
  tools/arena/engine/engine.go
  tools/arena/engine/execution.go
  tools/arena/engine/session_hook_context.go
  tools/arena/engine/session_hook_test.go
Due: arena

fix(agents-brief-eval): robust idiom-traps loops + valid JSON output
  benchmarks/agents-brief-eval/tools/idiom-traps.sh
  benchmarks/agents-brief-eval/tools/scripts_test.sh
Due: none

feat(arena): add `promptarena agent-brief` to install the authoring brief without scaffolding
  tools/arena/cmd/promptarena/agent_brief.go
  tools/arena/cmd/promptarena/agent_brief_test.go
Due: arena

feat(examples): brief the codegen sandbox + rewrite scenarios as naive developer asks
  examples/test-a-codegen-agent/Dockerfile
  examples/test-a-codegen-agent/README.md
  examples/test-a-codegen-agent/scenarios/code-reviewer.scenario.yaml
  examples/test-a-codegen-agent/scenarios/faq-bot.scenario.yaml
  examples/test-a-codegen-agent/scenarios/refund-assistant.scenario.yaml
  examples/test-a-codegen-agent/scenarios/sentiment-guardrail.scenario.yaml
  examples/test-a-codegen-agent/scenarios/triage-router.scenario.yaml
Due: none

fix(evals): tool_exec success_pattern/failure_pattern so command failures actually fail the gate
  examples/test-a-codegen-agent/config.arena.yaml
  examples/test-a-codegen-agent/live-gemini.arena.yaml
  examples/test-a-codegen-agent/scenarios/refund-assistant.mock.scenario.yaml
  examples/test-a-codegen-agent/scenarios/refund-broken.mock.scenario.yaml
  runtime/evals/handlers/tool_exec.go
  runtime/evals/handlers/tool_exec_test.go
Due: runtime

feat(examples): replace LLM-judge Gate 5 with a deterministic kit-adequacy gate
  examples/test-a-codegen-agent/Dockerfile
  examples/test-a-codegen-agent/README.md
  examples/test-a-codegen-agent/config.arena.yaml
  examples/test-a-codegen-agent/live-gemini.arena.yaml
  examples/test-a-codegen-agent/scenarios/code-reviewer.scenario.yaml
  examples/test-a-codegen-agent/scenarios/faq-bot.scenario.yaml
  examples/test-a-codegen-agent/scenarios/refund-assistant.scenario.yaml
  examples/test-a-codegen-agent/scenarios/sentiment-guardrail.scenario.yaml
  examples/test-a-codegen-agent/scenarios/triage-router.scenario.yaml
  examples/test-a-codegen-agent/tools/kit-quality.sh
  examples/test-a-codegen-agent/tools/scripts_test.sh
  examples/test-a-codegen-agent/tools/testdata/empty-kit/config.arena.yaml
  examples/test-a-codegen-agent/tools/testdata/trivial-kit/scenarios/s1.scenario.yaml
Due: none

feat(examples): wire the authoring skill via Arena `skills:` so the agent actually loads it
  examples/test-a-codegen-agent/config.arena.yaml
  examples/test-a-codegen-agent/live-gemini.arena.yaml
  examples/test-a-codegen-agent/mock.arena.yaml
  examples/test-a-codegen-agent/skills/promptarena-authoring/SKILL.md
  tools/arena/agentkb/authoring_gen_interactive.go
  tools/arena/agentkb/authoringpack_test.go
Due: none

fix(providers): place Claude cache_control on a content block, not the message
  runtime/providers/claude/claude.go
  runtime/providers/claude/claude_cache_test.go
  runtime/providers/claude/claude_tools.go
Due: runtime

fix(providers): apply Claude prompt caching on the streaming path + fix cached-token cost math
  runtime/providers/claude/caching_integration_test.go
  runtime/providers/claude/claude.go
  runtime/providers/claude/claude_integration_test.go
  runtime/providers/claude/claude_streaming.go
  runtime/providers/claude/claude_test.go
  runtime/providers/claude/claude_tools_test.go
Due: runtime

fix(arena): show the assertion's configured message in results, not the handler explanation
  tools/arena/engine/duplex_executor_assertions_integration.go
  tools/arena/engine/eval_conversation_executor.go
  tools/arena/engine/eval_orchestrator.go
  tools/arena/stages/assertions.go
Due: arena

test(arena): mock harness proves gate discrimination + stable report.html
  examples/test-a-codegen-agent/config.arena.yaml
  examples/test-a-codegen-agent/live-gemini.arena.yaml
  examples/test-a-codegen-agent/mock.arena.yaml
  examples/test-a-codegen-agent/scenarios/refund-assistant.mock.scenario.yaml
  examples/test-a-codegen-agent/scenarios/refund-assistant.scenario.yaml
  examples/test-a-codegen-agent/scenarios/refund-broken.mock.scenario.yaml
Due: none

revert(arena): remove --capture-workspace flag and sandbox API plumbing
  examples/test-a-codegen-agent/Dockerfile
  examples/test-a-codegen-agent/README.md
  examples/test-a-codegen-agent/config.arena.yaml
  examples/test-a-codegen-agent/live-gemini.arena.yaml
  examples/test-a-codegen-agent/mock.arena.yaml
  tools/arena/cmd/promptarena/run.go
  tools/arena/cmd/promptarena/run_interactive.go
  tools/arena/cmd/promptarena/yaml_config_test.go
  tools/arena/engine/execution.go
  tools/arena/engine/execution_mcpsource.go
  tools/arena/engine/mcpsource_scope.go
  tools/arena/engine/mcpsource_scope_integration_test.go
  tools/arena/mcpsource/docker/cli.go
  tools/arena/mcpsource/docker/source.go
  tools/arena/mcpsource/source.go
  tools/arena/sandboxcapture/capture.go
  tools/arena/sandboxcapture/capture_test.go
Due: arena

Path conditions:
  runtime: any of: runtime/, but not: **/*_test.go, **/*_interactive.go, **/*_integration.go, examples/, docs/, scripts/, .github/, *.md
  sdk: any of: sdk/, but not: **/*_test.go, **/*_interactive.go, **/*_integration.go, examples/, docs/, scripts/, .github/, *.md
  arena: any of: tools/arena/, but not: **/*_test.go, **/*_interactive.go, **/*_integration.go, examples/, docs/, scripts/, .github/, *.md
  packc: any of: tools/packc/, but not: **/*_test.go, **/*_interactive.go, **/*_integration.go, examples/, docs/, scripts/, .github/, *.md
  inspect-state: any of: tools/inspect-state/, but not: **/*_test.go, **/*_interactive.go, **/*_integration.go, examples/, docs/, scripts/, .github/, *.md
