Repository AltairaLabs/PromptKit: changes, and which Codecov flags are due for each by the changed paths.
All: runtime, sdk, arena, packc, inspect-state

codecov.yml:

codecov:
  require_ci_to_pass: yes
  notify:
    wait_for_ci: yes

coverage:
  precision: 2
  round: down
  range: "70...100"
  
  status:
    project:
      default:
        target: 70%
        threshold: 1%
        if_ci_failed: error
    patch:
      default:
        target: 70%
        threshold: 1%
        if_ci_failed: error

comment:
  layout: "reach,diff,flags,tree"
  behavior: default
  require_changes: false

flags:
  runtime:
    paths:
      - runtime/
  sdk:
    paths:
      - sdk/
  arena:
    paths:
      - tools/arena/
  packc:
    paths:
      - tools/packc/
  inspect-state:
    paths:
      - tools/inspect-state/

ignore:
  - "**/*_test.go"
  - "**/*_interactive.go"
  - "**/*_integration.go"
  - "examples/"
  - "docs/"
  - "scripts/"
  - ".github/"
  - "*.md"

fix: memory tools skip for anonymous users + Cartesia WS resilience + Realtime reconnect API
  runtime/providers/openai/realtime_session_integration.go
  runtime/tts/cartesia_interactive.go
  sdk/capability_memory.go
Due: sdk

fix: memory tools skip for anonymous users + Cartesia WS resilience + Realtime reconnect API (#903)
  runtime/providers/openai/realtime_session_integration.go
  runtime/tts/cartesia_interactive.go
  sdk/capability_memory.go
Due: sdk

fix(arena): audio file loading sets both Data and FilePath, breaking validation
  tools/arena/turnexecutors/media_loader.go
Due: arena

fix(arena): audio file loading breaks media validation with dual data sources (#904)
  tools/arena/turnexecutors/media_loader.go
Due: arena

fix(arena): duplex-streaming example — stale model + WAV wrapping
  examples/duplex-streaming/providers/gemini-2-flash.provider.yaml
  tools/arena/turnexecutors/media_loader.go
  tools/arena/turnexecutors/media_loader_wav_test.go
Due: arena

fix(arena): duplex-streaming example — stale model + WAV wrapping (#908)
  examples/duplex-streaming/providers/gemini-2-flash.provider.yaml
  tools/arena/turnexecutors/media_loader.go
  tools/arena/turnexecutors/media_loader_wav_test.go
Due: arena

fix: OpenAI Realtime duplex audio + Gemini EndInput cleanup + pipeline metrics
  runtime/pipeline/stage/pipeline.go
  runtime/providers/gemini/stream_session_integration.go
  runtime/providers/gemini/stream_session_test.go
  runtime/providers/openai/realtime_integration_test.go
  runtime/providers/openai/realtime_session_integration.go
  runtime/providers/openai/streaming_support_integration.go
  runtime/providers/stream_metrics.go
Due: runtime

test: coverage for pipeline stage Prometheus counters
  runtime/providers/stream_metrics_test.go
Due: none

test: coverage for pipeline metrics, EndInput wrapper, and instrumentStageInput
  runtime/pipeline/stage/pipeline_metrics_test.go
  runtime/providers/openai/streaming_support_endinput_test.go
  runtime/providers/stream_metrics.go
Due: runtime

fix: OpenAI Realtime duplex audio + Gemini EndInput + pipeline stage metrics (#911)
  runtime/pipeline/stage/pipeline.go
  runtime/pipeline/stage/pipeline_metrics_test.go
  runtime/providers/gemini/stream_session_integration.go
  runtime/providers/gemini/stream_session_test.go
  runtime/providers/openai/realtime_integration_test.go
  runtime/providers/openai/realtime_session_integration.go
  runtime/providers/openai/streaming_support_endinput_test.go
  runtime/providers/openai/streaming_support_integration.go
  runtime/providers/stream_metrics.go
  runtime/providers/stream_metrics_test.go
Due: runtime

fix(recording): audio playback mangled by cross-turn interleaving + wrong sample rate
  runtime/events/media_timeline.go
  runtime/providers/gemini/stream_session_protocol_integration.go
  runtime/providers/gemini/stream_session_test.go
Due: runtime

fix(recording): audio playback mangled by cross-turn interleaving + wrong sample rate (#912)
  runtime/events/media_timeline.go
  runtime/providers/gemini/stream_session_protocol_integration.go
  runtime/providers/gemini/stream_session_test.go
Due: runtime

feat: configurable output sample rate for Gemini and OpenAI Realtime sessions
  runtime/providers/gemini/stream_session_integration.go
  runtime/providers/gemini/stream_session_protocol_integration.go
  runtime/providers/gemini/stream_session_test.go
  runtime/providers/openai/realtime_session_integration.go
  runtime/providers/openai/realtime_types.go
  runtime/providers/openai/realtime_types_test.go
Due: runtime

feat: configurable output sample rate for Gemini and OpenAI Realtime sessions (#913)
  runtime/providers/gemini/stream_session_integration.go
  runtime/providers/gemini/stream_session_protocol_integration.go
  runtime/providers/gemini/stream_session_test.go
  runtime/providers/openai/realtime_session_integration.go
  runtime/providers/openai/realtime_types.go
  runtime/providers/openai/realtime_types_test.go
Due: runtime

fix: stale Claude model + Imagen content filter in examples (#905, #906)
  examples/arena-media-test/scenarios/imagen-generation.scenario.yaml
  examples/document-analysis/providers/claude-docs.provider.yaml
Due: none

test: add mock CI tests for document-analysis and arena-media-test examples
  Makefile
  examples/arena-media-test/config.arena-mock.yaml
  examples/arena-media-test/providers/mock-responses.yaml
  examples/document-analysis/mock-responses.yaml
Due: none

fix: stale Claude model + Imagen content filter in examples (#914)
  Makefile
  examples/arena-media-test/config.arena-mock.yaml
  examples/arena-media-test/providers/mock-responses.yaml
  examples/arena-media-test/scenarios/imagen-generation.scenario.yaml
  examples/document-analysis/mock-responses.yaml
  examples/document-analysis/providers/claude-docs.provider.yaml
Due: none

chore: initialize benchmarks module skeleton
  .gitignore
  benchmarks/Makefile
  benchmarks/go.mod
  benchmarks/go.sum
  benchmarks/internal/deps/deps.go
  go.work
Due: none

feat(benchmarks): add profile config types and YAML loader
  benchmarks/mockupstream/profile.go
  benchmarks/mockupstream/profile_test.go
  benchmarks/mockupstream/stt_ws_test.go
  benchmarks/profiles/fast.yaml
  benchmarks/profiles/realistic.yaml
Due: none

feat(benchmarks): add mock OpenAI SSE server
  benchmarks/mockupstream/openai_sse.go
  benchmarks/mockupstream/openai_sse_test.go
Due: none

feat(benchmarks): add mock Cartesia TTS WebSocket server
  benchmarks/mockupstream/tts_ws.go
  benchmarks/mockupstream/tts_ws_test.go
Due: none

feat(benchmarks): add mock Deepgram STT WebSocket server
  benchmarks/mockupstream/stt_ws.go
Due: none

fix(benchmarks): remove duplicate wsUpgrader from stt_ws.go
  benchmarks/mockupstream/stt_ws.go
Due: none

feat(benchmarks): add mock upstream CLI entry point
  benchmarks/mockupstream/main.go
Due: none

feat(benchmarks): add resource sampler (RSS/CPU via ps)
  benchmarks/harness/resource.go
  benchmarks/harness/resource_test.go
Due: none

feat(benchmarks): add metrics collection and percentile aggregation
  benchmarks/harness/main.go
  benchmarks/harness/metrics.go
  benchmarks/harness/metrics_test.go
Due: none

feat(benchmarks): add Round 1 streaming benchmark driver
  benchmarks/harness/streaming.go
  benchmarks/harness/streaming_test.go
Due: none

feat(benchmarks): add Round 2 voice pipeline benchmark driver
  benchmarks/harness/voice.go
  benchmarks/harness/voice_test.go
Due: none

feat(benchmarks): add JSON/markdown/CSV reporter
  benchmarks/harness/reporter.go
  benchmarks/harness/reporter_test.go
Due: none

feat(benchmarks): add harness CLI entry point
  benchmarks/harness/main.go
Due: none

feat(benchmarks): add LangChain and Pipecat framework implementations
  benchmarks/frameworks/langchain/Dockerfile
  benchmarks/frameworks/langchain/app.py
  benchmarks/frameworks/langchain/requirements.txt
  benchmarks/frameworks/pipecat/Dockerfile
  benchmarks/frameworks/pipecat/app.py
  benchmarks/frameworks/pipecat/requirements.txt
Due: none

feat(benchmarks): add PromptKit Round 1 streaming framework implementation
  benchmarks/frameworks/promptkit/round1/Dockerfile
  benchmarks/frameworks/promptkit/round1/chat.pack.json
  benchmarks/frameworks/promptkit/round1/go.mod
  benchmarks/frameworks/promptkit/round1/go.sum
  benchmarks/frameworks/promptkit/round1/main.go
  go.work
Due: none

feat(benchmarks): add Docker Compose orchestration and Makefile
  benchmarks/Makefile
  benchmarks/docker-compose.yaml
  benchmarks/harness/Dockerfile
  benchmarks/mockupstream/Dockerfile
Due: none

fix(benchmarks): compute throughput and wall clock in harness CLI
  benchmarks/harness/main.go
Due: none

fix(benchmarks): use valid PromptPack schema in benchmark chat pack
  benchmarks/frameworks/promptkit/round1/chat.pack.json
Due: none

feat(benchmarks): add Strands Agents framework implementation
  benchmarks/frameworks/strands/Dockerfile
  benchmarks/frameworks/strands/app.py
  benchmarks/frameworks/strands/requirements.txt
Due: none

feat(benchmarks): add Round 2 voice pipeline support
  benchmarks/frameworks/promptkit/round2/go.mod
  benchmarks/frameworks/promptkit/round2/go.sum
  benchmarks/frameworks/promptkit/round2/main.go
  benchmarks/mockupstream/stt_ws.go
  benchmarks/mockupstream/stt_ws_test.go
  benchmarks/mockupstream/tts_ws.go
  benchmarks/mockupstream/tts_ws_test.go
  go.work
Due: none

feat(benchmarks): rewrite Pipecat benchmark as Python asyncio voice pipeline
  benchmarks/frameworks/pipecat/app.py
  benchmarks/frameworks/pipecat/requirements.txt
Due: none

feat(benchmarks): add GenKit (Go) and LiveKit Agents framework implementations
  benchmarks/frameworks/genkit/Dockerfile
  benchmarks/frameworks/genkit/go.mod
  benchmarks/frameworks/genkit/go.sum
  benchmarks/frameworks/genkit/main.go
  benchmarks/frameworks/livekit-agents/Dockerfile
  benchmarks/frameworks/livekit-agents/app.py
  benchmarks/frameworks/livekit-agents/requirements.txt
  go.work
Due: none
