Repository AltairaLabs/PromptKit: changes, and which Codecov flags are due for each by the changed paths.
All: runtime, sdk, arena, packc, inspect-state

codecov.yml:

codecov:
  require_ci_to_pass: yes
  notify:
    wait_for_ci: yes

coverage:
  precision: 2
  round: down
  range: "70...100"
  
  status:
    project:
      default:
        target: 70%
        threshold: 1%
        if_ci_failed: error
    patch:
      default:
        target: 70%
        threshold: 1%
        if_ci_failed: error

comment:
  layout: "reach,diff,flags,tree"
  behavior: default
  require_changes: false

flags:
  runtime:
    paths:
      - runtime/
  sdk:
    paths:
      - sdk/
  arena:
    paths:
      - tools/arena/
  packc:
    paths:
      - tools/packc/
  inspect-state:
    paths:
      - tools/inspect-state/

ignore:
  - "**/*_test.go"
  - "**/*_interactive.go"
  - "**/*_integration.go"
  - "examples/"
  - "docs/"
  - "scripts/"
  - ".github/"
  - "*.md"

fix(gemini): send thinkingLevel for Gemini 3, not the superseded budget (#1846)
  runtime/providers/gemini/gemini.go
  runtime/providers/gemini/gemini3_reasoning_diag_test.go
  runtime/providers/gemini/gemini_thinking.go
  runtime/providers/gemini/gemini_thinking_level_test.go
Due: runtime

chore(deps): consolidate the open Dependabot bumps
  docs/package-lock.json
  docs/package.json
  pkg/go.mod
  pkg/go.sum
  runtime/go.mod
  runtime/go.sum
  sdk/go.mod
  sdk/go.sum
  server/a2a/go.mod
  server/a2a/go.sum
Due: runtime, sdk

chore(deps): consolidate the open Dependabot bumps (#1847)
  docs/package-lock.json
  docs/package.json
  pkg/go.mod
  pkg/go.sum
  runtime/go.mod
  runtime/go.sum
  sdk/go.mod
  sdk/go.sum
  server/a2a/go.mod
  server/a2a/go.sum
Due: runtime, sdk

fix(claude): apply ResponseFormat on the tool paths
  runtime/providers/claude/claude.go
  runtime/providers/claude/claude_streaming.go
  runtime/providers/claude/claude_tools.go
  runtime/providers/claude/claude_tools_response_format_test.go
  runtime/providers/claude/claude_tools_schema_live_integration_test.go
Due: runtime

fix(claude): apply ResponseFormat on the tool paths (#1849)
  runtime/providers/claude/claude.go
  runtime/providers/claude/claude_streaming.go
  runtime/providers/claude/claude_tools.go
  runtime/providers/claude/claude_tools_response_format_test.go
  runtime/providers/claude/claude_tools_schema_live_integration_test.go
Due: runtime

test(gemini): cover the schema-drop branch and the unknown-format path
  runtime/providers/gemini/gemini_response_format_test.go
Due: none

fix(gemini): send a response schema when the round cannot call a tool
  runtime/providers/conformance/json_output_live_integration_test.go
  runtime/providers/gemini/gemini.go
  runtime/providers/gemini/gemini_response_format_test.go
  runtime/providers/gemini/gemini_tools.go
  runtime/providers/gemini/gemini_tools_schema_live_integration_test.go
Due: runtime

docs(gemini): this is an API-choice limit, not a Gemini limit
  runtime/providers/conformance/json_output_live_integration_test.go
  runtime/providers/conformance/wire_feature_matrix_test.go
  runtime/providers/gemini/gemini_tools.go
Due: runtime

test(providers): assert request features reach the wire on all four paths
  runtime/providers/conformance/wire_feature_matrix_test.go
  runtime/providers/gemini/gemini.go
  runtime/providers/gemini/gemini_tools.go
  runtime/providers/gemini/gemini_tools_schema_live_integration_test.go
Due: runtime

Revert "fix(gemini): send a response schema when the round cannot call a tool"
  runtime/providers/conformance/json_output_live_integration_test.go
  runtime/providers/gemini/gemini.go
  runtime/providers/gemini/gemini_response_format_test.go
  runtime/providers/gemini/gemini_tools.go
  runtime/providers/gemini/gemini_tools_schema_live_integration_test.go
Due: runtime

test(providers): assert the assistant turn is JSON, not just that the schema was sent
  runtime/providers/conformance/json_output_live_integration_test.go
  runtime/providers/conformance/wire_feature_matrix_test.go
  runtime/providers/gemini/gemini.go
  runtime/providers/gemini/gemini_response_format_test.go
  runtime/providers/gemini/gemini_tools.go
  runtime/providers/gemini/gemini_tools_schema_live_integration_test.go
Due: runtime

fix(gemini): send a response schema with tools where the model allows it
  runtime/providers/conformance/wire_feature_matrix_test.go
  runtime/providers/gemini/gemini.go
  runtime/providers/gemini/gemini_tools.go
  runtime/providers/gemini/gemini_tools_schema_live_integration_test.go
Due: runtime

test(providers): assert request features reach the wire on all four paths (#1850)
  runtime/providers/conformance/json_output_live_integration_test.go
  runtime/providers/conformance/wire_feature_matrix_test.go
  runtime/providers/gemini/gemini.go
  runtime/providers/gemini/gemini_response_format_test.go
  runtime/providers/gemini/gemini_tools.go
  runtime/providers/gemini/gemini_tools_schema_live_integration_test.go
Due: runtime

feat(gemini): structured output with tools via the Interactions API
  runtime/providers/gemini/gemini.go
  runtime/providers/gemini/gemini_tools.go
  runtime/providers/gemini/interactions_convert.go
  runtime/providers/gemini/interactions_convert_test.go
  runtime/providers/gemini/interactions_live_integration_test.go
  runtime/providers/gemini/interactions_mode.go
  runtime/providers/gemini/interactions_mode_test.go
  runtime/providers/gemini/interactions_request.go
  runtime/providers/gemini/interactions_types.go
Due: runtime

feat(gemini): stream structured output with tools via the Interactions API
  runtime/providers/gemini/gemini_tools.go
  runtime/providers/gemini/interactions_live_integration_test.go
  runtime/providers/gemini/interactions_stream.go
  runtime/providers/gemini/interactions_stream_test.go
Due: runtime

fix(claude): use adaptive thinking on models that reject budget_tokens
  runtime/providers/claude/claude.go
  runtime/providers/claude/claude_adaptive_thinking_live_test.go
  runtime/providers/claude/claude_adaptive_thinking_test.go
  runtime/providers/claude/pricing_table.go
Due: runtime

fix(claude): use adaptive thinking on models that reject budget_tokens (#1854)
  runtime/providers/claude/claude.go
  runtime/providers/claude/claude_adaptive_thinking_live_test.go
  runtime/providers/claude/claude_adaptive_thinking_test.go
  runtime/providers/claude/pricing_table.go
Due: runtime

feat(gemini): structured output with tools via the Interactions API (#1852)
  runtime/providers/gemini/gemini.go
  runtime/providers/gemini/gemini_tools.go
  runtime/providers/gemini/interactions_convert.go
  runtime/providers/gemini/interactions_convert_test.go
  runtime/providers/gemini/interactions_live_integration_test.go
  runtime/providers/gemini/interactions_mode.go
  runtime/providers/gemini/interactions_mode_test.go
  runtime/providers/gemini/interactions_request.go
  runtime/providers/gemini/interactions_stream.go
  runtime/providers/gemini/interactions_stream_test.go
  runtime/providers/gemini/interactions_types.go
Due: runtime

feat(pipeline): constrain structured output to the final turn, not every round
  docs/src/content/docs/runtime/reference/pipeline.md
  docs/src/content/docs/sdk/reference/conversation-manager.md
  runtime/pipeline/stage/reasoning_completed_test.go
  runtime/pipeline/stage/stages_provider.go
  runtime/pipeline/stage/stages_provider_test.go
  runtime/pipeline/stage/structured_output_live_integration_test.go
  runtime/pipeline/stage/structured_output_mode.go
  runtime/pipeline/stage/structured_output_mode_test.go
  sdk/conversation.go
  sdk/internal/pipeline/builder.go
  sdk/options.go
Due: runtime, sdk

test(pipeline): verify final-turn structured output across all three providers
  docs/src/content/docs/runtime/reference/pipeline.md
  runtime/pipeline/stage/structured_output_live_integration_test.go
  runtime/pipeline/stage/structured_output_mode.go
  runtime/pipeline/stage/structured_output_mode_test.go
  runtime/providers/conformance/json_output_live_integration_test.go
Due: runtime

test(sdk,pipeline): close two gaps in the final-turn structured output coverage
  docs/src/content/docs/runtime/reference/pipeline.md
  runtime/pipeline/stage/stages_provider.go
  runtime/pipeline/stage/structured_output_mode.go
  runtime/pipeline/stage/structured_output_mode_test.go
  sdk/options_structured_output_test.go
Due: runtime

fix(pipeline): stream the final-turn re-ask, and cover it end-to-end via the SDK
  runtime/pipeline/stage/stages_provider.go
  runtime/pipeline/stage/structured_output_mode.go
  runtime/pipeline/stage/structured_output_mode_test.go
  sdk/structured_output_live_integration_test.go
Due: runtime

test(pipeline): cover the re-ask's provider events and its streaming failure path
  runtime/pipeline/stage/structured_output_mode_test.go
Due: none

feat(pipeline): constrain structured output to the final turn, not every round (#1855)
  docs/src/content/docs/runtime/reference/pipeline.md
  docs/src/content/docs/sdk/reference/conversation-manager.md
  runtime/pipeline/stage/reasoning_completed_test.go
  runtime/pipeline/stage/stages_provider.go
  runtime/pipeline/stage/stages_provider_test.go
  runtime/pipeline/stage/structured_output_live_integration_test.go
  runtime/pipeline/stage/structured_output_mode.go
  runtime/pipeline/stage/structured_output_mode_test.go
  runtime/providers/conformance/json_output_live_integration_test.go
  sdk/conversation.go
  sdk/internal/pipeline/builder.go
  sdk/options.go
  sdk/options_structured_output_test.go
  sdk/structured_output_live_integration_test.go
Due: runtime, sdk

fix(openai): stop sending top_p:0, and default temperature off first-gen GPT-5
  runtime/pipeline/stage/structured_output_live_integration_test.go
  runtime/providers/openai/openai.go
  runtime/providers/openai/pricing_table.go
  runtime/providers/openai/zero_value_params_test.go
Due: runtime

fix(evals): populate the eval context, and stop inventing verdicts for evals
  runtime/evals/context.go
  runtime/evals/runner.go
  runtime/evals/runner_test.go
  runtime/events/emitter_test.go
  runtime/events/types.go
  runtime/telemetry/listener.go
  runtime/telemetry/listener_test.go
  sdk/eval_integration_test.go
  sdk/eval_middleware.go
  sdk/eval_toolcalls_regression_test.go
Due: runtime, sdk

fix(openai): stop sending top_p:0, and default temperature off first-gen GPT-5 (#1860)
  runtime/pipeline/stage/structured_output_live_integration_test.go
  runtime/providers/openai/openai.go
  runtime/providers/openai/pricing_table.go
  runtime/providers/openai/zero_value_params_test.go
Due: runtime

fix(evals): populate the eval context, and stop inventing verdicts for evals (#1861)
  runtime/evals/context.go
  runtime/evals/runner.go
  runtime/evals/runner_test.go
  runtime/events/emitter_test.go
  runtime/events/types.go
  runtime/telemetry/listener.go
  runtime/telemetry/listener_test.go
  sdk/eval_integration_test.go
  sdk/eval_middleware.go
  sdk/eval_toolcalls_regression_test.go
Due: runtime, sdk

test: stop two timing assertions from measuring the host instead of the code
  runtime/storage/instrumented_test.go
  sdk/evaluate_test.go
Due: none

test: stop two timing assertions from measuring the host instead of the code (#1862)
  runtime/storage/instrumented_test.go
  sdk/evaluate_test.go
Due: none

fix(telemetry): record an errored eval as an error span
  runtime/pipeline/stage/structured_output_mode.go
  runtime/telemetry/listener.go
  runtime/telemetry/listener_test.go
Due: runtime

fix(telemetry): record an errored eval as an error span (#1863)
  runtime/pipeline/stage/structured_output_mode.go
  runtime/telemetry/listener.go
  runtime/telemetry/listener_test.go
Due: runtime

chore(gemini): price the 3.x models, and move examples off deprecated 2.5
  runtime/providers/gemini/duplex_integration_test.go
  runtime/providers/gemini/pricing_reachability_test.go
  runtime/providers/gemini/pricing_table.go
  sdk/examples/duplex-streaming/main.go
  sdk/examples/duplex-streaming/main_interactive.go
  sdk/examples/realtime-video/main.go
  sdk/examples/voice-interview/README.md
  sdk/reasoning_rounds_live_integration_test.go
  server/a2a/examples/a2a-demo/arena/providers/gemini-flash.provider.yaml
Due: runtime, sdk

chore(gemini): price the 3.x models, and move examples off deprecated 2.5 (#1864)
  runtime/providers/gemini/duplex_integration_test.go
  runtime/providers/gemini/pricing_reachability_test.go
  runtime/providers/gemini/pricing_table.go
  sdk/examples/duplex-streaming/main.go
  sdk/examples/duplex-streaming/main_interactive.go
  sdk/examples/realtime-video/main.go
  sdk/examples/voice-interview/README.md
  sdk/reasoning_rounds_live_integration_test.go
  server/a2a/examples/a2a-demo/arena/providers/gemini-flash.provider.yaml
Due: runtime, sdk

test(events): write down which event types reach an ordinary consumer
  runtime/pipeline/stage/event_route_boundary_test.go
Due: none

test(events): write down which event types reach an ordinary consumer (#1865)
  runtime/pipeline/stage/event_route_boundary_test.go
Due: none

feat(telemetry): gate conversation content behind opt-in capture and a redactor
  docs/src/content/docs/runtime/reference/telemetry.md
  docs/src/content/docs/sdk/reference/conversation-manager.md
  runtime/telemetry/content_capture.go
  runtime/telemetry/content_capture_test.go
  runtime/telemetry/listener.go
  runtime/telemetry/listener_test.go
  sdk/integration/telemetry_content_test.go
  sdk/options.go
  sdk/sdk.go
Due: runtime, sdk

feat(telemetry): gate conversation content behind opt-in capture and a redactor (#1866)
  docs/src/content/docs/runtime/reference/telemetry.md
  docs/src/content/docs/sdk/reference/conversation-manager.md
  runtime/telemetry/content_capture.go
  runtime/telemetry/content_capture_test.go
  runtime/telemetry/listener.go
  runtime/telemetry/listener_test.go
  sdk/integration/telemetry_content_test.go
  sdk/options.go
  sdk/sdk.go
Due: runtime, sdk

refactor(events): move redaction to a subscriber wrapper, not a telemetry hook
  docs/src/content/docs/runtime/reference/telemetry.md
  docs/src/content/docs/sdk/reference/conversation-manager.md
  runtime/events/redact.go
  runtime/events/redact_test.go
  runtime/telemetry/content_capture.go
  runtime/telemetry/content_capture_test.go
  sdk/integration/telemetry_content_test.go
  sdk/options.go
  sdk/sdk.go
Due: runtime, sdk

docs(examples): add telemetry-redaction, showing what content reaches consumers
  go.work
  sdk/examples/telemetry-redaction/README.md
  sdk/examples/telemetry-redaction/go.mod
  sdk/examples/telemetry-redaction/go.sum
  sdk/examples/telemetry-redaction/main.go
  sdk/examples/telemetry-redaction/smoke_test.go
  sdk/examples/telemetry-redaction/telemetry.pack.json
Due: sdk
