Repository AltairaLabs/PromptKit: changes, and which Codecov flags are due for each by the changed paths.
All: runtime, sdk, arena, packc, inspect-state

docs(voice): note barge-in flush + headphones-until-AEC (#1485)
  examples/voice-console-asm/README.md
Due: none

test(voice): rename repurposed TTS interruption tests for clarity (#1485)
  runtime/pipeline/stage/tts_interruption_stage_test.go
Due: none

feat(audio): media-frame + Source/Sink/Session interfaces (#1503)
  runtime/audio/media.go
  runtime/audio/media_test.go
  runtime/audio/memio.go
Due: runtime

fix(audio): make MemSource.Close idempotent (#1503)
  runtime/audio/media_test.go
  runtime/audio/memio.go
Due: runtime

refactor(audio): move PortAudio I/O into runtime/audio behind Session (#1504)
  runtime/audio/portaudio_discovery.go
  runtime/audio/portaudio_dlopen_other.go
  runtime/audio/portaudio_dlopen_windows.go
  runtime/audio/portaudio_session.go
  runtime/audio/portaudio_session_test.go
  tools/arena/voice/audioio_test.go
  tools/arena/voice/session_audioio.go
  tools/arena/voice/session_audioio_interactive.go
  tools/arena/voice/session_audioio_test.go
Due: runtime, arena

feat(audio): configurable capture/playback rate on NewPortAudioSession (#1504)
  runtime/audio/portaudio_io_interactive.go
  runtime/audio/portaudio_session.go
  runtime/audio/portaudio_session_test.go
Due: runtime

test(audio): make Source-format test deterministic; use named frame constants (#1504)
  runtime/audio/portaudio_session_test.go
Due: none

refactor(examples): migrate openai-realtime interactive to shared audio.Session (#1504)
  sdk/examples/openai-realtime/main_interactive.go
Due: none

refactor(examples): migrate duplex-streaming interactive to shared audio.Session (#1504)
  sdk/examples/duplex-streaming/main.go
  sdk/examples/duplex-streaming/main_interactive.go
Due: sdk

refactor(examples): migrate voice-interview audio helper to shared audio.Session (#1504)
  sdk/examples/voice-interview/audio/portaudio.go
Due: sdk

chore(sdk): drop gordonklaus/portaudio after example migration (#1504)
  sdk/go.mod
  sdk/go.sum
Due: sdk

fix(examples): guard hasAudioEnergy against empty frames (#1504)
  sdk/examples/duplex-streaming/main_interactive.go
  sdk/examples/openai-realtime/main_interactive.go
Due: none

docs(audio): clarify Sink.Write fixed playback rate; copy MemSink.Written (#1504)
  runtime/audio/media.go
  runtime/audio/memio.go
  runtime/audio/portaudio_session.go
Due: runtime

feat(audio): DuplexRate constant + sample-clock PTS (#1505)
  runtime/audio/clock.go
  runtime/audio/clock_test.go
  runtime/audio/portaudio_session.go
  runtime/audio/resample.go
Due: runtime

test(audio): use DuplexRate constant in playback-rate test (#1505)
  runtime/audio/portaudio_session_test.go
Due: none

feat(audio): bounded playback jitter buffer with silence-fill (#1505)
  runtime/audio/jitterbuffer.go
  runtime/audio/jitterbuffer_test.go
Due: runtime

refactor(audio): rename JitterBuffer.cap, guard zero-cap Pull, add edge tests (#1505)
  runtime/audio/jitterbuffer.go
  runtime/audio/jitterbuffer_test.go
Due: runtime

feat(audio): single 48kHz duplex stream + resample at seams (#1505)
  runtime/audio/portaudio_duplex.go
  runtime/audio/portaudio_duplex_test.go
  runtime/audio/portaudio_io_interactive.go
  runtime/audio/portaudio_session.go
  runtime/audio/portaudio_session_test.go
Due: runtime

feat(audio): half-duplex fallback when duplex stream unavailable (#1505)
  runtime/audio/portaudio_io_interactive.go
  runtime/audio/portaudio_session.go
  runtime/audio/portaudio_session_test.go
Due: runtime

docs(voice): note same-device requirement for duplex/AEC, half-duplex degrade (#1505)
  examples/voice-console-asm/README.md
Due: none

refactor(audio): make portaudioIO.duplex atomic (#1505)
  runtime/audio/portaudio_duplex.go
  runtime/audio/portaudio_duplex_test.go
  runtime/audio/portaudio_io_interactive.go
  runtime/audio/portaudio_session_test.go
Due: runtime

feat(audio): document Sink real-time cadence + warn on jitter overflow (#1505)
  runtime/audio/portaudio_duplex.go
  runtime/audio/portaudio_duplex_test.go
  runtime/audio/portaudio_io_interactive.go
  runtime/audio/portaudio_session.go
Due: runtime

fix(audio): default to two-stream playback, make 48kHz duplex opt-in (#1505)
  runtime/audio/portaudio_session.go
Due: runtime

fix(voice): surface realtime barge-in out-of-band, decoupled from paced playback
  runtime/audio/interruption.go
  runtime/audio/interruption_barge_in_test.go
  runtime/providers/openai/realtime_barge_in_test.go
  runtime/providers/openai/realtime_session_integration.go
  runtime/providers/openai/realtime_session_lifecycle_test.go
  runtime/providers/openai/realtime_types_test.go
  runtime/providers/openai/realtime_websocket_integration.go
  runtime/providers/streaming_input.go
Due: runtime

feat(voice): wire ASM barge-in end-to-end (stop playback when user interrupts)
  runtime/pipeline/stage/stages_duplex_provider_integration.go
  runtime/providers/openai/realtime_barge_in_test.go
  runtime/providers/openai/realtime_session_integration.go
  tools/arena/engine/duplex_executor_pipeline_integration.go
  tools/arena/engine/duplex_interactive.go
  tools/arena/engine/duplex_interactive_test.go
  tools/arena/engine/interfaces.go
Due: arena

feat(voice): make barge-in a consistent provider-interface capability + fix user turns
  runtime/pipeline/stage/stages_duplex_provider_integration.go
  runtime/pipeline/stage/stages_streaming_test.go
  runtime/providers/gemini/stream_session_integration.go
  runtime/providers/gemini/stream_session_protocol_integration.go
  runtime/providers/mock/mock_streaming_interactive.go
  runtime/providers/openai/realtime_barge_in_test.go
  runtime/providers/openai/realtime_session_integration.go
  runtime/providers/openai/streaming_support_integration.go
  runtime/providers/openai/streaming_support_test.go
  runtime/providers/replay/streaming.go
  runtime/providers/streaming_input.go
  runtime/providers/streaming_input_test.go
  tools/arena/cmd/promptarena/chat_interactive.go
  tools/arena/engine/duplex_executor_pipeline_integration.go
  tools/arena/engine/duplex_interactive.go
  tools/arena/engine/duplex_interactive_test.go
  tools/arena/engine/interfaces.go
Due: runtime, arena

feat(examples): add Gemini realtime provider to voice-console-asm
  examples/voice-console-asm/config.arena.yaml
  examples/voice-console-asm/providers/gemini-realtime.provider.yaml
Due: none

refactor(voice): extract shared StreamPump so barge-in behaves identically across providers
  runtime/providers/gemini/stream_session_integration.go
  runtime/providers/gemini/stream_session_protocol_integration.go
  runtime/providers/gemini/stream_session_test.go
  runtime/providers/gemini/streaming_support_test.go
  runtime/providers/openai/realtime_session_integration.go
  runtime/providers/stream_pump.go
  runtime/providers/stream_pump_test.go
Due: runtime

fix(voice): flush in-flight playback on barge-in + clean interrupt state (#1485) (#1509)
  examples/voice-console-asm/README.md
  runtime/pipeline/stage/stages_speech_integration.go
  runtime/pipeline/stage/tts_interruption_stage_test.go
  tools/arena/engine/duplex_interactive.go
  tools/arena/engine/duplex_interactive_multiturn_test.go
  tools/arena/engine/duplex_interactive_test.go
  tools/arena/tui/app/chatpage_voice.go
  tools/arena/tui/app/chatpage_voice_test.go
  tools/arena/voice/audioio_interactive.go
  tools/arena/voice/audioio_test.go
  tools/arena/voice/driver.go
  tools/arena/voice/driver_test.go
  tools/arena/voice/types.go
Due: arena

fix(sdk): implement BargeIn() on SDK test mock stream sessions
  sdk/conversation_test.go
  sdk/sdk_test.go
Due: none

feat(types): ReasoningTrace + Message.Reasoning sibling-of-content + StripReasoning (#1527)
  runtime/types/content.go
  runtime/types/message.go
  runtime/types/reasoning_test.go
Due: runtime

feat(reasoning): stream reasoning live + attach to Message.Reasoning; Gemini realtime producer (#1527)
  runtime/pipeline/stage/element.go
  runtime/pipeline/stage/element_test.go
  runtime/pipeline/stage/stages_duplex_provider_integration.go
  runtime/pipeline/stage/stages_streaming_test.go
  runtime/providers/gemini/stream_session_protocol_integration.go
  runtime/providers/gemini/stream_session_test.go
  runtime/providers/gemini/stream_session_types_integration.go
  runtime/providers/streaming.go
Due: runtime

feat(pipeline): gate reasoning persistence behind PersistReasoning (default off) (#1527)
  runtime/pipeline/stage/stages_save.go
Due: runtime

feat(reasoning): carry PredictionResponse.Reasoning onto Message.Reasoning (#1527)
  runtime/pipeline/stage/stages_provider.go
  runtime/providers/provider.go
Due: runtime

feat(claude): emit reasoning on Message.Reasoning, not thinking parts (#1527)
  runtime/providers/claude/claude.go
  runtime/providers/claude/claude_reasoning_test.go
  runtime/providers/claude/claude_test.go
  runtime/providers/claude/claude_tools.go
  runtime/providers/claude/claude_tools_test.go
Due: runtime

feat(reasoning): regular streaming stage accumulates reasoning -> Message.Reasoning (#1527)
  runtime/pipeline/stage/stages_provider.go
  runtime/pipeline/stage/stages_provider_test.go
Due: runtime

feat(gemini): route generate thought text to Message.Reasoning (#1527)
  runtime/providers/gemini/gemini.go
  runtime/providers/gemini/gemini_reasoning_test.go
  runtime/providers/gemini/gemini_streaming.go
Due: runtime

fix(statestore): clone Message.Reasoning in deepCopyState + reasoning integration tests (#1527)
  runtime/pipeline/stage/stages_provider_test.go
  runtime/pipeline/stage/stages_save_test.go
  runtime/statestore/memory.go
Due: runtime

feat(reasoning): unified reasoning/thinking across providers — backend (Plans 1+2) (#1527) (#1528)
  runtime/pipeline/stage/element.go
  runtime/pipeline/stage/element_test.go
  runtime/pipeline/stage/stages_duplex_provider_integration.go
  runtime/pipeline/stage/stages_provider.go
  runtime/pipeline/stage/stages_provider_test.go
  runtime/pipeline/stage/stages_save.go
  runtime/pipeline/stage/stages_save_test.go
  runtime/pipeline/stage/stages_streaming_test.go
  runtime/providers/claude/claude.go
  runtime/providers/claude/claude_reasoning_test.go
  runtime/providers/claude/claude_test.go
  runtime/providers/claude/claude_tools.go
  runtime/providers/claude/claude_tools_test.go
  runtime/providers/gemini/gemini.go
  runtime/providers/gemini/gemini_reasoning_test.go
  runtime/providers/gemini/gemini_streaming.go
  runtime/providers/gemini/stream_session_protocol_integration.go
  runtime/providers/gemini/stream_session_test.go
  runtime/providers/gemini/stream_session_types_integration.go
  runtime/providers/provider.go
  runtime/providers/streaming.go
  runtime/statestore/memory.go
  runtime/types/content.go
  runtime/types/message.go
  runtime/types/reasoning_test.go
Due: runtime

Path conditions:
  runtime: any of: runtime/, but not: **/*_test.go, **/*_interactive.go, **/*_integration.go, examples/, docs/, scripts/, .github/, *.md
  sdk: any of: sdk/, but not: **/*_test.go, **/*_interactive.go, **/*_integration.go, examples/, docs/, scripts/, .github/, *.md
  arena: any of: tools/arena/, but not: **/*_test.go, **/*_interactive.go, **/*_integration.go, examples/, docs/, scripts/, .github/, *.md
  packc: any of: tools/packc/, but not: **/*_test.go, **/*_interactive.go, **/*_integration.go, examples/, docs/, scripts/, .github/, *.md
  inspect-state: any of: tools/inspect-state/, but not: **/*_test.go, **/*_interactive.go, **/*_integration.go, examples/, docs/, scripts/, .github/, *.md
