Repository AltairaLabs/PromptKit: changes, and which Codecov flags are due for each by the changed paths.
All: runtime, sdk, arena, packc, inspect-state

codecov.yml:

codecov:
  require_ci_to_pass: yes
  notify:
    wait_for_ci: yes

coverage:
  precision: 2
  round: down
  range: "70...100"
  
  status:
    project:
      default:
        target: 70%
        threshold: 1%
        if_ci_failed: error
    patch:
      default:
        target: 70%
        threshold: 1%
        if_ci_failed: error

comment:
  layout: "reach,diff,flags,tree"
  behavior: default
  require_changes: false

flags:
  runtime:
    paths:
      - runtime/
  sdk:
    paths:
      - sdk/
  arena:
    paths:
      - tools/arena/
  packc:
    paths:
      - tools/packc/
  inspect-state:
    paths:
      - tools/inspect-state/

ignore:
  - "**/*_test.go"
  - "**/*_interactive.go"
  - "**/*_integration.go"
  - "examples/"
  - "docs/"
  - "scripts/"
  - ".github/"
  - "*.md"

ci: capture integration test coverage with -coverpkg
  .github/workflows/ci.yml
Due: none

test(sdk): add smoke tests for 8 SDK examples
  sdk/examples/client-tools/smoke_test.go
  sdk/examples/evaluate/smoke_test.go
  sdk/examples/hello/smoke_test.go
  sdk/examples/hooks/smoke_test.go
  sdk/examples/runtime-config/smoke_test.go
  sdk/examples/streaming/smoke_test.go
  sdk/examples/tools/smoke_test.go
  sdk/examples/variables/smoke_test.go
Due: none

feat(sdk): add comprehensive SDK integration tests (Phases 1-10) (#710)
  .github/workflows/ci.yml
  runtime/pipeline/stage/pipeline.go
  sdk/examples/client-tools/smoke_test.go
  sdk/examples/evaluate/smoke_test.go
  sdk/examples/hello/smoke_test.go
  sdk/examples/hooks/smoke_test.go
  sdk/examples/runtime-config/smoke_test.go
  sdk/examples/streaming/smoke_test.go
  sdk/examples/tools/smoke_test.go
  sdk/examples/variables/smoke_test.go
  sdk/integration/a2a_test.go
  sdk/integration/capability_test.go
  sdk/integration/conversation_test.go
  sdk/integration/errors_test.go
  sdk/integration/eval_test.go
  sdk/integration/events_test.go
  sdk/integration/helpers_test.go
  sdk/integration/metrics_test.go
  sdk/integration/state_test.go
  sdk/integration/streaming_test.go
  sdk/integration/tools_test.go
  sdk/integration/validation_test.go
  sdk/integration/workflow_test.go
  sdk/integration_test.go
  sdk/local_agent_executor_integration.go
  sdk/session/unary_session.go
Due: runtime, sdk

fix(sdk): correct client tools lifecycle hooks, call ID propagation, and tool call preservation
  runtime/pipeline/stage/pipeline.go
  runtime/pipeline/stage/stages_provider.go
  runtime/pipeline/stage/stages_utilities_test.go
  runtime/tools/context.go
  runtime/tools/context_test.go
  sdk/client_tools.go
  sdk/client_tools_lifecycle_test.go
  sdk/client_tools_test.go
  sdk/conversation.go
  sdk/integration/client_tools_test.go
Due: runtime, sdk

test(sdk): add comprehensive client tools integration tests
  sdk/integration/client_tools_test.go
Due: none

fix(events): emit proper lifecycle events for async client tools
  docs/src/content/docs/architecture/runtime-events.md
  docs/src/content/docs/sdk/how-to/monitor-events.md
  runtime/events/emitter.go
  runtime/events/emitter_test.go
  runtime/events/types.go
  runtime/pipeline/stage/stages_provider.go
  runtime/pipeline/stage/stages_provider_test.go
  sdk/client_tools.go
  sdk/integration/client_tools_test.go
Due: runtime, sdk

fix(sdk): correct client tools lifecycle hooks, call ID propagation, and tool call preservation (#711)
  docs/src/content/docs/architecture/runtime-events.md
  docs/src/content/docs/sdk/how-to/monitor-events.md
  runtime/events/emitter.go
  runtime/events/emitter_test.go
  runtime/events/types.go
  runtime/pipeline/stage/pipeline.go
  runtime/pipeline/stage/stages_provider.go
  runtime/pipeline/stage/stages_provider_test.go
  runtime/pipeline/stage/stages_utilities_test.go
  runtime/tools/context.go
  runtime/tools/context_test.go
  sdk/client_tools.go
  sdk/client_tools_lifecycle_test.go
  sdk/client_tools_test.go
  sdk/conversation.go
  sdk/integration/client_tools_test.go
Due: runtime, sdk

feat(sdk): wire client tool execution in duplex mode (#712)
  sdk/sdk.go
  sdk/session/duplex_session.go
  sdk/session/duplex_session_pipeline_test.go
  sdk/session/duplex_tool_executor.go
  sdk/session/duplex_tool_executor_test.go
  sdk/session/session.go
Due: sdk

feat(sdk): add HITL support for duplex mode tool calls
  sdk/conversation_tools.go
  sdk/hitl_test.go
  sdk/integration/duplex_tools_test.go
  sdk/sdk.go
  sdk/sdk_test.go
  sdk/session/duplex_session.go
  sdk/session/duplex_tool_executor.go
  sdk/session/duplex_tool_executor_test.go
  sdk/session/session.go
Due: sdk

fix(sdk): stabilize TestEvents_SequenceOrder flaky test
  sdk/integration/helpers_test.go
Due: none

feat(sdk): wire client tool execution in duplex mode (#713)
  sdk/conversation_tools.go
  sdk/hitl_test.go
  sdk/integration/duplex_tools_test.go
  sdk/integration/helpers_test.go
  sdk/sdk.go
  sdk/sdk_test.go
  sdk/session/duplex_session.go
  sdk/session/duplex_session_pipeline_test.go
  sdk/session/duplex_tool_executor.go
  sdk/session/duplex_tool_executor_test.go
  sdk/session/session.go
Due: sdk

feat(events): extract Bus interface, add session identity, decouple store
  docs/src/content/docs/architecture/runtime-events.md
  docs/src/content/docs/sdk/explanation/observability.md
  docs/src/content/docs/sdk/how-to/run-evals.md
  docs/src/content/docs/sdk/reference/index.md
  runtime/events/bus.go
  runtime/events/bus_test.go
  runtime/events/emitter.go
  runtime/events/emitter_test.go
  runtime/events/store.go
  runtime/events/store_test.go
  runtime/events/types.go
  runtime/pipeline/stage/stages_recording.go
  sdk/agui/adapter.go
  sdk/agui/adapter_test.go
  sdk/capability.go
  sdk/conversation.go
  sdk/evaluate.go
  sdk/hooks/events.go
  sdk/hooks/events_test.go
  sdk/internal/pipeline/builder.go
  sdk/options.go
  sdk/options_test.go
  sdk/sdk.go
  sdk/sdk_test.go
  sdk/template.go
  sdk/validators_to_hooks_test.go
  sdk/workflow.go
  tools/arena/engine/engine.go
  tools/arena/engine/interfaces.go
  tools/arena/engine/session_recording_test.go
  tools/arena/tui/event_adapter.go
  tools/arena/turnexecutors/interfaces.go
Due: runtime, sdk, arena

fix: extract newCapabilityContext to eliminate duplicated blocks
  sdk/capability.go
  sdk/sdk.go
  sdk/template.go
  sdk/workflow.go
Due: sdk

feat(events): extract Bus interface, add session identity, decouple store (#714)
  docs/src/content/docs/architecture/runtime-events.md
  docs/src/content/docs/sdk/explanation/observability.md
  docs/src/content/docs/sdk/how-to/run-evals.md
  docs/src/content/docs/sdk/reference/index.md
  runtime/events/bus.go
  runtime/events/bus_test.go
  runtime/events/emitter.go
  runtime/events/emitter_test.go
  runtime/events/store.go
  runtime/events/store_test.go
  runtime/events/types.go
  runtime/pipeline/stage/stages_recording.go
  sdk/agui/adapter.go
  sdk/agui/adapter_test.go
  sdk/capability.go
  sdk/conversation.go
  sdk/evaluate.go
  sdk/hooks/events.go
  sdk/hooks/events_test.go
  sdk/internal/pipeline/builder.go
  sdk/options.go
  sdk/options_test.go
  sdk/sdk.go
  sdk/sdk_test.go
  sdk/template.go
  sdk/validators_to_hooks_test.go
  sdk/workflow.go
  tools/arena/engine/engine.go
  tools/arena/engine/interfaces.go
  tools/arena/engine/session_recording_test.go
  tools/arena/tui/event_adapter.go
  tools/arena/turnexecutors/interfaces.go
Due: runtime, sdk, arena

fix(evals): auto-generate default metric for evals without explicit MetricDef
  runtime/evals/integration_test.go
  runtime/evals/metrics.go
  runtime/evals/metrics_test.go
  sdk/evaluate_test.go
Due: runtime

fix(evals): auto-generate default metric for evals without explicit MetricDef (#715)
  runtime/evals/integration_test.go
  runtime/evals/metrics.go
  runtime/evals/metrics_test.go
  sdk/evaluate_test.go
Due: runtime

feat(sdk): add metrics and OTel integration tests, fix docs
  docs/src/content/docs/arena/explanation/eval-framework.md
  docs/src/content/docs/runtime/reference/metrics.md
  examples/sdk-evals/README.md
  sdk/integration/helpers_test.go
  sdk/integration/metrics_test.go
  sdk/integration/otel_test.go
Due: none

docs(metrics): add metric-to-trace correlation and exemplar guidance
  docs/src/content/docs/runtime/reference/metrics.md
Due: none

feat(sdk): add metrics and OTel integration tests, fix docs (#716)
  docs/src/content/docs/arena/explanation/eval-framework.md
  docs/src/content/docs/runtime/reference/metrics.md
  examples/sdk-evals/README.md
  sdk/integration/helpers_test.go
  sdk/integration/metrics_test.go
  sdk/integration/otel_test.go
Due: none

feat: add load testing example and arena-example skill
  .claude/skills/arena-example/SKILL.md
  .gitignore
  examples/load-testing/README.md
  examples/load-testing/config.arena.yaml
  examples/load-testing/personas/detail-planner.persona.yaml
  examples/load-testing/personas/senior-engineer.persona.yaml
  examples/load-testing/prompts/assistant.yaml
  examples/load-testing/providers/selfplay.provider.yaml
  examples/load-testing/providers/target.provider.yaml
  examples/load-testing/scenarios/deep-conversation.scenario.yaml
  examples/load-testing/scenarios/multi-turn-selfplay.scenario.yaml
  examples/load-testing/scenarios/simple-qa.scenario.yaml
Due: none

feat(arena): add natural conversation termination for self-play and fix role confusion
  docs/src/content/docs/arena/reference/api-reference.md
  docs/src/content/docs/arena/reference/config-schema.md
  docs/src/content/docs/arena/reference/scenario-format.md
  docs/src/content/docs/arena/tutorials/03-multi-turn.md
  examples/load-testing/personas/detail-planner.persona.yaml
  examples/load-testing/personas/senior-engineer.persona.yaml
  examples/load-testing/providers/selfplay.provider.yaml
  examples/load-testing/scenarios/deep-conversation.scenario.yaml
  examples/load-testing/scenarios/multi-turn-selfplay.scenario.yaml
  pkg/config/types.go
  schemas/v1alpha1/arena.json
  schemas/v1alpha1/promptconfig.json
  schemas/v1alpha1/scenario.json
  tools/arena/engine/conversation_executor.go
  tools/arena/engine/conversation_executor_natural_termination_test.go
  tools/arena/render/html.go
  tools/arena/render/templates/report.html.tmpl
  tools/arena/selfplay/generator.go
  tools/arena/selfplay/interfaces.go
  tools/arena/selfplay/termination.go
  tools/arena/selfplay/termination_test.go
  tools/arena/stages/completion_instruction.go
  tools/arena/stages/completion_instruction_test.go
  tools/arena/stages/history_injection.go
  tools/arena/stages/history_injection_swap_test.go
  tools/arena/turnexecutors/selfplay_error_paths_test.go
  tools/arena/turnexecutors/selfplay_executor.go
Due: arena

fix(sdk): fix race condition in TestEvents_DataPointerTypes
  sdk/integration/events_test.go
Due: none

feat: add load testing example and arena-example skill (#731)
  .claude/skills/arena-example/SKILL.md
  .gitignore
  docs/src/content/docs/arena/reference/api-reference.md
  docs/src/content/docs/arena/reference/config-schema.md
  docs/src/content/docs/arena/reference/scenario-format.md
  docs/src/content/docs/arena/tutorials/03-multi-turn.md
  examples/load-testing/README.md
  examples/load-testing/config.arena.yaml
  examples/load-testing/personas/detail-planner.persona.yaml
  examples/load-testing/personas/senior-engineer.persona.yaml
  examples/load-testing/prompts/assistant.yaml
  examples/load-testing/providers/selfplay.provider.yaml
  examples/load-testing/providers/target.provider.yaml
  examples/load-testing/scenarios/deep-conversation.scenario.yaml
  examples/load-testing/scenarios/multi-turn-selfplay.scenario.yaml
  examples/load-testing/scenarios/simple-qa.scenario.yaml
  pkg/config/types.go
  schemas/v1alpha1/arena.json
  schemas/v1alpha1/promptconfig.json
  schemas/v1alpha1/scenario.json
  sdk/integration/events_test.go
  tools/arena/engine/conversation_executor.go
  tools/arena/engine/conversation_executor_natural_termination_test.go
  tools/arena/render/html.go
  tools/arena/render/templates/report.html.tmpl
  tools/arena/selfplay/generator.go
  tools/arena/selfplay/interfaces.go
  tools/arena/selfplay/termination.go
  tools/arena/selfplay/termination_test.go
  tools/arena/stages/completion_instruction.go
  tools/arena/stages/completion_instruction_test.go
  tools/arena/stages/history_injection.go
  tools/arena/stages/history_injection_swap_test.go
  tools/arena/turnexecutors/selfplay_error_paths_test.go
  tools/arena/turnexecutors/selfplay_executor.go
Due: arena

feat(docs): add Omnia adapter docs to build-time fetch
  docs/.gitignore
  docs/scripts/fetch-adapter-docs.mjs
Due: none

feat(docs): add Omnia adapter docs to build-time fetch (#732)
  docs/.gitignore
  docs/scripts/fetch-adapter-docs.mjs
Due: none

ci: notify promptarena-deploy-omnia on release
  .github/workflows/release.yml
Due: none

ci: notify promptarena-deploy-omnia on release (#733)
  .github/workflows/release.yml
Due: none

feat(config): deprecate redundant self_play.enabled flag
  .claude/skills/arena-example/SKILL.md
  docs/src/content/docs/arena/tutorials/03-multi-turn.md
  examples/assertions-test/config.arena.yaml
  examples/customer-support-integrated/config.arena.yaml
  examples/duplex-streaming/config.arena.yaml
  examples/load-testing/config.arena.yaml
  examples/variables-demo/config.arena.yaml
  pkg/config/config_test.go
  pkg/config/inline_specs_test.go
  pkg/config/loader.go
  pkg/config/types.go
  pkg/config/types_json_test.go
  pkg/config/validator.go
  pkg/config/validator_test.go
  schemas/v1alpha1/arena.json
  tools/arena/cmd/promptarena/config_inspect_collector_interactive.go
  tools/arena/engine/builder_additional_test.go
  tools/arena/engine/builder_integration.go
  tools/arena/engine/conversation_executor_streaming_test.go
  tools/arena/engine/duplex_executor_pipeline_integration.go
Due: none

feat(config): deprecate redundant self_play.enabled flag (#734)
  .claude/skills/arena-example/SKILL.md
  docs/src/content/docs/arena/tutorials/03-multi-turn.md
  examples/assertions-test/config.arena.yaml
  examples/customer-support-integrated/config.arena.yaml
  examples/duplex-streaming/config.arena.yaml
  examples/load-testing/config.arena.yaml
  examples/variables-demo/config.arena.yaml
  pkg/config/config_test.go
  pkg/config/inline_specs_test.go
  pkg/config/loader.go
  pkg/config/types.go
  pkg/config/types_json_test.go
  pkg/config/validator.go
  pkg/config/validator_test.go
  schemas/v1alpha1/arena.json
  tools/arena/cmd/promptarena/config_inspect_collector_interactive.go
  tools/arena/engine/builder_additional_test.go
  tools/arena/engine/builder_integration.go
  tools/arena/engine/conversation_executor_streaming_test.go
  tools/arena/engine/duplex_executor_pipeline_integration.go
Due: none

fix(test): accept 'closed connection' error in stream cancellation test
  runtime/providers/openai/openai_multimodal_test.go
Due: none

fix(test): accept 'closed connection' error in stream cancellation test (#735)
  runtime/providers/openai/openai_multimodal_test.go
Due: none

fix(docs): downgrade @astrojs/mdx and astro-d2 to Astro 5-compatible versions
  docs/package-lock.json
  docs/package.json
Due: none

fix(docs): downgrade @astrojs/mdx and astro-d2 to Astro 5-compatible versions (#736)
  docs/package-lock.json
  docs/package.json
Due: none

ci: verify docs deployment in release pipeline and add docs badge
  .github/workflows/release.yml
  README.md
Due: none

ci: verify docs deployment in release pipeline and add docs badge (#737)
  .github/workflows/release.yml
  README.md
Due: none

feat(pipeline): add BaseMetadata for per-session metadata propagation
  runtime/pipeline/stage/pipeline.go
  runtime/pipeline/stage/pipeline_internal_test.go
Due: runtime

docs: document BaseMetadata for per-session pipeline metadata
  docs/src/content/docs/runtime/explanation/pipeline-architecture.md
  docs/src/content/docs/runtime/how-to/configure-pipeline.md
  docs/src/content/docs/runtime/reference/pipeline.md
  runtime/pipeline/stage/README.md
Due: runtime

feat(pipeline): add BaseMetadata for per-session metadata propagation (#738)
  docs/src/content/docs/runtime/explanation/pipeline-architecture.md
  docs/src/content/docs/runtime/how-to/configure-pipeline.md
  docs/src/content/docs/runtime/reference/pipeline.md
  runtime/pipeline/stage/README.md
  runtime/pipeline/stage/pipeline.go
  runtime/pipeline/stage/pipeline_internal_test.go
Due: runtime

fix(ci): auto-publish draft release and isolate downstream notifications
  .github/workflows/release.yml
Due: none

fix: critical security fixes from code review
  runtime/credentials/resolver.go
  runtime/credentials/resolver_test.go
  runtime/tools/mcp_executor.go
  runtime/tools/mcp_executor_test.go
  runtime/tools/types.go
  runtime/tools/types_test.go
  tools/arena/cmd/promptarena/serve_interactive.go
  tools/arena/cmd/promptarena/serve_interactive_test.go
  tools/arena/templates/generator.go
  tools/arena/templates/registry.go
  tools/arena/templates/security_test.go
Due: runtime, arena
