Repository AltairaLabs/PromptKit: changes, and which Codecov flags are due for each by the changed paths.
All: runtime, sdk, arena, packc, inspect-state

codecov.yml:

codecov:
  require_ci_to_pass: yes
  notify:
    wait_for_ci: yes

coverage:
  precision: 2
  round: down
  range: "70...100"
  
  status:
    project:
      default:
        target: 70%
        threshold: 1%
        if_ci_failed: error
    patch:
      default:
        target: 70%
        threshold: 1%
        if_ci_failed: error

comment:
  layout: "reach,diff,flags,tree"
  behavior: default
  require_changes: false

flags:
  runtime:
    paths:
      - runtime/
  sdk:
    paths:
      - sdk/
  arena:
    paths:
      - tools/arena/
  packc:
    paths:
      - tools/packc/
  inspect-state:
    paths:
      - tools/inspect-state/

ignore:
  - "**/*_test.go"
  - "**/*_interactive.go"
  - "**/*_integration.go"
  - "examples/"
  - "docs/"
  - "scripts/"
  - ".github/"
  - "*.md"

feat(selection): external Selector interface + exec client, wire for skills (M1) (#981)
  pkg/config/runtime_config.go
  pkg/config/runtime_config_test.go
  runtime/selection/exec_client.go
  runtime/selection/exec_client_test.go
  runtime/selection/selector.go
  runtime/skills/executor.go
  runtime/skills/executor_new_selector_test.go
  runtime/skills/selector_embedding.go
  runtime/skills/selector_embedding_test.go
  runtime/skills/selector_test.go
  schemas/v1alpha1/runtime-config.json
  sdk/capability.go
  sdk/capability_skills.go
  sdk/capability_skills_test.go
  sdk/conversation.go
  sdk/options.go
  sdk/options_test.go
  sdk/runtime_config.go
  sdk/runtime_config_test.go
Due: runtime, sdk

docs(selection): reference selector implementations under sdk/examples (M2)
  sdk/examples/selectors/README.md
  sdk/examples/selectors/cosine/cosine.go
  sdk/examples/selectors/cosine/cosine_test.go
  sdk/examples/selectors/exec_rerank/rerank.py
Due: sdk

docs(selection): reference selector implementations under sdk/examples (M2) (#982)
  sdk/examples/selectors/README.md
  sdk/examples/selectors/cosine/cosine.go
  sdk/examples/selectors/cosine/cosine_test.go
  sdk/examples/selectors/exec_rerank/rerank.py
Due: sdk

feat(selection): per-turn tool narrowing via Selector (M3)
  pkg/config/runtime_config.go
  pkg/config/runtime_config_test.go
  runtime/pipeline/stage/stages_provider.go
  runtime/pipeline/stage/stages_provider_selector_test.go
  schemas/v1alpha1/runtime-config.json
  sdk/conversation.go
  sdk/examples/selectors/README.md
  sdk/internal/pipeline/builder.go
  sdk/options.go
  sdk/runtime_config.go
  sdk/runtime_config_test.go
Due: runtime, sdk

feat(selection): per-turn tool narrowing via Selector (M3) (#983)
  pkg/config/runtime_config.go
  pkg/config/runtime_config_test.go
  runtime/pipeline/stage/stages_provider.go
  runtime/pipeline/stage/stages_provider_selector_test.go
  schemas/v1alpha1/runtime-config.json
  sdk/conversation.go
  sdk/examples/selectors/README.md
  sdk/internal/pipeline/builder.go
  sdk/options.go
  sdk/runtime_config.go
  sdk/runtime_config_test.go
Due: runtime, sdk

feat(providers): declarative embedding-provider config (#979 phase 1)
  docs/src/content/docs/sdk/how-to/declarative-embedding-providers.md
  pkg/config/runtime_config.go
  pkg/config/runtime_config_test.go
  runtime/providers/embedding_factory.go
  runtime/providers/embedding_factory_test.go
  runtime/providers/gemini/embedding_register.go
  runtime/providers/gemini/embedding_register_test.go
  runtime/providers/ollama/embedding_register.go
  runtime/providers/ollama/embedding_register_test.go
  runtime/providers/openai/embedding_register.go
  runtime/providers/openai/embedding_register_test.go
  runtime/providers/voyageai/embedding_register.go
  runtime/providers/voyageai/embedding_register_test.go
  schemas/v1alpha1/runtime-config.json
  sdk/options.go
  sdk/runtime_config.go
  sdk/runtime_config_test.go
Due: runtime, sdk

feat(providers): declarative embedding-provider config (#979 phase 1) (#984)
  docs/src/content/docs/sdk/how-to/declarative-embedding-providers.md
  pkg/config/runtime_config.go
  pkg/config/runtime_config_test.go
  runtime/providers/embedding_factory.go
  runtime/providers/embedding_factory_test.go
  runtime/providers/gemini/embedding_register.go
  runtime/providers/gemini/embedding_register_test.go
  runtime/providers/ollama/embedding_register.go
  runtime/providers/ollama/embedding_register_test.go
  runtime/providers/openai/embedding_register.go
  runtime/providers/openai/embedding_register_test.go
  runtime/providers/voyageai/embedding_register.go
  runtime/providers/voyageai/embedding_register_test.go
  schemas/v1alpha1/runtime-config.json
  sdk/options.go
  sdk/runtime_config.go
  sdk/runtime_config_test.go
Due: runtime, sdk

feat(providers): declarative TTS + STT provider config (#979 phase 2)
  docs/src/content/docs/sdk/how-to/declarative-tts-stt-providers.md
  pkg/config/runtime_config.go
  pkg/config/runtime_config_test.go
  runtime/stt/factory.go
  runtime/stt/openai_register.go
  runtime/stt/register_test.go
  runtime/tts/cartesia_register.go
  runtime/tts/elevenlabs_register.go
  runtime/tts/factory.go
  runtime/tts/openai_register.go
  runtime/tts/register_test.go
  schemas/v1alpha1/runtime-config.json
  sdk/options.go
  sdk/runtime_config.go
  sdk/runtime_config_test.go
Due: runtime, sdk

feat(providers): declarative TTS + STT provider config (#979 phase 2) (#985)
  docs/src/content/docs/sdk/how-to/declarative-tts-stt-providers.md
  pkg/config/runtime_config.go
  pkg/config/runtime_config_test.go
  runtime/stt/factory.go
  runtime/stt/openai_register.go
  runtime/stt/register_test.go
  runtime/tts/cartesia_register.go
  runtime/tts/elevenlabs_register.go
  runtime/tts/factory.go
  runtime/tts/openai_register.go
  runtime/tts/register_test.go
  schemas/v1alpha1/runtime-config.json
  sdk/options.go
  sdk/runtime_config.go
  sdk/runtime_config_test.go
Due: runtime, sdk

test(skills): harden ReadResource path-traversal coverage
  runtime/skills/registry_test.go
Due: none

test(skills): harden ReadResource path-traversal coverage (#986)
  runtime/skills/registry_test.go
Due: none

feat(workflow): warn on v2 non-terminal states without exits
  runtime/workflow/validate.go
  runtime/workflow/validate_test.go
Due: runtime

feat(workflow): warn on v2 non-terminal states without exits (#987)
  runtime/workflow/validate.go
  runtime/workflow/validate_test.go
Due: runtime

fix(packc-action): validate release tags from GitHub API
  .github/actions/packc-action/dist/index.js
  .github/actions/packc-action/dist/index.js.map
  .github/actions/packc-action/src/installer.test.ts
  .github/actions/packc-action/src/installer.ts
Due: none

chore(telemetry): extract duplicated literals as named constants
  runtime/metrics/collector.go
  runtime/telemetry/listener.go
Due: runtime

chore(statestore): extract duplicated redis error literals
  runtime/statestore/redis.go
Due: runtime

chore(providers): extract duplicated literals in claude/vllm (Sonar S1192)
  runtime/providers/claude/claude_tools.go
  runtime/providers/vllm/vllm_tools.go
Due: runtime

fix(packc-action): validate release tags from GitHub API (#988)
  .github/actions/packc-action/dist/index.js
  .github/actions/packc-action/dist/index.js.map
  .github/actions/packc-action/src/installer.test.ts
  .github/actions/packc-action/src/installer.ts
Due: none

chore(telemetry): extract duplicated literals as named constants (#989)
  runtime/metrics/collector.go
  runtime/telemetry/listener.go
Due: runtime

chore: extract duplicated literals across runtime/pkg/sdk (Sonar S1192)
  pkg/config/loader.go
  runtime/a2a/mock/mock.go
  runtime/deploy/adaptersdk/serve.go
  runtime/storage/local/filestore.go
  runtime/tools/http_executor.go
  runtime/tools/registry.go
  sdk/capability.go
  sdk/client_tools.go
  sdk/session/duplex_session.go
Due: runtime, sdk

chore(providers): extract duplicated literals in claude/vllm (Sonar S1192) (#991)
  runtime/providers/claude/claude_tools.go
  runtime/providers/vllm/vllm_tools.go
Due: runtime

chore: add explanatory comments to empty functions (Sonar S1186)
  runtime/pipeline/stage/idle_timeout.go
  runtime/providers/internal/streaming/conn.go
  runtime/tools/registry.go
  sdk/capability_workflow.go
  sdk/stream_events.go
Due: runtime, sdk

chore: add explanatory comments to empty functions (Sonar S1186) (#993)
  runtime/pipeline/stage/idle_timeout.go
  runtime/providers/internal/streaming/conn.go
  runtime/tools/registry.go
  sdk/capability_workflow.go
  sdk/stream_events.go
Due: runtime, sdk

refactor(storage/policy): drop dead ctx field in TimeBasedPolicyHandler (Sonar S8242)
  runtime/storage/policy/time_based.go
Due: runtime

refactor(storage/policy): drop dead ctx field in TimeBasedPolicyHandler (Sonar S8242) (#994)
  runtime/storage/policy/time_based.go
Due: runtime

fix(packc-action): stop interpolating release tag into cosign temp dir
  .github/actions/packc-action/dist/index.js
  .github/actions/packc-action/dist/index.js.map
  .github/actions/packc-action/src/installer.test.ts
  .github/actions/packc-action/src/installer.ts
Due: none

chore: sweep remaining Sonar MINOR code smells
  pkg/config/loader.go
  runtime/evals/handlers/tool_args.go
  runtime/hooks/sandbox/direct/direct.go
  runtime/persistence/interfaces.go
  runtime/prompt/fragment_resolver.go
  runtime/prompt/registry.go
  runtime/skills/registry.go
  tools/arena/adapters/adapter.go
  tools/arena/adapters/arena_output.go
  tools/arena/engine/conversation_executor.go
  tools/arena/mocks/parser.go
  tools/arena/render/html.go
  tools/arena/statestore/store.go
  tools/arena/web/server.go
Due: runtime, arena

fix(packc-action): stop interpolating release tag into cosign temp dir (#995)
  .github/actions/packc-action/dist/index.js
  .github/actions/packc-action/dist/index.js.map
  .github/actions/packc-action/src/installer.test.ts
  .github/actions/packc-action/src/installer.ts
Due: none

chore: sweep remaining Sonar MINOR code smells (#996)
  pkg/config/loader.go
  runtime/evals/handlers/tool_args.go
  runtime/hooks/sandbox/direct/direct.go
  runtime/persistence/interfaces.go
  runtime/prompt/fragment_resolver.go
  runtime/prompt/registry.go
  runtime/skills/registry.go
  tools/arena/adapters/adapter.go
  tools/arena/adapters/arena_output.go
  tools/arena/engine/conversation_executor.go
  tools/arena/mocks/parser.go
  tools/arena/render/html.go
  tools/arena/statestore/store.go
  tools/arena/web/server.go
Due: runtime, arena

chore: reclaim S1192 constants on well-covered files
  runtime/a2a/mock/mock.go
  runtime/tools/http_executor.go
  runtime/tools/registry.go
  sdk/capability.go
  sdk/client_tools.go
  sdk/session/duplex_session.go
Due: runtime, sdk

chore: reclaim S1192 constants on well-covered files (#997)
  runtime/a2a/mock/mock.go
  runtime/tools/http_executor.go
  runtime/tools/registry.go
  sdk/capability.go
  sdk/client_tools.go
  sdk/session/duplex_session.go
Due: runtime, sdk

fix(arena-web): avoid "[object Object]" in provider-failed log (Sonar S6551)
  tools/arena/web/frontend/src/hooks/useArenaEvents.ts
  tools/arena/web/frontend/src/lib/utils.ts
Due: arena

chore(sonar): exclude arena web frontend from coverage
  sonar-project.properties
Due: none

fix(arena-web): avoid '[object Object]' in failed-provider log (Sonar S6551) (#998)
  sonar-project.properties
  tools/arena/web/frontend/src/hooks/useArenaEvents.ts
  tools/arena/web/frontend/src/lib/utils.ts
Due: arena

feat(arena-web): add Vitest test infrastructure for the frontend
  .github/workflows/ci.yml
  sonar-project.properties
  tools/arena/web/frontend/.gitignore
  tools/arena/web/frontend/package-lock.json
  tools/arena/web/frontend/package.json
  tools/arena/web/frontend/src/lib/utils.test.ts
  tools/arena/web/frontend/vite.config.ts
Due: arena

feat(arena-web): add Vitest test infrastructure for the frontend (#999)
  .github/workflows/ci.yml
  sonar-project.properties
  tools/arena/web/frontend/.gitignore
  tools/arena/web/frontend/package-lock.json
  tools/arena/web/frontend/package.json
  tools/arena/web/frontend/src/lib/utils.test.ts
  tools/arena/web/frontend/vite.config.ts
Due: arena

chore: reclaim 3 more S1192 constants by covering their error paths
  pkg/config/config_test.go
  pkg/config/loader.go
  runtime/deploy/adaptersdk/serve.go
  runtime/deploy/adaptersdk/serve_test.go
  runtime/storage/local/filestore.go
Due: runtime

chore: reclaim 3 more S1192 constants by covering their error paths (#1000)
  pkg/config/config_test.go
  pkg/config/loader.go
  runtime/deploy/adaptersdk/serve.go
  runtime/deploy/adaptersdk/serve_test.go
  runtime/storage/local/filestore.go
Due: runtime

refactor(types): split getMediaItemSummary to reduce cognitive complexity
  runtime/types/message.go
  runtime/types/message_marshal_test.go
Due: runtime

refactor(workflow): simplify Context.Clone using maps/slices (Sonar S3776)
  runtime/workflow/context.go
  runtime/workflow/context_test.go
Due: runtime
