Repository AltairaLabs/PromptKit: changes, and which Codecov flags are due for each by the changed paths.
All: runtime, sdk, arena, packc, inspect-state

feat(arena): surface consent status in devtools sidebar (#600)
  examples/client-tools/scenarios/consent-grant.scenario.yaml
  runtime/hooks/registry.go
  runtime/pipeline/stage/stages_provider.go
  runtime/pipeline/stage/stages_provider_hooks_test.go
  runtime/prompt/schema/promptpack.schema.json
  tools/arena/consent/hook.go
  tools/arena/consent/hook_test.go
  tools/arena/render/html.go
  tools/arena/render/html_test.go
  tools/arena/render/templates/report.html.tmpl
Due: runtime, arena

feat(a2a): add client-side tool support to A2A server (#600) (#609)
  docs/src/content/docs/arena/tutorials/08-client-tools.md
  docs/src/content/docs/sdk/how-to/client-tools.md
  examples/client-tools/scenarios/consent-grant.scenario.yaml
  runtime/hooks/registry.go
  runtime/pipeline/stage/stages_provider.go
  runtime/pipeline/stage/stages_provider_hooks_test.go
  runtime/prompt/schema/promptpack.schema.json
  sdk/a2a_server_adapter.go
  sdk/a2a_server_adapter_test.go
  sdk/a2a_test.go
  sdk/examples/client-tools/client-tools.pack.json
  sdk/examples/client-tools/main_interactive.go
  sdk/otel_integration_test.go
  server/a2a/conversation.go
  server/a2a/server.go
  server/a2a/server_stream.go
  server/a2a/server_stream_test.go
  server/a2a/server_test.go
  tools/arena/consent/hook.go
  tools/arena/consent/hook_test.go
  tools/arena/render/html.go
  tools/arena/render/html_test.go
  tools/arena/render/templates/report.html.tmpl
Due: runtime, sdk, arena

feat(sdk): add WithRecording option and strip binary from emitter events (#602, #604, #607)
  docs/src/content/docs/arena/explanation/session-recording.md
  docs/src/content/docs/arena/how-to/session-recording.md
  docs/src/content/docs/sdk/explanation/observability.md
  docs/src/content/docs/sdk/reference/index.md
  runtime/events/emitter.go
  runtime/events/emitter_test.go
  runtime/pipeline/stage/stages_provider.go
  runtime/pipeline/stage/stages_provider_test.go
  runtime/pipeline/stage/stages_recording.go
  runtime/types/content.go
  runtime/types/content_test.go
  sdk/conversation.go
  sdk/internal/pipeline/builder.go
  sdk/internal/pipeline/builder_test.go
  sdk/options.go
Due: runtime, sdk

test(sdk): add tests for WithRecording option to meet SonarCloud coverage
  sdk/options_test.go
Due: none

feat(sdk): WithRecording option, binary stripping, and tool call events (#610)
  docs/src/content/docs/arena/explanation/session-recording.md
  docs/src/content/docs/arena/how-to/session-recording.md
  docs/src/content/docs/sdk/explanation/observability.md
  docs/src/content/docs/sdk/reference/index.md
  runtime/events/emitter.go
  runtime/events/emitter_test.go
  runtime/pipeline/stage/stages_provider.go
  runtime/pipeline/stage/stages_provider_test.go
  runtime/pipeline/stage/stages_recording.go
  runtime/types/content.go
  runtime/types/content_test.go
  sdk/conversation.go
  sdk/internal/pipeline/builder.go
  sdk/internal/pipeline/builder_test.go
  sdk/options.go
  sdk/options_test.go
Due: runtime, sdk

feat(agui): add client-side tool support to EventAdapter (#611)
  sdk/agui/adapter.go
  sdk/agui/adapter_test.go
  sdk/response_export.go
  sdk/response_export_test.go
Due: sdk

feat(agui): add client-side tool support to EventAdapter (#612)
  sdk/agui/adapter.go
  sdk/agui/adapter_test.go
  sdk/response_export.go
  sdk/response_export_test.go
Due: sdk

fix(runtime): fix flaky tool call event ordering test
  runtime/pipeline/stage/stages_provider_test.go
Due: none

fix(runtime): fix flaky tool call event ordering test (#613)
  runtime/pipeline/stage/stages_provider_test.go
Due: none

fix(telemetry): nest provider/tool/middleware spans under pipeline span
  runtime/telemetry/listener.go
  runtime/telemetry/listener_test.go
Due: runtime

fix(telemetry): nest provider/tool/middleware spans under pipeline span (#615)
  runtime/telemetry/listener.go
  runtime/telemetry/listener_test.go
Due: runtime

feat(events): add Result field to ToolCallCompleted event
  runtime/events/emitter.go
  runtime/events/emitter_test.go
  runtime/events/types.go
  runtime/pipeline/stage/stages_provider.go
Due: runtime

feat(events): add Result field to ToolCallCompleted event (#616)
  runtime/events/emitter.go
  runtime/events/emitter_test.go
  runtime/events/types.go
  runtime/pipeline/stage/stages_provider.go
Due: runtime

refactor(evals): simplify eval results — emit on event bus (#627)
  docs/src/content/docs/sdk/how-to/monitor-events.md
  examples/sdk-evals/main.go
  runtime/evals/dispatcher.go
  runtime/evals/dispatcher_test.go
  runtime/evals/event_listener.go
  runtime/evals/event_listener_test.go
  runtime/evals/integration_test.go
  runtime/evals/metrics.go
  runtime/evals/result_writer.go
  runtime/evals/result_writer_test.go
  runtime/evals/worker.go
  runtime/evals/worker_test.go
  runtime/events/emitter.go
  runtime/events/types.go
  sdk/eval_integration_test.go
  sdk/eval_middleware.go
  sdk/eval_middleware_test.go
  sdk/options.go
  tools/arena/engine/pack_eval_hook.go
  tools/arena/engine/pack_eval_hook_test.go
Due: runtime, sdk, arena

refactor(evals): simplify eval results — emit on event bus (#627) (#628)
  docs/src/content/docs/sdk/how-to/monitor-events.md
  examples/sdk-evals/main.go
  runtime/evals/dispatcher.go
  runtime/evals/dispatcher_test.go
  runtime/evals/event_listener.go
  runtime/evals/event_listener_test.go
  runtime/evals/integration_test.go
  runtime/evals/metrics.go
  runtime/evals/result_writer.go
  runtime/evals/result_writer_test.go
  runtime/evals/worker.go
  runtime/evals/worker_test.go
  runtime/events/emitter.go
  runtime/events/types.go
  sdk/eval_integration_test.go
  sdk/eval_middleware.go
  sdk/eval_middleware_test.go
  sdk/options.go
  tools/arena/engine/pack_eval_hook.go
  tools/arena/engine/pack_eval_hook_test.go
Due: runtime, sdk, arena

docs: add release pipeline instructions to CLAUDE.md
  CLAUDE.md
Due: none

docs: add release pipeline instructions to CLAUDE.md (#629)
  CLAUDE.md
Due: none

feat(tools): enforce execution timeouts from tool descriptors
  runtime/tools/errors.go
  runtime/tools/registry.go
  runtime/tools/registry_test.go
  runtime/tools/registry_timeout_test.go
Due: runtime

feat(providers): add per-provider rate limiting using golang.org/x/time/rate
  runtime/go.mod
  runtime/go.sum
  runtime/providers/base_provider.go
  runtime/providers/rate_limit_test.go
Due: runtime

feat(providers): add retry with exponential backoff and jitter
  runtime/providers/base_provider.go
  runtime/providers/retry.go
  runtime/providers/retry_test.go
Due: runtime

fix(sdk): prevent goroutine leak in eval middleware turn dispatches
  sdk/conversation.go
  sdk/eval_integration_test.go
  sdk/eval_middleware.go
  sdk/eval_middleware_test.go
Due: sdk

feat(pipeline): parallelize tool call execution with errgroup
  runtime/go.mod
  runtime/go.sum
  runtime/pipeline/stage/stages_provider.go
  runtime/pipeline/stage/stages_provider_parallel_test.go
  runtime/pipeline/types.go
Due: runtime

feat(runtime): add token budget enforcement and improve token counting
  runtime/pipeline/stage/stages_token_budget.go
  runtime/pipeline/stage/stages_token_budget_test.go
  runtime/tokenizer/tokenizer.go
  runtime/tokenizer/tokenizer_test.go
Due: runtime

feat: scalability critical fixes (#630)
  runtime/go.mod
  runtime/go.sum
  runtime/pipeline/stage/stages_provider.go
  runtime/pipeline/stage/stages_provider_parallel_test.go
  runtime/pipeline/stage/stages_token_budget.go
  runtime/pipeline/stage/stages_token_budget_test.go
  runtime/pipeline/types.go
  runtime/providers/base_provider.go
  runtime/providers/rate_limit_test.go
  runtime/providers/retry.go
  runtime/providers/retry_test.go
  runtime/tokenizer/tokenizer.go
  runtime/tokenizer/tokenizer_test.go
  runtime/tools/errors.go
  runtime/tools/registry.go
  runtime/tools/registry_test.go
  runtime/tools/registry_timeout_test.go
  sdk/conversation.go
  sdk/eval_integration_test.go
  sdk/eval_middleware.go
  sdk/eval_middleware_test.go
Due: runtime, sdk

fix(providers): use incremental JSON parsing for Gemini streaming
  runtime/providers/gemini/gemini_streaming.go
  runtime/providers/gemini/gemini_streaming_test.go
Due: runtime

feat(storage): add configurable file size limits to FileStore
  runtime/storage/local/filestore.go
  runtime/storage/local/filestore_test.go
Due: runtime

feat(providers): add aggregate media size limits and per-item validation
  runtime/providers/media_loader.go
  runtime/providers/media_loader_test.go
Due: runtime

feat(providers): add request payload size validation
  runtime/providers/base_provider.go
  runtime/providers/base_provider_test.go
  runtime/providers/errors.go
  runtime/providers/errors_test.go
Due: runtime

fix(a2a): increase SSE buffer to 1MB and use separate timeout for streaming
  runtime/a2a/client.go
  runtime/a2a/client_test.go
Due: runtime

fix(workflow): add mutex to StateMachine and deep-copy context metadata
  runtime/workflow/context.go
  runtime/workflow/context_test.go
  runtime/workflow/machine.go
  runtime/workflow/machine_test.go
Due: runtime

feat(pipeline): add default message limit and large conversation warning
  runtime/pipeline/stage/stages_context.go
  runtime/pipeline/stage/stages_context_test.go
  sdk/internal/pipeline/builder.go
Due: runtime, sdk

feat: scalability high-priority fixes (#631)
  runtime/a2a/client.go
  runtime/a2a/client_test.go
  runtime/pipeline/stage/stages_context.go
  runtime/pipeline/stage/stages_context_test.go
  runtime/providers/base_provider.go
  runtime/providers/base_provider_test.go
  runtime/providers/errors.go
  runtime/providers/errors_test.go
  runtime/providers/gemini/gemini_streaming.go
  runtime/providers/gemini/gemini_streaming_test.go
  runtime/providers/media_loader.go
  runtime/providers/media_loader_test.go
  runtime/storage/local/filestore.go
  runtime/storage/local/filestore_test.go
  runtime/workflow/context.go
  runtime/workflow/context_test.go
  runtime/workflow/machine.go
  runtime/workflow/machine_test.go
  sdk/internal/pipeline/builder.go
Due: runtime, sdk

perf(streaming): replace O(N²) string concat with strings.Builder
  runtime/providers/claude/claude_integration_test.go
  runtime/providers/claude/claude_streaming.go
  runtime/providers/gemini/gemini_integration_test.go
  runtime/providers/gemini/gemini_streaming.go
  runtime/providers/ollama/ollama.go
  runtime/providers/ollama/ollama_test.go
  runtime/providers/openai/openai.go
  runtime/providers/openai/openai_responses_integration.go
  runtime/providers/vllm/vllm.go
  sdk/session/unary_session.go
  sdk/stream/stream.go
  sdk/streaming.go
  sdk/streaming_test.go
Due: runtime, sdk

fix(events): track dropped events and add subscriber timeout
  runtime/events/bus.go
  runtime/events/bus_test.go
Due: runtime

fix(mcp): release mutex during init retry sleep
  runtime/mcp/client.go
  runtime/mcp/client_test.go
Due: runtime

feat(statestore): add default TTL and max entries to MemoryStore
  runtime/statestore/memory.go
  runtime/statestore/memory_ttl_test.go
Due: runtime

feat(storage): auto-start policy enforcement when configured
  runtime/storage/policy/time_based.go
  runtime/storage/policy/time_based_test.go
Due: runtime

feat(sdk): add semaphore to limit concurrent eval goroutines
  sdk/eval_middleware.go
  sdk/eval_middleware_test.go
  sdk/options.go
Due: sdk

feat(a2a): add retry with exponential backoff to executor
  runtime/a2a/client.go
  runtime/a2a/executor.go
  runtime/a2a/executor_retry_test.go
Due: runtime

perf(statestore): optimize deep-copy to reduce allocations
  runtime/statestore/memory.go
  runtime/statestore/memory_bench_test.go
  runtime/statestore/memory_test.go
Due: runtime

Path conditions:
  runtime: any of: runtime/, but not: **/*_test.go, **/*_interactive.go, **/*_integration.go, examples/, docs/, scripts/, .github/, *.md
  sdk: any of: sdk/, but not: **/*_test.go, **/*_interactive.go, **/*_integration.go, examples/, docs/, scripts/, .github/, *.md
  arena: any of: tools/arena/, but not: **/*_test.go, **/*_interactive.go, **/*_integration.go, examples/, docs/, scripts/, .github/, *.md
  packc: any of: tools/packc/, but not: **/*_test.go, **/*_interactive.go, **/*_integration.go, examples/, docs/, scripts/, .github/, *.md
  inspect-state: any of: tools/inspect-state/, but not: **/*_test.go, **/*_interactive.go, **/*_integration.go, examples/, docs/, scripts/, .github/, *.md
