Repository AltairaLabs/PromptKit: changes, and which Codecov flags are due for each by the changed paths.
All: runtime, sdk, arena, packc, inspect-state

codecov.yml:

codecov:
  require_ci_to_pass: yes
  notify:
    wait_for_ci: yes

coverage:
  precision: 2
  round: down
  range: "70...100"
  
  status:
    project:
      default:
        target: 70%
        threshold: 1%
        if_ci_failed: error
    patch:
      default:
        target: 70%
        threshold: 1%
        if_ci_failed: error

comment:
  layout: "reach,diff,flags,tree"
  behavior: default
  require_changes: false

flags:
  runtime:
    paths:
      - runtime/
  sdk:
    paths:
      - sdk/
  arena:
    paths:
      - tools/arena/
  packc:
    paths:
      - tools/packc/
  inspect-state:
    paths:
      - tools/inspect-state/

ignore:
  - "**/*_test.go"
  - "**/*_interactive.go"
  - "**/*_integration.go"
  - "examples/"
  - "docs/"
  - "scripts/"
  - ".github/"
  - "*.md"

feat(sdk): run each call on the provider its RFC 0017 key is bound to (#2200)
  docs/src/content/docs/reference/upgrade-notes.md
  docs/src/content/docs/runtime/reference/pipeline.md
  docs/src/content/docs/sdk/reference/conversation-manager.md
  runtime/pipeline/stage/composition_executor.go
  runtime/pipeline/stage/composition_executor_test.go
  sdk/conversation.go
  sdk/internal/pipeline/builder.go
  sdk/options.go
  sdk/provider_refs.go
  sdk/provider_refs_test.go
  sdk/sdk.go
  sdk/template.go
Due: runtime, sdk

fix(sdk): RFC 0017 follow-ups: no agent when no call needs one, clearer no-binding error, check once
  docs/src/content/docs/reference/upgrade-notes.md
  docs/src/content/docs/sdk/reference/conversation-manager.md
  sdk/options.go
  sdk/provider_refs.go
  sdk/provider_refs_test.go
  sdk/sdk.go
  sdk/template.go
  sdk/workflow.go
Due: sdk

test(sdk): cover packNeedsAgent across composition steps and the cached requires error
  sdk/provider_refs_test.go
Due: none

fix(sdk): RFC 0017 follow-ups: no agent when no call needs one, clearer no-binding error, check once (#2203)
  docs/src/content/docs/reference/upgrade-notes.md
  docs/src/content/docs/sdk/reference/conversation-manager.md
  sdk/options.go
  sdk/provider_refs.go
  sdk/provider_refs_test.go
  sdk/sdk.go
  sdk/template.go
  sdk/workflow.go
Due: sdk

fix: apply a prompt's model_overrides for the model that runs it
  docs/src/content/docs/reference/upgrade-notes.md
  docs/src/content/docs/runtime/reference/pipeline.md
  docs/src/content/docs/sdk/reference/conversation-manager.md
  runtime/pipeline/stage/composition_executor.go
  runtime/pipeline/stage/stages_core.go
  runtime/prompt/pack.go
  runtime/prompt/registry.go
  runtime/prompt/registry_test.go
  sdk/conversation.go
  sdk/internal/pipeline/builder.go
  sdk/model_overrides_test.go
  sdk/workflow.go
  sdk/workflow_state_resolver.go
  sdk/workflow_state_resolver_test.go
Due: runtime, sdk

fix: review follow-ups for model_overrides
  docs/src/content/docs/reference/upgrade-notes.md
  docs/src/content/docs/sdk/reference/conversation-manager.md
  runtime/prompt/registry.go
  runtime/prompt/registry_test.go
  sdk/conversation.go
  sdk/model_overrides_test.go
  sdk/provider_refs.go
  sdk/workflow.go
Due: runtime, sdk

fix: apply a prompt's model_overrides for the model that runs it (#2204)
  docs/src/content/docs/reference/upgrade-notes.md
  docs/src/content/docs/runtime/reference/pipeline.md
  docs/src/content/docs/sdk/reference/conversation-manager.md
  runtime/pipeline/stage/composition_executor.go
  runtime/pipeline/stage/stages_core.go
  runtime/prompt/pack.go
  runtime/prompt/registry.go
  runtime/prompt/registry_test.go
  sdk/conversation.go
  sdk/internal/pipeline/builder.go
  sdk/model_overrides_test.go
  sdk/provider_refs.go
  sdk/workflow.go
  sdk/workflow_state_resolver.go
  sdk/workflow_state_resolver_test.go
Due: runtime, sdk

fix: a mid-turn workflow handoff runs on the destination prompt's provider
  docs/src/content/docs/reference/upgrade-notes.md
  docs/src/content/docs/runtime/reference/pipeline.md
  docs/src/content/docs/sdk/reference/conversation-manager.md
  runtime/pipeline/stage/stages_provider.go
  runtime/pipeline/stage/state_handoff.go
  runtime/pipeline/stage/state_handoff_call_test.go
  runtime/pipeline/stage/structured_output_mode.go
  sdk/conversation.go
  sdk/workflow.go
  sdk/workflow_handoff_provider_test.go
  sdk/workflow_state_resolver.go
Due: runtime, sdk

fix: review follow-ups for the handoff provider switch
  docs/src/content/docs/reference/upgrade-notes.md
  docs/src/content/docs/runtime/reference/pipeline.md
  runtime/pipeline/stage/stages_provider.go
  runtime/pipeline/stage/state_handoff_call_test.go
  runtime/pipeline/stage/structured_output_mode.go
  sdk/provider_refs.go
  sdk/provider_refs_test.go
  sdk/workflow_state_resolver.go
  sdk/workflow_state_resolver_test.go
Due: runtime, sdk

fix: a mid-turn workflow handoff runs on the destination prompt's provider (#2207)
  docs/src/content/docs/reference/upgrade-notes.md
  docs/src/content/docs/runtime/reference/pipeline.md
  docs/src/content/docs/sdk/reference/conversation-manager.md
  runtime/pipeline/stage/stages_provider.go
  runtime/pipeline/stage/state_handoff.go
  runtime/pipeline/stage/state_handoff_call_test.go
  runtime/pipeline/stage/structured_output_mode.go
  sdk/conversation.go
  sdk/provider_refs.go
  sdk/provider_refs_test.go
  sdk/workflow.go
  sdk/workflow_handoff_provider_test.go
  sdk/workflow_state_resolver.go
  sdk/workflow_state_resolver_test.go
Due: runtime, sdk

fix(sdk): PackTemplate.Open runs the same provider gates as sdk.Open
  docs/src/content/docs/reference/upgrade-notes.md
  docs/src/content/docs/sdk/reference/conversation-manager.md
  sdk/load_gates_test.go
  sdk/provider_refs.go
  sdk/sdk.go
  sdk/template.go
Due: sdk

fix(sdk): run Open's checks before the conversation exists
  docs/src/content/docs/sdk/reference/conversation-manager.md
  sdk/load_gates_test.go
  sdk/provider_refs.go
  sdk/sdk.go
  sdk/template.go
Due: sdk

fix(sdk): PackTemplate.Open runs the same provider gates as sdk.Open (#2209)
  docs/src/content/docs/reference/upgrade-notes.md
  docs/src/content/docs/sdk/reference/conversation-manager.md
  sdk/load_gates_test.go
  sdk/provider_refs.go
  sdk/sdk.go
  sdk/template.go
Due: sdk

fix: composition steps run with their prompt's parameters
  docs/src/content/docs/reference/upgrade-notes.md
  docs/src/content/docs/sdk/reference/conversation-manager.md
  runtime/pipeline/stage/composition_executor.go
  runtime/pipeline/stage/composition_executor_test.go
  runtime/pipeline/stage/state_handoff_call_test.go
  runtime/prompt/pack.go
  runtime/prompt/registry.go
  runtime/prompt/registry_test.go
  sdk/conversation.go
  sdk/model_overrides_test.go
  sdk/workflow_state_resolver.go
Due: runtime, sdk

fix: review follow-ups for composition step parameters
  docs/src/content/docs/reference/upgrade-notes.md
  runtime/pipeline/stage/state_handoff_call_test.go
  runtime/prompt/pack.go
  runtime/prompt/registry.go
  runtime/prompt/registry_test.go
Due: runtime

fix: composition steps run with their prompt's parameters (#2210)
  docs/src/content/docs/reference/upgrade-notes.md
  docs/src/content/docs/sdk/reference/conversation-manager.md
  runtime/pipeline/stage/composition_executor.go
  runtime/pipeline/stage/composition_executor_test.go
  runtime/pipeline/stage/state_handoff_call_test.go
  runtime/prompt/pack.go
  runtime/prompt/registry.go
  runtime/prompt/registry_test.go
  sdk/conversation.go
  sdk/model_overrides_test.go
  sdk/workflow_state_resolver.go
Due: runtime, sdk

fix: compact once, just before each round, for that round's provider
  docs/src/content/docs/reference/upgrade-notes.md
  docs/src/content/docs/runtime/reference/pipeline.md
  runtime/pipeline/stage/compaction_handoff_test.go
  runtime/pipeline/stage/compactor.go
  runtime/pipeline/stage/stages_provider.go
  runtime/pipeline/stage/stages_provider_test.go
Due: runtime

fix: context compaction budgets for the provider a round runs on
  docs/src/content/docs/reference/upgrade-notes.md
  docs/src/content/docs/runtime/reference/pipeline.md
  runtime/pipeline/stage/compaction_handoff_test.go
  runtime/pipeline/stage/compactor.go
  runtime/pipeline/stage/stages_provider.go
  sdk/internal/pipeline/builder.go
  sdk/internal/pipeline/compaction_strategy_test.go
Due: runtime, sdk

fix: context compaction budgets for the provider a round runs on (#2213)
  docs/src/content/docs/reference/upgrade-notes.md
  docs/src/content/docs/runtime/reference/pipeline.md
  runtime/pipeline/stage/compaction_handoff_test.go
  runtime/pipeline/stage/compactor.go
  runtime/pipeline/stage/stages_provider.go
  runtime/pipeline/stage/stages_provider_test.go
  sdk/internal/pipeline/builder.go
  sdk/internal/pipeline/compaction_strategy_test.go
Due: runtime, sdk

fix(sdk): PackTemplate.Open runs sdk.Open's own setup
  docs/src/content/docs/reference/upgrade-notes.md
  docs/src/content/docs/sdk/reference/conversation-manager.md
  sdk/open_parity_test.go
  sdk/sdk.go
  sdk/template.go
Due: sdk

fix(sdk): review follow-ups for the shared open setup
  docs/src/content/docs/runtime/reference/providers.md
  docs/src/content/docs/sdk/reference/conversation-manager.md
  runtime/providers/base_provider.go
  runtime/providers/media_settings_race_test.go
  sdk/conversation.go
  sdk/open_parity_test.go
  sdk/sdk.go
  sdk/template.go
Due: runtime, sdk

fix(prompt): load and populate a prompt config under the registry's lock
  runtime/prompt/registry.go
  runtime/prompt/registry_concurrency_test.go
Due: runtime

fix(sdk): PackTemplate.Open runs sdk.Open's own setup (#2215)
  docs/src/content/docs/reference/upgrade-notes.md
  docs/src/content/docs/runtime/reference/providers.md
  docs/src/content/docs/sdk/reference/conversation-manager.md
  runtime/prompt/registry.go
  runtime/prompt/registry_concurrency_test.go
  runtime/providers/base_provider.go
  runtime/providers/media_settings_race_test.go
  sdk/conversation.go
  sdk/open_parity_test.go
  sdk/sdk.go
  sdk/template.go
Due: runtime, sdk

fix: a prompt's temperature 0, top_p and penalties reach the provider
  docs/src/content/docs/reference/upgrade-notes.md
  docs/src/content/docs/runtime/reference/pipeline.md
  docs/src/content/docs/runtime/reference/providers.md
  runtime/pipeline/stage/composition_executor.go
  runtime/pipeline/stage/stages_provider.go
  runtime/pipeline/stage/state_handoff.go
  runtime/pipeline/stage/structured_output_mode.go
  runtime/prompt/registry.go
  runtime/prompt/registry_test.go
  runtime/providers/claude/claude.go
  runtime/providers/claude/claude_bedrock_streaming_test.go
  runtime/providers/claude/claude_integration_test.go
  runtime/providers/claude/claude_reasoning_streaming_test.go
  runtime/providers/claude/claude_test.go
  runtime/providers/claude/claude_tools_test.go
  runtime/providers/claude/request_golden_test.go
  runtime/providers/conformance/sampling_params_matrix_test.go
  runtime/providers/gemini/gemini.go
  runtime/providers/gemini/gemini_streaming.go
  runtime/providers/gemini/gemini_tools.go
  runtime/providers/ollama/ollama.go
  runtime/providers/ollama/ollama_tools.go
  runtime/providers/openai/openai.go
  runtime/providers/openai/openai_request_field_coverage_test.go
  runtime/providers/openai/openai_responses_integration.go
  runtime/providers/provider.go
  runtime/providers/vllm/vllm.go
  runtime/providers/vllm/vllm_tools.go
  sdk/conversation.go
  sdk/internal/pipeline/builder.go
  sdk/internal/pipeline/builder_vad.go
  sdk/model_overrides_test.go
  sdk/workflow_handoff_provider_test.go
  sdk/workflow_state_resolver.go
Due: runtime, sdk

test(prompt): concurrent cold-load test reads the CallParams return
  runtime/prompt/registry_concurrency_test.go
Due: none

fix: review follow-ups for prompt sampling parameters
  docs/src/content/docs/reference/upgrade-notes.md
  docs/src/content/docs/runtime/reference/pipeline.md
  runtime/evals/handlers/judge_provider.go
  runtime/evals/handlers/judge_temperature_test.go
  runtime/pipeline/stage/stages_provider.go
  runtime/pipeline/stage/state_handoff.go
  runtime/pipeline/stage/state_handoff_call_test.go
  runtime/prompt/registry.go
  runtime/providers/gemini/gemini.go
  runtime/providers/gemini/gemini_streaming.go
  runtime/providers/gemini/gemini_tools.go
  runtime/providers/gemini/unsupported_params_test.go
  runtime/providers/openai/openai.go
  runtime/providers/openai/openai_request_field_coverage_test.go
  sdk/workflow_state_resolver.go
Due: runtime, sdk

docs: one em-dash per paragraph in the sampling upgrade note
  docs/src/content/docs/reference/upgrade-notes.md
Due: none

fix: a prompt's temperature 0, top_p and penalties reach the provider (#2217)
  docs/src/content/docs/reference/upgrade-notes.md
  docs/src/content/docs/runtime/reference/pipeline.md
  docs/src/content/docs/runtime/reference/providers.md
  runtime/evals/handlers/judge_provider.go
  runtime/evals/handlers/judge_temperature_test.go
  runtime/pipeline/stage/composition_executor.go
  runtime/pipeline/stage/stages_provider.go
  runtime/pipeline/stage/state_handoff.go
  runtime/pipeline/stage/state_handoff_call_test.go
  runtime/pipeline/stage/structured_output_mode.go
  runtime/prompt/registry.go
  runtime/prompt/registry_concurrency_test.go
  runtime/prompt/registry_test.go
  runtime/providers/claude/claude.go
  runtime/providers/claude/claude_bedrock_streaming_test.go
  runtime/providers/claude/claude_integration_test.go
  runtime/providers/claude/claude_reasoning_streaming_test.go
  runtime/providers/claude/claude_test.go
  runtime/providers/claude/claude_tools_test.go
  runtime/providers/claude/request_golden_test.go
  runtime/providers/conformance/sampling_params_matrix_test.go
  runtime/providers/gemini/gemini.go
  runtime/providers/gemini/gemini_streaming.go
  runtime/providers/gemini/gemini_tools.go
  runtime/providers/gemini/unsupported_params_test.go
  runtime/providers/ollama/ollama.go
  runtime/providers/ollama/ollama_tools.go
  runtime/providers/openai/openai.go
  runtime/providers/openai/openai_request_field_coverage_test.go
  runtime/providers/openai/openai_responses_integration.go
  runtime/providers/provider.go
  runtime/providers/vllm/vllm.go
  runtime/providers/vllm/vllm_tools.go
  sdk/conversation.go
  sdk/internal/pipeline/builder.go
  sdk/internal/pipeline/builder_vad.go
  sdk/model_overrides_test.go
  sdk/workflow_handoff_provider_test.go
  sdk/workflow_state_resolver.go
Due: runtime, sdk

docs: compaction upgrade note passes the voice check
  docs/src/content/docs/reference/upgrade-notes.md
Due: none

fix: review follow-ups for compaction budget and log
  docs/src/content/docs/reference/upgrade-notes.md
  docs/src/content/docs/runtime/reference/pipeline.md
  runtime/pipeline/stage/compaction_handoff_test.go
  runtime/pipeline/stage/compactor.go
  runtime/pipeline/stage/stages_provider.go
Due: runtime

fix: compaction reserves room for the system prompt and tools, and keeps the log whole
  docs/src/content/docs/reference/upgrade-notes.md
  docs/src/content/docs/runtime/reference/pipeline.md
  runtime/pipeline/stage/compaction_handoff_test.go
  runtime/pipeline/stage/compactor.go
  runtime/pipeline/stage/stages_provider.go
Due: runtime

docs: regenerate pipeline reference after rebase
  docs/src/content/docs/runtime/reference/pipeline.md
Due: none

docs: Compact doc comment passes the voice check
  docs/src/content/docs/runtime/reference/pipeline.md
  runtime/pipeline/stage/compactor.go
Due: runtime

fix: compaction reserves room for the system prompt and tools, and keeps the log whole (#2218)
  docs/src/content/docs/reference/upgrade-notes.md
  docs/src/content/docs/runtime/reference/pipeline.md
  runtime/pipeline/stage/compaction_handoff_test.go
  runtime/pipeline/stage/compactor.go
  runtime/pipeline/stage/stages_provider.go
Due: runtime

fix: a prompt's top_k reaches the provider
  docs/src/content/docs/reference/upgrade-notes.md
  docs/src/content/docs/runtime/reference/pipeline.md
  docs/src/content/docs/runtime/reference/providers.md
  runtime/pipeline/stage/stages_provider.go
  runtime/pipeline/stage/state_handoff_call_test.go
  runtime/prompt/registry.go
  runtime/prompt/registry_test.go
  runtime/providers/claude/claude.go
  runtime/providers/claude/claude_adaptive_thinking_test.go
  runtime/providers/conformance/sampling_params_matrix_test.go
  runtime/providers/gemini/gemini.go
  runtime/providers/gemini/gemini_streaming.go
  runtime/providers/gemini/gemini_tools.go
  runtime/providers/gemini/unsupported_params_test.go
  runtime/providers/ollama/ollama.go
  runtime/providers/ollama/ollama_tools.go
  runtime/providers/openai/openai.go
  runtime/providers/openai/openai_request_field_coverage_test.go
  runtime/providers/openai/openai_responses_integration.go
  runtime/providers/provider.go
  runtime/providers/top_k_test.go
  runtime/providers/vllm/vllm.go
  runtime/providers/vllm/vllm_tools.go
  sdk/internal/pipeline/builder.go
  sdk/internal/pipeline/builder_vad.go
  sdk/internal/pipeline/builder_vad_wiring_test.go
  sdk/model_overrides_test.go
  sdk/template.go
  sdk/workflow_handoff_provider_test.go
Due: runtime, sdk

test: live-check every sampling parameter; Gemini stops sending penalties
  docs/src/content/docs/reference/upgrade-notes.md
  docs/src/content/docs/runtime/reference/providers.md
  runtime/providers/claude/claude.go
  runtime/providers/claude/claude_contract_test.go
  runtime/providers/conformance/sampling_params_matrix_test.go
  runtime/providers/gemini/gemini.go
  runtime/providers/gemini/gemini_contract_test.go
  runtime/providers/gemini/gemini_tools.go
  runtime/providers/gemini/unsupported_params_test.go
  runtime/providers/ollama/ollama.go
  runtime/providers/openai/openai.go
  runtime/providers/openai/openai_contract_test.go
  runtime/providers/openai/openai_request_field_coverage_test.go
  runtime/providers/openai/openai_responses_integration.go
  runtime/providers/provider.go
  runtime/providers/provider_contract_integration.go
  runtime/providers/top_k_test.go
  runtime/providers/unsent_params_test.go
Due: runtime

fix: learn the sampling parameters a model rejects; OpenAI defaults to Responses
  docs/src/content/docs/reference/upgrade-notes.md
  docs/src/content/docs/runtime/reference/providers.md
  runtime/providers/base_provider.go
  runtime/providers/claude/claude.go
  runtime/providers/claude/claude_contract_test.go
  runtime/providers/claude/claude_streaming.go
  runtime/providers/claude/claude_tools.go
  runtime/providers/conformance/rejected_params_retry_test.go
  runtime/providers/gemini/gemini.go
  runtime/providers/gemini/gemini_contract_test.go
  runtime/providers/gemini/gemini_streaming.go
  runtime/providers/gemini/gemini_tools.go
  runtime/providers/openai/openai.go
  runtime/providers/openai/openai_contract_test.go
  runtime/providers/openai/openai_multimodal_test.go
  runtime/providers/openai/openai_responses_integration.go
  runtime/providers/openai/openai_tools.go
  runtime/providers/openai/responses_convert.go
  runtime/providers/openai/responses_convert_test.go
  runtime/providers/openai/responses_media_test.go
  runtime/providers/rejected_params.go
  runtime/providers/rejected_params_test.go
Due: runtime

fix: system messages reach the system field on tool paths; contract suite fails on API errors
  docs/src/content/docs/runtime/reference/providers.md
  runtime/providers/claude/claude.go
  runtime/providers/claude/claude_streaming.go
  runtime/providers/claude/claude_tools.go
  runtime/providers/conformance/system_message_matrix_test.go
  runtime/providers/gemini/gemini.go
  runtime/providers/gemini/gemini_streaming.go
  runtime/providers/gemini/gemini_tools.go
  runtime/providers/openai/openai.go
  runtime/providers/openai/openai_tools.go
  runtime/providers/provider_contract_integration.go
Due: runtime

refactor: provider entry points share one retry helper
  docs/src/content/docs/runtime/reference/providers.md
  runtime/providers/claude/claude.go
  runtime/providers/claude/claude_streaming.go
  runtime/providers/claude/claude_tools.go
  runtime/providers/gemini/gemini.go
  runtime/providers/gemini/gemini_streaming.go
  runtime/providers/gemini/gemini_tools.go
  runtime/providers/openai/openai.go
  runtime/providers/openai/openai_tools.go
  runtime/providers/rejected_params.go
Due: runtime

fix: realtime sessions use the prompt's parameters and the configured model
  docs/src/content/docs/reference/upgrade-notes.md
  docs/src/content/docs/runtime/reference/providers.md
  runtime/providers/gemini/duplex_integration_test.go
  runtime/providers/gemini/integration_streaming_test.go
  runtime/providers/gemini/live_sampling_test.go
  runtime/providers/gemini/setup.go
  runtime/providers/gemini/setup_test.go
  runtime/providers/gemini/stream_session_integration.go
  runtime/providers/gemini/streaming_support.go
  runtime/providers/openai/realtime_integration_test.go
  runtime/providers/openai/realtime_types.go
  runtime/providers/openai/realtime_types_test.go
  runtime/providers/openai/streaming_support.go
  runtime/providers/openai/streaming_support_integration.go
  runtime/providers/openai/streaming_support_test.go
  runtime/providers/provider.go
  runtime/providers/streaming_input.go
  runtime/providers/unsent_params_test.go
  sdk/duplex_sampling_test.go
  sdk/internal/pipeline/builder.go
Due: runtime, sdk
