Repository AltairaLabs/PromptKit: changes, and which Codecov flags are due for each by the changed paths.
All: runtime, sdk, arena, packc, inspect-state

codecov.yml:

codecov:
  require_ci_to_pass: yes
  notify:
    wait_for_ci: yes

coverage:
  precision: 2
  round: down
  range: "70...100"
  
  status:
    project:
      default:
        target: 70%
        threshold: 1%
        if_ci_failed: error
    patch:
      default:
        target: 70%
        threshold: 1%
        if_ci_failed: error

comment:
  layout: "reach,diff,flags,tree"
  behavior: default
  require_changes: false

flags:
  runtime:
    paths:
      - runtime/
  sdk:
    paths:
      - sdk/
  arena:
    paths:
      - tools/arena/
  packc:
    paths:
      - tools/packc/
  inspect-state:
    paths:
      - tools/inspect-state/

ignore:
  - "**/*_test.go"
  - "**/*_interactive.go"
  - "**/*_integration.go"
  - "examples/"
  - "docs/"
  - "scripts/"
  - ".github/"
  - "*.md"

test(media): move pure logic onto the coverage gate
  runtime/media/audio_converter.go
  runtime/media/audio_converter_integration.go
  runtime/media/audio_converter_test.go
  runtime/media/convert.go
  runtime/media/convert_test.go
Due: runtime

test(openai): extract pure logic from *_integration.go into gated, tested siblings (#1567)
  runtime/providers/openai/openai_responses_integration.go
  runtime/providers/openai/openai_responses_integration_test.go
  runtime/providers/openai/realtime_config.go
  runtime/providers/openai/realtime_config_test.go
  runtime/providers/openai/realtime_cost.go
  runtime/providers/openai/realtime_cost_test.go
  runtime/providers/openai/realtime_session_integration.go
  runtime/providers/openai/realtime_tools_test.go
  runtime/providers/openai/realtime_websocket_integration.go
  runtime/providers/openai/responses_convert.go
  runtime/providers/openai/responses_convert_test.go
Due: runtime

test(media): move pure logic onto the coverage gate (#1568)
  runtime/media/audio_converter.go
  runtime/media/audio_converter_integration.go
  runtime/media/audio_converter_test.go
  runtime/media/convert.go
  runtime/media/convert_test.go
Due: runtime

chore(ci): replace *_integration.go coverage escape-hatch with an explicit allowlist
  scripts/pre-commit.sh
  sonar-project.properties
Due: none

chore(ci): replace *_integration.go coverage escape-hatch with an explicit allowlist (#1569)
  scripts/pre-commit.sh
  sonar-project.properties
Due: none

chore(ci): analyze server/a2a in Sonar; analyze live glue; drop redundant coverage-issue ignores
  sonar-project.properties
Due: none

chore(ci): analyze server/a2a in Sonar; analyze live glue; drop redundant coverage-issue ignores (#1570)
  sonar-project.properties
Due: none

chore(ci): stop Dependabot bumping internal modules; fix doubled commit prefix
  .github/dependabot.yml
Due: none

chore(ci): stop Dependabot bumping internal modules; fix doubled commit prefix (#1571)
  .github/dependabot.yml
Due: none

test(sdk): assert shipped example packs are PromptPack-schema compliant
  sdk/examples/openai-realtime/openai-realtime.pack.json
  sdk/examples/sdk-http-auth/assistant.pack.json
  sdk/internal/pack/examples_schema_compliance_test.go
Due: sdk

fix(examples): drop hosting-mode fields from client-tools pack
  sdk/examples/client-tools/client-tools.pack.json
  sdk/examples/client-tools/main_interactive.go
  sdk/internal/pack/examples_schema_compliance_test.go
Due: sdk

fix(examples): make a2a-demo pack schema-compliant; guard repo-root packs
  examples/a2a-demo/assistant.pack.json
  sdk/internal/pack/examples_schema_compliance_test.go
Due: none

refactor(prompt): spec-exact compiled Validator type in runtime
  runtime/prompt/pack.go
  runtime/prompt/pack_test.go
  runtime/prompt/registry.go
  runtime/prompt/validator_spec_parity_test.go
Due: runtime

refactor(sdk): consolidate onto the runtime PromptPack type
  runtime/prompt/pack.go
  sdk/conversation_test.go
  sdk/inference_integration_test.go
  sdk/internal/pack/agent_state_test.go
  sdk/internal/pack/alias.go
  sdk/internal/pack/load.go
  sdk/internal/pack/load_test.go
  sdk/internal/pack/validate.go
  sdk/internal/pack/validate_test.go
  sdk/internal/pack/validator_spec_parity_test.go
  sdk/internal/pack/workflow.go
  sdk/mcp_test.go
  sdk/sdk.go
  sdk/stream_events_test.go
  sdk/streaming_test.go
  sdk/template.go
  sdk/workflow.go
Due: runtime, sdk

refactor(sdk): drop packToRuntimePack projection
  sdk/agent_resolver_test.go
  sdk/agent_state_conv_test.go
  sdk/capability_a2a.go
  sdk/sdk.go
Due: sdk

test(prompt): add Pack JSON round-trip guard
  runtime/prompt/pack_roundtrip_test.go
Due: none

refactor(prompt): spec-exact compiled Variable; binding is runtime-only
  runtime/prompt/pack.go
  runtime/prompt/pack_test.go
  runtime/prompt/registry.go
  runtime/prompt/validator_spec_parity_test.go
  runtime/prompt/version_test.go
  sdk/internal/pack/alias.go
  sdk/internal/pack/load_test.go
Due: runtime, sdk

test(prompt): pin PackPrompt and PackTool to the schema too
  runtime/prompt/validator_spec_parity_test.go
Due: none

test(sdk): assert shipped example packs are PromptPack-schema compliant (#1577)
  examples/a2a-demo/assistant.pack.json
  sdk/examples/client-tools/client-tools.pack.json
  sdk/examples/client-tools/main_interactive.go
  sdk/examples/openai-realtime/openai-realtime.pack.json
  sdk/examples/sdk-http-auth/assistant.pack.json
  sdk/internal/pack/examples_schema_compliance_test.go
Due: sdk

test: cover new pack accessors and non-string variable defaults
  runtime/prompt/pack_accessors_test.go
  sdk/sdk_test.go
Due: none

docs: Atlas-branded landing page + on-brand docs theme
  docs/astro.config.mjs
  docs/package-lock.json
  docs/package.json
  docs/public/atlas/logo-altairalabs.svg
  docs/public/atlas/logo-promptkit.svg
  docs/public/atlas/star-glyph-gold.svg
  docs/public/atlas/starfield.svg
  docs/src/components/FamilyBar.astro
  docs/src/components/Header.astro
  docs/src/components/landing/Capabilities.astro
  docs/src/components/landing/CopyButton.astro
  docs/src/components/landing/DiataxisMatrix.astro
  docs/src/components/landing/Hero.astro
  docs/src/components/landing/HowItFits.astro
  docs/src/components/landing/InstallBand.astro
  docs/src/components/landing/Performance.astro
  docs/src/components/landing/ProductNav.astro
  docs/src/components/landing/RepoStructure.astro
  docs/src/components/landing/SiteFooter.astro
  docs/src/components/landing/StreamWithTools.astro
  docs/src/components/landing/Terminal.astro
  docs/src/components/landing/ThemeToggle.astro
  docs/src/components/landing/icons.ts
  docs/src/content/docs/index.mdx
  docs/src/pages/index.astro
  docs/src/styles/atlas/semantic.css
  docs/src/styles/atlas/starlight-map.css
  docs/src/styles/atlas/tokens.css
  docs/src/styles/custom.css
Due: none

docs: Atlas-branded landing page + on-brand docs theme (#1580)
  docs/astro.config.mjs
  docs/package-lock.json
  docs/package.json
  docs/public/atlas/logo-altairalabs.svg
  docs/public/atlas/logo-promptkit.svg
  docs/public/atlas/star-glyph-gold.svg
  docs/public/atlas/starfield.svg
  docs/src/components/FamilyBar.astro
  docs/src/components/Header.astro
  docs/src/components/landing/Capabilities.astro
  docs/src/components/landing/CopyButton.astro
  docs/src/components/landing/DiataxisMatrix.astro
  docs/src/components/landing/Hero.astro
  docs/src/components/landing/HowItFits.astro
  docs/src/components/landing/InstallBand.astro
  docs/src/components/landing/Performance.astro
  docs/src/components/landing/ProductNav.astro
  docs/src/components/landing/RepoStructure.astro
  docs/src/components/landing/SiteFooter.astro
  docs/src/components/landing/StreamWithTools.astro
  docs/src/components/landing/Terminal.astro
  docs/src/components/landing/ThemeToggle.astro
  docs/src/components/landing/icons.ts
  docs/src/content/docs/index.mdx
  docs/src/pages/index.astro
  docs/src/styles/atlas/semantic.css
  docs/src/styles/atlas/starlight-map.css
  docs/src/styles/atlas/tokens.css
  docs/src/styles/custom.css
Due: none

docs: use real benchmark numbers on the landing, drop the invented comparison
  docs/src/components/landing/Hero.astro
  docs/src/components/landing/Performance.astro
  docs/src/components/landing/StreamWithTools.astro
  docs/src/components/landing/Terminal.astro
Due: none

docs: use real benchmark numbers on the landing, drop the invented comparison (#1581)
  docs/src/components/landing/Hero.astro
  docs/src/components/landing/Performance.astro
  docs/src/components/landing/StreamWithTools.astro
  docs/src/components/landing/Terminal.astro
Due: none

fix(benchmarks): bump Go Dockerfiles 1.25 -> 1.26 to match go.mod
  benchmarks/frameworks/genkit/Dockerfile
  benchmarks/frameworks/promptkit/round1/Dockerfile
  benchmarks/harness/Dockerfile
  benchmarks/mockupstream/Dockerfile
Due: none

docs: real competitor benchmark comparison on the landing
  docs/src/components/landing/Hero.astro
  docs/src/components/landing/Performance.astro
Due: none

docs: real competitor benchmark on the landing (+ fix Go 1.26 in benchmark Dockerfiles) (#1582)
  benchmarks/frameworks/genkit/Dockerfile
  benchmarks/frameworks/promptkit/round1/Dockerfile
  benchmarks/harness/Dockerfile
  benchmarks/mockupstream/Dockerfile
  docs/src/components/landing/Hero.astro
  docs/src/components/landing/Performance.astro
Due: none

feat(metrics): add off-bus audio health counters to StreamMetrics (#1585)
  runtime/providers/stream_metrics.go
  runtime/providers/stream_metrics_test.go
Due: runtime

feat(pacing): report pacing-behind-deadline to StreamMetrics (#1585)
  runtime/pipeline/stage/stages_pacing.go
  runtime/pipeline/stage/stages_pacing_test.go
Due: runtime

feat(audio): count JitterBuffer underruns as a reusable primitive (#1585)
  runtime/audio/jitterbuffer.go
  runtime/audio/jitterbuffer_test.go
Due: runtime

feat(audiohelper): report jitter-buffer underruns/drops off-bus (#1585)
  sdk/examples/audiohelper/portaudio_duplex.go
  sdk/examples/audiohelper/portaudio_duplex_test.go
  sdk/examples/audiohelper/portaudio_io_interactive.go
Due: sdk

feat(metrics): pull-based event-bus saturation exporter (#1585)
  runtime/metrics/eventbus_health.go
  runtime/metrics/eventbus_health_test.go
Due: runtime

test(metrics): end-to-end scrape asserts audio health families exposed (#1585)
  runtime/metrics/audio_health_integration_test.go
Due: none

test(pipeline): guard audio telemetry off-bus invariant (#853/#1585)
  runtime/pipeline/stage/audio_offbus_regression_test.go
Due: none

docs(metrics): document off-bus realtime-audio telemetry invariant (#853/#1585)
  runtime/providers/stream_metrics.go
Due: runtime

refactor(metrics): extract reusable JitterHealthReporter (PortAudio-free) (#1585)
  runtime/providers/jitter_health.go
  runtime/providers/jitter_health_test.go
  sdk/examples/audiohelper/portaudio_io_interactive.go
Due: runtime
