Repository AltairaLabs/PromptKit: changes, and which Codecov flags are due for each by the changed paths.
All: runtime, sdk, arena, packc, inspect-state

codecov.yml:

codecov:
  require_ci_to_pass: yes
  notify:
    wait_for_ci: yes

coverage:
  precision: 2
  round: down
  range: "70...100"
  
  status:
    project:
      default:
        target: 70%
        threshold: 1%
        if_ci_failed: error
    patch:
      default:
        target: 70%
        threshold: 1%
        if_ci_failed: error

comment:
  layout: "reach,diff,flags,tree"
  behavior: default
  require_changes: false

flags:
  runtime:
    paths:
      - runtime/
  sdk:
    paths:
      - sdk/
  arena:
    paths:
      - tools/arena/
  packc:
    paths:
      - tools/packc/
  inspect-state:
    paths:
      - tools/inspect-state/

ignore:
  - "**/*_test.go"
  - "**/*_interactive.go"
  - "**/*_integration.go"
  - "examples/"
  - "docs/"
  - "scripts/"
  - ".github/"
  - "*.md"

feat(docs): adopt the shared Atlas brand components and docs theme
  docs/astro.config.mjs
  docs/package-lock.json
  docs/package.json
  docs/src/components/landing/Capabilities.astro
  docs/src/components/landing/CopyButton.astro
  docs/src/components/landing/DiataxisMatrix.astro
  docs/src/components/landing/Hero.astro
  docs/src/components/landing/HowItFits.astro
  docs/src/components/landing/InstallBand.astro
  docs/src/components/landing/Performance.astro
  docs/src/components/landing/ProductNav.astro
  docs/src/components/landing/RepoStructure.astro
  docs/src/components/landing/StreamWithTools.astro
  docs/src/components/landing/Terminal.astro
  docs/src/components/landing/ThemeToggle.astro
  docs/src/pages/index.astro
  docs/src/styles/atlas/semantic.css
  docs/src/styles/atlas/starlight-map.css
  docs/src/styles/atlas/tokens.css
  docs/src/styles/custom.css
Due: none

feat(docs): adopt shared PathNav and SiteFooter from @altairalabs/brand (#1809)
  docs/astro.config.mjs
  docs/package-lock.json
  docs/package.json
  docs/src/components/landing/Capabilities.astro
  docs/src/components/landing/CopyButton.astro
  docs/src/components/landing/DiataxisMatrix.astro
  docs/src/components/landing/Hero.astro
  docs/src/components/landing/HowItFits.astro
  docs/src/components/landing/InstallBand.astro
  docs/src/components/landing/Performance.astro
  docs/src/components/landing/ProductNav.astro
  docs/src/components/landing/RepoStructure.astro
  docs/src/components/landing/SiteFooter.astro
  docs/src/components/landing/StreamWithTools.astro
  docs/src/components/landing/Terminal.astro
  docs/src/components/landing/ThemeToggle.astro
  docs/src/pages/index.astro
  docs/src/styles/atlas/semantic.css
  docs/src/styles/atlas/starlight-map.css
  docs/src/styles/atlas/tokens.css
  docs/src/styles/custom.css
Due: none

chore(deps): @altairalabs/brand 0.7.2 — CodeGen-Sandbox rename
  docs/package-lock.json
  docs/package.json
Due: none

chore(deps): @altairalabs/brand 0.7.2 — CodeGen-Sandbox rename (#1810)
  docs/package-lock.json
  docs/package.json
Due: none

fix(skills): resolve git to an absolute path before running it
  runtime/skills/installer_integration.go
  runtime/skills/installer_integration_test.go
Due: none

fix(skills): resolve git to an absolute path before running it (#1812)
  runtime/skills/installer_integration.go
  runtime/skills/installer_integration_test.go
Due: none

fix(sdk): build the Azure deployment path instead of the account host
  runtime/credentials/azure.go
  runtime/credentials/azure_integration_test.go
  runtime/providers/azure_deployment_path_test.go
  sdk/sdk.go
  sdk/sdk_test.go
Due: runtime, sdk

test(sdk): verify the Azure deployment path against a live resource
  sdk/azure_platform_integration_test.go
Due: none

fix(sdk): build the Azure deployment path instead of the account host (#1813)
  runtime/credentials/azure.go
  runtime/credentials/azure_integration_test.go
  runtime/providers/azure_deployment_path_test.go
  sdk/azure_platform_integration_test.go
  sdk/sdk.go
  sdk/sdk_test.go
Due: runtime, sdk

chore(deps): batch eleven dependabot bumps ahead of the release
  docs/package-lock.json
  pkg/go.mod
  pkg/go.sum
  runtime/go.mod
  runtime/go.sum
  sdk/go.mod
  sdk/go.sum
  server/a2a/go.mod
  server/a2a/go.sum
Due: runtime, sdk

refactor: name the repeated string literals flagged by S1192
  pkg/config/schema_validator.go
  runtime/deploy/adaptersdk/serve.go
  runtime/media/audio_converter.go
  runtime/providers/provider_contract_integration.go
  runtime/storage/instrumented.go
  runtime/storage/local/filestore.go
  server/a2a/server.go
  server/a2a/server_stream.go
Due: runtime

test(events): join the playback goroutine before sampling the counter
  runtime/events/player_test.go
Due: none

test(openai): skip Azure embedding tests where no embedding model is deployed
  runtime/providers/openai/embedding_azure_integration_test.go
Due: none

docs(credentials): stop the Azure example URL rendering as a live link
  runtime/credentials/azure.go
Due: runtime

refactor(a2a): name the repeated SSE header block, drop the contract-harness edit
  runtime/providers/provider_contract_integration.go
  server/a2a/server_stream.go
Due: none

docs(credentials): stop the Azure example URL rendering as a live link (#1818)
  runtime/credentials/azure.go
Due: runtime

test(events): join the playback goroutine before sampling the counter (#1816)
  runtime/events/player_test.go
Due: none

test(openai): skip Azure embedding tests where no embedding model is deployed (#1817)
  runtime/providers/openai/embedding_azure_integration_test.go
Due: none

ci(docs): pin setup-node to the commit v7.0.0 actually tags
  .github/workflows/docs.yml
Due: none

chore(deps): batch eleven dependabot bumps ahead of the release (#1814)
  docs/package-lock.json
  pkg/go.mod
  pkg/go.sum
  runtime/go.mod
  runtime/go.sum
  sdk/go.mod
  sdk/go.sum
  server/a2a/go.mod
  server/a2a/go.sum
Due: runtime, sdk

ci(docs): pin setup-node to the commit v7.0.0 actually tags (#1819)
  .github/workflows/docs.yml
Due: none

docs: adopt the family docs-publishing rule
  .claude/skills/docs-review/SKILL.md
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/feature_request.md
  AGENTS.md
Due: none

docs: adopt the family docs-publishing rule (#1820)
  .claude/skills/docs-review/SKILL.md
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/feature_request.md
  AGENTS.md
Due: none

fix(deploy): make an adapter's missing RPC detectable, not just printable
  runtime/deploy/client.go
  runtime/deploy/client_test.go
  runtime/deploy/provider.go
Due: runtime

fix(deploy): make an adapter's missing RPC detectable, not just printable (#1821)
  runtime/deploy/client.go
  runtime/deploy/client_test.go
  runtime/deploy/provider.go
Due: runtime

ci: dispatch releases to every deploy adapter
  .github/workflows/release.yml
Due: none

ci: dispatch releases to every deploy adapter (#1823)
  .github/workflows/release.yml
Due: none

fix: say what to write when a platform is given as a provider type
  runtime/providers/provider_test.go
  runtime/providers/registry.go
Due: runtime

fix: say what to write when a platform is given as a provider type (#1824)
  runtime/providers/provider_test.go
  runtime/providers/registry.go
Due: runtime

feat: let an MCP endpoint carry a per-request credential
  docs/src/content/docs/runtime/reference/mcp.md
  docs/src/content/docs/sdk/reference/conversation-manager.md
  runtime/mcp/registry.go
  runtime/mcp/sse_transport.go
  runtime/mcp/streamable_transport.go
  runtime/mcp/streamable_transport_test.go
  runtime/mcp/types.go
  sdk/mcp_resolver.go
  sdk/sdk.go
Due: runtime, sdk

feat: emit accumulated reasoning and tool-loop round to consumers
  runtime/events/emitter.go
  runtime/events/types.go
  runtime/pipeline/stage/reasoning_round_live_integration_test.go
  runtime/pipeline/stage/stages_provider.go
  runtime/pipeline/stage/stages_provider_approval_test.go
  runtime/pipeline/stage/stages_provider_hooks_test.go
  runtime/pipeline/stage/stages_provider_parallel_test.go
  runtime/pipeline/stage/stages_provider_round_events_test.go
  runtime/pipeline/stage/stages_provider_test.go
  runtime/pipeline/stage/stages_provider_toolroute_test.go
  runtime/pipeline/stage/stages_recording.go
  runtime/pipeline/stage/stages_recording_test.go
  runtime/pipeline/stage/tool_call_budget_test.go
  runtime/providers/conformance/reasoning_conformance_test.go
  runtime/providers/ollama/ollama.go
  runtime/providers/ollama/ollama_tools.go
  runtime/providers/openai/openai.go
  runtime/providers/openai/openai_reasoning_nonstreaming_test.go
  runtime/providers/openai/openai_tools.go
  runtime/providers/vllm/vllm.go
  runtime/providers/vllm/vllm_tools.go
  sdk/conversation.go
  sdk/reasoning_response_test.go
  sdk/streaming.go
Due: runtime, sdk

test: make the nil-reasoning assertions falsifiable
  runtime/providers/openai/openai_reasoning_nonstreaming_test.go
  sdk/reasoning_response_test.go
Due: none

test: prove reasoning and round reach a real SDK consumer
  sdk/reasoning_rounds_live_integration_test.go
Due: none

feat: emit accumulated reasoning and tool-loop round to consumers (#1841)
  runtime/events/emitter.go
  runtime/events/types.go
  runtime/pipeline/stage/reasoning_round_live_integration_test.go
  runtime/pipeline/stage/stages_provider.go
  runtime/pipeline/stage/stages_provider_approval_test.go
  runtime/pipeline/stage/stages_provider_hooks_test.go
  runtime/pipeline/stage/stages_provider_parallel_test.go
  runtime/pipeline/stage/stages_provider_round_events_test.go
  runtime/pipeline/stage/stages_provider_test.go
  runtime/pipeline/stage/stages_provider_toolroute_test.go
  runtime/pipeline/stage/stages_recording.go
  runtime/pipeline/stage/stages_recording_test.go
  runtime/pipeline/stage/tool_call_budget_test.go
  runtime/providers/conformance/reasoning_conformance_test.go
  runtime/providers/ollama/ollama.go
  runtime/providers/ollama/ollama_tools.go
  runtime/providers/openai/openai.go
  runtime/providers/openai/openai_reasoning_nonstreaming_test.go
  runtime/providers/openai/openai_tools.go
  runtime/providers/vllm/vllm.go
  runtime/providers/vllm/vllm_tools.go
  sdk/conversation.go
  sdk/reasoning_response_test.go
  sdk/reasoning_rounds_live_integration_test.go
  sdk/streaming.go
Due: runtime, sdk

feat: emit reasoning.completed on the bus, correlated to its round
  runtime/events/emitter.go
  runtime/events/store.go
  runtime/events/types.go
  runtime/pipeline/stage/reasoning_completed_test.go
  runtime/pipeline/stage/stages_provider.go
  runtime/pipeline/stage/stages_provider_round_events_test.go
  runtime/pipeline/stage/stages_provider_test.go
  sdk/reasoning_rounds_live_integration_test.go
Due: runtime

fix(openai): recover streaming reasoning from the completed output item
  runtime/providers/openai/openai_responses_integration.go
  runtime/providers/openai/responses_reasoning_live_integration_test.go
  runtime/providers/openai/responses_stream_reasoning_test.go
  sdk/reasoning_rounds_live_integration_test.go
Due: none

docs(events): state which route each event takes, and why it matters
  docs/src/content/docs/runtime/reference/pipeline.md
  runtime/events/emitter.go
  runtime/pipeline/stage/stages_recording.go
Due: runtime

test(events): cover the new emitter methods directly
  runtime/events/reasoning_emitter_test.go
  runtime/providers/openai/responses_stream_reasoning_test.go
Due: none

feat: emit reasoning.completed on the bus, correlated to its round (#1842)
  docs/src/content/docs/runtime/reference/pipeline.md
  runtime/events/emitter.go
  runtime/events/reasoning_emitter_test.go
  runtime/events/store.go
  runtime/events/types.go
  runtime/pipeline/stage/reasoning_completed_test.go
  runtime/pipeline/stage/stages_provider.go
  runtime/pipeline/stage/stages_provider_round_events_test.go
  runtime/pipeline/stage/stages_provider_test.go
  runtime/pipeline/stage/stages_recording.go
  runtime/providers/openai/openai_responses_integration.go
  runtime/providers/openai/responses_reasoning_live_integration_test.go
  runtime/providers/openai/responses_stream_reasoning_test.go
  sdk/reasoning_rounds_live_integration_test.go
Due: runtime

fix(gemini): send thinkingLevel for Gemini 3, not the superseded budget
  runtime/providers/gemini/gemini.go
  runtime/providers/gemini/gemini3_reasoning_diag_test.go
  runtime/providers/gemini/gemini_thinking.go
  runtime/providers/gemini/gemini_thinking_level_test.go
Due: runtime
