Repository AltairaLabs/PromptKit: changes, and which Codecov flags are due for each by the changed paths.
All: runtime, sdk, arena, packc, inspect-state

codecov.yml:

codecov:
  require_ci_to_pass: yes
  notify:
    wait_for_ci: yes

coverage:
  precision: 2
  round: down
  range: "70...100"
  
  status:
    project:
      default:
        target: 70%
        threshold: 1%
        if_ci_failed: error
    patch:
      default:
        target: 70%
        threshold: 1%
        if_ci_failed: error

comment:
  layout: "reach,diff,flags,tree"
  behavior: default
  require_changes: false

flags:
  runtime:
    paths:
      - runtime/
  sdk:
    paths:
      - sdk/
  arena:
    paths:
      - tools/arena/
  packc:
    paths:
      - tools/packc/
  inspect-state:
    paths:
      - tools/inspect-state/

ignore:
  - "**/*_test.go"
  - "**/*_interactive.go"
  - "**/*_integration.go"
  - "examples/"
  - "docs/"
  - "scripts/"
  - ".github/"
  - "*.md"

docs: fix dangling references in example READMEs
  examples/assertions-test/MOCK_PROVIDER_USAGE.md
  examples/context-management/MOCK_PROVIDER_USAGE.md
  examples/customer-support/MOCK_PROVIDER_USAGE.md
  examples/guardrails-test/MOCK_PROVIDER_USAGE.md
  examples/guardrails-test/README.md
  examples/mcp-chatbot/MOCK_PROVIDER_USAGE.md
  examples/mcp-chatbot/README.md
  examples/mcp-filesystem-test/MOCK_PROVIDER_USAGE.md
  examples/mcp-memory-test/MOCK_PROVIDER_USAGE.md
  examples/multimodal-basics/README.md
  examples/resilience-testing/README.md
  examples/variables-demo/README.md
  sdk/examples/README.md
Due: sdk

ci(docs): run docs workflow on example README changes
  .github/workflows/docs.yml
Due: none

docs: fix dangling references in example READMEs (#934)
  .github/workflows/docs.yml
  examples/assertions-test/MOCK_PROVIDER_USAGE.md
  examples/context-management/MOCK_PROVIDER_USAGE.md
  examples/customer-support/MOCK_PROVIDER_USAGE.md
  examples/guardrails-test/MOCK_PROVIDER_USAGE.md
  examples/guardrails-test/README.md
  examples/mcp-chatbot/MOCK_PROVIDER_USAGE.md
  examples/mcp-chatbot/README.md
  examples/mcp-filesystem-test/MOCK_PROVIDER_USAGE.md
  examples/mcp-memory-test/MOCK_PROVIDER_USAGE.md
  examples/multimodal-basics/README.md
  examples/resilience-testing/README.md
  examples/variables-demo/README.md
  sdk/examples/README.md
Due: sdk

fix(sdk): align pack.Validator to promptpack spec (#933)
  sdk/internal/pack/load.go
  sdk/internal/pack/validator_loadjson_test.go
  sdk/sdk.go
  sdk/validators_to_hooks_test.go
Due: sdk

test(sdk): reflection test pinning pack.Validator to promptpack spec
  sdk/internal/pack/validator_spec_parity_test.go
Due: none

test(sdk): pin schema rejection of non-spec validator fields
  sdk/internal/pack/validator_loadjson_test.go
Due: none

feat(evals): add ParamValidator interface for load-time param checks
  runtime/evals/param_validator_test.go
  runtime/evals/registry.go
Due: runtime

feat(evals): implement ParamValidator on handlers with required params
  runtime/evals/handlers/guardrail_triggered.go
  runtime/evals/handlers/length.go
  runtime/evals/handlers/param_validator_test.go
  runtime/evals/handlers/workflow_state_is.go
Due: runtime

fix(guardrails): validate handler params at hook construction
  runtime/hooks/guardrails/factory.go
  runtime/hooks/guardrails/factory_test.go
Due: runtime

feat(evals): ValidateEvalTypes also invokes ParamValidator
  runtime/evals/validate.go
  runtime/evals/validate_test.go
Due: runtime

feat(sdk): warn-and-skip filter for invalid pack eval defs
  sdk/eval_middleware.go
  sdk/eval_middleware_test.go
Due: sdk

test(sdk): end-to-end regression test for #933
  sdk/validators_e2e_test.go
Due: none

test(sdk): strengthen #933 regression — assert validator actually ran
  sdk/validators_e2e_test.go
Due: none

test(arena): pin fail-fast for evals with missing required params
  tools/arena/engine/eval_param_validation_test.go
Due: none

test(sdk): add ticket-exact reproducer for #933
  sdk/validators_e2e_test.go
Due: none

feat(sdk): add ValidatePack preflight API
  sdk/validate_pack.go
  sdk/validate_pack_internal_test.go
  sdk/validate_pack_test.go
Due: sdk

feat(sdk)!: ValidatePack runs strict schema by default
  sdk/validate_pack.go
  sdk/validate_pack_test.go
Due: sdk

refactor(sdk): ValidatePack takes a plain skipSchemaValidation bool
  sdk/validate_pack.go
  sdk/validate_pack_test.go
Due: sdk

fix(sdk): pack validator spec compliance (#933) (#935)
  runtime/evals/handlers/guardrail_triggered.go
  runtime/evals/handlers/length.go
  runtime/evals/handlers/param_validator_test.go
  runtime/evals/handlers/workflow_state_is.go
  runtime/evals/param_validator_test.go
  runtime/evals/registry.go
  runtime/evals/validate.go
  runtime/evals/validate_test.go
  runtime/hooks/guardrails/factory.go
  runtime/hooks/guardrails/factory_test.go
  sdk/eval_middleware.go
  sdk/eval_middleware_test.go
  sdk/internal/pack/load.go
  sdk/internal/pack/validator_loadjson_test.go
  sdk/internal/pack/validator_spec_parity_test.go
  sdk/sdk.go
  sdk/validate_pack.go
  sdk/validate_pack_internal_test.go
  sdk/validate_pack_test.go
  sdk/validators_e2e_test.go
  sdk/validators_to_hooks_test.go
  tools/arena/engine/eval_param_validation_test.go
Due: runtime, sdk

feat(evals): observational EvalHook with SDK + declarative RuntimeConfig wiring
  .gitignore
  go.work
  pkg/config/runtime_config.go
  runtime/evals/exec_hook.go
  runtime/evals/exec_hook_test.go
  runtime/evals/hooks.go
  runtime/evals/hooks_test.go
  runtime/evals/runner.go
  runtime/evals/runner_test.go
  schemas/v1alpha1/runtime-config.json
  sdk/eval_middleware.go
  sdk/eval_middleware_test.go
  sdk/examples/eval-hooks/README.md
  sdk/examples/eval-hooks/assistant.pack.json
  sdk/examples/eval-hooks/go.mod
  sdk/examples/eval-hooks/go.sum
  sdk/examples/eval-hooks/log-result.sh
  sdk/examples/eval-hooks/main.go
  sdk/options.go
  sdk/runtime_config.go
  sdk/runtime_config_test.go
Due: runtime, sdk

fix(evals): bound ExecEvalHook Wait() with WaitDelay to prevent pipe hang
  runtime/evals/exec_hook.go
Due: runtime

feat(evals): observational EvalHook + declarative RuntimeConfig wiring (#936)
  .gitignore
  go.work
  pkg/config/runtime_config.go
  runtime/evals/exec_hook.go
  runtime/evals/exec_hook_test.go
  runtime/evals/hooks.go
  runtime/evals/hooks_test.go
  runtime/evals/runner.go
  runtime/evals/runner_test.go
  schemas/v1alpha1/runtime-config.json
  sdk/eval_middleware.go
  sdk/eval_middleware_test.go
  sdk/examples/eval-hooks/README.md
  sdk/examples/eval-hooks/assistant.pack.json
  sdk/examples/eval-hooks/go.mod
  sdk/examples/eval-hooks/go.sum
  sdk/examples/eval-hooks/log-result.sh
  sdk/examples/eval-hooks/main.go
  sdk/options.go
  sdk/runtime_config.go
  sdk/runtime_config_test.go
Due: runtime, sdk

fix(providers): accumulate Responses API tool args via output_index fallback (#940)
  runtime/providers/openai/openai_responses_integration.go
  runtime/providers/openai/openai_responses_integration_test.go
Due: none

fix(providers): accumulate Responses API tool args via output_index fallback (#940) (#942)
  runtime/providers/openai/openai_responses_integration.go
  runtime/providers/openai/openai_responses_integration_test.go
Due: none

feat(providers): wire Azure URL methods and fix ToolProvider auth bypass
  runtime/providers/openai/openai.go
  runtime/providers/openai/openai_responses_integration.go
  runtime/providers/openai/openai_test.go
  runtime/providers/openai/openai_tools.go
  runtime/providers/openai/openai_tools_test.go
Due: runtime

feat(providers): auto-derive Azure base URL and force Completions mode
  runtime/providers/openai/openai.go
  runtime/providers/openai/openai_test.go
Due: runtime

feat(providers): add isAzure, chatCompletionsURL, responsesURL to OpenAI provider
  runtime/providers/openai/openai.go
  runtime/providers/openai/openai_test.go
Due: runtime

feat(providers): add AzureOpenAIEndpoint helper and DefaultAzureAPIVersion
  runtime/credentials/azure_integration.go
  runtime/credentials/azure_integration_test.go
Due: none

docs(providers): update Azure OpenAI config to use platform auth
  docs/src/content/docs/arena/how-to/configure-providers.md
Due: none

docs(runtime): update Azure OpenAI SDK setup to use platform auth
  docs/src/content/docs/runtime/how-to/setup-providers.md
Due: none

test(providers): add coverage for credential-based makeRequest error paths
  runtime/providers/openai/openai_tools_test.go
Due: none

feat(providers): Azure OpenAI first-class platform support + validator message fix (#941)
  docs/src/content/docs/arena/how-to/configure-providers.md
  docs/src/content/docs/runtime/how-to/setup-providers.md
  runtime/credentials/azure_integration.go
  runtime/credentials/azure_integration_test.go
  runtime/providers/openai/openai.go
  runtime/providers/openai/openai_responses_integration.go
  runtime/providers/openai/openai_test.go
  runtime/providers/openai/openai_tools.go
  runtime/providers/openai/openai_tools_test.go
Due: runtime

fix(arena): skip credential resolution for unselected providers (#938)
  tools/arena/cmd/promptarena/run_interactive.go
  tools/arena/engine/builder_additional_test.go
  tools/arena/engine/builder_integration.go
  tools/arena/engine/engine.go
Due: arena

fix(arena): skip credential resolution for unselected providers (#938) (#944)
  tools/arena/cmd/promptarena/run_interactive.go
  tools/arena/engine/builder_additional_test.go
  tools/arena/engine/builder_integration.go
  tools/arena/engine/engine.go
Due: arena

fix(arena): validate assertion types against eval registry during promptarena validate (#939)
  tools/arena/assertions/validate_types.go
  tools/arena/assertions/validate_types_test.go
  tools/arena/cmd/promptarena/validate.go
  tools/arena/cmd/promptarena/validate_test.go
Due: arena

fix(arena): validate assertion types against eval registry during promptarena validate (#939) (#945)
  tools/arena/assertions/validate_types.go
  tools/arena/assertions/validate_types_test.go
  tools/arena/cmd/promptarena/validate.go
  tools/arena/cmd/promptarena/validate_test.go
Due: arena

feat(evals): add require_args param to tools_called assertion (#943)
  examples/capability-matrix/scenarios/streaming-tools.scenario.yaml
  runtime/evals/handlers/handlers_test.go
  runtime/evals/handlers/tools_called.go
Due: runtime

feat(arena): seed_memories — pre-populate memory store before scenario execution (#946)
  pkg/config/types.go
  tools/arena/engine/execution.go
  tools/arena/engine/execution_memory_integration.go
  tools/arena/engine/execution_memory_integration_test.go
Due: arena

feat(evals): add require_args param to tools_called assertion (#943) (#947)
  examples/capability-matrix/scenarios/streaming-tools.scenario.yaml
  runtime/evals/handlers/handlers_test.go
  runtime/evals/handlers/tools_called.go
Due: runtime

feat(arena): seed_memories — pre-populate memory store before scenario execution (#946) (#949)
  pkg/config/types.go
  tools/arena/engine/execution.go
  tools/arena/engine/execution_memory_integration.go
  tools/arena/engine/execution_memory_integration_test.go
Due: arena
