Repository AltairaLabs/PromptKit: changes, and which Codecov flags are due for each by the changed paths.
All: runtime, sdk, arena, packc, inspect-state

codecov.yml:

codecov:
  require_ci_to_pass: yes
  notify:
    wait_for_ci: yes

coverage:
  precision: 2
  round: down
  range: "70...100"
  
  status:
    project:
      default:
        target: 70%
        threshold: 1%
        if_ci_failed: error
    patch:
      default:
        target: 70%
        threshold: 1%
        if_ci_failed: error

comment:
  layout: "reach,diff,flags,tree"
  behavior: default
  require_changes: false

flags:
  runtime:
    paths:
      - runtime/
  sdk:
    paths:
      - sdk/
  arena:
    paths:
      - tools/arena/
  packc:
    paths:
      - tools/packc/
  inspect-state:
    paths:
      - tools/inspect-state/

ignore:
  - "**/*_test.go"
  - "**/*_interactive.go"
  - "**/*_integration.go"
  - "examples/"
  - "docs/"
  - "scripts/"
  - ".github/"
  - "*.md"

refactor(providers): Extract shared HTTP request handling to reduce duplication
  runtime/providers/base_embedding.go
  runtime/providers/base_embedding_test.go
  runtime/providers/gemini/embedding.go
  runtime/providers/openai/embedding.go
  runtime/providers/voyageai/embedding.go
  runtime/providers/voyageai/embedding_test.go
Due: runtime

refactor(providers): Add shared JSON and logging helpers to further reduce duplication
  runtime/providers/base_embedding.go
  runtime/providers/base_embedding_test.go
  runtime/providers/gemini/embedding.go
  runtime/providers/openai/embedding.go
  runtime/providers/voyageai/embedding.go
Due: runtime

test(voyageai): Add comprehensive test coverage for embedding provider
  runtime/providers/voyageai/embedding_test.go
Due: none

refactor(voyageai): Rename types to reduce code duplication with OpenAI
  runtime/providers/voyageai/embedding.go
  runtime/providers/voyageai/embedding_test.go
Due: runtime

docs: add context management documentation for Arena and SDK
  docs/src/content/arena/how-to/index.md
  docs/src/content/arena/how-to/manage-context.md
  docs/src/content/sdk/how-to/index.md
  docs/src/content/sdk/how-to/manage-context.md
Due: none

feat: Embedding-based relevance truncation for ContextBuilderStage (#143) (#160)
  docs/src/content/arena/how-to/index.md
  docs/src/content/arena/how-to/manage-context.md
  docs/src/content/sdk/how-to/index.md
  docs/src/content/sdk/how-to/manage-context.md
  pkg/config/types.go
  runtime/pipeline/stage/similarity.go
  runtime/pipeline/stage/similarity_test.go
  runtime/pipeline/stage/stages_utilities.go
  runtime/pipeline/stage/stages_utilities_test.go
  runtime/providers/base_embedding.go
  runtime/providers/base_embedding_test.go
  runtime/providers/embedding.go
  runtime/providers/embedding_test.go
  runtime/providers/gemini/embedding.go
  runtime/providers/gemini/embedding_test.go
  runtime/providers/openai/embedding.go
  runtime/providers/openai/embedding_test.go
  runtime/providers/voyageai/embedding.go
  runtime/providers/voyageai/embedding_test.go
  schemas/v1alpha1/scenario.json
  sdk/conversation.go
  sdk/internal/pipeline/builder.go
  sdk/options.go
  sdk/options_test.go
  tools/arena/turnexecutors/pipeline_executor.go
  tools/arena/turnexecutors/pipeline_executor_helpers_test.go
Due: runtime, sdk, arena

feat(events): add EventStore interface and FileEventStore implementation
  runtime/events/bus.go
  runtime/events/store.go
  runtime/events/store_test.go
Due: runtime

feat(sdk): add WithEventStore option for session recording
  sdk/options.go
  sdk/sdk.go
  sdk/sdk_test.go
Due: sdk

feat(events): add SessionPlayer for session replay
  runtime/events/player.go
  runtime/events/player_test.go
Due: runtime

feat(recording): add SessionRecording format for export/import
  runtime/events/store.go
  runtime/events/store_test.go
  runtime/recording/recording.go
  runtime/recording/recording_test.go
Due: runtime

feat(replay): add ReplayProvider for deterministic session replay
  runtime/providers/replay/provider.go
  runtime/providers/replay/provider_test.go
Due: runtime

feat(stage): add RecordingStage for automatic session recording
  runtime/pipeline/stage/stages_recording.go
  runtime/pipeline/stage/stages_recording_test.go
Due: runtime

docs(examples): add session recording example
  sdk/examples/session-recording/README.md
  sdk/examples/session-recording/chat.pack.json
  sdk/examples/session-recording/main.go
Due: sdk

feat(replay): add factory for arena integration
  runtime/providers/replay/factory.go
  runtime/providers/replay/provider_test.go
  tools/arena/engine/builder_integration.go
Due: runtime

docs(examples): add session-replay arena example
  examples/session-replay/README.md
  examples/session-replay/config.arena.yaml
  examples/session-replay/prompts/assistant.yaml
  examples/session-replay/providers/replay.provider.yaml
  examples/session-replay/recordings/geography-session.recording.json
  examples/session-replay/scenarios/geography.scenario.yaml
Due: none

feat: add multimodal events, annotations, and telemetry
  examples/duplex-streaming/config.arena.yaml
  examples/duplex-streaming/providers/replay-duplex.provider.yaml
  examples/duplex-streaming/scenarios/duplex-replay.scenario.yaml
  runtime/annotations/store.go
  runtime/annotations/store_test.go
  runtime/annotations/types.go
  runtime/events/blob_store.go
  runtime/events/blob_store_test.go
  runtime/events/types.go
  runtime/providers/replay/factory.go
  runtime/providers/replay/streaming.go
  runtime/providers/replay/streaming_test.go
  runtime/telemetry/exporter.go
  runtime/telemetry/exporter_test.go
  runtime/telemetry/otlp.go
Due: runtime

feat(replay): add media playback and arena integration
  runtime/events/annotated_session.go
  runtime/events/annotated_session_test.go
  runtime/events/media_timeline.go
  runtime/events/media_timeline_test.go
  runtime/events/session_export.go
  runtime/events/store.go
  runtime/events/sync_player.go
  runtime/events/sync_player_test.go
  tools/arena/engine/engine.go
  tools/arena/engine/execution.go
  tools/arena/engine/session_recording_test.go
  tools/arena/engine/types.go
  tools/arena/statestore/metadata.go
  tools/arena/statestore/store.go
Due: runtime, arena

feat(arena): add session recording config option
  examples/session-replay/demo/main.go
  pkg/config/types.go
  schemas/v1alpha1/arena.json
  tools/arena/cmd/promptarena/run_interactive.go
  tools/arena/engine/engine.go
  tools/arena/engine/session_recording_test.go
Due: arena

feat(recording): emit audio events from duplex pipeline for session recording
  examples/duplex-streaming/config.arena.yaml
  runtime/events/emitter.go
  runtime/events/emitter_test.go
  runtime/pipeline/stage/stages_duplex_provider_integration.go
  tools/arena/engine/duplex_executor_pipeline_integration.go
Due: runtime

feat(recording): add session reconstruction and synchronized replay
  examples/session-replay/demo/replay_example.go
  runtime/events/media_timeline.go
  runtime/recording/recording.go
  runtime/recording/recording_test.go
  runtime/recording/replay.go
  runtime/recording/replay_test.go
Due: runtime

test(events): add WAV export and timeline coverage tests
  runtime/events/media_timeline_test.go
Due: none

docs(arena): add session recording documentation
  docs/src/content/arena/explanation/session-recording.md
  docs/src/content/arena/how-to/index.md
  docs/src/content/arena/how-to/session-recording.md
  docs/src/content/arena/index.md
  docs/src/content/arena/reference/config-schema.md
Due: none

fix(replay): resolve data race in streaming session close
  runtime/providers/replay/streaming.go
Due: runtime

test(events): improve session_export.go coverage to 82.6%
  runtime/events/session_export_test.go
Due: none

test: add coverage tests for events and recording packages
  runtime/events/session_export_test.go
  runtime/events/store_test.go
  runtime/recording/recording_test.go
Due: none

refactor: fix code quality issues from SonarQube analysis
  runtime/events/blob_store.go
  runtime/events/session_export.go
  runtime/events/store.go
  runtime/providers/replay/streaming.go
  runtime/recording/recording.go
Due: runtime

refactor: reduce cognitive complexity across recording packages
  runtime/events/annotated_session.go
  runtime/events/media_timeline.go
  runtime/events/player.go
  runtime/events/session_export.go
  runtime/events/store.go
  runtime/events/sync_player.go
  runtime/recording/recording.go
Due: runtime

test(events): add tests for sync_player.go coverage
  runtime/events/sync_player_test.go
Due: none

fix: address SonarCloud code quality issues
  runtime/annotations/store.go
  runtime/events/player.go
  runtime/events/store.go
  runtime/events/sync_player.go
  runtime/events/sync_player_test.go
  runtime/providers/replay/provider.go
  runtime/recording/replay.go
  runtime/telemetry/otlp.go
Due: runtime

fix(events): fix data race in TestSyncPlayer_ResumeFromPause
  runtime/events/sync_player_test.go
Due: none

docs(sdk): Remove v2 references and migration notes
  docs/public/d2/docs/sdk/explanation/index-0.svg
  docs/src/content/docs/sdk/explanation/index.md
  docs/src/content/docs/sdk/explanation/observability.md
  docs/src/content/docs/sdk/how-to/initialize.md
  docs/src/content/docs/sdk/index.md
  docs/src/content/docs/sdk/reference/conversation-manager.md
  docs/src/content/docs/sdk/reference/index.md
  docs/src/content/docs/sdk/tutorials/01-first-conversation.md
  docs/src/content/docs/sdk/tutorials/index.md
Due: none

fix(docs): Add D2 installation to docs workflow
  .github/workflows/docs.yml
Due: none

feat(docs): Add PromptKit logo and branding
  docs/astro.config.mjs
  docs/public/logo.svg
  docs/public/logos/logo-128.svg
  docs/public/logos/logo-16.svg
  docs/public/logos/logo-256.svg
  docs/public/logos/logo-32.svg
  docs/public/logos/logo-512.svg
  docs/public/logos/logo-64.svg
  docs/public/logos/logo-black.svg
  docs/public/logos/logo-dark.svg
  docs/public/logos/logo-horizontal-dark.svg
  docs/public/logos/logo-horizontal-white.svg
  docs/public/logos/logo-horizontal.svg
  docs/public/logos/logo-light.svg
  docs/public/logos/logo-white.svg
Due: none

feat(docs): Add logo to hero section on homepage
  docs/src/assets/logo-dark.svg
  docs/src/assets/logo-light.svg
  docs/src/content/docs/index.mdx
Due: none

feat(docs): Update theme colors to purple to match logo
  docs/astro.config.mjs
  docs/src/styles/custom.css
Due: none

feat(docs): Add glossary with audio, LLM, and PromptKit terminology
  docs/src/content/docs/arena/explanation/duplex-architecture.md
  docs/src/content/docs/arena/reference/duplex-config.md
  docs/src/content/docs/arena/tutorials/06-duplex-testing.md
  docs/src/content/docs/glossary.md
  docs/src/content/docs/sdk/tutorials/07-audio-sessions.md
Due: none

feat(runtime): Add Ollama provider for local LLM development
  runtime/go.mod
  runtime/go.sum
  runtime/providers/ollama/ollama.go
  runtime/providers/ollama/ollama_multimodal.go
  runtime/providers/ollama/ollama_multimodal_test.go
  runtime/providers/ollama/ollama_test.go
  runtime/providers/ollama/ollama_tools.go
  runtime/providers/ollama/ollama_tools_test.go
  runtime/providers/registry.go
  runtime/providers/registry_extended_test.go
Due: runtime
