Repository AltairaLabs/PromptKit: changes, and which Codecov flags are due for each by the changed paths.
All: runtime, sdk, arena, packc, inspect-state

feat(arena): add --override-provider from=to to promptarena run (#1265)
  docs/src/content/docs/arena/how-to/use-mock-providers.md
  tools/arena/cmd/promptarena/provider_override.go
  tools/arena/cmd/promptarena/provider_override_test.go
  tools/arena/cmd/promptarena/run.go
  tools/arena/cmd/promptarena/run_interactive.go
  tools/arena/cmd/promptarena/yaml_config_test.go
Due: arena

feat(arena): add --override-provider from=to to promptarena run (#1265) (#1268)
  docs/src/content/docs/arena/how-to/use-mock-providers.md
  tools/arena/cmd/promptarena/provider_override.go
  tools/arena/cmd/promptarena/provider_override_test.go
  tools/arena/cmd/promptarena/run.go
  tools/arena/cmd/promptarena/run_interactive.go
  tools/arena/cmd/promptarena/yaml_config_test.go
Due: arena

feat(action): add override-providers input to promptarena-action (#1266)
  .github/actions/promptarena-action/action.yml
  .github/actions/promptarena-action/dist/index.js
  .github/actions/promptarena-action/dist/index.js.map
  .github/actions/promptarena-action/src/main.test.ts
  .github/actions/promptarena-action/src/main.ts
  .github/actions/promptarena-action/src/runner.test.ts
  .github/actions/promptarena-action/src/runner.ts
Due: none

feat(action): add override-providers input to promptarena-action (#1266) (#1269)
  .github/actions/promptarena-action/action.yml
  .github/actions/promptarena-action/dist/index.js
  .github/actions/promptarena-action/dist/index.js.map
  .github/actions/promptarena-action/src/main.test.ts
  .github/actions/promptarena-action/src/main.ts
  .github/actions/promptarena-action/src/runner.test.ts
  .github/actions/promptarena-action/src/runner.ts
Due: none

ci: skip npm publish when version already on the registry
  .github/workflows/npm-publish.yml
Due: none

ci: skip npm publish when version already on the registry (#1270)
  .github/workflows/npm-publish.yml
Due: none

feat(arena): let scenarios pin a workflow stage via task_type (#1271)
  docs/src/content/docs/arena/how-to/workflow-regression.md
  examples/workflow-order-processing/config.arena.yaml
  examples/workflow-order-processing/mock-responses.yaml
  examples/workflow-order-processing/scenarios/unit-fulfillment-stage.scenario.yaml
  tools/arena/engine/execution.go
  tools/arena/engine/execution_integration_test.go
  tools/arena/engine/execution_workflow_integration.go
  tools/arena/engine/workflow_start_state_test.go
  tools/arena/engine/workflow_tool_executor.go
  tools/arena/engine/workflow_tool_executor_test.go
Due: arena

feat(arena): let scenarios pin a workflow stage via task_type (#1271) (#1272)
  docs/src/content/docs/arena/how-to/workflow-regression.md
  examples/workflow-order-processing/config.arena.yaml
  examples/workflow-order-processing/mock-responses.yaml
  examples/workflow-order-processing/scenarios/unit-fulfillment-stage.scenario.yaml
  tools/arena/engine/execution.go
  tools/arena/engine/execution_integration_test.go
  tools/arena/engine/execution_workflow_integration.go
  tools/arena/engine/workflow_start_state_test.go
  tools/arena/engine/workflow_tool_executor.go
  tools/arena/engine/workflow_tool_executor_test.go
Due: arena

chore(capability-matrix): refresh model lineup for deprecated/retired models
  examples/capability-matrix/CAPABILITIES.md
  examples/capability-matrix/config.arena.yaml
  examples/capability-matrix/providers/anthropic-opus47.provider.yaml
  examples/capability-matrix/providers/anthropic-opus48.provider.yaml
  examples/capability-matrix/providers/gemini-31-flash-lite.provider.yaml
  examples/capability-matrix/providers/gemini-31-pro.provider.yaml
  examples/capability-matrix/providers/gemini-35-flash.provider.yaml
  examples/capability-matrix/providers/openai-gpt-audio-mini.provider.yaml
  examples/capability-matrix/providers/openai-gpt-audio.provider.yaml
  examples/capability-matrix/providers/openai-gpt54-mini.provider.yaml
  examples/capability-matrix/providers/openai-gpt54.provider.yaml
  examples/capability-matrix/providers/openai-gpt55.provider.yaml
  examples/capability-matrix/scripts/generate-matrix.sh
Due: none

feat(providers): config-driven multimodal capabilities + Claude unsupported_params
  examples/capability-matrix/providers/anthropic-opus47.provider.yaml
  examples/capability-matrix/providers/anthropic-opus48.provider.yaml
  examples/capability-matrix/providers/openai-gpt55.provider.yaml
  runtime/providers/claude/claude.go
  runtime/providers/claude/claude_multimodal.go
  runtime/providers/claude/claude_streaming.go
  runtime/providers/claude/claude_tools.go
  runtime/providers/claude/unsupported_params_test.go
  runtime/providers/gemini/capabilities_test.go
  runtime/providers/gemini/gemini.go
  runtime/providers/gemini/gemini_multimodal.go
  runtime/providers/gemini/gemini_tools.go
  runtime/providers/multimodal.go
  runtime/providers/multimodal_test.go
  runtime/providers/openai/openai.go
  runtime/providers/openai/openai_multimodal.go
  runtime/providers/openai/openai_multimodal_test.go
  runtime/providers/openai/openai_tools.go
  runtime/providers/registry.go
  sdk/runtime_config.go
  tools/arena/engine/builder_integration.go
Due: runtime, sdk

fix(capability-matrix): keep schema-required temperature; drop OpenAI audio
  examples/capability-matrix/CAPABILITIES.md
  examples/capability-matrix/config.arena.yaml
  examples/capability-matrix/providers/anthropic-opus47.provider.yaml
  examples/capability-matrix/providers/anthropic-opus48.provider.yaml
  examples/capability-matrix/providers/openai-gpt-audio-mini.provider.yaml
  examples/capability-matrix/providers/openai-gpt-audio.provider.yaml
  examples/capability-matrix/scripts/generate-matrix.sh
Due: none

fix(providers): surface Gemini terminal finish reasons; drop tools when tool_choice=none
  runtime/pipeline/stage/stages_provider.go
  runtime/pipeline/stage/stages_provider_test.go
  runtime/providers/gemini/gemini_streaming.go
  runtime/providers/gemini/gemini_streaming_test.go
Due: runtime

fix(capability-matrix): split tool prompt from non-tool scenarios
  examples/capability-matrix/config.arena.yaml
  examples/capability-matrix/prompts/capability-test-tools.yaml
  examples/capability-matrix/prompts/capability-test.yaml
  examples/capability-matrix/scenarios/streaming-tools-vision.scenario.yaml
  examples/capability-matrix/scenarios/streaming-tools.scenario.yaml
  examples/capability-matrix/scenarios/streaming-vision.scenario.yaml
  examples/capability-matrix/scenarios/tools-vision.scenario.yaml
  examples/capability-matrix/scenarios/tools.scenario.yaml
Due: none

fix(providers): surface Gemini terminal finish reasons; drop tools when tool_choice=none (#1291)
  runtime/pipeline/stage/stages_provider.go
  runtime/pipeline/stage/stages_provider_test.go
  runtime/providers/gemini/gemini_streaming.go
  runtime/providers/gemini/gemini_streaming_test.go
Due: runtime

fix(capability-matrix): refresh deprecated models + config-driven multimodal capabilities (#1290)
  examples/capability-matrix/CAPABILITIES.md
  examples/capability-matrix/config.arena.yaml
  examples/capability-matrix/prompts/capability-test-tools.yaml
  examples/capability-matrix/prompts/capability-test.yaml
  examples/capability-matrix/providers/anthropic-opus47.provider.yaml
  examples/capability-matrix/providers/anthropic-opus48.provider.yaml
  examples/capability-matrix/providers/gemini-31-flash-lite.provider.yaml
  examples/capability-matrix/providers/gemini-31-pro.provider.yaml
  examples/capability-matrix/providers/gemini-35-flash.provider.yaml
  examples/capability-matrix/providers/openai-gpt4o-audio.provider.yaml
  examples/capability-matrix/providers/openai-gpt4o-mini-audio.provider.yaml
  examples/capability-matrix/providers/openai-gpt54-mini.provider.yaml
  examples/capability-matrix/providers/openai-gpt54.provider.yaml
  examples/capability-matrix/providers/openai-gpt55.provider.yaml
  examples/capability-matrix/scenarios/streaming-tools-vision.scenario.yaml
  examples/capability-matrix/scenarios/streaming-tools.scenario.yaml
  examples/capability-matrix/scenarios/streaming-vision.scenario.yaml
  examples/capability-matrix/scenarios/tools-vision.scenario.yaml
  examples/capability-matrix/scenarios/tools.scenario.yaml
  examples/capability-matrix/scripts/generate-matrix.sh
  runtime/providers/claude/claude.go
  runtime/providers/claude/claude_multimodal.go
  runtime/providers/claude/claude_streaming.go
  runtime/providers/claude/claude_tools.go
  runtime/providers/claude/unsupported_params_test.go
  runtime/providers/gemini/capabilities_test.go
  runtime/providers/gemini/gemini.go
  runtime/providers/gemini/gemini_multimodal.go
  runtime/providers/gemini/gemini_tools.go
  runtime/providers/multimodal.go
  runtime/providers/multimodal_test.go
  runtime/providers/openai/openai.go
  runtime/providers/openai/openai_multimodal.go
  runtime/providers/openai/openai_multimodal_test.go
  runtime/providers/openai/openai_tools.go
  runtime/providers/registry.go
  sdk/runtime_config.go
  tools/arena/engine/builder_integration.go
Due: runtime, sdk

fix(openai): default to max_completion_tokens instead of hardcoded model check
  runtime/providers/openai/bedrock_unit_test.go
  runtime/providers/openai/openai.go
  runtime/providers/openai/openai_helpers_test.go
  runtime/providers/openai/openai_tools_test.go
Due: runtime

fix(openai): route Responses-only models to Responses API in non-tool paths
  runtime/providers/openai/openai.go
  runtime/providers/openai/openai_responses_integration.go
  runtime/providers/openai/openai_responses_integration_test.go
Due: runtime

refactor(openai): make API-mode selection config-first, heuristics as fallback
  examples/capability-matrix/providers/openai-gpt5-pro.provider.yaml
  examples/capability-matrix/providers/openai-gpt52-pro.provider.yaml
  examples/capability-matrix/providers/openai-o1-pro.provider.yaml
  examples/capability-matrix/providers/openai-o1.provider.yaml
  examples/capability-matrix/providers/openai-o3-mini.provider.yaml
  examples/capability-matrix/providers/openai-o3.provider.yaml
  examples/capability-matrix/providers/openai-o4-mini.provider.yaml
  runtime/providers/openai/openai.go
  runtime/providers/openai/openai_multimodal_test.go
  runtime/providers/openai/openai_responses_integration.go
Due: runtime

fix(openai): de-hardcode model selection — max_completion_tokens, Responses routing, config-first api_mode (#1293)
  examples/capability-matrix/providers/openai-gpt5-pro.provider.yaml
  examples/capability-matrix/providers/openai-gpt52-pro.provider.yaml
  examples/capability-matrix/providers/openai-o1-pro.provider.yaml
  examples/capability-matrix/providers/openai-o1.provider.yaml
  examples/capability-matrix/providers/openai-o3-mini.provider.yaml
  examples/capability-matrix/providers/openai-o3.provider.yaml
  examples/capability-matrix/providers/openai-o4-mini.provider.yaml
  runtime/providers/openai/bedrock_unit_test.go
  runtime/providers/openai/openai.go
  runtime/providers/openai/openai_helpers_test.go
  runtime/providers/openai/openai_multimodal_test.go
  runtime/providers/openai/openai_responses_integration.go
  runtime/providers/openai/openai_responses_integration_test.go
  runtime/providers/openai/openai_tools_test.go
Due: runtime

ci: bump actions/setup-go to v6.4.0 (node24) to clear Node 20 deprecation warnings
  .github/workflows/capability-matrix.yml
  .github/workflows/ci.yml
  .github/workflows/docs.yml
  .github/workflows/release-test.yml
  .github/workflows/release.yml
  .github/workflows/schemas.yml
Due: none

ci: bump actions/setup-go to v6.4.0 (node24) to clear Node 20 deprecation warnings (#1294)
  .github/workflows/capability-matrix.yml
  .github/workflows/ci.yml
  .github/workflows/docs.yml
  .github/workflows/release-test.yml
  .github/workflows/release.yml
  .github/workflows/schemas.yml
Due: none

fix(arena): per-scenario template variables reach the system prompt
  runtime/prompt/registry.go
  runtime/prompt/registry_test.go
  tools/arena/engine/conversation_executor.go
  tools/arena/engine/conversation_executor_vars_test.go
Due: runtime, arena

fix(arena): per-scenario template variables reach the system prompt (#1295)
  runtime/prompt/registry.go
  runtime/prompt/registry_test.go
  tools/arena/engine/conversation_executor.go
  tools/arena/engine/conversation_executor_vars_test.go
Due: runtime, arena

feat(arena/templates): raw file support for binary fixtures in templates
  tools/arena/templates/generator.go
  tools/arena/templates/templates_test.go
  tools/arena/templates/types.go
Due: arena

feat(arena/templates): raw file support for binary fixtures in templates (#1296)
  tools/arena/templates/generator.go
  tools/arena/templates/templates_test.go
  tools/arena/templates/types.go
Due: arena

feat(arena/templates): enforce spec.requires.cli_version at generation time
  tools/arena/templates/generator.go
  tools/arena/templates/templates_test.go
Due: arena

feat(arena/templates): enforce spec.requires.cli_version at generation time (#1297)
  tools/arena/templates/generator.go
  tools/arena/templates/templates_test.go
Due: arena

docs: showcase voice-agent self-play in README + surface the example
  README.md
  docs/astro.config.mjs
Due: none

docs: showcase voice-agent self-play in README + surface the example (#1298)
  README.md
  docs/astro.config.mjs
Due: none

feat(providers): embedding spec carries platform + base provider platform-auth flag
  runtime/providers/base_embedding.go
  runtime/providers/embedding_factory.go
  runtime/providers/embedding_transport_test.go
Due: runtime

feat(providers): shared ResolveEmbeddingTransport with Azure platform auth + BR/VX gate
  runtime/providers/embedding_transport.go
  runtime/providers/embedding_transport_test.go
Due: runtime

feat(providers/openai): keyless Azure platform auth for embeddings
  runtime/providers/openai/embedding.go
  runtime/providers/openai/embedding_platform_test.go
  runtime/providers/openai/embedding_register.go
Due: runtime

feat(providers/gemini,voyageai): route embedding factories through shared transport resolver
  runtime/providers/gemini/embedding.go
  runtime/providers/gemini/embedding_platform_test.go
  runtime/providers/gemini/embedding_register.go
  runtime/providers/voyageai/embedding.go
  runtime/providers/voyageai/embedding_platform_test.go
  runtime/providers/voyageai/embedding_register.go
Due: runtime

feat(sdk,config): declarative embedding providers carry platform for keyless auth
  pkg/config/runtime_config.go
  runtime/providers/embedding_factory.go
  runtime/providers/embedding_factory_test.go
  schemas/v1alpha1/runtime-config.json
  sdk/runtime_config.go
  sdk/runtime_config_embedding_platform_test.go
Due: runtime, sdk

test(providers/openai): live Azure OpenAI embedding integration test (keyless)
  runtime/providers/openai/embedding_azure_integration_test.go
Due: none

feat(providers): embedding platform/auth parity (keyless Azure) (#1299)
  pkg/config/runtime_config.go
  runtime/providers/base_embedding.go
  runtime/providers/embedding_factory.go
  runtime/providers/embedding_factory_test.go
  runtime/providers/embedding_transport.go
  runtime/providers/embedding_transport_test.go
  runtime/providers/gemini/embedding.go
  runtime/providers/gemini/embedding_platform_test.go
  runtime/providers/gemini/embedding_register.go
  runtime/providers/openai/embedding.go
  runtime/providers/openai/embedding_azure_integration_test.go
  runtime/providers/openai/embedding_platform_test.go
  runtime/providers/openai/embedding_register.go
  runtime/providers/voyageai/embedding.go
  runtime/providers/voyageai/embedding_platform_test.go
  runtime/providers/voyageai/embedding_register.go
  schemas/v1alpha1/runtime-config.json
  sdk/runtime_config.go
  sdk/runtime_config_embedding_platform_test.go
Due: runtime, sdk

fix(arena): stop reporting idle-timeout aborts as false-green PASS (#1311)
  runtime/providers/errors.go
  runtime/providers/errors_test.go
  runtime/providers/idle_timeout.go
  runtime/providers/idle_timeout_test.go
  runtime/providers/openai/openai.go
  runtime/providers/openai/openai_test.go
  runtime/providers/streaming.go
  tools/arena/engine/conversation_executor_test.go
  tools/arena/results/utils.go
  tools/arena/results/utils_test.go
Due: runtime, arena

fix(arena): stop reporting idle-timeout aborts as false-green PASS (#1311) (#1319)
  runtime/providers/errors.go
  runtime/providers/errors_test.go
  runtime/providers/idle_timeout.go
  runtime/providers/idle_timeout_test.go
  runtime/providers/openai/openai.go
  runtime/providers/openai/openai_test.go
  runtime/providers/streaming.go
  tools/arena/engine/conversation_executor_test.go
  tools/arena/results/utils.go
  tools/arena/results/utils_test.go
Due: runtime, arena

fix(providers): report zero cost for unknown/local models instead of GPT-4o rates (#1317)
  runtime/providers/openai/openai.go
  runtime/providers/openai/openai_test.go
Due: runtime

fix(providers): report zero cost for unknown/local models instead of GPT-4o rates (#1317) (#1320)
  runtime/providers/openai/openai.go
  runtime/providers/openai/openai_test.go
Due: runtime

Path conditions:
  runtime: any of: runtime/, but not: **/*_test.go, **/*_interactive.go, **/*_integration.go, examples/, docs/, scripts/, .github/, *.md
  sdk: any of: sdk/, but not: **/*_test.go, **/*_interactive.go, **/*_integration.go, examples/, docs/, scripts/, .github/, *.md
  arena: any of: tools/arena/, but not: **/*_test.go, **/*_interactive.go, **/*_integration.go, examples/, docs/, scripts/, .github/, *.md
  packc: any of: tools/packc/, but not: **/*_test.go, **/*_interactive.go, **/*_integration.go, examples/, docs/, scripts/, .github/, *.md
  inspect-state: any of: tools/inspect-state/, but not: **/*_test.go, **/*_interactive.go, **/*_integration.go, examples/, docs/, scripts/, .github/, *.md
