Repository AltairaLabs/PromptKit: changes, and which Codecov flags are due for each by the changed paths.
All: runtime, sdk, arena, packc, inspect-state

fix(sdk): let ValidatePack preflight see a custom eval registry (#1728)
  docs/src/content/docs/reference/checks.md
  docs/src/content/docs/sdk/reference/conversation-manager.md
  sdk/validate_pack.go
  sdk/validate_pack_registry_test.go
Due: sdk

fix(seamscan): make lossy-rebuild assignment-aware and stop discarding partial results
  tools/seamscan/lossy.go
  tools/seamscan/lossy_test.go
  tools/seamscan/main.go
  tools/seamscan/main_test.go
  tools/seamscan/weakassert.go
Due: none

fix(seamscan): make lossy-rebuild assignment-aware and stop discarding partial results (#1730)
  tools/seamscan/lossy.go
  tools/seamscan/lossy_test.go
  tools/seamscan/main.go
  tools/seamscan/main_test.go
  tools/seamscan/weakassert.go
Due: none

fix(release): bump internal module requires before tagging runtime and pkg
  .github/workflows/ci.yml
  .github/workflows/release.yml
  CLAUDE.md
  scripts/test-verify-published-gomod.sh
  scripts/verify-published-gomod.sh
Due: none

refactor(runtime): break the runtime/pkg module cycle so runtime is a leaf
  .github/workflows/ci.yml
  .github/workflows/release.yml
  CLAUDE.md
  docs/src/content/docs/runtime/reference/hooks.md
  pkg/config/execconfig_alias_test.go
  pkg/config/runtime_config.go
  runtime/CLAUDE.md
  runtime/go.mod
  runtime/go.sum
  runtime/hooks/exec_build.go
  runtime/hooks/exec_build_test.go
  runtime/hooks/execconfig/execconfig.go
  scripts/check-runtime-is-leaf.sh
Due: runtime

fix(release): bump internal module requires before tagging runtime and pkg (#1731)
  .github/workflows/ci.yml
  .github/workflows/release.yml
  CLAUDE.md
  docs/src/content/docs/runtime/reference/hooks.md
  pkg/config/execconfig_alias_test.go
  pkg/config/runtime_config.go
  runtime/CLAUDE.md
  runtime/go.mod
  runtime/go.sum
  runtime/hooks/exec_build.go
  runtime/hooks/exec_build_test.go
  runtime/hooks/execconfig/execconfig.go
  scripts/check-runtime-is-leaf.sh
  scripts/test-verify-published-gomod.sh
  scripts/verify-published-gomod.sh
Due: runtime

ci(release): verify the previous release's go.mod at the start of each run
  .github/workflows/release.yml
  CLAUDE.md
Due: none

ci(release): verify the previous release's go.mod at the start of each run (#1732)
  .github/workflows/release.yml
  CLAUDE.md
Due: none

feat(deploy): optional Links field on deploy responses for operator-facing URLs
  runtime/deploy/adaptersdk/helpers.go
  runtime/deploy/adaptersdk/helpers_test.go
  runtime/deploy/links_test.go
  runtime/deploy/provider.go
Due: runtime

feat(deploy): optional Links field on deploy responses for operator-facing URLs (#1734)
  runtime/deploy/adaptersdk/helpers.go
  runtime/deploy/adaptersdk/helpers_test.go
  runtime/deploy/links_test.go
  runtime/deploy/provider.go
Due: runtime

fix(runtime): keep the tool-aware provider path when tool history exists
  runtime/pipeline/stage/stages_provider.go
  runtime/pipeline/stage/stages_provider_toolroute_integration_test.go
  runtime/pipeline/stage/stages_provider_toolroute_test.go
Due: runtime

test(runtime): assert the non-tool fallback actually happens
  runtime/pipeline/stage/stages_provider_toolroute_test.go
Due: none

fix(runtime): keep the tool-aware provider path when tool history exists (#1737)
  runtime/pipeline/stage/stages_provider.go
  runtime/pipeline/stage/stages_provider_toolroute_integration_test.go
  runtime/pipeline/stage/stages_provider_toolroute_test.go
Due: runtime

feat(openai): honor additional_config.parallel_tool_calls
  runtime/providers/openai/openai.go
  runtime/providers/openai/openai_parallel_tool_calls_integration_test.go
  runtime/providers/openai/openai_parallel_tool_calls_test.go
  runtime/providers/openai/openai_responses_integration.go
  runtime/providers/openai/openai_tools.go
Due: runtime

test(openai): assert the sent request, not just the absence of an error
  runtime/providers/openai/openai_parallel_tool_calls_integration_test.go
Due: none

fix(openai): recognize the current gpt-audio model family
  runtime/providers/openai/openai_contract_test.go
  runtime/providers/openai/openai_multimodal.go
  runtime/providers/openai/openai_multimodal_test.go
Due: runtime

feat(openai): honor additional_config.parallel_tool_calls (#1738)
  runtime/providers/openai/openai.go
  runtime/providers/openai/openai_parallel_tool_calls_integration_test.go
  runtime/providers/openai/openai_parallel_tool_calls_test.go
  runtime/providers/openai/openai_responses_integration.go
  runtime/providers/openai/openai_tools.go
Due: runtime

fix(openai): recognize the current gpt-audio model family (#1741)
  runtime/providers/openai/openai_contract_test.go
  runtime/providers/openai/openai_multimodal.go
  runtime/providers/openai/openai_multimodal_test.go
Due: runtime

test(guardrails): pin that pack-declared validators record a ValidationResult
  runtime/pipeline/stage/pack_validator_recording_test.go
Due: none

test(guardrails): pin that pack-declared validators record a ValidationResult (#1743)
  runtime/pipeline/stage/pack_validator_recording_test.go
Due: none

fix(guardrails): gate the streaming chunk check on the declared direction
  runtime/hooks/guardrails/adapter.go
  runtime/hooks/guardrails/adapter_test.go
Due: runtime

fix(guardrails): gate the streaming chunk check on the declared direction (#1744)
  runtime/hooks/guardrails/adapter.go
  runtime/hooks/guardrails/adapter_test.go
Due: runtime

fix(openai): consolidate the chat builders and stop dropping fields
  runtime/providers/openai/openai_request_field_coverage_test.go
  runtime/providers/openai/openai_responses_integration.go
  runtime/providers/openai/openai_tools.go
Due: runtime

fix(openai): consolidate the chat builders and stop dropping fields (#1745)
  runtime/providers/openai/openai_request_field_coverage_test.go
  runtime/providers/openai/openai_responses_integration.go
  runtime/providers/openai/openai_tools.go
Due: runtime

feat(workflow): swap prompt and tools mid tool-loop on transition
  docs/src/content/docs/runtime/reference/pipeline.md
  runtime/pipeline/stage/stages_provider.go
  runtime/pipeline/stage/state_handoff.go
  runtime/pipeline/stage/state_handoff_test.go
Due: runtime

feat(sdk): run the destination state's turn on workflow transition
  sdk/conversation.go
  sdk/internal/pipeline/builder.go
  sdk/sdk.go
  sdk/workflow.go
  sdk/workflow_handoff_test.go
  sdk/workflow_state_resolver.go
  sdk/workflow_state_resolver_test.go
Due: sdk

test(workflow): cover the streaming loop's state handoff
  runtime/pipeline/stage/state_handoff_test.go
Due: none

fix(workflow): persist the handoff to TurnState so HITL resume keeps it
  runtime/pipeline/stage/stages_provider.go
  runtime/pipeline/stage/state_handoff_test.go
Due: runtime

fix(workflow): reconcile to the current state instead of a pending flag
  docs/src/content/docs/runtime/reference/pipeline.md
  runtime/pipeline/stage/stages_provider.go
  runtime/pipeline/stage/state_handoff.go
  runtime/pipeline/stage/state_handoff_test.go
  sdk/workflow_state_resolver.go
  sdk/workflow_state_resolver_test.go
Due: runtime, sdk

feat(examples): add approval-inside-a-workflow to the HITL sample
  sdk/examples/hitl/README.md
  sdk/examples/hitl/hitl-workflow.pack.json
  sdk/examples/hitl/workflow_hitl_test.go
Due: sdk

fix: point CodeGen switcher at the live host
  docs/src/components/FamilyBar.astro
Due: none

fix: point CodeGen switcher at the live host (#1769)
  docs/src/components/FamilyBar.astro
Due: none

chore(schemas): resync arena.json with promptarena
  schemas/v1alpha1/arena.json
Due: none

chore(schemas): resync arena.json with promptarena (#1770)
  schemas/v1alpha1/arena.json
Due: none

fix: remove inaccurate licensing claim from product switcher
  docs/src/components/FamilyBar.astro
Due: none

fix: remove inaccurate licensing claim from product switcher (#1772)
  docs/src/components/FamilyBar.astro
Due: none

docs: stop publishing Arena deploy adapter docs from the core site
  docs/.gitignore
  docs/README.md
  docs/astro.config.mjs
  docs/package.json
  docs/scripts/fetch-adapter-docs.mjs
Due: none

docs: drop the /arena/ redirects, let the retired URLs 404
  docs/astro.config.mjs
Due: none

docs: stop publishing Arena deploy adapter docs from the core site (#1775)
  docs/.gitignore
  docs/README.md
  docs/astro.config.mjs
  docs/package.json
  docs/scripts/fetch-adapter-docs.mjs
Due: none

feat(sdk): add provider-type introspection and boot-time option validation
  docs/src/content/docs/runtime/reference/providers.md
  docs/src/content/docs/runtime/reference/tts.md
  docs/src/content/docs/sdk/reference/conversation-manager.md
  runtime/classify/factory.go
  runtime/classify/factory_test.go
  runtime/providers/base/factory.go
  runtime/providers/base/factory_test.go
  runtime/providers/embedding_factory.go
  runtime/providers/embedding_factory_test.go
  runtime/providers/registry.go
  runtime/providers/registry_types_test.go
  runtime/stt/factory.go
  runtime/stt/register_test.go
  runtime/tts/factory.go
  runtime/tts/register_test.go
  sdk/provider_introspection.go
  sdk/provider_introspection_test.go
Due: runtime, sdk

Path conditions:
  runtime: any of: runtime/, but not: **/*_test.go, **/*_interactive.go, **/*_integration.go, examples/, docs/, scripts/, .github/, *.md
  sdk: any of: sdk/, but not: **/*_test.go, **/*_interactive.go, **/*_integration.go, examples/, docs/, scripts/, .github/, *.md
  arena: any of: tools/arena/, but not: **/*_test.go, **/*_interactive.go, **/*_integration.go, examples/, docs/, scripts/, .github/, *.md
  packc: any of: tools/packc/, but not: **/*_test.go, **/*_interactive.go, **/*_integration.go, examples/, docs/, scripts/, .github/, *.md
  inspect-state: any of: tools/inspect-state/, but not: **/*_test.go, **/*_interactive.go, **/*_integration.go, examples/, docs/, scripts/, .github/, *.md
