Repository AltairaLabs/PromptKit: changes, and which Codecov flags are due for each by the changed paths.
All: runtime, sdk, arena, packc, inspect-state

codecov.yml:

codecov:
  require_ci_to_pass: yes
  notify:
    wait_for_ci: yes

coverage:
  precision: 2
  round: down
  range: "70...100"
  
  status:
    project:
      default:
        target: 70%
        threshold: 1%
        if_ci_failed: error
    patch:
      default:
        target: 70%
        threshold: 1%
        if_ci_failed: error

comment:
  layout: "reach,diff,flags,tree"
  behavior: default
  require_changes: false

flags:
  runtime:
    paths:
      - runtime/
  sdk:
    paths:
      - sdk/
  arena:
    paths:
      - tools/arena/
  packc:
    paths:
      - tools/packc/
  inspect-state:
    paths:
      - tools/inspect-state/

ignore:
  - "**/*_test.go"
  - "**/*_interactive.go"
  - "**/*_integration.go"
  - "examples/"
  - "docs/"
  - "scripts/"
  - ".github/"
  - "*.md"

feat(hooks): honor Enforced on BeforeCall with a canned assistant turn
  docs/src/content/docs/runtime/reference/hooks.md
  runtime/hooks/types.go
  runtime/pipeline/stage/stages_provider.go
  runtime/pipeline/stage/stages_provider_hooks_test.go
Due: runtime

fix(hooks): Enforced on AfterCall stops the round loop and drops tool calls
  runtime/pipeline/stage/stages_provider.go
  runtime/pipeline/stage/stages_provider_hooks_test.go
Due: runtime

feat(hooks): record pre-call guardrail firings like post-call ones
  runtime/events/types.go
  runtime/pipeline/stage/stages_provider.go
  runtime/pipeline/stage/stages_provider_hooks_test.go
Due: runtime

feat(guardrails): gate input guardrails on user input, validate direction
  runtime/hooks/guardrails/adapter.go
  runtime/hooks/guardrails/adapter_test.go
  runtime/hooks/guardrails/factory.go
  runtime/hooks/guardrails/factory_test.go
  runtime/pipeline/stage/stages_provider_hooks_test.go
Due: runtime

feat(guardrails): add Input/Output/InputFunc/OutputFunc spec constructors
  docs/src/content/docs/runtime/reference/hooks.md
  runtime/hooks/guardrails/spec.go
  runtime/hooks/guardrails/spec_test.go
  runtime/hooks/types.go
Due: runtime

feat(sdk): add WithGuardrail for input and output guardrails
  docs/src/content/docs/sdk/reference/conversation-manager.md
  sdk/examples/hooks/main_interactive.go
  sdk/options.go
  sdk/options_guardrail_test.go
Due: sdk

fix(sdk): pin partial-registration guarantee, drop orphaned comment
  sdk/examples/hooks/main_interactive.go
  sdk/options_guardrail_test.go
Due: none

docs: document the real hook execution order and input guardrails
  docs/src/content/docs/architecture/runtime-events.md
  docs/src/content/docs/concepts/validation.md
  docs/src/content/docs/reference/checks.md
  docs/src/content/docs/sdk/explanation/hooks.md
  runtime/pipeline/stage/ARCHITECTURE.md
Due: runtime

fix(guardrails): degrade to output on invalid direction instead of erroring
  docs/src/content/docs/reference/checks.md
  runtime/hooks/guardrails/factory.go
  runtime/hooks/guardrails/factory_test.go
Due: runtime

test(guardrails): pin enforcement scope and per-step gating in compositions
  runtime/pipeline/stage/composition_executor_test.go
Due: none

docs(guardrails): fix backwards Round==1 reasoning in two comments
  runtime/hooks/guardrails/adapter.go
  runtime/pipeline/stage/composition_executor_test.go
Due: runtime

refactor(guardrails): single-source the gate, direction vocabulary and enforcement
  runtime/hooks/guardrails/adapter.go
  runtime/hooks/guardrails/factory.go
  runtime/hooks/guardrails/factory_test.go
  runtime/hooks/guardrails/spec.go
  runtime/hooks/guardrails/spec_test.go
  runtime/pipeline/stage/stages_provider.go
  runtime/pipeline/stage/stages_provider_hooks_test.go
  sdk/options_guardrail_test.go
Due: runtime

docs(hooks): document BeforeCall enforcement, fix the OnChunk ordering
  docs/src/content/docs/concepts/validation.md
  docs/src/content/docs/sdk/explanation/hooks.md
Due: none

feat(examples): demonstrate pre-LLM input guardrails in hooks example
  sdk/examples/hooks/README.md
  sdk/examples/hooks/hooks.pack.json
  sdk/examples/hooks/main_interactive.go
  sdk/examples/hooks/smoke_test.go
Due: sdk

docs(guardrails): fix broken banned_words input-guardrail example
  docs/src/content/docs/reference/checks.md
  docs/src/content/docs/sdk/reference/conversation-manager.md
  sdk/options.go
Due: sdk

feat(hooks): complete the pre-call guardrail seam — graceful block before the LLM call (#1678)
  docs/src/content/docs/architecture/runtime-events.md
  docs/src/content/docs/concepts/validation.md
  docs/src/content/docs/reference/checks.md
  docs/src/content/docs/runtime/reference/hooks.md
  docs/src/content/docs/sdk/explanation/hooks.md
  docs/src/content/docs/sdk/reference/conversation-manager.md
  runtime/events/types.go
  runtime/hooks/guardrails/adapter.go
  runtime/hooks/guardrails/adapter_test.go
  runtime/hooks/guardrails/factory.go
  runtime/hooks/guardrails/factory_test.go
  runtime/hooks/guardrails/spec.go
  runtime/hooks/guardrails/spec_test.go
  runtime/hooks/types.go
  runtime/pipeline/stage/ARCHITECTURE.md
  runtime/pipeline/stage/composition_executor_test.go
  runtime/pipeline/stage/stages_provider.go
  runtime/pipeline/stage/stages_provider_hooks_test.go
  sdk/examples/hooks/README.md
  sdk/examples/hooks/hooks.pack.json
  sdk/examples/hooks/main_interactive.go
  sdk/examples/hooks/smoke_test.go
  sdk/options.go
  sdk/options_guardrail_test.go
Due: runtime, sdk

fix(evals): honor CurrentOutput so content checks can gate user input
  runtime/evals/handlers/contains_any.go
  runtime/evals/handlers/content_excludes.go
  runtime/evals/handlers/helpers.go
  runtime/hooks/guardrails/input_direction_integration_test.go
Due: runtime

fix(sdk): preserve FinishReason so a blocked turn is detectable
  sdk/conversation.go
  sdk/guardrail_e2e_test.go
  sdk/testdata/packs/guardrail-test.pack.json
Due: sdk

fix(guardrails): make an unknown validator type fatal at load
  docs/src/content/docs/reference/checks.md
  runtime/hooks/guardrails/compile_validators_test.go
  runtime/hooks/guardrails/factory.go
  sdk/guardrail_validator_policy_test.go
  sdk/sdk.go
  sdk/template.go
  sdk/testdata/packs/guardrail-bad-params.pack.json
  sdk/testdata/packs/guardrail-bad-type.pack.json
Due: runtime, sdk

fix(evals): make content scope explicit instead of inferring it
  docs/src/content/docs/reference/checks.md
  runtime/evals/handlers/content_scope_test.go
  runtime/evals/handlers/helpers.go
  runtime/evals/types.go
  runtime/hooks/guardrails/adapter.go
  runtime/hooks/guardrails/input_direction_integration_test.go
  sdk/conversation.go
  sdk/guardrail_validator_policy_test.go
  sdk/testdata/packs/guardrail-valid-validator.pack.json
Due: runtime, sdk

fix(guardrails): close three fail-open gaps in input guardrails (#1683)
  docs/src/content/docs/reference/checks.md
  runtime/evals/handlers/contains_any.go
  runtime/evals/handlers/content_excludes.go
  runtime/evals/handlers/content_scope_test.go
  runtime/evals/handlers/helpers.go
  runtime/evals/types.go
  runtime/hooks/guardrails/adapter.go
  runtime/hooks/guardrails/compile_validators_test.go
  runtime/hooks/guardrails/factory.go
  runtime/hooks/guardrails/input_direction_integration_test.go
  sdk/conversation.go
  sdk/guardrail_e2e_test.go
  sdk/guardrail_validator_policy_test.go
  sdk/sdk.go
  sdk/template.go
  sdk/testdata/packs/guardrail-bad-params.pack.json
  sdk/testdata/packs/guardrail-bad-type.pack.json
  sdk/testdata/packs/guardrail-test.pack.json
  sdk/testdata/packs/guardrail-valid-validator.pack.json
Due: runtime, sdk

fix(guardrails): correct guardrail observability and drop a coupling
  docs/src/content/docs/runtime/reference/hooks.md
  runtime/hooks/guardrails/adapter.go
  runtime/hooks/types.go
  runtime/pipeline/stage/guardrail_event_score_test.go
  runtime/pipeline/stage/stages_provider.go
  runtime/pipeline/stage/streaming_finish_reason_test.go
Due: runtime

test(stage): collapse the duplicated streaming finish-reason tests
  runtime/pipeline/stage/streaming_finish_reason_test.go
Due: none

test(stage): share one validation-event harness across the guardrail tests
  runtime/pipeline/stage/guardrail_event_score_test.go
  runtime/pipeline/stage/stages_provider_hooks_test.go
Due: none

fix(guardrails): stop the alias block duplicating the canonical doc comment
  runtime/hooks/guardrails/adapter.go
Due: runtime

refactor(stage): share the AfterCall hook chain between both rounds
  runtime/pipeline/stage/stages_provider.go
Due: runtime

fix(guardrails): correct guardrail observability and drop a stage coupling (#1684)
  docs/src/content/docs/runtime/reference/hooks.md
  runtime/hooks/guardrails/adapter.go
  runtime/hooks/types.go
  runtime/pipeline/stage/guardrail_event_score_test.go
  runtime/pipeline/stage/stages_provider.go
  runtime/pipeline/stage/stages_provider_hooks_test.go
  runtime/pipeline/stage/streaming_finish_reason_test.go
Due: runtime

docs(examples): use banned_words for the input guardrail now that it works
  sdk/examples/hooks/README.md
  sdk/examples/hooks/main_interactive.go
  sdk/examples/hooks/smoke_test.go
Due: sdk

fix(guardrails): stop the streaming path leaking banned content
  runtime/hooks/guardrails/adapter.go
  sdk/guardrail_e2e_test.go
Due: runtime

fix(guardrails): stop the streaming path leaking banned content (#1698)
  runtime/hooks/guardrails/adapter.go
  sdk/guardrail_e2e_test.go
Due: runtime

docs(examples): use banned_words for the input guardrail now that it works (#1696)
  sdk/examples/hooks/README.md
  sdk/examples/hooks/main_interactive.go
  sdk/examples/hooks/smoke_test.go
Due: sdk

feat(seamscan): report tests whose assertions cannot fail
  go.work
  tools/seamscan/finding.go
  tools/seamscan/finding_test.go
  tools/seamscan/go.mod
  tools/seamscan/go.sum
  tools/seamscan/main.go
  tools/seamscan/main_test.go
  tools/seamscan/weakassert.go
  tools/seamscan/weakassert_test.go
Due: none

fix(seamscan): classify parent/nested subtests correctly, recognize local assert helpers
  tools/seamscan/weakassert.go
  tools/seamscan/weakassert_test.go
Due: none

feat(seamscan): detect lossy struct rebuilds
  tools/seamscan/go.mod
  tools/seamscan/go.sum
  tools/seamscan/lossy.go
  tools/seamscan/lossy_test.go
  tools/seamscan/main.go
Due: none

fix(seamscan): close 5 review findings on the lossy-rebuild signature
  tools/seamscan/lossy.go
  tools/seamscan/lossy_test.go
  tools/seamscan/main_test.go
Due: none

docs(seamscan): correct the lossy-rebuild recall boundary
  tools/seamscan/lossy.go
Due: none

ci: guard against new tests that cannot fail
  Makefile
  scripts/check-weak-assertions.sh
Due: none

fix(seamscan): stop attributing fixture-closure assertions to the parent test
  scripts/check-weak-assertions.sh
  tools/seamscan/weakassert.go
  tools/seamscan/weakassert_test.go
Due: none

fix(seamscan): key the weak-assertion diff on file, not just kind+subject
  scripts/check-weak-assertions.sh
Due: none

docs(skills): add the audit-test-seams procedure
  .claude/skills/audit-test-seams/SKILL.md
Due: none
