Repository AltairaLabs/PromptKit: changes, and which Codecov flags are due for each by the changed paths.
All: runtime, sdk, arena, packc, inspect-state

refactor(evals): LLM-judge family rejects dead min_score; pure-eval primitives (#1236)
  docs/src/content/docs/arena/how-to/arena-ci-quality-gate.md
  docs/src/content/docs/arena/how-to/rag-agent.md
  docs/src/content/docs/arena/how-to/text-negotiation.md
  docs/src/content/docs/arena/how-to/voice-characterization.md
  docs/src/content/docs/arena/how-to/voice-red-team.md
  docs/src/content/docs/arena/reference/assertions.md
  docs/src/content/docs/arena/why-arena.md
  docs/src/content/docs/reference/checks.md
  examples/eval-test/evals/basic-eval.eval.yaml
  examples/llm-judge/scenarios/helpfulness.yaml
  examples/rag-agent/scenarios/paris-capital.scenario.yaml
  runtime/evals/handlers/CLAUDE.md
  runtime/evals/handlers/answer_relevancy.go
  runtime/evals/handlers/bias.go
  runtime/evals/handlers/classify_handler_base.go
  runtime/evals/handlers/contextual_precision.go
  runtime/evals/handlers/contextual_recall.go
  runtime/evals/handlers/contextual_relevancy.go
  runtime/evals/handlers/faithfulness.go
  runtime/evals/handlers/hallucination.go
  runtime/evals/handlers/helpers_test.go
  runtime/evals/handlers/judge_provider.go
  runtime/evals/handlers/judge_provider_test.go
  runtime/evals/handlers/llm_judge.go
  runtime/evals/handlers/llm_judge_session.go
  runtime/evals/handlers/llm_judge_test.go
  runtime/evals/handlers/llm_judge_tool_calls.go
  runtime/evals/handlers/llm_judge_tool_calls_test.go
  runtime/evals/handlers/pii_leakage.go
  runtime/evals/handlers/rag_handlers_test.go
  runtime/evals/handlers/rag_helpers.go
  runtime/evals/handlers/role_violation.go
  runtime/evals/handlers/safety_handlers_test.go
  runtime/evals/handlers/safety_helpers.go
  runtime/evals/handlers/toxicity.go
Due: runtime

feat(workflow): plumb host-supplied tool args through to transition events
  runtime/events/emitter.go
  runtime/events/types.go
  runtime/tools/host_extras.go
  runtime/workflow/transition_executor.go
  runtime/workflow/transition_executor_test.go
  runtime/workflow/types.go
  sdk/tool_descriptor_override.go
  sdk/workflow_events.go
Due: runtime, sdk

feat(workflow): plumb host-supplied tool args through to transition events (#1237)
  runtime/events/emitter.go
  runtime/events/types.go
  runtime/tools/host_extras.go
  runtime/workflow/transition_executor.go
  runtime/workflow/transition_executor_test.go
  runtime/workflow/types.go
  sdk/tool_descriptor_override.go
  sdk/workflow_events.go
Due: runtime, sdk

feat(mcp): add Transport field for explicit transport selection
  runtime/mcp/registry.go
  runtime/mcp/types.go
  runtime/mcp/types_test.go
Due: runtime

feat(mcp): add Streamable HTTP transport + client + registry dispatch
  runtime/mcp/registry.go
  runtime/mcp/registry_test.go
  runtime/mcp/streamable_client.go
  runtime/mcp/streamable_client_test.go
  runtime/mcp/streamable_transport.go
  runtime/mcp/streamable_transport_test.go
Due: runtime

feat(config): expose mcp transport field with validation
  pkg/config/runtime_config.go
  pkg/config/runtime_config_test.go
  pkg/config/types.go
Due: none

chore(schemas): regenerate for mcp transport field
  schemas/v1alpha1/arena.json
  schemas/v1alpha1/runtime-config.json
Due: none

fix(sdk): propagate mcp url/headers/transport from runtime config
  sdk/runtime_config.go
  sdk/runtime_config_test.go
Due: sdk

test(mcp): end-to-end smoke for Streamable HTTP via registry
  runtime/mcp/streamable_integration_test.go
Due: none

feat(mcp): add Streamable HTTP transport (opt-in) (#1239)
  pkg/config/runtime_config.go
  pkg/config/runtime_config_test.go
  pkg/config/types.go
  runtime/mcp/registry.go
  runtime/mcp/registry_test.go
  runtime/mcp/streamable_client.go
  runtime/mcp/streamable_client_test.go
  runtime/mcp/streamable_integration_test.go
  runtime/mcp/streamable_transport.go
  runtime/mcp/streamable_transport_test.go
  runtime/mcp/types.go
  runtime/mcp/types_test.go
  schemas/v1alpha1/arena.json
  schemas/v1alpha1/runtime-config.json
  sdk/runtime_config.go
  sdk/runtime_config_test.go
Due: runtime, sdk

docs(mcp): refresh transports section and ServerConfig snippet
  docs/src/content/docs/runtime/reference/tools-mcp.md
Due: none

docs(mcp): refresh transports section and ServerConfig snippet (#1240)
  docs/src/content/docs/runtime/reference/tools-mcp.md
Due: none

feat(statestore): RedisStore implements MessageLog for mid-loop persistence
  runtime/statestore/message_log.go
  runtime/statestore/redis.go
  runtime/statestore/redis_test.go
Due: runtime

feat(statestore): RedisStore implements MessageLog for mid-loop persistence (#1242)
  runtime/statestore/message_log.go
  runtime/statestore/redis.go
  runtime/statestore/redis_test.go
Due: runtime

feat(statestore/file): skeleton for file-backed store
  runtime/statestore/file/store.go
  runtime/statestore/file/store_test.go
Due: runtime

feat(statestore/file): atomic IO, paths, locks, Save, Load
  runtime/statestore/file/atomicio.go
  runtime/statestore/file/atomicio_test.go
  runtime/statestore/file/locks.go
  runtime/statestore/file/paths.go
  runtime/statestore/file/save_load.go
  runtime/statestore/file/save_load_test.go
Due: runtime

feat(statestore/file): MessageLog + MessageReader + MessageAppender
  runtime/statestore/file/messages.go
  runtime/statestore/file/messages_test.go
Due: runtime

feat(statestore/file): SummaryAccessor + MetadataAccessor + ListAccessor
  runtime/statestore/file/lists.go
  runtime/statestore/file/lists_test.go
  runtime/statestore/file/metadata.go
  runtime/statestore/file/metadata_test.go
  runtime/statestore/file/summaries.go
  runtime/statestore/file/summaries_test.go
Due: runtime

feat(statestore/file): Fork, Delete, List, TTL sweep on Open
  runtime/statestore/file/fork_delete_list.go
  runtime/statestore/file/fork_delete_list_test.go
  runtime/statestore/file/store.go
  runtime/statestore/file/sweep.go
Due: runtime

feat(config): wire file-backed statestore (type: file)
  pkg/config/runtime_config.go
  pkg/config/runtime_config_test.go
  pkg/config/types.go
  schemas/v1alpha1/arena.json
  schemas/v1alpha1/runtime-config.json
  sdk/runtime_config.go
  sdk/runtime_config_test.go
Due: sdk

test+docs(statestore/file): drop-in smoke + reference page entry
  docs/src/content/docs/runtime/reference/statestore.md
  runtime/statestore/file/provider_smoke_test.go
Due: none

feat(statestore): file-backed durable statestore (single-machine) (#1244)
  docs/src/content/docs/runtime/reference/statestore.md
  pkg/config/runtime_config.go
  pkg/config/runtime_config_test.go
  pkg/config/types.go
  runtime/statestore/file/atomicio.go
  runtime/statestore/file/atomicio_test.go
  runtime/statestore/file/fork_delete_list.go
  runtime/statestore/file/fork_delete_list_test.go
  runtime/statestore/file/lists.go
  runtime/statestore/file/lists_test.go
  runtime/statestore/file/locks.go
  runtime/statestore/file/messages.go
  runtime/statestore/file/messages_test.go
  runtime/statestore/file/metadata.go
  runtime/statestore/file/metadata_test.go
  runtime/statestore/file/paths.go
  runtime/statestore/file/provider_smoke_test.go
  runtime/statestore/file/save_load.go
  runtime/statestore/file/save_load_test.go
  runtime/statestore/file/store.go
  runtime/statestore/file/store_test.go
  runtime/statestore/file/summaries.go
  runtime/statestore/file/summaries_test.go
  runtime/statestore/file/sweep.go
  schemas/v1alpha1/arena.json
  schemas/v1alpha1/runtime-config.json
  sdk/runtime_config.go
  sdk/runtime_config_test.go
Due: runtime, sdk

chore(actions): bump runtime to node24
  .github/actions/packc-action/action.yml
  .github/actions/promptarena-action/action.yml
Due: none

chore(actions): bump runtime to node24 (#1254)
  .github/actions/packc-action/action.yml
  .github/actions/promptarena-action/action.yml
Due: none

Expose configurable output formats in promptarena-action (#1256)
  .github/actions/promptarena-action/README.md
  .github/actions/promptarena-action/action.yml
  .github/actions/promptarena-action/dist/index.js
  .github/actions/promptarena-action/dist/index.js.map
  .github/actions/promptarena-action/src/main.test.ts
  .github/actions/promptarena-action/src/main.ts
  .github/actions/promptarena-action/src/runner.test.ts
  .github/actions/promptarena-action/src/runner.ts
Due: none

Fix `config-inspect` silent exits by surfacing validation diagnostics (#1258)
  tools/arena/cmd/promptarena/config_inspect_interactive.go
  tools/arena/cmd/promptarena/config_inspect_test.go
  tools/arena/cmd/promptarena/validate.go
Due: arena

fix(packc): auto-create output directory for `compile -o`
  tools/packc/main.go
  tools/packc/main_interactive.go
  tools/packc/main_test.go
Due: packc

fix(packc): auto-create output directory for `compile -o` (#1259)
  tools/packc/main.go
  tools/packc/main_interactive.go
  tools/packc/main_test.go
Due: packc

feat(schema): add suggest helpers for did-you-mean errors
  runtime/prompt/schema/suggest.go
  runtime/prompt/schema/suggest_test.go
Due: runtime

feat(schema): add Keyword/ValidValues/Suggestions to ValidationError
  runtime/prompt/schema/validate.go
  runtime/prompt/schema/validate_test.go
Due: runtime

feat(config): enrich additionalProperties and enum errors with suggestions
  pkg/config/schema_validator.go
  pkg/config/schema_validator_suggest_test.go
Due: none

feat(arena): render did-you-mean and valid-keys hints in displayError
  tools/arena/cmd/promptarena/validate.go
  tools/arena/cmd/promptarena/validate_test.go
Due: arena

test(arena): regression test for #1251 additionalProperty exemplar
  tools/arena/cmd/promptarena/validate_test.go
Due: none

fix(arena): suggest valid alternatives for schema validation errors (#1260)
  pkg/config/schema_validator.go
  pkg/config/schema_validator_suggest_test.go
  runtime/prompt/schema/suggest.go
  runtime/prompt/schema/suggest_test.go
  runtime/prompt/schema/validate.go
  runtime/prompt/schema/validate_test.go
  tools/arena/cmd/promptarena/validate.go
  tools/arena/cmd/promptarena/validate_test.go
Due: runtime, arena

fix(lint): shorten warning line to satisfy lll (120-char limit)
  runtime/prompt/pack.go
  runtime/prompt/pack_test.go
Due: runtime

fix(lint): shorten warning line to satisfy lll (120-char limit) (#1262)
  runtime/prompt/pack.go
  runtime/prompt/pack_test.go
Due: runtime

fix(release): fetch remote tags before idempotency checks
  .github/workflows/release.yml
Due: none

fix(release): fetch remote tags before idempotency checks (#1263)
  .github/workflows/release.yml
Due: none

refactor(config): collapse judge model into provider (#1264)
  docs/src/content/docs/arena/reference/config-schema.md
  examples/llm-judge/config.arena.yaml
  pkg/config/config_test.go
  pkg/config/inline_specs_test.go
  pkg/config/loader.go
  pkg/config/types.go
  pkg/config/types_json_test.go
  schemas/v1alpha1/arena.json
  tools/arena/cmd/promptarena/config_inspect_collector_interactive.go
  tools/arena/engine/conversation_executor.go
  tools/arena/engine/conversation_executor_test.go
Due: arena

refactor(config): collapse judge model into provider (#1264) (#1267)
  docs/src/content/docs/arena/reference/config-schema.md
  examples/llm-judge/config.arena.yaml
  pkg/config/config_test.go
  pkg/config/inline_specs_test.go
  pkg/config/loader.go
  pkg/config/types.go
  pkg/config/types_json_test.go
  schemas/v1alpha1/arena.json
  tools/arena/cmd/promptarena/config_inspect_collector_interactive.go
  tools/arena/engine/conversation_executor.go
  tools/arena/engine/conversation_executor_test.go
Due: arena

Path conditions:
  runtime: any of: runtime/, but not: **/*_test.go, **/*_interactive.go, **/*_integration.go, examples/, docs/, scripts/, .github/, *.md
  sdk: any of: sdk/, but not: **/*_test.go, **/*_interactive.go, **/*_integration.go, examples/, docs/, scripts/, .github/, *.md
  arena: any of: tools/arena/, but not: **/*_test.go, **/*_interactive.go, **/*_integration.go, examples/, docs/, scripts/, .github/, *.md
  packc: any of: tools/packc/, but not: **/*_test.go, **/*_interactive.go, **/*_integration.go, examples/, docs/, scripts/, .github/, *.md
  inspect-state: any of: tools/inspect-state/, but not: **/*_test.go, **/*_interactive.go, **/*_integration.go, examples/, docs/, scripts/, .github/, *.md
