Repository AltairaLabs/PromptKit: changes, and which Codecov flags are due for each by the changed paths.
All: runtime, sdk, arena, packc, inspect-state

fix(gemini): resolve strings.Builder merge conflict in streaming tests
  runtime/providers/gemini/gemini_streaming.go
  runtime/providers/gemini/gemini_streaming_test.go
Due: runtime

perf: medium-priority scalability fixes (#632)
  runtime/a2a/client.go
  runtime/a2a/executor.go
  runtime/a2a/executor_retry_test.go
  runtime/events/bus.go
  runtime/events/bus_test.go
  runtime/mcp/client.go
  runtime/mcp/client_test.go
  runtime/providers/claude/claude_integration_test.go
  runtime/providers/claude/claude_streaming.go
  runtime/providers/gemini/gemini_integration_test.go
  runtime/providers/gemini/gemini_streaming.go
  runtime/providers/gemini/gemini_streaming_test.go
  runtime/providers/ollama/ollama.go
  runtime/providers/ollama/ollama_test.go
  runtime/providers/openai/openai.go
  runtime/providers/openai/openai_responses_integration.go
  runtime/providers/vllm/vllm.go
  runtime/statestore/memory.go
  runtime/statestore/memory_bench_test.go
  runtime/statestore/memory_test.go
  runtime/statestore/memory_ttl_test.go
  runtime/storage/policy/time_based.go
  runtime/storage/policy/time_based_test.go
  sdk/eval_middleware.go
  sdk/eval_middleware_test.go
  sdk/options.go
  sdk/session/unary_session.go
  sdk/stream/stream.go
  sdk/streaming.go
  sdk/streaming_test.go
Due: runtime, sdk

fix(mcp): stabilize init handshake test assertion
  runtime/mcp/client_test.go
Due: none

fix(mcp): stabilize init handshake test assertion (#633)
  runtime/mcp/client_test.go
Due: none

perf(streaming): buffer stream channels and unblock scanner on context cancel
  runtime/providers/claude/claude_multimodal.go
  runtime/providers/claude/claude_streaming.go
  runtime/providers/claude/claude_tools.go
  runtime/providers/gemini/gemini_multimodal.go
  runtime/providers/gemini/gemini_streaming.go
  runtime/providers/gemini/gemini_tools.go
  runtime/providers/mock/mock_tool_provider_interactive.go
  runtime/providers/ollama/ollama.go
  runtime/providers/ollama/ollama_tools.go
  runtime/providers/openai/openai.go
  runtime/providers/openai/openai_responses_integration.go
  runtime/providers/openai/openai_tools.go
  runtime/providers/streaming.go
  runtime/providers/streaming_mock_test.go
  runtime/providers/streaming_test.go
  runtime/providers/vllm/vllm.go
  runtime/providers/vllm/vllm_tools.go
Due: runtime

perf(statestore): heap-based LRU eviction and non-blocking expiration scan
  runtime/statestore/memory.go
  runtime/statestore/memory_bench_test.go
  runtime/statestore/memory_ttl_test.go
  runtime/statestore/redis.go
Due: runtime

feat(tools): add result size limits, registry mutex, and pending store TTL
  runtime/pipeline/stage/stages_provider.go
  runtime/pipeline/stage/stages_provider_truncate_test.go
  runtime/tools/registry.go
  runtime/tools/registry_concurrency_test.go
  sdk/conversation.go
  sdk/conversation_tools.go
  sdk/hitl_test.go
  sdk/tools/pending.go
  sdk/tools/pending_test.go
Due: runtime, sdk

feat(arena): add per-run timeout and context-aware goroutine launch
  pkg/config/types.go
  tools/arena/engine/engine.go
  tools/arena/engine/execution.go
  tools/arena/engine/run_timeout_test.go
Due: arena

feat(a2a): add TTL-based client cache eviction and executor Close
  runtime/a2a/executor.go
  runtime/a2a/executor_cache_test.go
  runtime/a2a/executor_retry_test.go
  runtime/a2a/executor_test.go
Due: runtime

perf(audio): cap audio buffer, pool resample allocations, increase channel buffers
  runtime/audio/resample.go
  runtime/audio/resample_test.go
  runtime/audio/silence.go
  runtime/audio/silence_test.go
  runtime/pipeline/stage/config.go
Due: runtime

feat(server): add /healthz and /readyz endpoints for K8s probes
  server/a2a/health_test.go
  server/a2a/server.go
Due: none

perf(sdk): add ShutdownManager for graceful conversation teardown
  sdk/conversation.go
  sdk/options.go
  sdk/sdk.go
  sdk/shutdown.go
  sdk/shutdown_test.go
Due: sdk

fix(sdk): make eval event bus test order-independent
  sdk/eval_middleware_test.go
Due: none

docs: update scalability review with all remaining fixes
  docs/local-backlog/05-mar-scalability-review.md
Due: none

feat(providers): add idle timeout to streaming responses
  runtime/providers/claude/claude_multimodal.go
  runtime/providers/claude/claude_streaming.go
  runtime/providers/claude/claude_tools.go
  runtime/providers/gemini/gemini_streaming.go
  runtime/providers/idle_timeout.go
  runtime/providers/idle_timeout_test.go
  runtime/providers/ollama/ollama.go
  runtime/providers/openai/openai.go
  runtime/providers/openai/openai_responses_integration.go
  runtime/providers/streaming.go
  runtime/providers/vllm/vllm.go
Due: runtime

perf(events): async store writes and lazy worker startup in EventBus
  runtime/events/bus.go
  runtime/events/bus_test.go
  runtime/events/store_test.go
  sdk/eval_middleware_test.go
Due: runtime

perf(storage): optimize dedup index writes and policy enforcement
  runtime/storage/local/filestore.go
  runtime/storage/local/filestore_test.go
  runtime/storage/policy/time_based.go
  runtime/storage/policy/time_based_test.go
Due: runtime

feat(mcp): add process reconnection and concurrent process limiting
  runtime/mcp/client.go
  runtime/mcp/client_test.go
  runtime/mcp/registry.go
  runtime/mcp/registry_test.go
Due: runtime

test(statestore): improve Redis store test coverage for decomposed format
  runtime/statestore/redis.go
  runtime/statestore/redis_test.go
Due: runtime

docs: update scalability review with final batch of fixes
  docs/local-backlog/05-mar-scalability-review.md
Due: none

fix: resolve gemini reconnect test data race and regenerate arena schema
  runtime/providers/gemini/stream_session_reconnect_test.go
  schemas/v1alpha1/arena.json
Due: none

perf: replace O(N²) string concatenation with strings.Builder and strings.Join
  runtime/pipeline/stage/capabilities_validation.go
  runtime/pipeline/stage/capabilities_validation_test.go
  runtime/pipeline/stage/stages_video_frames.go
  runtime/providers/gemini/gemini.go
  runtime/providers/gemini/gemini_tools.go
  runtime/tools/mcp_executor.go
Due: runtime

perf(statestore): reduce deep-copy cost with MetadataAccessor and RLock optimizations
  runtime/statestore/interface.go
  runtime/statestore/memory.go
  runtime/statestore/memory_bench_test.go
  runtime/statestore/memory_test.go
  runtime/statestore/redis.go
  runtime/variables/state.go
  runtime/variables/state_test.go
Due: runtime

docs: add git -C tip for concurrent agents to CLAUDE.md
  CLAUDE.md
Due: none

docs: add capacity planning guide
  docs/local-backlog/capacity-planning-guide.md
Due: none

docs: add horizontal scaling and resource planning guide
  docs/local-backlog/horizontal-scaling-guide.md
Due: none

docs: add performance tuning runbook
  docs/local-backlog/performance-tuning-runbook.md
Due: none

fix(sdk): collect all errors in Conversation.Close() with errors.Join
  sdk/conversation.go
  sdk/conversation_test.go
Due: sdk

fix(sdk): bound ShutdownManager goroutines with semaphore
  sdk/shutdown.go
  sdk/shutdown_test.go
Due: sdk

fix(events): reduce FileBlobStore lock contention and stream StoreReader
  runtime/events/blob_store.go
  runtime/events/blob_store_test.go
Due: runtime

fix(deploy): add context support and read timeout to AdapterClient
  runtime/deploy/client.go
  runtime/deploy/client_test.go
Due: runtime

fix(pipeline): precompute root stages for O(1) isRootStage lookup
  runtime/pipeline/stage/builder.go
  runtime/pipeline/stage/pipeline.go
  runtime/pipeline/stage/pipeline_internal_test.go
Due: runtime

fix(a2a): add idle timeout detection to SSE stream reads
  runtime/a2a/client.go
  runtime/a2a/client_test.go
Due: runtime

fix(sdk/tools): add aggregate response size limit to HTTPExecutor
  sdk/tools/http.go
  sdk/tools/http_test.go
Due: sdk

fix(evals): cancel both subscriptions on partial failure in EvalWorker
  runtime/evals/worker.go
  runtime/evals/worker_test.go
Due: runtime

fix: second-pass scalability improvements (#635)
  runtime/a2a/client.go
  runtime/a2a/client_test.go
  runtime/deploy/client.go
  runtime/deploy/client_test.go
  runtime/evals/worker.go
  runtime/evals/worker_test.go
  runtime/events/blob_store.go
  runtime/events/blob_store_test.go
  runtime/pipeline/stage/builder.go
  runtime/pipeline/stage/pipeline.go
  runtime/pipeline/stage/pipeline_internal_test.go
  sdk/conversation.go
  sdk/conversation_test.go
  sdk/shutdown.go
  sdk/shutdown_test.go
  sdk/tools/http.go
  sdk/tools/http_test.go
Due: runtime, sdk

fix: eliminate flaky TestSessionPlayer_Stop race condition
  runtime/events/player_test.go
Due: none

fix: eliminate flaky TestSessionPlayer_Stop race condition (#636)
  runtime/events/player_test.go
Due: none

Path conditions:
  runtime: any of: runtime/, but not: **/*_test.go, **/*_interactive.go, **/*_integration.go, examples/, docs/, scripts/, .github/, *.md
  sdk: any of: sdk/, but not: **/*_test.go, **/*_interactive.go, **/*_integration.go, examples/, docs/, scripts/, .github/, *.md
  arena: any of: tools/arena/, but not: **/*_test.go, **/*_interactive.go, **/*_integration.go, examples/, docs/, scripts/, .github/, *.md
  packc: any of: tools/packc/, but not: **/*_test.go, **/*_interactive.go, **/*_integration.go, examples/, docs/, scripts/, .github/, *.md
  inspect-state: any of: tools/inspect-state/, but not: **/*_test.go, **/*_interactive.go, **/*_integration.go, examples/, docs/, scripts/, .github/, *.md
