Repository AltairaLabs/PromptKit: changes, and which Codecov flags are due for each by the changed paths.
All: runtime, sdk, arena, packc, inspect-state

feat(tui): render Message.Reasoning as a section in the conversation detail view (#1527)
  tools/arena/tui/panels/conversation.go
  tools/arena/tui/panels/conversation_render.go
  tools/arena/tui/panels/conversation_test.go
Due: arena

feat(report): collapsible reasoning section in HTML report (escaped) (#1527)
  tools/arena/render/html.go
  tools/arena/render/html_reasoning_test.go
Due: arena

test(report): lock JSON report serialization of Message.Reasoning (#1527)
  tools/arena/results/json/json_repository_test.go
Due: none

feat(reasoning): display reasoning in turn history + reports (Plan 3, partial) (#1527) (#1529)
  tools/arena/render/html.go
  tools/arena/render/html_reasoning_test.go
  tools/arena/results/json/json_repository_test.go
  tools/arena/tui/panels/conversation.go
  tools/arena/tui/panels/conversation_render.go
  tools/arena/tui/panels/conversation_test.go
Due: arena

feat(events): reasoning.delta event — non-content live reasoning signal (#1527)
  runtime/events/emitter.go
  runtime/events/emitter_test.go
  runtime/events/store.go
  runtime/events/types.go
  runtime/pipeline/stage/stages_duplex_provider_integration.go
  runtime/pipeline/stage/stages_provider.go
Due: runtime

feat(tui): live-stream reasoning into the conversation panel (#1527)
  tools/arena/tui/app/livefeed.go
  tools/arena/tui/app/livefeed_test.go
  tools/arena/tui/event_adapter.go
  tools/arena/tui/event_adapter_test.go
  tools/arena/tui/messages.go
  tools/arena/tui/panels/conversation.go
  tools/arena/tui/panels/conversation_render.go
  tools/arena/tui/panels/conversation_test.go
Due: arena

feat(reasoning): live-stream reasoning into the TUI (Plan 3 complete) (#1527) (#1530)
  runtime/events/emitter.go
  runtime/events/emitter_test.go
  runtime/events/store.go
  runtime/events/types.go
  runtime/pipeline/stage/stages_duplex_provider_integration.go
  runtime/pipeline/stage/stages_provider.go
  tools/arena/tui/app/livefeed.go
  tools/arena/tui/app/livefeed_test.go
  tools/arena/tui/event_adapter.go
  tools/arena/tui/event_adapter_test.go
  tools/arena/tui/messages.go
  tools/arena/tui/panels/conversation.go
  tools/arena/tui/panels/conversation_render.go
  tools/arena/tui/panels/conversation_test.go
Due: runtime, arena

test(duplex): provider-level WithResponseChunks + Process-loop reasoning test (#1527)
  runtime/pipeline/stage/stages_streaming_test.go
  runtime/providers/mock/mock_streaming_interactive.go
Due: none

refactor(duplex): move pure transforms to coverage-gated stages_duplex_provider.go (#1527)
  runtime/pipeline/stage/stages_duplex_provider.go
  runtime/pipeline/stage/stages_duplex_provider_integration.go
  runtime/pipeline/stage/stages_duplex_provider_test.go
Due: runtime

test(reasoning): duplex Process-loop test + coverage-gate the duplex transforms (#1527) (#1531)
  runtime/pipeline/stage/stages_duplex_provider.go
  runtime/pipeline/stage/stages_duplex_provider_integration.go
  runtime/pipeline/stage/stages_duplex_provider_test.go
  runtime/pipeline/stage/stages_streaming_test.go
  runtime/providers/mock/mock_streaming_interactive.go
Due: runtime

docs(examples): add reasoning-test example showing model thinking capture/display (#1527)
  examples/reasoning-test/README.md
  examples/reasoning-test/config.arena.yaml
  examples/reasoning-test/prompts/reasoning.yaml
  examples/reasoning-test/providers/gemini-25-flash.provider.yaml
  examples/reasoning-test/scenarios/reasoning.scenario.yaml
Due: none

docs(examples): make reasoning-test distinguish answer from reasoning (#1527)
  examples/reasoning-test/README.md
  examples/reasoning-test/prompts/reasoning.yaml
Due: none

test(gemini): live reasoning integration test (#1527)
  runtime/providers/gemini/reasoning_integration_test.go
Due: none

feat(claude): enable extended thinking + capture reasoning in streaming (#1527)
  runtime/providers/claude/claude.go
  runtime/providers/claude/claude_reasoning_streaming_test.go
  runtime/providers/claude/claude_streaming.go
  runtime/providers/claude/claude_tools.go
  runtime/providers/claude/reasoning_integration_test.go
Due: runtime

test(openai): live reasoning integration test (#1527)
  runtime/providers/openai/reasoning_integration_test.go
Due: none

feat(openai): capture reasoning summaries via the Responses API (#1527)
  runtime/providers/openai/openai.go
  runtime/providers/openai/openai_reasoning_test.go
  runtime/providers/openai/openai_responses_integration.go
  runtime/providers/openai/reasoning_integration_test.go
Due: runtime

test(openai): live-verified reasoning capture; harden against best-effort summaries (#1527)
  runtime/providers/openai/openai_reasoning_test.go
  runtime/providers/openai/reasoning_integration_test.go
Due: none

fix(gemini): capture reasoning in the non-streaming tools path + full live matrix (#1527)
  runtime/providers/gemini/gemini_reasoning_test.go
  runtime/providers/gemini/gemini_tools.go
  runtime/providers/gemini/reasoning_integration_test.go
Due: runtime

fix(claude): read thinking from the "thinking" field (non-streaming) + full live matrix (#1527)
  runtime/providers/claude/claude.go
  runtime/providers/claude/claude_reasoning_test.go
  runtime/providers/claude/claude_test.go
  runtime/providers/claude/claude_tools.go
  runtime/providers/claude/reasoning_integration_test.go
Due: runtime

test(claude): fix two more thinking-via-Text tests to use the Thinking field (#1527)
  runtime/providers/claude/claude_tools_test.go
Due: none

test(openai): full live reasoning matrix — non-streaming, tools, streaming+tools (#1527)
  runtime/providers/openai/reasoning_integration_test.go
Due: none

test(gemini): live realtime (Live duplex) reasoning test (#1527)
  runtime/providers/gemini/reasoning_integration_test.go
Due: none

fix(arena): persist + clone Message.Reasoning so reports show model reasoning (#1527)
  tools/arena/statestore/store.go
  tools/arena/statestore/store_test.go
  tools/arena/turnexecutors/pipeline_stages_integration.go
Due: arena

feat(tui): show reasoning on completed turns in the live interactive console (#1527)
  runtime/events/emitter.go
  runtime/events/emitter_test.go
  runtime/events/types.go
  tools/arena/stages/statestore_save_integration.go
  tools/arena/tui/app/livefeed.go
  tools/arena/tui/app/livefeed_test.go
  tools/arena/tui/event_adapter.go
  tools/arena/tui/event_adapter_test.go
  tools/arena/tui/messages.go
  tools/arena/web/event_adapter_test.go
Due: runtime, arena

fix(events): keep MessageCreated reasoning in-memory only (json:"-") (#1527)
  runtime/events/emitter_test.go
  runtime/events/types.go
Due: runtime

feat(tui): show reasoning on completed turns in the live interactive console (#1527) (#1537)
  runtime/events/emitter.go
  runtime/events/emitter_test.go
  runtime/events/types.go
  tools/arena/stages/statestore_save_integration.go
  tools/arena/tui/app/livefeed.go
  tools/arena/tui/app/livefeed_test.go
  tools/arena/tui/event_adapter.go
  tools/arena/tui/event_adapter_test.go
  tools/arena/tui/messages.go
  tools/arena/web/event_adapter_test.go
Due: runtime, arena

docs(examples): reasoning-test — see model thinking in reports + TUI (#1527) (#1532)
  examples/reasoning-test/README.md
  examples/reasoning-test/config.arena.yaml
  examples/reasoning-test/prompts/reasoning.yaml
  examples/reasoning-test/providers/gemini-25-flash.provider.yaml
  examples/reasoning-test/scenarios/reasoning.scenario.yaml
  tools/arena/statestore/store.go
  tools/arena/statestore/store_test.go
  tools/arena/turnexecutors/pipeline_stages_integration.go
Due: arena

test(gemini): live reasoning integration test (#1527) (#1533)
  runtime/providers/gemini/gemini_reasoning_test.go
  runtime/providers/gemini/gemini_tools.go
  runtime/providers/gemini/reasoning_integration_test.go
Due: runtime

feat(claude): enable extended thinking + capture reasoning in streaming (#1527) (#1534)
  runtime/providers/claude/claude.go
  runtime/providers/claude/claude_reasoning_streaming_test.go
  runtime/providers/claude/claude_reasoning_test.go
  runtime/providers/claude/claude_streaming.go
  runtime/providers/claude/claude_test.go
  runtime/providers/claude/claude_tools.go
  runtime/providers/claude/claude_tools_test.go
  runtime/providers/claude/reasoning_integration_test.go
Due: runtime

feat(openai): capture reasoning via Responses API summaries (#1527) (#1535)
  runtime/providers/openai/openai.go
  runtime/providers/openai/openai_reasoning_test.go
  runtime/providers/openai/openai_responses_integration.go
  runtime/providers/openai/reasoning_integration_test.go
Due: runtime

fix(tui): show streaming reasoning before the first RunResult (#1527)
  tools/arena/tui/panels/conversation_render.go
  tools/arena/tui/panels/conversation_test.go
Due: arena

fix(tui): show streaming reasoning before the first RunResult (#1527) (#1538)
  tools/arena/tui/panels/conversation_render.go
  tools/arena/tui/panels/conversation_test.go
Due: arena

fix(arena): don't warn about guardrails for composition/workflow states
  tools/arena/turnexecutors/pipeline_executor_test.go
  tools/arena/turnexecutors/pipeline_stages_integration.go
Due: none

fix(arena): don't warn about guardrails for composition/workflow states (#1539)
  tools/arena/turnexecutors/pipeline_executor_test.go
  tools/arena/turnexecutors/pipeline_stages_integration.go
Due: none

build(hooks): resolve staged files to their nearest go.mod in pre-commit
  scripts/pre-commit.sh
Due: none

refactor(examples): migrate voice-chat off CGO gordonklaus/portaudio onto shared audio.Session (#1510)
  sdk/examples/voice-chat/README.md
  sdk/examples/voice-chat/go.mod
  sdk/examples/voice-chat/go.sum
  sdk/examples/voice-chat/main_interactive.go
Due: sdk

refactor(examples): migrate voice-chat off CGO portaudio onto shared audio.Session (#1510) (#1540)
  scripts/pre-commit.sh
  sdk/examples/voice-chat/README.md
  sdk/examples/voice-chat/go.mod
  sdk/examples/voice-chat/go.sum
  sdk/examples/voice-chat/main_interactive.go
Due: sdk

Path conditions:
  runtime: any of: runtime/, but not: **/*_test.go, **/*_interactive.go, **/*_integration.go, examples/, docs/, scripts/, .github/, *.md
  sdk: any of: sdk/, but not: **/*_test.go, **/*_interactive.go, **/*_integration.go, examples/, docs/, scripts/, .github/, *.md
  arena: any of: tools/arena/, but not: **/*_test.go, **/*_interactive.go, **/*_integration.go, examples/, docs/, scripts/, .github/, *.md
  packc: any of: tools/packc/, but not: **/*_test.go, **/*_interactive.go, **/*_integration.go, examples/, docs/, scripts/, .github/, *.md
  inspect-state: any of: tools/inspect-state/, but not: **/*_test.go, **/*_interactive.go, **/*_integration.go, examples/, docs/, scripts/, .github/, *.md
