Repository AltairaLabs/PromptKit: changes, and which Codecov flags are due for each by the changed paths.
All: runtime, sdk, arena, packc, inspect-state

codecov.yml:

codecov:
  require_ci_to_pass: yes
  notify:
    wait_for_ci: yes

coverage:
  precision: 2
  round: down
  range: "70...100"
  
  status:
    project:
      default:
        target: 70%
        threshold: 1%
        if_ci_failed: error
    patch:
      default:
        target: 70%
        threshold: 1%
        if_ci_failed: error

comment:
  layout: "reach,diff,flags,tree"
  behavior: default
  require_changes: false

flags:
  runtime:
    paths:
      - runtime/
  sdk:
    paths:
      - sdk/
  arena:
    paths:
      - tools/arena/
  packc:
    paths:
      - tools/packc/
  inspect-state:
    paths:
      - tools/inspect-state/

ignore:
  - "**/*_test.go"
  - "**/*_interactive.go"
  - "**/*_integration.go"
  - "examples/"
  - "docs/"
  - "scripts/"
  - ".github/"
  - "*.md"

fix: warn instead of silently dropping unmatched exec bindings, eval groups and duplicate skills
  docs/src/content/docs/reference/skills.md
  docs/src/content/docs/sdk/how-to/tools/exec-tools.md
  docs/src/content/docs/sdk/reference/conversation-manager.md
  runtime/evals/resolve.go
  runtime/evals/resolve_groups_warn_test.go
  runtime/skills/registry.go
  runtime/skills/registry_duplicate_warn_test.go
  sdk/eval_middleware.go
  sdk/eval_middleware_parse_test.go
  sdk/exec_tools.go
  sdk/exec_tools_warn_test.go
  sdk/options.go
Due: runtime, sdk

fix: warn instead of silently dropping unmatched exec bindings, eval groups and duplicate skills (#1981)
  docs/src/content/docs/reference/skills.md
  docs/src/content/docs/sdk/how-to/tools/exec-tools.md
  docs/src/content/docs/sdk/reference/conversation-manager.md
  runtime/evals/resolve.go
  runtime/evals/resolve_groups_warn_test.go
  runtime/skills/registry.go
  runtime/skills/registry_duplicate_warn_test.go
  sdk/eval_middleware.go
  sdk/eval_middleware_parse_test.go
  sdk/exec_tools.go
  sdk/exec_tools_warn_test.go
  sdk/options.go
Due: runtime, sdk

fix(pipeline): derive the turn index under a context window too
  docs/src/content/docs/runtime/reference/pipeline.md
  runtime/pipeline/stage/context_assembly_turn_index_test.go
  runtime/pipeline/stage/stages_context.go
  runtime/pipeline/stage/stages_core.go
  runtime/pipeline/stage/turn_state.go
  sdk/turn_index_context_window_e2e_test.go
Due: runtime

fix(pipeline): derive the turn index under a context window too (#1982)
  docs/src/content/docs/runtime/reference/pipeline.md
  runtime/pipeline/stage/context_assembly_turn_index_test.go
  runtime/pipeline/stage/stages_context.go
  runtime/pipeline/stage/stages_core.go
  runtime/pipeline/stage/turn_state.go
  sdk/turn_index_context_window_e2e_test.go
Due: runtime

fix(tools): collapse the registry to one store so Unregister actually removes
  docs/src/content/docs/architecture/runtime-tools-mcp.md
  docs/src/content/docs/runtime/reference/tools.md
  runtime/tools/registry.go
  runtime/tools/registry_single_store_test.go
Due: runtime

fix(tools): collapse the registry to one store so Unregister actually removes (#1983)
  docs/src/content/docs/architecture/runtime-tools-mcp.md
  docs/src/content/docs/runtime/reference/tools.md
  runtime/tools/registry.go
  runtime/tools/registry_single_store_test.go
Due: runtime

fix(sdk): resolve qualified a2a__ agent names and warn on an unknown one
  docs/src/content/docs/sdk/reference/conversation-manager.md
  sdk/agent_resolver.go
  sdk/agent_resolver_qualified_test.go
Due: sdk

fix(sdk): resolve qualified a2a__ agent names and warn on an unknown one (#1984)
  docs/src/content/docs/sdk/reference/conversation-manager.md
  sdk/agent_resolver.go
  sdk/agent_resolver_qualified_test.go
Due: sdk

fix(ci): resolve siblings at the release version in the API compatibility gate
  scripts/check-api-compatibility.sh
Due: none

fix(ci): resolve siblings at the release version in the API compatibility gate (#1985)
  scripts/check-api-compatibility.sh
Due: none

feat(memory): pass unknown recall and list args through to the store
  docs/src/content/docs/sdk/reference/conversation-manager.md
  runtime/memory/tools.go
  runtime/memory/tools_extras_test.go
  runtime/memory/types.go
  sdk/tool_descriptor_override.go
Due: runtime, sdk

feat(memory): let stores opt into forget passthrough via ExtrasDeleter
  docs/src/content/docs/sdk/reference/conversation-manager.md
  runtime/memory/store.go
  runtime/memory/tools.go
  runtime/memory/tools_extras_test.go
  runtime/memory/types.go
  sdk/tool_descriptor_override.go
Due: runtime, sdk

docs(memory): document the tool argument passthrough
  docs/src/content/docs/runtime/reference/memory.md
  docs/src/content/docs/sdk/how-to/conversations/use-memory.md
  docs/src/content/docs/sdk/how-to/tools/override-capability-tools.md
Due: none

feat(memory): pass unknown recall and list args through to the store (#1988)
  docs/src/content/docs/runtime/reference/memory.md
  docs/src/content/docs/sdk/how-to/conversations/use-memory.md
  docs/src/content/docs/sdk/how-to/tools/override-capability-tools.md
  docs/src/content/docs/sdk/reference/conversation-manager.md
  runtime/memory/store.go
  runtime/memory/tools.go
  runtime/memory/tools_extras_test.go
  runtime/memory/types.go
  sdk/tool_descriptor_override.go
Due: runtime, sdk

docs(memory): correct the claim that WithMemory never ambient-injects
  docs/src/content/docs/sdk/how-to/conversations/use-memory.md
Due: none

docs(memory): the tool descriptions already tell the model when to call
  docs/src/content/docs/sdk/how-to/conversations/use-memory.md
Due: none

docs(memory): correct the claim that WithMemory never ambient-injects (#1989)
  docs/src/content/docs/sdk/how-to/conversations/use-memory.md
Due: none

chore(deploy): delete runtime/deploy — PromptArena has owned it since #127
  runtime/deploy/adaptersdk/agents.go
  runtime/deploy/adaptersdk/agents_test.go
  runtime/deploy/adaptersdk/arena.go
  runtime/deploy/adaptersdk/arena_test.go
  runtime/deploy/adaptersdk/drift.go
  runtime/deploy/adaptersdk/drift_test.go
  runtime/deploy/adaptersdk/helpers.go
  runtime/deploy/adaptersdk/helpers_test.go
  runtime/deploy/adaptersdk/plan.go
  runtime/deploy/adaptersdk/plan_test.go
  runtime/deploy/adaptersdk/serve.go
  runtime/deploy/adaptersdk/serve_test.go
  runtime/deploy/adaptersdk/tools.go
  runtime/deploy/adaptersdk/tools_test.go
  runtime/deploy/client.go
  runtime/deploy/client_test.go
  runtime/deploy/links_test.go
  runtime/deploy/lock.go
  runtime/deploy/lock_test.go
  runtime/deploy/lock_unix.go
  runtime/deploy/lock_windows.go
  runtime/deploy/manager.go
  runtime/deploy/manager_test.go
  runtime/deploy/provider.go
  runtime/deploy/provider_test.go
  runtime/deploy/state.go
  runtime/deploy/state_test.go
  runtime/go.mod
Due: runtime

chore(deploy): delete runtime/deploy — PromptArena has owned it since #127 (#1991)
  runtime/deploy/adaptersdk/agents.go
  runtime/deploy/adaptersdk/agents_test.go
  runtime/deploy/adaptersdk/arena.go
  runtime/deploy/adaptersdk/arena_test.go
  runtime/deploy/adaptersdk/drift.go
  runtime/deploy/adaptersdk/drift_test.go
  runtime/deploy/adaptersdk/helpers.go
  runtime/deploy/adaptersdk/helpers_test.go
  runtime/deploy/adaptersdk/plan.go
  runtime/deploy/adaptersdk/plan_test.go
  runtime/deploy/adaptersdk/serve.go
  runtime/deploy/adaptersdk/serve_test.go
  runtime/deploy/adaptersdk/tools.go
  runtime/deploy/adaptersdk/tools_test.go
  runtime/deploy/client.go
  runtime/deploy/client_test.go
  runtime/deploy/links_test.go
  runtime/deploy/lock.go
  runtime/deploy/lock_test.go
  runtime/deploy/lock_unix.go
  runtime/deploy/lock_windows.go
  runtime/deploy/manager.go
  runtime/deploy/manager_test.go
  runtime/deploy/provider.go
  runtime/deploy/provider_test.go
  runtime/deploy/state.go
  runtime/deploy/state_test.go
  runtime/go.mod
Due: runtime

feat(providers): add a first-class rerank provider role
  docs/src/content/docs/runtime/reference/providers.md
  docs/src/content/docs/sdk/reference/conversation-manager.md
  pkg/config/role.go
  pkg/config/role_test.go
  runtime/providers/base/types.go
  runtime/providers/base_embedding.go
  runtime/providers/base_rerank.go
  runtime/providers/cohere/rerank.go
  runtime/providers/cohere/rerank_register.go
  runtime/providers/cohere/rerank_test.go
  runtime/providers/rerank.go
  runtime/providers/rerank_factory.go
  runtime/providers/rerank_mock.go
  runtime/providers/rerank_test.go
  runtime/providers/voyageai/rerank.go
  runtime/providers/voyageai/rerank_register.go
  runtime/providers/voyageai/rerank_test.go
  sdk/options.go
  sdk/provider_file.go
  sdk/provider_introspection.go
  sdk/provider_introspection_test.go
  sdk/rerank.go
  sdk/rerank_test.go
  sdk/runtime_config.go
Due: runtime, sdk

feat(config): accept role: rerank in the provider schema
  pkg/config/role_test.go
  pkg/config/types.go
Due: none

test(providers): assert what the rerank log line actually records
  runtime/providers/rerank_test.go
Due: none

feat(providers): add a first-class rerank provider role (#1995)
  docs/src/content/docs/runtime/reference/providers.md
  docs/src/content/docs/sdk/reference/conversation-manager.md
  pkg/config/role.go
  pkg/config/role_test.go
  pkg/config/types.go
  runtime/providers/base/types.go
  runtime/providers/base_embedding.go
  runtime/providers/base_rerank.go
  runtime/providers/cohere/rerank.go
  runtime/providers/cohere/rerank_register.go
  runtime/providers/cohere/rerank_test.go
  runtime/providers/rerank.go
  runtime/providers/rerank_factory.go
  runtime/providers/rerank_mock.go
  runtime/providers/rerank_test.go
  runtime/providers/voyageai/rerank.go
  runtime/providers/voyageai/rerank_register.go
  runtime/providers/voyageai/rerank_test.go
  sdk/options.go
  sdk/provider_file.go
  sdk/provider_introspection.go
  sdk/provider_introspection_test.go
  sdk/rerank.go
  sdk/rerank_test.go
  sdk/runtime_config.go
Due: runtime, sdk

chore(schemas): refresh from promptarena, adding role: rerank
  schemas/v1alpha1/arena.json
  schemas/v1alpha1/provider.json
  schemas/v1alpha1/runtime-config.json
  schemas/v1alpha1/tool.json
Due: none

chore(schemas): refresh from promptarena, adding role: rerank (#1997)
  schemas/v1alpha1/arena.json
  schemas/v1alpha1/provider.json
  schemas/v1alpha1/runtime-config.json
  schemas/v1alpha1/tool.json
Due: none

feat(classify): add RegisterBackendDefaulting to claim unset task defaults
  runtime/classify/factory.go
  runtime/classify/factory_test.go
  runtime/classify/registry.go
Due: runtime

fix(sdk): role: inference claims classify defaults and rejects duplicate IDs
  sdk/options.go
  sdk/options_test.go
  sdk/runtime_config.go
Due: sdk

feat(sdk): route RuntimeConfig providers by role
  sdk/provider_file.go
  sdk/runtime_config.go
  sdk/runtime_config_test.go
Due: sdk

feat(config): role-aware validation for RuntimeConfig providers
  pkg/config/runtime_config.go
  pkg/config/runtime_config_test.go
Due: none

docs: lead with role: on RuntimeConfig providers, deprecate capability blocks
  docs/src/content/docs/sdk/how-to/providers/declarative-embedding-providers.md
  docs/src/content/docs/sdk/how-to/providers/declarative-tts-stt-providers.md
  docs/src/content/docs/sdk/reference/runtime-config.md
  pkg/config/runtime_config.go
Due: none

test(sdk): assert which provider wins, not just that lookup succeeded
  sdk/options_test.go
  sdk/runtime_config_test.go
Due: none

feat(sdk): route RuntimeConfig providers by role (#2001)
  docs/src/content/docs/sdk/how-to/providers/declarative-embedding-providers.md
  docs/src/content/docs/sdk/how-to/providers/declarative-tts-stt-providers.md
  docs/src/content/docs/sdk/reference/runtime-config.md
  pkg/config/runtime_config.go
  pkg/config/runtime_config_test.go
  runtime/classify/factory.go
  runtime/classify/factory_test.go
  runtime/classify/registry.go
  sdk/options.go
  sdk/options_test.go
  sdk/provider_file.go
  sdk/runtime_config.go
  sdk/runtime_config_test.go
Due: runtime, sdk

fix(guardrails): read direction from defaulted params
  runtime/hooks/guardrails/factory.go
  runtime/hooks/guardrails/factory_direction_test.go
Due: runtime

feat(classify): add the topic classification task
  runtime/classify/factory.go
  runtime/classify/registry.go
  runtime/classify/topic.go
  runtime/classify/topic_registry_test.go
  runtime/classify/types.go
Due: runtime

feat(classify): add the nvidia-topic-control backend
  runtime/classify/backends/all/all.go
  runtime/classify/backends/topiccontrol/client.go
  runtime/classify/backends/topiccontrol/client_test.go
  runtime/classify/backends/topiccontrol/policy.go
  runtime/classify/backends/topiccontrol/policy_test.go
  runtime/classify/backends/topiccontrol/register.go
Due: runtime

feat(evals): add the topic_policy check
  runtime/evals/handlers/CLAUDE.md
  runtime/evals/handlers/handlers_test.go
  runtime/evals/handlers/llm_judge.go
  runtime/evals/handlers/register.go
  runtime/evals/handlers/topic_policy.go
  runtime/evals/handlers/topic_policy_params.go
  runtime/evals/handlers/topic_policy_test.go
  runtime/evals/normalize.go
Due: runtime

fix(evals): bound topic_policy's warned-sessions tracker
  runtime/evals/handlers/CLAUDE.md
  runtime/evals/handlers/topic_policy.go
  runtime/evals/handlers/topic_policy_internal_test.go
Due: runtime

test(pipeline): prove a denied topic_policy turn never calls the provider
  docs/src/content/docs/reference/checks.md
  runtime/pipeline/stage/stages_provider_topic_policy_test.go
Due: none
