Repository AltairaLabs/PromptKit: changes, and which Codecov flags are due for each by the changed paths.
All: runtime, sdk, arena, packc, inspect-state

feat(sdk): Add comprehensive e2e test framework with provider matrix
  .gitignore
  Makefile
  scripts/run-e2e-tests.sh
  sdk/e2e_config_test.go
  sdk/e2e_providers_test.go
  sdk/e2e_test.go
  sdk/e2e_text_test.go
  sdk/e2e_tools_test.go
  sdk/e2e_vision_test.go
Due: none

fix(e2e): Support GEMINI_API_KEY environment variable
  scripts/run-e2e-tests.sh
  sdk/e2e_config_test.go
  sdk/e2e_test.go
Due: none

fix(e2e): Fix pack schema and skip Gemini tool tests
  sdk/e2e_providers_test.go
  sdk/e2e_tools_test.go
Due: none

fix(gemini): Fix tool calling in streaming responses
  runtime/providers/gemini/gemini.go
  runtime/providers/gemini/gemini_integration_test.go
  runtime/providers/gemini/gemini_tools.go
  sdk/e2e_tools_test.go
Due: runtime

feat(sdk): Add cost tracking report for e2e tests
  sdk/e2e_cost_tracker_test.go
  sdk/e2e_main_test.go
  sdk/e2e_providers_test.go
Due: none

feat(sdk): Add Ollama provider support for e2e tests
  sdk/e2e_config_test.go
  sdk/internal/provider/detect.go
Due: sdk

refactor(types): Add Message constructors and improve content handling
  Makefile
  runtime/pipeline/stage/stages_provider.go
  runtime/providers/claude/claude_tool_results_test.go
  runtime/providers/claude/claude_tools.go
  runtime/providers/gemini/gemini_tool_results_test.go
  runtime/providers/gemini/gemini_tools.go
  runtime/providers/openai/openai_tools.go
  runtime/providers/openai/openai_tools_test.go
  runtime/types/message.go
  scripts/lint-message-patterns.sh
  sdk/e2e_tools_test.go
  tools/arena/engine/duplex_executor_tools_integration.go
Due: runtime

test: Add coverage for Message constructors and Ollama detection
  runtime/types/message_test.go
  sdk/internal/provider/detect_test.go
Due: none

feat(arena): Export BuildEngineComponents for programmatic usage
  examples/programmatic-arena/README.md
  examples/programmatic-arena/go.mod
  examples/programmatic-arena/main.go
  go.work
  tools/arena/engine/builder_additional_test.go
  tools/arena/engine/builder_integration.go
  tools/arena/engine/engine.go
Due: arena

docs(arena): Add comprehensive documentation for programmatic usage
  docs/src/content/docs/arena/explanation/programmatic-vs-cli.md
  docs/src/content/docs/arena/how-to/use-as-go-library.md
  docs/src/content/docs/arena/reference/api-reference.md
  docs/src/content/docs/arena/tutorials/07-programmatic-usage.md
Due: none

feat(arena): Export BuildEngineComponents for programmatic usage (#211)
  docs/src/content/docs/arena/explanation/programmatic-vs-cli.md
  docs/src/content/docs/arena/how-to/use-as-go-library.md
  docs/src/content/docs/arena/reference/api-reference.md
  docs/src/content/docs/arena/tutorials/07-programmatic-usage.md
  examples/programmatic-arena/README.md
  examples/programmatic-arena/go.mod
  examples/programmatic-arena/main.go
  go.work
  tools/arena/engine/builder_additional_test.go
  tools/arena/engine/builder_integration.go
  tools/arena/engine/engine.go
Due: arena

feat: Add vLLM provider to Arena tool
  examples/vllm-local/docker-compose.yaml
  runtime/providers/vllm/vllm.go
  runtime/providers/vllm/vllm_multimodal_test.go
  runtime/providers/vllm/vllm_test.go
  runtime/providers/vllm/vllm_tools.go
  runtime/providers/vllm/vllm_tools_test.go
  tools/arena/engine/builder_integration.go
Due: runtime

fix(vllm): Accumulate content in streaming responses
  runtime/providers/vllm/vllm.go
  runtime/providers/vllm/vllm_multimodal_test.go
  runtime/providers/vllm/vllm_test.go
  runtime/providers/vllm/vllm_tools_test.go
Due: runtime

fix: Address SonarQube code quality issues in vLLM provider
  runtime/providers/vllm/README.md
  runtime/providers/vllm/vllm.go
  runtime/providers/vllm/vllm_multimodal.go
  runtime/providers/vllm/vllm_tools.go
Due: runtime

feat(vllm): Enhance documentation for vLLM provider with setup instructions and features
  docs/src/content/docs/arena/how-to/configure-providers.md
  docs/src/content/docs/concepts/providers.md
  docs/src/content/docs/glossary.md
  docs/src/content/docs/runtime/how-to/setup-providers.md
  docs/src/content/docs/runtime/reference/providers.md
  runtime/providers/vllm/README.md
Due: runtime

feat: Add document type support for PDF analysis
  examples/document-analysis/.env.example
  examples/document-analysis/README.md
  examples/document-analysis/config.arena.yaml
  examples/document-analysis/mock-responses.yaml
  examples/document-analysis/prompts/document-analyzer.yaml
  examples/document-analysis/providers/claude-docs.provider.yaml
  examples/document-analysis/providers/gemini-docs.provider.yaml
  examples/document-analysis/providers/mock-docs.provider.yaml
  examples/document-analysis/scenarios/mixed-media.scenario.yaml
  examples/document-analysis/scenarios/multi-doc-compare.scenario.yaml
  examples/document-analysis/scenarios/pdf-summary.scenario.yaml
  examples/document-analysis/test-docs/diagram.png
  examples/document-analysis/test-docs/sample.pdf
  examples/document-analysis/test-docs/specs.pdf
  examples/document-analysis/test-docs/version1.pdf
  examples/document-analysis/test-docs/version2.pdf
  runtime/providers/claude/claude.go
  runtime/providers/claude/claude_multimodal.go
  runtime/providers/gemini/gemini.go
  runtime/providers/gemini/gemini_multimodal.go
  runtime/providers/mock/mock_repository.go
  runtime/providers/multimodal.go
  runtime/types/content.go
  runtime/types/content_document_test.go
  runtime/types/message.go
  sdk/e2e_document_test.go
  sdk/options.go
  sdk/options_test.go
  sdk/streaming.go
  sdk/streaming_test.go
  tools/arena/mocks/parser.go
  tools/arena/render/media.go
  tools/arena/turnexecutors/media_loader.go
Due: runtime, sdk, arena

docs: Add document analysis documentation
  docs/src/content/docs/arena/examples/document-analysis.md
  docs/src/content/docs/arena/reference/scenario-format.md
  docs/src/content/docs/sdk/examples/multimodal.md
  docs/src/content/docs/sdk/how-to/analyze-documents.md
  docs/src/content/docs/sdk/reference/index.md
Due: none

feat: Add YAML config validation to pre-commit hook
  scripts/install-hooks.sh
  scripts/pre-commit.sh
Due: none

feat: Add document type support for PDF analysis (#214)
  docs/src/content/docs/arena/examples/document-analysis.md
  docs/src/content/docs/arena/reference/scenario-format.md
  docs/src/content/docs/sdk/examples/multimodal.md
  docs/src/content/docs/sdk/how-to/analyze-documents.md
  docs/src/content/docs/sdk/reference/index.md
  scripts/install-hooks.sh
  scripts/pre-commit.sh
Due: none

feat(arena): add Eval config type for saved conversation evaluation (#215)
  examples/eval-test/README.md
  examples/eval-test/config.arena.yaml
  examples/eval-test/evals/basic-eval.eval.yaml
  examples/eval-test/providers/replay.provider.yaml
  pkg/config/config_test.go
  pkg/config/loader.go
  pkg/config/manifest_helpers.go
  pkg/config/manifest_helpers_test.go
  pkg/config/schema_validator.go
  pkg/config/schema_validator_test.go
  pkg/config/types.go
  pkg/config/validator.go
  schemas/v1alpha1/arena.json
  scripts/pre-commit.sh
  tools/schema-gen/generators/eval.go
  tools/schema-gen/main.go
Due: none

docs: add Eval configuration documentation (#215)
  docs/src/content/docs/arena/how-to/session-recording.md
  docs/src/content/docs/arena/reference/config-schema.md
  docs/src/content/docs/reference/schema-validation.md
Due: none

chore: Add eval.json schema and update .gitignore for schema tracking
  .gitignore
  schemas/v1alpha1/eval.json
Due: none

test(schema-gen): Add tests for GenerateEvalSchema and GenerateLoggingSchema
  tools/schema-gen/generators/generators_test.go
Due: none

feat(arena): Add Eval configuration type for saved conversation evaluation (#222)
  .gitignore
  docs/src/content/docs/arena/how-to/session-recording.md
  docs/src/content/docs/arena/reference/config-schema.md
  docs/src/content/docs/reference/schema-validation.md
  examples/eval-test/README.md
  examples/eval-test/config.arena.yaml
  examples/eval-test/evals/basic-eval.eval.yaml
  examples/eval-test/providers/replay.provider.yaml
  pkg/config/config_test.go
  pkg/config/loader.go
  pkg/config/manifest_helpers.go
  pkg/config/manifest_helpers_test.go
  pkg/config/schema_validator.go
  pkg/config/schema_validator_test.go
  pkg/config/types.go
  pkg/config/validator.go
  schemas/v1alpha1/arena.json
  schemas/v1alpha1/eval.json
  scripts/pre-commit.sh
  tools/schema-gen/generators/eval.go
  tools/schema-gen/generators/generators_test.go
  tools/schema-gen/main.go
Due: none

feat: Add SessionRecording and Transcript adapters for handling session recordings and transcripts
  tools/arena/adapters/adapter.go
  tools/arena/adapters/arena_output.go
  tools/arena/adapters/arena_output_test.go
  tools/arena/adapters/registry.go
  tools/arena/adapters/registry_test.go
  tools/arena/adapters/session_recording.go
  tools/arena/adapters/session_recording_test.go
  tools/arena/adapters/transcript.go
  tools/arena/adapters/transcript_test.go
Due: arena

refactor: extract duplicated media conversion logic into shared helper
  tools/arena/adapters/adapter.go
  tools/arena/adapters/adapter_test.go
  tools/arena/adapters/session_recording.go
  tools/arena/adapters/transcript.go
Due: arena

feat: Add SessionRecording and Transcript adapters for handling session recordings and transcripts (#223)
  tools/arena/adapters/adapter.go
  tools/arena/adapters/adapter_test.go
  tools/arena/adapters/arena_output.go
  tools/arena/adapters/arena_output_test.go
  tools/arena/adapters/registry.go
  tools/arena/adapters/registry_test.go
  tools/arena/adapters/session_recording.go
  tools/arena/adapters/session_recording_test.go
  tools/arena/adapters/transcript.go
  tools/arena/adapters/transcript_test.go
Due: arena

feat: enhance replay provider for evaluation with metadata and multimodal support
  runtime/events/types.go
  runtime/events/types_test.go
  runtime/providers/replay/factory.go
  runtime/providers/replay/provider.go
  runtime/providers/replay/provider_test.go
  runtime/providers/replay/streaming.go
Due: runtime

test: add coverage for provider_info merging scenario
  runtime/providers/replay/provider_test.go
Due: none

feat: enhance replay provider for evaluation with metadata and multimodal support (#224)
  runtime/events/types.go
  runtime/events/types_test.go
  runtime/providers/replay/factory.go
  runtime/providers/replay/provider.go
  runtime/providers/replay/provider_test.go
  runtime/providers/replay/streaming.go
Due: runtime

feat: implement eval conversation executor for issue #218
  AGENTS.md
  README.md
  tools/arena/engine/builder_integration.go
  tools/arena/engine/composite_conversation_executor.go
  tools/arena/engine/composite_conversation_executor_test.go
  tools/arena/engine/eval_conversation_executor.go
  tools/arena/engine/eval_conversation_executor_test.go
  tools/arena/engine/interfaces.go
Due: arena

feat: Add eval CLI integration
  tools/arena/cmd/promptarena/run.go
  tools/arena/cmd/promptarena/run_interactive.go
  tools/arena/cmd/promptarena/yaml_config_test.go
  tools/arena/engine/engine.go
  tools/arena/engine/engine_eval_test.go
  tools/arena/engine/engine_execution_test.go
  tools/arena/engine/engine_extended_test.go
  tools/arena/engine/engine_test.go
  tools/arena/engine/engine_types_test.go
  tools/arena/engine/execution.go
  tools/arena/engine/types.go
Due: arena

feat: add eval mode with conversation assertions
  examples/eval-test/config.arena.yaml
  examples/eval-test/evals/basic-eval.eval.yaml
  examples/eval-test/mock-responses-judge.yaml
  examples/eval-test/providers/gpt-4o-judge.provider.yaml
  examples/eval-test/recordings/customer-support.arena.json
  examples/eval-test/recordings/geography.recording.json
  pkg/config/config_test.go
  pkg/config/loader.go
  pkg/config/schema_validator_test.go
  pkg/config/types.go
  schemas/v1alpha1/eval.json
  tools/arena/adapters/arena_output.go
  tools/arena/engine/eval_conversation_executor.go
  tools/arena/engine/eval_conversation_executor_test.go
  tools/arena/engine/execution.go
Due: arena

chore: regenerate schemas after eval structure changes
  schemas/v1alpha1/eval.json
Due: none

test: fix eval path resolution expectations
  pkg/config/config_test.go
Due: none

Path conditions:
  runtime: any of: runtime/, but not: **/*_test.go, **/*_interactive.go, **/*_integration.go, examples/, docs/, scripts/, .github/, *.md
  sdk: any of: sdk/, but not: **/*_test.go, **/*_interactive.go, **/*_integration.go, examples/, docs/, scripts/, .github/, *.md
  arena: any of: tools/arena/, but not: **/*_test.go, **/*_interactive.go, **/*_integration.go, examples/, docs/, scripts/, .github/, *.md
  packc: any of: tools/packc/, but not: **/*_test.go, **/*_interactive.go, **/*_integration.go, examples/, docs/, scripts/, .github/, *.md
  inspect-state: any of: tools/inspect-state/, but not: **/*_test.go, **/*_interactive.go, **/*_integration.go, examples/, docs/, scripts/, .github/, *.md
