Repository AltairaLabs/PromptKit: changes, and which Codecov flags are due for each by the changed paths.
All: runtime, sdk, arena, packc, inspect-state

fix(arena/web): keep dist/.gitkeep alive across vite builds
  tools/arena/web/frontend/dist/.gitkeep
  tools/arena/web/frontend/package.json
Due: arena

fix(arena/web): make mock provider truly free + warn when it isn't
  tools/arena/cmd/promptarena/serve_interactive.go
  tools/arena/web/frontend/src/components/EmptyStateLauncher.tsx
  tools/arena/web/frontend/src/components/RunControls.tsx
Due: arena

fix(arena): include self-play cost in headline run cost
  tools/arena/engine/conversation_executor.go
  tools/arena/engine/cost_aggregation.go
  tools/arena/engine/cost_aggregation_test.go
  tools/arena/engine/duplex_conversation_executor.go
Due: arena

feat(types): extend CostInfo with quantities and dimensions for unified provider model
  runtime/types/message.go
  runtime/types/message_test.go
Due: runtime

feat(providers/base): introduce ProviderType and per-type interfaces
  runtime/providers/base/types.go
  runtime/providers/base/types_test.go
Due: runtime

feat(providers/base): add PricingDescriptor, PricingResolver, InlinePricingResolver
  runtime/providers/base/pricing.go
  runtime/providers/base/pricing_test.go
  runtime/providers/base/types.go
Due: runtime

feat(providers/base): add ComputeCost with dimension-matched pricing
  runtime/providers/base/cost.go
  runtime/providers/base/cost_test.go
Due: runtime

feat(providers/base): add Implementation helper struct for composition
  runtime/providers/base/implementation.go
  runtime/providers/base/implementation_test.go
Due: runtime

feat(providers/base): add StartCapabilitySpan helper for OTEL
  runtime/providers/base/span.go
  runtime/providers/base/span_test.go
Due: runtime

feat(providers): embed base.Implementation in BaseProvider for inference impls
  runtime/providers/base_provider.go
  runtime/providers/conformance/conformance_test.go
  runtime/providers/conformance/doc.go
  runtime/providers/conformance_test.go
Due: runtime

feat(providers): alias Provider to InferenceProvider; mock/replay satisfy base.Provider
  runtime/providers/conformance/conformance_test.go
  runtime/providers/mock/mock.go
  runtime/providers/multimodal_test.go
  runtime/providers/provider.go
  runtime/providers/provider_test.go
  runtime/providers/registry_extended_test.go
  runtime/providers/replay/provider.go
  runtime/statestore/summarizer_llm_test.go
  sdk/conversation_test.go
  sdk/integration/errors_test.go
  sdk/integration/probes/probes_test.go
  sdk/integration/probes/provider.go
  sdk/options_test.go
  sdk/sdk_test.go
Due: runtime, sdk

feat(providers): registry keyed by (name, capability) with back-compat single-arg Get
  runtime/providers/base/registry.go
  runtime/providers/base/registry_test.go
  runtime/providers/provider_test.go
  runtime/providers/registry.go
Due: runtime

feat(config): add unified ProviderSpec types and compat shim for legacy YAML
  pkg/config/compat.go
  pkg/config/compat_test.go
  pkg/config/types.go
Due: none

feat(events,metrics): add ancillary capability events and pre-register four metric families with image_gen handler
  runtime/events/emitter.go
  runtime/events/emitter_test.go
  runtime/events/types.go
  runtime/events/types_test.go
  runtime/metrics/collector.go
  runtime/metrics/collector_test.go
Due: runtime

feat(providers/imagen): satisfy base.ImageProvider and tag CostInfo with image dimensions
  runtime/providers/imagen/imagen.go
  runtime/providers/imagen/imagen_test.go
Due: runtime

test(arena): update test provider mocks to satisfy base.Provider
  tools/arena/engine/conversation_executor_streaming_test.go
  tools/arena/engine/conversation_executor_test.go
  tools/arena/engine/conversation_executor_vars_test.go
  tools/arena/engine/cost_aggregation.go
  tools/arena/engine/duplex_conversation_executor_test.go
  tools/arena/engine/statestore_test.go
  tools/arena/selfplay/audio_generator_test.go
  tools/arena/turnexecutors/pipeline_executor_helpers_test.go
  tools/arena/turnexecutors/scripted_executor_test.go
  tools/arena/turnexecutors/streaming_test.go
Due: arena

test(sdk): rtcMockProvider implements base.Provider methods to avoid nil-method panic
  sdk/runtime_config_test.go
Due: none

test(sdk): closingProvider implements base.Provider methods to avoid nil-method panic
  sdk/sdk_provider_pool_test.go
Due: none

fix(arena/statestore): clone CostInfo's unified fields so they reach the report
  tools/arena/statestore/store.go
Due: arena

feat(pipeline): stamp ProviderName/Capability/Latency on every assistant CostInfo
  runtime/pipeline/stage/stages_provider.go
Due: runtime

feat(types,arena): add CostLineItem and Breakdown rollup at run-level cost
  runtime/types/message.go
  tools/arena/engine/conversation_executor.go
  tools/arena/statestore/store.go
  tools/arena/statestore/telemetry.go
Due: runtime, arena

refactor(arena/engine): drop duplicated breakdown helper (lives in statestore)
  tools/arena/engine/conversation_executor.go
Due: arena

feat(tts): track per-call TTS cost via Message.Meta and unified breakdown
  runtime/events/emitter.go
  runtime/events/emitter_test.go
  runtime/metrics/collector.go
  runtime/metrics/collector_test.go
  runtime/pipeline/stage/stages_tts_cost_test.go
  runtime/pipeline/stage/stages_tts_integration.go
  runtime/tts/cartesia.go
  runtime/tts/cartesia_test.go
  runtime/tts/cost.go
  runtime/tts/cost_test.go
  runtime/tts/elevenlabs.go
  runtime/tts/elevenlabs_test.go
  runtime/tts/openai.go
  runtime/tts/openai_test.go
  tools/arena/engine/cost_aggregation.go
  tools/arena/engine/duplex_executor_turns_integration.go
Due: runtime, arena

fix(arena/statestore): fold ancillary Meta costs (tts_cost etc.) into rollup
  tools/arena/statestore/telemetry.go
  tools/arena/statestore/telemetry_test.go
Due: arena

feat: TTS cost tracking via Message.Meta + breakdown rollup (#1108)
  runtime/events/emitter.go
  runtime/events/emitter_test.go
  runtime/metrics/collector.go
  runtime/metrics/collector_test.go
  runtime/pipeline/stage/stages_tts_cost_test.go
  runtime/pipeline/stage/stages_tts_integration.go
  runtime/tts/cartesia.go
  runtime/tts/cartesia_test.go
  runtime/tts/cost.go
  runtime/tts/cost_test.go
  runtime/tts/elevenlabs.go
  runtime/tts/elevenlabs_test.go
  runtime/tts/openai.go
  runtime/tts/openai_test.go
  tools/arena/engine/cost_aggregation.go
  tools/arena/engine/duplex_executor_turns_integration.go
  tools/arena/statestore/telemetry.go
  tools/arena/statestore/telemetry_test.go
Due: runtime, arena

refactor: move AudioChunk from tts to runtime/audio package
  runtime/audio/chunk.go
  runtime/tts/cartesia.go
  runtime/tts/cartesia_interactive.go
  runtime/tts/service.go
  runtime/tts/service_test.go
  sdk/conversation_test.go
Due: runtime

feat(providers/base): redesign TTSProvider with streaming TTSStream
  runtime/providers/base/tts_test.go
  runtime/providers/base/types.go
Due: runtime

feat(tts): impls satisfy base.TTSProvider with shared ttsStream wrapper
  runtime/providers/base/types.go
  runtime/tts/base_provider.go
  runtime/tts/base_provider_test.go
  runtime/tts/openai.go
  runtime/tts/stream.go
Due: runtime

feat: migrate TTS call sites to base.TTSProvider streaming interface
  tools/arena/engine/duplex_text_tts_test.go
  tools/arena/selfplay/audio_generator.go
  tools/arena/selfplay/audio_generator_test.go
  tools/arena/selfplay/mock_tts_interactive.go
  tools/arena/selfplay/tts_cache.go
  tools/arena/selfplay/tts_cache_test.go
  tools/arena/selfplay/tts_registry.go
  tools/arena/selfplay/tts_registry_test.go
  tools/arena/selfplay/tts_stream.go
Due: arena

feat(tts): wire YAML-driven pricing through TTS factory
  runtime/tts/cartesia.go
  runtime/tts/cartesia_register.go
  runtime/tts/elevenlabs.go
  runtime/tts/elevenlabs_register.go
  runtime/tts/factory.go
  runtime/tts/openai.go
  runtime/tts/openai_register.go
  runtime/tts/register_test.go
Due: runtime

feat: TTS streaming TTSProvider + YAML pricing + AudioChunk relocation (#1109)
  runtime/audio/chunk.go
  runtime/providers/base/tts_test.go
  runtime/providers/base/types.go
  runtime/tts/base_provider.go
  runtime/tts/base_provider_test.go
  runtime/tts/cartesia.go
  runtime/tts/cartesia_interactive.go
  runtime/tts/cartesia_register.go
  runtime/tts/elevenlabs.go
  runtime/tts/elevenlabs_register.go
  runtime/tts/factory.go
  runtime/tts/openai.go
  runtime/tts/openai_register.go
  runtime/tts/register_test.go
  runtime/tts/service.go
  runtime/tts/service_test.go
  runtime/tts/stream.go
  sdk/conversation_test.go
  tools/arena/engine/duplex_text_tts_test.go
  tools/arena/selfplay/audio_generator.go
  tools/arena/selfplay/audio_generator_test.go
  tools/arena/selfplay/mock_tts_interactive.go
  tools/arena/selfplay/tts_cache.go
  tools/arena/selfplay/tts_cache_test.go
  tools/arena/selfplay/tts_registry.go
  tools/arena/selfplay/tts_registry_test.go
  tools/arena/selfplay/tts_stream.go
Due: runtime, arena

feat(stt): make OpenAIService satisfy base.STTProvider
  runtime/stt/cost.go
  runtime/stt/cost_test.go
  runtime/stt/doc.go
  runtime/stt/openai.go
  runtime/stt/openai_test.go
  runtime/stt/retry.go
  runtime/stt/retry_test.go
  runtime/stt/service.go
Due: runtime

feat(stage): migrate STTStage to base.STTProvider and stamp stt_cost
  runtime/pipeline/stage/retry_e2e_test.go
  runtime/pipeline/stage/speech_test_helpers_test.go
  runtime/pipeline/stage/stages_speech_integration.go
  runtime/pipeline/stage/stt_stage_test.go
  sdk/conversation_test.go
  sdk/internal/pipeline/builder.go
  sdk/internal/pipeline/builder_vad_test.go
  sdk/runtime_config_test.go
Due: sdk

feat(stt): wire YAML pricing through STT factory
  runtime/stt/factory.go
  runtime/stt/openai_register.go
  runtime/stt/register_test.go
Due: runtime

feat(events,metrics): add STT call event emission and metric handlers
  runtime/events/emitter.go
  runtime/events/emitter_test.go
  runtime/metrics/collector.go
  runtime/metrics/collector_test.go
Due: runtime

refactor: move CostInfoToMetaMap to base package; drop duplicate stt copy
  runtime/pipeline/stage/stages_speech_integration.go
  runtime/providers/base/cost.go
  runtime/stt/cost.go
  runtime/stt/cost_test.go
  runtime/tts/cost.go
Due: runtime

refactor: extract MakeCostInfo helper to dedup TTS/STT cost construction
  runtime/providers/base/cost.go
  runtime/providers/base/cost_test.go
  runtime/stt/openai.go
  runtime/tts/cost.go
Due: runtime

refactor: extract PricingFromAdditionalConfig and observeAncillaryCall helpers
  runtime/metrics/collector.go
  runtime/providers/base/cost.go
  runtime/stt/factory.go
  runtime/tts/factory.go
Due: runtime

Path conditions:
  runtime: any of: runtime/, but not: **/*_test.go, **/*_interactive.go, **/*_integration.go, examples/, docs/, scripts/, .github/, *.md
  sdk: any of: sdk/, but not: **/*_test.go, **/*_interactive.go, **/*_integration.go, examples/, docs/, scripts/, .github/, *.md
  arena: any of: tools/arena/, but not: **/*_test.go, **/*_interactive.go, **/*_integration.go, examples/, docs/, scripts/, .github/, *.md
  packc: any of: tools/packc/, but not: **/*_test.go, **/*_interactive.go, **/*_integration.go, examples/, docs/, scripts/, .github/, *.md
  inspect-state: any of: tools/inspect-state/, but not: **/*_test.go, **/*_interactive.go, **/*_integration.go, examples/, docs/, scripts/, .github/, *.md
