Repository AltairaLabs/PromptKit: changes, and which Codecov flags are due for each by the changed paths.
All: runtime, sdk, arena, packc, inspect-state

fix: final-review findings — non-label answers, NemoGuard format, key scope
  docs/src/content/docs/reference/checks.md
  docs/src/content/docs/reference/upgrade-notes.md
  docs/src/content/docs/runtime/reference/pipeline.md
  docs/src/content/docs/sdk/reference/conversation-manager.md
  runtime/evals/handlers/topic_policy_codec_test.go
  runtime/inference/openai/provider.go
  runtime/inference/openai/provider_test.go
  runtime/inference/openai/register.go
  runtime/pipeline/stage/builder.go
  runtime/pipeline/stage/classify_registry_warning_test.go
  sdk/options.go
  sdk/options_test.go
  sonar-project.properties
Due: runtime, sdk

fix(tools): spec.name is the function name; metadata.name only the fallback
  docs/src/content/docs/runtime/reference/tools.md
  runtime/persistence/json/json.go
  runtime/persistence/json/tool_name_test.go
  runtime/persistence/yaml/tool_name_test.go
  runtime/persistence/yaml/yaml_tool.go
  runtime/tools/k8s_tool_name_test.go
  runtime/tools/registry.go
  runtime/tools/types.go
Due: runtime

fix(tools): spec.name is the function name; metadata.name only the fallback (#2082)
  docs/src/content/docs/runtime/reference/tools.md
  runtime/persistence/json/json.go
  runtime/persistence/json/tool_name_test.go
  runtime/persistence/yaml/tool_name_test.go
  runtime/persistence/yaml/yaml_tool.go
  runtime/tools/k8s_tool_name_test.go
  runtime/tools/registry.go
  runtime/tools/types.go
Due: runtime

ci(schema-sync): only update an open sync PR; open a new one otherwise
  .github/workflows/promptarena-schema-sync.yml
  .github/workflows/promptpack-schema-sync.yml
Due: none

fix(sdk): discover WithA2AAgent agents so their skills become tools (#2087)
  docs/src/content/docs/runtime/reference/a2a.md
  docs/src/content/docs/sdk/reference/conversation-manager.md
  runtime/a2a/bridge_test.go
  runtime/a2a/client.go
  runtime/a2a/client_test.go
  sdk/capability_a2a.go
  sdk/options.go
  sdk/sdk.go
  sdk/sdk_a2a_test.go
Due: runtime, sdk

fix(a2a): conform to A2A 1.0 and 0.3 instead of mixing them (#2088)
  docs/src/content/docs/concepts/a2a.md
  docs/src/content/docs/reference/upgrade-notes.md
  docs/src/content/docs/runtime/reference/a2a.md
  docs/src/content/docs/sdk/how-to/interop/connect-a2a-agents.md
  docs/src/content/docs/sdk/how-to/tools/client-tools.md
  docs/src/content/docs/sdk/reference/a2a-server.md
  docs/src/content/docs/sdk/reference/conversation-manager.md
  docs/src/content/docs/sdk/tutorials/10-a2a-server.md
  runtime/a2a/client.go
  runtime/a2a/mock/mock.go
  runtime/a2a/mock/mock_test.go
  runtime/a2a/security.go
  runtime/a2a/types.go
  runtime/a2a/types_test.go
  runtime/a2a/version.go
  runtime/a2a/wire.go
  runtime/a2a/wire_test.go
  sdk/a2a_exports.go
  sdk/integration/a2a_tool_executor_http_test.go
  server/a2a/conformance_test.go
  server/a2a/eviction_test.go
  server/a2a/examples/a2a-auth-test/server/main.go
  server/a2a/examples/a2a-demo/README.md
  server/a2a/examples/a2a-demo/server/main.go
  server/a2a/handler_send.go
  server/a2a/handler_test.go
  server/a2a/health_test.go
  server/a2a/protocol.go
  server/a2a/server.go
  server/a2a/server_context_values_test.go
  server/a2a/server_stream.go
  server/a2a/server_stream_test.go
  server/a2a/server_test.go
  server/a2a/stream_artifacts_test.go
  server/a2a/stream_edges_test.go
  server/a2a/task_events.go
  server/a2a/task_events_test.go
  server/a2a/task_store.go
  server/a2a/task_store_test.go
Due: runtime, sdk

feat(a2a): scope tasks to their caller; pluggable cancel and subscribe for replicas (#2089)
  docs/src/content/docs/reference/upgrade-notes.md
  docs/src/content/docs/sdk/how-to/interop/choose-a2a-server-mode.md
  docs/src/content/docs/sdk/reference/a2a-server.md
  server/a2a/handler_send.go
  server/a2a/ownership.go
  server/a2a/ownership_test.go
  server/a2a/protocol.go
  server/a2a/server.go
  server/a2a/server_stream.go
  server/a2a/task_events.go
  server/a2a/task_store.go
Due: none

docs(a2a): note the upgrade order for mixed PromptKit client and server versions
  docs/src/content/docs/reference/upgrade-notes.md
Due: none

fix(a2a): a hung turn can no longer hold a SendMessage, or its caller, forever
  docs/src/content/docs/concepts/a2a.md
  docs/src/content/docs/reference/upgrade-notes.md
  docs/src/content/docs/runtime/reference/a2a.md
  docs/src/content/docs/sdk/reference/a2a-server.md
  runtime/a2a/client.go
  runtime/a2a/executor.go
  runtime/a2a/wait_test.go
  server/a2a/blocking_test.go
  server/a2a/server.go
Due: runtime

fix(a2a): address code review of the A2A conformance work
  docs/src/content/docs/concepts/a2a.md
  docs/src/content/docs/runtime/reference/a2a.md
  docs/src/content/docs/sdk/how-to/interop/choose-a2a-server-mode.md
  docs/src/content/docs/sdk/reference/a2a-server.md
  docs/src/content/docs/sdk/reference/conversation-manager.md
  runtime/a2a/client.go
  runtime/a2a/version.go
  runtime/a2a/wait_test.go
  runtime/evals/handlers/a2a_eval.go
  runtime/evals/handlers/a2a_eval_test.go
  sdk/capability_a2a.go
  sdk/options.go
  sdk/sdk_a2a_test.go
  server/a2a/conformance_test.go
  server/a2a/eviction_test.go
  server/a2a/ownership.go
  server/a2a/ownership_test.go
  server/a2a/protocol.go
  server/a2a/server.go
  server/a2a/server_stream.go
  server/a2a/stream_edges_test.go
Due: runtime, sdk

fix(a2a): keep the v2.7 API compatible so the conformance work ships as a minor
  docs/src/content/docs/reference/upgrade-notes.md
  docs/src/content/docs/runtime/reference/a2a.md
  runtime/a2a/client.go
  runtime/a2a/client_test.go
  runtime/a2a/executor_test.go
  runtime/a2a/mock/mock_test.go
  runtime/a2a/types.go
  runtime/a2a/types_test.go
  runtime/a2a/version.go
  runtime/a2a/wire_test.go
  sdk/a2a_governance_live_integration_test.go
  sdk/sdk_a2a_test.go
  server/a2a/blocking_test.go
  server/a2a/conformance_test.go
  server/a2a/handler_test.go
  server/a2a/ownership_test.go
  server/a2a/server_context_values_test.go
  server/a2a/server_stream_test.go
  server/a2a/server_test.go
  server/a2a/stream_artifacts_test.go
  server/a2a/stream_edges_test.go
Due: runtime

test(a2a): cover the client's result-decode errors
  runtime/a2a/wire_test.go
Due: none

fix(a2a): keep the v2.7 API compatible so the conformance work ships as a minor (#2092)
  docs/src/content/docs/reference/upgrade-notes.md
  docs/src/content/docs/runtime/reference/a2a.md
  runtime/a2a/client.go
  runtime/a2a/client_test.go
  runtime/a2a/executor_test.go
  runtime/a2a/mock/mock_test.go
  runtime/a2a/types.go
  runtime/a2a/types_test.go
  runtime/a2a/version.go
  runtime/a2a/wire_test.go
  sdk/a2a_governance_live_integration_test.go
  sdk/sdk_a2a_test.go
  server/a2a/blocking_test.go
  server/a2a/conformance_test.go
  server/a2a/handler_test.go
  server/a2a/ownership_test.go
  server/a2a/server_context_values_test.go
  server/a2a/server_stream_test.go
  server/a2a/server_test.go
  server/a2a/stream_artifacts_test.go
  server/a2a/stream_edges_test.go
Due: runtime

chore(deps): apply the open dependabot bumps across all four modules
  docs/package-lock.json
  docs/package.json
  pkg/go.mod
  pkg/go.sum
  runtime/go.mod
  runtime/go.sum
  sdk/go.mod
  sdk/go.sum
  server/a2a/go.mod
  server/a2a/go.sum
Due: runtime, sdk

chore(deps): apply the open dependabot bumps across all four modules (#2093)
  docs/package-lock.json
  docs/package.json
  pkg/go.mod
  pkg/go.sum
  runtime/go.mod
  runtime/go.sum
  sdk/go.mod
  sdk/go.sum
  server/a2a/go.mod
  server/a2a/go.sum
Due: runtime, sdk

fix(gemini): read the stream session's socket under its lock
  runtime/providers/gemini/stream_session_close_race_test.go
  runtime/providers/gemini/stream_session_integration.go
  runtime/providers/gemini/stream_session_tools_integration.go
Due: none

fix(gemini): read the stream session's socket under its lock (#2094)
  runtime/providers/gemini/stream_session_close_race_test.go
  runtime/providers/gemini/stream_session_integration.go
  runtime/providers/gemini/stream_session_tools_integration.go
Due: none

ci(schema-sync): only update an open sync PR; open a new one otherwise (#2086)
  .github/workflows/promptarena-schema-sync.yml
  .github/workflows/promptpack-schema-sync.yml
Due: none

chore(schema): sync committed schemas with promptarena (#2085)
  schemas/v1alpha1/arena.json
  schemas/v1alpha1/promptconfig.json
  schemas/v1alpha1/tool.json
Due: none

fix(providers): keep OpenAI's real finish reason and surface Claude stream errors
  runtime/providers/claude/claude_streaming.go
  runtime/providers/claude/stream_incomplete_test.go
  runtime/providers/openai/openai.go
  runtime/providers/openai/stream_finish_reason_test.go
Due: runtime

fix: guard, bound and drain interrupted replies
  docs/src/content/docs/runtime/reference/pipeline.md
  runtime/pipeline/stage/stages_provider.go
  runtime/pipeline/stage/stages_provider_interrupted_test.go
  runtime/pipeline/stage/stages_save.go
  runtime/pipeline/stage/stages_save_interrupted_test.go
  runtime/providers/claude/claude_streaming.go
Due: runtime

fix(mcp): send notifications/initialized over HTTP transports
  docs/src/content/docs/runtime/reference/mcp.md
  runtime/mcp/client.go
  runtime/mcp/initialized_notification_test.go
  runtime/mcp/sse_client.go
  runtime/mcp/sse_transport.go
  runtime/mcp/streamable_client.go
  runtime/mcp/streamable_transport.go
  runtime/mcp/types.go
Due: runtime

test(mcp): cover the initialized-notification error paths
  runtime/mcp/client.go
  runtime/mcp/initialized_notification_test.go
Due: runtime

fix(mcp): send notifications/initialized over HTTP transports (#2096)
  docs/src/content/docs/runtime/reference/mcp.md
  runtime/mcp/initialized_notification_test.go
  runtime/mcp/sse_client.go
  runtime/mcp/sse_transport.go
  runtime/mcp/streamable_client.go
  runtime/mcp/streamable_transport.go
  runtime/mcp/types.go
Due: runtime

ci(release): notify the adapters only once the release modules resolve
  .github/workflows/release.yml
Due: none

ci(release): notify the adapters only once the release modules resolve (#2098)
  .github/workflows/release.yml
Due: none

fix(mcp): honour structuredContent in tools/call results
  docs/src/content/docs/runtime/reference/mcp.md
  runtime/mcp/streamable_client_test.go
  runtime/mcp/types.go
  runtime/tools/mcp_executor.go
  runtime/tools/mcp_executor_test.go
Due: runtime

test(mcp): grade the client against the spec revision it claims
  .github/workflows/mcp-conformance.yml
  CLAUDE.md
  Makefile
  docs/src/content/docs/runtime/how-to/tools/integrate-mcp.md
  docs/src/content/docs/runtime/reference/mcp.md
  go.work
  runtime/mcp/spec_parity_test.go
  runtime/mcp/testdata/spec/2025-06-18/schema.json
  runtime/mcp/types.go
  scripts/fetch-mcp-schema.sh
  tools/mcp-conformance-client/conformance-baseline.yml
  tools/mcp-conformance-client/go.mod
  tools/mcp-conformance-client/go.sum
  tools/mcp-conformance-client/main.go
  tools/mcp-conformance-client/main_test.go
Due: runtime

refactor(mcp): one protocol layer for every transport
  docs/src/content/docs/runtime/how-to/tools/integrate-mcp.md
  docs/src/content/docs/runtime/reference/mcp.md
  runtime/mcp/client.go
  runtime/mcp/client_test.go
  runtime/mcp/compat_helpers_test.go
  runtime/mcp/initialized_notification_test.go
  runtime/mcp/rpc.go
  runtime/mcp/session.go
  runtime/mcp/session_behaviour_test.go
  runtime/mcp/spec_parity_test.go
  runtime/mcp/sse_client.go
  runtime/mcp/sse_transport.go
  runtime/mcp/sse_transport_test.go
  runtime/mcp/streamable_client.go
  runtime/mcp/streamable_transport.go
  runtime/mcp/streamable_transport_test.go
  runtime/mcp/types.go
Due: runtime

feat(mcp): speak MCP 2025-11-25 with legacy servers
  docs/src/content/docs/runtime/how-to/tools/integrate-mcp.md
  docs/src/content/docs/runtime/reference/mcp.md
  runtime/mcp/client.go
  runtime/mcp/elicitation.go
  runtime/mcp/rpc.go
  runtime/mcp/session.go
  runtime/mcp/session_behaviour_test.go
  runtime/mcp/spec_parity_test.go
  runtime/mcp/sse_transport.go
  runtime/mcp/streamable_transport.go
  runtime/mcp/streamable_transport_test.go
  runtime/mcp/testdata/spec/2025-06-18/schema.json
  runtime/mcp/testdata/spec/2025-11-25/schema.json
  runtime/mcp/types.go
  tools/mcp-conformance-client/conformance-baseline.yml
  tools/mcp-conformance-client/main.go
Due: runtime

feat(mcp): speak stateless MCP 2026-07-28 alongside the handshake era
  docs/src/content/docs/runtime/how-to/tools/integrate-mcp.md
  docs/src/content/docs/runtime/reference/mcp.md
  pkg/config/types.go
  runtime/mcp/client.go
  runtime/mcp/era.go
  runtime/mcp/headers.go
  runtime/mcp/http_auto_client.go
  runtime/mcp/initialized_notification_test.go
  runtime/mcp/modern_test.go
  runtime/mcp/mrtr.go
  runtime/mcp/registry.go
  runtime/mcp/registry_test.go
  runtime/mcp/rpc.go
  runtime/mcp/session.go
  runtime/mcp/session_behaviour_test.go
  runtime/mcp/spec_parity_test.go
  runtime/mcp/streamable_client.go
  runtime/mcp/streamable_transport.go
  runtime/mcp/streamable_transport_test.go
  runtime/mcp/types.go
  runtime/mcp/types_test.go
  sdk/runtime_config_test.go
  tools/mcp-conformance-client/main.go
  tools/mcp-conformance-client/main_test.go
Due: runtime

feat(mcp): carry tool results whole and delegate authorization to the host
  docs/src/content/docs/runtime/how-to/tools/integrate-mcp.md
  docs/src/content/docs/runtime/reference/mcp.md
  docs/src/content/docs/runtime/reference/tools.md
  docs/src/content/docs/sdk/reference/conversation-manager.md
  runtime/mcp/auth.go
  runtime/mcp/auth_test.go
  runtime/mcp/client.go
  runtime/mcp/doc.go
  runtime/mcp/registry.go
  runtime/mcp/spec_parity_test.go
  runtime/mcp/sse_transport.go
  runtime/mcp/streamable_transport.go
  runtime/mcp/types.go
  runtime/tools/mcp_executor.go
  runtime/tools/mcp_executor_test.go
  runtime/tools/registry.go
  runtime/tools/validator.go
  sdk/conversation_tools.go
  sdk/mcp_test.go
  sdk/options.go
  sdk/sdk.go
  sdk/tool_executors.go
  tools/mcp-conformance-client/conformance-baseline.yml
Due: runtime, sdk

feat(mcp): claim MCP 2026-07-28, graded against both revisions it speaks
  CLAUDE.md
  Makefile
  docs/src/content/docs/runtime/how-to/tools/integrate-mcp.md
  docs/src/content/docs/runtime/reference/mcp.md
  runtime/mcp/era.go
  runtime/mcp/session.go
  runtime/mcp/session_behaviour_test.go
  runtime/mcp/spec_parity_test.go
  runtime/mcp/testdata/spec/2026-07-28/schema.json
  runtime/mcp/types.go
  scripts/fetch-mcp-schema.sh
  tools/mcp-conformance-client/conformance-baseline.yml
Due: runtime

Path conditions:
  runtime: any of: runtime/, but not: **/*_test.go, **/*_interactive.go, **/*_integration.go, examples/, docs/, scripts/, .github/, *.md
  sdk: any of: sdk/, but not: **/*_test.go, **/*_interactive.go, **/*_integration.go, examples/, docs/, scripts/, .github/, *.md
  arena: any of: tools/arena/, but not: **/*_test.go, **/*_interactive.go, **/*_integration.go, examples/, docs/, scripts/, .github/, *.md
  packc: any of: tools/packc/, but not: **/*_test.go, **/*_interactive.go, **/*_integration.go, examples/, docs/, scripts/, .github/, *.md
  inspect-state: any of: tools/inspect-state/, but not: **/*_test.go, **/*_interactive.go, **/*_integration.go, examples/, docs/, scripts/, .github/, *.md
