Repository AltairaLabs/PromptKit: changes, and which Codecov flags are due for each by the changed paths.
All: runtime, sdk, arena, packc, inspect-state

fix: use shared eval orchestrator instead of creating duplicate without metadata
  tools/arena/engine/engine.go
Due: arena

fix: add --ci flag to all Arena example runs and show assertions in CI summary
  .github/workflows/ci.yml
  tools/arena/tui/views/summary.go
  tools/arena/tui/views/summary_test.go
Due: arena

feat: emit eval.completed events from EvalRunner, add RecordingStage to arena pipeline (#762)
  .github/workflows/ci.yml
  runtime/evals/runner.go
  runtime/evals/runner_test.go
  sdk/eval_middleware.go
  sdk/eval_middleware_test.go
  sdk/evaluate.go
  tools/arena/engine/conversation_executor.go
  tools/arena/engine/engine.go
  tools/arena/engine/eval_orchestrator.go
  tools/arena/engine/eval_orchestrator_test.go
  tools/arena/engine/execution.go
  tools/arena/engine/interfaces.go
  tools/arena/tui/views/summary.go
  tools/arena/tui/views/summary_test.go
  tools/arena/turnexecutors/interfaces.go
  tools/arena/turnexecutors/pipeline_stages_integration.go
Due: runtime, sdk, arena

fix: upgrade docs to Astro 6 with compatible dependencies
  docs/package-lock.json
  docs/package.json
  docs/src/content.config.ts
Due: none

ci: run docs build on PRs that touch docs/
  .github/workflows/docs.yml
Due: none

ci: narrow docs build trigger to deps and config only
  .github/workflows/docs.yml
Due: none

fix: bump Node.js to 22 for Astro 6 compatibility
  .github/workflows/docs.yml
Due: none

fix: upgrade docs to Astro 6 (#763)
  .github/workflows/docs.yml
  docs/package-lock.json
  docs/package.json
  docs/src/content.config.ts
Due: none

fix: dereference score pointer before logging in eval runner (#764)
  runtime/evals/runner.go
  runtime/evals/runner_test.go
Due: runtime

fix: dereference score pointer before logging in eval runner (#764) (#766)
  runtime/evals/runner.go
  runtime/evals/runner_test.go
Due: runtime

feat: add exemplar support to Collector for metric→trace correlation (#765)
  runtime/evals/handlers/judge_provider.go
  runtime/events/emitter.go
  runtime/events/emitter_test.go
  runtime/events/types.go
  runtime/metrics/collector.go
  runtime/metrics/collector_test.go
  runtime/metrics/exemplar.go
  runtime/metrics/exemplar_test.go
  runtime/pipeline/stage/stages_provider.go
Due: runtime

refactor: address review findings on exemplar support
  runtime/evals/handlers/judge_provider.go
  runtime/events/emitter.go
  runtime/events/emitter_test.go
  runtime/events/types.go
  runtime/metrics/collector.go
  runtime/metrics/collector_test.go
  runtime/metrics/exemplar.go
  runtime/metrics/exemplar_test.go
  runtime/pipeline/stage/stages_provider.go
Due: runtime

test: add ProviderCallFailedCtx nil data test
  runtime/events/emitter_test.go
Due: none

test: add ProviderCallFailed event emission test for coverage
  runtime/pipeline/stage/stages_provider_test.go
Due: none

fix: always emit provider cost and cached tokens metrics (#768)
  runtime/metrics/collector.go
  runtime/metrics/collector_test.go
Due: runtime

feat: add exemplar support to Collector for metric→trace correlation (#767)
  runtime/evals/handlers/judge_provider.go
  runtime/events/emitter.go
  runtime/events/emitter_test.go
  runtime/events/types.go
  runtime/metrics/collector.go
  runtime/metrics/collector_test.go
  runtime/metrics/exemplar.go
  runtime/metrics/exemplar_test.go
  runtime/pipeline/stage/stages_provider.go
  runtime/pipeline/stage/stages_provider_test.go
Due: runtime

fix: also remove > 0 guards on input/output token counters
  runtime/metrics/collector.go
  runtime/metrics/collector_test.go
Due: runtime

fix: always emit provider cost and cached tokens metrics (#769)
  runtime/metrics/collector.go
  runtime/metrics/collector_test.go
Due: runtime

chore: configure npm trusted publishing with OIDC provenance
  .github/workflows/npm-publish.yml
  npm/packc/package.json
  npm/promptarena/package.json
Due: none

chore: configure npm trusted publishing with OIDC provenance (#770)
  .github/workflows/npm-publish.yml
  npm/packc/package.json
  npm/promptarena/package.json
Due: none

feat: add EnableMessageEvents to arena engine (#773)
  tools/arena/engine/engine.go
  tools/arena/engine/event_bus_test.go
Due: arena

feat: add WithMessageEvents option for SetEventBus
  tools/arena/engine/engine.go
  tools/arena/engine/event_bus_test.go
Due: arena

feat: add EnableMessageEvents to arena engine (#774)
  tools/arena/engine/engine.go
  tools/arena/engine/event_bus_test.go
Due: arena

fix: restore NODE_AUTH_TOKEN for npm publish with provenance
  .github/workflows/npm-publish.yml
Due: none

fix: restore NODE_AUTH_TOKEN for npm publish with provenance (#775)
  .github/workflows/npm-publish.yml
Due: none

fix: use pure OIDC auth for npm publish (no NPM_TOKEN)
  .github/workflows/npm-publish.yml
Due: none

fix: use pure OIDC auth for npm publish (no NPM_TOKEN) (#776)
  .github/workflows/npm-publish.yml
Due: none

fix: restore registry-url and use Node 22 for OIDC npm publish
  .github/workflows/npm-publish.yml
Due: none

fix: restore registry-url and use Node 22 for OIDC npm publish (#777)
  .github/workflows/npm-publish.yml
Due: none

ci: disable fail-fast on npm publish matrix
  .github/workflows/npm-publish.yml
Due: none

ci: disable fail-fast on npm publish matrix (#778)
  .github/workflows/npm-publish.yml
Due: none

fix: revert npm publish to token-based auth
  .github/workflows/npm-publish.yml
Due: none

fix: revert npm publish to token-based auth (#779)
  .github/workflows/npm-publish.yml
Due: none

fix: remove provenance from publishConfig
  npm/packc/package.json
  npm/promptarena/package.json
Due: none

fix: remove provenance from publishConfig (#780)
  npm/packc/package.json
  npm/promptarena/package.json
Due: none

feat: replace hard ExecutionTimeout with idle timeout for pipeline streaming
  runtime/pipeline/stage/config.go
  runtime/pipeline/stage/errors.go
  runtime/pipeline/stage/idle_timeout.go
  runtime/pipeline/stage/idle_timeout_test.go
  runtime/pipeline/stage/pipeline.go
  runtime/pipeline/stage/pipeline_internal_test.go
  runtime/pipeline/stage/stages_provider.go
  runtime/pipeline/stage/stages_provider_test.go
  runtime/pipeline/stage/stages_utilities_test.go
Due: runtime

test: add end-to-end idle timeout tests with slow provider
  runtime/pipeline/stage/stages_provider_test.go
Due: none

feat: replace hard ExecutionTimeout with idle timeout for pipeline streaming (#782)
  runtime/pipeline/stage/config.go
  runtime/pipeline/stage/errors.go
  runtime/pipeline/stage/idle_timeout.go
  runtime/pipeline/stage/idle_timeout_test.go
  runtime/pipeline/stage/pipeline.go
  runtime/pipeline/stage/pipeline_internal_test.go
  runtime/pipeline/stage/stages_provider.go
  runtime/pipeline/stage/stages_provider_test.go
  runtime/pipeline/stage/stages_utilities_test.go
Due: runtime

fix: auto-exclude tools after repeated rejection in tool loop
  runtime/pipeline/stage/stages_provider.go
  runtime/pipeline/stage/stages_provider_test.go
Due: runtime

fix: auto-exclude tools after repeated rejection in tool loop (#783)
  runtime/pipeline/stage/stages_provider.go
  runtime/pipeline/stage/stages_provider_test.go
Due: runtime

Path conditions:
  runtime: any of: runtime/, but not: **/*_test.go, **/*_interactive.go, **/*_integration.go, examples/, docs/, scripts/, .github/, *.md
  sdk: any of: sdk/, but not: **/*_test.go, **/*_interactive.go, **/*_integration.go, examples/, docs/, scripts/, .github/, *.md
  arena: any of: tools/arena/, but not: **/*_test.go, **/*_interactive.go, **/*_integration.go, examples/, docs/, scripts/, .github/, *.md
  packc: any of: tools/packc/, but not: **/*_test.go, **/*_interactive.go, **/*_integration.go, examples/, docs/, scripts/, .github/, *.md
  inspect-state: any of: tools/inspect-state/, but not: **/*_test.go, **/*_interactive.go, **/*_integration.go, examples/, docs/, scripts/, .github/, *.md
