Repository AltairaLabs/PromptKit: changes, and which Codecov flags are due for each by the changed paths.
All: runtime, sdk, arena, packc, inspect-state

codecov.yml:

codecov:
  require_ci_to_pass: yes
  notify:
    wait_for_ci: yes

coverage:
  precision: 2
  round: down
  range: "70...100"
  
  status:
    project:
      default:
        target: 70%
        threshold: 1%
        if_ci_failed: error
    patch:
      default:
        target: 70%
        threshold: 1%
        if_ci_failed: error

comment:
  layout: "reach,diff,flags,tree"
  behavior: default
  require_changes: false

flags:
  runtime:
    paths:
      - runtime/
  sdk:
    paths:
      - sdk/
  arena:
    paths:
      - tools/arena/
  packc:
    paths:
      - tools/packc/
  inspect-state:
    paths:
      - tools/inspect-state/

ignore:
  - "**/*_test.go"
  - "**/*_interactive.go"
  - "**/*_integration.go"
  - "examples/"
  - "docs/"
  - "scripts/"
  - ".github/"
  - "*.md"

refactor(tools): split coerceStringValue per target type (Sonar S3776)
  runtime/tools/validator.go
  runtime/tools/validator_test.go
Due: runtime

refactor(types): split getMediaItemSummary to reduce cognitive complexity (#1001)
  runtime/types/message.go
  runtime/types/message_marshal_test.go
Due: runtime

refactor(statestore): extract helpers from MemoryStore.List (Sonar S3776)
  runtime/statestore/memory.go
Due: runtime

refactor(workflow): simplify Context.Clone using maps/slices (Sonar S3776) (#1002)
  runtime/workflow/context.go
  runtime/workflow/context_test.go
Due: runtime

refactor(tools): split coerceStringValue per target type (Sonar S3776) (#1003)
  runtime/tools/validator.go
  runtime/tools/validator_test.go
Due: runtime

refactor(statestore): extract helpers from MemoryStore.List (Sonar S3776) (#1004)
  runtime/statestore/memory.go
Due: runtime

refactor(providers): split DoWithRetry per attempt outcome (Sonar S3776)
  runtime/providers/retry.go
Due: runtime

refactor(providers): split DoWithRetry per attempt outcome (Sonar S3776) (#1005)
  runtime/providers/retry.go
Due: runtime

refactor(config): extract selector validation helpers (Sonar S3776)
  pkg/config/runtime_config.go
Due: none

refactor(config): extract selector validation helpers (Sonar S3776) (#1006)
  pkg/config/runtime_config.go
Due: none

fix(arena-web): bump Vite 6.4.1 → 6.4.2 to close dev-server CVEs
  tools/arena/web/frontend/package-lock.json
Due: arena

fix(arena-web): bump Vite 6.4.1 → 6.4.2 to close dev-server CVEs (#1007)
  tools/arena/web/frontend/package-lock.json
Due: arena

test(sdk): unskip streaming tests, fix mock error propagation
  runtime/providers/mock/mock.go
  sdk/conversation_test.go
  sdk/streaming_test.go
Due: runtime

test(sdk): unskip streaming tests, fix mock error propagation (#1008)
  runtime/providers/mock/mock.go
  sdk/conversation_test.go
  sdk/streaming_test.go
Due: runtime

fix(providers): unblock openai+azure routing (#1010)
  runtime/providers/openai/azure_integration_test.go
  runtime/providers/registry.go
  runtime/providers/registry_extended_test.go
Due: runtime

feat(providers): add gemini vertex code path (#1009 cell)
  runtime/providers/gemini/gemini.go
  runtime/providers/gemini/gemini_multimodal.go
  runtime/providers/gemini/gemini_streaming.go
  runtime/providers/gemini/gemini_tools.go
  runtime/providers/gemini/vertex_integration_test.go
Due: runtime

docs(examples): add hyperscaler smoke-test arena examples
  examples/azure-foundry-test/config.arena.yaml
  examples/azure-foundry-test/prompts/capability-test.yaml
  examples/azure-foundry-test/providers/openai-azure-gpt4o.provider.yaml
  examples/azure-foundry-test/scenarios/streaming.scenario.yaml
  examples/azure-foundry-test/scenarios/text-basic.scenario.yaml
  examples/azure-foundry-test/scenarios/tools.scenario.yaml
  examples/azure-foundry-test/tools/get-weather.tool.yaml
  examples/bedrock-test/config.arena.yaml
  examples/bedrock-test/prompts/capability-test.yaml
  examples/bedrock-test/providers/claude-bedrock-haiku45.provider.yaml
  examples/bedrock-test/scenarios/streaming.scenario.yaml
  examples/bedrock-test/scenarios/text-basic.scenario.yaml
  examples/bedrock-test/scenarios/tools.scenario.yaml
  examples/bedrock-test/tools/get-weather.tool.yaml
  examples/vertex-test/config.arena.yaml
  examples/vertex-test/prompts/capability-test.yaml
  examples/vertex-test/providers/gemini-vertex-25flash.provider.yaml
  examples/vertex-test/scenarios/streaming.scenario.yaml
  examples/vertex-test/scenarios/text-basic.scenario.yaml
  examples/vertex-test/scenarios/tools.scenario.yaml
  examples/vertex-test/tools/get-weather.tool.yaml
Due: none

test(providers): unit-test vertex code paths for SonarCloud coverage
  runtime/providers/gemini/vertex_unit_test.go
  runtime/providers/registry_extended_test.go
Due: none

fix(providers): hyperscaler routing — openai+azure (#1010), gemini+vertex (#1009 cell) (#1023)
  examples/azure-foundry-test/config.arena.yaml
  examples/azure-foundry-test/prompts/capability-test.yaml
  examples/azure-foundry-test/providers/openai-azure-gpt4o.provider.yaml
  examples/azure-foundry-test/scenarios/streaming.scenario.yaml
  examples/azure-foundry-test/scenarios/text-basic.scenario.yaml
  examples/azure-foundry-test/scenarios/tools.scenario.yaml
  examples/azure-foundry-test/tools/get-weather.tool.yaml
  examples/bedrock-test/config.arena.yaml
  examples/bedrock-test/prompts/capability-test.yaml
  examples/bedrock-test/providers/claude-bedrock-haiku45.provider.yaml
  examples/bedrock-test/scenarios/streaming.scenario.yaml
  examples/bedrock-test/scenarios/text-basic.scenario.yaml
  examples/bedrock-test/scenarios/tools.scenario.yaml
  examples/bedrock-test/tools/get-weather.tool.yaml
  examples/vertex-test/config.arena.yaml
  examples/vertex-test/prompts/capability-test.yaml
  examples/vertex-test/providers/gemini-vertex-25flash.provider.yaml
  examples/vertex-test/scenarios/streaming.scenario.yaml
  examples/vertex-test/scenarios/text-basic.scenario.yaml
  examples/vertex-test/scenarios/tools.scenario.yaml
  examples/vertex-test/tools/get-weather.tool.yaml
  runtime/providers/gemini/gemini.go
  runtime/providers/gemini/gemini_multimodal.go
  runtime/providers/gemini/gemini_streaming.go
  runtime/providers/gemini/gemini_tools.go
  runtime/providers/gemini/vertex_integration_test.go
  runtime/providers/gemini/vertex_unit_test.go
  runtime/providers/openai/azure_integration_test.go
  runtime/providers/registry.go
  runtime/providers/registry_extended_test.go
Due: runtime

feat(providers): add claude vertex code path (#1009 cell)
  runtime/providers/claude/claude.go
  runtime/providers/claude/claude_streaming.go
  runtime/providers/claude/claude_tools.go
  runtime/providers/claude/vertex_streaming_test.go
  runtime/providers/claude/vertex_unit_test.go
  runtime/providers/registry.go
  runtime/providers/registry_extended_test.go
Due: runtime

test(providers): add claude vertex integration test
  runtime/providers/claude/vertex_integration_test.go
Due: none

feat(providers): claude on vertex (#1009 cell) (#1024)
  runtime/providers/claude/claude.go
  runtime/providers/claude/claude_streaming.go
  runtime/providers/claude/claude_tools.go
  runtime/providers/claude/vertex_integration_test.go
  runtime/providers/claude/vertex_streaming_test.go
  runtime/providers/claude/vertex_unit_test.go
  runtime/providers/registry.go
  runtime/providers/registry_extended_test.go
Due: runtime

feat(providers): reject unsupported provider×platform pairs (#1009)
  runtime/providers/gemini/gemini_tools.go
  runtime/providers/openai/openai_tools.go
  runtime/providers/registry.go
  runtime/providers/reject_platforms_test.go
Due: runtime

feat(providers): reject unsupported provider×platform pairs (#1009) (#1025)
  runtime/providers/gemini/gemini_tools.go
  runtime/providers/openai/openai_tools.go
  runtime/providers/registry.go
  runtime/providers/reject_platforms_test.go
Due: runtime

feat(providers): add openai bedrock code path (#1009 cell)
  runtime/providers/openai/bedrock_integration_test.go
  runtime/providers/openai/bedrock_unit_test.go
  runtime/providers/openai/openai.go
  runtime/providers/openai/openai_tools.go
  runtime/providers/registry.go
Due: runtime

test(providers): unit-test bedrock streaming fallbacks for SonarCloud coverage
  runtime/providers/openai/bedrock_unit_test.go
Due: none

feat(providers): openai on bedrock (#1009 cell) (#1026)
  runtime/providers/openai/bedrock_integration_test.go
  runtime/providers/openai/bedrock_unit_test.go
  runtime/providers/openai/openai.go
  runtime/providers/openai/openai_tools.go
  runtime/providers/registry.go
Due: runtime

feat(providers): add claude azure code path (#1009 cell)
  runtime/providers/claude/azure_unit_test.go
  runtime/providers/claude/claude.go
  runtime/providers/claude/claude_streaming.go
  runtime/providers/claude/claude_tools.go
  runtime/providers/registry.go
  runtime/providers/registry_extended_test.go
Due: runtime

feat(providers): add claude azure code path (#1009 cell) (#1027)
  runtime/providers/claude/azure_unit_test.go
  runtime/providers/claude/claude.go
  runtime/providers/claude/claude_streaming.go
  runtime/providers/claude/claude_tools.go
  runtime/providers/registry.go
  runtime/providers/registry_extended_test.go
Due: runtime

feat(config): MCPServerConfig accepts URL+Headers for SSE transport
  pkg/config/runtime_config.go
  pkg/config/runtime_config_test.go
  pkg/config/types.go
Due: none

feat(mcp): ServerConfig.Transport() infers stdio/sse from fields
  runtime/mcp/registry.go
  runtime/mcp/types.go
  runtime/mcp/types_test.go
Due: runtime

feat(arena): propagate URL+Headers into runtime MCP registry
  tools/arena/engine/builder_additional_test.go
  tools/arena/engine/builder_integration.go
Due: none

feat(mcp): registry dispatches stdio/sse by ServerConfig.Transport()
  runtime/mcp/registry.go
  runtime/mcp/registry_test.go
  runtime/mcp/sse_client.go
  runtime/mcp/sse_client_test.go
Due: runtime

feat(mcp): HTTP+SSE client implementing the Client interface
  runtime/mcp/sse_client.go
  runtime/mcp/sse_client_test.go
  runtime/mcp/sse_integration_test.go
  runtime/mcp/sse_transport.go
  runtime/mcp/sse_transport_test.go
Due: runtime

feat(arena/mcpsource): MCPSource interface + registry
  tools/arena/mcpsource/export_test.go
  tools/arena/mcpsource/registry.go
  tools/arena/mcpsource/registry_test.go
  tools/arena/mcpsource/source.go
  tools/arena/mcpsource/source_test.go
Due: arena

feat(config): MCPServerConfig accepts Source+Scope+SourceArgs
  pkg/config/runtime_config.go
  pkg/config/runtime_config_test.go
  pkg/config/types.go
Due: none

feat(mcp): UnregisterServer for dynamic server lifecycle
  runtime/mcp/registry.go
  runtime/mcp/registry_test.go
  runtime/mcp/types.go
Due: runtime

fix(tools): implement UnregisterServer on mockMCPRegistry
  runtime/tools/mcp_executor_test.go
Due: none

fix(mcp): UnregisterServer releases process slot + closed check + mock updates
  runtime/mcp/registry.go
  runtime/mcp/registry_test.go
  sdk/mcp_test.go
Due: runtime

feat(arena/engine): mcpSourceScope manager for per-scope MCPSource lifecycle
  tools/arena/engine/mcpsource_scope.go
  tools/arena/engine/mcpsource_scope_test.go
Due: arena
