Repository AltairaLabs/PromptKit: changes, and which Codecov flags are due for each by the changed paths.
All: runtime, sdk, arena, packc, inspect-state

chore: add .claude/ and /evaluate to .gitignore
  .gitignore
Due: none

docs: add RuntimeConfig, exec tools, exec hooks, and exec protocol documentation
  docs/src/content/docs/concepts/validation.md
  docs/src/content/docs/runtime/reference/hooks.md
  docs/src/content/docs/sdk/explanation/runtime-config.md
  docs/src/content/docs/sdk/how-to/exec-hooks.md
  docs/src/content/docs/sdk/how-to/exec-tools.md
  docs/src/content/docs/sdk/how-to/index.md
  docs/src/content/docs/sdk/how-to/register-tools.md
  docs/src/content/docs/sdk/how-to/use-runtime-config.md
  docs/src/content/docs/sdk/reference/exec-protocol.md
  docs/src/content/docs/sdk/reference/runtime-config.md
Due: none

feat: add RuntimeConfigPath to sdk.Evaluate() and runtime-config example
  .gitignore
  sdk/evaluate.go
  sdk/evaluate_test.go
  sdk/examples/runtime-config/README.md
  sdk/examples/runtime-config/agent.pack.json
  sdk/examples/runtime-config/evals/response-quality.py
  sdk/examples/runtime-config/evals/tone-check.py
  sdk/examples/runtime-config/hooks/audit-logger.py
  sdk/examples/runtime-config/hooks/content-policy.py
  sdk/examples/runtime-config/main.go
  sdk/examples/runtime-config/runtime.yaml
  sdk/examples/runtime-config/tools/sentiment.py
Due: sdk

fix: replace emoji and LLM references with Provider in logger, fix runtime-config example
  runtime/logger/logger.go
  sdk/examples/runtime-config/README.md
  sdk/examples/runtime-config/evals/response-quality.py
  sdk/examples/runtime-config/main.go
  sdk/examples/runtime-config/runtime.yaml
Due: runtime, sdk

fix: make logger goroutine-safe and pass model to provider events
  runtime/logger/config.go
  runtime/logger/config_test.go
  runtime/logger/logger.go
  runtime/logger/logger_test.go
  runtime/pipeline/stage/stages_provider.go
  tools/arena/engine/engine_test.go
Due: runtime

feat: add OpenTelemetry trace context propagation to provider HTTP clients
  runtime/go.mod
  runtime/go.sum
  runtime/providers/base_provider.go
  runtime/providers/base_provider_test.go
  runtime/providers/ollama/ollama.go
  runtime/providers/vllm/vllm.go
Due: runtime

feat: add OpenTelemetry trace context propagation to provider HTTP clients (#704)
  runtime/go.mod
  runtime/go.sum
  runtime/providers/base_provider.go
  runtime/providers/base_provider_test.go
  runtime/providers/ollama/ollama.go
  runtime/providers/vllm/vllm.go
Due: runtime

docs: unify assertions/validators/guardrails/evals into single checks reference
  docs/src/content/docs/arena/explanation/eval-framework.md
  docs/src/content/docs/arena/explanation/validation-strategies.md
  docs/src/content/docs/arena/how-to/validate-outputs.md
  docs/src/content/docs/arena/reference/assertions.md
  docs/src/content/docs/arena/reference/validators.md
  docs/src/content/docs/concepts/validation.md
  docs/src/content/docs/reference/checks.md
  docs/src/content/docs/runtime/reference/hooks.md
  docs/src/content/docs/runtime/tutorials/04-validation-guardrails.md
  docs/src/content/docs/sdk/how-to/run-evals.md
Due: none

docs: unify assertions/validators/guardrails/evals into single checks reference (#706)
  docs/src/content/docs/arena/explanation/eval-framework.md
  docs/src/content/docs/arena/explanation/validation-strategies.md
  docs/src/content/docs/arena/how-to/validate-outputs.md
  docs/src/content/docs/arena/reference/assertions.md
  docs/src/content/docs/arena/reference/validators.md
  docs/src/content/docs/concepts/validation.md
  docs/src/content/docs/reference/checks.md
  docs/src/content/docs/runtime/reference/hooks.md
  docs/src/content/docs/runtime/tutorials/04-validation-guardrails.md
  docs/src/content/docs/sdk/how-to/run-evals.md
Due: none

fix: populate sessionID in eval/workflow event emitters (#705)
  sdk/conversation.go
  sdk/eval_middleware.go
  sdk/eval_middleware_test.go
  sdk/evaluate.go
  sdk/evaluate_test.go
  sdk/workflow.go
Due: sdk

refactor: extract shared emitEvalResultsTo to reduce duplication
  sdk/eval_middleware.go
  sdk/evaluate.go
Due: sdk

refactor: merge sessionID assertion into existing EventBus test
  sdk/evaluate_test.go
Due: none

refactor: deduplicate workflow emitter initialization
  sdk/workflow.go
Due: sdk

fix: populate sessionID in eval/workflow event emitters (#707)
  sdk/conversation.go
  sdk/eval_middleware.go
  sdk/eval_middleware_test.go
  sdk/evaluate.go
  sdk/evaluate_test.go
  sdk/workflow.go
Due: sdk

feat: add MetricRecorder and ValidateEvalTypes to sdk.Evaluate
  sdk/evaluate.go
  sdk/evaluate_test.go
  sdk/examples/evaluate/evaluate.pack.json
  sdk/examples/evaluate/main.go
Due: sdk

feat: add MetricRecorder and ValidateEvalTypes to sdk.Evaluate (#708)
  sdk/evaluate.go
  sdk/evaluate_test.go
  sdk/examples/evaluate/evaluate.pack.json
  sdk/examples/evaluate/main.go
Due: sdk

fix: wire MetricRecorder into eval middleware for live conversations
  sdk/eval_middleware.go
  sdk/eval_middleware_test.go
  sdk/options.go
Due: sdk

feat: add eval groups with well-known classification and filtering
  docs/src/content/docs/arena/explanation/eval-framework.md
  docs/src/content/docs/sdk/how-to/run-evals.md
  runtime/evals/handlers/exec_handler.go
  runtime/evals/resolve.go
  runtime/evals/resolve_test.go
  runtime/evals/types.go
  sdk/eval_middleware.go
  sdk/eval_middleware_test.go
  sdk/evaluate.go
  sdk/evaluate_test.go
  sdk/options.go
Due: runtime, sdk

feat: add unified metrics Collector with WithMetrics SDK option
  runtime/evals/metrics.go
  runtime/metrics/collector.go
  runtime/metrics/collector_test.go
  sdk/eval_middleware.go
  sdk/options.go
  sdk/sdk.go
Due: runtime, sdk

docs: update metrics docs and deprecate old metrics APIs
  docs/src/content/docs/arena/explanation/eval-framework.md
  docs/src/content/docs/sdk/how-to/monitor-events.md
  docs/src/content/docs/sdk/how-to/run-evals.md
  runtime/evals/metrics.go
  runtime/metrics/prometheus/exporter.go
  runtime/metrics/prometheus/listener.go
  sdk/options.go
Due: runtime, sdk

chore: remove dead metrics code and migrate consumers to unified Collector
  docs/src/content/docs/runtime/how-to/prometheus-metrics.md
  examples/sdk-evals/main.go
  runtime/evals/integration_test.go
  runtime/evals/metrics.go
  runtime/evals/metrics_test.go
  runtime/go.mod
  runtime/go.sum
  runtime/metrics/prometheus/exporter.go
  runtime/metrics/prometheus/listener.go
  runtime/metrics/prometheus/metrics.go
  runtime/metrics/prometheus/prometheus_test.go
  runtime/pipeline/stage/config.go
  sdk/eval_middleware_test.go
  sdk/evaluate_test.go
  sdk/examples/evaluate/main.go
  sdk/go.mod
  sdk/go.sum
Due: runtime, sdk

feat(metrics): add MetricsCollector to EvaluateOpts and NewEvalOnlyCollector
  docs/src/content/docs/runtime/how-to/prometheus-metrics.md
  examples/sdk-evals/main.go
  runtime/metrics/collector.go
  runtime/metrics/collector_test.go
  sdk/evaluate.go
  sdk/evaluate_test.go
  sdk/examples/evaluate/main.go
Due: runtime, sdk

docs: update metrics documentation for unified Collector API
  docs/src/content/docs/arena/explanation/eval-framework.md
  docs/src/content/docs/arena/explanation/session-recording.md
  docs/src/content/docs/runtime/how-to/export-traces-otlp.md
  docs/src/content/docs/sdk/how-to/monitor-events.md
  docs/src/content/docs/sdk/how-to/run-evals.md
  examples/sdk-evals/README.md
  sdk/examples/evaluate/main.go
Due: sdk

docs: add comprehensive metrics reference
  docs/src/content/docs/arena/explanation/eval-framework.md
  docs/src/content/docs/runtime/how-to/prometheus-metrics.md
  docs/src/content/docs/runtime/reference/metrics.md
  docs/src/content/docs/sdk/how-to/monitor-events.md
  docs/src/content/docs/sdk/how-to/run-evals.md
Due: none

refactor(metrics): split provider_tokens_total into per-type counters
  docs/src/content/docs/runtime/how-to/prometheus-metrics.md
  docs/src/content/docs/runtime/reference/metrics.md
  docs/src/content/docs/sdk/how-to/monitor-events.md
  runtime/metrics/collector.go
  runtime/metrics/collector_test.go
  runtime/metrics/grafana/pipeline-dashboard.json
Due: runtime

feat(events): add dynamic labels to tool and provider events
  runtime/events/emitter.go
  runtime/events/emitter_test.go
  runtime/events/types.go
  runtime/pipeline/stage/stages_provider.go
  runtime/telemetry/listener.go
  runtime/telemetry/listener_test.go
  runtime/tools/types.go
Due: runtime

fix: emit all event data as pointers for consistent type assertions
  runtime/events/emitter.go
  runtime/events/emitter_test.go
  runtime/pipeline/stage/stages_provider_test.go
  tools/arena/engine/event_bus_test.go
  tools/arena/tui/event_adapter.go
  tools/arena/tui/event_adapter_test.go
Due: runtime, arena

feat(metrics): add _eval infix to eval metric namespace
  docs/src/content/docs/arena/explanation/eval-framework.md
  docs/src/content/docs/runtime/how-to/prometheus-metrics.md
  docs/src/content/docs/runtime/reference/metrics.md
  docs/src/content/docs/sdk/how-to/monitor-events.md
  examples/sdk-evals/README.md
  runtime/metrics/collector.go
  runtime/metrics/collector_test.go
Due: runtime

fix: update eval integration test for _eval metric namespace
  runtime/evals/integration_test.go
Due: none

fix: update SDK tests for _eval metric namespace
  sdk/eval_middleware_test.go
  sdk/evaluate_test.go
Due: none

fix: apply assertion thresholds in arena eval pipeline
  tools/arena/assertions/eval_adapter.go
  tools/arena/assertions/eval_adapter_test.go
  tools/arena/engine/pack_eval_hook.go
  tools/arena/stages/assertions_test.go
  tools/arena/turnexecutors/selfplay_assertions_test.go
  tools/arena/workflow/executor_test.go
Due: arena

refactor(evals): register assertion/guardrail as eval types with nested params
  runtime/evals/handlers/handlers_test.go
  runtime/evals/registry.go
  runtime/evals/wrappers.go
  runtime/evals/wrappers_test.go
  tools/arena/assertions/types.go
  tools/arena/assertions/types_test.go
  tools/arena/engine/pack_eval_hook.go
  tools/arena/engine/pack_eval_hook_test.go
Due: runtime, arena

feat(sdk): add Phase 1 integration tests and fix CostInfo propagation
  runtime/pipeline/stage/pipeline.go
  sdk/integration/conversation_test.go
  sdk/integration/events_test.go
  sdk/integration/helpers_test.go
  sdk/integration/metrics_test.go
  sdk/integration_test.go
  sdk/session/unary_session.go
Due: runtime, sdk

feat(sdk): add Phases 2-10 integration tests
  sdk/integration/capability_test.go
  sdk/integration/errors_test.go
  sdk/integration/eval_test.go
  sdk/integration/state_test.go
  sdk/integration/streaming_test.go
  sdk/integration/tools_test.go
  sdk/integration/validation_test.go
  sdk/integration/workflow_test.go
Due: none

feat(sdk): add Phase 9 A2A integration tests and fix executor name resolution
  sdk/integration/a2a_test.go
  sdk/local_agent_executor_integration.go
Due: none

ci: add parallel job for SDK integration test reporting
  .github/workflows/ci.yml
Due: none

Path conditions:
  runtime: any of: runtime/, but not: **/*_test.go, **/*_interactive.go, **/*_integration.go, examples/, docs/, scripts/, .github/, *.md
  sdk: any of: sdk/, but not: **/*_test.go, **/*_interactive.go, **/*_integration.go, examples/, docs/, scripts/, .github/, *.md
  arena: any of: tools/arena/, but not: **/*_test.go, **/*_interactive.go, **/*_integration.go, examples/, docs/, scripts/, .github/, *.md
  packc: any of: tools/packc/, but not: **/*_test.go, **/*_interactive.go, **/*_integration.go, examples/, docs/, scripts/, .github/, *.md
  inspect-state: any of: tools/inspect-state/, but not: **/*_test.go, **/*_interactive.go, **/*_integration.go, examples/, docs/, scripts/, .github/, *.md
