Repository AltairaLabs/PromptKit: changes, and which Codecov flags are due for each by the changed paths.
All: runtime, sdk, arena, packc, inspect-state

codecov.yml:

codecov:
  require_ci_to_pass: yes
  notify:
    wait_for_ci: yes

coverage:
  precision: 2
  round: down
  range: "70...100"
  
  status:
    project:
      default:
        target: 70%
        threshold: 1%
        if_ci_failed: error
    patch:
      default:
        target: 70%
        threshold: 1%
        if_ci_failed: error

comment:
  layout: "reach,diff,flags,tree"
  behavior: default
  require_changes: false

flags:
  runtime:
    paths:
      - runtime/
  sdk:
    paths:
      - sdk/
  arena:
    paths:
      - tools/arena/
  packc:
    paths:
      - tools/packc/
  inspect-state:
    paths:
      - tools/inspect-state/

ignore:
  - "**/*_test.go"
  - "**/*_interactive.go"
  - "**/*_integration.go"
  - "examples/"
  - "docs/"
  - "scripts/"
  - ".github/"
  - "*.md"

refactor: extract shared factory machinery to runtime/providers/base
  runtime/providers/base/factory.go
  runtime/providers/base/factory_test.go
  runtime/stt/factory.go
  runtime/tts/factory.go
Due: runtime

refactor(tts,stt): embed *base.Implementation to dedup provider method stubs
  runtime/stt/openai.go
  runtime/stt/openai_internal_test.go
  runtime/tts/cartesia.go
  runtime/tts/elevenlabs.go
  runtime/tts/openai.go
Due: runtime

refactor(tts,stt): consolidate HTTP option helpers into base package
  runtime/providers/base/httpservice.go
  runtime/providers/base/httpservice_test.go
  runtime/stt/openai.go
  runtime/stt/openai_register.go
  runtime/stt/openai_test.go
  runtime/tts/base_provider_test.go
  runtime/tts/cartesia.go
  runtime/tts/cartesia_interactive.go
  runtime/tts/cartesia_interactive_test.go
  runtime/tts/cartesia_register.go
  runtime/tts/cartesia_test.go
  runtime/tts/elevenlabs.go
  runtime/tts/elevenlabs_register.go
  runtime/tts/elevenlabs_test.go
  runtime/tts/openai.go
  runtime/tts/openai_register.go
  runtime/tts/openai_test.go
  tools/arena/selfplay/tts_registry.go
Due: runtime, arena

refactor(tts,stt): consolidate impl constructors via base.NewHTTPService
  runtime/providers/base/httpservice.go
  runtime/providers/base/httpservice_test.go
  runtime/stt/openai.go
  runtime/tts/cartesia.go
  runtime/tts/elevenlabs.go
  runtime/tts/openai.go
Due: runtime

refactor(tts,stt): drop With*Pricing helpers in favor of SetPricing
  runtime/stt/openai.go
  runtime/stt/openai_register.go
  runtime/stt/openai_test.go
  runtime/tts/cartesia.go
  runtime/tts/cartesia_register.go
  runtime/tts/elevenlabs.go
  runtime/tts/elevenlabs_register.go
  runtime/tts/openai.go
  runtime/tts/openai_register.go
Due: runtime

refactor(tts,stt): extract handleError + JSON-POST helpers across providers
  runtime/stt/openai.go
  runtime/tts/cartesia.go
  runtime/tts/elevenlabs.go
  runtime/tts/http_helpers.go
Due: runtime

chore(tts): collapse Voice/AudioFormat literals via makeVoice/makeFormat
  runtime/tts/cartesia.go
  runtime/tts/elevenlabs.go
  runtime/tts/openai.go
  runtime/tts/service.go
Due: runtime

chore(tts): collapse Voice/AudioFormat literals via makeVoice/makeFormat (#1111)
  runtime/tts/cartesia.go
  runtime/tts/elevenlabs.go
  runtime/tts/openai.go
  runtime/tts/service.go
Due: runtime

feat(tools): pass unknown tool args through into Memory/A2A metadata bags
  runtime/a2a/executor.go
  runtime/a2a/executor_test.go
  runtime/memory/tools.go
  runtime/memory/tools_test.go
  runtime/tools/args_passthrough.go
  runtime/tools/args_passthrough_test.go
  sdk/tool_descriptor_override.go
Due: runtime, sdk

chore: bump go.work toolchain to 1.26 + golangci-lint to v2.12.2
  .github/workflows/capability-matrix.yml
  .github/workflows/ci.yml
  .github/workflows/docs.yml
  .github/workflows/release-test.yml
  .github/workflows/release.yml
  .github/workflows/schemas.yml
  benchmarks/frameworks/genkit/go.mod
  benchmarks/frameworks/promptkit/round1/go.mod
  benchmarks/frameworks/promptkit/round2/go.mod
  benchmarks/go.mod
  examples/a2a-auth-test/go.mod
  examples/a2a-demo/go.mod
  examples/programmatic-arena/go.mod
  examples/workflow-support/sdk-example/go.mod
  go.work
  pkg/go.mod
  runtime/go.mod
  sdk/examples/eval-hooks/go.mod
  sdk/examples/sdk-evals/go.mod
  sdk/examples/sdk-http-auth/go.mod
  sdk/examples/voice-chat/go.mod
  sdk/go.mod
  server/a2a/go.mod
  tools/arena/go.mod
  tools/inspect-state/go.mod
  tools/packc/go.mod
  tools/schema-gen/go.mod
Due: runtime, sdk, arena, packc, inspect-state

chore: bump go.work toolchain to 1.26 + golangci-lint to v2.12.2 (#1113)
  .github/workflows/capability-matrix.yml
  .github/workflows/ci.yml
  .github/workflows/docs.yml
  .github/workflows/release-test.yml
  .github/workflows/release.yml
  .github/workflows/schemas.yml
  benchmarks/frameworks/genkit/go.mod
  benchmarks/frameworks/promptkit/round1/go.mod
  benchmarks/frameworks/promptkit/round2/go.mod
  benchmarks/go.mod
  examples/a2a-auth-test/go.mod
  examples/a2a-demo/go.mod
  examples/programmatic-arena/go.mod
  examples/workflow-support/sdk-example/go.mod
  go.work
  pkg/go.mod
  runtime/go.mod
  sdk/examples/eval-hooks/go.mod
  sdk/examples/sdk-evals/go.mod
  sdk/examples/sdk-http-auth/go.mod
  sdk/examples/voice-chat/go.mod
  sdk/go.mod
  server/a2a/go.mod
  tools/arena/go.mod
  tools/inspect-state/go.mod
  tools/packc/go.mod
  tools/schema-gen/go.mod
Due: runtime, sdk, arena, packc, inspect-state

feat(tools): pass unknown tool args through into Memory/A2A metadata bags (#1112)
  runtime/a2a/executor.go
  runtime/a2a/executor_test.go
  runtime/memory/tools.go
  runtime/memory/tools_test.go
  runtime/tools/args_passthrough.go
  runtime/tools/args_passthrough_test.go
  sdk/tool_descriptor_override.go
Due: runtime, sdk

feat(memory): pluggable context formatter for MemoryRetrievalStage
  runtime/memory/formatter.go
  runtime/memory/formatter_test.go
  runtime/pipeline/stage/stages_memory.go
  runtime/pipeline/stage/stages_memory_test.go
  sdk/capability_memory.go
  sdk/conversation.go
  sdk/internal/pipeline/builder.go
  sdk/options.go
Due: runtime, sdk

test(memory): cover WithMemoryContextFormatter + builder wiring
  sdk/capability_memory_test.go
  sdk/internal/pipeline/builder_test.go
Due: none

feat(memory): pluggable context formatter for MemoryRetrievalStage (#1114)
  runtime/memory/formatter.go
  runtime/memory/formatter_test.go
  runtime/pipeline/stage/stages_memory.go
  runtime/pipeline/stage/stages_memory_test.go
  sdk/capability_memory.go
  sdk/capability_memory_test.go
  sdk/conversation.go
  sdk/internal/pipeline/builder.go
  sdk/internal/pipeline/builder_test.go
  sdk/options.go
Due: runtime, sdk

feat(memory): consent category taxonomy + prompt rubric primitives
  runtime/memory/consent_category.go
  runtime/memory/consent_category_test.go
  runtime/memory/tools.go
  runtime/memory/types.go
Due: runtime

feat(memory): consent category taxonomy + prompt rubric primitives (#1115)
  runtime/memory/consent_category.go
  runtime/memory/consent_category_test.go
  runtime/memory/tools.go
  runtime/memory/types.go
Due: runtime

feat(tts): introduce runtime/tts/markup parser for characterization tags
  runtime/tts/markup/parser.go
  runtime/tts/markup/parser_test.go
Due: runtime

feat(tts): introduce runtime/tts/markup parser for characterization tags (#1126)
  runtime/tts/markup/parser.go
  runtime/tts/markup/parser_test.go
Due: runtime

feat(tts): wire markup parser into OpenAI adapter (instructions field)
  runtime/tts/openai.go
  runtime/tts/openai_test.go
Due: runtime

feat(tts): wire markup parser into OpenAI adapter (instructions field) (#1127)
  runtime/tts/openai.go
  runtime/tts/openai_test.go
Due: runtime

feat(tts): wire markup parser into ElevenLabs adapter
  runtime/tts/elevenlabs.go
  runtime/tts/elevenlabs_test.go
Due: runtime

feat(tts): wire markup parser into ElevenLabs adapter (#1128)
  runtime/tts/elevenlabs.go
  runtime/tts/elevenlabs_test.go
Due: runtime

feat(tts): wire markup parser into Cartesia adapter (emotion array)
  runtime/tts/cartesia.go
  runtime/tts/cartesia_test.go
Due: runtime

feat(tts): wire markup parser into Cartesia adapter (emotion array) (#1129)
  runtime/tts/cartesia.go
  runtime/tts/cartesia_test.go
Due: runtime

feat(tts): provider-default characterization rubric + persona opt-in
  examples/voice-refund-demo/personas/aggressive-entitled.persona.yaml
  pkg/config/persona.go
  pkg/config/persona_test.go
  runtime/tts/cartesia.go
  runtime/tts/cartesia_test.go
  runtime/tts/elevenlabs.go
  runtime/tts/elevenlabs_test.go
  runtime/tts/markup/rubrics.go
  runtime/tts/openai.go
  runtime/tts/openai_test.go
  runtime/tts/service.go
  tools/arena/selfplay/audio_generator.go
  tools/arena/selfplay/generator.go
  tools/arena/stages/persona_assembly.go
Due: runtime, arena

chore(schemas): regenerate for PersonaStyle.expressive + characterization_rubric
  schemas/v1alpha1/arena.json
  schemas/v1alpha1/persona.json
Due: none

feat(tts): provider-default characterization rubric + persona opt-in (#1131)
  examples/voice-refund-demo/personas/aggressive-entitled.persona.yaml
  pkg/config/persona.go
  pkg/config/persona_test.go
  runtime/tts/cartesia.go
  runtime/tts/cartesia_test.go
  runtime/tts/elevenlabs.go
  runtime/tts/elevenlabs_test.go
  runtime/tts/markup/rubrics.go
  runtime/tts/openai.go
  runtime/tts/openai_test.go
  runtime/tts/service.go
  schemas/v1alpha1/arena.json
  schemas/v1alpha1/persona.json
  tools/arena/selfplay/audio_generator.go
  tools/arena/selfplay/generator.go
  tools/arena/stages/persona_assembly.go
Due: runtime, arena

feat(arena): TTSConfig.Model + demos that exercise characterization
  examples/duplex-streaming/personas/busy-professional.persona.yaml
  examples/duplex-streaming/scenarios/duplex-tools.scenario.yaml
  examples/voice-refund-demo/personas/impersonator.persona.yaml
  examples/voice-refund-demo/scenarios/aggressive-refund.scenario.yaml
  examples/voice-refund-demo/scenarios/impersonator-refund.scenario.yaml
  pkg/config/types.go
  schemas/v1alpha1/arena.json
  schemas/v1alpha1/scenario.json
  tools/arena/selfplay/tts_registry.go
  tools/arena/selfplay/tts_registry_test.go
Due: arena

feat(arena): TTSConfig.Model + demos that exercise characterization (#1132)
  examples/duplex-streaming/personas/busy-professional.persona.yaml
  examples/duplex-streaming/scenarios/duplex-tools.scenario.yaml
  examples/voice-refund-demo/personas/impersonator.persona.yaml
  examples/voice-refund-demo/scenarios/aggressive-refund.scenario.yaml
  examples/voice-refund-demo/scenarios/impersonator-refund.scenario.yaml
  pkg/config/types.go
  schemas/v1alpha1/arena.json
  schemas/v1alpha1/scenario.json
  tools/arena/selfplay/tts_registry.go
  tools/arena/selfplay/tts_registry_test.go
Due: arena

fix(arena): persist web-triggered runs to outDir so recorded playback survives restart
  tools/arena/web/server.go
  tools/arena/web/server_test.go
Due: arena

fix(arena): persist web-triggered runs to outDir so recorded playback survives restart (#1133)
  tools/arena/web/server.go
  tools/arena/web/server_test.go
Due: arena

fix(arena/web): share playback timeline across directions so scripted turns don't overlap
  tools/arena/web/frontend/src/audio/player.test.ts
  tools/arena/web/frontend/src/audio/player.ts
Due: arena

fix(arena/web): share playback timeline across directions so scripted turns don't overlap (#1134)
  tools/arena/web/frontend/src/audio/player.test.ts
  tools/arena/web/frontend/src/audio/player.ts
Due: arena

fix(sdk/integration): wait for every contracted event before snapshotting
  sdk/integration/contract_template_test.go
Due: none

revert: undo shared-timeline player change (#1134)
  tools/arena/web/frontend/src/audio/player.test.ts
  tools/arena/web/frontend/src/audio/player.ts
Due: arena

fix(demo): revert voice-refund scenarios from gpt-4o-mini-tts back to tts-1
  examples/voice-refund-demo/scenarios/aggressive-refund.scenario.yaml
  examples/voice-refund-demo/scenarios/impersonator-refund.scenario.yaml
Due: none

revert: undo shared-timeline player change (#1134) (#1136)
  tools/arena/web/frontend/src/audio/player.test.ts
  tools/arena/web/frontend/src/audio/player.ts
Due: arena

fix(sdk/integration): wait for every contracted event before snapshotting (#1135)
  sdk/integration/contract_template_test.go
Due: none
