Repository AltairaLabs/PromptKit: changes, and which Codecov flags are due for each by the changed paths.
All: runtime, sdk, arena, packc, inspect-state

codecov.yml:

codecov:
  require_ci_to_pass: yes
  notify:
    wait_for_ci: yes

coverage:
  precision: 2
  round: down
  range: "70...100"
  
  status:
    project:
      default:
        target: 70%
        threshold: 1%
        if_ci_failed: error
    patch:
      default:
        target: 70%
        threshold: 1%
        if_ci_failed: error

comment:
  layout: "reach,diff,flags,tree"
  behavior: default
  require_changes: false

flags:
  runtime:
    paths:
      - runtime/
  sdk:
    paths:
      - sdk/
  arena:
    paths:
      - tools/arena/
  packc:
    paths:
      - tools/packc/
  inspect-state:
    paths:
      - tools/inspect-state/

ignore:
  - "**/*_test.go"
  - "**/*_interactive.go"
  - "**/*_integration.go"
  - "examples/"
  - "docs/"
  - "scripts/"
  - ".github/"
  - "*.md"

fix(guardrails): close the topic_policy review findings
  docs/src/content/docs/reference/checks.md
  runtime/evals/handlers/CLAUDE.md
  runtime/evals/handlers/topic_policy.go
  runtime/evals/handlers/topic_policy_internal_test.go
  runtime/evals/handlers/topic_policy_test.go
  runtime/hooks/guardrails/compile_validators_test.go
  runtime/hooks/guardrails/factory.go
  runtime/hooks/guardrails/factory_topic_policy_wrapper_test.go
  sdk/eval_middleware.go
  sdk/guardrail_validator_policy_test.go
  sdk/sdk.go
  sdk/testdata/packs/guardrail-topic-policy-typo.pack.json
Due: runtime, sdk

feat(guardrails): add the topic_policy guardrail (#2002)
  docs/src/content/docs/reference/checks.md
  runtime/classify/backends/all/all.go
  runtime/classify/backends/topiccontrol/client.go
  runtime/classify/backends/topiccontrol/client_test.go
  runtime/classify/backends/topiccontrol/policy.go
  runtime/classify/backends/topiccontrol/policy_test.go
  runtime/classify/backends/topiccontrol/register.go
  runtime/classify/factory.go
  runtime/classify/registry.go
  runtime/classify/topic.go
  runtime/classify/topic_registry_test.go
  runtime/classify/types.go
  runtime/evals/handlers/CLAUDE.md
  runtime/evals/handlers/handlers_test.go
  runtime/evals/handlers/llm_judge.go
  runtime/evals/handlers/register.go
  runtime/evals/handlers/topic_policy.go
  runtime/evals/handlers/topic_policy_internal_test.go
  runtime/evals/handlers/topic_policy_params.go
  runtime/evals/handlers/topic_policy_test.go
  runtime/evals/normalize.go
  runtime/hooks/guardrails/compile_validators_test.go
  runtime/hooks/guardrails/factory.go
  runtime/hooks/guardrails/factory_direction_test.go
  runtime/hooks/guardrails/factory_topic_policy_wrapper_test.go
  runtime/pipeline/stage/stages_provider_topic_policy_test.go
  sdk/eval_middleware.go
  sdk/guardrail_validator_policy_test.go
  sdk/sdk.go
  sdk/testdata/packs/guardrail-topic-policy-typo.pack.json
Due: runtime, sdk

feat(topiccontrol): live wire-contract test and a configurable timeout
  .vscode/settings.json
  docs/src/content/docs/reference/checks.md
  runtime/classify/backends/topiccontrol/client.go
  runtime/classify/backends/topiccontrol/client_test.go
  runtime/classify/backends/topiccontrol/live_integration_test.go
  runtime/classify/backends/topiccontrol/register.go
Due: runtime

fix(scripts): stop the pre-commit test gate passing unconditionally
  scripts/pre-commit.sh
Due: none

fix(evals): stop a wrapper silently disarming the check it wraps
  docs/src/content/docs/reference/checks.md
  runtime/evals/wrappers.go
  runtime/hooks/guardrails/factory.go
  runtime/hooks/guardrails/factory_topic_policy_wrapper_test.go
Due: runtime

test(hooks): make exec-hook tests insensitive to machine load
  runtime/hooks/exec_hooks_test.go
Due: none

fix(evals): close the wrapper hole, the inert pre-commit gate, and verify topic_policy live (#2004)
  .vscode/settings.json
  docs/src/content/docs/reference/checks.md
  runtime/classify/backends/topiccontrol/client.go
  runtime/classify/backends/topiccontrol/client_test.go
  runtime/classify/backends/topiccontrol/live_integration_test.go
  runtime/classify/backends/topiccontrol/register.go
  runtime/evals/wrappers.go
  runtime/hooks/exec_hooks_test.go
  runtime/hooks/guardrails/factory.go
  runtime/hooks/guardrails/factory_topic_policy_wrapper_test.go
  scripts/pre-commit.sh
Due: runtime

fix(sdk): carry a pack validator's message, and ship a topic_policy example
  docs/check-links.js
  docs/src/content/docs/reference/checks.md
  docs/src/content/docs/runtime/reference/pipeline.md
  docs/src/content/docs/runtime/reference/providers.md
  docs/src/content/docs/sdk/how-to/conversations/use-memory.md
  docs/src/content/docs/sdk/how-to/providers/declarative-embedding-providers.md
  docs/src/content/docs/sdk/how-to/providers/declarative-tts-stt-providers.md
  docs/src/content/docs/sdk/reference/conversation-manager.md
  docs/src/content/docs/sdk/reference/runtime-config.md
  runtime/evals/handlers/CLAUDE.md
  runtime/evals/types.go
  runtime/events/types.go
  runtime/pipeline/stage/stages_provider.go
  runtime/pipeline/stage/structured_output_mode.go
  runtime/providers/base_embedding.go
  sdk/examples/README.md
  sdk/examples/hooks/README.md
  sdk/examples/hooks/main_interactive.go
  sdk/examples/selectors/README.md
  sdk/examples/selectors/cosine/cosine.go
  sdk/examples/topic-policy/README.md
  sdk/examples/topic-policy/go.mod
  sdk/examples/topic-policy/go.sum
  sdk/examples/topic-policy/main.go
  sdk/examples/topic-policy/smoke_test.go
  sdk/examples/topic-policy/support.pack.json
  sdk/options.go
  sdk/sdk.go
  sdk/validators_to_hooks_test.go
Due: runtime, sdk

build: list sdk/examples/topic-policy in go.work
  go.work
Due: none

fix(sdk): carry a pack validator's message, and ship a topic_policy example (#2006)
  docs/check-links.js
  docs/src/content/docs/reference/checks.md
  docs/src/content/docs/runtime/reference/pipeline.md
  docs/src/content/docs/runtime/reference/providers.md
  docs/src/content/docs/sdk/how-to/conversations/use-memory.md
  docs/src/content/docs/sdk/how-to/providers/declarative-embedding-providers.md
  docs/src/content/docs/sdk/how-to/providers/declarative-tts-stt-providers.md
  docs/src/content/docs/sdk/reference/conversation-manager.md
  docs/src/content/docs/sdk/reference/runtime-config.md
  go.work
  runtime/evals/handlers/CLAUDE.md
  runtime/evals/types.go
  runtime/events/types.go
  runtime/pipeline/stage/stages_provider.go
  runtime/pipeline/stage/structured_output_mode.go
  runtime/providers/base_embedding.go
  sdk/examples/README.md
  sdk/examples/hooks/README.md
  sdk/examples/hooks/main_interactive.go
  sdk/examples/selectors/README.md
  sdk/examples/selectors/cosine/cosine.go
  sdk/examples/topic-policy/README.md
  sdk/examples/topic-policy/go.mod
  sdk/examples/topic-policy/go.sum
  sdk/examples/topic-policy/main.go
  sdk/examples/topic-policy/smoke_test.go
  sdk/examples/topic-policy/support.pack.json
  sdk/options.go
  sdk/sdk.go
  sdk/validators_to_hooks_test.go
Due: runtime, sdk

fix(docs): drop unsupported {#custom-id} heading syntax, and check fragments
  docs/check-links.js
  docs/src/content/docs/reference/checks.md
  docs/src/content/docs/runtime/how-to/observability/prometheus-metrics.md
  docs/src/content/docs/runtime/how-to/providers/setup-providers.md
  docs/src/content/docs/sdk/how-to/observability/run-evals.md
Due: none

docs: write the three sections the broken anchors promised
  docs/scripts/gen-reference.sh
  docs/src/content/docs/runtime/how-to/observability/prometheus-metrics.md
  docs/src/content/docs/runtime/how-to/providers/setup-providers.md
  docs/src/content/docs/runtime/reference/evals.md
  docs/src/content/docs/sdk/how-to/observability/run-evals.md
  runtime/providers/vllm/additional_config_test.go
  runtime/providers/vllm/vllm.go
Due: runtime

test(vllm): assert refusal against acceptance, not against nil
  runtime/providers/vllm/additional_config_test.go
Due: none

fix(docs): drop unsupported {#custom-id} heading syntax, and check fragments (#2008)
  docs/check-links.js
  docs/scripts/gen-reference.sh
  docs/src/content/docs/reference/checks.md
  docs/src/content/docs/runtime/how-to/observability/prometheus-metrics.md
  docs/src/content/docs/runtime/how-to/providers/setup-providers.md
  docs/src/content/docs/runtime/reference/evals.md
  docs/src/content/docs/sdk/how-to/observability/run-evals.md
  runtime/providers/vllm/additional_config_test.go
  runtime/providers/vllm/vllm.go
Due: runtime

fix(evals): stop replaying topic_policy's own blocked message as history
  docs/src/content/docs/reference/checks.md
  runtime/evals/handlers/topic_policy.go
  runtime/evals/handlers/topic_policy_test.go
Due: runtime

fix(evals): stop replaying topic_policy's own blocked message as history (#2009)
  docs/src/content/docs/reference/checks.md
  runtime/evals/handlers/topic_policy.go
  runtime/evals/handlers/topic_policy_test.go
Due: runtime

chore(schemas): refresh from promptarena, adding topic_policy
  schemas/v1alpha1/arena.json
  schemas/v1alpha1/common/assertions.json
  schemas/v1alpha1/eval.json
  schemas/v1alpha1/scenario.json
Due: none

chore(schemas): refresh from promptarena, adding topic_policy (#2010)
  schemas/v1alpha1/arena.json
  schemas/v1alpha1/common/assertions.json
  schemas/v1alpha1/eval.json
  schemas/v1alpha1/scenario.json
Due: none

fix(sdk): wire tool grants, tool selection and compaction into VAD mode
  sdk/internal/pipeline/builder_vad.go
  sdk/internal/pipeline/builder_vad_wiring_test.go
Due: sdk

feat(skills): move the active skill set to an ActiveSet the caller owns
  runtime/skills/active_set.go
  runtime/skills/active_set_test.go
  runtime/skills/executor.go
  runtime/skills/tool_executor.go
  runtime/skills/tool_executor_active_set_test.go
Due: runtime

fix(memory): take the conversation scope per call, not at construction
  runtime/memory/scope.go
  runtime/memory/scope_test.go
  runtime/memory/tools.go
Due: runtime

fix(sdk): give every conversation its own skill set and memory scope
  docs/src/content/docs/runtime/reference/a2a.md
  docs/src/content/docs/runtime/reference/audio.md
  docs/src/content/docs/runtime/reference/evals.md
  docs/src/content/docs/runtime/reference/hooks.md
  docs/src/content/docs/runtime/reference/logging.md
  docs/src/content/docs/runtime/reference/mcp.md
  docs/src/content/docs/runtime/reference/memory-corpus.md
  docs/src/content/docs/runtime/reference/memory.md
  docs/src/content/docs/runtime/reference/metrics.md
  docs/src/content/docs/runtime/reference/pipeline.md
  docs/src/content/docs/runtime/reference/providers.md
  docs/src/content/docs/runtime/reference/statestore.md
  docs/src/content/docs/runtime/reference/storage.md
  docs/src/content/docs/runtime/reference/streaming.md
  docs/src/content/docs/runtime/reference/telemetry.md
  docs/src/content/docs/runtime/reference/tools.md
  docs/src/content/docs/runtime/reference/tts.md
  docs/src/content/docs/runtime/reference/types.md
  docs/src/content/docs/runtime/reference/variables.md
  docs/src/content/docs/sdk/reference/a2a-server.md
  docs/src/content/docs/sdk/reference/ag-ui.md
  docs/src/content/docs/sdk/reference/conversation-manager.md
  sdk/capability_skills.go
  sdk/capability_skills_preload_test.go
  sdk/capability_skills_test.go
  sdk/client_tools.go
  sdk/conversation.go
  sdk/memory_scope_isolation_test.go
  sdk/sdk.go
  sdk/skills_tool_grant_isolation_test.go
  sdk/streaming.go
  sdk/template.go
Due: sdk

fix(docs,test): pin gomarkdoc's repo links, and make the VAD compaction tests falsifiable
  docs/scripts/gen-reference.sh
  docs/scripts/gen-sdk-reference.sh
  sdk/internal/pipeline/builder_vad_wiring_test.go
Due: none

fix(sdk): dispatch local and client tools to the CALLING conversation's handlers
  docs/src/content/docs/sdk/reference/conversation-manager.md
  sdk/client_tools.go
  sdk/conversation.go
  sdk/conversation_handlers_ctx.go
  sdk/shared_registry_isolation_test.go
  sdk/tool_executors.go
Due: sdk

fix(sdk): route each conversation's MCP tool calls through its own registry
  docs/src/content/docs/sdk/reference/conversation-manager.md
  sdk/conversation.go
  sdk/mcp_registry_isolation_test.go
Due: sdk

fix(workflow): route transitions and artifacts to the calling conversation
  docs/src/content/docs/sdk/reference/conversation-manager.md
  runtime/workflow/artifact_tool.go
  runtime/workflow/executor_routing.go
  runtime/workflow/executor_routing_test.go
  runtime/workflow/transition_executor.go
  sdk/conversation.go
  sdk/workflow.go
  sdk/workflow_registry_isolation_test.go
Due: runtime, sdk

refactor(tools,sdk): give each conversation a child registry, drop the ctx plumbing
  docs/src/content/docs/runtime/reference/tools.md
  docs/src/content/docs/sdk/reference/conversation-manager.md
  runtime/tools/child_registry.go
  runtime/tools/child_registry_test.go
  runtime/tools/registry.go
  runtime/workflow/artifact_tool.go
  runtime/workflow/executor_routing.go
  runtime/workflow/executor_routing_test.go
  runtime/workflow/transition_executor.go
  sdk/client_tools.go
  sdk/conversation.go
  sdk/conversation_handlers_ctx.go
  sdk/mcp_registry_isolation_test.go
  sdk/sdk.go
  sdk/sdk_test.go
  sdk/shared_registry_isolation_test.go
  sdk/tool_executors.go
  sdk/workflow.go
Due: runtime, sdk

refactor(tools,sdk): give each conversation a child registry, drop the ctx plumbing (#2014)
  docs/src/content/docs/runtime/reference/tools.md
  docs/src/content/docs/sdk/reference/conversation-manager.md
  runtime/tools/child_registry.go
  runtime/tools/child_registry_test.go
  runtime/tools/registry.go
  runtime/workflow/artifact_tool.go
  runtime/workflow/executor_routing.go
  runtime/workflow/executor_routing_test.go
  runtime/workflow/transition_executor.go
  sdk/client_tools.go
  sdk/conversation.go
  sdk/conversation_handlers_ctx.go
  sdk/mcp_registry_isolation_test.go
  sdk/sdk.go
  sdk/sdk_test.go
  sdk/shared_registry_isolation_test.go
  sdk/tool_executors.go
  sdk/workflow.go
Due: runtime, sdk

fix(tools): stop silently overwriting a registered executor
  docs/src/content/docs/runtime/reference/tools.md
  runtime/tools/executor_eviction_test.go
  runtime/tools/registry.go
Due: runtime

fix(tools): stop silently overwriting a registered executor (#2015)
  docs/src/content/docs/runtime/reference/tools.md
  runtime/tools/executor_eviction_test.go
  runtime/tools/registry.go
Due: runtime

feat(evals): add tools_offered, asserting what a turn handed the model
  docs/src/content/docs/runtime/reference/evals.md
  docs/src/content/docs/runtime/reference/pipeline.md
  docs/src/content/docs/runtime/reference/types.md
  runtime/evals/context.go
  runtime/evals/handlers/handlers_test.go
  runtime/evals/handlers/register.go
  runtime/evals/handlers/tools_called.go
  runtime/evals/handlers/tools_not_called.go
  runtime/evals/handlers/tools_offered.go
  runtime/evals/handlers/tools_offered_test.go
  runtime/evals/tools_offered_context_test.go
  runtime/evals/types.go
  runtime/pipeline/stage/stages_provider.go
  runtime/pipeline/stage/stages_provider_tools_offered_test.go
  runtime/types/message.go
Due: runtime

test(evals): make the nil-result assertions falsifiable
  runtime/evals/tools_offered_context_test.go
  runtime/pipeline/stage/stages_provider_tools_offered_test.go
Due: none

feat(evals): add tools_offered, asserting what a turn handed the model (#2016)
  docs/src/content/docs/runtime/reference/evals.md
  docs/src/content/docs/runtime/reference/pipeline.md
  docs/src/content/docs/runtime/reference/types.md
  runtime/evals/context.go
  runtime/evals/handlers/handlers_test.go
  runtime/evals/handlers/register.go
  runtime/evals/handlers/tools_called.go
  runtime/evals/handlers/tools_not_called.go
  runtime/evals/handlers/tools_offered.go
  runtime/evals/handlers/tools_offered_test.go
  runtime/evals/tools_offered_context_test.go
  runtime/evals/types.go
  runtime/pipeline/stage/stages_provider.go
  runtime/pipeline/stage/stages_provider_tools_offered_test.go
  runtime/types/message.go
Due: runtime

fix(a2a): keep caller context values on message/send
  docs/src/content/docs/sdk/reference/a2a-server.md
  server/a2a/server.go
  server/a2a/server_context_values_test.go
Due: none

feat(sdk): expose tool-executor registration as an option
  docs/src/content/docs/sdk/how-to/tools/register-tools.md
  docs/src/content/docs/sdk/reference/conversation-manager.md
  sdk/integration/tool_executor_option_test.go
  sdk/options.go
  sdk/options_tool_executor_test.go
  sdk/sdk.go
  sdk/tool_executors.go
Due: sdk

test(sdk): drive the tool-executor option over real A2A HTTP
  sdk/integration/a2a_tool_executor_http_test.go
Due: none

fix(a2a): keep caller context values on message/send (#2020)
  docs/src/content/docs/sdk/reference/a2a-server.md
  server/a2a/server.go
  server/a2a/server_context_values_test.go
Due: none

feat(sdk): expose tool-executor registration as an option (#2022)
  docs/src/content/docs/sdk/how-to/tools/register-tools.md
  docs/src/content/docs/sdk/reference/conversation-manager.md
  sdk/integration/a2a_tool_executor_http_test.go
  sdk/integration/tool_executor_option_test.go
  sdk/options.go
  sdk/options_tool_executor_test.go
  sdk/sdk.go
  sdk/tool_executors.go
Due: sdk

test(sdk): live A2A tool-governance end to end
  sdk/a2a_governance_live_integration_test.go
Due: none
