Repository AltairaLabs/PromptKit: changes, and which Codecov flags are due for each by the changed paths.
All: runtime, sdk, arena, packc, inspect-state

docs(seamscan): drop an imprecise package count from the skill
  .claude/skills/audit-test-seams/SKILL.md
Due: none

chore(schemas): refresh committed copy from promptarena
  schemas/v1alpha1/arena.json
  schemas/v1alpha1/eval.json
  schemas/v1alpha1/persona.json
  schemas/v1alpha1/scenario.json
Due: none

fix(seamscan): close mutation-survivable gaps from whole-branch review
  .claude/skills/audit-test-seams/SKILL.md
  .gitignore
  scripts/check-weak-assertions.sh
  tools/seamscan/lossy.go
  tools/seamscan/lossy_test.go
  tools/seamscan/main_test.go
  tools/seamscan/weakassert_test.go
Due: none

chore(schemas): refresh committed copy from promptarena (#1699)
  schemas/v1alpha1/arena.json
  schemas/v1alpha1/eval.json
  schemas/v1alpha1/persona.json
  schemas/v1alpha1/scenario.json
Due: none

ci(schemas): run the drift check on a schedule
  .github/workflows/schemas.yml
Due: none

ci(schemas): run the drift check on a schedule (#1701)
  .github/workflows/schemas.yml
Due: none

docs(examples): correct stale prerequisites and repo layout
  docs/src/components/landing/RepoStructure.astro
  docs/src/content/docs/contributors/contributing.md
  sdk/examples/a2a-agent/README.md
  sdk/examples/hello/README.md
  sdk/examples/hitl/README.md
  sdk/examples/hooks/README.md
  sdk/examples/http-transforms/README.md
  sdk/examples/long-conversation/README.md
  sdk/examples/mcp-tools/README.md
  sdk/examples/multimodal/README.md
  sdk/examples/streaming/README.md
  sdk/examples/tools/README.md
Due: sdk

ci(examples): build and test the nested-module examples
  .github/workflows/ci.yml
  go.work
  sdk/examples/onnx-audio-emotion/go.mod
  sdk/examples/onnx-audio-emotion/go.sum
Due: sdk

feat(seamscan): find untested seams and tests that cannot fail (#1703)
  .claude/skills/audit-test-seams/SKILL.md
  .gitignore
  Makefile
  go.work
  scripts/check-weak-assertions.sh
  tools/seamscan/finding.go
  tools/seamscan/finding_test.go
  tools/seamscan/go.mod
  tools/seamscan/go.sum
  tools/seamscan/lossy.go
  tools/seamscan/lossy_test.go
  tools/seamscan/main.go
  tools/seamscan/main_test.go
  tools/seamscan/weakassert.go
  tools/seamscan/weakassert_test.go
Due: none

fix(sdk): update the stale Anthropic auto-detect default
  sdk/internal/provider/detect.go
  sdk/internal/provider/detect_test.go
Due: sdk

docs(examples): correct stale prerequisites and repo layout (#1702)
  docs/src/components/landing/RepoStructure.astro
  docs/src/content/docs/contributors/contributing.md
  sdk/examples/a2a-agent/README.md
  sdk/examples/hello/README.md
  sdk/examples/hitl/README.md
  sdk/examples/hooks/README.md
  sdk/examples/http-transforms/README.md
  sdk/examples/long-conversation/README.md
  sdk/examples/mcp-tools/README.md
  sdk/examples/multimodal/README.md
  sdk/examples/streaming/README.md
  sdk/examples/tools/README.md
Due: sdk

fix(ci): disable errexit in the nested-module example loop
  .github/workflows/ci.yml
Due: none

fix(sdk): update the stale Anthropic auto-detect default (#1706)
  sdk/internal/provider/detect.go
  sdk/internal/provider/detect_test.go
Due: sdk

fix(guardrails): give eval handlers the context they read
  runtime/evals/context.go
  runtime/evals/context_test.go
  runtime/hooks/guardrails/adapter.go
  runtime/hooks/guardrails/evalcontext_enrichment_test.go
Due: runtime

fix(examples): close the multitrack-ingestion test's teardown race
  sdk/examples/multitrack-ingestion/app_test.go
Due: none

fix(guardrails): give eval handlers the context they read (#1708)
  runtime/evals/context.go
  runtime/evals/context_test.go
  runtime/hooks/guardrails/adapter.go
  runtime/hooks/guardrails/evalcontext_enrichment_test.go
Due: runtime

ci(examples): build and test the nested-module examples (#1705)
  .github/workflows/ci.yml
  go.work
  sdk/examples/multitrack-ingestion/app_test.go
  sdk/examples/onnx-audio-emotion/go.mod
  sdk/examples/onnx-audio-emotion/go.sum
Due: sdk

ci: run the weak-assertion guard on pull requests
  .claude/skills/audit-test-seams/SKILL.md
  .github/workflows/ci.yml
Due: none

fix(sdk): update stale OpenAI/Gemini defaults and document Close
  docs/src/content/docs/sdk/reference/conversation-manager.md
  sdk/conversation.go
  sdk/internal/provider/detect.go
  sdk/internal/provider/detect_test.go
Due: sdk

ci: run the weak-assertion guard on pull requests (#1709)
  .claude/skills/audit-test-seams/SKILL.md
  .github/workflows/ci.yml
Due: none

fix(sdk): update stale OpenAI/Gemini defaults and document Close (#1710)
  docs/src/content/docs/sdk/reference/conversation-manager.md
  sdk/conversation.go
  sdk/internal/provider/detect.go
  sdk/internal/provider/detect_test.go
Due: sdk

fix(guardrails): honor min_score/max_score instead of hardcoding 1.0
  runtime/evals/score_thresholds_test.go
  runtime/evals/wrappers.go
  runtime/hooks/guardrails/adapter.go
  runtime/hooks/guardrails/factory.go
  runtime/hooks/guardrails/threshold_test.go
Due: runtime

fix(guardrails): honor min_score/max_score instead of hardcoding 1.0 (#1711)
  runtime/evals/score_thresholds_test.go
  runtime/evals/wrappers.go
  runtime/hooks/guardrails/adapter.go
  runtime/hooks/guardrails/factory.go
  runtime/hooks/guardrails/threshold_test.go
Due: runtime

fix(guardrails): derive spend and latency for the budget handlers
  runtime/evals/budget_metadata_test.go
  runtime/evals/context.go
  runtime/hooks/guardrails/adapter.go
  runtime/hooks/guardrails/budget_metadata_test.go
Due: runtime

fix(guardrails): derive spend and latency for the budget handlers (#1712)
  runtime/evals/budget_metadata_test.go
  runtime/evals/context.go
  runtime/hooks/guardrails/adapter.go
  runtime/hooks/guardrails/budget_metadata_test.go
Due: runtime

ci(release): drop sdk's pkg replace before tagging, and guard the cleanup
  .github/workflows/release.yml
Due: none

ci(release): drop sdk's pkg replace before tagging, and guard the cleanup (#1714)
  .github/workflows/release.yml
Due: none

fix(sdk): carry FinishReason through the streaming response
  sdk/examples/hooks/README.md
  sdk/examples/hooks/main_interactive.go
  sdk/guardrail_e2e_test.go
  sdk/streaming.go
Due: sdk

fix(hooks): log an enforced provider decision at INFO, not as a denial
  docs/src/content/docs/runtime/reference/hooks.md
  runtime/hooks/registry.go
  runtime/hooks/registry_test.go
Due: runtime

fix(guardrails): dereference the score in ValidationResult.Details and share the firing stamp
  runtime/pipeline/stage/guardrail_validation_details_test.go
  runtime/pipeline/stage/stages_provider.go
Due: runtime

fix(guardrails): let a custom eval registry back a guardrail
  docs/src/content/docs/sdk/reference/conversation-manager.md
  runtime/hooks/guardrails/custom_registry_test.go
  runtime/hooks/guardrails/factory.go
  runtime/hooks/guardrails/spec.go
  sdk/guardrail_custom_registry_test.go
  sdk/options.go
  sdk/options_guardrail_test.go
  sdk/sdk.go
Due: runtime, sdk

fix(evals): carry validation details into PriorResults and add direction matching
  docs/src/content/docs/reference/checks.md
  runtime/evals/context.go
  runtime/evals/context_test.go
  runtime/evals/handlers/guardrail_triggered.go
  runtime/evals/handlers/guardrail_triggered_test.go
  runtime/evals/handlers/param_validator_test.go
  runtime/hooks/guardrails/adapter.go
  runtime/hooks/guardrails/adapter_test.go
  sdk/guardrail_assertion_bridge_test.go
Due: runtime

fix(guardrails): dereference the score in ValidationResult.Details and share the firing stamp (#1723)
  runtime/pipeline/stage/guardrail_validation_details_test.go
  runtime/pipeline/stage/stages_provider.go
Due: runtime

fix(hooks): log an enforced provider decision at INFO, not as a denial (#1722)
  docs/src/content/docs/runtime/reference/hooks.md
  runtime/hooks/registry.go
  runtime/hooks/registry_test.go
Due: runtime

fix(guardrails): let a custom eval registry back a guardrail (#1724)
  docs/src/content/docs/sdk/reference/conversation-manager.md
  runtime/hooks/guardrails/custom_registry_test.go
  runtime/hooks/guardrails/factory.go
  runtime/hooks/guardrails/spec.go
  sdk/guardrail_custom_registry_test.go
  sdk/options.go
  sdk/options_guardrail_test.go
  sdk/sdk.go
Due: runtime, sdk

fix(evals): carry validation details into PriorResults and add direction matching (#1726)
  docs/src/content/docs/reference/checks.md
  runtime/evals/context.go
  runtime/evals/context_test.go
  runtime/evals/handlers/guardrail_triggered.go
  runtime/evals/handlers/guardrail_triggered_test.go
  runtime/evals/handlers/param_validator_test.go
  runtime/hooks/guardrails/adapter.go
  runtime/hooks/guardrails/adapter_test.go
  sdk/guardrail_assertion_bridge_test.go
Due: runtime

fix(sdk): carry FinishReason through the streaming response (#1721)
  sdk/examples/hooks/README.md
  sdk/examples/hooks/main_interactive.go
  sdk/guardrail_e2e_test.go
  sdk/streaming.go
Due: sdk

fix(guardrails): stream a blocked turn's canned text instead of withholding it
  runtime/pipeline/stage/guardrail_blocked_stream_test.go
  runtime/pipeline/stage/stages_provider.go
  sdk/guardrail_e2e_test.go
Due: runtime

fix(guardrails): stream a blocked turn's canned text instead of withholding it (#1727)
  runtime/pipeline/stage/guardrail_blocked_stream_test.go
  runtime/pipeline/stage/stages_provider.go
  sdk/guardrail_e2e_test.go
Due: runtime

fix(sdk): let ValidatePack preflight see a custom eval registry
  docs/src/content/docs/reference/checks.md
  docs/src/content/docs/sdk/reference/conversation-manager.md
  sdk/validate_pack.go
  sdk/validate_pack_registry_test.go
Due: sdk

Path conditions:
  runtime: any of: runtime/, but not: **/*_test.go, **/*_interactive.go, **/*_integration.go, examples/, docs/, scripts/, .github/, *.md
  sdk: any of: sdk/, but not: **/*_test.go, **/*_interactive.go, **/*_integration.go, examples/, docs/, scripts/, .github/, *.md
  arena: any of: tools/arena/, but not: **/*_test.go, **/*_interactive.go, **/*_integration.go, examples/, docs/, scripts/, .github/, *.md
  packc: any of: tools/packc/, but not: **/*_test.go, **/*_interactive.go, **/*_integration.go, examples/, docs/, scripts/, .github/, *.md
  inspect-state: any of: tools/inspect-state/, but not: **/*_test.go, **/*_interactive.go, **/*_integration.go, examples/, docs/, scripts/, .github/, *.md
