Repository AltairaLabs/PromptKit: changes, and which Codecov flags are due for each by the changed paths.
All: runtime, sdk, arena, packc, inspect-state

feat(arena,examples,docs): voice latency budget demo + LatencyMs eval bridge (#1149)
  docs/src/content/docs/arena/how-to/voice-latency-budget.md
  examples/voice-latency-budget/README.md
  examples/voice-latency-budget/config.arena.yaml
  examples/voice-latency-budget/mock-responses.yaml
  examples/voice-latency-budget/prompts/support-agent.yaml
  examples/voice-latency-budget/providers/mock-provider.yaml
  examples/voice-latency-budget/scenarios/turn-budget.scenario.yaml
  tools/arena/engine/eval_orchestrator.go
  tools/arena/engine/eval_orchestrator_test.go
Due: arena

docs(arena): cross-link voice-latency-budget how-to from index
  docs/src/content/docs/arena/how-to/index.md
Due: none

feat(arena,examples,docs): voice latency budget demo + LatencyMs eval bridge (#1170)
  docs/src/content/docs/arena/how-to/index.md
  docs/src/content/docs/arena/how-to/voice-latency-budget.md
  examples/voice-latency-budget/README.md
  examples/voice-latency-budget/config.arena.yaml
  examples/voice-latency-budget/mock-responses.yaml
  examples/voice-latency-budget/prompts/support-agent.yaml
  examples/voice-latency-budget/providers/mock-provider.yaml
  examples/voice-latency-budget/scenarios/turn-budget.scenario.yaml
  tools/arena/engine/eval_orchestrator.go
  tools/arena/engine/eval_orchestrator_test.go
Due: arena

docs(arena): voice tool calls how-to (#1150)
  docs/src/content/docs/arena/how-to/index.md
  docs/src/content/docs/arena/how-to/voice-tool-calls.md
Due: none

docs(arena): voice tool calls how-to (#1150) (#1171)
  docs/src/content/docs/arena/how-to/index.md
  docs/src/content/docs/arena/how-to/voice-tool-calls.md
Due: none

feat(arena,examples,docs): voice red-team demo + pii_leakage degrades to regex-only without LLM judge (#1151)
  docs/src/content/docs/arena/how-to/voice-red-team.md
  examples/voice-red-team/README.md
  examples/voice-red-team/config.arena.yaml
  examples/voice-red-team/mock-responses.yaml
  examples/voice-red-team/prompts/hardened-support-agent.yaml
  examples/voice-red-team/providers/mock-provider.yaml
  examples/voice-red-team/scenarios/legitimate-question.scenario.yaml
  examples/voice-red-team/scenarios/pii-extraction-attempt.scenario.yaml
  runtime/evals/handlers/pii_leakage.go
  runtime/evals/handlers/safety_handlers_test.go
  runtime/evals/handlers/safety_helpers.go
Due: runtime

docs(arena): cross-link voice-red-team how-to from index
  docs/src/content/docs/arena/how-to/index.md
Due: none

feat(arena,examples,docs): voice red-team demo + pii_leakage degrades to regex-only without LLM judge (#1172)
  docs/src/content/docs/arena/how-to/index.md
  docs/src/content/docs/arena/how-to/voice-red-team.md
  examples/voice-red-team/README.md
  examples/voice-red-team/config.arena.yaml
  examples/voice-red-team/mock-responses.yaml
  examples/voice-red-team/prompts/hardened-support-agent.yaml
  examples/voice-red-team/providers/mock-provider.yaml
  examples/voice-red-team/scenarios/legitimate-question.scenario.yaml
  examples/voice-red-team/scenarios/pii-extraction-attempt.scenario.yaml
  runtime/evals/handlers/pii_leakage.go
  runtime/evals/handlers/safety_handlers_test.go
  runtime/evals/handlers/safety_helpers.go
Due: runtime

feat(examples,docs): voice provider bake-off demo (#1152)
  docs/src/content/docs/arena/how-to/index.md
  docs/src/content/docs/arena/how-to/voice-bake-off.md
  examples/voice-bake-off/README.md
  examples/voice-bake-off/config.arena.yaml
  examples/voice-bake-off/mock-responses-fast.yaml
  examples/voice-bake-off/mock-responses-slow.yaml
  examples/voice-bake-off/prompts/support-agent.yaml
  examples/voice-bake-off/providers/mock-fast.provider.yaml
  examples/voice-bake-off/providers/mock-slow.provider.yaml
  examples/voice-bake-off/scenarios/standard-call.scenario.yaml
Due: none

feat(examples,docs): voice provider bake-off demo (#1152) (#1173)
  docs/src/content/docs/arena/how-to/index.md
  docs/src/content/docs/arena/how-to/voice-bake-off.md
  examples/voice-bake-off/README.md
  examples/voice-bake-off/config.arena.yaml
  examples/voice-bake-off/mock-responses-fast.yaml
  examples/voice-bake-off/mock-responses-slow.yaml
  examples/voice-bake-off/prompts/support-agent.yaml
  examples/voice-bake-off/providers/mock-fast.provider.yaml
  examples/voice-bake-off/providers/mock-slow.provider.yaml
  examples/voice-bake-off/scenarios/standard-call.scenario.yaml
Due: none

docs(arena): voice characterization how-to (#1153)
  docs/src/content/docs/arena/how-to/voice-characterization.md
Due: none

docs(arena): cross-link voice-characterization how-to from index
  docs/src/content/docs/arena/how-to/index.md
Due: none

feat(examples,docs): voice + guardrails demo — focused PII-redaction (#1154)
  docs/src/content/docs/arena/how-to/index.md
  docs/src/content/docs/arena/how-to/voice-guardrails.md
  examples/voice-guardrails/README.md
  examples/voice-guardrails/config.arena.yaml
  examples/voice-guardrails/mock-responses.yaml
  examples/voice-guardrails/prompts/support-agent.yaml
  examples/voice-guardrails/providers/mock-provider.yaml
  examples/voice-guardrails/scenarios/pii-redaction.scenario.yaml
Due: none

docs(arena): voice characterization how-to (#1174)
  docs/src/content/docs/arena/how-to/index.md
  docs/src/content/docs/arena/how-to/voice-characterization.md
Due: none

feat(examples,docs): text negotiation demo (#1155)
  docs/src/content/docs/arena/how-to/index.md
  docs/src/content/docs/arena/how-to/text-negotiation.md
  examples/text-negotiation/README.md
  examples/text-negotiation/config.arena.yaml
  examples/text-negotiation/mock-responses.yaml
  examples/text-negotiation/prompts/landlord-agent.yaml
  examples/text-negotiation/providers/mock-provider.yaml
  examples/text-negotiation/scenarios/rental-negotiation.scenario.yaml
Due: none

feat(examples,docs): voice + guardrails demo — focused PII-redaction (#1154) (#1175)
  docs/src/content/docs/arena/how-to/index.md
  docs/src/content/docs/arena/how-to/voice-guardrails.md
  examples/voice-guardrails/README.md
  examples/voice-guardrails/config.arena.yaml
  examples/voice-guardrails/mock-responses.yaml
  examples/voice-guardrails/prompts/support-agent.yaml
  examples/voice-guardrails/providers/mock-provider.yaml
  examples/voice-guardrails/scenarios/pii-redaction.scenario.yaml
Due: none

docs(arena),examples: A2A multi-agent how-to + scenario fix (#1157)
  docs/src/content/docs/arena/how-to/a2a-multi-agent.md
  examples/multi-agent-demo/scenarios/multi-agent-delegation.yaml
Due: none

feat(examples,docs): text negotiation demo (#1155) (#1176)
  docs/src/content/docs/arena/how-to/index.md
  docs/src/content/docs/arena/how-to/text-negotiation.md
  examples/text-negotiation/README.md
  examples/text-negotiation/config.arena.yaml
  examples/text-negotiation/mock-responses.yaml
  examples/text-negotiation/prompts/landlord-agent.yaml
  examples/text-negotiation/providers/mock-provider.yaml
  examples/text-negotiation/scenarios/rental-negotiation.scenario.yaml
Due: none

feat(examples,docs): model migration regression demo (#1158)
  docs/src/content/docs/arena/how-to/model-migration.md
  examples/model-migration/README.md
  examples/model-migration/config.arena.yaml
  examples/model-migration/mock-responses-v1.yaml
  examples/model-migration/mock-responses-v2.yaml
  examples/model-migration/prompts/support-classifier.yaml
  examples/model-migration/providers/model-v1.provider.yaml
  examples/model-migration/providers/model-v2.provider.yaml
  examples/model-migration/scenarios/billing-inquiry.scenario.yaml
  examples/model-migration/scenarios/tech-inquiry.scenario.yaml
Due: none

docs(arena): cross-link model-migration how-to from index
  docs/src/content/docs/arena/how-to/index.md
Due: none

docs(arena): guardrails-as-signals how-to (#1159)
  docs/src/content/docs/arena/how-to/guardrails-as-signals.md
  docs/src/content/docs/arena/how-to/index.md
Due: none

feat(examples,docs): model migration regression demo (#1178)
  docs/src/content/docs/arena/how-to/index.md
  docs/src/content/docs/arena/how-to/model-migration.md
  examples/model-migration/README.md
  examples/model-migration/config.arena.yaml
  examples/model-migration/mock-responses-v1.yaml
  examples/model-migration/mock-responses-v2.yaml
  examples/model-migration/prompts/support-classifier.yaml
  examples/model-migration/providers/model-v1.provider.yaml
  examples/model-migration/providers/model-v2.provider.yaml
  examples/model-migration/scenarios/billing-inquiry.scenario.yaml
  examples/model-migration/scenarios/tech-inquiry.scenario.yaml
Due: none

docs(arena): Arena CI quality gate how-to (#1160)
  docs/src/content/docs/arena/how-to/arena-ci-quality-gate.md
  docs/src/content/docs/arena/how-to/index.md
Due: none

docs(arena): guardrails-as-signals how-to (#1159) (#1179)
  docs/src/content/docs/arena/how-to/guardrails-as-signals.md
  docs/src/content/docs/arena/how-to/index.md
Due: none

feat(examples,docs): RAG agent assertions demo (#1161)
  docs/src/content/docs/arena/how-to/rag-agent.md
  examples/rag-agent/README.md
  examples/rag-agent/config.arena.yaml
  examples/rag-agent/mock-responses-assistant.yaml
  examples/rag-agent/mock-responses-judge.yaml
  examples/rag-agent/prompts/rag-assistant.yaml
  examples/rag-agent/providers/mock-assistant.yaml
  examples/rag-agent/providers/mock-judge.yaml
  examples/rag-agent/scenarios/paris-capital.scenario.yaml
Due: none

docs(arena): Arena CI quality gate how-to (#1160) (#1180)
  docs/src/content/docs/arena/how-to/arena-ci-quality-gate.md
  docs/src/content/docs/arena/how-to/index.md
Due: none

docs(arena): Why PromptArena comparison page (#1162)
  docs/src/content/docs/arena/why-arena.md
Due: none

feat(examples,docs): RAG agent assertions demo (#1161) (#1181)
  docs/src/content/docs/arena/how-to/rag-agent.md
  examples/rag-agent/README.md
  examples/rag-agent/config.arena.yaml
  examples/rag-agent/mock-responses-assistant.yaml
  examples/rag-agent/mock-responses-judge.yaml
  examples/rag-agent/prompts/rag-assistant.yaml
  examples/rag-agent/providers/mock-assistant.yaml
  examples/rag-agent/providers/mock-judge.yaml
  examples/rag-agent/scenarios/paris-capital.scenario.yaml
Due: none

docs(arena): Why PromptArena comparison page (#1162) (#1182)
  docs/src/content/docs/arena/why-arena.md
Due: none

docs(arena),examples: workflow regression suite how-to + scenario fixes (#1156)
  docs/src/content/docs/arena/how-to/workflow-regression.md
  examples/workflow-order-processing/scenarios/order-flow.scenario.yaml
  examples/workflow-order-processing/scenarios/validation-checks.scenario.yaml
  examples/workflow-support/scenarios/basic-flow.scenario.yaml
  examples/workflow-support/scenarios/state-assertions.scenario.yaml
Due: none

docs(arena): cross-link workflow-regression how-to from index
  docs/src/content/docs/arena/how-to/index.md
Due: none

docs(arena),examples: workflow regression suite how-to + scenario fixes (#1183)
  docs/src/content/docs/arena/how-to/index.md
  docs/src/content/docs/arena/how-to/workflow-regression.md
  examples/workflow-order-processing/scenarios/order-flow.scenario.yaml
  examples/workflow-order-processing/scenarios/validation-checks.scenario.yaml
  examples/workflow-support/scenarios/basic-flow.scenario.yaml
  examples/workflow-support/scenarios/state-assertions.scenario.yaml
Due: none

fix(arena/engine): wire workflow metadata through CompositeConversationExecutor
  examples/voice-ivr/scenarios/balance-check.scenario.yaml
  examples/voice-ivr/scenarios/handoff-to-agent.scenario.yaml
  examples/workflow-order-processing/config.arena.yaml
  examples/workflow-order-processing/scenarios/order-flow.scenario.yaml
  examples/workflow-order-processing/scenarios/validation-checks.scenario.yaml
  examples/workflow-support/config.arena.yaml
  examples/workflow-support/scenarios/basic-flow.scenario.yaml
  examples/workflow-support/scenarios/state-assertions.scenario.yaml
  tools/arena/engine/engine.go
  tools/arena/engine/execution_workflow_integration.go
  tools/arena/engine/workflow_tool_executor.go
  tools/arena/engine/workflow_tool_executor_test.go
Due: arena

test(arena/engine): cover prepareWorkflowScenario + WorkflowMetadata error path
  tools/arena/engine/workflow_tool_executor_test.go
Due: none

fix(arena/engine): wire workflow metadata through CompositeConversationExecutor (#1169) (#1184)
  examples/voice-ivr/scenarios/balance-check.scenario.yaml
  examples/voice-ivr/scenarios/handoff-to-agent.scenario.yaml
  examples/workflow-order-processing/config.arena.yaml
  examples/workflow-order-processing/scenarios/order-flow.scenario.yaml
  examples/workflow-order-processing/scenarios/validation-checks.scenario.yaml
  examples/workflow-support/config.arena.yaml
  examples/workflow-support/scenarios/basic-flow.scenario.yaml
  examples/workflow-support/scenarios/state-assertions.scenario.yaml
  tools/arena/engine/engine.go
  tools/arena/engine/execution_workflow_integration.go
  tools/arena/engine/workflow_tool_executor.go
  tools/arena/engine/workflow_tool_executor_test.go
Due: arena

feat(workflow): control: user|agent property for multi-transition turns
  runtime/workflow/transition_executor.go
  runtime/workflow/transition_executor_test.go
  runtime/workflow/types.go
  tools/arena/engine/execution_workflow_integration.go
  tools/arena/engine/workflow_tool_executor.go
  tools/arena/engine/workflow_tool_executor_test.go
Due: runtime, arena

feat(workflow): control: user|agent property for multi-transition turns (#1185)
  runtime/workflow/transition_executor.go
  runtime/workflow/transition_executor_test.go
  runtime/workflow/types.go
  tools/arena/engine/execution_workflow_integration.go
  tools/arena/engine/workflow_tool_executor.go
  tools/arena/engine/workflow_tool_executor_test.go
Due: runtime, arena

feat(examples/workflow-router): control: agent demo with multi-transition turns
  examples/workflow-router/README.md
  examples/workflow-router/config.arena.yaml
  examples/workflow-router/mock-responses.yaml
  examples/workflow-router/prompts/billing.yaml
  examples/workflow-router/prompts/routed.yaml
  examples/workflow-router/prompts/technical.yaml
  examples/workflow-router/prompts/triage.yaml
  examples/workflow-router/providers/mock-provider.yaml
  examples/workflow-router/scenarios/route-to-billing.scenario.yaml
  examples/workflow-router/scenarios/route-to-technical.scenario.yaml
Due: none

feat(schema): allow workflow control: user|agent on WorkflowState
  runtime/prompt/schema/promptpack.schema.json
Due: runtime

test(arena/web): fix data race in TestStartRun_PersistsEachRunBeforeExecuteRunsReturns
  tools/arena/web/server_test.go
Due: none

Path conditions:
  runtime: any of: runtime/, but not: **/*_test.go, **/*_interactive.go, **/*_integration.go, examples/, docs/, scripts/, .github/, *.md
  sdk: any of: sdk/, but not: **/*_test.go, **/*_interactive.go, **/*_integration.go, examples/, docs/, scripts/, .github/, *.md
  arena: any of: tools/arena/, but not: **/*_test.go, **/*_interactive.go, **/*_integration.go, examples/, docs/, scripts/, .github/, *.md
  packc: any of: tools/packc/, but not: **/*_test.go, **/*_interactive.go, **/*_integration.go, examples/, docs/, scripts/, .github/, *.md
  inspect-state: any of: tools/inspect-state/, but not: **/*_test.go, **/*_interactive.go, **/*_integration.go, examples/, docs/, scripts/, .github/, *.md
