Repository AltairaLabs/PromptKit: changes, and which Codecov flags are due for each by the changed paths.
All: runtime, sdk, arena, packc, inspect-state

codecov.yml:

codecov:
  require_ci_to_pass: yes
  notify:
    wait_for_ci: yes

coverage:
  precision: 2
  round: down
  range: "70...100"
  
  status:
    project:
      default:
        target: 70%
        threshold: 1%
        if_ci_failed: error
    patch:
      default:
        target: 70%
        threshold: 1%
        if_ci_failed: error

comment:
  layout: "reach,diff,flags,tree"
  behavior: default
  require_changes: false

flags:
  runtime:
    paths:
      - runtime/
  sdk:
    paths:
      - sdk/
  arena:
    paths:
      - tools/arena/
  packc:
    paths:
      - tools/packc/
  inspect-state:
    paths:
      - tools/inspect-state/

ignore:
  - "**/*_test.go"
  - "**/*_interactive.go"
  - "**/*_integration.go"
  - "examples/"
  - "docs/"
  - "scripts/"
  - ".github/"
  - "*.md"

feat(evals): add sdk-evals example, regex expect_match, and v1.2 schema
  examples/sdk-evals/README.md
  examples/sdk-evals/assistant.pack.json
  examples/sdk-evals/go.mod
  examples/sdk-evals/go.sum
  examples/sdk-evals/main.go
  go.work
  runtime/evals/handlers/regex.go
  runtime/prompt/schema/promptpack.schema.json
Due: runtime

chore: update go.mod/go.sum dependency versions
  examples/a2a-demo/go.mod
  examples/a2a-demo/go.sum
  pkg/go.mod
  pkg/go.sum
  sdk/go.mod
  sdk/go.sum
  tools/arena/go.mod
  tools/arena/go.sum
  tools/inspect-state/go.mod
  tools/inspect-state/go.sum
  tools/packc/go.mod
  tools/packc/go.sum
  tools/schema-gen/go.mod
  tools/schema-gen/go.sum
Due: sdk, arena, packc, inspect-state

fix: resolve line-length linting violations in registry.go and main_interactive.go
  pkg/config/types.go
  runtime/prompt/pack.go
  runtime/prompt/pack_test.go
  runtime/prompt/registry.go
  schemas/v1alpha1/arena.json
  schemas/v1alpha1/promptconfig.json
  tools/packc/main_interactive.go
  tools/packc/spec_compliance_test.go
Due: runtime

chore: regenerate JSON schemas with make schemas
  schemas/v1alpha1/arena.json
  schemas/v1alpha1/promptconfig.json
Due: none

feat(packc): add v1.3 workflow and agents support
  pkg/config/types.go
  runtime/prompt/pack.go
  runtime/prompt/schema/promptpack.schema.json
  schemas/v1alpha1/arena.json
  sdk/internal/pack/load.go
  tools/packc/main.go
  tools/packc/main_interactive.go
  tools/packc/main_test.go
  tools/packc/spec_compliance_test.go
Due: runtime, sdk, packc

chore: regenerate JSON schemas with make schemas
  schemas/v1alpha1/arena.json
Due: none

feat(packc): add v1.3 workflow and agents support (#346)
  pkg/config/types.go
  runtime/prompt/pack.go
  runtime/prompt/schema/promptpack.schema.json
  schemas/v1alpha1/arena.json
  sdk/internal/pack/load.go
  tools/packc/main.go
  tools/packc/main_interactive.go
  tools/packc/main_test.go
  tools/packc/spec_compliance_test.go
Due: runtime, sdk, packc

feat: add agent card generation and deploy config (#332, #336)
  pkg/config/types.go
  pkg/config/types_test.go
  runtime/prompt/agentcard/agentcard.go
  runtime/prompt/agentcard/agentcard_test.go
  schemas/v1alpha1/arena.json
Due: runtime

feat: add agent tool resolver and deploy state persistence (#333, #337)
  runtime/deploy/state.go
  runtime/deploy/state_test.go
  sdk/agent_resolver.go
  sdk/agent_resolver_test.go
Due: runtime, sdk

feat: agent cards, deploy config, tool resolver, deploy state (#347)
  pkg/config/types.go
  pkg/config/types_test.go
  runtime/deploy/state.go
  runtime/deploy/state_test.go
  runtime/prompt/agentcard/agentcard.go
  runtime/prompt/agentcard/agentcard_test.go
  schemas/v1alpha1/arena.json
  sdk/agent_resolver.go
  sdk/agent_resolver_test.go
Due: runtime, sdk

feat: deploy protocol, adapter manager, and CLI commands
  runtime/deploy/manager.go
  runtime/deploy/manager_test.go
  runtime/deploy/provider.go
  runtime/deploy/provider_test.go
  tools/arena/cmd/promptarena/deploy_interactive.go
Due: runtime

feat: adapter SDK and adapter management CLI commands
  runtime/deploy/adaptersdk/helpers.go
  runtime/deploy/adaptersdk/helpers_test.go
  runtime/deploy/adaptersdk/serve.go
  runtime/deploy/adaptersdk/serve_test.go
  tools/arena/cmd/promptarena/deploy_adapter_interactive.go
  tools/arena/cmd/promptarena/deploy_adapter_test.go
Due: runtime

feat: adapter client and wired-up deploy CLI commands
  runtime/deploy/client.go
  runtime/deploy/client_test.go
  tools/arena/cmd/promptarena/deploy_interactive.go
Due: runtime

docs: add deploy framework documentation
  docs/astro.config.mjs
  docs/public/d2/docs/deploy/explanation/adapter-architecture-0.svg
  docs/public/d2/docs/deploy/index-0.svg
  docs/src/content/docs/deploy/explanation/adapter-architecture.md
  docs/src/content/docs/deploy/explanation/index.md
  docs/src/content/docs/deploy/explanation/state-management.md
  docs/src/content/docs/deploy/how-to/ci-cd-integration.md
  docs/src/content/docs/deploy/how-to/configure-deploy.md
  docs/src/content/docs/deploy/how-to/index.md
  docs/src/content/docs/deploy/how-to/install-adapters.md
  docs/src/content/docs/deploy/how-to/plan-and-apply.md
  docs/src/content/docs/deploy/index.md
  docs/src/content/docs/deploy/reference/adapter-sdk.md
  docs/src/content/docs/deploy/reference/cli-commands.md
  docs/src/content/docs/deploy/reference/index.md
  docs/src/content/docs/deploy/reference/protocol.md
  docs/src/content/docs/deploy/tutorials/01-first-deployment.md
  docs/src/content/docs/deploy/tutorials/02-multi-environment.md
  docs/src/content/docs/deploy/tutorials/index.md
Due: none

docs: add deploy framework documentation (#361)
  docs/astro.config.mjs
  docs/public/d2/docs/deploy/explanation/adapter-architecture-0.svg
  docs/public/d2/docs/deploy/index-0.svg
  docs/src/content/docs/deploy/explanation/adapter-architecture.md
  docs/src/content/docs/deploy/explanation/index.md
  docs/src/content/docs/deploy/explanation/state-management.md
  docs/src/content/docs/deploy/how-to/ci-cd-integration.md
  docs/src/content/docs/deploy/how-to/configure-deploy.md
  docs/src/content/docs/deploy/how-to/index.md
  docs/src/content/docs/deploy/how-to/install-adapters.md
  docs/src/content/docs/deploy/how-to/plan-and-apply.md
  docs/src/content/docs/deploy/index.md
  docs/src/content/docs/deploy/reference/adapter-sdk.md
  docs/src/content/docs/deploy/reference/cli-commands.md
  docs/src/content/docs/deploy/reference/index.md
  docs/src/content/docs/deploy/reference/protocol.md
  docs/src/content/docs/deploy/tutorials/01-first-deployment.md
  docs/src/content/docs/deploy/tutorials/02-multi-environment.md
  docs/src/content/docs/deploy/tutorials/index.md
Due: none

feat: RFC007 agents validation and multi-agent tool resolution
  runtime/prompt/pack.go
  runtime/prompt/pack_test.go
  sdk/agent_resolver.go
  sdk/agent_resolver_test.go
  sdk/conversation.go
  sdk/conversation_tools.go
  sdk/internal/pack/load.go
  sdk/internal/pack/validate.go
  sdk/internal/pack/validate_test.go
  sdk/options.go
  sdk/sdk.go
Due: runtime, sdk

feat: RFC007 agents validation and multi-agent tool resolution (#381)
  runtime/prompt/pack.go
  runtime/prompt/pack_test.go
  sdk/agent_resolver.go
  sdk/agent_resolver_test.go
  sdk/conversation.go
  sdk/conversation_tools.go
  sdk/internal/pack/load.go
  sdk/internal/pack/validate.go
  sdk/internal/pack/validate_test.go
  sdk/options.go
  sdk/sdk.go
Due: runtime, sdk

feat: RFC007 multi-agent orchestration, arena assertions, and deploy helpers (#378, #379, #380)
  runtime/deploy/adaptersdk/agents.go
  runtime/deploy/adaptersdk/agents_test.go
  sdk/conversation_tools.go
  sdk/local_agent_executor.go
  sdk/local_agent_executor_integration.go
  sdk/local_agent_executor_test.go
  sdk/multi_agent.go
  sdk/multi_agent_integration.go
  sdk/multi_agent_test.go
  sdk/options.go
  sonar-project.properties
  tools/arena/assertions/agent_invoked.go
  tools/arena/assertions/agent_invoked_conversation.go
  tools/arena/assertions/agent_invoked_conversation_test.go
  tools/arena/assertions/agent_invoked_test.go
  tools/arena/assertions/agent_not_invoked.go
  tools/arena/assertions/agent_not_invoked_conversation.go
  tools/arena/assertions/agent_not_invoked_conversation_test.go
  tools/arena/assertions/agent_not_invoked_test.go
  tools/arena/assertions/agent_response_contains.go
  tools/arena/assertions/agent_response_contains_test.go
  tools/arena/assertions/conversation_registry.go
  tools/arena/assertions/registry.go
  tools/arena/assertions/tool_calls_with_args.go
  tools/arena/assertions/tools_called.go
  tools/arena/assertions/tools_not_called.go
Due: runtime, sdk, arena

feat: RFC007 multi-agent orchestration, arena assertions, and deploy helpers (#378, #379, #380) (#382)
  runtime/deploy/adaptersdk/agents.go
  runtime/deploy/adaptersdk/agents_test.go
  sdk/conversation_tools.go
  sdk/local_agent_executor.go
  sdk/local_agent_executor_integration.go
  sdk/local_agent_executor_test.go
  sdk/multi_agent.go
  sdk/multi_agent_integration.go
  sdk/multi_agent_test.go
  sdk/options.go
  sonar-project.properties
  tools/arena/assertions/agent_invoked.go
  tools/arena/assertions/agent_invoked_conversation.go
  tools/arena/assertions/agent_invoked_conversation_test.go
  tools/arena/assertions/agent_invoked_test.go
  tools/arena/assertions/agent_not_invoked.go
  tools/arena/assertions/agent_not_invoked_conversation.go
  tools/arena/assertions/agent_not_invoked_conversation_test.go
  tools/arena/assertions/agent_not_invoked_test.go
  tools/arena/assertions/agent_response_contains.go
  tools/arena/assertions/agent_response_contains_test.go
  tools/arena/assertions/conversation_registry.go
  tools/arena/assertions/registry.go
  tools/arena/assertions/tool_calls_with_args.go
  tools/arena/assertions/tools_called.go
  tools/arena/assertions/tools_not_called.go
Due: runtime, sdk, arena

feat: enhance Arena HTML report with A2A agent details and brand refresh
  tools/arena/cmd/promptarena/run.go
  tools/arena/cmd/promptarena/run_test.go
  tools/arena/engine/execution.go
  tools/arena/engine/types.go
  tools/arena/render/html.go
  tools/arena/render/templates/report.html.tmpl
  tools/arena/statestore/metadata.go
  tools/arena/statestore/store.go
Due: arena

test: add coverage for A2A agent rendering and conversion functions
  tools/arena/engine/execution_helpers_test.go
  tools/arena/render/html_test.go
Due: none

feat: enhance Arena HTML report with A2A agent details and brand refresh (#383)
  tools/arena/cmd/promptarena/run.go
  tools/arena/cmd/promptarena/run_test.go
  tools/arena/engine/execution.go
  tools/arena/engine/execution_helpers_test.go
  tools/arena/engine/types.go
  tools/arena/render/html.go
  tools/arena/render/html_test.go
  tools/arena/render/templates/report.html.tmpl
  tools/arena/statestore/metadata.go
  tools/arena/statestore/store.go
Due: arena

docs: update diagrams, multi-agent docs, and add multi-agent demo example
  docs/public/d2/docs/runtime/explanation/pipeline-architecture-1.svg
  docs/public/d2/docs/sdk/explanation/architecture-0.svg
  docs/public/d2/docs/sdk/explanation/architecture-1.svg
  docs/public/d2/docs/sdk/explanation/architecture-2.svg
  docs/src/content/docs/arena/how-to/test-a2a-agents.md
  docs/src/content/docs/arena/reference/assertions.md
  examples/multi-agent-demo/README.md
  examples/multi-agent-demo/config.arena.yaml
  examples/multi-agent-demo/mock-responses.yaml
  examples/multi-agent-demo/prompts/assistant.yaml
  examples/multi-agent-demo/providers/mock-provider.yaml
  examples/multi-agent-demo/scenarios/multi-agent-delegation.yaml
Due: none

docs: update diagrams, multi-agent docs, and add multi-agent demo example (#384)
  docs/public/d2/docs/runtime/explanation/pipeline-architecture-1.svg
  docs/public/d2/docs/sdk/explanation/architecture-0.svg
  docs/public/d2/docs/sdk/explanation/architecture-1.svg
  docs/public/d2/docs/sdk/explanation/architecture-2.svg
  docs/src/content/docs/arena/how-to/test-a2a-agents.md
  docs/src/content/docs/arena/reference/assertions.md
  examples/multi-agent-demo/README.md
  examples/multi-agent-demo/config.arena.yaml
  examples/multi-agent-demo/mock-responses.yaml
  examples/multi-agent-demo/prompts/assistant.yaml
  examples/multi-agent-demo/providers/mock-provider.yaml
  examples/multi-agent-demo/scenarios/multi-agent-delegation.yaml
Due: none

ci: notify downstream repos on release
  .github/workflows/release.yml
Due: none

feat: RFC005 workflow types, validation, state machine, and pack integration (#362-365, #367)
  runtime/prompt/pack.go
  runtime/prompt/pack_test.go
  runtime/workflow/context.go
  runtime/workflow/context_test.go
  runtime/workflow/machine.go
  runtime/workflow/machine_test.go
  runtime/workflow/types.go
  runtime/workflow/types_test.go
  runtime/workflow/validate.go
  runtime/workflow/validate_test.go
  sdk/internal/pack/load.go
  sdk/internal/pack/validate.go
  sdk/internal/pack/validate_test.go
  sdk/internal/pack/workflow.go
Due: runtime, sdk

feat: RFC005 packc workflow validation and SDK OpenWorkflow (#366, #368)
  runtime/prompt/pack.go
  runtime/prompt/pack_test.go
  sdk/errors.go
  sdk/workflow.go
  sdk/workflow_test.go
  tools/packc/main_interactive.go
  tools/packc/main_test.go
  tools/packc/spec_compliance_test.go
Due: runtime, sdk

feat: RFC005 Wave 4 — event bus, context carry-forward, persistence, and Arena workflow scenarios (#369, #370, #372, #373)
  runtime/events/emitter.go
  runtime/events/emitter_test.go
  runtime/events/store.go
  runtime/events/types.go
  sdk/options.go
  sdk/workflow.go
  sdk/workflow_integration.go
  sdk/workflow_test.go
  tools/arena/workflow/assertions_integration.go
  tools/arena/workflow/errors.go
  tools/arena/workflow/example_scenario.yaml
  tools/arena/workflow/executor.go
  tools/arena/workflow/executor_test.go
  tools/arena/workflow/types.go
  tools/arena/workflow/types_test.go
Due: runtime, sdk, arena

feat: RFC005 Wave 5 — workflow assertions, external orchestration (#371, #374)
  sdk/examples/workflow-external/main.go
  sdk/workflow.go
  sdk/workflow_test.go
  tools/arena/assertions/conversation_registry.go
  tools/arena/assertions/workflow_assertions_test.go
  tools/arena/assertions/workflow_complete.go
  tools/arena/assertions/workflow_state_is.go
  tools/arena/assertions/workflow_transitioned_to.go
  tools/arena/workflow/assertions_integration.go
  tools/arena/workflow/executor.go
  tools/arena/workflow/executor_test.go
Due: sdk, arena

docs: add workflow documentation across pack format, SDK, Arena, and PackC references
  docs/src/content/docs/arena/reference/assertions.md
  docs/src/content/docs/arena/reference/scenario-format.md
  docs/src/content/docs/concepts/state-management.md
  docs/src/content/docs/packc/explanation/pack-format.md
  docs/src/content/docs/packc/explanation/validation.md
  docs/src/content/docs/packc/reference/validate.md
  docs/src/content/docs/sdk/index.md
Due: none

feat: add namespaced tools with double-underscore convention
  examples/a2a-demo/arena/mock-responses.yaml
  examples/a2a-demo/arena/prompts/assistant.yaml
  examples/a2a-demo/arena/scenarios/delegated_research.yaml
  examples/multi-agent-demo/mock-responses.yaml
  examples/multi-agent-demo/prompts/assistant.yaml
  examples/multi-agent-demo/scenarios/multi-agent-delegation.yaml
  runtime/a2a/bridge.go
  runtime/a2a/bridge_test.go
  runtime/a2a/executor_test.go
  runtime/tools/mcp_executor.go
  runtime/tools/registry.go
  runtime/tools/registry_test.go
  runtime/tools/types.go
  runtime/tools/types_test.go
  sdk/agent_resolver.go
  sdk/agent_resolver_test.go
  sdk/conversation_tools.go
  sdk/mcp_test.go
  sdk/sdk_a2a_test.go
  sdk/tool_executors.go
  tools/arena/engine/builder_integration.go
  tools/arena/render/html.go
  tools/arena/render/html_test.go
Due: runtime, sdk, arena

docs: update tool naming convention to double-underscore namespace format
  docs/src/content/docs/arena/how-to/test-a2a-agents.md
  docs/src/content/docs/arena/reference/assertions.md
  docs/src/content/docs/runtime/how-to/use-a2a-tool-bridge.md
  docs/src/content/docs/runtime/reference/a2a.md
Due: none

feat: integrate workflow executor into Arena engine with example scenarios
  examples/workflow-order-processing/README.md
  examples/workflow-order-processing/config.arena.yaml
  examples/workflow-order-processing/mock-responses.yaml
  examples/workflow-order-processing/order.pack.json
  examples/workflow-order-processing/prompts/order-workflow.yaml
  examples/workflow-order-processing/providers/mock-provider.yaml
  examples/workflow-order-processing/scenarios/order-flow.scenario.yaml
  examples/workflow-order-processing/scenarios/validation-checks.scenario.yaml
  examples/workflow-support/README.md
  examples/workflow-support/config.arena.yaml
  examples/workflow-support/mock-responses.yaml
  examples/workflow-support/prompts/support-workflow.yaml
  examples/workflow-support/providers/mock-provider.yaml
  examples/workflow-support/scenarios/basic-flow.scenario.yaml
  examples/workflow-support/scenarios/state-assertions.scenario.yaml
  examples/workflow-support/support.pack.json
  pkg/config/loader.go
  pkg/config/types.go
  schemas/v1alpha1/scenario.json
  tools/arena/assertions/content_includes_conversation.go
  tools/arena/assertions/content_includes_conversation_test.go
  tools/arena/assertions/content_matches_conversation.go
  tools/arena/assertions/content_matches_conversation_test.go
  tools/arena/assertions/conversation_registry.go
  tools/arena/engine/execution.go
  tools/arena/engine/execution_workflow_integration.go
  tools/arena/engine/workflow_driver_integration.go
Due: arena

feat: make workflow transitions LLM-initiated via tool calls
  examples/workflow-order-processing/mock-responses.yaml
  examples/workflow-order-processing/scenarios/order-flow.scenario.yaml
  examples/workflow-order-processing/scenarios/validation-checks.scenario.yaml
  examples/workflow-support/mock-responses.yaml
  examples/workflow-support/scenarios/basic-flow.scenario.yaml
  examples/workflow-support/scenarios/state-assertions.scenario.yaml
  tools/arena/engine/execution_workflow_integration.go
  tools/arena/engine/workflow_driver_integration.go
  tools/arena/render/html.go
  tools/arena/render/templates/report.html.tmpl
  tools/arena/workflow/assertions_integration.go
  tools/arena/workflow/executor.go
  tools/arena/workflow/executor_test.go
  tools/arena/workflow/types.go
  tools/arena/workflow/types_test.go
Due: arena

fix: resolve flaky test by matching events by type instead of delivery order
  sdk/capability_workflow.go
  sdk/options.go
  sdk/workflow.go
  sdk/workflow_test.go
Due: sdk

feat: refactor A2A tool registration into A2ACapability
  CLAUDE.md
  sdk/capability.go
  sdk/capability_a2a.go
  sdk/capability_a2a_test.go
  sdk/capability_test.go
  sdk/capability_workflow_test.go
  sdk/conversation.go
  sdk/conversation_tools.go
  sdk/sdk.go
  sdk/sdk_a2a_test.go
Due: sdk

fix: add missing workflow files and regenerate schemas for CI
  docs/src/content/docs/arena/reference/assertions.md
  docs/src/content/docs/arena/reference/scenario-format.md
  examples/workflow-support/sdk-example/README.md
  examples/workflow-support/sdk-example/go.mod
  examples/workflow-support/sdk-example/go.sum
  examples/workflow-support/sdk-example/main.go
  go.work
  pkg/config/types.go
  runtime/workflow/transition_tool.go
  runtime/workflow/transition_tool_test.go
  schemas/v1alpha1/scenario.json
  tools/arena/engine/execution_workflow_integration.go
  tools/arena/engine/workflow_driver_integration.go
  tools/schema-gen/generators/scenario.go
Due: runtime

feat: add distributed trace context propagation to A2A boundaries
  runtime/a2a/client.go
  runtime/a2a/client_test.go
  runtime/telemetry/trace_context.go
  runtime/telemetry/trace_context_test.go
  sdk/a2a_server.go
  sdk/a2a_server_test.go
Due: runtime, sdk

feat: add distributed trace context propagation to A2A boundaries (#386)
  runtime/a2a/client.go
  runtime/a2a/client_test.go
  runtime/telemetry/trace_context.go
  runtime/telemetry/trace_context_test.go
  sdk/a2a_server.go
  sdk/a2a_server_test.go
Due: runtime, sdk
