Repository AltairaLabs/PromptKit: changes, and which Codecov flags are due for each by the changed paths.
All: runtime, sdk, arena, packc, inspect-state

feat: add per-provider credential configuration
  docs/src/content/docs/arena/examples/cloud-providers.md
  docs/src/content/docs/arena/examples/index.md
  docs/src/content/docs/arena/reference/config-schema.md
  docs/src/content/docs/concepts/providers.md
  docs/src/content/docs/runtime/reference/providers.md
  pkg/config/types.go
  runtime/credentials/aws_integration.go
  runtime/credentials/azure_integration.go
  runtime/credentials/credential.go
  runtime/credentials/gcp_integration.go
  runtime/credentials/resolver.go
  runtime/credentials/resolver_platform_integration.go
  runtime/credentials/resolver_test.go
  runtime/go.mod
  runtime/go.sum
  runtime/providers/claude/claude.go
  runtime/providers/claude/claude_streaming.go
  runtime/providers/claude/claude_tools.go
  runtime/providers/gemini/gemini.go
  runtime/providers/gemini/gemini_tools.go
  runtime/providers/openai/openai.go
  runtime/providers/openai/openai_tools.go
  runtime/providers/registry.go
  schemas/v1alpha1/provider.json
  sdk/options.go
  tools/arena/engine/builder_integration.go
Due: runtime, sdk

chore: regenerate provider schema from Go types
  schemas/v1alpha1/provider.json
Due: none

test: add more coverage for credential resolution
  runtime/credentials/resolver_test.go
Due: none

test: add unit tests for SDK credential and platform options
  sdk/options_test.go
Due: none

test: add unit tests for NewProviderWithCredential in all providers
  runtime/providers/claude/claude_test.go
  runtime/providers/gemini/gemini_test.go
  runtime/providers/openai/openai_test.go
Due: none

test: add tests for NewToolProviderWithCredential in all providers
  runtime/providers/claude/claude_tools_test.go
  runtime/providers/gemini/gemini_tools_test.go
  runtime/providers/openai/openai_tools_test.go
Due: none

feat: per-provider credential configuration (#237)
  docs/src/content/docs/arena/examples/cloud-providers.md
  docs/src/content/docs/arena/examples/index.md
  docs/src/content/docs/arena/reference/config-schema.md
  docs/src/content/docs/concepts/providers.md
  docs/src/content/docs/runtime/reference/providers.md
  pkg/config/types.go
  runtime/credentials/aws_integration.go
  runtime/credentials/azure_integration.go
  runtime/credentials/credential.go
  runtime/credentials/gcp_integration.go
  runtime/credentials/resolver.go
  runtime/credentials/resolver_platform_integration.go
  runtime/credentials/resolver_test.go
  runtime/go.mod
  runtime/go.sum
  runtime/providers/claude/claude.go
  runtime/providers/claude/claude_streaming.go
  runtime/providers/claude/claude_test.go
  runtime/providers/claude/claude_tools.go
  runtime/providers/claude/claude_tools_test.go
  runtime/providers/gemini/gemini.go
  runtime/providers/gemini/gemini_test.go
  runtime/providers/gemini/gemini_tools.go
  runtime/providers/gemini/gemini_tools_test.go
  runtime/providers/openai/openai.go
  runtime/providers/openai/openai_test.go
  runtime/providers/openai/openai_tools.go
  runtime/providers/openai/openai_tools_test.go
  runtime/providers/registry.go
  schemas/v1alpha1/provider.json
  sdk/options.go
  sdk/options_test.go
  tools/arena/engine/builder_integration.go
Due: runtime, sdk

feat(openai): core implementation of Responses API
  Makefile
  runtime/pipeline/stage/stages_provider.go
  runtime/providers/claude/claude.go
  runtime/providers/claude/claude_multimodal.go
  runtime/providers/claude/claude_streaming.go
  runtime/providers/claude/claude_tools.go
  runtime/providers/gemini/gemini.go
  runtime/providers/gemini/gemini_tools.go
  runtime/providers/openai/openai.go
  runtime/providers/openai/openai_tools.go
  tools/arena/cmd/promptarena/run.go
Due: runtime, arena

fix(streaming): add tool call support to Claude and fix Responses API
  runtime/providers/claude/claude_streaming.go
  runtime/providers/openai/openai_responses_integration.go
  runtime/providers/openai/openai_tools_test.go
Due: runtime

fix(multimodal): add image support to Claude and Gemini tool providers, fix OpenAI Responses API format
  runtime/providers/claude/claude_tools.go
  runtime/providers/gemini/gemini_tools.go
  runtime/providers/openai/openai_responses_integration.go
Due: runtime

fix(media): respect explicit MIME type for URL-based media content
  examples/capability-matrix/scenarios/audio.scenario.yaml
  tools/arena/turnexecutors/media_loader.go
Due: arena

docs(capability-matrix): add capability tracking and fix GPT-5 providers
  examples/capability-matrix/CAPABILITIES.md
  examples/capability-matrix/config.arena.yaml
  examples/capability-matrix/providers/openai-gpt4o-audio.provider.yaml
  examples/capability-matrix/providers/openai-gpt4o-mini-audio.provider.yaml
  examples/capability-matrix/providers/openai-gpt5-mini.provider.yaml
  examples/capability-matrix/providers/openai-gpt5-nano.provider.yaml
  examples/capability-matrix/providers/openai-gpt5-pro.provider.yaml
  examples/capability-matrix/providers/openai-gpt5.provider.yaml
  examples/capability-matrix/providers/openai-gpt52-pro.provider.yaml
Due: none

feat(media): add audio conversion and comprehensive tests
  examples/capability-matrix/CAPABILITIES.md
  examples/capability-matrix/config.arena.yaml
  examples/capability-matrix/providers/openai-gpt4o-audio.provider.yaml
  examples/capability-matrix/providers/openai-gpt4o-mini-audio.provider.yaml
  runtime/media/audio_converter.go
  runtime/media/audio_converter_integration.go
  runtime/media/audio_converter_test.go
  runtime/media/convert_integration.go
  runtime/media/convert_integration_test.go
  runtime/pipeline/stage/stages_media_convert.go
  runtime/pipeline/stage/stages_media_convert_test.go
  runtime/providers/openai/openai.go
  runtime/providers/openai/openai_multimodal.go
  runtime/providers/openai/openai_multimodal_test.go
  runtime/providers/openai/openai_test.go
Due: runtime

feat(arena): integrate MediaConvertStage for automatic format conversion
  tools/arena/turnexecutors/media_loader_coverage_test.go
  tools/arena/turnexecutors/media_loader_http_test.go
  tools/arena/turnexecutors/pipeline_executor.go
  tools/arena/turnexecutors/pipeline_executor_helpers_test.go
Due: arena

test: add message part conversion tests to stages_media_convert
  examples/capability-matrix/scenarios/audio.scenario.yaml
  runtime/pipeline/stage/stages_media_convert.go
  runtime/pipeline/stage/stages_media_convert_test.go
Due: runtime

feat(media): implement image format conversion in MediaConvertStage
  runtime/pipeline/stage/stages_media_convert.go
  runtime/pipeline/stage/stages_media_convert_test.go
Due: runtime

fix(capability-matrix): simplify assertions and fix audio provider capabilities
  examples/capability-matrix/config.arena.yaml
  examples/capability-matrix/providers/openai-gpt4o-audio.provider.yaml
  examples/capability-matrix/providers/openai-gpt4o-mini-audio.provider.yaml
  examples/capability-matrix/scenarios/audio.scenario.yaml
  examples/capability-matrix/scenarios/streaming-tools-vision.scenario.yaml
  examples/capability-matrix/scenarios/streaming-tools.scenario.yaml
  examples/capability-matrix/scenarios/tools-vision.scenario.yaml
  examples/capability-matrix/scenarios/tools.scenario.yaml
Due: none

feat(capability-matrix): add Ollama Llama 3.2 3B provider
  examples/capability-matrix/config.arena.yaml
  examples/capability-matrix/providers/ollama-llama32-3b.provider.yaml
  examples/capability-matrix/scenarios/audio.scenario.yaml
  examples/capability-matrix/scenarios/json-mode.scenario.yaml
  examples/capability-matrix/scenarios/streaming-vision.scenario.yaml
  examples/capability-matrix/scenarios/streaming.scenario.yaml
  examples/capability-matrix/scenarios/text-basic.scenario.yaml
  examples/capability-matrix/scenarios/video.scenario.yaml
  examples/capability-matrix/scenarios/vision.scenario.yaml
Due: none

docs(arena): add capability filtering and tool policy documentation
  docs/src/content/docs/arena/how-to/configure-providers.md
  docs/src/content/docs/arena/how-to/write-scenarios.md
  docs/src/content/docs/arena/reference/assertions.md
Due: none

fix(tests): fix Claude top_p and ffmpeg availability tests
  runtime/pipeline/stage/stages_media_convert_test.go
  runtime/providers/claude/claude_tools_test.go
Due: none

test(arena): add coverage tests for tool_calls_with_args validators
  tools/arena/assertions/tool_calls_with_args_conversation_test.go
  tools/arena/assertions/tool_calls_with_args_test.go
Due: none

feat(templates): add variable binding for system resource integration (#250)
  runtime/prompt/registry.go
  sdk/internal/pack/load.go
  sdk/internal/pack/load_test.go
  tools/arena/templates/templates_test.go
  tools/arena/templates/types.go
Due: runtime, sdk, arena

feat(templates): add variable binding for system resource integration (#250) (#251)
  runtime/prompt/registry.go
  sdk/internal/pack/load.go
  sdk/internal/pack/load_test.go
  tools/arena/templates/templates_test.go
  tools/arena/templates/types.go
Due: runtime, sdk, arena

ci: add quality gate bypass for dependabot PRs
  .github/workflows/dependabot-gate.yml
Due: none

ci: add quality gate bypass for dependabot PRs (#269)
  .github/workflows/dependabot-gate.yml
Due: none

ci: use branch name instead of actor for dependabot detection
  .github/workflows/dependabot-gate.yml
Due: none

ci: use branch name for dependabot detection in quality gate
  .github/workflows/dependabot-gate.yml
Due: none

ci: use branch name for dependabot detection in quality gate (#271)
  .github/workflows/dependabot-gate.yml
Due: none

feat(a2a): add A2A protocol types and in-memory task store (#258, #260)
  runtime/a2a/task_store.go
  runtime/a2a/task_store_test.go
  runtime/a2a/types.go
  runtime/a2a/types_test.go
Due: runtime

feat(a2a): add A2A protocol types and in-memory task store (#258, #260) (#272)
  runtime/a2a/task_store.go
  runtime/a2a/task_store_test.go
  runtime/a2a/types.go
  runtime/a2a/types_test.go
Due: runtime

feat(a2a): add bidirectional Part translation between A2A and PromptKit (#259)
  runtime/a2a/parts.go
  runtime/a2a/parts_test.go
Due: runtime

feat(a2a): add bidirectional Part translation between A2A and PromptKit (#259) (#273)
  runtime/a2a/parts.go
  runtime/a2a/parts_test.go
Due: runtime

feat(a2a): add HTTP client for calling external A2A agents (#261)
  runtime/a2a/client.go
  runtime/a2a/client_test.go
Due: runtime

feat(a2a): add HTTP client for calling external A2A agents (#261) (#274)
  runtime/a2a/client.go
  runtime/a2a/client_test.go
Due: runtime

feat(a2a): add A2A HTTP server wrapping Conversation as JSON-RPC endpoint (#262)
  runtime/a2a/server.go
  runtime/a2a/server_test.go
Due: runtime

feat(a2a): add A2A HTTP server wrapping Conversation as JSON-RPC endpoint (#262) (#275)
  runtime/a2a/server.go
  runtime/a2a/server_test.go
Due: runtime

feat(a2a): add message/stream and tasks/subscribe SSE support (#263)
  runtime/a2a/server.go
  runtime/a2a/server_stream.go
  runtime/a2a/server_stream_test.go
  runtime/a2a/types.go
Due: runtime

Path conditions:
  runtime: any of: runtime/, but not: **/*_test.go, **/*_interactive.go, **/*_integration.go, examples/, docs/, scripts/, .github/, *.md
  sdk: any of: sdk/, but not: **/*_test.go, **/*_interactive.go, **/*_integration.go, examples/, docs/, scripts/, .github/, *.md
  arena: any of: tools/arena/, but not: **/*_test.go, **/*_interactive.go, **/*_integration.go, examples/, docs/, scripts/, .github/, *.md
  packc: any of: tools/packc/, but not: **/*_test.go, **/*_interactive.go, **/*_integration.go, examples/, docs/, scripts/, .github/, *.md
  inspect-state: any of: tools/inspect-state/, but not: **/*_test.go, **/*_interactive.go, **/*_integration.go, examples/, docs/, scripts/, .github/, *.md
