Repository AltairaLabs/PromptKit: changes, and which Codecov flags are due for each by the changed paths.
All: runtime, sdk, arena, packc, inspect-state

fix(arena): route to VAD when --voice-stt set (OpenAI provider implements StreamInputSupport unconditionally)
  tools/arena/engine/duplex_interactive.go
  tools/arena/engine/duplex_interactive_test.go
Due: none

fix(arena/tui): init revealed root on splash dismiss (fixes chat deep-link); thread inspect flags; cleanup activated map
  tools/arena/cmd/promptarena/config_inspect_interactive.go
  tools/arena/tui/app/app.go
  tools/arena/tui/app/app_test.go
  tools/arena/tui/app/inspectpage.go
  tools/arena/tui/app/inspectpage_test.go
  tools/arena/tui/app/launch_interactive.go
Due: arena

test(arena/tui): cover pop-activates-root; annotate retained audio surface (#1460)
  tools/arena/tui/app/activate_test.go
  tools/arena/tui/tui.go
Due: arena

feat(arena/tui): async page activation + lazy engine on AppContext
  tools/arena/tui/app/activate.go
  tools/arena/tui/app/activate_test.go
  tools/arena/tui/app/app.go
  tools/arena/tui/app/engine.go
  tools/arena/tui/app/engine_test.go
  tools/arena/tui/app/launch_interactive.go
Due: arena

fix(arena/inspect): restore --verbose/--section/--stats gating in text output
  tools/arena/cmd/promptarena/config_inspect_collector_interactive.go
  tools/arena/cmd/promptarena/config_inspect_renderer_interactive.go
  tools/arena/cmd/promptarena/config_inspect_test.go
  tools/arena/inspect/collector.go
  tools/arena/inspect/inspect_test.go
  tools/arena/inspect/renderer.go
  tools/arena/inspect/types.go
  tools/arena/tui/app/inspectpage.go
Due: arena

refactor(arena/tui): drop unused ChatPage.send field; fix test comment
  tools/arena/tui/app/chatpage.go
  tools/arena/tui/app/chatpage_test.go
Due: arena

feat(arena/tui): InspectPage + extract inspect collector/renderer package
  tools/arena/cmd/promptarena/config_inspect_collector_interactive.go
  tools/arena/cmd/promptarena/config_inspect_interactive.go
  tools/arena/cmd/promptarena/config_inspect_renderer_interactive.go
  tools/arena/cmd/promptarena/config_inspect_test.go
  tools/arena/cmd/promptarena/config_inspect_types_interactive.go
  tools/arena/inspect/collector.go
  tools/arena/inspect/inspect_test.go
  tools/arena/inspect/renderer.go
  tools/arena/inspect/test_init.go
  tools/arena/inspect/types.go
  tools/arena/tui/app/inspectpage.go
  tools/arena/tui/app/inspectpage_test.go
Due: arena

feat(arena/tui): wire Run/Chat/Inspect into Home + deep-link chat/config-inspect (#1455)
  tools/arena/cmd/promptarena/chat_interactive.go
  tools/arena/cmd/promptarena/config_inspect_interactive.go
  tools/arena/cmd/promptarena/config_inspect_renderer_interactive.go
  tools/arena/cmd/promptarena/config_inspect_test.go
  tools/arena/tui/app/config.go
  tools/arena/tui/app/menu.go
  tools/arena/tui/app/menu_test.go
  tools/arena/tui/app/runpage.go
Due: arena

test(arena/tui): assert non-root after push; note splash append bypass
  tools/arena/tui/app/activate_test.go
  tools/arena/tui/app/launch_interactive.go
Due: none

feat(arena/tui): RunPage with live progress; route run through hub; strip tui.go page routing
  tools/arena/cmd/promptarena/run_interactive.go
  tools/arena/tui/app/app.go
  tools/arena/tui/app/runpage.go
  tools/arena/tui/app/runpage_test.go
  tools/arena/tui/app/testdata/TestGoldenRunPage/120x40.golden
  tools/arena/tui/app/testdata/TestGoldenRunPage/80x24.golden
  tools/arena/tui/app/testdata/run-config/config.arena.yaml
  tools/arena/tui/app/testdata/run-config/prompts/basic.yaml
  tools/arena/tui/app/testdata/run-config/providers/mock.provider.yaml
  tools/arena/tui/app/testdata/run-config/scenarios/greeting.scenario.yaml
  tools/arena/tui/event_adapter.go
  tools/arena/tui/event_adapter_test.go
  tools/arena/tui/golden_test.go
  tools/arena/tui/integration_test.go
  tools/arena/tui/model_messages_test.go
  tools/arena/tui/testdata/TestGoldenConversationPage/100x30.golden
  tools/arena/tui/testdata/TestGoldenConversationPage/120x40.golden
  tools/arena/tui/testdata/TestGoldenConversationPage/160x50.golden
  tools/arena/tui/testdata/TestGoldenConversationPage/60x20.golden
  tools/arena/tui/testdata/TestGoldenConversationPage/80x24.golden
  tools/arena/tui/testdata/TestGoldenMainPage/100x30.golden
  tools/arena/tui/testdata/TestGoldenMainPage/160x50.golden
  tools/arena/tui/testdata/TestGoldenMainPage/60x20.golden
  tools/arena/tui/testdata/TestGoldenMainPageLogsCollapsed/100x30.golden
  tools/arena/tui/testdata/TestGoldenMainPageLogsCollapsed/120x40.golden
  tools/arena/tui/tui.go
  tools/arena/tui/tui_filebrowser_test.go
  tools/arena/tui/tui_resize_test.go
  tools/arena/tui/tui_test.go
Due: arena

refactor(arena): delete orphaned chatModel (ChatPage owns it); test Run error fallback (#1455)
  tools/arena/cmd/promptarena/chat_interactive.go
  tools/arena/cmd/promptarena/chat_model_test.go
  tools/arena/tui/app/chatpage_test.go
  tools/arena/tui/app/menu_test.go
  tools/arena/tui/app/runpage.go
Due: arena

feat(arena/tui): ChatPage hosting interactive chat in the hub
  tools/arena/tui/app/chatpage.go
  tools/arena/tui/app/chatpage_test.go
  tools/arena/tui/app/testdata/TestGoldenChatPage_Setup.golden
  tools/arena/tui/app/testdata/chat-config/config.arena.yaml
  tools/arena/tui/app/testdata/chat-config/prompts/basic.yaml
  tools/arena/tui/app/testdata/chat-config/providers/mock.provider.yaml
Due: arena

fix(arena): nil-safe STT/TTS registry fallback for VAD voice without self_play config
  tools/arena/engine/duplex_interactive.go
  tools/arena/engine/duplex_interactive_test.go
Due: none

refactor(arena): split deploy_interactive.go per subcommand (#1456)
  tools/arena/cmd/promptarena/deploy_apply_interactive.go
  tools/arena/cmd/promptarena/deploy_destroy_interactive.go
  tools/arena/cmd/promptarena/deploy_import_interactive.go
  tools/arena/cmd/promptarena/deploy_interactive.go
  tools/arena/cmd/promptarena/deploy_plan_interactive.go
  tools/arena/cmd/promptarena/deploy_refresh_interactive.go
  tools/arena/cmd/promptarena/deploy_status_interactive.go
Due: none

refactor(arena/tui): split conversation panel rendering from state (#1456)
  tools/arena/tui/panels/conversation.go
  tools/arena/tui/panels/conversation_render.go
Due: arena

refactor(arena/inspect): split renderer into per-section files (#1456)
  tools/arena/inspect/inspect_test.go
  tools/arena/inspect/render_cache.go
  tools/arena/inspect/render_defaults.go
  tools/arena/inspect/render_judges.go
  tools/arena/inspect/render_personas.go
  tools/arena/inspect/render_prompts.go
  tools/arena/inspect/render_providers.go
  tools/arena/inspect/render_scenarios.go
  tools/arena/inspect/render_tools.go
  tools/arena/inspect/render_validation.go
  tools/arena/inspect/renderer.go
Due: arena

fix(runtime): recalibrate SimpleVAD maxExpectedRMS for real speech levels
  runtime/audio/simple_vad.go
  runtime/audio/simple_vad_test.go
Due: runtime

refactor(arena): unified TUI hub — Phase 3 broad cleanup (#1456) (#1462)
  tools/arena/cmd/promptarena/deploy_apply_interactive.go
  tools/arena/cmd/promptarena/deploy_destroy_interactive.go
  tools/arena/cmd/promptarena/deploy_import_interactive.go
  tools/arena/cmd/promptarena/deploy_interactive.go
  tools/arena/cmd/promptarena/deploy_plan_interactive.go
  tools/arena/cmd/promptarena/deploy_refresh_interactive.go
  tools/arena/cmd/promptarena/deploy_status_interactive.go
  tools/arena/inspect/inspect_test.go
  tools/arena/inspect/render_cache.go
  tools/arena/inspect/render_defaults.go
  tools/arena/inspect/render_judges.go
  tools/arena/inspect/render_personas.go
  tools/arena/inspect/render_prompts.go
  tools/arena/inspect/render_providers.go
  tools/arena/inspect/render_scenarios.go
  tools/arena/inspect/render_tools.go
  tools/arena/inspect/render_validation.go
  tools/arena/inspect/renderer.go
  tools/arena/tui/panels/conversation.go
  tools/arena/tui/panels/conversation_render.go
Due: arena

test(runtime): fair VAD integration test — segments two utterances on silence
  runtime/pipeline/stage/audioturn_vad_segmentation_test.go
Due: none

feat(arena): link configure docs when deploy config is missing
  tools/arena/cmd/promptarena/deploy_config_test.go
  tools/arena/cmd/promptarena/deploy_interactive.go
Due: none

feat(arena): accept -? as an alias for -h/--help
  tools/arena/cmd/promptarena/main_integration.go
  tools/arena/cmd/promptarena/main_integration_test.go
Due: none

docs(arena): omnia-first deploy how-to + canonical arena.yaml samples
  docs/scripts/fetch-adapter-docs.mjs
  docs/src/content/docs/arena/how-to/deploy/ci-cd.md
  docs/src/content/docs/arena/how-to/deploy/configure.md
  docs/src/content/docs/arena/how-to/deploy/install-adapters.md
  docs/src/content/docs/arena/how-to/deploy/plan-and-apply.md
  docs/src/content/docs/arena/reference/deploy/cli-commands.md
Due: none

feat(arena): thread chat --voice options into AppContext
  tools/arena/cmd/promptarena/chat_interactive.go
  tools/arena/tui/app/page.go
Due: arena

feat(arena): compile pack on the fly for deploy
  tools/arena/cmd/promptarena/deploy_interactive.go
  tools/arena/cmd/promptarena/deploy_resolve_pack_test.go
Due: none

feat(runtime): adaptive-threshold energy VAD (level-independent) for voice console
  runtime/audio/adaptive_vad.go
  runtime/audio/adaptive_vad_test.go
  runtime/audio/simple_vad.go
  runtime/audio/vad_state_machine.go
  runtime/pipeline/stage/audioturn_vad_segmentation_test.go
  tools/arena/agentkb/reference/cli.md
  tools/arena/engine/duplex_interactive.go
Due: runtime, arena

feat(arena): voice-mode lifecycle in ChatPage hub (start driver, teardown)
  tools/arena/tui/app/app.go
  tools/arena/tui/app/chatpage.go
  tools/arena/tui/app/chatpage_voice_interactive.go
  tools/arena/tui/app/chatpage_voice_test.go
  tools/arena/tui/app/page.go
Due: arena

feat(arena): voice-mode rendering in ChatPage (panel refresh + mic meter)
  tools/arena/tui/app/chatpage.go
  tools/arena/tui/app/chatpage_voice_interactive.go
  tools/arena/tui/app/chatpage_voice_test.go
Due: arena

chore(arena): voice console cleanup + experimental docs
  examples/voice-console-asm/README.md
  examples/voice-console-vad/README.md
  tools/arena/tui/app/chatpage_voice.go
  tools/arena/tui/app/chatpage_voice_test.go
Due: arena

feat(arena): accept -? as an alias for -h/--help (#1474)
  tools/arena/cmd/promptarena/main_integration.go
  tools/arena/cmd/promptarena/main_integration_test.go
Due: none

docs(arena): omnia-first deploy how-to + canonical arena.yaml samples (#1475)
  docs/scripts/fetch-adapter-docs.mjs
  docs/src/content/docs/arena/how-to/deploy/ci-cd.md
  docs/src/content/docs/arena/how-to/deploy/configure.md
  docs/src/content/docs/arena/how-to/deploy/install-adapters.md
  docs/src/content/docs/arena/how-to/deploy/plan-and-apply.md
  docs/src/content/docs/arena/reference/deploy/cli-commands.md
Due: none

feat(arena): link configure docs when deploy config is missing (#1468)
  tools/arena/cmd/promptarena/deploy_config_test.go
  tools/arena/cmd/promptarena/deploy_interactive.go
Due: none

feat(arena): compile pack on the fly for deploy (#1476)
  tools/arena/cmd/promptarena/deploy_interactive.go
  tools/arena/cmd/promptarena/deploy_resolve_pack_test.go
Due: none

docs(arena): drop packc compile prerequisite from deploy docs
  docs/src/content/docs/arena/how-to/deploy/ci-cd.md
  docs/src/content/docs/arena/how-to/deploy/plan-and-apply.md
  docs/src/content/docs/arena/tutorials/deploy/first-deployment.md
  docs/src/content/docs/arena/tutorials/deploy/multi-environment.md
Due: none

docs(arena): drop packc compile prerequisite from deploy docs (#1477)
  docs/src/content/docs/arena/how-to/deploy/ci-cd.md
  docs/src/content/docs/arena/how-to/deploy/plan-and-apply.md
  docs/src/content/docs/arena/tutorials/deploy/first-deployment.md
  docs/src/content/docs/arena/tutorials/deploy/multi-environment.md
Due: none

test(arena): cover voice-mode wiring (raise new-code coverage ≥80%)
  tools/arena/engine/duplex_executor_pipeline_vad_test.go
  tools/arena/tui/app/chatpage_voice.go
  tools/arena/tui/app/chatpage_voice_test.go
Due: arena

feat(sdk): add ResumeDuplex to resume a persisted voice conversation
  sdk/sdk.go
  sdk/sdk_test.go
Due: sdk

refactor(sdk): extract shared resumeWith helper for Resume/ResumeDuplex
  sdk/sdk.go
Due: sdk

feat(pipeline): add EndOfTurn + Interrupt control signals to StreamElement
  runtime/pipeline/stage/element.go
  runtime/pipeline/stage/element_test.go
  runtime/pipeline/stage/stages_recording.go
Due: runtime

Path conditions:
  runtime: any of: runtime/, but not: **/*_test.go, **/*_interactive.go, **/*_integration.go, examples/, docs/, scripts/, .github/, *.md
  sdk: any of: sdk/, but not: **/*_test.go, **/*_interactive.go, **/*_integration.go, examples/, docs/, scripts/, .github/, *.md
  arena: any of: tools/arena/, but not: **/*_test.go, **/*_interactive.go, **/*_integration.go, examples/, docs/, scripts/, .github/, *.md
  packc: any of: tools/packc/, but not: **/*_test.go, **/*_interactive.go, **/*_integration.go, examples/, docs/, scripts/, .github/, *.md
  inspect-state: any of: tools/inspect-state/, but not: **/*_test.go, **/*_interactive.go, **/*_integration.go, examples/, docs/, scripts/, .github/, *.md
