Repository AltairaLabs/PromptKit: changes, and which Codecov flags are due for each by the changed paths.
All: runtime, sdk, arena, packc, inspect-state

docs(examples): add voice-refund-demo README
  examples/voice-refund-demo/README.md
Due: none

fix(examples): wire voice-refund-demo for mock-duplex CI runs
  examples/voice-refund-demo/README.md
  examples/voice-refund-demo/audio/funfact.pcm
  examples/voice-refund-demo/audio/greeting.pcm
  examples/voice-refund-demo/audio/question.pcm
  examples/voice-refund-demo/scenarios/aggressive-refund.scenario.yaml
  examples/voice-refund-demo/scenarios/impersonator-refund.scenario.yaml
  examples/voice-refund-demo/scenarios/patient-baseline.scenario.yaml
Due: none

feat(arena): expose EnableSessionRecordingWithStore for programmatic configuration
  tools/arena/engine/engine.go
  tools/arena/engine/engine_test.go
  tools/arena/engine/session_recording_test.go
Due: arena

refactor(pipeline): RecordingStage writes to EventStore instead of bus
  runtime/pipeline/stage/stages_recording.go
  runtime/pipeline/stage/stages_recording_test.go
  sdk/conversation.go
  sdk/internal/pipeline/builder.go
  sdk/internal/pipeline/builder_test.go
  sdk/options.go
  sdk/options_test.go
  tools/arena/engine/conversation_executor.go
  tools/arena/engine/execution.go
  tools/arena/engine/interfaces.go
  tools/arena/turnexecutors/interfaces.go
  tools/arena/turnexecutors/pipeline_stages_integration.go
Due: runtime, sdk, arena

fix(recording): write audio as proper EventAudioInput/Output events
  runtime/pipeline/stage/stages_recording.go
  runtime/pipeline/stage/stages_recording_test.go
Due: runtime

chore(events,pipeline): remove audio bus-emit path
  runtime/events/emitter.go
  runtime/events/emitter_test.go
  runtime/pipeline/stage/stages_duplex_provider_integration.go
Due: runtime

chore(recording): trim eventDataRegistry of never-replay-relevant types
  runtime/recording/recording.go
  runtime/recording/recording_test.go
Due: runtime

feat(arena): voice-refund-demo example for HN launch (#1074)
  docs/src/content/docs/arena/reference/assertions.md
  docs/src/content/docs/reference/checks.md
  examples/voice-refund-demo/README.md
  examples/voice-refund-demo/audio/funfact.pcm
  examples/voice-refund-demo/audio/greeting.pcm
  examples/voice-refund-demo/audio/question.pcm
  examples/voice-refund-demo/config.arena.yaml
  examples/voice-refund-demo/mock-responses.yaml
  examples/voice-refund-demo/personas/aggressive-entitled.persona.yaml
  examples/voice-refund-demo/personas/impersonator.persona.yaml
  examples/voice-refund-demo/personas/patient-customer.persona.yaml
  examples/voice-refund-demo/prompts/refund-agent.prompt.yaml
  examples/voice-refund-demo/providers/gemini-2-flash.provider.yaml
  examples/voice-refund-demo/providers/mock-duplex.provider.yaml
  examples/voice-refund-demo/providers/openai-gpt4o-realtime.provider.yaml
  examples/voice-refund-demo/scenarios/aggressive-refund.scenario.yaml
  examples/voice-refund-demo/scenarios/impersonator-refund.scenario.yaml
  examples/voice-refund-demo/scenarios/patient-baseline.scenario.yaml
  examples/voice-refund-demo/tools/check-warranty-status.tool.yaml
  examples/voice-refund-demo/tools/escalate-to-human.tool.yaml
  examples/voice-refund-demo/tools/issue-refund.tool.yaml
  examples/voice-refund-demo/tools/lookup-order.tool.yaml
Due: none

refactor(recording): migrate recorder from event bus to pipeline tap (#1075)
  runtime/events/emitter.go
  runtime/events/emitter_test.go
  runtime/pipeline/stage/stages_duplex_provider_integration.go
  runtime/pipeline/stage/stages_recording.go
  runtime/pipeline/stage/stages_recording_test.go
  runtime/recording/recording.go
  runtime/recording/recording_test.go
  sdk/conversation.go
  sdk/internal/pipeline/builder.go
  sdk/internal/pipeline/builder_test.go
  sdk/options.go
  sdk/options_test.go
  tools/arena/engine/conversation_executor.go
  tools/arena/engine/engine.go
  tools/arena/engine/engine_test.go
  tools/arena/engine/execution.go
  tools/arena/engine/interfaces.go
  tools/arena/engine/session_recording_test.go
  tools/arena/turnexecutors/interfaces.go
  tools/arena/turnexecutors/pipeline_stages_integration.go
Due: runtime, sdk, arena

chore(arena): add github.com/ebitengine/oto/v3 dependency
  tools/arena/go.mod
  tools/arena/go.sum
Due: arena

feat(arena/audio): introduce shared types for audio monitoring
  tools/arena/audio/types.go
  tools/arena/audio/types_test.go
Due: arena

feat(arena/audio): add AudioRouter for per-run fan-out + RMS
  tools/arena/audio/router.go
  tools/arena/audio/router_test.go
Due: arena

feat(arena/audio): add MonitorTap pipeline stage
  tools/arena/audio/monitor_tap.go
  tools/arena/audio/monitor_tap_test.go
Due: arena

feat(arena/audio): add LocalSink for oto-backed PCM playback
  tools/arena/audio/local_sink.go
  tools/arena/audio/local_sink_integration.go
  tools/arena/audio/local_sink_test.go
Due: arena

feat(arena): add EnableAudioMonitor engine API
  tools/arena/engine/engine.go
  tools/arena/engine/engine_test.go
Due: arena

feat(arena): wire MonitorTap into duplex pipelines
  tools/arena/engine/conversation_executor.go
  tools/arena/engine/duplex_executor_pipeline_integration.go
  tools/arena/engine/engine_audio.go
  tools/arena/engine/engine_audio_test.go
  tools/arena/engine/execution.go
  tools/arena/engine/interfaces.go
  tools/arena/turnexecutors/interfaces.go
  tools/arena/turnexecutors/pipeline_stages_integration.go
Due: arena

ci: install ALSA dev headers on Linux runners
  .github/workflows/capability-matrix.yml
  .github/workflows/ci.yml
  .github/workflows/npm-test.yml
  .github/workflows/release-test.yml
  .github/workflows/release.yml
Due: none

feat(arena/audio): real-time audio monitoring core (Phase 2) (#1076)
  .github/workflows/capability-matrix.yml
  .github/workflows/ci.yml
  .github/workflows/npm-test.yml
  .github/workflows/release-test.yml
  .github/workflows/release.yml
  tools/arena/audio/local_sink.go
  tools/arena/audio/local_sink_integration.go
  tools/arena/audio/local_sink_test.go
  tools/arena/audio/monitor_tap.go
  tools/arena/audio/monitor_tap_test.go
  tools/arena/audio/router.go
  tools/arena/audio/router_test.go
  tools/arena/audio/types.go
  tools/arena/audio/types_test.go
  tools/arena/engine/conversation_executor.go
  tools/arena/engine/duplex_executor_pipeline_integration.go
  tools/arena/engine/engine.go
  tools/arena/engine/engine_audio.go
  tools/arena/engine/engine_audio_test.go
  tools/arena/engine/engine_test.go
  tools/arena/engine/execution.go
  tools/arena/engine/interfaces.go
  tools/arena/go.mod
  tools/arena/go.sum
  tools/arena/turnexecutors/interfaces.go
  tools/arena/turnexecutors/pipeline_stages_integration.go
Due: arena

fix(types): allow MediaContent.Data + FilePath as origin hint
  runtime/types/content.go
  runtime/types/content_test.go
Due: runtime

fix(types): allow MediaContent.Data + FilePath as origin hint (#1078)
  runtime/types/content.go
  runtime/types/content_test.go
Due: runtime

feat(arena,sdk): add audio monitor CLI flags, config schema, SDK option
  pkg/config/types.go
  schemas/v1alpha1/arena.json
  sdk/go.mod
  sdk/go.sum
  sdk/options.go
  sdk/options_test.go
  tools/arena/cmd/promptarena/run.go
  tools/arena/cmd/promptarena/run_interactive.go
  tools/arena/cmd/promptarena/yaml_config_test.go
Due: sdk, arena

feat(arena): add --audio-monitor / --audio-rate flags to serve
  tools/arena/cmd/promptarena/serve_interactive.go
Due: none

feat(arena): wire engine audio router to web/TUI adapters
  tools/arena/cmd/promptarena/run_interactive.go
  tools/arena/engine/engine.go
  tools/arena/engine/engine_audio_test.go
  tools/arena/engine/execution.go
  tools/arena/web/server.go
Due: arena

feat(arena/web): relay audio over SSE for audio=1 clients
  tools/arena/web/audio_relay_test.go
  tools/arena/web/event_adapter.go
  tools/arena/web/server.go
Due: arena

feat(arena/tui): add real-time audio level meter
  tools/arena/tui/event_adapter.go
  tools/arena/tui/event_adapter_test.go
  tools/arena/tui/messages.go
  tools/arena/tui/model_messages_test.go
  tools/arena/tui/panels/conversation.go
  tools/arena/tui/panels/panels_test.go
  tools/arena/tui/tui.go
Due: arena

feat(arena/web): add browser-side audio player + Listen button
  tools/arena/web/frontend/src/audio/player.ts
  tools/arena/web/frontend/src/components/RunDetail.tsx
Due: arena

fix(arena/web): address Sonar findings on AudioPlayer + raise coverage
  sonar-project.properties
  tools/arena/web/frontend/src/audio/player.test.ts
  tools/arena/web/frontend/src/audio/player.ts
Due: arena

ci: install ALSA dev headers in schemas.yml validate-with-cli job
  .github/workflows/schemas.yml
Due: none

feat(arena): audio monitoring surfaces — web SSE, browser player, TUI meter (Phases 3-5) (#1077)
  .github/workflows/schemas.yml
  pkg/config/types.go
  schemas/v1alpha1/arena.json
  sdk/go.mod
  sdk/go.sum
  sdk/options.go
  sdk/options_test.go
  sonar-project.properties
  tools/arena/cmd/promptarena/run.go
  tools/arena/cmd/promptarena/run_interactive.go
  tools/arena/cmd/promptarena/serve_interactive.go
  tools/arena/cmd/promptarena/yaml_config_test.go
  tools/arena/engine/engine.go
  tools/arena/engine/engine_audio_test.go
  tools/arena/engine/execution.go
  tools/arena/tui/event_adapter.go
  tools/arena/tui/event_adapter_test.go
  tools/arena/tui/messages.go
  tools/arena/tui/model_messages_test.go
  tools/arena/tui/panels/conversation.go
  tools/arena/tui/panels/panels_test.go
  tools/arena/tui/tui.go
  tools/arena/web/audio_relay_test.go
  tools/arena/web/event_adapter.go
  tools/arena/web/frontend/src/audio/player.test.ts
  tools/arena/web/frontend/src/audio/player.ts
  tools/arena/web/frontend/src/components/RunDetail.tsx
  tools/arena/web/server.go
Due: sdk, arena

feat(arena): unify scripted-text and selfplay duplex turns via shared TTS helper
  pkg/config/types.go
  schemas/v1alpha1/arena.json
  schemas/v1alpha1/scenario.json
  tools/arena/engine/duplex_executor_turns_integration.go
  tools/arena/engine/duplex_text_tts_test.go
Due: none

feat(examples): add duplex-scripted-text scenario exercising layered TTS
  examples/duplex-streaming/config.arena.yaml
  examples/duplex-streaming/mock-responses.yaml
  examples/duplex-streaming/scenarios/duplex-scripted-text.scenario.yaml
Due: none

fix(mock,arena): cache mock TTS by audio_files; route duplex sessions through scenario responses
  runtime/providers/mock/mock_streaming_interactive.go
  tools/arena/engine/duplex_executor_pipeline_integration.go
  tools/arena/selfplay/tts_registry.go
  tools/arena/selfplay/tts_registry_test.go
Due: arena

feat(examples): add real-OpenAI-TTS variant of duplex-scripted-text scenario
  examples/duplex-streaming/config.arena.yaml
  examples/duplex-streaming/mock-responses.yaml
  examples/duplex-streaming/scenarios/duplex-scripted-text-openai.scenario.yaml
Due: none

fix(arena/web): restore frontend/dist/.gitkeep for go:embed pattern
  tools/arena/web/frontend/dist/.gitkeep
Due: arena

ci(docs): install libasound2-dev so docs workflow can build the arena CLI
  .github/workflows/docs.yml
Due: none

fix(mock): block on audio chunk send instead of dropping
  runtime/providers/mock/mock_streaming_interactive.go
Due: none

feat(mock): emit audio chunks from PCM fixtures in mock-duplex responses
  examples/duplex-streaming/mock-responses.yaml
  examples/duplex-streaming/providers/mock-duplex.provider.yaml
  runtime/providers/mock/mock_repository.go
  runtime/providers/mock/mock_streaming_audio_test.go
  runtime/providers/mock/mock_streaming_interactive.go
  runtime/providers/mock/mock_tool_provider_interactive.go
Due: runtime

feat(mock): emit audio chunks from PCM fixtures in mock-duplex responses (#1080)
  examples/duplex-streaming/mock-responses.yaml
  examples/duplex-streaming/providers/mock-duplex.provider.yaml
  runtime/providers/mock/mock_repository.go
  runtime/providers/mock/mock_streaming_audio_test.go
  runtime/providers/mock/mock_streaming_interactive.go
  runtime/providers/mock/mock_tool_provider_interactive.go
Due: runtime

Path conditions:
  runtime: any of: runtime/, but not: **/*_test.go, **/*_interactive.go, **/*_integration.go, examples/, docs/, scripts/, .github/, *.md
  sdk: any of: sdk/, but not: **/*_test.go, **/*_interactive.go, **/*_integration.go, examples/, docs/, scripts/, .github/, *.md
  arena: any of: tools/arena/, but not: **/*_test.go, **/*_interactive.go, **/*_integration.go, examples/, docs/, scripts/, .github/, *.md
  packc: any of: tools/packc/, but not: **/*_test.go, **/*_interactive.go, **/*_integration.go, examples/, docs/, scripts/, .github/, *.md
  inspect-state: any of: tools/inspect-state/, but not: **/*_test.go, **/*_interactive.go, **/*_integration.go, examples/, docs/, scripts/, .github/, *.md
