Repository AltairaLabs/PromptKit: changes, and which Codecov flags are due for each by the changed paths.
All: runtime, sdk, arena, packc, inspect-state

feat(sdk): decouple memory RAG from tool registration (#1427)
  sdk/capability_memory.go
  sdk/capability_memory_test.go
  sdk/options.go
Due: sdk

chore: enforce DCO sign-off via commit-msg hook
  CLAUDE.md
  scripts/commit-msg.sh
  scripts/install-hooks.sh
Due: none

feat(arena): deploy config import — merge + validate a deploy profile (#1429)
  tools/arena/agentkb/reference/cli.md
  tools/arena/cmd/promptarena/deploy_config_interactive.go
  tools/arena/cmd/promptarena/deploy_config_test.go
Due: arena

feat(arena): deploy config import — merge + validate a deploy profile (#1429) (#1443)
  tools/arena/agentkb/reference/cli.md
  tools/arena/cmd/promptarena/deploy_config_interactive.go
  tools/arena/cmd/promptarena/deploy_config_test.go
Due: arena

feat(sdk): decouple memory RAG from tool registration (#1427) (#1451)
  sdk/capability_memory.go
  sdk/capability_memory_test.go
  sdk/options.go
Due: sdk

chore: enforce DCO sign-off via commit-msg hook (#1452)
  CLAUDE.md
  scripts/commit-msg.sh
  scripts/install-hooks.sh
Due: none

docs(arena): note echo-guard per-frame window limitation for hardware wiring
  tools/arena/voice/driver.go
Due: arena

feat(arena): VoiceDriver orchestration with RMS metering
  tools/arena/voice/driver.go
  tools/arena/voice/driver_test.go
  tools/arena/voice/rms.go
Due: arena

fix(arena): join voice audio goroutines before stopping PortAudio streams
  tools/arena/voice/audioio_interactive.go
Due: none

feat(arena): optional half-duplex echo guard for voice mic
  tools/arena/voice/driver.go
  tools/arena/voice/driver_test.go
  tools/arena/voice/echo_guard.go
  tools/arena/voice/echo_guard_test.go
Due: arena

feat(arena): PortAudio AudioIO wrapper behind voice build tag
  tools/arena/go.mod
  tools/arena/go.sum
  tools/arena/voice/audioio_interactive.go
  tools/arena/voice/audioio_stub.go
  tools/arena/voice/audioio_stub_test.go
  tools/arena/voice/types.go
Due: arena

feat(arena): live-mic interactive entry point for duplex pipeline (ASM)
  tools/arena/engine/duplex_interactive.go
  tools/arena/engine/duplex_interactive_test.go
Due: none

feat(arena): STT registry mirroring TTS registry
  tools/arena/selfplay/registry.go
  tools/arena/selfplay/stt_registry.go
  tools/arena/selfplay/stt_registry_test.go
Due: arena

feat(arena): --voice flag drives interactive voice (ASM mode)
  tools/arena/agentkb/reference/cli.md
  tools/arena/cmd/promptarena/chat.go
  tools/arena/cmd/promptarena/chat_interactive.go
  tools/arena/engine/engine.go
  tools/arena/engine/interactive.go
  tools/arena/engine/interfaces.go
  tools/arena/voice/audioio_stub.go
  tools/arena/voice/types.go
Due: arena

refactor(arena): drop unused Engine.GetEventBus accessor
  tools/arena/engine/engine.go
Due: arena

feat(arena): composed VAD voice pipeline for text agents
  tools/arena/engine/duplex_interactive.go
  tools/arena/engine/duplex_interactive_test.go
  tools/arena/selfplay/stt_registry.go
  tools/arena/selfplay/stt_registry_test.go
  tools/arena/stages/stt_user_message.go
  tools/arena/stages/stt_user_message_test.go
Due: arena

chore(arena): make build-arena-voice target (cgo + -tags voice)
  Makefile
Due: none

chore(arena): sample STT provider + schema sync for voice
  examples/voice-refund-demo/providers/openai-stt.provider.yaml
Due: none

feat(arena): voice build & release wiring + voice console docs (#1450)
  .github/workflows/release.yml
  .goreleaser.voice.yml
  docs/src/content/docs/arena/how-to/voice-console.md
Due: none

fix(arena): correct voice release token + ARM64 matrix coverage
  .github/workflows/release.yml
  .goreleaser.voice.yml
Due: none

feat(arena/tui): Page interface + AppContext for hub shell
  tools/arena/tui/app/page.go
  tools/arena/tui/app/page_test.go
Due: arena

feat(arena/tui): App root model with page stack + global key routing
  tools/arena/tui/app/app.go
  tools/arena/tui/app/app_test.go
Due: arena

fix(arena): only synthesize assistant turns in voice TTS; ctx-guard tapLevels; test/docs polish
  docs/src/content/docs/arena/how-to/voice-console.md
  tools/arena/engine/duplex_interactive.go
  tools/arena/engine/duplex_interactive_test.go
  tools/arena/stages/assistant_tts_filter.go
  tools/arena/stages/assistant_tts_filter_test.go
  tools/arena/voice/driver.go
Due: arena

fix(arena/tui): re-apply terminal size on pop; tighten App tests
  tools/arena/tui/app/app.go
  tools/arena/tui/app/app_test.go
Due: arena

feat(arena/tui): splash screen with PromptKit logo
  tools/arena/tui/app/splash.go
  tools/arena/tui/app/splash_test.go
  tools/arena/tui/app/testdata/TestGoldenSplash/120x40.golden
  tools/arena/tui/app/testdata/TestGoldenSplash/80x24.golden
Due: arena

feat(arena/tui): Home page with config-aware menu
  tools/arena/tui/app/home.go
  tools/arena/tui/app/home_test.go
  tools/arena/tui/app/testdata/TestGoldenHome_NoConfig/120x40.golden
  tools/arena/tui/app/testdata/TestGoldenHome_NoConfig/80x24.golden
  tools/arena/tui/app/testdata/TestGoldenHome_WithConfig/120x40.golden
  tools/arena/tui/app/testdata/TestGoldenHome_WithConfig/80x24.golden
Due: arena

feat(arena/tui): config auto-discovery for hub
  tools/arena/tui/app/config.go
  tools/arena/tui/app/config_test.go
  tools/arena/tui/app/test_init.go
  tools/arena/tui/app/testdata/minimal-config/config.arena.yaml
Due: arena

feat(arena/tui): runtime config switcher
  tools/arena/tui/app/configswitch.go
  tools/arena/tui/app/configswitch_test.go
  tools/arena/tui/app/home.go
Due: arena

feat(arena/tui): ViewPage hosting the results browser in the hub
  tools/arena/tui/app/testdata/TestGoldenViewPage/120x40.golden
  tools/arena/tui/app/testdata/TestGoldenViewPage/80x24.golden
  tools/arena/tui/app/viewpage.go
  tools/arena/tui/app/viewpage_test.go
Due: arena

feat(arena/tui): launch hub on bare promptarena; deep-link view subcommand (#1454)
  tools/arena/cmd/promptarena/main_integration.go
  tools/arena/cmd/promptarena/view_interactive.go
  tools/arena/tui/app/golden_app_test.go
  tools/arena/tui/app/launch_interactive.go
  tools/arena/tui/app/menu.go
  tools/arena/tui/app/menu_test.go
  tools/arena/tui/app/testdata/TestGoldenApp_HomeFirstFrame/120x40.golden
  tools/arena/tui/app/testdata/TestGoldenApp_HomeFirstFrame/80x24.golden
Due: arena

docs(arena): ready-to-run voice console example configs (ASM + VAD)
  examples/voice-console-asm/README.md
  examples/voice-console-asm/config.arena.yaml
  examples/voice-console-asm/prompts/assistant.prompt.yaml
  examples/voice-console-asm/providers/openai-realtime.provider.yaml
  examples/voice-console-vad/README.md
  examples/voice-console-vad/config.arena.yaml
  examples/voice-console-vad/prompts/assistant.prompt.yaml
  examples/voice-console-vad/providers/openai-gpt4o.provider.yaml
  examples/voice-console-vad/providers/openai-stt.provider.yaml
  examples/voice-console-vad/providers/openai-tts.provider.yaml
Due: none

fix(arena): use GA gpt-realtime model in voice ASM example (preview removed from API)
  examples/voice-console-asm/providers/openai-realtime.provider.yaml
Due: none

fix(examples): replace removed gpt-4o-realtime-preview with GA gpt-realtime
  docs/src/content/docs/arena/how-to/voice-bake-off.md
  examples/duplex-streaming/providers/openai-gpt4o-realtime.provider.yaml
  examples/voice-console-asm/README.md
  examples/voice-refund-demo/providers/openai-gpt4o-realtime.provider.yaml
  sdk/examples/openai-realtime/README.md
  sdk/examples/openai-realtime/main.go
  sdk/examples/openai-realtime/main_interactive.go
Due: sdk

fix(arena/tui): remove orphaned viewerTUI; handle ConfigChangedMsg; review nits (#1454)
  tools/arena/cmd/promptarena/main_integration.go
  tools/arena/cmd/promptarena/view.go
  tools/arena/cmd/promptarena/view_test.go
  tools/arena/tui/app/app.go
  tools/arena/tui/app/app_test.go
  tools/arena/tui/app/splash.go
  tools/arena/tui/app/viewpage.go
Due: arena

fix(arena): buffer voice playback to fix choppy audio; enable realtime input transcription
  tools/arena/engine/duplex_executor_pipeline_integration.go
  tools/arena/engine/duplex_executor_pipeline_transcription_test.go
  tools/arena/engine/duplex_interactive.go
  tools/arena/voice/audioio_interactive.go
Due: none

feat(arena/tui): unified TUI hub — Phase 1 foundation (#1454) (#1458)
  tools/arena/cmd/promptarena/main_integration.go
  tools/arena/cmd/promptarena/view.go
  tools/arena/cmd/promptarena/view_interactive.go
  tools/arena/cmd/promptarena/view_test.go
  tools/arena/tui/app/app.go
  tools/arena/tui/app/app_test.go
  tools/arena/tui/app/config.go
  tools/arena/tui/app/config_test.go
  tools/arena/tui/app/configswitch.go
  tools/arena/tui/app/configswitch_test.go
  tools/arena/tui/app/golden_app_test.go
  tools/arena/tui/app/home.go
  tools/arena/tui/app/home_test.go
  tools/arena/tui/app/launch_interactive.go
  tools/arena/tui/app/menu.go
  tools/arena/tui/app/menu_test.go
  tools/arena/tui/app/page.go
  tools/arena/tui/app/page_test.go
  tools/arena/tui/app/splash.go
  tools/arena/tui/app/splash_test.go
  tools/arena/tui/app/test_init.go
  tools/arena/tui/app/testdata/TestGoldenApp_HomeFirstFrame/120x40.golden
  tools/arena/tui/app/testdata/TestGoldenApp_HomeFirstFrame/80x24.golden
  tools/arena/tui/app/testdata/TestGoldenHome_NoConfig/120x40.golden
  tools/arena/tui/app/testdata/TestGoldenHome_NoConfig/80x24.golden
  tools/arena/tui/app/testdata/TestGoldenHome_WithConfig/120x40.golden
  tools/arena/tui/app/testdata/TestGoldenHome_WithConfig/80x24.golden
  tools/arena/tui/app/testdata/TestGoldenSplash/120x40.golden
  tools/arena/tui/app/testdata/TestGoldenSplash/80x24.golden
  tools/arena/tui/app/testdata/TestGoldenViewPage/120x40.golden
  tools/arena/tui/app/testdata/TestGoldenViewPage/80x24.golden
  tools/arena/tui/app/testdata/minimal-config/config.arena.yaml
  tools/arena/tui/app/viewpage.go
  tools/arena/tui/app/viewpage_test.go
Due: arena

fix(arena): materialize user turn from input transcript in interactive realtime voice
  tools/arena/engine/duplex_interactive.go
  tools/arena/engine/duplex_interactive_test.go
Due: none

feat(arena): add --verbose to chat for debugging live voice/transcription events
  tools/arena/cmd/promptarena/chat.go
Due: arena

fix: materialize user turn from input transcript in streaming realtime (provider-agnostic)
  runtime/pipeline/stage/stages_duplex_provider_integration.go
  runtime/pipeline/stage/stages_streaming_test.go
  sdk/examples/openai-realtime/main.go
  sdk/examples/openai-realtime/main_interactive.go
  sdk/session/duplex_session.go
  sdk/session/duplex_session_test.go
  tools/arena/engine/duplex_interactive.go
Due: sdk

fix: show user turn at transcript-final, not assistant end (provider-agnostic fast path)
  runtime/pipeline/stage/stages_duplex_provider_integration.go
  runtime/pipeline/stage/stages_streaming_test.go
  runtime/providers/gemini/stream_session_test.go
  runtime/providers/openai/realtime_session_integration.go
  runtime/providers/openai/realtime_types_test.go
Due: none

Path conditions:
  runtime: any of: runtime/, but not: **/*_test.go, **/*_interactive.go, **/*_integration.go, examples/, docs/, scripts/, .github/, *.md
  sdk: any of: sdk/, but not: **/*_test.go, **/*_interactive.go, **/*_integration.go, examples/, docs/, scripts/, .github/, *.md
  arena: any of: tools/arena/, but not: **/*_test.go, **/*_interactive.go, **/*_integration.go, examples/, docs/, scripts/, .github/, *.md
  packc: any of: tools/packc/, but not: **/*_test.go, **/*_interactive.go, **/*_integration.go, examples/, docs/, scripts/, .github/, *.md
  inspect-state: any of: tools/inspect-state/, but not: **/*_test.go, **/*_interactive.go, **/*_integration.go, examples/, docs/, scripts/, .github/, *.md
