Repository AltairaLabs/PromptKit: changes, and which Codecov flags are due for each by the changed paths.
All: runtime, sdk, arena, packc, inspect-state

fix(evals): stop ExtractValue inventing a zero, and give it the MetricDef (#1887)
  runtime/evals/extract_value_test.go
  runtime/evals/metrics.go
  runtime/evals/metrics_test.go
  runtime/metrics/collector.go
  runtime/metrics/collector_test.go
  sdk/eval_middleware_test.go
Due: runtime

docs: the bus rule is about binary, not text
  docs/src/content/docs/architecture/runtime-events.md
  docs/src/content/docs/runtime/reference/pipeline.md
  docs/src/content/docs/sdk/explanation/observability.md
  runtime/pipeline/stage/stages_message_broadcast.go
Due: runtime

feat(evals): state the role and the pass/fail instead of deriving them
  runtime/evals/role_invariant_test.go
  runtime/evals/runner.go
  runtime/evals/runner_test.go
  runtime/evals/types.go
  runtime/evals/wrappers.go
  runtime/evals/wrappers_test.go
  runtime/events/eval_payload_test.go
  runtime/events/redact.go
  runtime/events/types.go
  sdk/eval_integration_test.go
  sdk/examples/evaluate/main.go
Due: runtime, sdk

feat(evals): state the role and pass/fail; carry the eval's value on the event (#1889)
  docs/src/content/docs/architecture/runtime-events.md
  docs/src/content/docs/runtime/reference/pipeline.md
  docs/src/content/docs/sdk/explanation/observability.md
  runtime/evals/role_invariant_test.go
  runtime/evals/runner.go
  runtime/evals/runner_test.go
  runtime/evals/types.go
  runtime/evals/wrappers.go
  runtime/evals/wrappers_test.go
  runtime/events/eval_payload_test.go
  runtime/events/redact.go
  runtime/events/types.go
  runtime/pipeline/stage/stages_message_broadcast.go
  sdk/eval_integration_test.go
  sdk/examples/evaluate/main.go
Due: runtime, sdk

fix(events): put the turn index on the eval event
  docs/src/content/docs/architecture/runtime-events.md
  runtime/evals/role_invariant_test.go
  runtime/evals/runner.go
  runtime/events/types.go
Due: runtime

fix(events): put the turn index on the eval event (#1890)
  docs/src/content/docs/architecture/runtime-events.md
  runtime/evals/role_invariant_test.go
  runtime/evals/runner.go
  runtime/events/types.go
Due: runtime

fix(schema): restore embedded PromptPack schema to the published release
  .github/workflows/schemas.yml
  Makefile
  runtime/prompt/schema/promptpack.schema.json
  runtime/prompt/schema/schema.go
  runtime/prompt/validator_spec_parity_test.go
  scripts/fetch-promptpack-schema.sh
  sdk/internal/pack/validator_loadjson_test.go
Due: runtime

ci(schema): raise a PR on a new PromptPack release instead of failing main
  .github/workflows/promptpack-schema-sync.yml
  .github/workflows/schemas.yml
Due: none

ci(schema): wire the release dispatch, using the org-wide PAT
  .github/workflows/promptpack-schema-sync.yml
Due: none

test(schema): make the message-field assertion falsifiable
  sdk/internal/pack/validator_loadjson_test.go
Due: none

test(schema): drop TestValidatorJSONAcceptsSpecMessageField
  sdk/internal/pack/validator_loadjson_test.go
Due: none

fix(pack): give pack metadata types json tags so they survive serialization
  runtime/prompt/pack_schema_emit_test.go
  runtime/prompt/registry.go
  runtime/prompt/validator_spec_parity_test.go
  scripts/fetch-promptpack-schema.sh
Due: runtime

fix(schema): restore embedded PromptPack schema to the published release (#1891)
  .github/workflows/promptpack-schema-sync.yml
  .github/workflows/schemas.yml
  Makefile
  runtime/prompt/pack_schema_emit_test.go
  runtime/prompt/registry.go
  runtime/prompt/schema/promptpack.schema.json
  runtime/prompt/schema/schema.go
  runtime/prompt/validator_spec_parity_test.go
  scripts/fetch-promptpack-schema.sh
  sdk/internal/pack/validator_loadjson_test.go
Due: runtime

feat(packspec): generate pack types from the schema, refusing silent gaps
  .github/workflows/schemas.yml
  .gitignore
  Makefile
  go.work
  runtime/prompt/packspec/types.go
  tools/packspec-gen/coverage.go
  tools/packspec-gen/emit.go
  tools/packspec-gen/exclusions.go
  tools/packspec-gen/gen_test.go
  tools/packspec-gen/go.mod
  tools/packspec-gen/main.go
  tools/packspec-gen/schema.go
Due: runtime

feat(packspec): generate unions flattened instead of excluding them
  runtime/composition/types.go
  runtime/prompt/packspec/types.go
  tools/packspec-gen/coverage.go
  tools/packspec-gen/emit.go
  tools/packspec-gen/exclusions.go
  tools/packspec-gen/gen_test.go
  tools/packspec-gen/unions.go
Due: runtime

fix(packspec): generate ProviderRequirement — the exclusion reason was false
  runtime/prompt/packspec/types.go
  tools/packspec-gen/exclusions.go
Due: runtime

feat(packspec): model bare-shape unions as wrappers; exclusions now empty
  runtime/prompt/packspec/stepinput_test.go
  runtime/prompt/packspec/types.go
  tools/packspec-gen/emit.go
  tools/packspec-gen/exclusions.go
  tools/packspec-gen/gen_test.go
  tools/packspec-gen/unions.go
Due: runtime

fix(packspec): handle mixed scalar-or-object unions
  runtime/prompt/packspec/providerrequirement_test.go
  runtime/prompt/packspec/types.go
  tools/packspec-gen/unions.go
Due: runtime

fix(packspec): pointer types where a non-zero default would be reversed
  runtime/prompt/packspec/providerrequirement_test.go
  runtime/prompt/packspec/types.go
  tools/packspec-gen/emit.go
  tools/packspec-gen/gen_test.go
  tools/packspec-gen/unions.go
Due: runtime

refactor(packspec): alias the three identical types; move to runtime/packspec
  Makefile
  runtime/composition/types.go
  runtime/packspec/providerrequirement_test.go
  runtime/packspec/stepinput_test.go
  runtime/packspec/types.go
  runtime/prompt/pack.go
  runtime/prompt/registry.go
  tools/packspec-gen/emit.go
  tools/packspec-gen/main.go
Due: runtime

refactor(packspec): alias StepModifiers, RetryModifier and ArtifactDef
  runtime/composition/types.go
  runtime/workflow/artifact_tool_test.go
  runtime/workflow/context.go
  runtime/workflow/machine.go
  runtime/workflow/machine_test.go
  runtime/workflow/types.go
Due: runtime

refactor(packspec): alias the parameter, policy and tested-model types
  runtime/a2a/bridge_test.go
  runtime/a2a/client_test.go
  runtime/a2a/mock/mock_test.go
  runtime/composition/engine/engine.go
  runtime/composition/engine/engine_test.go
  runtime/composition/types_test.go
  runtime/evals/trigger_test.go
  runtime/events/store_test.go
  runtime/packspec/helpers.go
  runtime/packspec/helpers_test.go
  runtime/packspec/types.go
  runtime/pipeline/stage/reasoning_completed_test.go
  runtime/pipeline/stage/stages_media_convert_test.go
  runtime/pipeline/stage/stages_provider.go
  runtime/pipeline/stage/stages_provider_round_events_test.go
  runtime/prompt/media.go
  runtime/prompt/media_test.go
  runtime/prompt/metadata.go
  runtime/prompt/metadata_test.go
  runtime/prompt/pack.go
  runtime/prompt/pack_evals_test.go
  runtime/prompt/pack_schema_emit_test.go
  runtime/prompt/pack_test.go
  runtime/prompt/registry.go
  runtime/prompt/validator_spec_parity_test.go
  runtime/providers/gemini/gemini3_reasoning_diag_test.go
  runtime/providers/gemini/gemini_thinking_level_test.go
  runtime/providers/gemini/gemini_tool_loop_test.go
  runtime/providers/streaming_test.go
  runtime/statestore/memory_bench_test.go
  runtime/tokenizer/tokenizer_test.go
  runtime/tools/registry_async_test.go
  sdk/internal/pack/load_test.go
  tools/packspec-gen/emit.go
  tools/packspec-gen/gen_test.go
Due: runtime

feat(packspec): support additionalProperties:true; alias MetricDef
  runtime/evals/metric_labels_test.go
  runtime/evals/types.go
  runtime/evals/validate.go
  runtime/evals/validate_test.go
  runtime/metrics/collector.go
  runtime/metrics/collector_test.go
  runtime/packspec/openobject_test.go
  runtime/packspec/types.go
  tools/packspec-gen/emit.go
  tools/packspec-gen/gen_test.go
  tools/packspec-gen/openobject.go
Due: runtime

fix(packspec): absent additionalProperties means open, per JSON Schema
  runtime/packspec/openobject_test.go
  runtime/packspec/types.go
  tools/packspec-gen/emit.go
  tools/packspec-gen/openobject.go
Due: runtime

feat: alias the composition types and implement RFC 0012 requirements
  runtime/composition/engine/engine.go
  runtime/composition/engine/engine_test.go
  runtime/composition/types.go
  runtime/composition/types_test.go
  runtime/composition/validate.go
  runtime/composition/validate_test.go
  runtime/packspec/types.go
  runtime/pipeline/stage/composition_executor.go
  runtime/pipeline/stage/composition_executor_test.go
  runtime/pipeline/stage/stages_composition_test.go
  runtime/prompt/media.go
  runtime/prompt/media_test.go
  runtime/prompt/pack.go
  runtime/prompt/pack_tools_test.go
  runtime/prompt/registry.go
  runtime/prompt/requires.go
  runtime/prompt/requires_test.go
  runtime/workflow/machine.go
  runtime/workflow/types.go
  sdk/capability_test.go
  sdk/conversation_test.go
  sdk/examples/long-conversation/main_interactive.go
  sdk/examples/voice-interview/video/webcam.go
  sdk/mcp_test.go
  sdk/requires.go
  sdk/requires_test.go
  sdk/sdk.go
  sdk/template_test.go
  sdk/workflow_state_resolver_test.go
  tools/packspec-gen/emit.go
  tools/packspec-gen/gen_test.go
Due: runtime, sdk

fix(packspec): address code review — YAML codecs, null properties, provider gate
  runtime/composition/types.go
  runtime/composition/types_test.go
  runtime/packspec/helpers.go
  runtime/packspec/helpers_test.go
  runtime/packspec/types.go
  runtime/packspec/yaml_test.go
  runtime/prompt/registry.go
  runtime/prompt/requires.go
  runtime/prompt/validator_spec_parity_test.go
  sdk/requires.go
  sdk/requires_test.go
  tools/packspec-gen/emit.go
  tools/packspec-gen/openobject.go
  tools/packspec-gen/unions.go
Due: runtime, sdk

chore(schema): pick up PromptPack v1.6.0 and state the version we implement
  .github/workflows/promptpack-schema-sync.yml
  .github/workflows/schemas.yml
  Makefile
  README.md
  runtime/packspec/types.go
  runtime/prompt/schema/promptpack.schema.json
  scripts/check-spec-version.sh
Due: runtime

chore(schema): pick up PromptPack v1.6.0 and state the version we implement (#1912)
  .github/workflows/promptpack-schema-sync.yml
  .github/workflows/schemas.yml
  Makefile
  README.md
  runtime/packspec/types.go
  runtime/prompt/schema/promptpack.schema.json
  scripts/check-spec-version.sh
Due: runtime

fix(prompt): stop metadata dropping governance, and make the next drop fail
  runtime/prompt/media.go
  runtime/prompt/media_test.go
  runtime/prompt/metadata.go
  runtime/prompt/metadata_governance_test.go
  runtime/prompt/metadata_test.go
  runtime/prompt/pack.go
  runtime/prompt/pack_schema_emit_test.go
  runtime/prompt/pack_struct_coverage_test.go
  runtime/prompt/registry.go
  runtime/prompt/skill_source_spec_test.go
  runtime/prompt/validator_spec_parity_test.go
Due: runtime

feat(prompt): resolve RFC 0013 governance from pack to agent
  runtime/prompt/governance.go
  runtime/prompt/governance_test.go
Due: runtime

feat(sdk): let a host read the governance a pack declares
  docs/src/content/docs/sdk/reference/conversation-manager.md
  runtime/prompt/governance_test.go
  sdk/governance.go
  sdk/governance_test.go
Due: sdk

docs: restate the PromptPack spec version, and check every place it is stated
  .github/workflows/promptpack-schema-sync.yml
  docs/src/content/docs/sdk/reference/conversation-manager.md
  scripts/check-spec-version.sh
  sdk/README.md
  sdk/doc.go
Due: sdk

docs: document governance declarations
  docs/src/content/docs/concepts/governance.md
Due: none

fix(prompt): stop metadata dropping governance, and implement RFC 0013 (#1913)
  .github/workflows/promptpack-schema-sync.yml
  docs/src/content/docs/concepts/governance.md
  docs/src/content/docs/sdk/reference/conversation-manager.md
  runtime/prompt/governance.go
  runtime/prompt/governance_test.go
  runtime/prompt/media.go
  runtime/prompt/media_test.go
  runtime/prompt/metadata.go
  runtime/prompt/metadata_governance_test.go
  runtime/prompt/metadata_test.go
  runtime/prompt/pack.go
  runtime/prompt/pack_schema_emit_test.go
  runtime/prompt/pack_struct_coverage_test.go
  runtime/prompt/registry.go
  runtime/prompt/skill_source_spec_test.go
  runtime/prompt/validator_spec_parity_test.go
  scripts/check-spec-version.sh
  sdk/README.md
  sdk/doc.go
  sdk/governance.go
  sdk/governance_test.go
Due: runtime, sdk

fix(prompt): adopt the generated media types, and make non-adoption explain itself
  runtime/prompt/media.go
  runtime/prompt/media_test.go
  runtime/prompt/pack_struct_coverage_test.go
  runtime/prompt/registry.go
Due: runtime

fix(prompt): adopt TemplateEngineInfo and Validator; correct the reasons that were wrong
  runtime/prompt/pack.go
  runtime/prompt/pack_struct_coverage_test.go
  runtime/prompt/registry.go
  sdk/internal/pack/validator_loadjson_test.go
  sdk/sdk.go
  sdk/validate_pack.go
  sdk/validators_to_hooks_test.go
Due: runtime, sdk

fix(evals): generate EvalDef; every pack with an eval was emitting invalid JSON
  runtime/evals/resolve.go
  runtime/evals/resolve_test.go
  runtime/evals/runner.go
  runtime/evals/types.go
  runtime/evals/types_test.go
  runtime/evals/validate.go
  runtime/evals/validate_test.go
  runtime/evals/when.go
  runtime/evals/when_test.go
  runtime/prompt/eval_emit_spec_test.go
  runtime/prompt/pack_evals_test.go
  runtime/prompt/pack_struct_coverage_test.go
  runtime/prompt/registry.go
Due: runtime

fix(workflow): generate Spec and State
  docs/src/content/docs/sdk/reference/conversation-manager.md
  runtime/prompt/pack.go
  runtime/prompt/pack_struct_coverage_test.go
  runtime/prompt/pack_test.go
  runtime/workflow/machine.go
  runtime/workflow/machine_test.go
  runtime/workflow/transition_executor.go
  runtime/workflow/transition_executor_test.go
  runtime/workflow/transition_tool.go
  runtime/workflow/transition_tool_test.go
  runtime/workflow/types.go
  runtime/workflow/types_test.go
  runtime/workflow/validate.go
  runtime/workflow/validate_test.go
  sdk/capability_workflow_test.go
  sdk/internal/pack/validate.go
  sdk/workflow.go
  sdk/workflow_events.go
  sdk/workflow_state_resolver.go
  sdk/workflow_state_resolver_test.go
  sdk/workflow_test.go
Due: runtime, sdk

fix(prompt): generate Variable and PackPrompt
  runtime/evals/types.go
  runtime/prompt/media_test.go
  runtime/prompt/metadata.go
  runtime/prompt/metadata_test.go
  runtime/prompt/pack.go
  runtime/prompt/pack_accessors_test.go
  runtime/prompt/pack_evals_test.go
  runtime/prompt/pack_schema_emit_test.go
  runtime/prompt/pack_struct_coverage_test.go
  runtime/prompt/pack_test.go
  runtime/prompt/registry.go
  runtime/prompt/version_test.go
  sdk/eval_middleware.go
  sdk/eval_middleware_test.go
  sdk/evaluate.go
  sdk/internal/pack/alias.go
  sdk/internal/pack/load.go
  sdk/internal/pack/load_test.go
  sdk/sdk_test.go
  sdk/validate_pack.go
  sdk/validators_to_hooks_test.go
Due: runtime, sdk

Path conditions:
  runtime: any of: runtime/, but not: **/*_test.go, **/*_interactive.go, **/*_integration.go, examples/, docs/, scripts/, .github/, *.md
  sdk: any of: sdk/, but not: **/*_test.go, **/*_interactive.go, **/*_integration.go, examples/, docs/, scripts/, .github/, *.md
  arena: any of: tools/arena/, but not: **/*_test.go, **/*_interactive.go, **/*_integration.go, examples/, docs/, scripts/, .github/, *.md
  packc: any of: tools/packc/, but not: **/*_test.go, **/*_interactive.go, **/*_integration.go, examples/, docs/, scripts/, .github/, *.md
  inspect-state: any of: tools/inspect-state/, but not: **/*_test.go, **/*_interactive.go, **/*_integration.go, examples/, docs/, scripts/, .github/, *.md
