Repository AltairaLabs/PromptKit: changes, and which Codecov flags are due for each by the changed paths.
All: runtime, sdk, arena, packc, inspect-state

codecov.yml:

codecov:
  require_ci_to_pass: yes
  notify:
    wait_for_ci: yes

coverage:
  precision: 2
  round: down
  range: "70...100"
  
  status:
    project:
      default:
        target: 70%
        threshold: 1%
        if_ci_failed: error
    patch:
      default:
        target: 70%
        threshold: 1%
        if_ci_failed: error

comment:
  layout: "reach,diff,flags,tree"
  behavior: default
  require_changes: false

flags:
  runtime:
    paths:
      - runtime/
  sdk:
    paths:
      - sdk/
  arena:
    paths:
      - tools/arena/
  packc:
    paths:
      - tools/packc/
  inspect-state:
    paths:
      - tools/inspect-state/

ignore:
  - "**/*_test.go"
  - "**/*_interactive.go"
  - "**/*_integration.go"
  - "examples/"
  - "docs/"
  - "scripts/"
  - ".github/"
  - "*.md"

feat(claude): native structured outputs via output_config (honor ResponseFormat)
  runtime/providers/claude/claude.go
  runtime/providers/claude/claude_streaming.go
  runtime/providers/claude/structured_outputs_test.go
Due: runtime

fix(gemini): sanitize JSON schema for responseSchema (strip unsupported keywords)
  runtime/providers/gemini/gemini.go
  runtime/providers/gemini/structured_outputs_test.go
Due: runtime

feat(claude): native structured outputs via output_config (honor ResponseFormat) (#1378)
  runtime/providers/claude/claude.go
  runtime/providers/claude/claude_streaming.go
  runtime/providers/claude/structured_outputs_test.go
Due: runtime

fix(gemini): sanitize JSON schema for responseSchema (strip unsupported keywords) (#1380)
  runtime/providers/gemini/gemini.go
  runtime/providers/gemini/structured_outputs_test.go
Due: runtime

feat(composition): log branch-predicate resolution + structured-output fallback; quiet benign empty-task guardrail load
  runtime/composition/engine/predicate.go
  runtime/pipeline/stage/composition_executor.go
  runtime/prompt/registry.go
Due: runtime

feat(composition): log branch-predicate resolution + structured-output fallback; quiet benign empty-task guardrail load (#1382)
  runtime/composition/engine/predicate.go
  runtime/pipeline/stage/composition_executor.go
  runtime/prompt/registry.go
Due: runtime

feat(examples): document-analysis composition example (RFC 0010)
  examples/document-analysis/README.md
  examples/document-analysis/config.arena.yaml
  examples/document-analysis/mock-responses.yaml
  examples/document-analysis/prompts/classify_doc.yaml
  examples/document-analysis/prompts/extract_general.yaml
  examples/document-analysis/prompts/extract_paper.yaml
  examples/document-analysis/prompts/meta_keywords.yaml
  examples/document-analysis/prompts/meta_summary.yaml
  examples/document-analysis/prompts/synthesize_doc.yaml
  examples/document-analysis/providers/mock-provider.yaml
  examples/document-analysis/scenarios/research-paper.scenario.yaml
  examples/document-analysis/schemas/classify_output.json
Due: none

fix(examples): wire synthesize input, strict classify schema, drop local-flag note (v1.5.0 schemas live)
  examples/document-analysis/README.md
  examples/document-analysis/config.arena.yaml
  examples/document-analysis/schemas/classify_output.json
Due: none

feat(examples): document-analysis composition example (RFC 0010) [gated on schema release] (#1350)
  examples/document-analysis/README.md
  examples/document-analysis/config.arena.yaml
  examples/document-analysis/mock-responses.yaml
  examples/document-analysis/prompts/classify_doc.yaml
  examples/document-analysis/prompts/extract_general.yaml
  examples/document-analysis/prompts/extract_paper.yaml
  examples/document-analysis/prompts/meta_keywords.yaml
  examples/document-analysis/prompts/meta_summary.yaml
  examples/document-analysis/prompts/synthesize_doc.yaml
  examples/document-analysis/providers/mock-provider.yaml
  examples/document-analysis/scenarios/research-paper.scenario.yaml
  examples/document-analysis/schemas/classify_output.json
Due: none

ci: run document-analysis composition example in the mock-provider test list
  .github/workflows/ci.yml
Due: none

ci: run document-analysis composition example in the mock-provider test list (#1383)
  .github/workflows/ci.yml
Due: none

feat(sdk,runtime): image__generate / video__generate tools — invoke pooled media providers mid-conversation (#1329)
  pkg/config/role.go
  pkg/config/types.go
  runtime/mediagen/descriptors.go
  runtime/mediagen/executor.go
  runtime/mediagen/executor_test.go
  runtime/providers/base/types.go
  runtime/tools/types.go
  schemas/v1alpha1/arena.json
  schemas/v1alpha1/provider.json
  schemas/v1alpha1/runtime-config.json
  sdk/conversation.go
  sdk/mediagen_tools.go
  sdk/mediagen_tools_test.go
  sdk/provider_file.go
Due: runtime, sdk

feat(arena,evals): wire image__generate into Arena + surface tool-generated media; live example
  examples/arena-media-test/config.arena.yaml
  examples/arena-media-test/prompts/image-generator.yaml
  examples/arena-media-test/scenarios/tool-image-generation.scenario.yaml
  runtime/evals/handlers/helpers.go
  runtime/evals/handlers/media_helpers.go
  runtime/evals/handlers/media_toolresult_test.go
  tools/arena/engine/builder_integration.go
  tools/arena/engine/duplex_executor_types.go
  tools/arena/engine/execution_workflow_integration.go
  tools/arena/engine/media_collector.go
  tools/arena/engine/media_collector_test.go
  tools/arena/engine/mediagen_tools_test.go
Due: runtime, arena

feat(sdk,runtime): image__generate / video__generate tools (#1329) (#1384)
  examples/arena-media-test/config.arena.yaml
  examples/arena-media-test/prompts/image-generator.yaml
  examples/arena-media-test/scenarios/tool-image-generation.scenario.yaml
  pkg/config/role.go
  pkg/config/types.go
  runtime/evals/handlers/helpers.go
  runtime/evals/handlers/media_helpers.go
  runtime/evals/handlers/media_toolresult_test.go
  runtime/mediagen/descriptors.go
  runtime/mediagen/executor.go
  runtime/mediagen/executor_test.go
  runtime/providers/base/types.go
  runtime/tools/types.go
  schemas/v1alpha1/arena.json
  schemas/v1alpha1/provider.json
  schemas/v1alpha1/runtime-config.json
  sdk/conversation.go
  sdk/mediagen_tools.go
  sdk/mediagen_tools_test.go
  sdk/provider_file.go
  tools/arena/engine/builder_integration.go
  tools/arena/engine/duplex_executor_types.go
  tools/arena/engine/execution_workflow_integration.go
  tools/arena/engine/media_collector.go
  tools/arena/engine/media_collector_test.go
  tools/arena/engine/mediagen_tools_test.go
Due: runtime, sdk, arena

feat(evals): image_moderation eval handler + tool-result media across the board (#1228)
  docs/src/content/docs/reference/checks.md
  runtime/evals/handlers/audio_emotion.go
  runtime/evals/handlers/audio_emotion_test.go
  runtime/evals/handlers/handlers_test.go
  runtime/evals/handlers/image_moderation.go
  runtime/evals/handlers/image_moderation_test.go
  runtime/evals/handlers/media_helpers.go
  runtime/evals/handlers/register.go
Due: runtime

test(examples): prove image_moderation end-to-end in arena-media-test (#1228)
  examples/arena-media-test/config.arena.yaml
  examples/arena-media-test/providers/hf.provider.yaml
  examples/arena-media-test/scenarios/tool-image-generation.scenario.yaml
Due: none

docs: drop broken /reference/tools link in image_moderation check
  docs/src/content/docs/reference/checks.md
Due: none

chore(schema): regenerate schemas with image_moderation eval type
  schemas/v1alpha1/arena.json
  schemas/v1alpha1/common/assertions.json
  schemas/v1alpha1/eval.json
  schemas/v1alpha1/scenario.json
Due: none

feat(evals): image_moderation eval handler + tool-result media across the board (#1228) (#1385)
  docs/src/content/docs/reference/checks.md
  examples/arena-media-test/config.arena.yaml
  examples/arena-media-test/providers/hf.provider.yaml
  examples/arena-media-test/scenarios/tool-image-generation.scenario.yaml
  runtime/evals/handlers/audio_emotion.go
  runtime/evals/handlers/audio_emotion_test.go
  runtime/evals/handlers/handlers_test.go
  runtime/evals/handlers/image_moderation.go
  runtime/evals/handlers/image_moderation_test.go
  runtime/evals/handlers/media_helpers.go
  runtime/evals/handlers/register.go
  schemas/v1alpha1/arena.json
  schemas/v1alpha1/common/assertions.json
  schemas/v1alpha1/eval.json
  schemas/v1alpha1/scenario.json
Due: runtime

chore(deps)(deps): bump golang.org/x/term from 0.43.0 to 0.44.0 in /tools/arena
  tools/arena/go.mod
  tools/arena/go.sum
Due: arena

chore(deps)(deps): bump astro from 6.4.4 to 6.4.6 in /docs
  docs/package-lock.json
  docs/package.json
Due: none

feat(sdk): add WithJSONInput for function-style structured input binding
  sdk/conversation.go
  sdk/e2e_config_test.go
  sdk/e2e_json_input_test.go
  sdk/e2e_streaming_test.go
  sdk/e2e_transcription_pipeline_test.go
  sdk/examples/json-function/README.md
  sdk/examples/json-function/main.go
  sdk/examples/json-function/research.pack.json
  sdk/examples/json-function/smoke_test.go
  sdk/integration/json_input_test.go
  sdk/json_input.go
  sdk/json_input_test.go
  sdk/options.go
  sdk/streaming.go
  sdk/streaming_test.go
Due: sdk

fix(runtime): resolve per-send variables for required-var validation
  runtime/pipeline/stage/stages_core.go
  runtime/variables/request.go
  runtime/variables/request_test.go
  sdk/e2e_config_test.go
  sdk/integration/json_input_test.go
  sdk/json_input.go
Due: runtime, sdk

docs(sdk): document WithJSONInput in the conversation guide
  docs/src/content/docs/sdk/reference/conversation-manager.md
Due: none

feat(sdk): WithJSONInput — function-style structured input binding (#1387)
  docs/src/content/docs/sdk/reference/conversation-manager.md
  runtime/pipeline/stage/stages_core.go
  runtime/variables/request.go
  runtime/variables/request_test.go
  sdk/conversation.go
  sdk/e2e_config_test.go
  sdk/e2e_json_input_test.go
  sdk/e2e_streaming_test.go
  sdk/e2e_transcription_pipeline_test.go
  sdk/examples/json-function/README.md
  sdk/examples/json-function/main.go
  sdk/examples/json-function/research.pack.json
  sdk/examples/json-function/smoke_test.go
  sdk/integration/json_input_test.go
  sdk/json_input.go
  sdk/json_input_test.go
  sdk/options.go
  sdk/streaming.go
  sdk/streaming_test.go
Due: runtime, sdk

fix(docs): correct broken doc links and install instructions
  .github/workflows/docs.yml
  .github/workflows/release.yml
  docs/check-doc-urls.js
  docs/package.json
  docs/src/content/docs/arena/how-to/installation.md
  docs/src/content/docs/arena/how-to/integrate-ci-cd.md
  docs/src/content/docs/arena/index.md
  docs/src/content/docs/arena/tutorials/01-first-test.md
  docs/src/content/docs/arena/tutorials/05-ci-integration.md
  docs/src/content/docs/devops/goreleaser-integration.md
  npm/promptarena/README.md
  tools/arena/templates/builtin/code-assistant/templates/readme.md.tmpl
  tools/arena/templates/builtin/content-generation/templates/readme.md.tmpl
  tools/arena/templates/builtin/customer-support/templates/readme.md.tmpl
  tools/arena/templates/builtin/mcp-integration/templates/readme.md.tmpl
  tools/arena/templates/builtin/multimodal/templates/readme.md.tmpl
Due: arena

fix(docs): exclude link-check scripts from check-doc-urls scan
  docs/check-doc-urls.js
Due: none

fix(docs): correct broken doc links and install instructions (#1388)
  .github/workflows/docs.yml
  .github/workflows/release.yml
  docs/check-doc-urls.js
  docs/package.json
  docs/src/content/docs/arena/how-to/installation.md
  docs/src/content/docs/arena/how-to/integrate-ci-cd.md
  docs/src/content/docs/arena/index.md
  docs/src/content/docs/arena/tutorials/01-first-test.md
  docs/src/content/docs/arena/tutorials/05-ci-integration.md
  docs/src/content/docs/devops/goreleaser-integration.md
  npm/promptarena/README.md
  tools/arena/templates/builtin/code-assistant/templates/readme.md.tmpl
  tools/arena/templates/builtin/content-generation/templates/readme.md.tmpl
  tools/arena/templates/builtin/customer-support/templates/readme.md.tmpl
  tools/arena/templates/builtin/mcp-integration/templates/readme.md.tmpl
  tools/arena/templates/builtin/multimodal/templates/readme.md.tmpl
Due: arena

feat(arena): agentkb concepts + assembled authoring skill (#1389)
  tools/arena/agentkb/concepts.go
  tools/arena/agentkb/concepts/assertions-vs-evals.md
  tools/arena/agentkb/concepts/mock-providers.md
  tools/arena/agentkb/concepts/schema-validation.md
  tools/arena/agentkb/concepts_test.go
  tools/arena/agentkb/skill.go
  tools/arena/agentkb/skill_test.go
Due: arena

feat(arena): init writes AI-agent brief by default (#1390)
  tools/arena/cmd/promptarena/agent_brief.go
  tools/arena/cmd/promptarena/agent_brief_test.go
  tools/arena/cmd/promptarena/init.go
  tools/arena/cmd/promptarena/init_interactive.go
  tools/arena/cmd/promptarena/init_test.go
Due: arena

feat(arena): embed version-locked JSON schemas in agentkb (#1389)
  tools/arena/agentkb/schema.go
  tools/arena/agentkb/schema_test.go
  tools/arena/agentkb/schemas/arena.json
  tools/arena/agentkb/schemas/common/assertions.json
  tools/arena/agentkb/schemas/common/media.json
  tools/arena/agentkb/schemas/common/metadata.json
  tools/arena/agentkb/schemas/eval.json
  tools/arena/agentkb/schemas/logging.json
  tools/arena/agentkb/schemas/persona.json
  tools/arena/agentkb/schemas/promptconfig.json
  tools/arena/agentkb/schemas/provider.json
  tools/arena/agentkb/schemas/runtime-config.json
  tools/arena/agentkb/schemas/scenario.json
  tools/arena/agentkb/schemas/tool.json
Due: arena

feat(arena): agentkb example catalog + lint (#1389)
  tools/arena/agentkb/catalog.go
  tools/arena/agentkb/catalog.yaml
  tools/arena/agentkb/catalog_test.go
Due: arena

feat(arena): promptarena schema command (#1391)
  tools/arena/cmd/promptarena/schema_cmd.go
  tools/arena/cmd/promptarena/schema_cmd_test.go
Due: arena

feat(arena): promptarena explain command (#1391)
  tools/arena/cmd/promptarena/explain_cmd.go
  tools/arena/cmd/promptarena/explain_cmd_test.go
Due: arena

feat(arena): promptarena examples list/show (#1391)
  tools/arena/agentkb/catalog.go
  tools/arena/cmd/promptarena/examples_cmd.go
  tools/arena/cmd/promptarena/examples_cmd_test.go
Due: arena

feat(arena): validate --json + brief points at discovery commands (#1391)
  tools/arena/agentkb/skill.go
  tools/arena/cmd/promptarena/validate.go
  tools/arena/cmd/promptarena/validate_json.go
  tools/arena/cmd/promptarena/validate_json_test.go
Due: arena

feat(arena): agentkb keystone + init agent brief (Phase A) (#1394)
  tools/arena/agentkb/catalog.go
  tools/arena/agentkb/catalog.yaml
  tools/arena/agentkb/catalog_test.go
  tools/arena/agentkb/concepts.go
  tools/arena/agentkb/concepts/assertions-vs-evals.md
  tools/arena/agentkb/concepts/mock-providers.md
  tools/arena/agentkb/concepts/schema-validation.md
  tools/arena/agentkb/concepts_test.go
  tools/arena/agentkb/schema.go
  tools/arena/agentkb/schema_test.go
  tools/arena/agentkb/schemas/arena.json
  tools/arena/agentkb/schemas/common/assertions.json
  tools/arena/agentkb/schemas/common/media.json
  tools/arena/agentkb/schemas/common/metadata.json
  tools/arena/agentkb/schemas/eval.json
  tools/arena/agentkb/schemas/logging.json
  tools/arena/agentkb/schemas/persona.json
  tools/arena/agentkb/schemas/promptconfig.json
  tools/arena/agentkb/schemas/provider.json
  tools/arena/agentkb/schemas/runtime-config.json
  tools/arena/agentkb/schemas/scenario.json
  tools/arena/agentkb/schemas/tool.json
  tools/arena/agentkb/skill.go
  tools/arena/agentkb/skill_test.go
  tools/arena/cmd/promptarena/agent_brief.go
  tools/arena/cmd/promptarena/agent_brief_test.go
  tools/arena/cmd/promptarena/init.go
  tools/arena/cmd/promptarena/init_interactive.go
  tools/arena/cmd/promptarena/init_test.go
Due: arena
