Repository AltairaLabs/PromptKit: changes, and which Codecov flags are due for each by the changed paths.
All: runtime, sdk, arena, packc, inspect-state

codecov.yml:

codecov:
  require_ci_to_pass: yes
  notify:
    wait_for_ci: yes

coverage:
  precision: 2
  round: down
  range: "70...100"
  
  status:
    project:
      default:
        target: 70%
        threshold: 1%
        if_ci_failed: error
    patch:
      default:
        target: 70%
        threshold: 1%
        if_ci_failed: error

comment:
  layout: "reach,diff,flags,tree"
  behavior: default
  require_changes: false

flags:
  runtime:
    paths:
      - runtime/
  sdk:
    paths:
      - sdk/
  arena:
    paths:
      - tools/arena/
  packc:
    paths:
      - tools/packc/
  inspect-state:
    paths:
      - tools/inspect-state/

ignore:
  - "**/*_test.go"
  - "**/*_interactive.go"
  - "**/*_integration.go"
  - "examples/"
  - "docs/"
  - "scripts/"
  - ".github/"
  - "*.md"

fix(mcp): fixes found running the client against real MCP servers
  docs/src/content/docs/runtime/how-to/tools/integrate-mcp.md
  docs/src/content/docs/runtime/reference/mcp.md
  runtime/mcp/client.go
  runtime/mcp/session.go
  runtime/mcp/session_behaviour_test.go
  runtime/mcp/shutdown_test.go
  runtime/mcp/spec_parity_test.go
  runtime/mcp/sse_transport.go
  runtime/mcp/sse_transport_test.go
  runtime/mcp/types.go
  tools/seamscan/weakassert.go
  tools/seamscan/weakassert_test.go
Due: runtime

fix(mcp): address code review of the MCP upgrade
  docs/src/content/docs/runtime/reference/mcp.md
  docs/src/content/docs/runtime/reference/tools.md
  runtime/mcp/client.go
  runtime/mcp/era.go
  runtime/mcp/http_client.go
  runtime/mcp/session.go
  runtime/mcp/session_behaviour_test.go
  runtime/mcp/shutdown_test.go
  runtime/mcp/spec_parity_test.go
  runtime/mcp/sse_client.go
  runtime/mcp/sse_transport.go
  runtime/mcp/sse_transport_test.go
  runtime/mcp/streamable_client.go
  runtime/mcp/streamable_transport.go
  runtime/tools/mcp_executor.go
  runtime/tools/mcp_executor_test.go
  runtime/tools/validator.go
Due: runtime

fix: apply a prompt's tool_policy everywhere the runtime runs it
  docs/src/content/docs/concepts/tools-mcp.md
  docs/src/content/docs/runtime/reference/pipeline.md
  runtime/pipeline/stage/composition_executor.go
  runtime/pipeline/stage/stages_provider.go
  runtime/pipeline/stage/stages_provider_tool_policy_test.go
  runtime/pipeline/tool_policy_test.go
  runtime/pipeline/types.go
  runtime/prompt/pack.go
  runtime/prompt/pack_accessors_test.go
  runtime/prompt/registry.go
  sdk/tool_policy_test.go
Due: runtime

fix(providers): never replay tool-call arguments that are not valid JSON
  runtime/providers/gemini/gemini_tools.go
  runtime/providers/gemini/replay_args_test.go
  runtime/providers/ollama/ollama_tools.go
  runtime/providers/ollama/replay_args_test.go
  runtime/providers/openai/openai_tools.go
  runtime/providers/openai/replay_args_test.go
  runtime/providers/openai/responses_convert.go
  runtime/providers/vllm/replay_args_test.go
  runtime/providers/vllm/vllm.go
Due: runtime

fix(providers): honor Retry-After when retrying a stream
  docs/src/content/docs/runtime/reference/providers.md
  docs/src/content/docs/sdk/reference/runtime-config.md
  runtime/providers/errors.go
  runtime/providers/stream_metrics.go
  runtime/providers/stream_retry.go
  runtime/providers/stream_retry_after_test.go
  runtime/providers/stream_retry_driver.go
Due: runtime

fix: apply a prompt's tool_policy everywhere the runtime runs it (#2107)
  docs/src/content/docs/concepts/tools-mcp.md
  docs/src/content/docs/runtime/reference/pipeline.md
  runtime/pipeline/stage/composition_executor.go
  runtime/pipeline/stage/stages_provider.go
  runtime/pipeline/stage/stages_provider_tool_policy_test.go
  runtime/pipeline/tool_policy_test.go
  runtime/pipeline/types.go
  runtime/prompt/pack.go
  runtime/prompt/pack_accessors_test.go
  runtime/prompt/registry.go
  sdk/tool_policy_test.go
Due: runtime

fix(providers): never replay tool-call arguments that are not valid JSON (#2108)
  runtime/providers/gemini/gemini_tools.go
  runtime/providers/gemini/replay_args_test.go
  runtime/providers/ollama/ollama_tools.go
  runtime/providers/ollama/replay_args_test.go
  runtime/providers/openai/openai_tools.go
  runtime/providers/openai/replay_args_test.go
  runtime/providers/openai/responses_convert.go
  runtime/providers/vllm/replay_args_test.go
  runtime/providers/vllm/vllm.go
Due: runtime

fix(providers): honor Retry-After when retrying a stream (#2109)
  docs/src/content/docs/runtime/reference/providers.md
  docs/src/content/docs/sdk/reference/runtime-config.md
  runtime/providers/errors.go
  runtime/providers/stream_metrics.go
  runtime/providers/stream_retry.go
  runtime/providers/stream_retry_after_test.go
  runtime/providers/stream_retry_driver.go
Due: runtime

ci(release): accept struct-comparability and constant-value API changes
  .github/workflows/ci.yml
  scripts/api-compat-allowlist.sh
  scripts/check-api-compatibility.sh
  scripts/test-api-compat-allowlist.sh
Due: none

ci(release): accept struct-comparability and constant-value API changes (#2110)
  .github/workflows/ci.yml
  scripts/api-compat-allowlist.sh
  scripts/check-api-compatibility.sh
  scripts/test-api-compat-allowlist.sh
Due: none

feat(config): let a program validate configs against its own schemas
  pkg/config/schema_fs_test.go
  pkg/config/schema_validator.go
Due: none

feat(config): let a program validate configs against its own schemas (#2112)
  pkg/config/schema_fs_test.go
  pkg/config/schema_validator.go
Due: none

fix(a2a): client honors the card interface, data values, stream errors; executor reports unfinished tasks
  docs/src/content/docs/runtime/reference/a2a.md
  runtime/a2a/client.go
  runtime/a2a/conformance_test.go
  runtime/a2a/executor.go
  runtime/a2a/executor_test.go
  runtime/a2a/parts.go
  runtime/a2a/types.go
  runtime/a2a/wire.go
Due: runtime

fix(a2a-server): continue tasks by taskId, declare real capabilities, keep tasks past stream disconnects
  docs/src/content/docs/concepts/a2a.md
  docs/src/content/docs/sdk/how-to/tools/client-tools.md
  server/a2a/conformance_gaps_test.go
  server/a2a/conformance_test.go
  server/a2a/handler_send.go
  server/a2a/protocol.go
  server/a2a/server.go
  server/a2a/server_stream.go
  server/a2a/server_stream_test.go
  server/a2a/stream_edges_test.go
Due: none

fix(a2a): A2A tools discover the agent card before calling the agent
  docs/src/content/docs/runtime/reference/a2a.md
  docs/src/content/docs/sdk/reference/conversation-manager.md
  runtime/a2a/bridge.go
  runtime/a2a/client.go
  runtime/a2a/executor.go
  runtime/a2a/executor_discovery_test.go
  runtime/a2a/executor_retry_test.go
  runtime/a2a/executor_test.go
  sdk/a2a_card_sharing_test.go
  sdk/capability_a2a.go
Due: runtime, sdk

fix(a2a-server): claim the task before submitting client tool results
  server/a2a/conformance_gaps_test.go
  server/a2a/server.go
  server/a2a/server_stream.go
Due: none

fix(agui): emit AG-UI 1.0 conforming runs and messages
  docs/src/content/docs/concepts/ag-ui.md
  docs/src/content/docs/sdk/reference/ag-ui.md
  docs/src/content/docs/sdk/reference/conversation-manager.md
  docs/src/content/docs/sdk/tutorials/11-ag-ui-integration.md
  sdk/agui/adapter.go
  sdk/agui/adapter_e2e_test.go
  sdk/agui/adapter_helpers_test.go
  sdk/agui/adapter_test.go
  sdk/agui/convert.go
  sdk/agui/convert_spec_test.go
  sdk/agui/convert_test.go
  sdk/agui/helpers_test.go
  sdk/agui/sequence_validator_test.go
  sdk/conversation.go
  sdk/go.mod
  sdk/go.sum
  sdk/response.go
  sdk/response_export.go
  sdk/response_turn_messages_test.go
  sdk/streaming.go
Due: sdk

fix(a2a-server): a finished turn removes only its own cancel registration
  docs/src/content/docs/sdk/reference/a2a-server.md
  server/a2a/conformance_gaps_test.go
  server/a2a/server.go
  server/a2a/server_stream.go
Due: none

fix(a2a): follow the card only where it adds information, never to plain http
  docs/src/content/docs/runtime/reference/a2a.md
  runtime/a2a/client.go
  runtime/a2a/client_endpoint_test.go
  runtime/a2a/executor_discovery_test.go
Due: runtime

fix(a2a): bound card discovery by each caller, accept binding aliases, follow https hosts
  docs/src/content/docs/runtime/reference/a2a.md
  runtime/a2a/client.go
  runtime/a2a/client_endpoint_test.go
  runtime/a2a/executor_discovery_test.go
  runtime/a2a/version.go
  runtime/a2a/wire.go
Due: runtime

fix(a2a-server): stream every conversation, so declared streaming is never refused
  docs/src/content/docs/concepts/a2a.md
  server/a2a/protocol.go
  server/a2a/server_stream.go
  server/a2a/server_stream_test.go
Due: none

fix(a2a-server): report every pending client tool when streaming a non-streaming conversation
  server/a2a/server_stream.go
  server/a2a/server_stream_test.go
Due: none

fix(a2a): the configured agent host is authoritative; bound the discovery wait
  docs/src/content/docs/runtime/reference/a2a.md
  docs/src/content/docs/runtime/tutorials/07-a2a-client.md
  runtime/a2a/client.go
  runtime/a2a/client_endpoint_test.go
Due: runtime

fix(a2a): take tenant and version only from an interface on the caller's host
  docs/src/content/docs/runtime/reference/a2a.md
  runtime/a2a/client.go
  runtime/a2a/client_endpoint_test.go
  runtime/a2a/wire_test.go
Due: runtime

fix(a2a): match interfaces on host and port; release a stream's claim if it cannot start
  docs/src/content/docs/runtime/reference/a2a.md
  docs/src/content/docs/runtime/tutorials/07-a2a-client.md
  runtime/a2a/client.go
  runtime/a2a/client_endpoint_test.go
  server/a2a/conformance_gaps_test.go
  server/a2a/server_stream.go
Due: runtime

fix(providers): keep the next response's audio after a barge-in
  docs/src/content/docs/runtime/reference/providers.md
  runtime/providers/gemini/stream_session_protocol_integration.go
  runtime/providers/openai/realtime_session_integration.go
  runtime/providers/stream_pump.go
  runtime/providers/stream_pump_test.go
  runtime/providers/streaming.go
Due: runtime

fix(a2a): keep a caller-set tenant; do not warn about TLS-terminating proxies
  docs/src/content/docs/runtime/reference/a2a.md
  runtime/a2a/client.go
  runtime/a2a/client_endpoint_test.go
  runtime/a2a/conformance_test.go
Due: runtime

fix(providers): keep the next response's audio after a barge-in (#2115)
  docs/src/content/docs/runtime/reference/providers.md
  runtime/providers/gemini/stream_session_protocol_integration.go
  runtime/providers/openai/realtime_session_integration.go
  runtime/providers/stream_pump.go
  runtime/providers/stream_pump_test.go
  runtime/providers/streaming.go
Due: runtime

fix(a2a): A2A 1.0/0.3 conformance bugs from #2101 (#2113)
  docs/src/content/docs/concepts/a2a.md
  docs/src/content/docs/runtime/reference/a2a.md
  docs/src/content/docs/runtime/tutorials/07-a2a-client.md
  docs/src/content/docs/sdk/how-to/tools/client-tools.md
  docs/src/content/docs/sdk/reference/a2a-server.md
  docs/src/content/docs/sdk/reference/conversation-manager.md
  runtime/a2a/bridge.go
  runtime/a2a/client.go
  runtime/a2a/client_endpoint_test.go
  runtime/a2a/conformance_test.go
  runtime/a2a/executor.go
  runtime/a2a/executor_discovery_test.go
  runtime/a2a/executor_retry_test.go
  runtime/a2a/executor_test.go
  runtime/a2a/parts.go
  runtime/a2a/types.go
  runtime/a2a/version.go
  runtime/a2a/wire.go
  runtime/a2a/wire_test.go
  sdk/a2a_card_sharing_test.go
  sdk/capability_a2a.go
  server/a2a/conformance_gaps_test.go
  server/a2a/conformance_test.go
  server/a2a/handler_send.go
  server/a2a/protocol.go
  server/a2a/server.go
  server/a2a/server_stream.go
  server/a2a/server_stream_test.go
  server/a2a/stream_edges_test.go
Due: runtime, sdk

fix(agui): answer each call once when a turn resumes or continues
  docs/src/content/docs/sdk/reference/ag-ui.md
  docs/src/content/docs/sdk/reference/conversation-manager.md
  docs/src/content/docs/sdk/tutorials/11-ag-ui-integration.md
  sdk/agui/adapter_continuation_test.go
  sdk/agui/adapter_e2e_test.go
  sdk/agui/adapter_test.go
  sdk/agui/convert.go
  sdk/agui/helpers_test.go
  sdk/agui/sequence_validator_test.go
  sdk/client_tools.go
  sdk/client_tools_test.go
  sdk/conversation_tools.go
  sdk/resume_answers_test.go
Due: sdk

fix(agui): keep answers for reused call ids, and record tool failures
  docs/src/content/docs/sdk/reference/ag-ui.md
  docs/src/content/docs/sdk/reference/conversation-manager.md
  sdk/agui/adapter.go
  sdk/agui/adapter_continuation_test.go
  sdk/agui/adapter_helpers_test.go
  sdk/client_tools.go
  sdk/resume_answers_test.go
Due: sdk

fix(sdk): keep a workflow transition pending while the turn is suspended
  docs/src/content/docs/sdk/reference/conversation-manager.md
  sdk/agui/adapter_workflow_suspend_test.go
  sdk/workflow.go
  sdk/workflow_suspend_test.go
Due: sdk

fix(agui): report each round's tool results when call ids repeat
  docs/src/content/docs/concepts/ag-ui.md
  docs/src/content/docs/sdk/reference/ag-ui.md
  docs/src/content/docs/sdk/tutorials/11-ag-ui-integration.md
  sdk/agui/adapter.go
  sdk/agui/adapter_call_ids_test.go
  sdk/agui/sequence_validator_test.go
Due: sdk

fix(agui): never emit empty tool results; apply an abandoned turn's transition
  docs/src/content/docs/concepts/ag-ui.md
  docs/src/content/docs/sdk/reference/conversation-manager.md
  sdk/agui/adapter.go
  sdk/agui/adapter_content_test.go
  sdk/agui/sequence_validator_test.go
  sdk/resume_answers_test.go
  sdk/workflow.go
  sdk/workflow_suspend_test.go
Due: sdk

fix(sdk): drop tool answers that belong to an abandoned turn
  docs/src/content/docs/sdk/reference/conversation-manager.md
  sdk/agui/adapter_abandoned_test.go
  sdk/client_tools.go
  sdk/conversation.go
  sdk/conversation_tools.go
  sdk/resume_answers_test.go
  sdk/streaming.go
Due: sdk

fix(agui): do not repeat a provider's answers when the turn resumes
  docs/src/content/docs/sdk/reference/ag-ui.md
  sdk/agui/adapter.go
  sdk/agui/adapter_abandoned_test.go
Due: sdk

fix(agui): match provider answers within their round; never send empty parts
  docs/src/content/docs/sdk/reference/ag-ui.md
  sdk/agui/adapter.go
  sdk/agui/adapter_final_test.go
  sdk/agui/convert.go
Due: sdk

fix(agui): don't resume past a call held for approval
  sdk/agui/adapter.go
  sdk/agui/adapter_mixed_hold_test.go
Due: sdk

fix(agui): emit AG-UI 1.0 conforming runs and messages (#2114)
  docs/src/content/docs/concepts/ag-ui.md
  docs/src/content/docs/sdk/reference/ag-ui.md
  docs/src/content/docs/sdk/reference/conversation-manager.md
  docs/src/content/docs/sdk/tutorials/11-ag-ui-integration.md
  sdk/agui/adapter.go
  sdk/agui/adapter_abandoned_test.go
  sdk/agui/adapter_call_ids_test.go
  sdk/agui/adapter_content_test.go
  sdk/agui/adapter_continuation_test.go
  sdk/agui/adapter_e2e_test.go
  sdk/agui/adapter_final_test.go
  sdk/agui/adapter_helpers_test.go
  sdk/agui/adapter_mixed_hold_test.go
  sdk/agui/adapter_test.go
  sdk/agui/adapter_workflow_suspend_test.go
  sdk/agui/convert.go
  sdk/agui/convert_spec_test.go
  sdk/agui/convert_test.go
  sdk/agui/helpers_test.go
  sdk/agui/sequence_validator_test.go
  sdk/client_tools.go
  sdk/client_tools_test.go
  sdk/conversation.go
  sdk/conversation_tools.go
  sdk/go.mod
  sdk/go.sum
  sdk/response.go
  sdk/response_export.go
  sdk/response_turn_messages_test.go
  sdk/resume_answers_test.go
  sdk/streaming.go
  sdk/workflow.go
  sdk/workflow_suspend_test.go
Due: sdk
