Repository AltairaLabs/PromptKit: changes, and which Codecov flags are due for each by the changed paths.
All: runtime, sdk, arena, packc, inspect-state

codecov.yml:

codecov:
  require_ci_to_pass: yes
  notify:
    wait_for_ci: yes

coverage:
  precision: 2
  round: down
  range: "70...100"
  
  status:
    project:
      default:
        target: 70%
        threshold: 1%
        if_ci_failed: error
    patch:
      default:
        target: 70%
        threshold: 1%
        if_ci_failed: error

comment:
  layout: "reach,diff,flags,tree"
  behavior: default
  require_changes: false

flags:
  runtime:
    paths:
      - runtime/
  sdk:
    paths:
      - sdk/
  arena:
    paths:
      - tools/arena/
  packc:
    paths:
      - tools/packc/
  inspect-state:
    paths:
      - tools/inspect-state/

ignore:
  - "**/*_test.go"
  - "**/*_interactive.go"
  - "**/*_integration.go"
  - "examples/"
  - "docs/"
  - "scripts/"
  - ".github/"
  - "*.md"

fix: replace random nonce with atomic counter in generateRunID
  tools/arena/engine/execution.go
Due: arena

fix: replace random nonce with atomic counter in generateRunID (#670)
  tools/arena/engine/execution.go
Due: arena

feat: add statistical execution infrastructure for trials
  pkg/config/types.go
  runtime/evals/stats.go
  runtime/evals/stats_test.go
  schemas/v1alpha1/arena.json
  schemas/v1alpha1/eval.json
  schemas/v1alpha1/scenario.json
  tools/arena/assertions/conversation.go
  tools/arena/engine/types.go
Due: runtime, arena

feat: add statistical execution infrastructure for trials (#671)
  pkg/config/types.go
  runtime/evals/stats.go
  runtime/evals/stats_test.go
  schemas/v1alpha1/arena.json
  schemas/v1alpha1/eval.json
  schemas/v1alpha1/scenario.json
  tools/arena/assertions/conversation.go
  tools/arena/engine/types.go
Due: runtime, arena

feat: add trial expansion and aggregation to arena engine
  tools/arena/engine/execution.go
  tools/arena/engine/trials.go
  tools/arena/engine/trials_test.go
  tools/arena/engine/types.go
  tools/arena/statestore/metadata.go
  tools/arena/statestore/store.go
Due: arena

feat: add trial expansion and aggregation to arena engine (#672)
  tools/arena/engine/execution.go
  tools/arena/engine/trials.go
  tools/arena/engine/trials_test.go
  tools/arena/engine/types.go
  tools/arena/statestore/metadata.go
  tools/arena/statestore/store.go
Due: arena

feat: add Phase 3+4 eval validators — invariants, workflow, and skill ordering
  runtime/evals/handlers/handlers_test.go
  runtime/evals/handlers/invariant_fields_preserved.go
  runtime/evals/handlers/invariant_fields_preserved_test.go
  runtime/evals/handlers/register.go
  runtime/evals/handlers/skill_activation_order.go
  runtime/evals/handlers/skill_activation_order_test.go
  runtime/evals/handlers/workflow_tool_access.go
  runtime/evals/handlers/workflow_tool_access_test.go
  runtime/evals/handlers/workflow_transition_order.go
  runtime/evals/handlers/workflow_transition_order_test.go
Due: runtime

feat: add Phase 3+4 eval validators — invariants, workflow, and skill ordering (#673)
  runtime/evals/handlers/handlers_test.go
  runtime/evals/handlers/invariant_fields_preserved.go
  runtime/evals/handlers/invariant_fields_preserved_test.go
  runtime/evals/handlers/register.go
  runtime/evals/handlers/skill_activation_order.go
  runtime/evals/handlers/skill_activation_order_test.go
  runtime/evals/handlers/workflow_tool_access.go
  runtime/evals/handlers/workflow_tool_access_test.go
  runtime/evals/handlers/workflow_transition_order.go
  runtime/evals/handlers/workflow_transition_order_test.go
Due: runtime

feat: add Phase 6 behavioral testing — perturbations, outcome equivalence, directional assertions
  pkg/config/types.go
  runtime/evals/handlers/behavioral_helpers.go
  runtime/evals/handlers/directional.go
  runtime/evals/handlers/directional_test.go
  runtime/evals/handlers/handlers_test.go
  runtime/evals/handlers/outcome_equivalent.go
  runtime/evals/handlers/outcome_equivalent_test.go
  runtime/evals/handlers/register.go
  schemas/v1alpha1/arena.json
  schemas/v1alpha1/scenario.json
  tools/arena/engine/execution.go
  tools/arena/engine/perturbations.go
  tools/arena/engine/perturbations_test.go
  tools/arena/engine/types.go
Due: runtime, arena

feat: add Phase 6 behavioral testing — perturbations, outcome equivalence, directional assertions (#674)
  pkg/config/types.go
  runtime/evals/handlers/behavioral_helpers.go
  runtime/evals/handlers/directional.go
  runtime/evals/handlers/directional_test.go
  runtime/evals/handlers/handlers_test.go
  runtime/evals/handlers/outcome_equivalent.go
  runtime/evals/handlers/outcome_equivalent_test.go
  runtime/evals/handlers/register.go
  schemas/v1alpha1/arena.json
  schemas/v1alpha1/scenario.json
  tools/arena/engine/execution.go
  tools/arena/engine/perturbations.go
  tools/arena/engine/perturbations_test.go
  tools/arena/engine/types.go
Due: runtime, arena

feat: add Phase 7 chaos injection for resilience testing
  pkg/config/types.go
  schemas/v1alpha1/arena.json
  schemas/v1alpha1/scenario.json
  tools/arena/chaos/hook.go
  tools/arena/chaos/hook_test.go
  tools/arena/engine/conversation_executor.go
  tools/arena/turnexecutors/interfaces.go
  tools/arena/turnexecutors/pipeline_executor.go
Due: arena

feat: add Phase 7 chaos injection for resilience testing (#675)
  pkg/config/types.go
  schemas/v1alpha1/arena.json
  schemas/v1alpha1/scenario.json
  tools/arena/chaos/hook.go
  tools/arena/chaos/hook_test.go
  tools/arena/engine/conversation_executor.go
  tools/arena/turnexecutors/interfaces.go
  tools/arena/turnexecutors/pipeline_executor.go
Due: arena

docs: add Dynamic Context Testing docs and resilience-testing example
  docs/src/content/docs/arena/reference/assertions.md
  docs/src/content/docs/arena/reference/index.md
  examples/resilience-testing/README.md
  examples/resilience-testing/config.arena.yaml
  examples/resilience-testing/mock-responses.yaml
  examples/resilience-testing/prompts/support-agent.yaml
  examples/resilience-testing/providers/mock.provider.yaml
  examples/resilience-testing/scenarios/chaos-injection.scenario.yaml
  examples/resilience-testing/scenarios/perturbation-testing.scenario.yaml
  examples/resilience-testing/scenarios/statistical-trials.scenario.yaml
  examples/resilience-testing/tools/lookup-order.tool.yaml
  examples/resilience-testing/tools/search-faq.tool.yaml
Due: none

fix: use additional_config for mock provider in resilience-testing example
  examples/resilience-testing/providers/mock.provider.yaml
Due: none

fix: restore assertion evaluation in Arena scenarios
  examples/resilience-testing/scenarios/chaos-injection.scenario.yaml
  runtime/evals/handlers/handlers_test.go
  runtime/evals/handlers/tools_called.go
  runtime/evals/handlers/tools_not_called.go
  runtime/evals/handlers/tools_not_called_session.go
  runtime/evals/registry.go
  tools/arena/engine/builder_integration.go
Due: runtime

fix: resolve LOW code review findings (L9, L44, L46, L49) (#666)
  pkg/config/persona.go
  pkg/config/persona_test.go
  runtime/tools/registry.go
  sdk/capability_skills.go
  tools/arena/render/assertion_message_test.go
  tools/arena/render/badge_semantics_test.go
  tools/arena/render/badge_test.go
  tools/arena/render/conversation_assertions_test.go
  tools/arena/render/html.go
  tools/arena/render/html_test.go
  tools/schema-gen/generators/arena.go
Due: runtime, sdk, arena

feat: add tool pattern and cost budget eval handlers (#669)
  runtime/evals/handlers/cost_budget.go
  runtime/evals/handlers/handlers_test.go
  runtime/evals/handlers/register.go
  runtime/evals/handlers/tool_anti_pattern.go
  runtime/evals/handlers/tool_efficiency.go
  runtime/evals/handlers/tool_no_repeat.go
  runtime/evals/handlers/tool_pattern_handlers_test.go
Due: runtime

fix: prevent silent assertion failures and wire trial aggregation
  runtime/evals/handlers/handlers_test.go
  runtime/evals/handlers/register.go
  tools/arena/cmd/promptarena/run.go
  tools/arena/cmd/promptarena/run_test.go
  tools/arena/engine/conversation_executor.go
  tools/arena/engine/conversation_executor_test.go
  tools/arena/engine/duplex_executor_assertions_integration.go
  tools/arena/engine/engine.go
  tools/arena/engine/eval_conversation_executor.go
  tools/arena/engine/eval_conversation_executor_test.go
  tools/arena/engine/eval_execution_test.go
  tools/arena/engine/trials.go
  tools/arena/stages/assertions.go
  tools/arena/stages/assertions_test.go
  tools/arena/statestore/metadata.go
  tools/arena/statestore/store_unit_test.go
Due: runtime, arena

fix: resolve remaining LOW code review findings (L8, L15, L18, L30, L43, L51, L53) (#667)
  pkg/config/persona.go
  pkg/config/persona_test.go
  runtime/tools/validator.go
  runtime/tools/validator_test.go
  sdk/conversation_tools.go
  sdk/internal/provider/detect.go
  tools/arena/cmd/promptarena/run_interactive.go
  tools/arena/engine/conversation_executor.go
  tools/arena/selfplay/generator.go
  tools/arena/statestore/telemetry.go
Due: runtime, sdk, arena

test: add coverage for nil scenario guard and turn-index counting (#668)
  tools/arena/engine/conversation_executor_test.go
  tools/arena/statestore/store_unit_test.go
Due: none

fix: prevent silent assertion failures and wire trial aggregation
  tools/arena/cmd/promptarena/run.go
  tools/arena/cmd/promptarena/run_test.go
  tools/arena/engine/conversation_executor.go
  tools/arena/engine/conversation_executor_test.go
  tools/arena/engine/duplex_executor_assertions_integration.go
  tools/arena/engine/engine.go
  tools/arena/engine/eval_conversation_executor.go
  tools/arena/engine/eval_conversation_executor_test.go
  tools/arena/engine/eval_execution_test.go
  tools/arena/engine/trials.go
  tools/arena/stages/assertions.go
  tools/arena/stages/assertions_test.go
  tools/arena/statestore/metadata.go
  tools/arena/statestore/store_unit_test.go
Due: arena

feat: add resilience-testing example with 25+ assertion types and fix pack_eval prefix
  docs/local-backlog/05-mar-scalability-review.md
  docs/local-backlog/capacity-planning-guide.md
  docs/local-backlog/horizontal-scaling-guide.md
  docs/local-backlog/performance-tuning-runbook.md
  examples/resilience-testing/README.md
  examples/resilience-testing/config.arena.yaml
  examples/resilience-testing/mock-responses.yaml
  examples/resilience-testing/prompts/support-agent.yaml
  examples/resilience-testing/providers/mock.provider.yaml
  examples/resilience-testing/scenarios/behavioral-testing.scenario.yaml
  examples/resilience-testing/scenarios/content-validation.scenario.yaml
  examples/resilience-testing/scenarios/cost-and-guardrails.scenario.yaml
  examples/resilience-testing/scenarios/multi-turn-consistency.scenario.yaml
  examples/resilience-testing/scenarios/negative-testing.scenario.yaml
  examples/resilience-testing/scenarios/perturbation-invariance.scenario.yaml
  examples/resilience-testing/scenarios/statistical-trials.scenario.yaml
  examples/resilience-testing/scenarios/tool-chain-and-efficiency.scenario.yaml
  examples/resilience-testing/scenarios/tool-pattern-validation.scenario.yaml
  examples/resilience-testing/tools/lookup-order.tool.yaml
  examples/resilience-testing/tools/search-faq.tool.yaml
  runtime/evals/handlers/handlers_test.go
  runtime/evals/handlers/length.go
  runtime/evals/handlers/register.go
  runtime/evals/registry.go
  runtime/evals/registry_test.go
  tools/arena/engine/builder_integration.go
  tools/arena/engine/engine.go
  tools/arena/engine/pack_eval_hook.go
  tools/arena/render/html.go
  tools/arena/render/templates/report.html.tmpl
  tools/arena/stages/assertions.go
  tools/arena/stages/guardrail_eval.go
  tools/arena/stages/guardrail_eval_test.go
Due: runtime, arena

fix: accept max_characters/min_characters params in length eval handlers
  runtime/evals/handlers/handlers_test.go
  runtime/evals/handlers/length.go
Due: runtime

fix: restore legacy eval type names and param compatibility
  runtime/evals/handlers/handlers_test.go
  runtime/evals/handlers/register.go
  runtime/evals/handlers/tool_args_excluded_session.go
  runtime/evals/handlers/tools_called.go
  runtime/evals/handlers/tools_called_session.go
  runtime/evals/handlers/tools_not_called.go
  runtime/evals/handlers/tools_not_called_session.go
Due: runtime

fix: restore allow_wrapped/extract_json support in json_valid and json_schema handlers
  runtime/evals/handlers/handlers_test.go
  runtime/evals/handlers/json_schema.go
  runtime/evals/handlers/json_valid.go
Due: runtime

fix: filter per-turn tool assertions by turn index
  runtime/evals/handlers/handlers_test.go
  runtime/evals/handlers/helpers.go
  runtime/evals/handlers/tool_args.go
  runtime/evals/handlers/tools_called.go
  runtime/evals/handlers/tools_not_called.go
Due: runtime

fix: restore legacy eval type names and param compatibility (#679)
  runtime/evals/handlers/handlers_test.go
  runtime/evals/handlers/helpers.go
  runtime/evals/handlers/json_schema.go
  runtime/evals/handlers/json_valid.go
  runtime/evals/handlers/register.go
  runtime/evals/handlers/tool_args.go
  runtime/evals/handlers/tool_args_excluded_session.go
  runtime/evals/handlers/tools_called.go
  runtime/evals/handlers/tools_called_session.go
  runtime/evals/handlers/tools_not_called.go
  runtime/evals/handlers/tools_not_called_session.go
Due: runtime

fix: revert per-turn tool filtering and fix tool-usage scenario
  examples/assertions-test/scenarios/tool-usage.scenario.yaml
  runtime/evals/handlers/handlers_test.go
  runtime/evals/handlers/helpers.go
  runtime/evals/handlers/tool_args.go
  runtime/evals/handlers/tools_called.go
  runtime/evals/handlers/tools_not_called.go
Due: runtime

fix: revert per-turn tool filtering and fix tool-usage scenario (#680)
  examples/assertions-test/scenarios/tool-usage.scenario.yaml
  runtime/evals/handlers/handlers_test.go
  runtime/evals/handlers/helpers.go
  runtime/evals/handlers/tool_args.go
  runtime/evals/handlers/tools_called.go
  runtime/evals/handlers/tools_not_called.go
Due: runtime

fix: multimodal tool results example and CI example validation
  .github/workflows/ci.yml
  Makefile
  examples/multimodal-tool-results/mock-responses.yaml
  examples/multimodal-tool-results/prompts/analyst.yaml
  examples/multimodal-tool-results/providers/mock-provider.yaml
  examples/multimodal-tool-results/scenarios/chart-generation.scenario.yaml
  examples/multimodal-tool-results/scenarios/document-scan.scenario.yaml
  examples/multimodal-tool-results/tools/generate-chart.tool.yaml
  examples/multimodal-tool-results/tools/scan-document.tool.yaml
  runtime/tools/executors.go
  runtime/tools/executors_multimodal_test.go
  tools/arena/engine/builder_integration.go
  tools/arena/engine/pack_eval_hook.go
Due: runtime, arena

refactor: extract executeWithMockParts to reduce SonarCloud duplication
  runtime/tools/executors.go
Due: runtime

fix: multimodal tool results example and CI example validation (#681)
  .github/workflows/ci.yml
  Makefile
  examples/multimodal-tool-results/mock-responses.yaml
  examples/multimodal-tool-results/prompts/analyst.yaml
  examples/multimodal-tool-results/providers/mock-provider.yaml
  examples/multimodal-tool-results/scenarios/chart-generation.scenario.yaml
  examples/multimodal-tool-results/scenarios/document-scan.scenario.yaml
  examples/multimodal-tool-results/tools/generate-chart.tool.yaml
  examples/multimodal-tool-results/tools/scan-document.tool.yaml
  runtime/tools/executors.go
  runtime/tools/executors_multimodal_test.go
  tools/arena/engine/builder_integration.go
  tools/arena/engine/pack_eval_hook.go
Due: runtime, arena

refactor: adopt OTel GenAI SIG typed span conventions
  docs/src/content/docs/runtime/how-to/export-traces-otlp.md
  docs/src/content/docs/runtime/reference/telemetry.md
  runtime/telemetry/listener.go
  runtime/telemetry/listener_test.go
  sdk/otel_integration_test.go
Due: runtime

feat: add eval and guardrail spans with GenAI SIG evaluation attributes
  docs/src/content/docs/runtime/how-to/export-traces-otlp.md
  docs/src/content/docs/runtime/reference/telemetry.md
  runtime/telemetry/listener.go
  runtime/telemetry/listener_test.go
Due: runtime

feat: add MCP tool type detection and agent identity on session spans
  docs/src/content/docs/runtime/how-to/export-traces-otlp.md
  docs/src/content/docs/runtime/reference/telemetry.md
  runtime/telemetry/listener.go
  runtime/telemetry/listener_test.go
  sdk/conversation.go
Due: runtime, sdk
