Repository AltairaLabs/PromptKit: changes, and which Codecov flags are due for each by the changed paths.
All: runtime, sdk, arena, packc, inspect-state

test(sdk): tie the ValidateOptions accept case to the registry lister
  sdk/provider_introspection_test.go
Due: none

feat(sdk): provider-type introspection and boot-time option validation (#1777)
  docs/src/content/docs/runtime/reference/providers.md
  docs/src/content/docs/runtime/reference/tts.md
  docs/src/content/docs/sdk/reference/conversation-manager.md
  runtime/classify/factory.go
  runtime/classify/factory_test.go
  runtime/providers/base/factory.go
  runtime/providers/base/factory_test.go
  runtime/providers/embedding_factory.go
  runtime/providers/embedding_factory_test.go
  runtime/providers/registry.go
  runtime/providers/registry_types_test.go
  runtime/stt/factory.go
  runtime/stt/register_test.go
  runtime/tts/factory.go
  runtime/tts/register_test.go
  sdk/provider_introspection.go
  sdk/provider_introspection_test.go
Due: runtime, sdk

docs(sdk): state what ValidateOptions does not check
  docs/src/content/docs/sdk/reference/conversation-manager.md
  sdk/provider_introspection.go
  sdk/provider_introspection_test.go
Due: sdk

refactor(docs): consume the shared family bar from @altairalabs/brand
  docs/.npmrc
  docs/package.json
  docs/pnpm-lock.yaml
  docs/src/components/FamilyBar.astro
  docs/src/components/Header.astro
  docs/src/pages/index.astro
Due: none

docs(sdk): state what ValidateOptions does not check (#1778)
  docs/src/content/docs/sdk/reference/conversation-manager.md
  sdk/provider_introspection.go
  sdk/provider_introspection_test.go
Due: sdk

fix(docs): use npm for the brand dependency, not pnpm
  docs/package-lock.json
  docs/pnpm-lock.yaml
Due: none

feat(providers): add Bedrock-native embedding provider (Titan/Cohere)
  runtime/providers/bedrock/embedding.go
  runtime/providers/bedrock/embedding_integration_test.go
  runtime/providers/bedrock/embedding_register.go
  runtime/providers/bedrock/embedding_register_test.go
  runtime/providers/bedrock/embedding_test.go
  runtime/providers/embedding_transport.go
  runtime/providers/embedding_transport_test.go
  sdk/provider_introspection_test.go
  sdk/runtime_config.go
Due: runtime, sdk

ci(docs): pass NODE_AUTH_TOKEN to the dependency install step
  .github/workflows/docs.yml
Due: none

ci(docs): reference the NODE_AUTH_TOKEN org secret by its actual name
  .github/workflows/docs.yml
Due: none

feat(providers): add Bedrock-native embedding provider (Titan/Cohere) (#1780)
  runtime/providers/bedrock/embedding.go
  runtime/providers/bedrock/embedding_integration_test.go
  runtime/providers/bedrock/embedding_register.go
  runtime/providers/bedrock/embedding_register_test.go
  runtime/providers/bedrock/embedding_test.go
  runtime/providers/embedding_transport.go
  runtime/providers/embedding_transport_test.go
  sdk/provider_introspection_test.go
  sdk/runtime_config.go
Due: runtime, sdk

fix(vllm): serialize tool calls and tool_call_id back into requests
  runtime/providers/vllm/vllm.go
  runtime/providers/vllm/vllm_multimodal.go
  runtime/providers/vllm/vllm_tool_serialization_test.go
  runtime/providers/vllm/vllm_tools.go
Due: runtime

refactor(docs): consume the shared family bar from @altairalabs/brand (#1779)
  .github/workflows/docs.yml
  docs/.npmrc
  docs/package-lock.json
  docs/package.json
  docs/src/components/FamilyBar.astro
  docs/src/components/Header.astro
  docs/src/pages/index.astro
Due: none

fix(vllm): serialize tool calls and tool_call_id back into requests (#1782)
  runtime/providers/vllm/vllm.go
  runtime/providers/vllm/vllm_multimodal.go
  runtime/providers/vllm/vllm_tool_serialization_test.go
  runtime/providers/vllm/vllm_tools.go
Due: runtime

refactor(docs): use the shared family-bar stylesheet
  docs/astro.config.mjs
  docs/package-lock.json
  docs/package.json
  docs/src/styles/custom.css
Due: none

refactor(docs): use the shared family-bar stylesheet (#1783)
  docs/astro.config.mjs
  docs/package-lock.json
  docs/package.json
  docs/src/styles/custom.css
Due: none

fix(workflow): run the destination state's turn on transition (#1747)
  docs/src/content/docs/runtime/reference/pipeline.md
  runtime/pipeline/stage/stages_provider.go
  runtime/pipeline/stage/state_handoff.go
  runtime/pipeline/stage/state_handoff_test.go
  sdk/conversation.go
  sdk/examples/hitl/README.md
  sdk/examples/hitl/hitl-workflow.pack.json
  sdk/examples/hitl/workflow_hitl_test.go
  sdk/internal/pipeline/builder.go
  sdk/sdk.go
  sdk/workflow.go
  sdk/workflow_handoff_test.go
  sdk/workflow_state_resolver.go
  sdk/workflow_state_resolver_test.go
Due: runtime, sdk

fix(sdk): keep the workflow conversation ID across resumed transitions
  sdk/workflow.go
  sdk/workflow_test.go
Due: sdk

docs(sdk): correct the "pipeline built per Send()" claim
  sdk/CLAUDE.md
Due: sdk

chore(deps): bump AWS SDK, OpenTelemetry and go-redis across the modules
  pkg/go.mod
  pkg/go.sum
  runtime/go.mod
  runtime/go.sum
  sdk/go.mod
  sdk/go.sum
  server/a2a/go.mod
  server/a2a/go.sum
Due: runtime, sdk

fix(sdk): keep the workflow conversation ID across resumed transitions (#1784)
  sdk/CLAUDE.md
  sdk/workflow.go
  sdk/workflow_test.go
Due: sdk

chore(deps): bump AWS SDK, OpenTelemetry and go-redis across the modules (#1786)
  pkg/go.mod
  pkg/go.sum
  runtime/go.mod
  runtime/go.sum
  sdk/go.mod
  sdk/go.sum
  server/a2a/go.mod
  server/a2a/go.sum
Due: runtime, sdk

feat(workflow): count tool calls in the runtime loop so max_tool_calls works
  docs/src/content/docs/runtime/reference/pipeline.md
  runtime/pipeline/stage/stages_provider.go
  runtime/pipeline/stage/state_handoff.go
  runtime/pipeline/stage/tool_call_budget_test.go
  sdk/workflow_state_resolver.go
  sdk/workflow_tool_budget_test.go
Due: runtime, sdk

feat(workflow): count tool calls in the runtime loop so max_tool_calls works (#1788)
  docs/src/content/docs/runtime/reference/pipeline.md
  runtime/pipeline/stage/stages_provider.go
  runtime/pipeline/stage/state_handoff.go
  runtime/pipeline/stage/tool_call_budget_test.go
  sdk/workflow_state_resolver.go
  sdk/workflow_tool_budget_test.go
Due: runtime, sdk

fix(guardrails): emit the validation lifecycle so enforcement is observable
  docs/src/content/docs/runtime/reference/hooks.md
  runtime/hooks/guardrails/adapter.go
  runtime/hooks/guardrails/factory.go
  runtime/hooks/guardrails/observability_test.go
  runtime/hooks/registry.go
  runtime/pipeline/stage/hook_emitter_wiring_test.go
  runtime/pipeline/stage/stages_provider.go
  sdk/guardrail_observability_test.go
Due: runtime

fix(guardrails): emit the validation lifecycle so enforcement is observable (#1789)
  docs/src/content/docs/runtime/reference/hooks.md
  runtime/hooks/guardrails/adapter.go
  runtime/hooks/guardrails/factory.go
  runtime/hooks/guardrails/observability_test.go
  runtime/hooks/registry.go
  runtime/pipeline/stage/hook_emitter_wiring_test.go
  runtime/pipeline/stage/stages_provider.go
  sdk/guardrail_observability_test.go
Due: runtime

fix(guardrails): emit the validation lifecycle for func-backed guardrails too
  runtime/hooks/guardrails/adapter.go
  runtime/hooks/guardrails/func_observability_test.go
  runtime/hooks/guardrails/lifecycle.go
  runtime/hooks/guardrails/spec.go
  sdk/guardrail_observability_test.go
Due: runtime

fix(guardrails): emit the validation lifecycle for func-backed guardrails too (#1791)
  runtime/hooks/guardrails/adapter.go
  runtime/hooks/guardrails/func_observability_test.go
  runtime/hooks/guardrails/lifecycle.go
  runtime/hooks/guardrails/spec.go
  sdk/guardrail_observability_test.go
Due: runtime

feat(providers): add Vertex AI embedding provider and ungate platform vertex
  runtime/credentials/gcp.go
  runtime/credentials/gcp_integration_test.go
  runtime/providers/embedding_transport.go
  runtime/providers/embedding_transport_test.go
  runtime/providers/vertex/embedding.go
  runtime/providers/vertex/embedding_integration_test.go
  runtime/providers/vertex/embedding_register.go
  runtime/providers/vertex/embedding_register_test.go
  runtime/providers/vertex/embedding_test.go
  sdk/provider_introspection_test.go
  sdk/runtime_config.go
Due: runtime, sdk

refactor(providers): share the platform embedding factory and wiring
  docs/src/content/docs/runtime/reference/providers.md
  runtime/providers/bedrock/embedding.go
  runtime/providers/bedrock/embedding_register.go
  runtime/providers/embedding_platform.go
  runtime/providers/embedding_platform_test.go
  runtime/providers/vertex/embedding.go
  runtime/providers/vertex/embedding_register.go
Due: runtime

refactor(providers): drop the per-provider wiring options in favour of WithWiring
  runtime/providers/bedrock/embedding.go
  runtime/providers/bedrock/embedding_test.go
  runtime/providers/vertex/embedding.go
  runtime/providers/vertex/embedding_test.go
Due: runtime

feat(providers): add Vertex AI embedding provider and ungate platform vertex (#1792)
  docs/src/content/docs/runtime/reference/providers.md
  runtime/credentials/gcp.go
  runtime/credentials/gcp_integration_test.go
  runtime/providers/bedrock/embedding.go
  runtime/providers/bedrock/embedding_test.go
  runtime/providers/embedding_platform.go
  runtime/providers/embedding_platform_test.go
  runtime/providers/embedding_transport.go
  runtime/providers/embedding_transport_test.go
  runtime/providers/vertex/embedding.go
  runtime/providers/vertex/embedding_integration_test.go
  runtime/providers/vertex/embedding_register.go
  runtime/providers/vertex/embedding_register_test.go
  runtime/providers/vertex/embedding_test.go
  sdk/provider_introspection_test.go
  sdk/runtime_config.go
Due: runtime, sdk

feat(adaptersdk): shared prior-state drift reconciliation
  runtime/deploy/adaptersdk/drift.go
  runtime/deploy/adaptersdk/drift_test.go
  runtime/deploy/adaptersdk/plan.go
Due: runtime

feat(adaptersdk): shared prior-state drift reconciliation (#1793)
  runtime/deploy/adaptersdk/drift.go
  runtime/deploy/adaptersdk/drift_test.go
  runtime/deploy/adaptersdk/plan.go
Due: runtime

feat(providers): reach Vertex Model Garden through the OpenAI provider
  runtime/credentials/gcp.go
  runtime/credentials/gcp_integration_test.go
  runtime/providers/openai/openai.go
  runtime/providers/openai/openai_tools.go
  runtime/providers/openai/vertex_unit_test.go
  runtime/providers/registry.go
  runtime/providers/reject_platforms_test.go
Due: runtime

feat(providers): reach Vertex Model Garden through the OpenAI provider (#1794)
  runtime/credentials/gcp.go
  runtime/credentials/gcp_integration_test.go
  runtime/providers/openai/openai.go
  runtime/providers/openai/openai_tools.go
  runtime/providers/openai/vertex_unit_test.go
  runtime/providers/registry.go
  runtime/providers/reject_platforms_test.go
Due: runtime

chore(deps): bump the remaining AWS SDK modules in runtime
  pkg/go.mod
  pkg/go.sum
  runtime/go.mod
  runtime/go.sum
  sdk/go.mod
  sdk/go.sum
Due: runtime, sdk

chore(deps): bump the remaining AWS SDK modules in runtime (#1795)
  pkg/go.mod
  pkg/go.sum
  runtime/go.mod
  runtime/go.sum
  sdk/go.mod
  sdk/go.sum
Due: runtime, sdk

feat(evals): add spoke_in_state, an assertion that reads the conversation
  docs/src/content/docs/reference/checks.md
  runtime/evals/handlers/handlers_test.go
  runtime/evals/handlers/register.go
  runtime/evals/handlers/workflow_spoke_in_state.go
  runtime/evals/handlers/workflow_spoke_in_state_test.go
Due: runtime

feat(evals): add spoke_in_state, an assertion that reads the conversation (#1796)
  docs/src/content/docs/reference/checks.md
  runtime/evals/handlers/handlers_test.go
  runtime/evals/handlers/register.go
  runtime/evals/handlers/workflow_spoke_in_state.go
  runtime/evals/handlers/workflow_spoke_in_state_test.go
Due: runtime

feat(docs): adopt the shared PathNav and SiteFooter from @altairalabs/brand
  docs/package-lock.json
  docs/package.json
  docs/src/components/landing/Hero.astro
  docs/src/components/landing/SiteFooter.astro
  docs/src/pages/index.astro
Due: none

Path conditions:
  runtime: any of: runtime/, but not: **/*_test.go, **/*_interactive.go, **/*_integration.go, examples/, docs/, scripts/, .github/, *.md
  sdk: any of: sdk/, but not: **/*_test.go, **/*_interactive.go, **/*_integration.go, examples/, docs/, scripts/, .github/, *.md
  arena: any of: tools/arena/, but not: **/*_test.go, **/*_interactive.go, **/*_integration.go, examples/, docs/, scripts/, .github/, *.md
  packc: any of: tools/packc/, but not: **/*_test.go, **/*_interactive.go, **/*_integration.go, examples/, docs/, scripts/, .github/, *.md
  inspect-state: any of: tools/inspect-state/, but not: **/*_test.go, **/*_interactive.go, **/*_integration.go, examples/, docs/, scripts/, .github/, *.md
