Repository AltairaLabs/PromptKit: changes, and which Codecov flags are due for each by the changed paths.
All: runtime, sdk, arena, packc, inspect-state

codecov.yml:

codecov:
  require_ci_to_pass: yes
  notify:
    wait_for_ci: yes

coverage:
  precision: 2
  round: down
  range: "70...100"
  
  status:
    project:
      default:
        target: 70%
        threshold: 1%
        if_ci_failed: error
    patch:
      default:
        target: 70%
        threshold: 1%
        if_ci_failed: error

comment:
  layout: "reach,diff,flags,tree"
  behavior: default
  require_changes: false

flags:
  runtime:
    paths:
      - runtime/
  sdk:
    paths:
      - sdk/
  arena:
    paths:
      - tools/arena/
  packc:
    paths:
      - tools/packc/
  inspect-state:
    paths:
      - tools/inspect-state/

ignore:
  - "**/*_test.go"
  - "**/*_interactive.go"
  - "**/*_integration.go"
  - "examples/"
  - "docs/"
  - "scripts/"
  - ".github/"
  - "*.md"

test: extract shared speech stage test helpers into dedicated file
  runtime/pipeline/stage/speech_test_helpers_test.go
Due: none

test: split speech stage tests into per-stage files
  runtime/pipeline/stage/audio_turn_stage_test.go
  runtime/pipeline/stage/response_vad_stage_test.go
  runtime/pipeline/stage/speech_test_helpers_test.go
  runtime/pipeline/stage/stages_speech_test.go
  runtime/pipeline/stage/stt_stage_test.go
  runtime/pipeline/stage/tts_interruption_stage_test.go
Due: none

test: improve credential and speech stage test coverage (#846)
  runtime/pipeline/stage/audio_turn_stage_test.go
  runtime/pipeline/stage/response_vad_stage_test.go
  runtime/pipeline/stage/speech_test_helpers_test.go
  runtime/pipeline/stage/stages_speech_test.go
  runtime/pipeline/stage/stt_stage_test.go
  runtime/pipeline/stage/tts_interruption_stage_test.go
Due: none

feat: add StreamMediaData type for zero-copy streaming media
  runtime/providers/streaming.go
  runtime/providers/streaming_media_test.go
Due: runtime

feat: ProviderStage propagates streaming media via MediaData
  runtime/pipeline/stage/stages_provider.go
  runtime/pipeline/stage/stages_provider_media_test.go
Due: runtime

refactor: providers decode base64 at source, use StreamMediaData
  runtime/providers/gemini/stream_session_protocol_integration.go
  runtime/providers/openai/realtime_session_integration.go
  runtime/providers/replay/streaming.go
Due: runtime

refactor: DuplexProviderStage uses MediaData (zero-copy, no base64 decode)
  runtime/pipeline/stage/stages_duplex_provider_integration.go
Due: none

refactor: duplex session uses MediaData for zero-copy boundary conversion
  sdk/session/duplex_audio_integration_test.go
  sdk/session/duplex_session.go
  sdk/session/duplex_session_test.go
Due: sdk

refactor: SDK streaming and A2A adapter use StreamMediaData
  sdk/a2a_server_adapter.go
  sdk/a2a_test.go
  sdk/stream/stream.go
  sdk/streaming.go
  sdk/streaming_test.go
Due: sdk

refactor: remove deprecated MediaDelta field from StreamChunk
  runtime/providers/gemini/demo_audio_output_test.go
  runtime/providers/gemini/demo_streaming_test.go
  runtime/providers/gemini/diagnostic_audio_raw_test.go
  runtime/providers/gemini/stream_session_test.go
  runtime/providers/replay/streaming_test.go
  runtime/providers/streaming.go
  runtime/providers/streaming_media_test.go
  runtime/types/streaming.go
  sdk/session/duplex_audio_integration_test.go
  sdk/session/duplex_session_test.go
  sdk/session/session.go
  tools/arena/engine/duplex_state_store_test.go
Due: runtime, sdk

refactor: update portaudio examples to use StreamMediaData
  sdk/examples/duplex-streaming/main_interactive.go
  sdk/examples/openai-realtime/main_interactive.go
  sdk/examples/voice-interview/interview/controller.go
Due: sdk

fix: repair pre-existing compilation errors in Gemini integration tests
  runtime/providers/gemini/demo_audio_output_test.go
  runtime/providers/gemini/integration_streaming_test.go
Due: none

fix: update Gemini integration tests to use current model names
  runtime/providers/gemini/demo_audio_output_test.go
  runtime/providers/gemini/demo_streaming_test.go
  runtime/providers/gemini/diagnostic_audio_raw_test.go
  runtime/providers/gemini/duplex_integration_test.go
  runtime/providers/gemini/integration_streaming_test.go
Due: none

refactor: replace StreamChunk.MediaDelta with zero-copy StreamMediaData (#847)
  runtime/pipeline/stage/stages_duplex_provider_integration.go
  runtime/pipeline/stage/stages_provider.go
  runtime/pipeline/stage/stages_provider_media_test.go
  runtime/providers/gemini/demo_audio_output_test.go
  runtime/providers/gemini/demo_streaming_test.go
  runtime/providers/gemini/diagnostic_audio_raw_test.go
  runtime/providers/gemini/duplex_integration_test.go
  runtime/providers/gemini/integration_streaming_test.go
  runtime/providers/gemini/stream_session_protocol_integration.go
  runtime/providers/gemini/stream_session_test.go
  runtime/providers/openai/realtime_session_integration.go
  runtime/providers/replay/streaming.go
  runtime/providers/replay/streaming_test.go
  runtime/providers/streaming.go
  runtime/providers/streaming_media_test.go
  runtime/types/streaming.go
  sdk/a2a_server_adapter.go
  sdk/a2a_test.go
  sdk/examples/duplex-streaming/main_interactive.go
  sdk/examples/openai-realtime/main_interactive.go
  sdk/examples/voice-interview/interview/controller.go
  sdk/session/duplex_audio_integration_test.go
  sdk/session/duplex_session.go
  sdk/session/duplex_session_test.go
  sdk/session/session.go
  sdk/stream/stream.go
  sdk/streaming.go
  sdk/streaming_test.go
  tools/arena/engine/duplex_state_store_test.go
Due: runtime, sdk

fix: update Gemini integration tests for native-audio model
  runtime/providers/gemini/demo_streaming_test.go
  runtime/providers/gemini/duplex_integration_test.go
  runtime/providers/gemini/integration_streaming_test.go
Due: none

fix: Gemini integration tests use native-audio model with explicit turn control
  runtime/providers/gemini/demo_audio_output_test.go
  runtime/providers/gemini/demo_streaming_test.go
  runtime/providers/gemini/diagnostic_audio_raw_test.go
  runtime/providers/gemini/duplex_integration_test.go
  runtime/providers/gemini/integration_streaming_test.go
Due: none

fix: Gemini integration tests use native-audio model with explicit turn control (#848)
  runtime/providers/gemini/demo_audio_output_test.go
  runtime/providers/gemini/demo_streaming_test.go
  runtime/providers/gemini/diagnostic_audio_raw_test.go
  runtime/providers/gemini/duplex_integration_test.go
  runtime/providers/gemini/integration_streaming_test.go
Due: none

test: add OpenAI Realtime API integration tests
  runtime/providers/openai/realtime_integration_test.go
Due: none

test: add 7 more OpenAI Realtime integration tests for full Gemini parity
  runtime/providers/openai/realtime_integration_test.go
Due: none

test: add OpenAI Realtime API integration tests (#849)
  runtime/providers/openai/realtime_integration_test.go
Due: none

docs: update SDK examples to use StreamMediaData
  sdk/examples/duplex-streaming/ARCHITECTURE.md
  sdk/examples/duplex-streaming/README.md
  sdk/examples/openai-realtime/README.md
Due: sdk

docs: update SDK examples to use StreamMediaData (#850)
  sdk/examples/duplex-streaming/ARCHITECTURE.md
  sdk/examples/duplex-streaming/README.md
  sdk/examples/openai-realtime/README.md
Due: sdk

chore: retract v1.4.0 (published prematurely)
  pkg/go.mod
  runtime/go.mod
  tools/arena/go.mod
  tools/packc/go.mod
Due: runtime, arena, packc

chore: retract v1.4.0 (published prematurely) (#851)
  pkg/go.mod
  runtime/go.mod
  tools/arena/go.mod
  tools/packc/go.mod
Due: runtime, arena, packc

fix: use pcm16 audio format for OpenAI streaming requests
  runtime/providers/openai/openai.go
  runtime/providers/openai/openai_test.go
  runtime/providers/openai/openai_tools.go
  runtime/providers/openai/openai_tools_test.go
Due: runtime

fix: round-trip Gemini 3 thoughtSignature on tool-call replays
  runtime/providers/gemini/gemini.go
  runtime/providers/gemini/gemini_streaming.go
  runtime/providers/gemini/gemini_tool_helpers_test.go
  runtime/providers/gemini/gemini_tools.go
  runtime/types/message.go
Due: runtime

feat: add reasoning_effort provider config for OpenAI Responses API
  runtime/providers/openai/openai.go
  runtime/providers/openai/openai_responses_integration.go
  runtime/providers/openai/openai_responses_integration_test.go
Due: runtime

feat: configurable per-provider request and stream idle timeouts
  pkg/config/types.go
  runtime/providers/base_provider.go
  runtime/providers/base_provider_test.go
  runtime/providers/claude/claude.go
  runtime/providers/claude/claude_streaming.go
  runtime/providers/claude/claude_tools.go
  runtime/providers/gemini/gemini_multimodal.go
  runtime/providers/gemini/gemini_streaming.go
  runtime/providers/gemini/gemini_tools.go
  runtime/providers/ollama/ollama.go
  runtime/providers/ollama/ollama_tools.go
  runtime/providers/openai/openai.go
  runtime/providers/openai/openai_responses_integration.go
  runtime/providers/openai/openai_tools.go
  runtime/providers/registry.go
  runtime/providers/registry_extended_test.go
  runtime/providers/vllm/vllm.go
  runtime/providers/vllm/vllm_tools.go
  schemas/v1alpha1/arena.json
  schemas/v1alpha1/provider.json
  schemas/v1alpha1/runtime-config.json
  tools/arena/engine/builder_additional_test.go
  tools/arena/engine/builder_integration.go
Due: runtime

fix: capability matrix failures (audio, Gemini 3, Responses API config) (#854)
  pkg/config/types.go
  runtime/providers/base_provider.go
  runtime/providers/base_provider_test.go
  runtime/providers/claude/claude.go
  runtime/providers/claude/claude_streaming.go
  runtime/providers/claude/claude_tools.go
  runtime/providers/gemini/gemini.go
  runtime/providers/gemini/gemini_multimodal.go
  runtime/providers/gemini/gemini_streaming.go
  runtime/providers/gemini/gemini_tool_helpers_test.go
  runtime/providers/gemini/gemini_tools.go
  runtime/providers/ollama/ollama.go
  runtime/providers/ollama/ollama_tools.go
  runtime/providers/openai/openai.go
  runtime/providers/openai/openai_responses_integration.go
  runtime/providers/openai/openai_responses_integration_test.go
  runtime/providers/openai/openai_test.go
  runtime/providers/openai/openai_tools.go
  runtime/providers/openai/openai_tools_test.go
  runtime/providers/registry.go
  runtime/providers/registry_extended_test.go
  runtime/providers/vllm/vllm.go
  runtime/providers/vllm/vllm_tools.go
  runtime/types/message.go
  schemas/v1alpha1/arena.json
  schemas/v1alpha1/provider.json
  schemas/v1alpha1/runtime-config.json
  tools/arena/engine/builder_additional_test.go
  tools/arena/engine/builder_integration.go
Due: runtime

feat: bounded pre-first-chunk streaming retry (Phase 1)
  examples/capability-matrix/providers/openai-gpt5-pro.provider.yaml
  pkg/config/types.go
  runtime/metrics/collector.go
  runtime/providers/base_provider.go
  runtime/providers/openai/openai_responses_integration.go
  runtime/providers/registry.go
  runtime/providers/stream_metrics.go
  runtime/providers/stream_metrics_test.go
  runtime/providers/stream_retry.go
  runtime/providers/stream_retry_driver.go
  runtime/providers/stream_retry_test.go
  schemas/v1alpha1/arena.json
  schemas/v1alpha1/provider.json
  schemas/v1alpha1/runtime-config.json
  tools/arena/engine/builder_integration.go
Due: runtime

feat: bounded pre-first-chunk streaming retry (Phase 1) (#855)
  examples/capability-matrix/providers/openai-gpt5-pro.provider.yaml
  pkg/config/types.go
  runtime/metrics/collector.go
  runtime/providers/base_provider.go
  runtime/providers/openai/openai_responses_integration.go
  runtime/providers/registry.go
  runtime/providers/stream_metrics.go
  runtime/providers/stream_metrics_test.go
  runtime/providers/stream_retry.go
  runtime/providers/stream_retry_driver.go
  runtime/providers/stream_retry_test.go
  schemas/v1alpha1/arena.json
  schemas/v1alpha1/provider.json
  schemas/v1alpha1/runtime-config.json
  tools/arena/engine/builder_integration.go
Due: runtime

feat: retry budget + Chat Completions streaming retry (Phase 2)
  pkg/config/types.go
  runtime/providers/base_provider.go
  runtime/providers/openai/openai.go
  runtime/providers/openai/openai_responses_integration.go
  runtime/providers/registry.go
  runtime/providers/stream_metrics.go
  runtime/providers/stream_retry.go
  runtime/providers/stream_retry_budget.go
  runtime/providers/stream_retry_budget_test.go
  runtime/providers/stream_retry_driver.go
  runtime/providers/stream_retry_test.go
  schemas/v1alpha1/arena.json
  schemas/v1alpha1/provider.json
  schemas/v1alpha1/runtime-config.json
  tools/arena/engine/builder_integration.go
Due: runtime

feat: retry budget + Chat Completions streaming retry (Phase 2) (#856)
  pkg/config/types.go
  runtime/providers/base_provider.go
  runtime/providers/openai/openai.go
  runtime/providers/openai/openai_responses_integration.go
  runtime/providers/registry.go
  runtime/providers/stream_metrics.go
  runtime/providers/stream_retry.go
  runtime/providers/stream_retry_budget.go
  runtime/providers/stream_retry_budget_test.go
  runtime/providers/stream_retry_driver.go
  runtime/providers/stream_retry_test.go
  schemas/v1alpha1/arena.json
  schemas/v1alpha1/provider.json
  schemas/v1alpha1/runtime-config.json
  tools/arena/engine/builder_integration.go
Due: runtime

fix: address Phase 2 code review nits
  runtime/providers/registry.go
  runtime/providers/stream_retry_budget.go
  runtime/providers/stream_retry_budget_test.go
  runtime/providers/stream_retry_driver.go
Due: runtime

fix: address Phase 2 code review nits (#857)
  runtime/providers/registry.go
  runtime/providers/stream_retry_budget.go
  runtime/providers/stream_retry_budget_test.go
  runtime/providers/stream_retry_driver.go
Due: runtime

feat: concurrent-stream semaphore + rejection metric (Phase 3)
  pkg/config/types.go
  runtime/providers/base_provider.go
  runtime/providers/openai/openai.go
  runtime/providers/openai/openai_responses_integration.go
  runtime/providers/registry.go
  runtime/providers/stream_metrics.go
  runtime/providers/stream_semaphore.go
  runtime/providers/stream_semaphore_integration_test.go
  runtime/providers/stream_semaphore_test.go
  schemas/v1alpha1/arena.json
  schemas/v1alpha1/provider.json
  schemas/v1alpha1/runtime-config.json
  tools/arena/engine/builder_integration.go
Due: runtime

feat: concurrent-stream semaphore + rejection metric (Phase 3) (#858)
  pkg/config/types.go
  runtime/providers/base_provider.go
  runtime/providers/openai/openai.go
  runtime/providers/openai/openai_responses_integration.go
  runtime/providers/registry.go
  runtime/providers/stream_metrics.go
  runtime/providers/stream_semaphore.go
  runtime/providers/stream_semaphore_integration_test.go
  runtime/providers/stream_semaphore_test.go
  schemas/v1alpha1/arena.json
  schemas/v1alpha1/provider.json
  schemas/v1alpha1/runtime-config.json
  tools/arena/engine/builder_integration.go
Due: runtime

test: load test harness for streaming retry / budget / semaphore
  runtime/providers/openai/stream_retry_loadtest_test.go
Due: none

test: load test harness for streaming retry / budget / semaphore (#866)
  runtime/providers/openai/stream_retry_loadtest_test.go
Due: none

feat: extend streaming retry/budget/semaphore to Claude and VLLM
  runtime/providers/claude/claude_streaming.go
  runtime/providers/vllm/vllm.go
Due: runtime
