Repository AltairaLabs/PromptKit: changes, and which Codecov flags are due for each by the changed paths.
All: runtime, sdk, arena, packc, inspect-state

feat(workflow): honor RFC 0014 control, keeping today's default
  docs/src/content/docs/concepts/state-management.md
  runtime/workflow/types.go
  runtime/workflow/types_test.go
  runtime/workflow/validate.go
  runtime/workflow/validate_test.go
  sdk/workflow_state_resolver.go
  sdk/workflow_state_resolver_test.go
Due: runtime, sdk

fix(build): stop `make verify` reporting success when it failed (#1939)
  Makefile
Due: none

feat(workflow): honor RFC 0014 control, keeping today's default (#1937)
  docs/src/content/docs/concepts/state-management.md
  runtime/workflow/types.go
  runtime/workflow/types_test.go
  runtime/workflow/validate.go
  runtime/workflow/validate_test.go
  sdk/workflow_state_resolver.go
  sdk/workflow_state_resolver_test.go
Due: runtime, sdk

test(workflow): prove RFC 0014 control end to end through Send
  sdk/workflow_control_e2e_test.go
Due: none

test(workflow): prove RFC 0014 control end to end through Send (#1940)
  sdk/workflow_control_e2e_test.go
Due: none

ci(schema): raise a sync PR for promptarena drift instead of failing main
  .github/workflows/promptarena-schema-sync.yml
  .github/workflows/schemas.yml
Due: none

ci(release): attach an SPDX SBOM with a provenance attestation
  .github/workflows/release.yml
Due: none

ci(schema): raise a sync PR for promptarena drift instead of failing main (#1941)
  .github/workflows/promptarena-schema-sync.yml
  .github/workflows/schemas.yml
Due: none

ci(release): attach an SPDX SBOM with a provenance attestation (#1942)
  .github/workflows/release.yml
Due: none

feat(events): place validation events against their turn
  docs/src/content/docs/runtime/reference/hooks.md
  docs/src/content/docs/runtime/reference/pipeline.md
  runtime/events/emitter.go
  runtime/events/types.go
  runtime/hooks/guardrails/adapter.go
  runtime/hooks/guardrails/lifecycle.go
  runtime/hooks/guardrails/turn_index_test.go
  runtime/hooks/types.go
  runtime/pipeline/stage/composition_executor.go
  runtime/pipeline/stage/guardrail_turn_index_test.go
  runtime/pipeline/stage/stages_core.go
  runtime/pipeline/stage/stages_provider.go
  runtime/pipeline/stage/turn_state.go
  sdk/conversation.go
  sdk/eval_middleware.go
  sdk/internal/pipeline/builder.go
  sdk/turn_index_alignment_test.go
  sdk/turn_index_e2e_test.go
Due: runtime, sdk

fix(vad): persist voice turns through the message log
  sdk/internal/pipeline/builder.go
  sdk/internal/pipeline/builder_vad.go
  sdk/internal/pipeline/builder_vad_test.go
  sdk/internal/pipeline/builder_vad_wiring_test.go
Due: sdk

test(vad): drive a real voice turn to prove mid-session persistence
  sdk/vad_mode_persistence_test.go
Due: none

feat(events): place validation events against their turn (#1943)
  docs/src/content/docs/runtime/reference/hooks.md
  docs/src/content/docs/runtime/reference/pipeline.md
  runtime/events/emitter.go
  runtime/events/types.go
  runtime/hooks/guardrails/adapter.go
  runtime/hooks/guardrails/lifecycle.go
  runtime/hooks/guardrails/turn_index_test.go
  runtime/hooks/types.go
  runtime/pipeline/stage/composition_executor.go
  runtime/pipeline/stage/guardrail_turn_index_test.go
  runtime/pipeline/stage/stages_core.go
  runtime/pipeline/stage/stages_provider.go
  runtime/pipeline/stage/turn_state.go
  sdk/conversation.go
  sdk/eval_middleware.go
  sdk/internal/pipeline/builder.go
  sdk/internal/pipeline/builder_vad.go
  sdk/internal/pipeline/builder_vad_test.go
  sdk/internal/pipeline/builder_vad_wiring_test.go
  sdk/turn_index_alignment_test.go
  sdk/turn_index_e2e_test.go
  sdk/vad_mode_persistence_test.go
Due: runtime, sdk

feat(sdk): let the host name the memory subject scope key
  docs/src/content/docs/sdk/reference/conversation-manager.md
  sdk/capability_memory.go
  sdk/capability_memory_test.go
  sdk/options.go
Due: sdk

docs(sdk): name capability preconditions as a cause of "tool not registered"
  docs/src/content/docs/sdk/how-to/tools/override-capability-tools.md
Due: none

feat(sdk): let the host name the memory subject scope key (#1947)
  docs/src/content/docs/sdk/how-to/tools/override-capability-tools.md
  docs/src/content/docs/sdk/reference/conversation-manager.md
  sdk/capability_memory.go
  sdk/capability_memory_test.go
  sdk/options.go
Due: sdk

fix(sdk): report MCP enumeration failure instead of swallowing it
  sdk/conversation_tools.go
  sdk/mcp_enumeration_test.go
  sdk/mcp_test.go
Due: sdk

fix(sdk): report skills that fail to preload
  runtime/skills/preload_order_test.go
  runtime/skills/registry.go
  sdk/capability_skills.go
  sdk/capability_skills_preload_test.go
Due: runtime, sdk

fix(sdk): report MCP enumeration failure instead of swallowing it (#1955)
  sdk/conversation_tools.go
  sdk/mcp_enumeration_test.go
  sdk/mcp_test.go
Due: sdk

fix(sdk): report skills that fail to preload (#1956)
  runtime/skills/preload_order_test.go
  runtime/skills/registry.go
  sdk/capability_skills.go
  sdk/capability_skills_preload_test.go
Due: runtime, sdk

fix(pipeline): render memory_context before the template stage
  docs/scripts/gen-reference.sh
  docs/src/content/docs/runtime/reference/memory-corpus.md
  docs/src/content/docs/runtime/reference/memory.md
  docs/src/content/docs/runtime/reference/pipeline.md
  runtime/memory/corpus/corpus.go
  runtime/memory/corpus/corpus_test.go
  runtime/pipeline/stage/stages_memory.go
  sdk/integration/memory_context_test.go
  sdk/internal/pipeline/builder.go
Due: runtime, sdk

feat(sdk): wire ambient grounding without a memory store
  docs/src/content/docs/sdk/reference/conversation-manager.md
  sdk/conversation.go
  sdk/integration/retriever_standalone_test.go
  sdk/internal/pipeline/builder.go
  sdk/options.go
Due: sdk

test(sdk): verify grounding against real providers
  sdk/grounding_live_integration_test.go
Due: none

docs(sdk): document memory and ambient grounding
  docs/src/content/docs/sdk/how-to/conversations/use-memory.md
Due: none

docs(runtime): explain where retrieval sits in an agent
  docs/src/content/docs/runtime/explanation/index.md
  docs/src/content/docs/runtime/explanation/retrieval-architecture.md
  docs/src/content/docs/sdk/how-to/conversations/use-memory.md
Due: none

test(sdk): give the no-memory-tools assertion a control
  sdk/integration/retriever_standalone_test.go
Due: none

fix(pipeline): render memory_context before the template stage, and unbundle grounding from memory (#1960)
  docs/scripts/gen-reference.sh
  docs/src/content/docs/runtime/explanation/index.md
  docs/src/content/docs/runtime/explanation/retrieval-architecture.md
  docs/src/content/docs/runtime/reference/memory-corpus.md
  docs/src/content/docs/runtime/reference/memory.md
  docs/src/content/docs/runtime/reference/pipeline.md
  docs/src/content/docs/sdk/how-to/conversations/use-memory.md
  docs/src/content/docs/sdk/reference/conversation-manager.md
  runtime/memory/corpus/corpus.go
  runtime/memory/corpus/corpus_test.go
  runtime/pipeline/stage/stages_memory.go
  sdk/conversation.go
  sdk/grounding_live_integration_test.go
  sdk/integration/memory_context_test.go
  sdk/integration/retriever_standalone_test.go
  sdk/internal/pipeline/builder.go
  sdk/options.go
Due: runtime, sdk

fix(sdk): render the system prompt every turn, not once per conversation
  docs/src/content/docs/runtime/reference/pipeline.md
  docs/src/content/docs/sdk/how-to/conversations/manage-state.md
  docs/src/content/docs/sdk/how-to/conversations/use-memory.md
  runtime/pipeline/stage/stages_memory.go
  runtime/pipeline/stage/stages_memory_test.go
  runtime/pipeline/stage/turn_state.go
  runtime/pipeline/stage/turn_state_test.go
  sdk/conversation.go
  sdk/grounding_live_integration_test.go
  sdk/integration/memory_context_test.go
  sdk/integration/setvar_render_test.go
  sdk/session_vars.go
  sdk/streaming.go
Due: runtime, sdk

test(sdk): pin the system prompt against workflow state changes
  sdk/integration/workflow_test.go
Due: none

fix(sdk): render the system prompt every turn, not once per conversation (#1961)
  docs/src/content/docs/runtime/reference/pipeline.md
  docs/src/content/docs/sdk/how-to/conversations/manage-state.md
  docs/src/content/docs/sdk/how-to/conversations/use-memory.md
  runtime/pipeline/stage/stages_memory.go
  runtime/pipeline/stage/stages_memory_test.go
  runtime/pipeline/stage/turn_state.go
  runtime/pipeline/stage/turn_state_test.go
  sdk/conversation.go
  sdk/grounding_live_integration_test.go
  sdk/integration/memory_context_test.go
  sdk/integration/setvar_render_test.go
  sdk/integration/workflow_test.go
  sdk/session_vars.go
  sdk/streaming.go
Due: runtime, sdk

fix(sdk): refuse ambient grounding on a duplex provider instead of hanging
  docs/src/content/docs/runtime/explanation/retrieval-architecture.md
  docs/src/content/docs/sdk/how-to/conversations/use-memory.md
  sdk/internal/pipeline/builder.go
  sdk/internal/pipeline/builder_test.go
Due: sdk

test(sdk): assert the duplex refusal by sentinel, not by message
  sdk/internal/pipeline/builder_test.go
Due: none

fix(sdk): refuse ambient grounding on a duplex provider instead of hanging (#1963)
  docs/src/content/docs/runtime/explanation/retrieval-architecture.md
  docs/src/content/docs/sdk/how-to/conversations/use-memory.md
  sdk/internal/pipeline/builder.go
  sdk/internal/pipeline/builder_test.go
Due: sdk

docs(sdk): explain how variables resolve
  docs/src/content/docs/sdk/explanation/index.md
  docs/src/content/docs/sdk/explanation/variables.md
  docs/src/content/docs/sdk/how-to/conversations/manage-state.md
  docs/src/content/docs/sdk/tutorials/09-variable-providers.md
Due: none

fix(pipeline): confine variables to the system prompt and fail on unresolved
  docs/src/content/docs/runtime/reference/pipeline.md
  docs/src/content/docs/sdk/explanation/variables.md
  docs/src/content/docs/sdk/how-to/conversations/manage-state.md
  docs/src/content/docs/sdk/how-to/conversations/use-memory.md
  runtime/pipeline/stage/errors.go
  runtime/pipeline/stage/stages_utilities.go
  runtime/pipeline/stage/stages_utilities_test.go
  sdk/integration/setvar_render_test.go
Due: runtime

fix(pipeline): confine variables to the system prompt, fail the turn on unresolved (#1964)
  docs/src/content/docs/runtime/reference/pipeline.md
  docs/src/content/docs/sdk/explanation/index.md
  docs/src/content/docs/sdk/explanation/variables.md
  docs/src/content/docs/sdk/how-to/conversations/manage-state.md
  docs/src/content/docs/sdk/how-to/conversations/use-memory.md
  docs/src/content/docs/sdk/tutorials/09-variable-providers.md
  runtime/pipeline/stage/errors.go
  runtime/pipeline/stage/stages_utilities.go
  runtime/pipeline/stage/stages_utilities_test.go
  sdk/integration/setvar_render_test.go
Due: runtime

fix(sdk): document that duplex renders the system prompt once per session, warn on a late SetVar
  docs/src/content/docs/sdk/explanation/variables.md
  docs/src/content/docs/sdk/how-to/conversations/manage-state.md
  docs/src/content/docs/sdk/reference/conversation-manager.md
  docs/src/content/docs/sdk/tutorials/07-audio-sessions.md
  sdk/CLAUDE.md
  sdk/conversation.go
  sdk/integration/duplex_setvar_render_test.go
  sdk/session/duplex_session.go
  sdk/session/duplex_session_setvar_test.go
  sdk/vad_mode_per_turn_test.go
  sdk/vad_mode_setvar_test.go
Due: sdk

fix(sdk): document that duplex renders the system prompt once per session, warn on a late SetVar (#1979)
  docs/src/content/docs/sdk/explanation/variables.md
  docs/src/content/docs/sdk/how-to/conversations/manage-state.md
  docs/src/content/docs/sdk/reference/conversation-manager.md
  docs/src/content/docs/sdk/tutorials/07-audio-sessions.md
  sdk/CLAUDE.md
  sdk/conversation.go
  sdk/integration/duplex_setvar_render_test.go
  sdk/session/duplex_session.go
  sdk/session/duplex_session_setvar_test.go
  sdk/vad_mode_per_turn_test.go
  sdk/vad_mode_setvar_test.go
Due: sdk

fix(sdk): make skill allowed-tools reach the provider's tool list
  docs/src/content/docs/runtime/reference/pipeline.md
  runtime/pipeline/stage/stages_provider.go
  runtime/pipeline/stage/stages_provider_tool_grants_test.go
  sdk/CLAUDE.md
  sdk/capability_skills.go
  sdk/conversation.go
  sdk/internal/pipeline/builder.go
  sdk/skills_tool_grant_test.go
Due: runtime, sdk

fix(sdk): make skill allowed-tools reach the provider's tool list (#1980)
  docs/src/content/docs/runtime/reference/pipeline.md
  runtime/pipeline/stage/stages_provider.go
  runtime/pipeline/stage/stages_provider_tool_grants_test.go
  sdk/CLAUDE.md
  sdk/capability_skills.go
  sdk/conversation.go
  sdk/internal/pipeline/builder.go
  sdk/skills_tool_grant_test.go
Due: runtime, sdk

Path conditions:
  runtime: any of: runtime/, but not: **/*_test.go, **/*_interactive.go, **/*_integration.go, examples/, docs/, scripts/, .github/, *.md
  sdk: any of: sdk/, but not: **/*_test.go, **/*_interactive.go, **/*_integration.go, examples/, docs/, scripts/, .github/, *.md
  arena: any of: tools/arena/, but not: **/*_test.go, **/*_interactive.go, **/*_integration.go, examples/, docs/, scripts/, .github/, *.md
  packc: any of: tools/packc/, but not: **/*_test.go, **/*_interactive.go, **/*_integration.go, examples/, docs/, scripts/, .github/, *.md
  inspect-state: any of: tools/inspect-state/, but not: **/*_test.go, **/*_interactive.go, **/*_integration.go, examples/, docs/, scripts/, .github/, *.md
