Repository AltairaLabs/PromptKit: changes, and which Codecov flags are due for each by the changed paths.
All: runtime, sdk, arena, packc, inspect-state

chore(pipeline): scrub stale "metadata bag" doc comments and wire memory + selfplay to TurnState
  runtime/pipeline/stage/stages_core.go
  runtime/pipeline/stage/stages_duplex_provider_integration.go
  runtime/pipeline/stage/stages_media_extract.go
  runtime/pipeline/stage/stages_provider.go
  runtime/pipeline/stage/stages_utilities.go
  sdk/internal/pipeline/builder.go
  sdk/sdk.go
  sdk/session/duplex_session.go
  sdk/session/session.go
  tools/arena/selfplay/generator.go
  tools/arena/stages/assertions.go
  tools/arena/stages/guardrail_eval.go
  tools/arena/stages/mock_scenario_context.go
  tools/arena/stages/selfplay_context.go
  tools/arena/stages/statestore_save_integration.go
Due: runtime, sdk, arena

feat(pipeline): consolidate state-store save stages on IncrementalSaveStage
  runtime/pipeline/stage/stages_core.go
  runtime/pipeline/stage/stages_core_test.go
  runtime/pipeline/stage/stages_save.go
  runtime/pipeline/stage/stages_save_test.go
  sdk/integration/contract_known_bugs_test.go
  sdk/integration/contract_pipeline_test.go
  sdk/integration/probes/probes.go
  sdk/integration/probes/probes_test.go
  sdk/integration/probes/store.go
  sdk/internal/pipeline/builder.go
  tools/arena/turnexecutors/pipeline_stages_integration.go
Due: runtime, sdk

feat(pipeline): consolidate state-store save stages on IncrementalSaveStage (#1055)
  runtime/pipeline/stage/stages_core.go
  runtime/pipeline/stage/stages_core_test.go
  runtime/pipeline/stage/stages_save.go
  runtime/pipeline/stage/stages_save_test.go
  sdk/integration/contract_known_bugs_test.go
  sdk/integration/contract_pipeline_test.go
  sdk/integration/probes/probes.go
  sdk/integration/probes/probes_test.go
  sdk/integration/probes/store.go
  sdk/internal/pipeline/builder.go
  tools/arena/turnexecutors/pipeline_stages_integration.go
Due: runtime, sdk

feat(statestore): typed write mutators and BulkWriter split
  runtime/pipeline/stage/stages_save.go
  runtime/pipeline/stage/structural_guards_test.go
  runtime/statestore/interface.go
  runtime/statestore/memory.go
  runtime/statestore/memory_test.go
  runtime/statestore/memory_ttl_test.go
  runtime/statestore/redis.go
  runtime/statestore/redis_test.go
  runtime/variables/state_test.go
  sdk/integration/probes/runner.go
  sdk/integration/probes/store.go
  sdk/session/duplex_session.go
  sdk/session/unary_session.go
  sdk/workflow.go
  sdk/workflow_test.go
  tools/arena/engine/conversation_executor_multiturn_test.go
  tools/arena/engine/conversation_executor_selfplay_multiturn_test.go
  tools/arena/engine/conversation_executor_streaming_test.go
  tools/arena/engine/conversation_executor_test.go
  tools/arena/engine/duplex_executor_pipeline_integration.go
  tools/arena/engine/statestore_test.go
  tools/arena/turnexecutors/assertions_integration_test.go
  tools/arena/turnexecutors/scripted_executor_test.go
  tools/arena/turnexecutors/selfplay_assertions_test.go
Due: runtime, sdk

docs(sdk): drop dead link to non-existent /sdk/reference/capabilities/
  docs/src/content/docs/sdk/how-to/override-capability-tools.md
Due: none

docs(sdk): drop dead link to non-existent /sdk/reference/capabilities/ (#1057)
  docs/src/content/docs/sdk/how-to/override-capability-tools.md
Due: none

fix: address SonarCloud quality gate (deduplicate session helpers + redis literals)
  runtime/statestore/redis.go
  sdk/session/duplex_session.go
  sdk/session/store_helpers.go
  sdk/session/unary_session.go
Due: runtime, sdk

feat(statestore): typed write mutators + BulkWriter split (PR 7) (#1056)
  runtime/pipeline/stage/stages_save.go
  runtime/pipeline/stage/structural_guards_test.go
  runtime/statestore/interface.go
  runtime/statestore/memory.go
  runtime/statestore/memory_test.go
  runtime/statestore/memory_ttl_test.go
  runtime/statestore/redis.go
  runtime/statestore/redis_test.go
  runtime/variables/state_test.go
  sdk/integration/probes/runner.go
  sdk/integration/probes/store.go
  sdk/session/duplex_session.go
  sdk/session/store_helpers.go
  sdk/session/unary_session.go
  sdk/workflow.go
  sdk/workflow_test.go
  tools/arena/engine/conversation_executor_multiturn_test.go
  tools/arena/engine/conversation_executor_selfplay_multiturn_test.go
  tools/arena/engine/conversation_executor_streaming_test.go
  tools/arena/engine/conversation_executor_test.go
  tools/arena/engine/duplex_executor_pipeline_integration.go
  tools/arena/engine/statestore_test.go
  tools/arena/turnexecutors/assertions_integration_test.go
  tools/arena/turnexecutors/scripted_executor_test.go
  tools/arena/turnexecutors/selfplay_assertions_test.go
Due: runtime, sdk

fix(arena): load conversation state once per Process, not per Message element
  tools/arena/stages/stages_test.go
  tools/arena/stages/statestore_save_integration.go
Due: none

fix(arena): load conversation state once per Process, not per Message element (#1058)
  tools/arena/stages/stages_test.go
  tools/arena/stages/statestore_save_integration.go
Due: none

perf(pipeline): drop history from in-memory slice + load summarize tail via MessageReader
  runtime/pipeline/stage/stages_save.go
  runtime/pipeline/stage/stages_save_test.go
Due: runtime

chore(review): clarify forkOrCreate error + scope-doc structural guard
  runtime/pipeline/stage/structural_guards_test.go
  sdk/session/store_helpers.go
Due: sdk

perf(pipeline): drop history from in-memory slice + load summarize tail via MessageReader (#1059)
  runtime/pipeline/stage/stages_save.go
  runtime/pipeline/stage/stages_save_test.go
Due: runtime

chore(review): clarify forkOrCreate error + scope-doc structural guard (#1060)
  runtime/pipeline/stage/structural_guards_test.go
  sdk/session/store_helpers.go
Due: sdk

perf(statestore/redis): store user metadata as a Redis hash, drop WATCH retry loop
  runtime/statestore/redis.go
  runtime/statestore/redis_test.go
Due: runtime

perf(statestore/redis): store user metadata as a Redis hash, drop WATCH retry loop (#1061)
  runtime/statestore/redis.go
  runtime/statestore/redis_test.go
Due: runtime

feat(statestore): incremental workflow history via ListAccessor (#4)
  runtime/statestore/interface.go
  runtime/statestore/list_accessor_test.go
  runtime/statestore/memory.go
  runtime/statestore/redis.go
  runtime/statestore/redis_list_accessor_test.go
  sdk/workflow.go
  sdk/workflow_test.go
  tools/arena/statestore/list_accessor_test.go
  tools/arena/statestore/store.go
Due: runtime, sdk, arena

feat(statestore): incremental workflow history via ListAccessor (#4) (#1062)
  runtime/statestore/interface.go
  runtime/statestore/list_accessor_test.go
  runtime/statestore/memory.go
  runtime/statestore/redis.go
  runtime/statestore/redis_list_accessor_test.go
  sdk/workflow.go
  sdk/workflow_test.go
  tools/arena/statestore/list_accessor_test.go
  tools/arena/statestore/store.go
Due: runtime, sdk, arena

fix(arena/render): show externalized images in HTML report
  tools/arena/render/media.go
  tools/arena/render/media_test.go
Due: arena

test(arena/render): end-to-end check that storage refs resolve under report dir
  tools/arena/render/media_storage_e2e_test.go
Due: none

test(examples): live OpenAI audio-output scenario for media externalization
  examples/arena-media-test/config.arena.yaml
  examples/arena-media-test/providers/openai-gpt4o-audio-output.provider.yaml
  examples/arena-media-test/scenarios/openai-audio-output.scenario.yaml
Due: none

fix(arena/render): show externalized images in HTML report (#7) (#1064)
  examples/arena-media-test/config.arena.yaml
  examples/arena-media-test/providers/openai-gpt4o-audio-output.provider.yaml
  examples/arena-media-test/scenarios/openai-audio-output.scenario.yaml
  tools/arena/render/media.go
  tools/arena/render/media_storage_e2e_test.go
  tools/arena/render/media_test.go
Due: arena

fix(openai): honor configured audio modalities on text-only inputs (#1066)
  runtime/providers/openai/openai.go
  runtime/providers/openai/openai_test.go
  runtime/providers/openai/openai_tools.go
  runtime/providers/openai/openai_tools_test.go
Due: runtime

fix(arena): preserve file path on input audio/video + render data fallback (#1065)
  tools/arena/render/media.go
  tools/arena/render/media_test.go
  tools/arena/turnexecutors/media_loader.go
  tools/arena/turnexecutors/media_loader_coverage_test.go
Due: arena

fix(openai): honor configured audio modalities on text-only inputs (#1066) (#1067)
  runtime/providers/openai/openai.go
  runtime/providers/openai/openai_test.go
  runtime/providers/openai/openai_tools.go
  runtime/providers/openai/openai_tools_test.go
Due: runtime

fix(arena): preserve file path on input audio/video + render data fallback (#1065) (#1068)
  tools/arena/render/media.go
  tools/arena/render/media_test.go
  tools/arena/turnexecutors/media_loader.go
  tools/arena/turnexecutors/media_loader_coverage_test.go
Due: arena

feat(storage): instrument MediaStorageService with events + OTel spans (#1063)
  runtime/events/types.go
  runtime/storage/instrumented.go
  runtime/storage/instrumented_test.go
  tools/arena/engine/engine.go
Due: runtime, arena

feat(storage): instrument MediaStorageService with events + OTel spans (#1063) (#1069)
  runtime/events/types.go
  runtime/storage/instrumented.go
  runtime/storage/instrumented_test.go
  tools/arena/engine/engine.go
Due: runtime, arena

docs: braid funnel positioning into README
  README.md
Due: none

docs: lead Install with npm, not git clone + make
  README.md
Due: none

docs: braid funnel positioning into README (#1071)
  README.md
Due: none

docs(arena): expand tools_called params and add tools_not_called example
  docs/src/content/docs/arena/reference/assertions.md
  docs/src/content/docs/reference/checks.md
Due: none

feat(examples): scaffold voice-refund-demo arena config
  examples/voice-refund-demo/config.arena.yaml
Due: none

feat(examples): add voice-refund-demo tool definitions
  examples/voice-refund-demo/tools/check-warranty-status.tool.yaml
  examples/voice-refund-demo/tools/escalate-to-human.tool.yaml
  examples/voice-refund-demo/tools/issue-refund.tool.yaml
  examples/voice-refund-demo/tools/lookup-order.tool.yaml
Due: none

feat(examples): add voice-refund-demo agent prompt
  examples/voice-refund-demo/prompts/refund-agent.prompt.yaml
Due: none

feat(examples): add voice-refund-demo provider configs
  examples/voice-refund-demo/providers/gemini-2-flash.provider.yaml
  examples/voice-refund-demo/providers/mock-duplex.provider.yaml
  examples/voice-refund-demo/providers/openai-gpt4o-realtime.provider.yaml
Due: none

feat(examples): add voice-refund-demo personas
  examples/voice-refund-demo/personas/aggressive-entitled.persona.yaml
  examples/voice-refund-demo/personas/impersonator.persona.yaml
  examples/voice-refund-demo/personas/patient-customer.persona.yaml
Due: none

feat(examples): add voice-refund-demo mock-duplex script
  examples/voice-refund-demo/mock-responses.yaml
Due: none

feat(examples): add voice-refund-demo scenarios
  examples/voice-refund-demo/scenarios/aggressive-refund.scenario.yaml
  examples/voice-refund-demo/scenarios/impersonator-refund.scenario.yaml
  examples/voice-refund-demo/scenarios/patient-baseline.scenario.yaml
Due: none

Path conditions:
  runtime: any of: runtime/, but not: **/*_test.go, **/*_interactive.go, **/*_integration.go, examples/, docs/, scripts/, .github/, *.md
  sdk: any of: sdk/, but not: **/*_test.go, **/*_interactive.go, **/*_integration.go, examples/, docs/, scripts/, .github/, *.md
  arena: any of: tools/arena/, but not: **/*_test.go, **/*_interactive.go, **/*_integration.go, examples/, docs/, scripts/, .github/, *.md
  packc: any of: tools/packc/, but not: **/*_test.go, **/*_interactive.go, **/*_integration.go, examples/, docs/, scripts/, .github/, *.md
  inspect-state: any of: tools/inspect-state/, but not: **/*_test.go, **/*_interactive.go, **/*_integration.go, examples/, docs/, scripts/, .github/, *.md
