Repository AltairaLabs/PromptKit: changes, and which Codecov flags are due for each by the changed paths.
All: runtime, sdk, arena, packc, inspect-state

feat(duplex): Add configurable resilience for multi-provider support
  examples/duplex-streaming/mock-responses.yaml
  examples/duplex-streaming/scenarios/duplex-selfplay.scenario.yaml
  pkg/config/types.go
  runtime/audio/resample.go
  runtime/audio/resample_test.go
  runtime/pipeline/stage/stages_speech.go
  schemas/v1alpha1/scenario.json
  tools/arena/engine/duplex_conversation_executor_interactive.go
  tools/arena/selfplay/audio_generator.go
Due: runtime, arena

test: Add unit tests for DuplexResilienceConfig helper methods
  pkg/config/duplex_config_test.go
Due: none

fix(duplex): correct selfplay turn index and add persona metadata
  tools/arena/engine/duplex_conversation_executor_interactive.go
  tools/arena/selfplay/audio_generator.go
  tools/arena/selfplay/audio_generator_test.go
  tools/arena/selfplay/generator.go
  tools/arena/selfplay/interfaces.go
  tools/arena/stages/selfplay_context.go
  tools/arena/turnexecutors/selfplay_assertions_test.go
  tools/arena/turnexecutors/selfplay_error_paths_test.go
  tools/arena/turnexecutors/selfplay_executor.go
  tools/arena/turnexecutors/streaming_test.go
Due: arena

feat: Add manual VAD control to prevent TTS interruptions in selfplay
  examples/duplex-streaming/config.arena.yaml
  examples/duplex-streaming/mock-responses.yaml
  examples/duplex-streaming/providers/mock-duplex-simulate.provider.yaml
  examples/duplex-streaming/scenarios/duplex-selfplay-mock.scenario.yaml
  pkg/config/types.go
  runtime/pipeline/stage/pipeline.go
  runtime/pipeline/stage/stages_resample.go
  runtime/pipeline/stage/stages_resample_test.go
  runtime/pipeline/stage/stages_speech_integration.go
  runtime/pipeline/stage/stages_speech_test.go
  runtime/pipeline/stage/stages_streaming_integration.go
  runtime/pipeline/stage/stages_streaming_test.go
  runtime/providers/gemini/stream_session_integration.go
  runtime/providers/gemini/stream_session_reconnect_test.go
  runtime/providers/gemini/streaming_support.go
  runtime/providers/gemini/websocket_manager.go
  runtime/providers/mock/mock_streaming_interactive.go
  runtime/providers/mock/mock_tool_provider_interactive.go
  runtime/providers/streaming_input.go
  runtime/types/message.go
  schemas/v1alpha1/scenario.json
  tools/arena/engine/duplex_conversation_executor_interactive.go
  tools/arena/selfplay/audio_generator.go
  tools/arena/selfplay/mock_tts_interactive.go
  tools/arena/selfplay/registry.go
  tools/arena/selfplay/tts_registry.go
  tools/arena/selfplay/tts_registry_test.go
  tools/arena/stages/stages_test.go
  tools/arena/stages/statestore_save_integration.go
Due: runtime, arena

refactor: Move VAD activity signaling into Gemini StreamSession
  runtime/pipeline/stage/stages_streaming_integration.go
  runtime/providers/gemini/stream_session_integration.go
  runtime/providers/streaming_input.go
Due: runtime

feat(duplex): Add tool calling support with transcription correlation fixes
  examples/duplex-streaming/config.arena.yaml
  examples/duplex-streaming/mock-responses.yaml
  examples/duplex-streaming/personas/busy-professional.persona.yaml
  examples/duplex-streaming/prompts/voice-assistant-tools.prompt.yaml
  examples/duplex-streaming/scenarios/duplex-interactive.scenario.yaml
  examples/duplex-streaming/scenarios/duplex-tools.scenario.yaml
  examples/duplex-streaming/tools/get_calendar_events.tool.yaml
  examples/duplex-streaming/tools/get_weather.tool.yaml
  examples/duplex-streaming/tools/set_reminder.tool.yaml
  examples/pipeline-streaming-audio/go.mod
  runtime/pipeline/stage/stages_streaming_integration.go
  runtime/providers/gemini/stream_session_integration.go
  runtime/providers/gemini/streaming_support.go
  runtime/providers/gemini/streaming_support_test.go
  runtime/providers/mock/mock.go
  runtime/providers/mock/mock_repository.go
  runtime/providers/mock/mock_tool_provider_interactive.go
  runtime/providers/streaming_input.go
  tools/arena/engine/builder_additional_test.go
  tools/arena/engine/builder_integration.go
  tools/arena/engine/composite_conversation_executor_test.go
  tools/arena/engine/duplex_conversation_executor.go
  tools/arena/engine/duplex_conversation_executor_interactive.go
  tools/arena/engine/duplex_conversation_executor_test.go
  tools/arena/engine/duplex_state_store_test.go
  tools/arena/stages/selfplay_context.go
Due: runtime, arena

refactor: split large streaming files for improved clarity and maintainability
  runtime/pipeline/stage/stages_duplex_provider.go
  runtime/pipeline/stage/stages_tts_integration.go
  runtime/pipeline/stage/stages_vad_integration.go
  runtime/providers/gemini/stream_session_integration.go
  runtime/providers/gemini/stream_session_protocol_integration.go
  runtime/providers/gemini/stream_session_reconnect_test.go
  runtime/providers/gemini/stream_session_test.go
  runtime/providers/gemini/stream_session_tools_integration.go
  runtime/providers/gemini/stream_session_types_integration.go
  runtime/providers/gemini/streaming_support.go
  tools/arena/engine/duplex_conversation_executor_interactive.go
  tools/arena/engine/duplex_executor_assertions_integration.go
  tools/arena/engine/duplex_executor_events_integration.go
  tools/arena/engine/duplex_executor_pipeline_integration.go
  tools/arena/engine/duplex_executor_results_integration.go
  tools/arena/engine/duplex_executor_tools_integration.go
  tools/arena/engine/duplex_executor_turns_integration.go
  tools/arena/engine/duplex_executor_types.go
Due: runtime, arena

refactor: extract generic streaming capabilities to runtime/streaming package
  runtime/streaming/audio_integration.go
  runtime/streaming/collector_integration.go
  runtime/streaming/doc.go
  runtime/streaming/response_integration.go
  runtime/streaming/tools_integration.go
  tools/arena/engine/duplex_conversation_executor_test.go
  tools/arena/engine/duplex_executor_tools_integration.go
  tools/arena/engine/duplex_executor_turns_integration.go
  tools/arena/engine/duplex_executor_types.go
Due: runtime, arena

docs: add comprehensive duplex streaming documentation
  docs/src/content/arena/explanation/duplex-architecture.md
  docs/src/content/arena/how-to/index.md
  docs/src/content/arena/how-to/setup-voice-testing.md
  docs/src/content/arena/reference/duplex-config.md
  docs/src/content/arena/reference/index.md
  docs/src/content/arena/tutorials/06-duplex-testing.md
  docs/src/content/arena/tutorials/index.md
  docs/src/content/sdk/reference/index.md
  docs/src/content/sdk/reference/streaming.md
  examples/duplex-streaming/README.md
Due: none

fix(gemini): add write mutex to prevent websocket concurrent write race
  runtime/providers/gemini/websocket_manager.go
Due: runtime

fix: address SonarCloud code quality issues
  runtime/pipeline/stage/stages_duplex_provider_integration.go
  runtime/providers/gemini/stream_session_integration.go
  runtime/storage/local/filestore.go
  tools/arena/engine/duplex_executor_turns_integration.go
  tools/arena/stages/statestore_save_integration.go
Due: runtime

fix: add NOSONAR comments for security hotspots
  tools/arena/cmd/promptarena/serve_interactive.go
Due: none

fix: exclude _interactive.go from SonarCloud analysis
  sonar-project.properties
Due: none

fix: address SonarCloud code quality issues
  runtime/pipeline/stage/pipeline.go
  runtime/providers/mock/mock.go
  runtime/providers/mock/mock_repository.go
  tools/arena/statestore/store.go
Due: runtime, arena

fix: extract duplicated string literals to constants
  .github/issues/openai-multimodal-streaming.md
  runtime/providers/mock/mock_repository.go
  sdk/conversation.go
Due: runtime, sdk

feat(runtime): Add StreamElement pooling for GC optimization
  runtime/pipeline/stage/element_pool.go
  runtime/pipeline/stage/element_pool_test.go
Due: runtime

feat(runtime): Add StreamElement pooling for GC optimization (#148)
  runtime/pipeline/stage/element_pool.go
  runtime/pipeline/stage/element_pool_test.go
Due: runtime

feat(runtime): Add content-aware routing and format capabilities
  runtime/pipeline/stage/builder.go
  runtime/pipeline/stage/capabilities.go
  runtime/pipeline/stage/capabilities_test.go
  runtime/pipeline/stage/capabilities_validation.go
  runtime/pipeline/stage/capabilities_validation_test.go
  runtime/pipeline/stage/router_strategies.go
  runtime/pipeline/stage/router_strategies_test.go
Due: runtime

fix(runtime): Use crypto/rand for router strategies
  runtime/pipeline/stage/router_strategies.go
Due: runtime

feat(runtime): Add content-aware routing and format capabilities (#149)
  runtime/pipeline/stage/builder.go
  runtime/pipeline/stage/capabilities.go
  runtime/pipeline/stage/capabilities_test.go
  runtime/pipeline/stage/capabilities_validation.go
  runtime/pipeline/stage/capabilities_validation_test.go
  runtime/pipeline/stage/router_strategies.go
  runtime/pipeline/stage/router_strategies_test.go
Due: runtime

feat(openai): add Realtime API streaming support (#147)
  runtime/providers/openai/realtime_protocol.go
  runtime/providers/openai/realtime_protocol_test.go
  runtime/providers/openai/realtime_session_integration.go
  runtime/providers/openai/realtime_tools_integration.go
  runtime/providers/openai/realtime_types.go
  runtime/providers/openai/realtime_types_test.go
  runtime/providers/openai/realtime_websocket_integration.go
  runtime/providers/openai/streaming_support.go
  runtime/providers/openai/streaming_support_integration.go
  runtime/providers/openai/streaming_support_test.go
Due: runtime

docs(examples): add OpenAI Realtime API example
  sdk/examples/openai-realtime/README.md
  sdk/examples/openai-realtime/main.go
  sdk/examples/openai-realtime/main_interactive.go
  sdk/examples/openai-realtime/openai-realtime.pack.json
Due: sdk

fix(openai): correct Realtime API pricing and transcription handling
  runtime/pipeline/stage/stages_duplex_provider_integration.go
  runtime/providers/openai/realtime_protocol.go
  runtime/providers/openai/realtime_session_integration.go
  runtime/providers/openai/realtime_types.go
  runtime/providers/openai/streaming_support.go
  runtime/providers/openai/streaming_support_test.go
  tools/arena/engine/duplex_conversation_executor_test.go
  tools/arena/engine/duplex_executor_pipeline_integration.go
  tools/arena/engine/duplex_state_store_test.go
Due: runtime

fix: Fix DuplexProviderStage context cancellation and drain blocking
  runtime/pipeline/stage/stages_duplex_provider_integration.go
  runtime/pipeline/stage/stages_streaming_test.go
Due: none

fix: Signal sessionCreated to unblock drain goroutine
  runtime/pipeline/stage/stages_duplex_provider_integration.go
  sdk/session/duplex_audio_integration_test.go
  sdk/session/duplex_session.go
Due: sdk

feat(openai): add Realtime API streaming support (#150)
  runtime/pipeline/stage/stages_duplex_provider_integration.go
  runtime/pipeline/stage/stages_streaming_test.go
  runtime/providers/openai/realtime_protocol.go
  runtime/providers/openai/realtime_protocol_test.go
  runtime/providers/openai/realtime_session_integration.go
  runtime/providers/openai/realtime_tools_integration.go
  runtime/providers/openai/realtime_types.go
  runtime/providers/openai/realtime_types_test.go
  runtime/providers/openai/realtime_websocket_integration.go
  runtime/providers/openai/streaming_support.go
  runtime/providers/openai/streaming_support_integration.go
  runtime/providers/openai/streaming_support_test.go
  sdk/examples/openai-realtime/README.md
  sdk/examples/openai-realtime/main.go
  sdk/examples/openai-realtime/main_interactive.go
  sdk/examples/openai-realtime/openai-realtime.pack.json
  sdk/session/duplex_audio_integration_test.go
  sdk/session/duplex_session.go
  tools/arena/engine/duplex_conversation_executor_test.go
  tools/arena/engine/duplex_executor_pipeline_integration.go
  tools/arena/engine/duplex_state_store_test.go
Due: runtime, sdk

feat(logging): Add context-based structured logging with per-module levels
  pkg/config/logging.go
  pkg/config/logging_test.go
  runtime/logger/config.go
  runtime/logger/config_test.go
  runtime/logger/context.go
  runtime/logger/context_test.go
  runtime/logger/handler.go
  runtime/logger/logger.go
  tools/arena/engine/conversation_executor.go
  tools/arena/engine/conversation_executor_assertions_test.go
  tools/schema-gen/generators/logging.go
  tools/schema-gen/main.go
Due: runtime, arena

docs(logging): Add reference docs and expand context integration
  docs/src/content/runtime/reference/index.md
  docs/src/content/runtime/reference/logging.md
  examples/logging-config/debugging.logging.yaml
  examples/logging-config/development.logging.yaml
  examples/logging-config/production.logging.yaml
  runtime/providers/claude/claude.go
  runtime/providers/gemini/gemini.go
  runtime/providers/openai/openai.go
  tools/arena/engine/duplex_conversation_executor.go
Due: runtime, arena

chore: Add generated logging.json schema
  schemas/v1alpha1/logging.json
Due: none

test(logging): Add tests to improve coverage on new code
  runtime/logger/config_test.go
  runtime/logger/context_test.go
Due: none

feat(logging): Add context-based structured logging with per-module levels (#159)
  docs/src/content/runtime/reference/index.md
  docs/src/content/runtime/reference/logging.md
  examples/logging-config/debugging.logging.yaml
  examples/logging-config/development.logging.yaml
  examples/logging-config/production.logging.yaml
  pkg/config/logging.go
  pkg/config/logging_test.go
  runtime/logger/config.go
  runtime/logger/config_test.go
  runtime/logger/context.go
  runtime/logger/context_test.go
  runtime/logger/handler.go
  runtime/logger/logger.go
  runtime/providers/claude/claude.go
  runtime/providers/gemini/gemini.go
  runtime/providers/openai/openai.go
  schemas/v1alpha1/logging.json
  tools/arena/engine/conversation_executor.go
  tools/arena/engine/conversation_executor_assertions_test.go
  tools/arena/engine/duplex_conversation_executor.go
  tools/schema-gen/generators/logging.go
  tools/schema-gen/main.go
Due: runtime, arena

feat(runtime): Add embedding-based relevance truncation infrastructure
  runtime/pipeline/stage/similarity.go
  runtime/pipeline/stage/similarity_test.go
  runtime/pipeline/stage/stages_utilities.go
  runtime/providers/embedding.go
  runtime/providers/embedding_test.go
Due: runtime

feat(openai): Add EmbeddingProvider for semantic similarity
  runtime/providers/openai/embedding.go
  runtime/providers/openai/embedding_test.go
Due: runtime

feat(gemini): Add EmbeddingProvider for semantic similarity
  runtime/providers/gemini/embedding.go
  runtime/providers/gemini/embedding_test.go
Due: runtime

feat(stage): Implement embedding-based relevance truncation for ContextBuilderStage
  runtime/pipeline/stage/stages_utilities.go
  runtime/pipeline/stage/stages_utilities_test.go
Due: runtime

feat(config,sdk): add RelevanceConfig for embedding-based truncation
  pkg/config/types.go
  sdk/conversation.go
  sdk/internal/pipeline/builder.go
  sdk/options.go
  sdk/options_test.go
  tools/arena/turnexecutors/pipeline_executor.go
  tools/arena/turnexecutors/pipeline_executor_helpers_test.go
Due: sdk, arena

feat(voyageai): Add Voyage AI EmbeddingProvider
  runtime/providers/voyageai/embedding.go
  runtime/providers/voyageai/embedding_test.go
  tools/arena/turnexecutors/pipeline_executor.go
Due: runtime, arena

chore(schemas): Regenerate scenario.json with RelevanceConfig
  schemas/v1alpha1/scenario.json
Due: none

refactor(providers): Extract BaseEmbeddingProvider to reduce duplication
  runtime/providers/base_embedding.go
  runtime/providers/base_embedding_test.go
  runtime/providers/gemini/embedding.go
  runtime/providers/gemini/embedding_test.go
  runtime/providers/openai/embedding.go
  runtime/providers/openai/embedding_test.go
  runtime/providers/voyageai/embedding.go
  runtime/providers/voyageai/embedding_test.go
Due: runtime

Path conditions:
  runtime: any of: runtime/, but not: **/*_test.go, **/*_interactive.go, **/*_integration.go, examples/, docs/, scripts/, .github/, *.md
  sdk: any of: sdk/, but not: **/*_test.go, **/*_interactive.go, **/*_integration.go, examples/, docs/, scripts/, .github/, *.md
  arena: any of: tools/arena/, but not: **/*_test.go, **/*_interactive.go, **/*_integration.go, examples/, docs/, scripts/, .github/, *.md
  packc: any of: tools/packc/, but not: **/*_test.go, **/*_interactive.go, **/*_integration.go, examples/, docs/, scripts/, .github/, *.md
  inspect-state: any of: tools/inspect-state/, but not: **/*_test.go, **/*_interactive.go, **/*_integration.go, examples/, docs/, scripts/, .github/, *.md
