Repository AltairaLabs/PromptKit: changes, and which Codecov flags are due for each by the changed paths.
All: runtime, sdk, arena, packc, inspect-state

test: improve SDK coverage for SonarCloud quality gate
  sdk/conversation_test.go
  sdk/session/unary_session_test.go
Due: none

fix: SDK reliability and performance improvements (#657)
  sdk/agui/adapter.go
  sdk/conversation.go
  sdk/conversation_test.go
  sdk/eval_integration_test.go
  sdk/eval_middleware.go
  sdk/eval_middleware_test.go
  sdk/local_agent_executor_integration.go
  sdk/multi_agent.go
  sdk/multi_agent_test.go
  sdk/sdk.go
  sdk/session/duplex_session.go
  sdk/session/unary_session.go
  sdk/session/unary_session_test.go
  sdk/shutdown.go
  sdk/shutdown_test.go
  sdk/streaming.go
  sdk/template.go
  sdk/tools/http.go
  sdk/tools/typed.go
  sdk/workflow.go
  sdk/workflow_integration.go
  sdk/workflow_test.go
Due: sdk

fix: arena and evals reliability improvements
  runtime/evals/handlers/rest_eval.go
  runtime/evals/runner.go
  tools/arena/engine/conversation_executor.go
  tools/arena/engine/engine.go
  tools/arena/engine/execution.go
  tools/arena/engine/execution_test.go
  tools/arena/render/html.go
  tools/arena/statestore/store.go
  tools/arena/statestore/store_unit_test.go
Due: runtime, arena

fix: make ContextAwareSemaphore test non-flaky
  tools/arena/engine/run_timeout_test.go
Due: none

fix: reduce duplication and add test coverage for reflection helpers
  tools/arena/render/html.go
  tools/arena/render/html_test.go
Due: arena

fix: arena and evals reliability improvements (#654)
  runtime/evals/handlers/rest_eval.go
  runtime/evals/runner.go
  tools/arena/engine/conversation_executor.go
  tools/arena/engine/engine.go
  tools/arena/engine/execution.go
  tools/arena/engine/execution_test.go
  tools/arena/engine/run_timeout_test.go
  tools/arena/render/html.go
  tools/arena/render/html_test.go
  tools/arena/statestore/store.go
  tools/arena/statestore/store_unit_test.go
Due: runtime, arena

fix: security hardening and config validation improvements
  pkg/config/loader.go
  pkg/config/persona.go
  pkg/config/schema_validator.go
  pkg/config/schema_validator_test.go
  pkg/config/types.go
  pkg/config/validator.go
  sdk/tools/http.go
  tools/arena/cmd/promptarena/schema_disable_init_test.go
  tools/arena/consent/hook_test.go
  tools/arena/engine/init_test.go
  tools/arena/results/markdown/init_test.go
Due: sdk

fix: SDK concurrency, reliability, and safety improvements
  sdk/a2a_server_adapter.go
  sdk/client_tools.go
  sdk/concurrency_test.go
  sdk/conversation.go
  sdk/conversation_test.go
  sdk/conversation_tools.go
  sdk/eval_middleware.go
  sdk/hitl_test.go
  sdk/options.go
  sdk/sdk.go
  sdk/session_hooks.go
  sdk/session_hooks_test.go
  sdk/streaming.go
  sdk/workflow.go
Due: sdk

fix: A2A server reliability, security, and observability improvements
  server/a2a/server.go
  server/a2a/server_stream.go
  server/a2a/server_stream_test.go
Due: none

fix: runtime concurrency, goroutine leaks, and reliability improvements
  runtime/a2a/client.go
  runtime/annotations/store.go
  runtime/annotations/store_test.go
  runtime/deploy/client.go
  runtime/events/bus.go
  runtime/events/media_timeline.go
  runtime/events/store.go
  runtime/events/sync_player.go
  runtime/mcp/client.go
  runtime/providers/media_loader.go
  runtime/providers/openai/openai.go
  runtime/providers/sse.go
  runtime/statestore/memory.go
  runtime/statestore/redis.go
  runtime/storage/local/filestore.go
  runtime/storage/policy/time_based.go
  runtime/tools/validator.go
  runtime/workflow/context.go
Due: runtime

fix: security hardening and config validation improvements (#658)
  pkg/config/loader.go
  pkg/config/persona.go
  pkg/config/schema_validator.go
  pkg/config/schema_validator_test.go
  pkg/config/types.go
  pkg/config/validator.go
  sdk/tools/http.go
  tools/arena/cmd/promptarena/schema_disable_init_test.go
  tools/arena/consent/hook_test.go
  tools/arena/engine/init_test.go
  tools/arena/results/markdown/init_test.go
Due: sdk

fix: A2A server reliability, security, and observability improvements (#660)
  server/a2a/server.go
  server/a2a/server_stream.go
  server/a2a/server_stream_test.go
Due: none

fix: arena security, reliability, and performance improvements
  tools/arena/assertions/types.go
  tools/arena/assertions/when.go
  tools/arena/cmd/promptarena/run_interactive.go
  tools/arena/engine/conversation_executor.go
  tools/arena/engine/conversation_executor_test.go
  tools/arena/engine/duplex_executor_assertions_integration.go
  tools/arena/engine/duplex_executor_pipeline_integration.go
  tools/arena/engine/duplex_executor_results_integration.go
  tools/arena/engine/duplex_executor_turns_integration.go
  tools/arena/engine/duplex_state_store_test.go
  tools/arena/engine/engine.go
  tools/arena/engine/eval_conversation_executor.go
  tools/arena/engine/eval_conversation_executor_test.go
  tools/arena/engine/eval_execution_test.go
  tools/arena/engine/execution.go
  tools/arena/go.mod
  tools/arena/go.sum
  tools/arena/render/html.go
  tools/arena/selfplay/generator.go
  tools/arena/stages/assertions.go
  tools/arena/stages/stages_test.go
  tools/arena/statestore/metadata.go
  tools/arena/statestore/store.go
  tools/arena/statestore/telemetry.go
  tools/arena/turnexecutors/media_loader.go
  tools/arena/turnexecutors/media_loader_coverage_test.go
  tools/arena/turnexecutors/media_loader_http_test.go
  tools/arena/turnexecutors/media_loader_wav_test.go
  tools/arena/turnexecutors/scripted_executor.go
  tools/arena/turnexecutors/scripted_multimodal_test.go
  tools/packc/main.go
  tools/packc/main_interactive.go
  tools/packc/main_test.go
  tools/packc/spec_compliance_test.go
Due: arena, packc

test: add coverage tests for closed-state guards and nil checks
  sdk/a2a_server_adapter_test.go
  sdk/client_tools_test.go
  sdk/conversation_test.go
Due: none

fix: SDK concurrency, reliability, and safety improvements (#659)
  sdk/a2a_server_adapter.go
  sdk/a2a_server_adapter_test.go
  sdk/client_tools.go
  sdk/client_tools_test.go
  sdk/concurrency_test.go
  sdk/conversation.go
  sdk/conversation_test.go
  sdk/conversation_tools.go
  sdk/eval_middleware.go
  sdk/hitl_test.go
  sdk/options.go
  sdk/sdk.go
  sdk/session_hooks.go
  sdk/session_hooks_test.go
  sdk/streaming.go
  sdk/workflow.go
Due: sdk

fix: runtime concurrency, goroutine leaks, and reliability improvements (#661)
  runtime/a2a/client.go
  runtime/annotations/store.go
  runtime/annotations/store_test.go
  runtime/deploy/client.go
  runtime/events/bus.go
  runtime/events/media_timeline.go
  runtime/events/store.go
  runtime/events/sync_player.go
  runtime/mcp/client.go
  runtime/providers/media_loader.go
  runtime/providers/openai/openai.go
  runtime/providers/sse.go
  runtime/statestore/memory.go
  runtime/statestore/redis.go
  runtime/storage/local/filestore.go
  runtime/storage/policy/time_based.go
  runtime/tools/validator.go
  runtime/workflow/context.go
Due: runtime

fix: suppress SonarCloud SSRF CIDR false positives with NOSONAR
  tools/arena/turnexecutors/media_loader.go
Due: arena

fix: arena security, reliability, and performance improvements (#662)
  tools/arena/assertions/types.go
  tools/arena/assertions/when.go
  tools/arena/cmd/promptarena/run_interactive.go
  tools/arena/engine/conversation_executor.go
  tools/arena/engine/conversation_executor_test.go
  tools/arena/engine/duplex_executor_assertions_integration.go
  tools/arena/engine/duplex_executor_pipeline_integration.go
  tools/arena/engine/duplex_executor_results_integration.go
  tools/arena/engine/duplex_executor_turns_integration.go
  tools/arena/engine/duplex_state_store_test.go
  tools/arena/engine/engine.go
  tools/arena/engine/eval_conversation_executor.go
  tools/arena/engine/eval_conversation_executor_test.go
  tools/arena/engine/eval_execution_test.go
  tools/arena/engine/execution.go
  tools/arena/go.mod
  tools/arena/go.sum
  tools/arena/render/html.go
  tools/arena/selfplay/generator.go
  tools/arena/stages/assertions.go
  tools/arena/stages/stages_test.go
  tools/arena/statestore/metadata.go
  tools/arena/statestore/store.go
  tools/arena/statestore/telemetry.go
  tools/arena/turnexecutors/media_loader.go
  tools/arena/turnexecutors/media_loader_coverage_test.go
  tools/arena/turnexecutors/media_loader_http_test.go
  tools/arena/turnexecutors/media_loader_wav_test.go
  tools/arena/turnexecutors/scripted_executor.go
  tools/arena/turnexecutors/scripted_multimodal_test.go
  tools/packc/main.go
  tools/packc/main_interactive.go
  tools/packc/main_test.go
  tools/packc/spec_compliance_test.go
Due: arena, packc

fix: wire mock_parts through Arena tool executor and schema
  pkg/config/types.go
  runtime/providers/gemini/stream_session_tools_integration.go
  runtime/providers/openai/openai_responses_integration.go
  schemas/v1alpha1/arena.json
  schemas/v1alpha1/tool.json
  tools/arena/engine/duplex_conversation_executor_test.go
  tools/arena/engine/duplex_executor_tools_integration.go
Due: none

fix: wire mock_parts through Arena tool executor and schema (#663)
  pkg/config/types.go
  runtime/providers/gemini/stream_session_tools_integration.go
  runtime/providers/openai/openai_responses_integration.go
  schemas/v1alpha1/arena.json
  schemas/v1alpha1/tool.json
  tools/arena/engine/duplex_conversation_executor_test.go
  tools/arena/engine/duplex_executor_tools_integration.go
Due: none

perf: scalability fixes — audio draining, HTTP timeouts, response limits
  pkg/httputil/httputil.go
  runtime/providers/base_embedding.go
  runtime/providers/base_provider.go
  runtime/providers/base_provider_test.go
  runtime/providers/claude/claude.go
  runtime/providers/claude/claude_multimodal.go
  runtime/providers/claude/claude_tools.go
  runtime/providers/gemini/gemini.go
  runtime/providers/gemini/gemini_multimodal.go
  runtime/providers/gemini/gemini_tools.go
  runtime/providers/imagen/imagen.go
  runtime/providers/ollama/ollama.go
  runtime/providers/openai/openai_responses_integration.go
  runtime/providers/vllm/vllm.go
  sdk/conversation.go
  sdk/session/duplex_session.go
  sdk/session/duplex_session_test.go
  sdk/session/session.go
Due: runtime, sdk

refactor: extract ReadResponseBody/ReadErrorBody helpers to reduce duplication
  runtime/providers/base_embedding.go
  runtime/providers/base_provider.go
  runtime/providers/base_provider_test.go
  runtime/providers/claude/claude.go
  runtime/providers/claude/claude_multimodal.go
  runtime/providers/claude/claude_tools.go
  runtime/providers/gemini/gemini.go
  runtime/providers/gemini/gemini_multimodal.go
  runtime/providers/gemini/gemini_tools.go
  runtime/providers/imagen/imagen.go
  runtime/providers/ollama/ollama.go
  runtime/providers/openai/openai.go
  runtime/providers/openai/openai_responses_integration.go
  runtime/providers/vllm/vllm.go
Due: runtime

refactor: extract DoAndReadResponse to break SonarCloud duplication blocks
  runtime/providers/base_provider.go
  runtime/providers/base_provider_test.go
  runtime/providers/claude/claude_multimodal.go
  runtime/providers/gemini/gemini_multimodal.go
  runtime/providers/ollama/ollama.go
  runtime/providers/openai/openai.go
  runtime/providers/vllm/vllm.go
Due: runtime

perf: scalability fixes — audio draining, HTTP timeouts, response limits (#664)
  pkg/httputil/httputil.go
  runtime/providers/base_embedding.go
  runtime/providers/base_provider.go
  runtime/providers/base_provider_test.go
  runtime/providers/claude/claude.go
  runtime/providers/claude/claude_multimodal.go
  runtime/providers/claude/claude_tools.go
  runtime/providers/gemini/gemini.go
  runtime/providers/gemini/gemini_multimodal.go
  runtime/providers/gemini/gemini_tools.go
  runtime/providers/imagen/imagen.go
  runtime/providers/ollama/ollama.go
  runtime/providers/openai/openai.go
  runtime/providers/openai/openai_responses_integration.go
  runtime/providers/vllm/vllm.go
  sdk/conversation.go
  sdk/session/duplex_session.go
  sdk/session/duplex_session_test.go
  sdk/session/session.go
Due: runtime, sdk

fix: resolve 8 remaining MEDIUM code review findings
  examples/a2a-demo/go.mod
  examples/sdk-evals/go.mod
  examples/sdk-evals/go.sum
  examples/workflow-support/sdk-example/go.mod
  pkg/config/loader.go
  pkg/config/types.go
  runtime/events/bus.go
  runtime/events/media_timeline.go
  runtime/events/media_timeline_test.go
  runtime/tools/validator.go
  sdk/go.mod
  sdk/go.sum
  sdk/sdk.go
  server/a2a/go.mod
  server/a2a/go.sum
  server/a2a/server.go
  tools/packc/go.mod
  tools/packc/go.sum
Due: runtime, sdk, packc

fix: close M15 as non-issue — headers_from_env is operator-controlled
  sdk/tools/http.go
Due: sdk

perf: incremental message cloning in Arena StateStore (M10)
  tools/arena/statestore/store.go
Due: arena

fix: resolve LOW code review findings (L9, L44, L46, L49)
  pkg/config/persona.go
  pkg/config/persona_test.go
  runtime/tools/registry.go
  sdk/capability_skills.go
  tools/arena/render/assertion_message_test.go
  tools/arena/render/badge_semantics_test.go
  tools/arena/render/badge_test.go
  tools/arena/render/conversation_assertions_test.go
  tools/arena/render/html.go
  tools/arena/render/html_test.go
  tools/schema-gen/generators/arena.go
Due: runtime, sdk, arena

fix: resolve LOW code review findings (L9, L44, L46, L49) (#666)
  pkg/config/persona.go
  pkg/config/persona_test.go
  runtime/tools/registry.go
  sdk/capability_skills.go
  tools/arena/render/assertion_message_test.go
  tools/arena/render/badge_semantics_test.go
  tools/arena/render/badge_test.go
  tools/arena/render/conversation_assertions_test.go
  tools/arena/render/html.go
  tools/arena/render/html_test.go
  tools/schema-gen/generators/arena.go
Due: runtime, sdk, arena

fix: resolve remaining LOW code review findings (L8, L15, L18, L30, L43, L51, L53)
  pkg/config/persona.go
  pkg/config/persona_test.go
  runtime/tools/validator.go
  runtime/tools/validator_test.go
  sdk/conversation_tools.go
  sdk/internal/provider/detect.go
  tools/arena/cmd/promptarena/run_interactive.go
  tools/arena/engine/conversation_executor.go
  tools/arena/selfplay/generator.go
  tools/arena/statestore/telemetry.go
Due: runtime, sdk, arena

fix: resolve remaining LOW code review findings (L8, L15, L18, L30, L43, L51, L53) (#667)
  pkg/config/persona.go
  pkg/config/persona_test.go
  runtime/tools/validator.go
  runtime/tools/validator_test.go
  sdk/conversation_tools.go
  sdk/internal/provider/detect.go
  tools/arena/cmd/promptarena/run_interactive.go
  tools/arena/engine/conversation_executor.go
  tools/arena/selfplay/generator.go
  tools/arena/statestore/telemetry.go
Due: runtime, sdk, arena

test: add coverage for nil scenario guard and turn-index counting
  tools/arena/engine/conversation_executor_test.go
  tools/arena/statestore/store_unit_test.go
Due: none

test: add coverage for nil scenario guard and turn-index counting (#668)
  tools/arena/engine/conversation_executor_test.go
  tools/arena/statestore/store_unit_test.go
Due: none

feat: add tool pattern and cost budget eval handlers
  runtime/evals/handlers/cost_budget.go
  runtime/evals/handlers/handlers_test.go
  runtime/evals/handlers/register.go
  runtime/evals/handlers/tool_anti_pattern.go
  runtime/evals/handlers/tool_efficiency.go
  runtime/evals/handlers/tool_no_repeat.go
  runtime/evals/handlers/tool_pattern_handlers_test.go
Due: runtime

feat: add tool pattern and cost budget eval handlers (#669)
  runtime/evals/handlers/cost_budget.go
  runtime/evals/handlers/handlers_test.go
  runtime/evals/handlers/register.go
  runtime/evals/handlers/tool_anti_pattern.go
  runtime/evals/handlers/tool_efficiency.go
  runtime/evals/handlers/tool_no_repeat.go
  runtime/evals/handlers/tool_pattern_handlers_test.go
Due: runtime

Path conditions:
  runtime: any of: runtime/, but not: **/*_test.go, **/*_interactive.go, **/*_integration.go, examples/, docs/, scripts/, .github/, *.md
  sdk: any of: sdk/, but not: **/*_test.go, **/*_interactive.go, **/*_integration.go, examples/, docs/, scripts/, .github/, *.md
  arena: any of: tools/arena/, but not: **/*_test.go, **/*_interactive.go, **/*_integration.go, examples/, docs/, scripts/, .github/, *.md
  packc: any of: tools/packc/, but not: **/*_test.go, **/*_interactive.go, **/*_integration.go, examples/, docs/, scripts/, .github/, *.md
  inspect-state: any of: tools/inspect-state/, but not: **/*_test.go, **/*_interactive.go, **/*_integration.go, examples/, docs/, scripts/, .github/, *.md
