Repository AltairaLabs/PromptKit: changes, and which Codecov flags are due for each by the changed paths.
All: runtime, sdk, arena, packc, inspect-state

fix(composition): nested-branch cycles, compare-path + version rules; tidy validate
  runtime/composition/types.go
  runtime/composition/validate.go
  runtime/composition/validate_test.go
Due: runtime

feat(composition): Phase 1 — runtime/composition package (RFC 0010) (#1340)
  runtime/composition/parse.go
  runtime/composition/parse_test.go
  runtime/composition/refs.go
  runtime/composition/refs_test.go
  runtime/composition/types.go
  runtime/composition/types_test.go
  runtime/composition/validate.go
  runtime/composition/validate_test.go
Due: runtime

feat(composition): scope path resolution for engine core
  runtime/composition/engine/scope.go
  runtime/composition/engine/scope_test.go
Due: runtime

test(composition): address scope test review feedback
  runtime/composition/engine/scope_test.go
Due: none

feat(composition): StepInput reference resolution
  runtime/composition/engine/scope.go
  runtime/composition/engine/scope_test.go
Due: runtime

fix(composition): report all unresolved refs; simplify pure-ref path
  runtime/composition/engine/scope.go
  runtime/composition/engine/scope_test.go
Due: runtime

feat(composition): predicate evaluation for engine core
  runtime/composition/engine/predicate.go
  runtime/composition/engine/predicate_test.go
Due: runtime

fix(composition): guard toFloat for json.Number; tidy not_in; add edge tests
  runtime/composition/engine/predicate.go
  runtime/composition/engine/predicate_test.go
Due: runtime

feat(composition): parallel reducers for engine core
  runtime/composition/engine/reduce.go
  runtime/composition/engine/reduce_test.go
Due: runtime

refactor(composition): explicit append case in reduce; add empty-input tests
  runtime/composition/engine/reduce.go
  runtime/composition/engine/reduce_test.go
Due: runtime

feat(composition): sequential scheduler + output binding
  runtime/composition/engine/engine.go
  runtime/composition/engine/engine_test.go
  runtime/composition/engine/scope.go
Due: runtime

docs(composition): document scheduler invariants; tidy misleading test
  runtime/composition/engine/engine.go
  runtime/composition/engine/engine_test.go
Due: runtime

feat(composition): branch routing + skip propagation + joins
  runtime/composition/engine/engine.go
  runtime/composition/engine/engine_test.go
  runtime/composition/engine/predicate.go
Due: runtime

fix(composition): branch Then==Else convergence; add branch error/output tests
  runtime/composition/engine/engine.go
  runtime/composition/engine/engine_test.go
Due: runtime

feat(composition): concurrent parallel execution + reduce
  runtime/composition/engine/engine.go
  runtime/composition/engine/engine_test.go
  runtime/composition/engine/reduce.go
Due: runtime

fix(composition): join parallel branch errors; fail-fast on missing reducer; add tests
  runtime/composition/engine/engine.go
  runtime/composition/engine/engine_test.go
Due: runtime

feat(composition): retry modifier for engine core
  runtime/composition/engine/engine.go
  runtime/composition/engine/engine_test.go
Due: runtime

fix(composition): honor ctx cancellation in retry; test parallel-branch retry
  runtime/composition/engine/engine.go
  runtime/composition/engine/engine_test.go
Due: runtime

test(composition): cross-feature integration (branch+parallel+retry+join)
  runtime/composition/engine/engine_test.go
Due: none

feat(composition): Plan 2a — orchestrator core engine (RFC 0010) (#1341)
  runtime/composition/engine/engine.go
  runtime/composition/engine/engine_test.go
  runtime/composition/engine/predicate.go
  runtime/composition/engine/predicate_test.go
  runtime/composition/engine/reduce.go
  runtime/composition/engine/reduce_test.go
  runtime/composition/engine/scope.go
  runtime/composition/engine/scope_test.go
Due: runtime

feat(pipeline): ToolPolicy.StopOnTool terminal-tool stop for agent loop
  runtime/pipeline/stage/stages_provider.go
  runtime/pipeline/stage/stages_provider_test.go
  runtime/pipeline/types.go
Due: runtime

fix(composition): guard nil tool registry; clarify errToolFailed doc
  runtime/pipeline/stage/composition_executor.go
  runtime/pipeline/stage/composition_executor_test.go
Due: runtime

feat(composition): production executor — prompt/agent sub-pipeline
  runtime/pipeline/stage/composition_executor.go
  runtime/pipeline/stage/composition_executor_test.go
Due: runtime

fix(composition): honor step tools allowlist; contract-driven response encoding
  runtime/pipeline/stage/composition_executor.go
  runtime/pipeline/stage/composition_executor_test.go
Due: runtime

fix(composition): scope step tools to intersection of prompt and step tools
  runtime/pipeline/stage/composition_executor.go
  runtime/pipeline/stage/composition_executor_test.go
Due: runtime

feat(composition): CompositionStage wrapping the engine
  runtime/pipeline/stage/stages_composition.go
  runtime/pipeline/stage/stages_composition_test.go
Due: runtime

fix(composition): skip history elements; object-biased composition input
  runtime/pipeline/stage/stages_composition.go
  runtime/pipeline/stage/stages_composition_test.go
Due: runtime

test(composition): per-step hook threading regression guard
  runtime/pipeline/stage/composition_executor_test.go
Due: none

test(composition): end-to-end CompositionStage with mock provider
  runtime/pipeline/stage/stages_composition_test.go
Due: none

feat(composition): Plan 2b — production executor + CompositionStage (RFC 0010) (#1342)
  runtime/pipeline/stage/composition_executor.go
  runtime/pipeline/stage/composition_executor_test.go
  runtime/pipeline/stage/stages_composition.go
  runtime/pipeline/stage/stages_composition_test.go
  runtime/pipeline/stage/stages_provider.go
  runtime/pipeline/stage/stages_provider_test.go
  runtime/pipeline/types.go
Due: runtime

feat(workflow): State.Composition field + OrchestrationComposition mode
  runtime/workflow/types.go
  runtime/workflow/types_test.go
Due: runtime

feat(workflow): validate composition states (prompt_task optional, composition required)
  runtime/workflow/validate.go
  runtime/workflow/validate_test.go
Due: runtime

feat(sdk): load pack compositions + workflow state composition field
  sdk/internal/pack/load.go
  sdk/internal/pack/load_test.go
  sdk/internal/pack/validate.go
  sdk/internal/pack/workflow.go
Due: sdk

feat(sdk): config-dir schema resolver for composition output_schema
  sdk/internal/pipeline/builder.go
  sdk/internal/pipeline/schema_resolver.go
  sdk/internal/pipeline/schema_resolver_test.go
Due: sdk

feat(sdk): builder selects CompositionStage for composition states
  sdk/internal/pipeline/builder.go
  sdk/internal/pipeline/builder_test.go
Due: sdk

fix(sdk): convertWorkflowSpec carries Composition field
  sdk/workflow.go
  sdk/workflow_test.go
Due: sdk

feat(sdk): execute composition states via Send (wiring + e2e)
  runtime/pipeline/stage/stages_composition.go
  sdk/composition_exec_test.go
  sdk/conversation.go
  sdk/internal/pipeline/builder.go
  sdk/options.go
  sdk/sdk.go
  sdk/workflow.go
Due: runtime, sdk

refactor(sdk): extract prompt-assembly stages; dedupe composition resolver
  sdk/internal/pipeline/builder.go
  sdk/workflow.go
Due: sdk

feat(composition): Plan 3a — execution wiring, run composition states via Send (RFC 0010) (#1343)
  runtime/pipeline/stage/stages_composition.go
  runtime/workflow/types.go
  runtime/workflow/types_test.go
  runtime/workflow/validate.go
  runtime/workflow/validate_test.go
  sdk/composition_exec_test.go
  sdk/conversation.go
  sdk/internal/pack/load.go
  sdk/internal/pack/load_test.go
  sdk/internal/pack/validate.go
  sdk/internal/pack/workflow.go
  sdk/internal/pipeline/builder.go
  sdk/internal/pipeline/builder_test.go
  sdk/internal/pipeline/schema_resolver.go
  sdk/internal/pipeline/schema_resolver_test.go
  sdk/options.go
  sdk/sdk.go
  sdk/workflow.go
  sdk/workflow_test.go
Due: runtime, sdk

feat(prompt): Pack.Compositions field + WithCompositions compile option
  runtime/prompt/pack.go
  runtime/prompt/pack_test.go
Due: runtime

Path conditions:
  runtime: any of: runtime/, but not: **/*_test.go, **/*_interactive.go, **/*_integration.go, examples/, docs/, scripts/, .github/, *.md
  sdk: any of: sdk/, but not: **/*_test.go, **/*_interactive.go, **/*_integration.go, examples/, docs/, scripts/, .github/, *.md
  arena: any of: tools/arena/, but not: **/*_test.go, **/*_interactive.go, **/*_integration.go, examples/, docs/, scripts/, .github/, *.md
  packc: any of: tools/packc/, but not: **/*_test.go, **/*_interactive.go, **/*_integration.go, examples/, docs/, scripts/, .github/, *.md
  inspect-state: any of: tools/inspect-state/, but not: **/*_test.go, **/*_interactive.go, **/*_integration.go, examples/, docs/, scripts/, .github/, *.md
