Repository AltairaLabs/PromptKit: changes, and which Codecov flags are due for each by the changed paths.
All: runtime, sdk, arena, packc, inspect-state

codecov.yml:

codecov:
  require_ci_to_pass: yes
  notify:
    wait_for_ci: yes

coverage:
  precision: 2
  round: down
  range: "70...100"
  
  status:
    project:
      default:
        target: 70%
        threshold: 1%
        if_ci_failed: error
    patch:
      default:
        target: 70%
        threshold: 1%
        if_ci_failed: error

comment:
  layout: "reach,diff,flags,tree"
  behavior: default
  require_changes: false

flags:
  runtime:
    paths:
      - runtime/
  sdk:
    paths:
      - sdk/
  arena:
    paths:
      - tools/arena/
  packc:
    paths:
      - tools/packc/
  inspect-state:
    paths:
      - tools/inspect-state/

ignore:
  - "**/*_test.go"
  - "**/*_interactive.go"
  - "**/*_integration.go"
  - "examples/"
  - "docs/"
  - "scripts/"
  - ".github/"
  - "*.md"

feat(events): add worker pool, buffered channels, and listener cleanup to EventBus (#496) (#522)
  runtime/events/bus.go
  runtime/events/bus_test.go
Due: runtime

feat(sdk): add TTL-based eviction for A2A tasks, conversations, and broadcasters (#491)
  sdk/a2a_eviction_test.go
  sdk/a2a_server.go
  sdk/internal/a2a/task_store.go
  sdk/internal/a2a/task_store_test.go
Due: sdk

perf(statestore): add TTL/eviction to MemoryStore (#492)
  runtime/statestore/memory.go
  runtime/statestore/memory_ttl_test.go
Due: runtime

refactor(sdk): extract requireDuplex/requireUnary validation helpers (#523)
  sdk/conversation.go
  sdk/streaming.go
Due: sdk

feat(sdk): add TTL-based eviction for A2A tasks, conversations, and broadcasters (#491) (#525)
  sdk/a2a_eviction_test.go
  sdk/a2a_server.go
  sdk/internal/a2a/task_store.go
  sdk/internal/a2a/task_store_test.go
Due: sdk

perf(statestore): add TTL/eviction to MemoryStore (#492) (#526)
  runtime/statestore/memory.go
  runtime/statestore/memory_ttl_test.go
Due: runtime

refactor(sdk): extract session hook dispatcher from Conversation (#474)
  sdk/conversation.go
  sdk/conversation_test.go
  sdk/sdk.go
  sdk/session_hooks.go
  sdk/session_hooks_test.go
  sdk/template.go
Due: sdk

feat(pkg): add shared ContextualError type for cross-module error standardization (#483)
  pkg/errors/errors.go
  pkg/errors/errors_test.go
Due: none

fix: remove dead ValidationStage references from pipeline (#458)
  runtime/pipeline/stage/README.md
  sdk/internal/pipeline/builder.go
  tools/arena/engine/duplex_executor_pipeline_integration.go
Due: runtime, sdk

refactor: create shared Ptr[T] test utility and deduplicate pointer helpers (#473)
  pkg/testutil/ptr.go
  pkg/testutil/ptr_test.go
  runtime/a2a/client_test.go
  runtime/a2a/mock/mock_test.go
  runtime/a2a/parts_test.go
  runtime/a2a/types_test.go
  runtime/evals/handlers/media_handlers_test.go
  runtime/evals/helpers_test.go
  runtime/evals/types_test.go
  runtime/pipeline/stage/element_pool_test.go
  runtime/pipeline/stage/router_strategies_test.go
  runtime/prompt/pack_evals_test.go
  runtime/providers/imagen/imagen_test.go
  runtime/providers/mock/mock.go
  runtime/providers/streaming_test.go
  runtime/providers/vllm/vllm_multimodal_test.go
  runtime/types/content_test.go
  runtime/types/migration_test.go
  sdk/eval_integration_test.go
  tools/arena/adapters/session_recording_test.go
  tools/arena/assertions/types.go
  tools/arena/engine/conversation_executor_selfplay_multiturn_test.go
  tools/arena/engine/conversation_executor_streaming_test.go
  tools/arena/engine/conversation_executor_vars_test.go
  tools/arena/engine/duplex_conversation_executor_test.go
  tools/arena/render/media_test.go
  tools/arena/results/junit/junit_media_test.go
  tools/arena/results/markdown/markdown_media_test.go
  tools/arena/results/markdown/markdown_repository_test.go
  tools/arena/stages/assertions_test.go
Due: runtime, arena

refactor: standardize HTTP client creation via shared httputil package (#480)
  pkg/httputil/httputil.go
  pkg/httputil/httputil_test.go
  runtime/providers/base_provider.go
  sdk/tools/http.go
Due: runtime, sdk

fix: update remaining stringPtr usages in arena adapters test files
  tools/arena/adapters/arena_output_test.go
  tools/arena/adapters/transcript_test.go
Due: none

refactor(sdk): extract session hook dispatcher from Conversation (#474) (#524)
  sdk/conversation.go
  sdk/conversation_test.go
  sdk/sdk.go
  sdk/session_hooks.go
  sdk/session_hooks_test.go
  sdk/template.go
Due: sdk

feat(pkg): add shared ContextualError type for cross-module error standardization (#483) (#527)
  pkg/errors/errors.go
  pkg/errors/errors_test.go
Due: none

fix: remove dead ValidationStage references from pipeline (#458) (#528)
  runtime/pipeline/stage/README.md
  sdk/internal/pipeline/builder.go
  tools/arena/engine/duplex_executor_pipeline_integration.go
Due: runtime, sdk

refactor: standardize HTTP client creation via shared httputil package (#480) (#529)
  pkg/httputil/httputil.go
  pkg/httputil/httputil_test.go
  runtime/providers/base_provider.go
  sdk/tools/http.go
Due: runtime, sdk

refactor: create shared Ptr[T] test utility (#530)
  pkg/testutil/ptr.go
  pkg/testutil/ptr_test.go
  runtime/a2a/client_test.go
  runtime/a2a/mock/mock_test.go
  runtime/a2a/parts_test.go
  runtime/a2a/types_test.go
  runtime/evals/handlers/media_handlers_test.go
  runtime/evals/helpers_test.go
  runtime/evals/types_test.go
  runtime/pipeline/stage/element_pool_test.go
  runtime/pipeline/stage/router_strategies_test.go
  runtime/prompt/pack_evals_test.go
  runtime/providers/imagen/imagen_test.go
  runtime/providers/mock/mock.go
  runtime/providers/streaming_test.go
  runtime/providers/vllm/vllm_multimodal_test.go
  runtime/types/content_test.go
  runtime/types/migration_test.go
  sdk/eval_integration_test.go
  tools/arena/adapters/arena_output_test.go
  tools/arena/adapters/session_recording_test.go
  tools/arena/adapters/transcript_test.go
  tools/arena/assertions/types.go
  tools/arena/engine/conversation_executor_selfplay_multiturn_test.go
  tools/arena/engine/conversation_executor_streaming_test.go
  tools/arena/engine/conversation_executor_vars_test.go
  tools/arena/engine/duplex_conversation_executor_test.go
  tools/arena/render/media_test.go
  tools/arena/results/junit/junit_media_test.go
  tools/arena/results/markdown/markdown_media_test.go
  tools/arena/results/markdown/markdown_repository_test.go
  tools/arena/stages/assertions_test.go
Due: runtime, arena

fix: configure HTTP connection pooling for providers (#490)
  runtime/a2a/client.go
  runtime/a2a/client_test.go
  runtime/providers/base_provider.go
  runtime/providers/base_provider_test.go
  runtime/providers/openai/openai.go
  runtime/providers/openai/openai_test.go
Due: runtime

refactor(runtime): extract common WebSocket streaming session abstraction (#481)
  runtime/providers/gemini/websocket_manager.go
  runtime/providers/gemini/websocket_manager_test.go
  runtime/providers/internal/streaming/conn.go
  runtime/providers/internal/streaming/conn_test.go
  runtime/providers/internal/streaming/session.go
  runtime/providers/internal/streaming/session_test.go
  runtime/providers/openai/realtime_websocket_integration.go
Due: runtime

fix: propagate context instead of context.Background() (#495)
  runtime/a2a/executor.go
  runtime/a2a/executor_test.go
  runtime/evals/event_listener.go
  runtime/evals/event_listener_test.go
  runtime/pipeline/stage/stages_provider.go
  runtime/pipeline/stage/stages_provider_test.go
  runtime/skills/tool_executor.go
  runtime/skills/tool_executor_test.go
  runtime/tools/executors.go
  runtime/tools/mcp_executor.go
  runtime/tools/mcp_executor_test.go
  runtime/tools/registry.go
  runtime/tools/registry_async_test.go
  runtime/tools/registry_test.go
  runtime/tools/repository_executor.go
  runtime/tools/repository_executor_test.go
  runtime/tools/tools_test.go
  runtime/tools/types.go
  runtime/tools/types_test.go
  sdk/capability_skills_test.go
  sdk/concurrency_test.go
  sdk/conversation_tools.go
  sdk/eval_middleware.go
  sdk/eval_middleware_test.go
  sdk/hitl_test.go
  sdk/local_agent_executor_integration.go
  sdk/local_agent_executor_test.go
  sdk/mcp_test.go
  sdk/sdk_a2a_test.go
  sdk/tool_executors.go
  sdk/tools/http.go
  sdk/tools/http_test.go
  sdk/tools/typed.go
  sdk/tools/typed_test.go
  tools/arena/engine/duplex_executor_tools_integration.go
  tools/arena/engine/workflow_driver_integration.go
Due: runtime, sdk

fix: configure HTTP connection pooling for providers (#490) (#531)
  runtime/a2a/client.go
  runtime/a2a/client_test.go
  runtime/providers/base_provider.go
  runtime/providers/base_provider_test.go
  runtime/providers/openai/openai.go
  runtime/providers/openai/openai_test.go
Due: runtime

fix: add explicit TLS 1.2 minimum to WebSocket dialer
  runtime/providers/internal/streaming/conn.go
Due: runtime

fix: update test files for context propagation changes
  sdk/concurrency_test.go
  sdk/conversation_test.go
  sdk/hitl_test.go
Due: none

fix: propagate context instead of context.Background() (#532)
  runtime/a2a/executor.go
  runtime/a2a/executor_test.go
  runtime/evals/event_listener.go
  runtime/evals/event_listener_test.go
  runtime/pipeline/stage/stages_provider.go
  runtime/pipeline/stage/stages_provider_test.go
  runtime/skills/tool_executor.go
  runtime/skills/tool_executor_test.go
  runtime/tools/executors.go
  runtime/tools/mcp_executor.go
  runtime/tools/mcp_executor_test.go
  runtime/tools/registry.go
  runtime/tools/registry_async_test.go
  runtime/tools/registry_test.go
  runtime/tools/repository_executor.go
  runtime/tools/repository_executor_test.go
  runtime/tools/tools_test.go
  runtime/tools/types.go
  runtime/tools/types_test.go
  sdk/capability_skills_test.go
  sdk/conversation_test.go
  sdk/conversation_tools.go
  sdk/eval_middleware.go
  sdk/eval_middleware_test.go
  sdk/local_agent_executor_integration.go
  sdk/local_agent_executor_test.go
  sdk/mcp_test.go
  sdk/sdk_a2a_test.go
  sdk/tool_executors.go
  sdk/tools/http.go
  sdk/tools/http_test.go
  sdk/tools/typed.go
  sdk/tools/typed_test.go
  tools/arena/engine/duplex_executor_tools_integration.go
  tools/arena/engine/workflow_driver_integration.go
Due: runtime, sdk

fix: use crypto/rand for backoff jitter
  runtime/providers/internal/streaming/conn.go
Due: runtime

refactor(runtime): extract common WebSocket streaming session abstraction (#533)
  runtime/providers/gemini/websocket_manager.go
  runtime/providers/gemini/websocket_manager_test.go
  runtime/providers/internal/streaming/conn.go
  runtime/providers/internal/streaming/conn_test.go
  runtime/providers/internal/streaming/session.go
  runtime/providers/internal/streaming/session_test.go
  runtime/providers/openai/realtime_websocket_integration.go
Due: runtime

feat(sdk): add AG-UI protocol bridge with converters and EventAdapter (#535, #536, #537, #538, #540)
  docs/src/content/docs/architecture/system-overview.md
  docs/src/content/docs/concepts/a2a.md
  docs/src/content/docs/concepts/ag-ui.md
  docs/src/content/docs/sdk/reference/ag-ui.md
  docs/src/content/docs/sdk/tutorials/11-ag-ui-integration.md
  sdk/agui/adapter.go
  sdk/agui/adapter_test.go
  sdk/agui/convert.go
  sdk/agui/convert_test.go
  sdk/agui/helpers_test.go
  sdk/go.mod
  sdk/go.sum
  sdk/response_export.go
  sdk/response_export_test.go
Due: sdk

feat(sdk): implement workflow step event mapping in AG-UI EventAdapter (#539)
  sdk/agui/adapter.go
  sdk/agui/adapter_test.go
Due: sdk

feat(sdk): AG-UI protocol bridge — converters & EventAdapter (#541)
  docs/src/content/docs/architecture/system-overview.md
  docs/src/content/docs/concepts/a2a.md
  docs/src/content/docs/concepts/ag-ui.md
  docs/src/content/docs/sdk/reference/ag-ui.md
  docs/src/content/docs/sdk/tutorials/11-ag-ui-integration.md
  sdk/agui/adapter.go
  sdk/agui/adapter_test.go
  sdk/agui/convert.go
  sdk/agui/convert_test.go
  sdk/agui/helpers_test.go
  sdk/go.mod
  sdk/go.sum
  sdk/response_export.go
  sdk/response_export_test.go
Due: sdk

feat(evals): add rest_eval and a2a_eval external evaluation handlers
  docs/src/content/docs/arena/explanation/eval-framework.md
  docs/src/content/docs/arena/explanation/validation-strategies.md
  docs/src/content/docs/arena/how-to/validate-outputs.md
  docs/src/content/docs/arena/reference/assertions.md
  docs/src/content/docs/arena/reference/scenario-format.md
  runtime/evals/handlers/a2a_eval.go
  runtime/evals/handlers/a2a_eval_test.go
  runtime/evals/handlers/external_eval.go
  runtime/evals/handlers/external_eval_test.go
  runtime/evals/handlers/handlers_test.go
  runtime/evals/handlers/register.go
  runtime/evals/handlers/rest_eval.go
  runtime/evals/handlers/rest_eval_test.go
Due: runtime

feat(evals): add rest_eval and a2a_eval external evaluation handlers (#554)
  docs/src/content/docs/arena/explanation/eval-framework.md
  docs/src/content/docs/arena/explanation/validation-strategies.md
  docs/src/content/docs/arena/how-to/validate-outputs.md
  docs/src/content/docs/arena/reference/assertions.md
  docs/src/content/docs/arena/reference/scenario-format.md
  runtime/evals/handlers/a2a_eval.go
  runtime/evals/handlers/a2a_eval_test.go
  runtime/evals/handlers/external_eval.go
  runtime/evals/handlers/external_eval_test.go
  runtime/evals/handlers/handlers_test.go
  runtime/evals/handlers/register.go
  runtime/evals/handlers/rest_eval.go
  runtime/evals/handlers/rest_eval_test.go
Due: runtime

refactor(server): extract A2A server into standalone server/a2a module (#557)
  go.work
  sdk/a2a.go
  sdk/a2a_exports.go
  sdk/a2a_server_adapter.go
  sdk/a2a_test.go
  sdk/go.mod
  sdk/otel_integration_test.go
  server/a2a/conversation.go
  server/a2a/eviction_test.go
  server/a2a/go.mod
  server/a2a/go.sum
  server/a2a/server.go
  server/a2a/server_stream.go
  server/a2a/server_stream_test.go
  server/a2a/server_test.go
  server/a2a/task_store.go
  server/a2a/task_store_test.go
Due: sdk

ci: add server/a2a module to CI pipeline and Makefile (#557)
  .github/workflows/ci.yml
  Makefile
Due: none

refactor(server): extract A2A server into standalone server/a2a module (#558)
  .github/workflows/ci.yml
  Makefile
  go.work
  sdk/a2a.go
  sdk/a2a_exports.go
  sdk/a2a_server_adapter.go
  sdk/a2a_test.go
  sdk/go.mod
  sdk/otel_integration_test.go
  server/a2a/conversation.go
  server/a2a/eviction_test.go
  server/a2a/go.mod
  server/a2a/go.sum
  server/a2a/server.go
  server/a2a/server_stream.go
  server/a2a/server_stream_test.go
  server/a2a/server_test.go
  server/a2a/task_store.go
  server/a2a/task_store_test.go
Due: sdk

feat(evals): validate eval types exist at load time
  runtime/evals/validate.go
  runtime/evals/validate_test.go
  tools/arena/engine/builder_additional_test.go
  tools/arena/engine/builder_integration.go
  tools/arena/engine/engine.go
Due: runtime, arena

test(engine): add NewEngineFromConfig test for unknown eval type error
  tools/arena/engine/builder_additional_test.go
Due: none

refactor(engine): move eval type validation before A2A setup for better coverage
  tools/arena/engine/builder_integration.go
  tools/arena/engine/engine.go
Due: arena

refactor(engine): simplify redundant eval hook error handling in NewEngineFromConfig
  tools/arena/engine/engine.go
Due: arena
