Repository AltairaLabs/PromptKit: changes, and which Codecov flags are due for each by the changed paths.
All: runtime, sdk, arena, packc, inspect-state

fix(build): inject real version into CLIs instead of "dev" (#1313)
  .goreleaser.yml
  Makefile
Due: none

fix(build): inject real version into CLIs instead of "dev" (#1313) (#1321)
  .goreleaser.yml
  Makefile
Due: none

fix(schema-gen): --format must preserve key order, not alphabetize
  tools/schema-gen/main.go
  tools/schema-gen/main_test.go
Due: none

fix(schema-gen): --format must preserve key order, not alphabetize (#1322)
  tools/schema-gen/main.go
  tools/schema-gen/main_test.go
Due: none

fix(schema): make assertion params optional (#1314)
  pkg/config/types.go
  schemas/v1alpha1/arena.json
  schemas/v1alpha1/eval.json
  schemas/v1alpha1/scenario.json
  tools/schema-gen/generators/generators_test.go
Due: none

fix(schema): make assertion params optional (#1314) (#1323)
  pkg/config/types.go
  schemas/v1alpha1/arena.json
  schemas/v1alpha1/eval.json
  schemas/v1alpha1/scenario.json
  tools/schema-gen/generators/generators_test.go
Due: none

fix(providers): allow keyless OpenAI embeddings for custom base URLs (#1316)
  runtime/providers/openai/embedding.go
  runtime/providers/openai/embedding_test.go
Due: runtime

fix(providers): allow keyless OpenAI embeddings for custom base URLs (#1316) (#1324)
  runtime/providers/openai/embedding.go
  runtime/providers/openai/embedding_test.go
Due: runtime

feat(schema): suggest known assertion/eval types without restricting them (#1315)
  schemas/v1alpha1/arena.json
  schemas/v1alpha1/common/assertions.json
  schemas/v1alpha1/eval.json
  schemas/v1alpha1/scenario.json
  tools/schema-gen/generators/arena.go
  tools/schema-gen/generators/common.go
  tools/schema-gen/generators/eval.go
  tools/schema-gen/generators/eval_types.go
  tools/schema-gen/generators/generators_test.go
  tools/schema-gen/generators/helper.go
  tools/schema-gen/generators/scenario.go
  tools/schema-gen/go.mod
  tools/schema-gen/go.sum
Due: none

feat(schema): suggest known assertion/eval types without restricting them (#1315) (#1325)
  schemas/v1alpha1/arena.json
  schemas/v1alpha1/common/assertions.json
  schemas/v1alpha1/eval.json
  schemas/v1alpha1/scenario.json
  tools/schema-gen/generators/arena.go
  tools/schema-gen/generators/common.go
  tools/schema-gen/generators/eval.go
  tools/schema-gen/generators/eval_types.go
  tools/schema-gen/generators/generators_test.go
  tools/schema-gen/generators/helper.go
  tools/schema-gen/generators/scenario.go
  tools/schema-gen/go.mod
  tools/schema-gen/go.sum
Due: none

feat(classify): shared inference-provider factory + BuildRegistry
  runtime/classify/factory.go
  runtime/classify/factory_test.go
Due: runtime

feat(classify/hf): self-register HuggingFace factory + backends/all
  runtime/classify/backends/all/all.go
  runtime/classify/backends/hf/register.go
  runtime/classify/backends/hf/register_test.go
Due: runtime

test(classify/hf): assert ImageClassifier is implemented
  runtime/classify/backends/hf/register_test.go
Due: none

refactor(arena): build classify registry via shared runtime factory
  tools/arena/engine/classify_registry.go
  tools/arena/engine/classify_registry_test.go
Due: arena

feat(config): inference_providers block in RuntimeConfigSpec
  pkg/config/runtime_config.go
  pkg/config/runtime_config_test.go
Due: none

feat(sdk): declarative inference_providers via applyInferenceProviders
  sdk/options.go
  sdk/runtime_config.go
  sdk/runtime_config_test.go
Due: sdk

feat(sdk): WithInferenceProvider + WithClassifier options
  sdk/options.go
  sdk/options_test.go
Due: sdk

feat(sdk): uniform WithXProvider option family (Task 6b)
  sdk/options.go
  sdk/options_test.go
  sdk/runtime_config.go
Due: sdk

feat(sdk,pipeline): attach classify registry to pipeline context
  runtime/pipeline/stage/config.go
  runtime/pipeline/stage/pipeline.go
  runtime/pipeline/stage/pipeline_test.go
  sdk/conversation.go
  sdk/internal/pipeline/builder.go
Due: runtime, sdk

test(sdk): inference registry visible via FromContext during Send
  sdk/inference_integration_test.go
Due: none

chore(schema): regenerate runtime-config.json for inference_providers
  schemas/v1alpha1/runtime-config.json
Due: none

feat(sdk): inference-provider registry on the pipeline + uniform WithXProvider family (#1327)
  pkg/config/runtime_config.go
  pkg/config/runtime_config_test.go
  runtime/classify/backends/all/all.go
  runtime/classify/backends/hf/register.go
  runtime/classify/backends/hf/register_test.go
  runtime/classify/factory.go
  runtime/classify/factory_test.go
  runtime/pipeline/stage/config.go
  runtime/pipeline/stage/pipeline.go
  runtime/pipeline/stage/pipeline_test.go
  schemas/v1alpha1/runtime-config.json
  sdk/conversation.go
  sdk/inference_integration_test.go
  sdk/internal/pipeline/builder.go
  sdk/options.go
  sdk/options_test.go
  sdk/runtime_config.go
  sdk/runtime_config_test.go
  tools/arena/engine/classify_registry.go
  tools/arena/engine/classify_registry_test.go
Due: runtime, sdk, arena

feat(sdk): role router for loaded provider configs
  sdk/provider_file.go
  sdk/provider_file_test.go
Due: sdk

test(sdk): cover STT + image provider-file routes; document defensive default
  sdk/provider_file.go
  sdk/provider_file_test.go
Due: sdk

docs(sdk): document WithProviderFile / WithProvidersDir
  sdk/CLAUDE.md
Due: sdk

fix(config): discover local schemas from one-level-deep modules
  pkg/config/schema_validator.go
  sdk/provider_file_test.go
Due: none

feat(sdk): declarative provider loading via WithProviderFile / WithProvidersDir (#1328)
  pkg/config/schema_validator.go
  sdk/CLAUDE.md
  sdk/provider_file.go
  sdk/provider_file_test.go
Due: sdk

feat(sdk): thread platform-auth through ProviderSpec and file-loader
  sdk/options.go
  sdk/options_test.go
  sdk/provider_file.go
  sdk/provider_file_test.go
Due: sdk

feat(sdk): thread platform-auth through ProviderSpec and file-loader (#1331)
  sdk/options.go
  sdk/options_test.go
  sdk/provider_file.go
  sdk/provider_file_test.go
Due: sdk

feat(agents): implement RFC 0011 workflow states as agents
  runtime/prompt/agent_state_test.go
  runtime/prompt/pack.go
  sdk/agent_state_conv_test.go
  sdk/agent_state_exec_test.go
  sdk/internal/pack/agent_state_test.go
  sdk/internal/pack/load.go
  sdk/internal/pack/validate.go
  sdk/local_agent_executor.go
  sdk/local_agent_executor_test.go
  sdk/multi_agent.go
  sdk/multi_agent_open.go
  sdk/multi_agent_test.go
  sdk/sdk.go
  sdk/workflow.go
Due: runtime, sdk

feat(schema): accept AgentDef.state in embedded promptpack schema (RFC 0011)
  runtime/prompt/schema/promptpack.schema.json
Due: runtime

docs(example): expose the agent loop as a state-backed agent (RFC 0011)
  examples/workflow-agent-loops/README.md
  examples/workflow-agent-loops/config.arena.yaml
Due: none

feat(agents): SDK demo for state-backed agents; accept workflow v2 in SDK validator
  examples/workflow-agent-loops/sdk-example/README.md
  examples/workflow-agent-loops/sdk-example/go.mod
  examples/workflow-agent-loops/sdk-example/go.sum
  examples/workflow-agent-loops/sdk-example/main.go
  examples/workflow-agent-loops/workflow-agent-loops.pack.json
  go.work
  sdk/internal/pack/agent_state_test.go
  sdk/internal/pack/validate.go
  sdk/internal/pack/validate_test.go
Due: sdk

feat: implement RFC 0011 — Workflow States as Agents (#1339)
  examples/workflow-agent-loops/README.md
  examples/workflow-agent-loops/config.arena.yaml
  examples/workflow-agent-loops/sdk-example/README.md
  examples/workflow-agent-loops/sdk-example/go.mod
  examples/workflow-agent-loops/sdk-example/go.sum
  examples/workflow-agent-loops/sdk-example/main.go
  examples/workflow-agent-loops/workflow-agent-loops.pack.json
  go.work
  runtime/prompt/agent_state_test.go
  runtime/prompt/pack.go
  runtime/prompt/schema/promptpack.schema.json
  sdk/agent_state_conv_test.go
  sdk/agent_state_exec_test.go
  sdk/internal/pack/agent_state_test.go
  sdk/internal/pack/load.go
  sdk/internal/pack/validate.go
  sdk/internal/pack/validate_test.go
  sdk/local_agent_executor.go
  sdk/local_agent_executor_test.go
  sdk/multi_agent.go
  sdk/multi_agent_open.go
  sdk/multi_agent_test.go
  sdk/sdk.go
  sdk/workflow.go
Due: runtime, sdk

feat(composition): RFC 0010 composition types
  runtime/composition/types.go
  runtime/composition/types_test.go
Due: runtime

feat(composition): ParseConfig for untyped compositions map
  runtime/composition/parse.go
  runtime/composition/parse_test.go
Due: runtime

feat(composition): validation skeleton, step id rules, ref-root resolution
  runtime/composition/refs.go
  runtime/composition/refs_test.go
  runtime/composition/validate.go
  runtime/composition/validate_test.go
Due: runtime

feat(composition): per-kind structural validation rules
  runtime/composition/validate.go
  runtime/composition/validate_test.go
Due: runtime

feat(composition): graph target, acyclic, output, join-hint rules
  runtime/composition/validate.go
  runtime/composition/validate_test.go
Due: runtime

test(composition): full valid-composition validation passes
  runtime/composition/validate_test.go
Due: none

Path conditions:
  runtime: any of: runtime/, but not: **/*_test.go, **/*_interactive.go, **/*_integration.go, examples/, docs/, scripts/, .github/, *.md
  sdk: any of: sdk/, but not: **/*_test.go, **/*_interactive.go, **/*_integration.go, examples/, docs/, scripts/, .github/, *.md
  arena: any of: tools/arena/, but not: **/*_test.go, **/*_interactive.go, **/*_integration.go, examples/, docs/, scripts/, .github/, *.md
  packc: any of: tools/packc/, but not: **/*_test.go, **/*_interactive.go, **/*_integration.go, examples/, docs/, scripts/, .github/, *.md
  inspect-state: any of: tools/inspect-state/, but not: **/*_test.go, **/*_interactive.go, **/*_integration.go, examples/, docs/, scripts/, .github/, *.md
