Repository AltairaLabs/PromptKit: changes, and which Codecov flags are due for each by the changed paths.
All: runtime, sdk, arena, packc, inspect-state

codecov.yml:

codecov:
  require_ci_to_pass: yes
  notify:
    wait_for_ci: yes

coverage:
  precision: 2
  round: down
  range: "70...100"
  
  status:
    project:
      default:
        target: 70%
        threshold: 1%
        if_ci_failed: error
    patch:
      default:
        target: 70%
        threshold: 1%
        if_ci_failed: error

comment:
  layout: "reach,diff,flags,tree"
  behavior: default
  require_changes: false

flags:
  runtime:
    paths:
      - runtime/
  sdk:
    paths:
      - sdk/
  arena:
    paths:
      - tools/arena/
  packc:
    paths:
      - tools/packc/
  inspect-state:
    paths:
      - tools/inspect-state/

ignore:
  - "**/*_test.go"
  - "**/*_interactive.go"
  - "**/*_integration.go"
  - "examples/"
  - "docs/"
  - "scripts/"
  - ".github/"
  - "*.md"

chore(schema): refresh the sync — promptarena moved again since September (#1986)
  schemas/v1alpha1/arena.json
  schemas/v1alpha1/common/assertions.json
  schemas/v1alpha1/eval.json
  schemas/v1alpha1/scenario.json
Due: none

chore(deps): second dependabot round — aws, astro, mdx
  docs/package-lock.json
  docs/package.json
  pkg/go.mod
  pkg/go.sum
  runtime/go.mod
  runtime/go.sum
  sdk/go.mod
  sdk/go.sum
  server/a2a/go.sum
Due: runtime, sdk

chore(deps): second dependabot round — aws, astro, mdx (#2042)
  docs/package-lock.json
  docs/package.json
  pkg/go.mod
  pkg/go.sum
  runtime/go.mod
  runtime/go.sum
  sdk/go.mod
  sdk/go.sum
  server/a2a/go.sum
Due: runtime, sdk

feat(selection): back the selector interface with a rerank provider
  runtime/selection/rerank_selector.go
  runtime/selection/rerank_selector_test.go
  runtime/selection/selector.go
  sdk/rerank.go
  sdk/runtime_config.go
  sdk/runtime_config_test.go
Due: runtime, sdk

feat(selection): back the selector interface with a rerank provider (#2043)
  runtime/selection/rerank_selector.go
  runtime/selection/rerank_selector_test.go
  runtime/selection/selector.go
  sdk/rerank.go
  sdk/runtime_config.go
  sdk/runtime_config_test.go
Due: runtime, sdk

fix(voice): run guardrails in VAD sessions
  docs/src/content/docs/reference/upgrade-notes.md
  sdk/internal/pipeline/builder_vad.go
  sdk/internal/pipeline/builder_vad_wiring_test.go
Due: sdk

fix(voice): run guardrails in VAD sessions (#2044)
  docs/src/content/docs/reference/upgrade-notes.md
  sdk/internal/pipeline/builder_vad.go
  sdk/internal/pipeline/builder_vad_wiring_test.go
Due: sdk

fix(providers): adapt caller schemas to each provider's dialect, input and output
  runtime/providers/claude/claude.go
  runtime/providers/claude/claude_tools.go
  runtime/providers/claude/claude_tools_test.go
  runtime/providers/claude/schema.go
  runtime/providers/claude/schema_test.go
  runtime/providers/claude/structured_output_schema_live_integration_test.go
  runtime/providers/claude/testdata/golden/predict_stream_tools_direct.json
  runtime/providers/claude/testdata/golden/predict_tools_direct.json
  runtime/providers/gemini/gemini.go
  runtime/providers/gemini/gemini_tools.go
  runtime/providers/gemini/structured_output_schema_live_integration_test.go
  runtime/providers/gemini/tool_schema_sanitize_test.go
  runtime/providers/openai/openai.go
  runtime/providers/openai/openai_tools.go
  runtime/providers/openai/response_schema_strict_test.go
  runtime/providers/openai/responses_convert.go
  runtime/providers/openai/structured_output_schema_live_integration_test.go
  runtime/providers/schemaadapt/walk.go
  runtime/providers/schemaadapt/walk_test.go
Due: runtime

test(openai): retry the live oracle's 429 so a throttle is not read as a skip
  runtime/providers/openai/structured_output_schema_live_integration_test.go
Due: none

docs(upgrade-notes): record the schema adaptation and strict tool use
  docs/src/content/docs/reference/upgrade-notes.md
Due: none

fix(providers): adapt caller schemas to each provider's dialect, input and output (#2056)
  docs/src/content/docs/reference/upgrade-notes.md
  runtime/providers/claude/claude.go
  runtime/providers/claude/claude_tools.go
  runtime/providers/claude/claude_tools_test.go
  runtime/providers/claude/schema.go
  runtime/providers/claude/schema_test.go
  runtime/providers/claude/structured_output_schema_live_integration_test.go
  runtime/providers/claude/testdata/golden/predict_stream_tools_direct.json
  runtime/providers/claude/testdata/golden/predict_tools_direct.json
  runtime/providers/gemini/gemini.go
  runtime/providers/gemini/gemini_tools.go
  runtime/providers/gemini/structured_output_schema_live_integration_test.go
  runtime/providers/gemini/tool_schema_sanitize_test.go
  runtime/providers/openai/openai.go
  runtime/providers/openai/openai_tools.go
  runtime/providers/openai/response_schema_strict_test.go
  runtime/providers/openai/responses_convert.go
  runtime/providers/openai/structured_output_schema_live_integration_test.go
  runtime/providers/schemaadapt/walk.go
  runtime/providers/schemaadapt/walk_test.go
Due: runtime

chore(deps): align shared dependency versions across the four modules
  pkg/go.mod
  pkg/go.sum
  runtime/go.mod
  runtime/go.sum
  server/a2a/go.mod
  server/a2a/go.sum
Due: runtime

chore(deps): align shared dependency versions across the four modules (#2058)
  pkg/go.mod
  pkg/go.sum
  runtime/go.mod
  runtime/go.sum
  server/a2a/go.mod
  server/a2a/go.sum
Due: runtime

fix(release): fetch published go.mod from the versioned module path
  scripts/test-verify-published-gomod.sh
  scripts/verify-published-gomod.sh
Due: none

fix(release): fetch published go.mod from the versioned module path (#2059)
  scripts/test-verify-published-gomod.sh
  scripts/verify-published-gomod.sh
Due: none

chore(deps): consolidate the Go and docs dependabot round
  docs/package-lock.json
  docs/package.json
  pkg/go.mod
  pkg/go.sum
  runtime/go.mod
  runtime/go.sum
  sdk/go.mod
  sdk/go.sum
  server/a2a/go.mod
  server/a2a/go.sum
Due: runtime, sdk

chore(deps): consolidate the Go and docs dependabot round (#2060)
  docs/package-lock.json
  docs/package.json
  pkg/go.mod
  pkg/go.sum
  runtime/go.mod
  runtime/go.sum
  sdk/go.mod
  sdk/go.sum
  server/a2a/go.mod
  server/a2a/go.sum
Due: runtime, sdk

fix(release): fail the release when a downstream dispatch is refused
  .github/workflows/release.yml
Due: none

fix(release): fail the release when a downstream dispatch is refused (#2061)
  .github/workflows/release.yml
Due: none

fix(docs): give link previews an image, and the landing page a card at all
  docs/astro.config.mjs
  docs/public/og-image.png
  docs/src/assets/og-card.svg
  docs/src/pages/index.astro
Due: none

fix(docs): give link previews an image, and the landing page a card at all (#2062)
  docs/astro.config.mjs
  docs/public/og-image.png
  docs/src/assets/og-card.svg
  docs/src/pages/index.astro
Due: none

fix(providers): stop guessing embedding sizes; send and check declared dimensions
  docs/src/content/docs/reference/upgrade-notes.md
  docs/src/content/docs/runtime/reference/providers.md
  docs/src/content/docs/sdk/how-to/providers/declarative-embedding-providers.md
  runtime/providers/base_embedding.go
  runtime/providers/base_embedding_test.go
  runtime/providers/bedrock/embedding.go
  runtime/providers/bedrock/embedding_dimensions_test.go
  runtime/providers/bedrock/embedding_integration_test.go
  runtime/providers/bedrock/embedding_test.go
  runtime/providers/embedding.go
  runtime/providers/embedding_dimensions_check_test.go
  runtime/providers/embedding_dimensions_factory_test.go
  runtime/providers/gemini/embedding.go
  runtime/providers/gemini/embedding_register.go
  runtime/providers/gemini/embedding_test.go
  runtime/providers/gemini/stream_session_reconnect_test.go
  runtime/providers/ollama/embedding.go
  runtime/providers/ollama/embedding_test.go
  runtime/providers/openai/embedding.go
  runtime/providers/openai/embedding_platform_test.go
  runtime/providers/openai/embedding_register.go
  runtime/providers/openai/embedding_test.go
  runtime/providers/vertex/embedding_test.go
  runtime/providers/voyageai/embedding.go
  runtime/providers/voyageai/embedding_integration_test.go
  runtime/providers/voyageai/embedding_test.go
Due: runtime

fix(providers): stop guessing embedding sizes; send and check declared dimensions (#2063)
  docs/src/content/docs/reference/upgrade-notes.md
  docs/src/content/docs/runtime/reference/providers.md
  docs/src/content/docs/sdk/how-to/providers/declarative-embedding-providers.md
  runtime/providers/base_embedding.go
  runtime/providers/base_embedding_test.go
  runtime/providers/bedrock/embedding.go
  runtime/providers/bedrock/embedding_dimensions_test.go
  runtime/providers/bedrock/embedding_integration_test.go
  runtime/providers/bedrock/embedding_test.go
  runtime/providers/embedding.go
  runtime/providers/embedding_dimensions_check_test.go
  runtime/providers/embedding_dimensions_factory_test.go
  runtime/providers/gemini/embedding.go
  runtime/providers/gemini/embedding_register.go
  runtime/providers/gemini/embedding_test.go
  runtime/providers/gemini/stream_session_reconnect_test.go
  runtime/providers/ollama/embedding.go
  runtime/providers/ollama/embedding_test.go
  runtime/providers/openai/embedding.go
  runtime/providers/openai/embedding_platform_test.go
  runtime/providers/openai/embedding_register.go
  runtime/providers/openai/embedding_test.go
  runtime/providers/vertex/embedding_test.go
  runtime/providers/voyageai/embedding.go
  runtime/providers/voyageai/embedding_integration_test.go
  runtime/providers/voyageai/embedding_test.go
Due: runtime

feat(inference): generic Provider interface, registry and factory
  runtime/inference/errors.go
  runtime/inference/factory.go
  runtime/inference/factory_test.go
  runtime/inference/provider.go
  runtime/inference/provider_test.go
  runtime/inference/registry.go
  runtime/inference/registry_test.go
Due: runtime

feat(inference): openai logprobs provider with nvidia-topic-control alias
  runtime/inference/openai/provider.go
  runtime/inference/openai/provider_test.go
  runtime/inference/openai/register.go
Due: runtime

feat(inference): huggingface provider on Infer, with zero-shot labels
  runtime/inference/huggingface/provider.go
  runtime/inference/huggingface/provider_test.go
  runtime/inference/huggingface/register.go
  runtime/inference/huggingface/register_test.go
Due: runtime

fix(inference): huggingface Config.Model field and transient retry
  runtime/inference/huggingface/provider.go
  runtime/inference/huggingface/provider_test.go
  runtime/inference/huggingface/register.go
Due: runtime

fix(inference): huggingface production retry policy defaults to DefaultRetryPolicy
  runtime/inference/huggingface/provider.go
  runtime/inference/huggingface/provider_test.go
Due: runtime

feat(inference): systemone typed-decision provider
  runtime/inference/systemone/compare_live_test.go
  runtime/inference/systemone/provider.go
  runtime/inference/systemone/provider_test.go
  runtime/inference/systemone/register.go
  runtime/inference/systemone/register_test.go
Due: runtime

feat(inference): call events and inference_* Prometheus metrics
  docs/src/content/docs/runtime/reference/metrics.md
  runtime/events/emitter.go
  runtime/events/emitter_test.go
  runtime/events/types.go
  runtime/events/types_test.go
  runtime/inference/instrument.go
  runtime/inference/instrument_test.go
  runtime/inference/registry.go
  runtime/metrics/collector.go
  runtime/metrics/collector_test.go
Due: runtime

fix(guardrails): timed-out guardrail returns its message, not empty text
  sdk/guardrail_timeout_test.go
  sdk/testdata/packs/guardrail-timeout.pack.json
Due: sdk

fix(guardrails): bound handler.Eval and hold the idle timer during hook calls
  runtime/hooks/guardrails/adapter.go
  runtime/hooks/guardrails/adapter_test.go
  runtime/pipeline/stage/stages_provider.go
Due: runtime

fix(guardrails): round 1 fixes for #2064 (fail-open, missing timeout reason, host timeout knob)
  docs/src/content/docs/sdk/reference/conversation-manager.md
  runtime/hooks/guardrails/adapter.go
  runtime/hooks/guardrails/adapter_test.go
  runtime/hooks/guardrails/factory.go
  runtime/pipeline/stage/idle_guardrail_hooks_test.go
  sdk/guardrail_timeout_test.go
  sdk/options.go
  sdk/sdk.go
Due: runtime, sdk

refactor!: remove runtime/classify; docs and upgrade notes for generic inference
  docs/src/content/docs/concepts/providers.md
  docs/src/content/docs/glossary.md
  docs/src/content/docs/reference/checks.md
  docs/src/content/docs/reference/upgrade-notes.md
  docs/src/content/docs/sdk/how-to/observability/run-evals.md
  docs/src/content/docs/sdk/how-to/providers/bring-your-own-classifier.md
  docs/src/content/docs/sdk/reference/runtime-config.md
  runtime/classify/audio.go
  runtime/classify/backends/all/all.go
  runtime/classify/backends/hf/audio.go
  runtime/classify/backends/hf/client.go
  runtime/classify/backends/hf/client_test.go
  runtime/classify/backends/hf/embedder.go
  runtime/classify/backends/hf/image.go
  runtime/classify/backends/hf/register.go
  runtime/classify/backends/hf/register_test.go
  runtime/classify/backends/hf/text.go
  runtime/classify/backends/topiccontrol/client.go
  runtime/classify/backends/topiccontrol/client_test.go
  runtime/classify/backends/topiccontrol/live_integration_test.go
  runtime/classify/backends/topiccontrol/policy.go
  runtime/classify/backends/topiccontrol/policy_test.go
  runtime/classify/backends/topiccontrol/register.go
  runtime/classify/embedder.go
  runtime/classify/factory.go
  runtime/classify/factory_test.go
  runtime/classify/image.go
  runtime/classify/registry.go
  runtime/classify/registry_test.go
  runtime/classify/text.go
  runtime/classify/topic.go
  runtime/classify/topic_registry_test.go
  runtime/classify/types.go
  runtime/classify/video.go
Due: runtime

feat(providers): huggingface embedding provider (feature-extraction)
  docs/src/content/docs/sdk/reference/conversation-manager.md
  docs/src/content/docs/sdk/reference/runtime-config.md
  runtime/providers/huggingface/embedding.go
  runtime/providers/huggingface/embedding_integration_test.go
  runtime/providers/huggingface/embedding_register.go
  runtime/providers/huggingface/embedding_test.go
  sdk/runtime_config.go
Due: runtime, sdk

test: live topic_policy accuracy through the real handler; SDK example live tests
  runtime/evals/handlers/topic_policy_live_test.go
  sdk/examples/topic-policy/decision_live_test.go
Due: none

docs: upgrade notes match the compatible v2 surface
  docs/src/content/docs/reference/upgrade-notes.md
Due: none

fix(inference): huggingface zero-shot accepts the router's label list
  runtime/inference/huggingface/provider.go
  runtime/inference/huggingface/provider_integration_test.go
  runtime/inference/huggingface/provider_test.go
Due: runtime
