Repository AltairaLabs/PromptKit: changes, and which Codecov flags are due for each by the changed paths.
All: runtime, sdk, arena, packc, inspect-state

codecov.yml:

codecov:
  require_ci_to_pass: yes
  notify:
    wait_for_ci: yes

coverage:
  precision: 2
  round: down
  range: "70...100"
  
  status:
    project:
      default:
        target: 70%
        threshold: 1%
        if_ci_failed: error
    patch:
      default:
        target: 70%
        threshold: 1%
        if_ci_failed: error

comment:
  layout: "reach,diff,flags,tree"
  behavior: default
  require_changes: false

flags:
  runtime:
    paths:
      - runtime/
  sdk:
    paths:
      - sdk/
  arena:
    paths:
      - tools/arena/
  packc:
    paths:
      - tools/packc/
  inspect-state:
    paths:
      - tools/inspect-state/

ignore:
  - "**/*_test.go"
  - "**/*_interactive.go"
  - "**/*_integration.go"
  - "examples/"
  - "docs/"
  - "scripts/"
  - ".github/"
  - "*.md"

fix: runtime performance and safety improvements
  runtime/httputil/httputil.go
  runtime/httputil/httputil_test.go
  runtime/pipeline/stage/pipeline.go
  runtime/pipeline/stage/pipeline_internal_test.go
  runtime/tools/exec_executor.go
  runtime/tools/exec_executor_test.go
  runtime/tools/registry.go
Due: runtime

fix: arena dead code removal and performance improvements
  tools/arena/engine/distributed.go
  tools/arena/engine/duplex_executor_assertions_integration.go
  tools/arena/generate/registry.go
  tools/arena/generate/registry_test.go
  tools/arena/render/html.go
  tools/arena/render/html_test.go
  tools/arena/statestore/store.go
  tools/arena/statestore/store_test.go
  tools/arena/workflow/executor_test.go
  tools/arena/workflow/types.go
  tools/arena/workflow/types_test.go
Due: arena

fix: wire up disconnected SDK features and fix goroutine leaks
  sdk/options.go
  sdk/runtime_config.go
  sdk/runtime_config_test.go
  sdk/sdk.go
  sdk/sdk_test.go
  sdk/stream_events_test.go
  sdk/streaming.go
  sdk/streaming_test.go
Due: sdk

fix: packc improvements — wire skills validation, security, idioms
  tools/packc/main.go
  tools/packc/main_interactive.go
  tools/packc/main_test.go
  tools/packc/skills_validator.go
  tools/packc/skills_validator_test.go
Due: packc

chore: remove unused runtime types and config fields
  runtime/pipeline/stage/config.go
  runtime/pipeline/stage/example_test.go
  runtime/pipeline/stage/stages_utilities_test.go
  runtime/pipeline/types.go
  runtime/tools/types.go
  sdk/local_agent_executor_impl.go
  sdk/multi_agent_open.go
  sdk/workflow_transition.go
Due: runtime, sdk

chore: SDK cleanup — doc.go fixes and reflection caching
  sdk/doc.go
  sdk/tools/typed.go
  sdk/tools/typed_test.go
Due: sdk

fix: improve coverage — extract summarizeMessages for testability
  sdk/workflow_test.go
  sdk/workflow_transition.go
  sdk/workflow_transition_integration.go
Due: sdk

fix: add tests for LocalAgentExecutor send path and closeAll
  sdk/local_agent_executor_test.go
Due: none

fix(ci): auto-publish draft release and isolate downstream notifications (#739)
  .github/workflows/release.yml
Due: none

fix: revert SDK API removals — wire up, don't delete
  sdk/examples/realtime-video/main.go
  sdk/hooks/doc.go
  sdk/hooks/events.go
  sdk/hooks/events_test.go
  sdk/options.go
  sdk/options_test.go
Due: sdk

feat: wire up disconnected SDK options — credentials, turn detection, video
  sdk/conversation.go
  sdk/conversation_test.go
  sdk/internal/pipeline/builder.go
  sdk/internal/pipeline/builder_test.go
  sdk/options.go
  sdk/options_test.go
  sdk/sdk.go
Due: sdk

test: add integration tests for credential and video stream options
  sdk/integration/credential_test.go
  sdk/integration/video_stream_test.go
Due: none

feat: expose cloud credential overrides as PlatformOptions
  runtime/credentials/aws_integration.go
  sdk/options.go
  sdk/options_test.go
  sdk/platform_credential_integration.go
  sdk/sdk.go
Due: sdk

fix: address remaining immediate review items
  runtime/pipeline/types.go
  runtime/tools/exec_executor.go
  runtime/tools/rate_limiter.go
  runtime/tools/rate_limiter_test.go
  runtime/tools/registry.go
  runtime/tools/registry_rate_limit_test.go
  runtime/tools/server_executor.go
  sdk/conversation.go
  sdk/conversation_test.go
  sdk/errors.go
  sdk/options.go
  sdk/options_test.go
  sdk/runtime_config.go
  sdk/streaming.go
  tools/arena/selfplay/registry.go
  tools/arena/statestore/store.go
  tools/arena/statestore/store_unit_test.go
  tools/arena/turnexecutors/pipeline_stages_integration.go
  tools/arena/turnexecutors/scripted_executor.go
  tools/arena/turnexecutors/selfplay_executor.go
Due: runtime, sdk, arena

fix: address remaining immediate review items (#742)
  runtime/pipeline/types.go
  runtime/tools/exec_executor.go
  runtime/tools/rate_limiter.go
  runtime/tools/rate_limiter_test.go
  runtime/tools/registry.go
  runtime/tools/registry_rate_limit_test.go
  runtime/tools/server_executor.go
  sdk/conversation.go
  sdk/conversation_test.go
  sdk/errors.go
  sdk/options.go
  sdk/options_test.go
  sdk/runtime_config.go
  sdk/streaming.go
  tools/arena/selfplay/registry.go
  tools/arena/statestore/store.go
  tools/arena/statestore/store_unit_test.go
  tools/arena/turnexecutors/pipeline_stages_integration.go
  tools/arena/turnexecutors/scripted_executor.go
  tools/arena/turnexecutors/selfplay_executor.go
Due: runtime, sdk, arena

feat: extract packc compiler library and add promptarena export command
  tools/arena/cmd/promptarena/export.go
  tools/arena/cmd/promptarena/export_test.go
  tools/arena/go.mod
  tools/arena/go.sum
  tools/packc/compiler/compiler.go
  tools/packc/compiler/compiler_test.go
  tools/packc/compiler/helpers_integration.go
  tools/packc/compiler/skills_validator_integration.go
  tools/packc/main.go
  tools/packc/main_interactive.go
  tools/packc/test_helpers_test.go
Due: arena, packc

ci: add PromptPack schema freshness check and example compilation
  .github/workflows/schemas.yml
Due: none

chore: update PromptPack schema — validator type no longer enum
  runtime/prompt/schema/promptpack.schema.json
Due: runtime

fix: revert to PromptPack schema without RE2-incompatible regex
  runtime/prompt/schema/promptpack.schema.json
Due: runtime

chore: update PromptPack schema and fix arena-media-test example
  examples/arena-media-test/prompts/media-assistant.yaml
  runtime/prompt/schema/promptpack.schema.json
Due: runtime

docs: add promptarena export command documentation
  docs/src/content/docs/arena/reference/cli-commands.md
  docs/src/content/docs/reference/arena-cli.txt
Due: none

feat: packc compiler library and promptarena export command (#743)
  .github/workflows/schemas.yml
  docs/src/content/docs/arena/reference/cli-commands.md
  docs/src/content/docs/reference/arena-cli.txt
  examples/arena-media-test/prompts/media-assistant.yaml
  runtime/prompt/schema/promptpack.schema.json
  tools/arena/cmd/promptarena/export.go
  tools/arena/cmd/promptarena/export_test.go
  tools/arena/go.mod
  tools/arena/go.sum
  tools/packc/compiler/compiler.go
  tools/packc/compiler/compiler_test.go
  tools/packc/compiler/helpers_integration.go
  tools/packc/compiler/skills_validator_integration.go
  tools/packc/main.go
  tools/packc/main_interactive.go
  tools/packc/test_helpers_test.go
Due: runtime, arena, packc

feat: auto-manage OTel session lifecycle for Arena runs
  examples/arena-telemetry/main.go
  tools/arena/engine/event_bus_test.go
  tools/arena/engine/execution.go
  tools/arena/engine/execution_helpers_test.go
Due: arena

fix: defer UnregisterRun to prevent leak on error paths
  tools/arena/engine/execution.go
  tools/arena/engine/execution_workflow_integration.go
Due: arena

refactor: rename Event.RunID to Event.ExecutionID
  .vscode/settings.json
  examples/a2a-auth-test/go.mod
  examples/a2a-auth-test/go.sum
  examples/a2a-demo/go.mod
  examples/a2a-demo/go.sum
  examples/sdk-evals/go.mod
  examples/sdk-evals/go.sum
  examples/sdk-http-auth/go.mod
  examples/sdk-http-auth/go.sum
  examples/workflow-support/sdk-example/go.mod
  examples/workflow-support/sdk-example/go.sum
  pkg/go.mod
  pkg/go.sum
  runtime/events/emitter.go
  runtime/events/emitter_test.go
  runtime/events/store.go
  runtime/events/store_test.go
  runtime/events/types.go
  runtime/events/types_test.go
  runtime/go.mod
  runtime/go.sum
  runtime/pipeline/stage/stages_provider_test.go
  runtime/recording/recording.go
  runtime/telemetry/listener.go
  runtime/telemetry/listener_test.go
  sdk/go.mod
  sdk/go.sum
  server/a2a/go.mod
  server/a2a/go.sum
  tools/arena/engine/event_bus_test.go
  tools/arena/tui/event_adapter.go
  tools/arena/tui/event_adapter_test.go
  tools/inspect-state/go.mod
  tools/inspect-state/go.sum
  tools/packc/go.mod
  tools/packc/go.sum
  tools/schema-gen/go.mod
  tools/schema-gen/go.sum
Due: runtime, sdk, arena, packc, inspect-state

chore: remove dead Pack/Steps/WorkflowStep config types
  pkg/config/loader.go
  pkg/config/types.go
  tools/arena/cmd/promptarena/generate_integration.go
  tools/arena/engine/execution_workflow_integration.go
  tools/arena/generate/converter.go
  tools/arena/generate/converter_test.go
Due: arena

feat: add provider call telemetry for Arena agent, self-play, and judge paths
  runtime/evals/context.go
  runtime/evals/handlers/judge_provider.go
  runtime/evals/handlers/judge_provider_integration.go
  runtime/evals/handlers/judge_provider_test.go
  runtime/evals/handlers/llm_judge.go
  runtime/evals/handlers/llm_judge_session.go
  runtime/evals/handlers/llm_judge_tool_calls.go
  runtime/events/emitter.go
  runtime/events/emitter_test.go
  runtime/events/types.go
  runtime/metrics/collector.go
  runtime/metrics/collector_test.go
  runtime/pipeline/stage/stages_provider.go
  runtime/telemetry/listener.go
  tools/arena/engine/arena_statestore_test.go
  tools/arena/engine/builder_additional_test.go
  tools/arena/engine/builder_integration.go
  tools/arena/engine/conversation_executor.go
  tools/arena/engine/conversation_executor_test.go
  tools/arena/engine/duplex_conversation_executor.go
  tools/arena/engine/duplex_executor_assertions_integration.go
  tools/arena/engine/duplex_executor_results_integration.go
  tools/arena/engine/engine.go
  tools/arena/engine/eval_conversation_executor.go
  tools/arena/engine/eval_conversation_executor_test.go
  tools/arena/engine/eval_execution_test.go
  tools/arena/engine/eval_orchestrator.go
  tools/arena/engine/eval_orchestrator_test.go
  tools/arena/engine/event_bus_test.go
  tools/arena/engine/execution_workflow_integration.go
  tools/arena/engine/statestore_integration_test.go
  tools/arena/go.mod
  tools/arena/go.sum
  tools/arena/selfplay/generator.go
  tools/arena/selfplay/interfaces.go
  tools/arena/stages/assertions.go
  tools/arena/turnexecutors/pipeline_stages_integration.go
  tools/arena/turnexecutors/selfplay_executor.go
  tools/arena/workflow/executor.go
Due: runtime, arena

fix: regenerate schemas after config type removal, fix terminal state on_event
  examples/workflow-order-processing/config.arena.yaml
  examples/workflow-support/config.arena.yaml
  schemas/v1alpha1/arena.json
  schemas/v1alpha1/scenario.json
Due: none

fix: convert workflow-skills example to arena config format
  examples/workflow-skills/config.arena.yaml
  examples/workflow-skills/prompts/billing.yaml
  examples/workflow-skills/prompts/closed.yaml
  examples/workflow-skills/prompts/intake.yaml
  examples/workflow-skills/prompts/orders.yaml
  examples/workflow-skills/scenarios/billing-flow.scenario.yaml
  examples/workflow-skills/scenarios/orders-flow.scenario.yaml
  examples/workflow-skills/workflow-skills.pack.json
Due: none

fix: use waitForType in event lifecycle tests to prevent async race
  sdk/integration/client_tools_test.go
  sdk/integration/helpers_test.go
Due: none

fix: use waitForType in event lifecycle tests to prevent async race (#760)
  sdk/integration/client_tools_test.go
  sdk/integration/helpers_test.go
Due: none

feat: emit eval.completed events from EvalRunner, opt-in RecordingStage for arena (#761)
  runtime/evals/runner.go
  runtime/evals/runner_test.go
  sdk/eval_middleware.go
  sdk/eval_middleware_test.go
  sdk/evaluate.go
  tools/arena/engine/conversation_executor.go
  tools/arena/engine/engine.go
  tools/arena/engine/eval_orchestrator.go
  tools/arena/engine/eval_orchestrator_test.go
  tools/arena/engine/execution.go
  tools/arena/engine/interfaces.go
  tools/arena/turnexecutors/interfaces.go
  tools/arena/turnexecutors/pipeline_stages_integration.go
Due: runtime, sdk, arena
