Repository AltairaLabs/PromptKit: changes, and which Codecov flags are due for each by the changed paths.
All: runtime, sdk, arena, packc, inspect-state

feat(stage): Add MediaExtractStage and MediaComposeStage for batch media processing (#185)
  runtime/pipeline/stage/stages_media_batch_integration_test.go
  runtime/pipeline/stage/stages_media_compose.go
  runtime/pipeline/stage/stages_media_compose_test.go
  runtime/pipeline/stage/stages_media_extract.go
  runtime/pipeline/stage/stages_media_extract_test.go
Due: runtime

feat(stage): Add VideoToFramesStage and FramesToMessageStage for video frame extraction
  runtime/pipeline/stage/errors.go
  runtime/pipeline/stage/stages_media_compose.go
  runtime/pipeline/stage/stages_video_frames.go
  runtime/pipeline/stage/stages_video_frames_integration.go
  runtime/pipeline/stage/stages_video_frames_test.go
Due: runtime

fix(sonar): Exclude fan-in accumulator stages from duplication check
  sonar-project.properties
Due: none

feat(stage): Add VideoToFramesStage and FramesToMessageStage for video frame extraction (#186)
  runtime/pipeline/stage/errors.go
  runtime/pipeline/stage/stages_media_compose.go
  runtime/pipeline/stage/stages_video_frames.go
  runtime/pipeline/stage/stages_video_frames_integration.go
  runtime/pipeline/stage/stages_video_frames_test.go
  sonar-project.properties
Due: runtime

fix(streaming): Add mutex to FrameRateLimitStage to prevent data race
  runtime/pipeline/stage/stages_frame_rate_limit.go
  runtime/pipeline/stage/stages_frame_rate_limit_test.go
Due: runtime

feat(streaming): Add realtime video/image streaming for duplex sessions
  runtime/pipeline/stage/element.go
  runtime/pipeline/stage/stages_duplex_provider_integration.go
  runtime/pipeline/stage/stages_frame_rate_limit.go
  runtime/pipeline/stage/stages_frame_rate_limit_test.go
  runtime/streaming/image_streamer.go
  runtime/streaming/image_streamer_test.go
  runtime/streaming/video_streamer.go
  runtime/streaming/video_streamer_test.go
  sdk/options.go
  sdk/session/duplex_session.go
  sdk/session/media_types.go
  sdk/session/session.go
Due: runtime, sdk

chore(packc): Migrate ESLint to flat config format (v9)
  npm/packc/.eslintrc.json
  npm/packc/eslint.config.js
  npm/packc/package-lock.json
  npm/packc/package.json
Due: none

test: Add tests to improve coverage for SonarCloud quality gate
  runtime/pipeline/stage/stages_streaming_test.go
  sdk/options_test.go
  sdk/session/duplex_session_test.go
Due: none

feat(streaming): Add realtime video/image streaming for duplex sessions (#198)
  npm/packc/.eslintrc.json
  npm/packc/eslint.config.js
  npm/packc/package-lock.json
  npm/packc/package.json
  runtime/pipeline/stage/element.go
  runtime/pipeline/stage/stages_duplex_provider_integration.go
  runtime/pipeline/stage/stages_frame_rate_limit.go
  runtime/pipeline/stage/stages_frame_rate_limit_test.go
  runtime/pipeline/stage/stages_streaming_test.go
  runtime/streaming/image_streamer.go
  runtime/streaming/image_streamer_test.go
  runtime/streaming/video_streamer.go
  runtime/streaming/video_streamer_test.go
  sdk/options.go
  sdk/options_test.go
  sdk/session/duplex_session.go
  sdk/session/duplex_session_test.go
  sdk/session/media_types.go
  sdk/session/session.go
Due: runtime, sdk

fix(promptarena): Migrate to ESLint 9 flat config format
  npm/promptarena/.eslintrc.json
  npm/promptarena/eslint.config.js
  npm/promptarena/package-lock.json
  npm/promptarena/package.json
Due: none

fix(promptarena): Migrate to ESLint 9 flat config format (#199)
  npm/promptarena/.eslintrc.json
  npm/promptarena/eslint.config.js
  npm/promptarena/package-lock.json
  npm/promptarena/package.json
Due: none

feat(examples): Add image-preprocessing and realtime-video SDK examples
  sdk/conversation.go
  sdk/conversation_test.go
  sdk/examples/README.md
  sdk/examples/image-preprocessing/README.md
  sdk/examples/image-preprocessing/image-preprocessing.pack.json
  sdk/examples/image-preprocessing/main.go
  sdk/examples/realtime-video/README.md
  sdk/examples/realtime-video/main.go
  sdk/examples/realtime-video/realtime-video.pack.json
Due: sdk

feat(examples): Add image-preprocessing and realtime-video SDK examples (#200)
  sdk/conversation.go
  sdk/conversation_test.go
  sdk/examples/README.md
  sdk/examples/image-preprocessing/README.md
  sdk/examples/image-preprocessing/image-preprocessing.pack.json
  sdk/examples/image-preprocessing/main.go
  sdk/examples/realtime-video/README.md
  sdk/examples/realtime-video/main.go
  sdk/examples/realtime-video/realtime-video.pack.json
Due: sdk

feat(gemini): Add video/image streaming support to Gemini Live API
  runtime/providers/gemini/stream_session_protocol_integration.go
  runtime/providers/gemini/streaming_support.go
  runtime/types/streaming.go
  runtime/types/streaming_test.go
  sdk/examples/realtime-video/main.go
Due: runtime, sdk

fix(gemini): Use correct message format for video/image streaming
  runtime/providers/gemini/stream_session_helpers_test.go
  runtime/providers/gemini/stream_session_protocol_integration.go
  sdk/examples/realtime-video/main.go
Due: sdk

wip: Add debug logging to realtime-video example for debugging
  sdk/examples/realtime-video/main.go
Due: sdk

feat(providers): Add providers/all package for convenient registration
  runtime/providers/all/all.go
Due: runtime

feat(providers): Add providers/all package for convenient registration (#203)
  runtime/providers/all/all.go
Due: runtime

feat(sdk): Add WithAudioData, WithVideoFile, and WithVideoData SendOptions
  sdk/options.go
  sdk/options_test.go
  sdk/streaming.go
  sdk/streaming_test.go
Due: sdk

feat(sdk): Add WithAudioData, WithVideoFile, and WithVideoData SendOptions (#207)
  sdk/options.go
  sdk/options_test.go
  sdk/streaming.go
  sdk/streaming_test.go
Due: sdk

fix(providers): Include URL in API error messages for easier debugging
  examples/arena-media-test/providers/gemini-provider.provider.yaml
  runtime/providers/base_provider.go
  runtime/providers/base_provider_test.go
  runtime/providers/claude/claude.go
  runtime/providers/claude/claude_tools.go
  runtime/providers/gemini/gemini.go
  runtime/providers/gemini/gemini_tools.go
  runtime/providers/ollama/ollama.go
  runtime/providers/ollama/ollama_tools.go
  runtime/providers/openai/openai.go
  runtime/providers/openai/openai_tools.go
Due: runtime

chore(examples): Update Gemini examples to use gemini-3-flash-preview
  examples/arena-media-test/providers/gemini-provider.provider.yaml
  examples/assertions-test/providers/gemini.provider.yaml
  examples/customer-support-integrated/providers/gemini-2-0-flash.provider.yaml
  examples/customer-support/providers/gemini-2-0-flash.provider.yaml
  examples/duplex-streaming/providers/gemini-2-flash.provider.yaml
  examples/multimodal-basics/providers/gemini-vision.provider.yaml
Due: none

feat(gemini): Add video/image streaming support to Gemini Live API (#201)
  runtime/providers/gemini/stream_session_helpers_test.go
  runtime/providers/gemini/stream_session_protocol_integration.go
  runtime/providers/gemini/streaming_support.go
  runtime/types/streaming.go
  runtime/types/streaming_test.go
  sdk/examples/realtime-video/main.go
Due: runtime, sdk

fix(gemini): Add missing /v1beta path to multimodal URL construction
  runtime/providers/gemini/gemini_multimodal.go
  runtime/providers/gemini/gemini_tools.go
Due: runtime

refactor(gemini): Move API version from code to configurable base_url
  runtime/providers/gemini/demo_audio_output_test.go
  runtime/providers/gemini/demo_streaming_test.go
  runtime/providers/gemini/diagnostic_audio_raw_test.go
  runtime/providers/gemini/duplex_integration_test.go
  runtime/providers/gemini/gemini.go
  runtime/providers/gemini/gemini_multimodal.go
  runtime/providers/gemini/gemini_test.go
  runtime/providers/gemini/gemini_tools.go
  runtime/providers/gemini/integration_streaming_test.go
  runtime/providers/registry.go
  runtime/providers/registry_extended_test.go
Due: runtime

fix(gemini): Remove alt=sse from streaming URLs for consistent response format
  examples/arena-media-test/providers/gemini-provider.provider.yaml
  examples/assertions-test/providers/gemini.provider.yaml
  examples/customer-support-integrated/providers/gemini-2-0-flash.provider.yaml
  examples/customer-support/providers/gemini-2-0-flash.provider.yaml
  examples/duplex-streaming/providers/gemini-2-flash.provider.yaml
  examples/multimodal-basics/providers/gemini-vision.provider.yaml
  runtime/providers/gemini/gemini_multimodal.go
  runtime/providers/gemini/gemini_tools.go
Due: runtime

test(gemini): Add URL format test to prevent alt=sse regression
  runtime/providers/gemini/gemini_tools_test.go
Due: none

fix(gemini): Use GetContent() for SDK-style messages in legacy conversion
  runtime/logger/logger.go
  runtime/providers/gemini/gemini.go
  runtime/providers/gemini/gemini_test.go
  runtime/version/version.go
  runtime/version/version_test.go
Due: runtime

fix(providers): Use structured logging for pricing fallback warning
  runtime/providers/claude/claude.go
  runtime/providers/gemini/gemini.go
  runtime/providers/openai/openai.go
Due: runtime

fix(logging): Use structured logging for warnings/errors in mcp and storage
  runtime/mcp/client.go
  runtime/mcp/registry.go
  runtime/storage/local/filestore.go
  runtime/storage/policy/time_based.go
Due: runtime

refactor(logging): Convert fmt.Printf to structured logging in MCP and tools
  runtime/mcp/client.go
  runtime/tools/registry.go
Due: runtime

fix(tools): Remove dead coercion logging code
  runtime/tools/registry.go
Due: runtime

test(mcp): Add tests for client health check, notifications, and message handling
  runtime/mcp/client_test.go
Due: none

fix(sdk): Add /v1beta to Gemini base URL in provider detection
  sdk/examples/audio-analysis/audio-analysis.pack.json
  sdk/examples/audio-analysis/main.go
  sdk/internal/provider/detect.go
Due: sdk

fix(gemini): Handle multimodal content in Predict/PredictStream
  runtime/providers/gemini/gemini.go
  runtime/providers/gemini/gemini_multimodal.go
  sdk/examples/audio-analysis/main.go
Due: runtime, sdk

feat(events): Emit provider call events from ProviderStage
  runtime/pipeline/stage/stages_provider.go
  runtime/pipeline/stage/stages_provider_test.go
  sdk/internal/pipeline/builder.go
  sdk/internal/pipeline/builder_test.go
  sdk/internal/pipeline/builder_vad.go
Due: runtime, sdk

fix(events): Wire up EventEmitter and capture streaming token counts
  runtime/pipeline/stage/stages_provider.go
  sdk/conversation.go
Due: runtime, sdk

test(sdk): Add e2e tests for event emission
  sdk/e2e_test.go
Due: none

fix(sdk): Initialize event bus before building pipeline
  sdk/sdk.go
Due: sdk

refactor(sdk): Restructure e2e tests for scalability
  sdk/e2e_events_test.go
  sdk/e2e_helpers_test.go
  sdk/e2e_test.go
Due: none

Path conditions:
  runtime: any of: runtime/, but not: **/*_test.go, **/*_interactive.go, **/*_integration.go, examples/, docs/, scripts/, .github/, *.md
  sdk: any of: sdk/, but not: **/*_test.go, **/*_interactive.go, **/*_integration.go, examples/, docs/, scripts/, .github/, *.md
  arena: any of: tools/arena/, but not: **/*_test.go, **/*_interactive.go, **/*_integration.go, examples/, docs/, scripts/, .github/, *.md
  packc: any of: tools/packc/, but not: **/*_test.go, **/*_interactive.go, **/*_integration.go, examples/, docs/, scripts/, .github/, *.md
  inspect-state: any of: tools/inspect-state/, but not: **/*_test.go, **/*_interactive.go, **/*_integration.go, examples/, docs/, scripts/, .github/, *.md
