Repository AltairaLabs/PromptKit: changes, and which Codecov flags are due for each by the changed paths.
All: runtime, sdk, arena, packc, inspect-state

codecov.yml:

codecov:
  require_ci_to_pass: yes
  notify:
    wait_for_ci: yes

coverage:
  precision: 2
  round: down
  range: "70...100"
  
  status:
    project:
      default:
        target: 70%
        threshold: 1%
        if_ci_failed: error
    patch:
      default:
        target: 70%
        threshold: 1%
        if_ci_failed: error

comment:
  layout: "reach,diff,flags,tree"
  behavior: default
  require_changes: false

flags:
  runtime:
    paths:
      - runtime/
  sdk:
    paths:
      - sdk/
  arena:
    paths:
      - tools/arena/
  packc:
    paths:
      - tools/packc/
  inspect-state:
    paths:
      - tools/inspect-state/

ignore:
  - "**/*_test.go"
  - "**/*_interactive.go"
  - "**/*_integration.go"
  - "examples/"
  - "docs/"
  - "scripts/"
  - ".github/"
  - "*.md"

chore(build): drop arena/packc/inspect-state targets from Makefile
  Makefile
Due: none

ci(release): make releases libraries-only; drop GoReleaser and tool tagging
  .github/workflows/release.yml
  .goreleaser.yml
  Dockerfile.arena
  Dockerfile.demo
  Dockerfile.packc
Due: none

ci: strip arena/packc from CI and delete tool-only workflows
  .github/workflows/capability-matrix.yml
  .github/workflows/ci.yml
  .github/workflows/docs.yml
  .github/workflows/npm-publish.yml
  .github/workflows/npm-test.yml
  .github/workflows/release-test.yml
  .github/workflows/schemas.yml
Due: none

chore: purge arena/packc from packaging, CI config, scripts and editor config
  .claude/skills/arena-example/SKILL.md
  .github/dependabot.yml
  .golangci.yml
  .vscode/launch.json
  codecov.yml
  npm/README.md
  npm/packc/.npmignore
  npm/packc/README.md
  npm/packc/bin/packc.js
  npm/packc/eslint.config.js
  npm/packc/jest.config.js
  npm/packc/lib/installer.js
  npm/packc/lib/installer.test.js
  npm/packc/package-lock.json
  npm/packc/package.json
  npm/packc/postinstall.js
  npm/promptarena/.npmignore
  npm/promptarena/README.md
  npm/promptarena/bin/promptarena.js
  npm/promptarena/eslint.config.js
  npm/promptarena/jest.config.js
  npm/promptarena/lib/installer.js
  npm/promptarena/lib/installer.test.js
  npm/promptarena/package-lock.json
  npm/promptarena/package.json
  npm/promptarena/postinstall.js
  npm/promptarena/schema-map.json
  npm/promptarena/test-init.js
  scripts/check-no-audio-device-leak.sh
  scripts/lint-message-patterns.sh
  scripts/release.sh
  scripts/setup-branch-protection.sh
  scripts/test-release.sh
  sonar-project.properties
Due: none

fix(docs): pin starlight to the astro-6 line so the docs build resolves
  .github/workflows/docs.yml
  docs/package-lock.json
  docs/package.json
Due: none

fix(docs): repoint hardcoded arena/packc doc URLs to promptarena.altairalabs.ai
  docs/public/llms.txt
  examples/assertions-test/MOCK_PROVIDER_USAGE.md
  examples/codegen-anthropic/README.md
  examples/context-management/MOCK_PROVIDER_USAGE.md
  examples/customer-support/MOCK_PROVIDER_USAGE.md
  examples/guardrails-test/MOCK_PROVIDER_USAGE.md
  examples/guardrails-test/README.md
  examples/mcp-chatbot/MOCK_PROVIDER_USAGE.md
  examples/mcp-chatbot/README.md
  examples/mcp-filesystem-test/MOCK_PROVIDER_USAGE.md
  examples/mcp-memory-test/MOCK_PROVIDER_USAGE.md
  examples/multimodal-basics/README.md
  examples/multimodal-tool-results/README.md
  examples/resilience-testing/README.md
  examples/variables-demo/README.md
  examples/voice-refund-demo/README.md
  sdk/examples/audiohelper/portaudio_discovery.go
Due: sdk

docs(comments): retarget stale tools/arena references to PromptArena
  runtime/CLAUDE.md
  runtime/evals/validate.go
  runtime/mediagen/descriptors.go
  runtime/pipeline/stage/ARCHITECTURE.md
  runtime/pipeline/stage/stages_speech_integration.go
  runtime/pipeline/stage/stages_tts_integration.go
  runtime/pipeline/stage/structural_guards_test.go
  runtime/prompt/schema/validate.go
  runtime/providers/base/cost.go
  runtime/types/tool_call_record.go
  sdk/conversation_tools.go
  sdk/examples/audiohelper/doc.go
  sdk/options.go
Due: runtime, sdk

test(config): drop the walk-examples provider compat test
  pkg/config/compat_test.go
Due: none

docs(readme): refocus on the runtime/SDK and performance
  README.md
Due: none

docs(readme): refocus on the runtime/SDK and performance (#1554)
  README.md
Due: none

docs(readme): use www.altairalabs.ai for the bare-domain links
  README.md
Due: none

docs(readme): use www.altairalabs.ai for the bare-domain links (#1555)
  README.md
Due: none

chore: remove orphaned arena-CLI demo recordings
  recordings/gifs/02-init-project.gif
  recordings/gifs/03-config-overview.gif
  recordings/gifs/04-config-selfplay.gif
  recordings/gifs/05-run-scenario.gif
  recordings/gifs/06-redteam-test.gif
  recordings/gifs/07-view-conversation.gif
  recordings/gifs/08-sdk-demo.gif
  recordings/tapes/02-init-project.tape
  recordings/tapes/03-config-overview.tape
  recordings/tapes/04-config-selfplay.tape
  recordings/tapes/05-run-scenario.tape
  recordings/tapes/06-redteam-test.tape
  recordings/tapes/07-view-conversation.tape
  recordings/tapes/08-sdk-demo.tape
  recordings/tapes/09-social-demo.tape
  recordings/tapes/README.md
  recordings/videos/promptkit-demo.mp4
Due: none

chore: remove arena-CLI demo recordings (moved to promptarena)
  recordings/gifs/02-init-project.gif
  recordings/gifs/03-config-overview.gif
  recordings/gifs/04-config-selfplay.gif
  recordings/gifs/05-run-scenario.gif
  recordings/gifs/06-redteam-test.gif
  recordings/gifs/07-view-conversation.gif
  recordings/gifs/08-sdk-demo.gif
  recordings/tapes/02-init-project.tape
  recordings/tapes/03-config-overview.tape
  recordings/tapes/04-config-selfplay.tape
  recordings/tapes/05-run-scenario.tape
  recordings/tapes/06-redteam-test.tape
  recordings/tapes/07-view-conversation.tape
  recordings/tapes/08-sdk-demo.tape
  recordings/tapes/09-social-demo.tape
  recordings/tapes/README.md
  recordings/videos/promptkit-demo.mp4
Due: none

chore: remove arena-CLI demo recordings (moved to promptarena) (#1557)
  recordings/gifs/02-init-project.gif
  recordings/gifs/03-config-overview.gif
  recordings/gifs/04-config-selfplay.gif
  recordings/gifs/05-run-scenario.gif
  recordings/gifs/06-redteam-test.gif
  recordings/gifs/07-view-conversation.gif
  recordings/gifs/08-sdk-demo.gif
  recordings/tapes/02-init-project.tape
  recordings/tapes/03-config-overview.tape
  recordings/tapes/04-config-selfplay.tape
  recordings/tapes/05-run-scenario.tape
  recordings/tapes/06-redteam-test.tape
  recordings/tapes/07-view-conversation.tape
  recordings/tapes/08-sdk-demo.tape
  recordings/tapes/09-social-demo.tape
  recordings/tapes/README.md
  recordings/videos/promptkit-demo.mp4
Due: none

chore(schemas): fetch schemas from promptarena instead of generating
  .github/CODEOWNERS
  .github/dependabot.yml
  .github/workflows/ci.yml
  .github/workflows/schemas.yml
  CLAUDE.md
  CONTRIBUTING.md
  Makefile
  README.md
  codecov.yml
  docs/src/content/docs/devops/branch-protection.md
  docs/src/content/docs/reference/schema-validation.md
  go.work
  scripts/fetch-schemas.sh
  scripts/gen-schema-latest-refs.sh
  scripts/pre-commit.sh
  tools/schema-gen/generators/arena.go
  tools/schema-gen/generators/common.go
  tools/schema-gen/generators/eval.go
  tools/schema-gen/generators/eval_types.go
  tools/schema-gen/generators/generators_test.go
  tools/schema-gen/generators/helper.go
  tools/schema-gen/generators/logging.go
  tools/schema-gen/generators/persona.go
  tools/schema-gen/generators/promptconfig.go
  tools/schema-gen/generators/provider.go
  tools/schema-gen/generators/runtime_config.go
  tools/schema-gen/generators/scenario.go
  tools/schema-gen/generators/tool.go
  tools/schema-gen/go.mod
  tools/schema-gen/go.sum
  tools/schema-gen/main.go
  tools/schema-gen/main_test.go
Due: none

fix(sonar): drop deleted tools/ from sonar.sources
  sonar-project.properties
Due: none

test(streaming): cover duplex response engine + tool integration
  runtime/streaming/audio.go
  runtime/streaming/audio_test.go
  runtime/streaming/collector.go
  runtime/streaming/collector_test.go
  runtime/streaming/response.go
  runtime/streaming/response_test.go
  runtime/streaming/tools.go
  runtime/streaming/tools_test.go
Due: runtime

refactor(streaming): drop unused //nolint:gocognit on ProcessResponseElement
  runtime/streaming/response.go
Due: runtime

chore(schemas): fetch schemas from promptarena instead of generating (#1558)
  .github/CODEOWNERS
  .github/dependabot.yml
  .github/workflows/ci.yml
  .github/workflows/schemas.yml
  CLAUDE.md
  CONTRIBUTING.md
  Makefile
  README.md
  codecov.yml
  docs/src/content/docs/devops/branch-protection.md
  docs/src/content/docs/reference/schema-validation.md
  go.work
  scripts/fetch-schemas.sh
  scripts/gen-schema-latest-refs.sh
  scripts/pre-commit.sh
  sonar-project.properties
  tools/schema-gen/generators/arena.go
  tools/schema-gen/generators/common.go
  tools/schema-gen/generators/eval.go
  tools/schema-gen/generators/eval_types.go
  tools/schema-gen/generators/generators_test.go
  tools/schema-gen/generators/helper.go
  tools/schema-gen/generators/logging.go
  tools/schema-gen/generators/persona.go
  tools/schema-gen/generators/promptconfig.go
  tools/schema-gen/generators/provider.go
  tools/schema-gen/generators/runtime_config.go
  tools/schema-gen/generators/scenario.go
  tools/schema-gen/generators/tool.go
  tools/schema-gen/go.mod
  tools/schema-gen/go.sum
  tools/schema-gen/main.go
  tools/schema-gen/main_test.go
Due: none

test(credentials,schema): move pure logic onto the coverage gate
  runtime/credentials/aws_integration.go
  runtime/credentials/aws_signing.go
  runtime/credentials/aws_signing_test.go
  runtime/credentials/azure.go
  runtime/credentials/azure_integration.go
  runtime/credentials/gcp.go
  runtime/credentials/gcp_integration.go
  runtime/credentials/resolver_platform.go
  runtime/prompt/schema/schema.go
  runtime/prompt/schema/schema_test.go
Due: runtime

test(sdk): cover cloud-auth selection and workflow transition logic
  sdk/conversation_test.go
  sdk/platform_credential.go
  sdk/platform_credential_integration.go
  sdk/platform_credential_test.go
  sdk/workflow_transition.go
  sdk/workflow_transition_integration.go
Due: sdk

test(mock): re-gate mock stream/tool providers and cover simulation state machine
  runtime/providers/mock/mock_streaming.go
  runtime/providers/mock/mock_streaming_simulation_test.go
  runtime/providers/mock/mock_streaming_tools.go
  runtime/providers/mock/mock_tool_provider.go
  runtime/providers/mock/mock_tool_provider_config_test.go
Due: runtime

test(pipeline/stage): coverage-gate speech/tts/duplex/video stages
  runtime/pipeline/stage/stages_duplex_provider.go
  runtime/pipeline/stage/stages_duplex_provider_session.go
  runtime/pipeline/stage/stages_duplex_provider_session_test.go
  runtime/pipeline/stage/stages_speech.go
  runtime/pipeline/stage/stages_tts.go
  runtime/pipeline/stage/stages_tts_test.go
  runtime/pipeline/stage/stages_vad_integration.go
  runtime/pipeline/stage/stages_video_frames.go
  runtime/pipeline/stage/stages_video_frames_integration.go
  runtime/pipeline/stage/stages_video_frames_readframes_test.go
Due: runtime

test(gemini): un-hide stream-session pure logic from the coverage gate
  runtime/providers/gemini/protocol.go
  runtime/providers/gemini/protocol_test.go
  runtime/providers/gemini/setup.go
  runtime/providers/gemini/setup_test.go
  runtime/providers/gemini/stream_session_integration.go
  runtime/providers/gemini/stream_session_protocol_integration.go
  runtime/providers/gemini/stream_session_test.go
  runtime/providers/gemini/stream_session_tools_integration.go
  runtime/providers/gemini/stream_session_types.go
  runtime/providers/gemini/tools.go
  runtime/providers/gemini/tools_test.go
Due: runtime

test(openai): extract pure logic from *_integration.go into gated, tested siblings
  runtime/providers/openai/openai_responses_integration.go
  runtime/providers/openai/openai_responses_integration_test.go
  runtime/providers/openai/realtime_config.go
  runtime/providers/openai/realtime_config_test.go
  runtime/providers/openai/realtime_cost.go
  runtime/providers/openai/realtime_cost_test.go
  runtime/providers/openai/realtime_session_integration.go
  runtime/providers/openai/realtime_tools_test.go
  runtime/providers/openai/realtime_websocket_integration.go
  runtime/providers/openai/responses_convert.go
  runtime/providers/openai/responses_convert_test.go
Due: runtime

test(streaming): cover duplex response engine + un-hide from coverage gate (#1559)
  runtime/streaming/audio.go
  runtime/streaming/audio_test.go
  runtime/streaming/collector.go
  runtime/streaming/collector_test.go
  runtime/streaming/response.go
  runtime/streaming/response_test.go
  runtime/streaming/tools.go
  runtime/streaming/tools_test.go
Due: runtime

test(credentials,schema): move pure logic onto the coverage gate (#1562)
  runtime/credentials/aws_integration.go
  runtime/credentials/aws_signing.go
  runtime/credentials/aws_signing_test.go
  runtime/credentials/azure.go
  runtime/credentials/azure_integration.go
  runtime/credentials/gcp.go
  runtime/credentials/gcp_integration.go
  runtime/credentials/resolver_platform.go
  runtime/prompt/schema/schema.go
  runtime/prompt/schema/schema_test.go
Due: runtime

test(sdk): cover cloud-auth selection and workflow transition logic (#1563)
  sdk/conversation_test.go
  sdk/platform_credential.go
  sdk/platform_credential_integration.go
  sdk/platform_credential_test.go
  sdk/workflow_transition.go
  sdk/workflow_transition_integration.go
Due: sdk

test(mock): re-gate mock stream/tool providers and cover simulation state machine (#1564)
  runtime/providers/mock/mock_streaming.go
  runtime/providers/mock/mock_streaming_simulation_test.go
  runtime/providers/mock/mock_streaming_tools.go
  runtime/providers/mock/mock_tool_provider.go
  runtime/providers/mock/mock_tool_provider_config_test.go
Due: runtime

test(gemini): un-hide stream-session pure logic from the coverage gate (#1565)
  runtime/providers/gemini/protocol.go
  runtime/providers/gemini/protocol_test.go
  runtime/providers/gemini/setup.go
  runtime/providers/gemini/setup_test.go
  runtime/providers/gemini/stream_session_integration.go
  runtime/providers/gemini/stream_session_protocol_integration.go
  runtime/providers/gemini/stream_session_test.go
  runtime/providers/gemini/stream_session_tools_integration.go
  runtime/providers/gemini/stream_session_types.go
  runtime/providers/gemini/tools.go
  runtime/providers/gemini/tools_test.go
Due: runtime

test(pipeline/stage): coverage-gate speech/tts/duplex/video stages (#1566)
  runtime/pipeline/stage/stages_duplex_provider.go
  runtime/pipeline/stage/stages_duplex_provider_session.go
  runtime/pipeline/stage/stages_duplex_provider_session_test.go
  runtime/pipeline/stage/stages_speech.go
  runtime/pipeline/stage/stages_tts.go
  runtime/pipeline/stage/stages_tts_test.go
  runtime/pipeline/stage/stages_vad_integration.go
  runtime/pipeline/stage/stages_video_frames.go
  runtime/pipeline/stage/stages_video_frames_integration.go
  runtime/pipeline/stage/stages_video_frames_readframes_test.go
Due: runtime
