Repository AltairaLabs/PromptKit: changes, and which Codecov flags are due for each by the changed paths.
All: runtime, sdk, arena, packc, inspect-state

refactor(arena): extract schema-gen boilerplate into shared generator helper (#484) (#503)
  tools/schema-gen/generators/arena.go
  tools/schema-gen/generators/common.go
  tools/schema-gen/generators/eval.go
  tools/schema-gen/generators/generators_test.go
  tools/schema-gen/generators/helper.go
  tools/schema-gen/generators/logging.go
  tools/schema-gen/generators/persona.go
  tools/schema-gen/generators/promptconfig.go
  tools/schema-gen/generators/provider.go
  tools/schema-gen/generators/scenario.go
  tools/schema-gen/generators/tool.go
  tools/schema-gen/main.go
Due: none

refactor(events): consolidate lifecycle event data structs with type aliases (#482)
  runtime/events/emitter.go
  runtime/events/media_timeline.go
  runtime/events/store.go
  runtime/events/store_test.go
  runtime/events/types.go
  runtime/events/types_test.go
  runtime/recording/recording.go
  runtime/recording/recording_test.go
  tools/arena/tui/event_adapter.go
  tools/arena/tui/logging/interceptor.go
  tools/arena/tui/pages/conversation.go
  tools/arena/tui/tui.go
  tools/arena/tui/tui_test.go
  tools/arena/tui/views/logs.go
Due: runtime, arena

refactor(events): consolidate lifecycle event data structs with type aliases (#482) (#508)
  runtime/events/emitter.go
  runtime/events/media_timeline.go
  runtime/events/store.go
  runtime/events/store_test.go
  runtime/events/types.go
  runtime/events/types_test.go
  runtime/recording/recording.go
  runtime/recording/recording_test.go
  tools/arena/tui/event_adapter.go
  tools/arena/tui/logging/interceptor.go
  tools/arena/tui/pages/conversation.go
  tools/arena/tui/tui.go
  tools/arena/tui/tui_test.go
  tools/arena/tui/views/logs.go
Due: runtime, arena

perf(statestore): replace JSON deep copy with structural cloning (#507)
  runtime/statestore/memory.go
  runtime/statestore/memory_bench_test.go
  runtime/statestore/memory_test.go
  runtime/statestore/redis.go
Due: runtime

refactor(sdk): extract pipeline builder to reduce Open/OpenDuplex duplication
  sdk/conversation.go
Due: sdk

fix(sdk): prevent goroutine leak in streaming A2A server
  sdk/a2a_server_stream.go
  sdk/a2a_server_stream_test.go
Due: sdk

refactor(runtime): extract generic mergeSpecs helper
  pkg/config/loader.go
Due: none

refactor(runtime): deduplicate tool extraction logic
  commit-msg.txt
  tools/arena/assertions/context_builder.go
  tools/arena/assertions/tool_result_matcher.go
  tools/arena/assertions/tool_result_matcher_test.go
  tools/arena/assertions/turn_tool_trace.go
Due: arena

refactor(runtime): extract provider constructor factory
  runtime/providers/base_provider.go
  runtime/providers/base_provider_test.go
  runtime/providers/claude/claude.go
  runtime/providers/claude/claude_tools.go
  runtime/providers/gemini/gemini.go
  runtime/providers/gemini/gemini_tools.go
  runtime/providers/openai/openai.go
  runtime/providers/openai/openai_tools.go
  runtime/providers/registry.go
  runtime/providers/registry_extended_test.go
Due: runtime

refactor(sdk): extract pipeline builder to reduce Open/OpenDuplex duplication (#512)
  sdk/conversation.go
Due: sdk

fix(sdk): prevent goroutine leak in streaming A2A server (#514)
  sdk/a2a_server_stream.go
  sdk/a2a_server_stream_test.go
Due: sdk

refactor(runtime): extract generic mergeSpecs helper (#515)
  pkg/config/loader.go
Due: none

refactor(runtime): deduplicate tool extraction logic (#516)
  commit-msg.txt
  tools/arena/assertions/context_builder.go
  tools/arena/assertions/tool_result_matcher.go
  tools/arena/assertions/tool_result_matcher_test.go
  tools/arena/assertions/turn_tool_trace.go
Due: arena

refactor(runtime): extract provider constructor factory (#520)
  runtime/providers/base_provider.go
  runtime/providers/base_provider_test.go
  runtime/providers/claude/claude.go
  runtime/providers/claude/claude_tools.go
  runtime/providers/gemini/gemini.go
  runtime/providers/gemini/gemini_tools.go
  runtime/providers/openai/openai.go
  runtime/providers/openai/openai_tools.go
  runtime/providers/registry.go
  runtime/providers/registry_extended_test.go
Due: runtime

perf(runtime): add Redis command pipelining for state store
  runtime/statestore/redis.go
  runtime/statestore/types.go
Due: runtime

refactor: unify duplicate type definitions across packages (#479)
  runtime/tools/mcp_executor.go
  runtime/tools/registry.go
  runtime/tools/repository_executor.go
  runtime/tools/types.go
  runtime/tools/validator.go
  tools/arena/tui/event_adapter.go
  tools/arena/tui/messages.go
  tools/arena/tui/tui.go
Due: runtime, arena

refactor(arena): move test-only files to _test.go convention (#487)
  tools/arena/cmd/promptarena/schema_disable_init_test.go
  tools/arena/cmd/promptarena/test_helpers_test.go
  tools/arena/engine/init_test.go
  tools/arena/engine/test_helpers_test.go
Due: none

refactor: unify duplicate type definitions across packages (#479) (#509)
  runtime/tools/mcp_executor.go
  runtime/tools/registry.go
  runtime/tools/repository_executor.go
  runtime/tools/types.go
  runtime/tools/validator.go
  tools/arena/tui/event_adapter.go
  tools/arena/tui/messages.go
  tools/arena/tui/tui.go
Due: runtime, arena

refactor(arena): move test-only files to _test.go convention (#487) (#510)
  tools/arena/cmd/promptarena/schema_disable_init_test.go
  tools/arena/cmd/promptarena/test_helpers_test.go
  tools/arena/engine/init_test.go
  tools/arena/engine/test_helpers_test.go
Due: none

perf(runtime): add Redis command pipelining for state store (#517)
  runtime/statestore/redis.go
  runtime/statestore/types.go
Due: runtime

fix(arena): disable schema validation in markdown result tests
  tools/arena/results/markdown/init_test.go
Due: none

fix(arena): disable schema validation in markdown result tests (#521)
  tools/arena/results/markdown/init_test.go
Due: none

perf(sdk): add PackTemplate to reduce per-conversation allocation overhead (#499)
  sdk/conversation.go
  sdk/internal/pipeline/builder.go
  sdk/template.go
  sdk/template_test.go
Due: sdk

fix(sdk): resolve duplicate roleAssistant constant after rebase
  sdk/conversation.go
Due: sdk

test(sdk): add OpenDuplex and initSession coverage for PackTemplate
  sdk/template_test.go
Due: none

test(runtime): add applyResponseFormat coverage for Gemini provider
  runtime/providers/gemini/gemini_test.go
Due: none

refactor(runtime): standardize Gemini provider field naming
  runtime/providers/gemini/gemini.go
  runtime/providers/gemini/gemini_helpers_test.go
  runtime/providers/gemini/gemini_multimodal.go
  runtime/providers/gemini/gemini_streaming.go
  runtime/providers/gemini/gemini_test.go
  runtime/providers/gemini/gemini_tools.go
  runtime/providers/gemini/streaming_support.go
  runtime/providers/gemini/streaming_support_test.go
Due: runtime

fix(sdk): eliminate data race in A2AServer Serve/Shutdown
  sdk/a2a_server.go
  sdk/a2a_server_test.go
Due: sdk

perf(sdk): add configurable timeouts to A2A server
  sdk/a2a_server.go
  sdk/a2a_server_test.go
Due: sdk

test(sdk): add ListenAndServe and Shutdown coverage for A2AServer
  sdk/a2a_server_test.go
Due: none

test(runtime): add streaming support coverage for Gemini provider
  runtime/providers/gemini/gemini.go
  runtime/providers/gemini/gemini_test.go
  runtime/providers/gemini/streaming_support.go
  runtime/providers/gemini/streaming_support_test.go
Due: runtime

refactor(runtime): standardize Gemini provider field naming (#511)
  runtime/providers/gemini/gemini.go
  runtime/providers/gemini/gemini_helpers_test.go
  runtime/providers/gemini/gemini_multimodal.go
  runtime/providers/gemini/gemini_streaming.go
  runtime/providers/gemini/gemini_test.go
  runtime/providers/gemini/gemini_tools.go
  runtime/providers/gemini/streaming_support.go
  runtime/providers/gemini/streaming_support_test.go
Due: runtime

perf(sdk): add PackTemplate to reduce per-conversation allocation overhead (#506)
  sdk/conversation.go
  sdk/internal/pipeline/builder.go
  sdk/template.go
  sdk/template_test.go
Due: sdk

perf(sdk): add configurable timeouts to A2A server (#513)
  sdk/a2a_server.go
  sdk/a2a_server_test.go
Due: sdk

feat(events): add worker pool, buffered channels, and listener cleanup to EventBus (#496)
  runtime/events/bus.go
  runtime/events/bus_test.go
Due: runtime

refactor(sdk): extract requireDuplex/requireUnary validation helpers
  sdk/conversation.go
  sdk/streaming.go
Due: sdk

Path conditions:
  runtime: any of: runtime/, but not: **/*_test.go, **/*_interactive.go, **/*_integration.go, examples/, docs/, scripts/, .github/, *.md
  sdk: any of: sdk/, but not: **/*_test.go, **/*_interactive.go, **/*_integration.go, examples/, docs/, scripts/, .github/, *.md
  arena: any of: tools/arena/, but not: **/*_test.go, **/*_interactive.go, **/*_integration.go, examples/, docs/, scripts/, .github/, *.md
  packc: any of: tools/packc/, but not: **/*_test.go, **/*_interactive.go, **/*_integration.go, examples/, docs/, scripts/, .github/, *.md
  inspect-state: any of: tools/inspect-state/, but not: **/*_test.go, **/*_interactive.go, **/*_integration.go, examples/, docs/, scripts/, .github/, *.md
