Repository AltairaLabs/PromptKit: changes, and which Codecov flags are due for each by the changed paths.
All: runtime, sdk, arena, packc, inspect-state

codecov.yml:

codecov:
  require_ci_to_pass: yes
  notify:
    wait_for_ci: yes

coverage:
  precision: 2
  round: down
  range: "70...100"
  
  status:
    project:
      default:
        target: 70%
        threshold: 1%
        if_ci_failed: error
    patch:
      default:
        target: 70%
        threshold: 1%
        if_ci_failed: error

comment:
  layout: "reach,diff,flags,tree"
  behavior: default
  require_changes: false

flags:
  runtime:
    paths:
      - runtime/
  sdk:
    paths:
      - sdk/
  arena:
    paths:
      - tools/arena/
  packc:
    paths:
      - tools/packc/
  inspect-state:
    paths:
      - tools/inspect-state/

ignore:
  - "**/*_test.go"
  - "**/*_interactive.go"
  - "**/*_integration.go"
  - "examples/"
  - "docs/"
  - "scripts/"
  - ".github/"
  - "*.md"

feat: composable streaming pipeline with WithIngestion duplex-agent path (#1612)
  runtime/audio/doc.go
  runtime/audio/g711.go
  runtime/audio/g711_test.go
  runtime/pipeline/stage/builder.go
  runtime/pipeline/stage/builder_test.go
  runtime/pipeline/stage/errors.go
  runtime/pipeline/stage/pipeline.go
  runtime/pipeline/stage/pipeline_fanin_test.go
  runtime/pipeline/stage/pipeline_fanout_test.go
  runtime/pipeline/stage/pipeline_internal_test.go
  runtime/pipeline/stage/stage.go
  runtime/pipeline/stage/stages_advanced_test.go
  runtime/providers/streaming.go
  sdk/conversation.go
  sdk/ingestion_perturn_test.go
  sdk/ingestion_test.go
  sdk/internal/pipeline/builder.go
  sdk/internal/pipeline/builder_vad.go
  sdk/internal/pipeline/builder_vad_test.go
  sdk/internal/pipeline/ingestion_test.go
  sdk/options.go
  sdk/sdk.go
  sdk/session/duplex_session.go
  sdk/template.go
Due: runtime, sdk

docs(reference): regenerate runtime + SDK reference for composable pipeline APIs
  docs/src/content/docs/runtime/reference/audio.md
  docs/src/content/docs/runtime/reference/pipeline.md
  docs/src/content/docs/runtime/reference/providers.md
  docs/src/content/docs/sdk/reference/conversation-manager.md
Due: none

docs(reference): regenerate runtime + SDK reference for composable pipeline APIs (#1613)
  docs/src/content/docs/runtime/reference/audio.md
  docs/src/content/docs/runtime/reference/pipeline.md
  docs/src/content/docs/runtime/reference/providers.md
  docs/src/content/docs/sdk/reference/conversation-manager.md
Due: none

fix(sdk): execute local tool handlers registered after OpenDuplex
  sdk/conversation.go
  sdk/tool_executors.go
  sdk/tool_executors_test.go
Due: sdk

fix(sdk): execute local tool handlers registered after OpenDuplex (#1614)
  sdk/conversation.go
  sdk/tool_executors.go
  sdk/tool_executors_test.go
Due: sdk

fix(pipeline): time audio turns by sample count, not wall-clock
  runtime/pipeline/stage/audio_turn_stage_test.go
  runtime/pipeline/stage/audioturn_audiotime_test.go
  runtime/pipeline/stage/stages_speech.go
Due: runtime

fix(pipeline): time audio turns by sample count, not wall-clock (#1616)
  runtime/pipeline/stage/audio_turn_stage_test.go
  runtime/pipeline/stage/audioturn_audiotime_test.go
  runtime/pipeline/stage/stages_speech.go
Due: runtime

fix(pipeline): trim leading silence before sending a turn to STT
  runtime/pipeline/stage/audioturn_trim_test.go
  runtime/pipeline/stage/stages_speech.go
Due: runtime

fix(pipeline): trim leading silence before sending a turn to STT (#1617)
  runtime/pipeline/stage/audioturn_trim_test.go
  runtime/pipeline/stage/stages_speech.go
Due: runtime

perf(audio): benchmark memory retention and per-chunk churn on the audio path
  Makefile
  runtime/audio/resample_memory_bench_test.go
  runtime/audio/silence_memory_bench_test.go
  runtime/pipeline/stage/audioturn_memory_bench_test.go
  runtime/pipeline/stage/audioturn_trim_test.go
Due: none

perf(audio): benchmark memory retention and per-chunk churn on the audio path (#1618)
  Makefile
  runtime/audio/resample_memory_bench_test.go
  runtime/audio/silence_memory_bench_test.go
  runtime/pipeline/stage/audioturn_memory_bench_test.go
  runtime/pipeline/stage/audioturn_trim_test.go
Due: none

perf(audio): amortize SilenceDetector buffer trim instead of memmoving per chunk
  runtime/audio/silence.go
  runtime/audio/silence_trim_test.go
Due: runtime

perf(audio): amortize SilenceDetector buffer trim instead of memmoving per chunk (#1619)
  runtime/audio/silence.go
  runtime/audio/silence_trim_test.go
Due: runtime

fix(pipeline): bound AudioTurnStage retention on the no-speech path
  runtime/pipeline/stage/audioturn_retention_test.go
  runtime/pipeline/stage/stages_speech.go
Due: runtime

fix(pipeline): bound AudioTurnStage retention on the no-speech path (#1620)
  runtime/pipeline/stage/audioturn_retention_test.go
  runtime/pipeline/stage/stages_speech.go
Due: runtime

fix(audio): honor configured sample rate in VAD; don't arm turns on unconfirmed speech
  runtime/audio/silence.go
  runtime/audio/silence_noise_test.go
  runtime/audio/vad_state_machine.go
  runtime/pipeline/stage/audioturn_samplerate_test.go
  runtime/pipeline/stage/stages_speech.go
Due: runtime

fix(audio): make TurnDetector integration work end to end
  runtime/audio/adaptive_vad.go
  runtime/audio/silence.go
  runtime/audio/simple_vad.go
  runtime/audio/vad_audiotime_test.go
  runtime/audio/vad_state_machine.go
  runtime/pipeline/stage/audioturn_turndetector_test.go
  runtime/pipeline/stage/stages_speech.go
Due: runtime

fix(audio): make TurnDetector integration work end to end (#1621)
  runtime/audio/adaptive_vad.go
  runtime/audio/silence.go
  runtime/audio/silence_noise_test.go
  runtime/audio/simple_vad.go
  runtime/audio/vad_audiotime_test.go
  runtime/audio/vad_state_machine.go
  runtime/pipeline/stage/audioturn_samplerate_test.go
  runtime/pipeline/stage/audioturn_turndetector_test.go
  runtime/pipeline/stage/stages_speech.go
Due: runtime

fix(pipeline): bound pre-session input buffer; preallocate track audio export
  runtime/events/media_timeline.go
  runtime/pipeline/stage/presession_buffer.go
  runtime/pipeline/stage/presession_buffer_test.go
  runtime/pipeline/stage/stages_duplex_provider_session.go
Due: runtime

fix(pipeline): bound pre-session input buffer; preallocate track audio export (#1622)
  runtime/events/media_timeline.go
  runtime/pipeline/stage/presession_buffer.go
  runtime/pipeline/stage/presession_buffer_test.go
  runtime/pipeline/stage/stages_duplex_provider_session.go
Due: runtime

fix(pipeline): don't emit a speechless remainder once a turn has been emitted
  runtime/pipeline/stage/audioturn_remainder_test.go
  runtime/pipeline/stage/stages_speech.go
Due: runtime

fix(pipeline): don't emit a speechless remainder once a turn has been emitted (#1623)
  runtime/pipeline/stage/audioturn_remainder_test.go
  runtime/pipeline/stage/stages_speech.go
Due: runtime

fix(audio): default AudioTurnStage to AdaptiveVAD; release promptly on silence
  runtime/audio/adaptive_vad.go
  runtime/audio/adaptive_vad_release_test.go
  runtime/audio/vad_comparison_test.go
  runtime/pipeline/stage/audioturn_defaultvad_test.go
  runtime/pipeline/stage/stages_speech.go
Due: runtime

fix(audio): default ResponseVAD to AdaptiveVAD; deprecate SimpleVAD
  runtime/audio/doc.go
  runtime/audio/simple_vad.go
  runtime/audio/vad_tts_comparison_test.go
  runtime/pipeline/stage/response_vad_quiet_test.go
  runtime/pipeline/stage/stages_speech.go
  sdk/examples/vad-demo/README.md
  sdk/examples/vad-demo/main_interactive.go
Due: runtime, sdk

feat(sdk): add WithVAD so callers can supply their own voice activity detector
  docs/src/content/docs/sdk/reference/conversation-manager.md
  sdk/conversation.go
  sdk/examples/vad-demo/README.md
  sdk/options.go
  sdk/vad_option_test.go
Due: sdk

docs(reference): regenerate runtime reference for the VAD changes
  docs/src/content/docs/runtime/reference/audio.md
  docs/src/content/docs/runtime/reference/pipeline.md
Due: none

fix(audio): default AudioTurnStage to AdaptiveVAD; release promptly on silence (#1632)
  docs/src/content/docs/runtime/reference/audio.md
  docs/src/content/docs/runtime/reference/pipeline.md
  docs/src/content/docs/sdk/reference/conversation-manager.md
  runtime/audio/adaptive_vad.go
  runtime/audio/adaptive_vad_release_test.go
  runtime/audio/doc.go
  runtime/audio/simple_vad.go
  runtime/audio/vad_comparison_test.go
  runtime/audio/vad_tts_comparison_test.go
  runtime/pipeline/stage/audioturn_defaultvad_test.go
  runtime/pipeline/stage/response_vad_quiet_test.go
  runtime/pipeline/stage/stages_speech.go
  sdk/conversation.go
  sdk/examples/vad-demo/README.md
  sdk/examples/vad-demo/main_interactive.go
  sdk/options.go
  sdk/vad_option_test.go
Due: runtime, sdk

fix(pipeline): STTStage emits a Message so transcripts reach the model
  runtime/pipeline/stage/stages_speech.go
  runtime/pipeline/stage/stt_to_provider_test.go
Due: runtime

fix(pipeline): STTStage emits a Message so transcripts reach the model (#1636)
  runtime/pipeline/stage/stages_speech.go
  runtime/pipeline/stage/stt_to_provider_test.go
Due: runtime

test(pipeline): remove the environment-dependent ResponseVAD playback test
  runtime/pipeline/stage/response_vad_quiet_test.go
Due: none

feat(pipeline): export WithNamePrefix for multi-branch stage graphs
  docs/src/content/docs/runtime/reference/pipeline.md
  runtime/pipeline/stage/rename.go
  runtime/pipeline/stage/rename_test.go
  sdk/internal/pipeline/builder_vad.go
Due: runtime, sdk

test(pipeline): remove the environment-dependent ResponseVAD playback test (#1640)
  runtime/pipeline/stage/response_vad_quiet_test.go
Due: none

feat(pipeline): export WithNamePrefix for multi-branch stage graphs (#1641)
  docs/src/content/docs/runtime/reference/pipeline.md
  runtime/pipeline/stage/rename.go
  runtime/pipeline/stage/rename_test.go
  sdk/internal/pipeline/builder_vad.go
Due: runtime, sdk

fix(events): emit EventAudioTranscription from STTStage
  docs/src/content/docs/runtime/reference/pipeline.md
  runtime/events/emitter.go
  runtime/pipeline/stage/stages_speech.go
  runtime/pipeline/stage/stt_events_test.go
Due: runtime

test(events): unit-test the transcription emitter payload
  runtime/events/emitter_test.go
Due: none

fix(events): emit EventAudioTranscription from STTStage (#1639)
  docs/src/content/docs/runtime/reference/pipeline.md
  runtime/events/emitter.go
  runtime/events/emitter_test.go
  runtime/pipeline/stage/stages_speech.go
  runtime/pipeline/stage/stt_events_test.go
Due: runtime

fix(sdk): admit text-only providers to OpenDuplex in VAD mode
  sdk/sdk.go
  sdk/vad_duplex_gate_test.go
Due: sdk

fix(sdk,pipeline): duplex Close drains promptly instead of timing out
  runtime/pipeline/stage/provider_endofstream_test.go
  runtime/pipeline/stage/stages_provider.go
  sdk/duplex_drain_test.go
  sdk/session/duplex_session.go
Due: runtime, sdk

fix(sdk,pipeline): duplex Close drains promptly instead of timing out (#1643)
  runtime/pipeline/stage/provider_endofstream_test.go
  runtime/pipeline/stage/stages_provider.go
  sdk/duplex_drain_test.go
  sdk/session/duplex_session.go
Due: runtime, sdk

docs(sdk): regenerate SDK reference for OpenDuplex provider requirements
  docs/src/content/docs/sdk/reference/conversation-manager.md
Due: none
