Repository AltairaLabs/PromptKit: changes, and which Codecov flags are due for each by the changed paths.
All: runtime, sdk, arena, packc, inspect-state

codecov.yml:

codecov:
  require_ci_to_pass: yes
  notify:
    wait_for_ci: yes

coverage:
  precision: 2
  round: down
  range: "70...100"
  
  status:
    project:
      default:
        target: 70%
        threshold: 1%
        if_ci_failed: error
    patch:
      default:
        target: 70%
        threshold: 1%
        if_ci_failed: error

comment:
  layout: "reach,diff,flags,tree"
  behavior: default
  require_changes: false

flags:
  runtime:
    paths:
      - runtime/
  sdk:
    paths:
      - sdk/
  arena:
    paths:
      - tools/arena/
  packc:
    paths:
      - tools/packc/
  inspect-state:
    paths:
      - tools/inspect-state/

ignore:
  - "**/*_test.go"
  - "**/*_interactive.go"
  - "**/*_integration.go"
  - "examples/"
  - "docs/"
  - "scripts/"
  - ".github/"
  - "*.md"

feat(arena): pass runtime config through under `runtime:` + wire config session hooks
  pkg/config/types.go
  runtime/hooks/exec_build.go
  runtime/hooks/exec_build_test.go
  schemas/v1alpha1/arena.json
  sdk/runtime_config.go
  sdk/runtime_config_test.go
  tools/arena/agentkb/schemas/arena.json
  tools/arena/engine/engine.go
  tools/arena/engine/mcpsource_scope.go
  tools/arena/engine/runtime_hooks.go
  tools/arena/engine/runtime_hooks_test.go
  tools/arena/mcpsource/docker/source.go
  tools/arena/mcpsource/source.go
Due: runtime, sdk, arena

feat(arena): workspace-capture as a regular runtime exec SessionHook
  examples/test-a-codegen-agent/mock.arena.yaml
  examples/test-a-codegen-agent/tools/capture-workspace.sh
  tools/arena/engine/engine.go
  tools/arena/engine/execution.go
  tools/arena/engine/execution_mcpsource.go
  tools/arena/engine/sandbox_context_test.go
Due: arena

fix(providers): cache the system prompt on the Claude tools paths
  runtime/providers/claude/caching_integration_test.go
  runtime/providers/claude/claude_tools.go
Due: runtime

fix(providers): capture Gemini cached tokens on the non-streaming paths
  runtime/providers/gemini/gemini.go
  runtime/providers/gemini/gemini_cache_test.go
  runtime/providers/gemini/gemini_tools.go
Due: runtime

feat(arena): link hook-declared artifacts (captured workspace) in the HTML report
  examples/test-a-codegen-agent/tools/capture-workspace.sh
  tools/arena/render/artifacts_test.go
  tools/arena/render/html.go
  tools/arena/render/templates/report.html.tmpl
Due: arena

feat(arena): per-run Artifacts section in the HTML report (name/description/link)
  examples/test-a-codegen-agent/tools/capture-workspace.sh
  tools/arena/render/artifacts_test.go
  tools/arena/render/html.go
  tools/arena/render/templates/report.html.tmpl
Due: arena

refactor(arena): Arena owns the artifacts base path, hooks declare name/description/filename
  examples/test-a-codegen-agent/config.arena.yaml
  examples/test-a-codegen-agent/mock.arena.yaml
  examples/test-a-codegen-agent/tools/capture-workspace.sh
  tools/arena/cmd/promptarena/run_interactive.go
  tools/arena/engine/engine.go
  tools/arena/engine/execution.go
  tools/arena/render/artifacts_test.go
  tools/arena/render/html.go
Due: arena

feat(arena): abstract artifact persistence behind a Store (local backend)
  examples/test-a-codegen-agent/tools/capture-workspace.sh
  tools/arena/artifacts/artifacts.go
  tools/arena/artifacts/artifacts_test.go
  tools/arena/engine/engine.go
  tools/arena/engine/execution.go
  tools/arena/render/artifacts_test.go
  tools/arena/render/html.go
Due: arena

fix(runtime): never crash on an empty json.RawMessage (tool args/schemas)
  runtime/providers/claude/claude_tools.go
  runtime/providers/gemini/gemini_tools.go
  runtime/providers/ollama/ollama_tools.go
  runtime/providers/openai/openai_tools.go
  runtime/providers/vllm/vllm_tools.go
  runtime/tools/raw_message_marshal.go
  runtime/tools/raw_message_marshal_test.go
  runtime/types/message.go
  runtime/types/raw_message_test.go
Due: runtime

fix(arena): contain run panics and always fire OnSessionEnd (capture state on crash)
  tools/arena/engine/execution.go
  tools/arena/engine/panic_recovery_test.go
Due: arena

fix(runtime,arena): recover panics in streaming goroutines so they can't crash the process
  runtime/providers/base_provider.go
  runtime/safe/safe.go
  runtime/safe/safe_test.go
  tools/arena/engine/conversation_executor.go
  tools/arena/engine/eval_conversation_executor.go
  tools/arena/turnexecutors/scripted_executor.go
  tools/arena/turnexecutors/selfplay_executor.go
Due: runtime, arena

fix(providers): guard gemini empty candidates/parts (no index-out-of-range)
  runtime/providers/gemini/gemini_multimodal.go
Due: runtime

fix(arena): isolate report/save failures so one bad item can't lose the batch
  tools/arena/render/html.go
  tools/arena/results/json/json_repository.go
Due: arena

fix(runtime): treat truncated tool args like empty in NormalizeRawMessage
  runtime/providers/claude/claude_tools.go
  runtime/types/message.go
  runtime/types/raw_message_test.go
Due: runtime

fix(runtime): deterministic tool order so prompt caching engages (was re-billing full context every round)
  runtime/pipeline/stage/caching_stall_test.go
  runtime/pipeline/stage/stages_provider.go
  runtime/pipeline/stage/tool_order_determinism_test.go
  runtime/providers/claude/claude_caching_request_test.go
Due: runtime

fix(providers): correct claude pricing for current models (haiku-4-5 was billed as sonnet, 3x)
  runtime/providers/claude/claude.go
  runtime/providers/claude/claude_pricing_test.go
Due: runtime

fix(runtime): gate caching-stall warning on provider caching support (no false alarms)
  runtime/pipeline/stage/caching_stall_test.go
  runtime/pipeline/stage/stages_provider.go
  runtime/providers/claude/claude.go
Due: runtime

fix(providers): roll the claude cache breakpoint to the last message (cache the growing history)
  runtime/providers/claude/claude_caching_request_test.go
  runtime/providers/claude/claude_tools.go
Due: runtime

chore(example): codegen agent on sonnet + a $0.50 cost cap on refund-assistant
  examples/test-a-codegen-agent/providers/claude.provider.yaml
  examples/test-a-codegen-agent/scenarios/refund-assistant.scenario.yaml
Due: none

feat(providers): advertise prompt-caching support on openai and gemini
  runtime/providers/gemini/gemini.go
  runtime/providers/openai/openai.go
Due: runtime

chore(example): codegen agent multi-provider (claude/openai/gemini) for caching verification
  examples/test-a-codegen-agent/config.arena.yaml
  examples/test-a-codegen-agent/providers/openai.provider.yaml
Due: none

feat(runtime): self-correct identical tool-call loops once before aborting
  runtime/pipeline/stage/stages_provider.go
  runtime/pipeline/stage/stages_provider_test.go
Due: runtime

fix(ci): exclude testdata fixtures from example arena-config validation
  .github/workflows/schemas.yml
Due: none

fix(ci): exclude testdata fixtures from example arena-config validation (#1403)
  .github/workflows/schemas.yml
Due: none

refactor(claude): consolidate the parallel request builders into one (#1379)
  runtime/providers/claude/claude.go
  runtime/providers/claude/claude_bedrock_streaming_test.go
  runtime/providers/claude/claude_caching_request_test.go
  runtime/providers/claude/claude_streaming.go
  runtime/providers/claude/claude_test.go
  runtime/providers/claude/claude_tools.go
  runtime/providers/claude/claude_tools_test.go
  runtime/providers/claude/request_golden_test.go
  runtime/providers/claude/testdata/golden/marshal_bedrock_request.json
  runtime/providers/claude/testdata/golden/marshal_bedrock_streaming_request.json
  runtime/providers/claude/testdata/golden/predict_direct.json
  runtime/providers/claude/testdata/golden/predict_stream_direct.json
  runtime/providers/claude/testdata/golden/predict_stream_tools_direct.json
  runtime/providers/claude/testdata/golden/predict_tools_direct.json
  runtime/providers/claude/unsupported_params_test.go
  runtime/providers/claude/vertex_unit_test.go
Due: runtime

fix(deploy): stream apply/destroy progress events to the CLI
  runtime/deploy/adaptersdk/serve.go
  runtime/deploy/adaptersdk/serve_test.go
  runtime/deploy/client.go
  tools/arena/cmd/promptarena/deploy_interactive.go
Due: runtime

feat(deploy): register the omnia adapter in the install registry
  tools/arena/cmd/promptarena/deploy_adapter_interactive.go
Due: none

feat(deploy): stream apply/destroy progress + register omnia adapter (#1406)
  runtime/deploy/adaptersdk/serve.go
  runtime/deploy/adaptersdk/serve_test.go
  runtime/deploy/client.go
  tools/arena/cmd/promptarena/deploy_adapter_interactive.go
  tools/arena/cmd/promptarena/deploy_interactive.go
Due: runtime

fix(claude): preserve output_config on partner non-streaming Predict (#1379)
  runtime/providers/claude/claude.go
  runtime/providers/claude/claude_bedrock_streaming_test.go
  runtime/providers/claude/claude_streaming.go
  runtime/providers/claude/claude_test.go
  runtime/providers/claude/claude_tools.go
  runtime/providers/claude/request_golden_test.go
  runtime/providers/claude/testdata/golden/partner_request_nonstreaming.json
  runtime/providers/claude/testdata/golden/partner_request_streaming.json
  runtime/providers/claude/vertex_unit_test.go
Due: runtime

refactor(claude): consolidate the parallel request builders into one (#1379) (#1405)
  runtime/providers/claude/claude.go
  runtime/providers/claude/claude_bedrock_streaming_test.go
  runtime/providers/claude/claude_caching_request_test.go
  runtime/providers/claude/claude_streaming.go
  runtime/providers/claude/claude_test.go
  runtime/providers/claude/claude_tools.go
  runtime/providers/claude/claude_tools_test.go
  runtime/providers/claude/request_golden_test.go
  runtime/providers/claude/testdata/golden/partner_request_nonstreaming.json
  runtime/providers/claude/testdata/golden/partner_request_streaming.json
  runtime/providers/claude/testdata/golden/predict_direct.json
  runtime/providers/claude/testdata/golden/predict_stream_direct.json
  runtime/providers/claude/testdata/golden/predict_stream_tools_direct.json
  runtime/providers/claude/testdata/golden/predict_tools_direct.json
  runtime/providers/claude/unsupported_params_test.go
  runtime/providers/claude/vertex_unit_test.go
Due: runtime

feat(gemini): explicit context caching to eliminate implicit-cache warmup (#1404)
  runtime/providers/gemini/gemini.go
  runtime/providers/gemini/gemini_cache.go
  runtime/providers/gemini/gemini_explicit_cache_live_test.go
  runtime/providers/gemini/gemini_explicit_cache_test.go
  runtime/providers/gemini/gemini_streaming.go
  runtime/providers/gemini/gemini_tool_choice_test.go
  runtime/providers/gemini/gemini_tools.go
  runtime/providers/gemini/gemini_tools_edge_cases_test.go
  runtime/providers/gemini/gemini_tools_test.go
Due: runtime

test(gemini): clarify the live-test output cap is a ceiling, not a tuned fudge
  runtime/providers/gemini/gemini_explicit_cache_live_test.go
Due: none

feat(gemini): thinking-model support — thinking_budget, include_thoughts, graceful cap (#1404)
  runtime/providers/gemini/gemini.go
  runtime/providers/gemini/gemini_explicit_cache_live_test.go
  runtime/providers/gemini/gemini_integration_test.go
  runtime/providers/gemini/gemini_thinking.go
  runtime/providers/gemini/gemini_thinking_test.go
  runtime/providers/gemini/gemini_tools.go
  runtime/providers/gemini/gemini_tools_edge_cases_test.go
Due: runtime

docs(gemini): thinking opt-out rationale + caching/thinking config reference (#1404)
  docs/src/content/docs/runtime/reference/providers.md
  runtime/providers/gemini/gemini_thinking.go
Due: runtime

feat(gemini): explicit context caching to eliminate implicit-cache warmup (#1404) (#1411)
  docs/src/content/docs/runtime/reference/providers.md
  runtime/providers/gemini/gemini.go
  runtime/providers/gemini/gemini_cache.go
  runtime/providers/gemini/gemini_explicit_cache_live_test.go
  runtime/providers/gemini/gemini_explicit_cache_test.go
  runtime/providers/gemini/gemini_integration_test.go
  runtime/providers/gemini/gemini_streaming.go
  runtime/providers/gemini/gemini_thinking.go
  runtime/providers/gemini/gemini_thinking_test.go
  runtime/providers/gemini/gemini_tool_choice_test.go
  runtime/providers/gemini/gemini_tools.go
  runtime/providers/gemini/gemini_tools_edge_cases_test.go
  runtime/providers/gemini/gemini_tools_test.go
Due: runtime

feat(gemini): explicit context caching on Vertex AI (follow-up to #1404)
  docs/src/content/docs/runtime/reference/providers.md
  runtime/providers/gemini/gemini_cache.go
  runtime/providers/gemini/gemini_explicit_cache_test.go
  runtime/providers/gemini/gemini_vertex_cache_live_test.go
  runtime/providers/gemini/gemini_vertex_cache_test.go
Due: runtime

feat(gemini): explicit context caching on Vertex AI (follow-up to #1404) (#1412)
  docs/src/content/docs/runtime/reference/providers.md
  runtime/providers/gemini/gemini_cache.go
  runtime/providers/gemini/gemini_explicit_cache_test.go
  runtime/providers/gemini/gemini_vertex_cache_live_test.go
  runtime/providers/gemini/gemini_vertex_cache_test.go
Due: runtime

fix(capability-matrix): drop retired claude-opus-4 / claude-sonnet-4 (404)
  examples/capability-matrix/CAPABILITIES.md
  examples/capability-matrix/config.arena.yaml
  examples/capability-matrix/providers/anthropic-opus4.provider.yaml
  examples/capability-matrix/providers/anthropic-sonnet4.provider.yaml
  examples/capability-matrix/scenarios/streaming-tools-vision.scenario.yaml
  examples/capability-matrix/scenarios/streaming-tools.scenario.yaml
  examples/capability-matrix/scenarios/streaming-vision.scenario.yaml
  examples/capability-matrix/scenarios/tools-vision.scenario.yaml
Due: none

fix(capability-matrix): drop retired claude-opus-4 / claude-sonnet-4 (404) (#1414)
  examples/capability-matrix/CAPABILITIES.md
  examples/capability-matrix/config.arena.yaml
  examples/capability-matrix/providers/anthropic-opus4.provider.yaml
  examples/capability-matrix/providers/anthropic-sonnet4.provider.yaml
  examples/capability-matrix/scenarios/streaming-tools-vision.scenario.yaml
  examples/capability-matrix/scenarios/streaming-tools.scenario.yaml
  examples/capability-matrix/scenarios/streaming-vision.scenario.yaml
  examples/capability-matrix/scenarios/tools-vision.scenario.yaml
Due: none
