Repository AltairaLabs/PromptKit: changes, and which Codecov flags are due for each by the changed paths.
All: runtime, sdk, arena, packc, inspect-state

feat(benchmarks): add OpenAI HTTP STT/TTS mocks and LiveKit Agents results
  benchmarks/mockupstream/main.go
  benchmarks/mockupstream/openai_audio.go
Due: none

perf: add transparent pack cache in sdk.Open() (#916)
  sdk/sdk.go
Due: sdk

perf: pre-size StreamElement metadata maps (#916)
  runtime/pipeline/stage/element.go
Due: runtime

fix: flaky TestInstrumentStageInput race on global metrics
  runtime/pipeline/stage/pipeline_metrics_test.go
Due: none

perf: avoid slog.NewRecord allocation in log handlers (#916)
  runtime/logger/handler.go
Due: runtime

perf: zero-alloc SSE scanning and byte-level DONE check (#916)
  runtime/providers/openai/openai.go
  runtime/providers/sse.go
Due: runtime

perf: transparent pack cache in sdk.Open() — 40% CPU reduction (#917)
  runtime/logger/handler.go
  runtime/pipeline/stage/element.go
  runtime/pipeline/stage/pipeline_metrics_test.go
  runtime/providers/openai/openai.go
  runtime/providers/sse.go
  sdk/sdk.go
Due: runtime, sdk

feat(benchmarks): scaffold Vercel AI SDK Next.js project
  benchmarks/frameworks/vercelai/app/layout.tsx
  benchmarks/frameworks/vercelai/next.config.ts
  benchmarks/frameworks/vercelai/package-lock.json
  benchmarks/frameworks/vercelai/package.json
  benchmarks/frameworks/vercelai/tsconfig.json
Due: none

feat(benchmarks): add Vercel AI SDK streaming route handler
  benchmarks/frameworks/vercelai/app/api/chat/route.ts
  benchmarks/frameworks/vercelai/app/api/health/route.ts
  benchmarks/frameworks/vercelai/next-env.d.ts
  benchmarks/frameworks/vercelai/package.json
  benchmarks/frameworks/vercelai/tsconfig.json
Due: none

fix(benchmarks): await streamText and add error handling in vercelai route
  benchmarks/frameworks/vercelai/app/api/chat/route.ts
Due: none

feat(benchmarks): add Dockerfile for Vercel AI SDK benchmark
  benchmarks/frameworks/vercelai/Dockerfile
Due: none

feat(benchmarks): add Vercel AI SDK to docker-compose round1
  benchmarks/docker-compose.yaml
Due: none

feat(benchmarks): add Vercel AI SDK to round1 Makefile target
  benchmarks/Makefile
Due: none

fix(benchmarks): add /health endpoint to mockupstream
  benchmarks/mockupstream/main.go
Due: none

fix(benchmarks): fix LangChain Dockerfile COPY paths for repo-root context
  benchmarks/frameworks/langchain/Dockerfile
Due: none

perf: default MaxConnsPerHost to unlimited, fix zero-value semantics
  pkg/config/types.go
  runtime/providers/base_provider.go
  runtime/providers/http_transport_test.go
Due: runtime

feat(benchmarks): add mock tool endpoint with configurable delay
  benchmarks/mockupstream/main.go
  benchmarks/mockupstream/profile.go
  benchmarks/mockupstream/tool_endpoint.go
  benchmarks/mockupstream/tool_endpoint_test.go
  benchmarks/profiles/fast.yaml
  benchmarks/profiles/realistic.yaml
Due: none

feat(benchmarks): add tool-calling mode to mock OpenAI handler
  benchmarks/mockupstream/openai_sse.go
  benchmarks/mockupstream/openai_sse_test.go
Due: none

feat(benchmarks): add tool-calling endpoint to PromptKit benchmark server
  benchmarks/frameworks/promptkit/round1/main.go
Due: none

feat(benchmarks): add cost-per-million-requests calculation to reporter
  benchmarks/harness/main.go
  benchmarks/harness/reporter.go
  benchmarks/harness/reporter_test.go
Due: none

feat(benchmarks): add tool-calling endpoint to LangChain benchmark
  benchmarks/frameworks/langchain/app.py
  benchmarks/frameworks/langchain/requirements.txt
Due: none

feat(benchmarks): add tool-calling endpoint to Vercel AI SDK benchmark
  benchmarks/frameworks/vercelai/app/api/chat-tools/route.ts
  benchmarks/frameworks/vercelai/next.config.ts
  benchmarks/frameworks/vercelai/package-lock.json
  benchmarks/frameworks/vercelai/package.json
Due: none

feat(benchmarks): add round1-tools target and harness --path flag
  benchmarks/Makefile
  benchmarks/docker-compose.yaml
  benchmarks/harness/main.go
  benchmarks/harness/streaming.go
Due: none

feat(benchmarks): add Strands Agents to streaming and tool-calling benchmarks
  benchmarks/Makefile
  benchmarks/docker-compose.yaml
  benchmarks/frameworks/strands/Dockerfile
  benchmarks/frameworks/strands/app.py
  benchmarks/frameworks/strands/requirements.txt
Due: none

perf: default MaxConnsPerHost to unlimited, fix zero-value semantics (#918)
  pkg/config/types.go
  runtime/providers/base_provider.go
  runtime/providers/http_transport_test.go
Due: runtime

feat: efficiency benchmark — PromptKit vs LangChain vs Vercel AI vs Strands (#919)
  benchmarks/Makefile
  benchmarks/docker-compose.yaml
  benchmarks/frameworks/langchain/Dockerfile
  benchmarks/frameworks/langchain/app.py
  benchmarks/frameworks/langchain/requirements.txt
  benchmarks/frameworks/promptkit/round1/main.go
  benchmarks/frameworks/strands/Dockerfile
  benchmarks/frameworks/strands/app.py
  benchmarks/frameworks/strands/requirements.txt
  benchmarks/frameworks/vercelai/Dockerfile
  benchmarks/frameworks/vercelai/app/api/chat-tools/route.ts
  benchmarks/frameworks/vercelai/app/api/chat/route.ts
  benchmarks/frameworks/vercelai/app/api/health/route.ts
  benchmarks/frameworks/vercelai/app/layout.tsx
  benchmarks/frameworks/vercelai/next-env.d.ts
  benchmarks/frameworks/vercelai/next.config.ts
  benchmarks/frameworks/vercelai/package-lock.json
  benchmarks/frameworks/vercelai/package.json
  benchmarks/frameworks/vercelai/tsconfig.json
  benchmarks/harness/main.go
  benchmarks/harness/reporter.go
  benchmarks/harness/reporter_test.go
  benchmarks/harness/streaming.go
  benchmarks/mockupstream/main.go
  benchmarks/mockupstream/openai_sse.go
  benchmarks/mockupstream/openai_sse_test.go
  benchmarks/mockupstream/profile.go
  benchmarks/mockupstream/tool_endpoint.go
  benchmarks/mockupstream/tool_endpoint_test.go
  benchmarks/profiles/fast.yaml
  benchmarks/profiles/realistic.yaml
Due: none

ci: add performance regression check to CI pipeline
  .github/workflows/ci.yml
Due: none

ci: raise perf regression floor to 1300 rps
  .github/workflows/ci.yml
Due: none

ci: add performance regression check to CI pipeline (#920)
  .github/workflows/ci.yml
Due: none

ci: add memory and CPU regression checks to perf job
  .github/workflows/ci.yml
Due: none

fix(ci): fix metric parsing and raise CPU ceiling to 150%
  .github/workflows/ci.yml
Due: none

ci: add memory and CPU regression checks to perf job (#921)
  .github/workflows/ci.yml
Due: none

fix: enable stream retry for capability matrix providers
  examples/capability-matrix/providers/anthropic-haiku45.provider.yaml
  examples/capability-matrix/providers/anthropic-opus4.provider.yaml
  examples/capability-matrix/providers/anthropic-opus41.provider.yaml
  examples/capability-matrix/providers/anthropic-opus45.provider.yaml
  examples/capability-matrix/providers/anthropic-opus46.provider.yaml
  examples/capability-matrix/providers/anthropic-sonnet4.provider.yaml
  examples/capability-matrix/providers/anthropic-sonnet45.provider.yaml
  examples/capability-matrix/providers/anthropic-sonnet46.provider.yaml
  examples/capability-matrix/providers/gemini-20-flash-lite.provider.yaml
  examples/capability-matrix/providers/gemini-20-flash.provider.yaml
  examples/capability-matrix/providers/gemini-25-flash-lite.provider.yaml
  examples/capability-matrix/providers/gemini-25-flash.provider.yaml
  examples/capability-matrix/providers/gemini-25-pro.provider.yaml
  examples/capability-matrix/providers/gemini-3-flash.provider.yaml
  examples/capability-matrix/providers/gemini-3-pro.provider.yaml
  examples/capability-matrix/providers/openai-gpt41-mini.provider.yaml
  examples/capability-matrix/providers/openai-gpt41-nano.provider.yaml
  examples/capability-matrix/providers/openai-gpt41.provider.yaml
  examples/capability-matrix/providers/openai-gpt4o-audio.provider.yaml
  examples/capability-matrix/providers/openai-gpt4o-mini-audio.provider.yaml
  examples/capability-matrix/providers/openai-gpt4o-mini.provider.yaml
  examples/capability-matrix/providers/openai-gpt4o.provider.yaml
  examples/capability-matrix/providers/openai-gpt5-mini.provider.yaml
  examples/capability-matrix/providers/openai-gpt5-nano.provider.yaml
  examples/capability-matrix/providers/openai-gpt5.provider.yaml
  examples/capability-matrix/providers/openai-gpt51.provider.yaml
  examples/capability-matrix/providers/openai-gpt52-pro.provider.yaml
  examples/capability-matrix/providers/openai-gpt52.provider.yaml
  examples/capability-matrix/providers/openai-o1-pro.provider.yaml
  examples/capability-matrix/providers/openai-o1.provider.yaml
  examples/capability-matrix/providers/openai-o3-mini.provider.yaml
  examples/capability-matrix/providers/openai-o3.provider.yaml
  examples/capability-matrix/providers/openai-o4-mini.provider.yaml
Due: none

fix: enable stream retry for capability matrix providers (#922)
  examples/capability-matrix/providers/anthropic-haiku45.provider.yaml
  examples/capability-matrix/providers/anthropic-opus4.provider.yaml
  examples/capability-matrix/providers/anthropic-opus41.provider.yaml
  examples/capability-matrix/providers/anthropic-opus45.provider.yaml
  examples/capability-matrix/providers/anthropic-opus46.provider.yaml
  examples/capability-matrix/providers/anthropic-sonnet4.provider.yaml
  examples/capability-matrix/providers/anthropic-sonnet45.provider.yaml
  examples/capability-matrix/providers/anthropic-sonnet46.provider.yaml
  examples/capability-matrix/providers/gemini-20-flash-lite.provider.yaml
  examples/capability-matrix/providers/gemini-20-flash.provider.yaml
  examples/capability-matrix/providers/gemini-25-flash-lite.provider.yaml
  examples/capability-matrix/providers/gemini-25-flash.provider.yaml
  examples/capability-matrix/providers/gemini-25-pro.provider.yaml
  examples/capability-matrix/providers/gemini-3-flash.provider.yaml
  examples/capability-matrix/providers/gemini-3-pro.provider.yaml
  examples/capability-matrix/providers/openai-gpt41-mini.provider.yaml
  examples/capability-matrix/providers/openai-gpt41-nano.provider.yaml
  examples/capability-matrix/providers/openai-gpt41.provider.yaml
  examples/capability-matrix/providers/openai-gpt4o-audio.provider.yaml
  examples/capability-matrix/providers/openai-gpt4o-mini-audio.provider.yaml
  examples/capability-matrix/providers/openai-gpt4o-mini.provider.yaml
  examples/capability-matrix/providers/openai-gpt4o.provider.yaml
  examples/capability-matrix/providers/openai-gpt5-mini.provider.yaml
  examples/capability-matrix/providers/openai-gpt5-nano.provider.yaml
  examples/capability-matrix/providers/openai-gpt5.provider.yaml
  examples/capability-matrix/providers/openai-gpt51.provider.yaml
  examples/capability-matrix/providers/openai-gpt52-pro.provider.yaml
  examples/capability-matrix/providers/openai-gpt52.provider.yaml
  examples/capability-matrix/providers/openai-o1-pro.provider.yaml
  examples/capability-matrix/providers/openai-o1.provider.yaml
  examples/capability-matrix/providers/openai-o3-mini.provider.yaml
  examples/capability-matrix/providers/openai-o3.provider.yaml
  examples/capability-matrix/providers/openai-o4-mini.provider.yaml
Due: none

feat(providers): add structured ProviderHTTPError, ProviderTransportError, IsTransient
  runtime/providers/errors.go
  runtime/providers/errors_test.go
Due: runtime

refactor(providers): use structured error types in centralized error paths
  runtime/providers/base_provider.go
  runtime/providers/gemini/gemini_multimodal_test.go
  runtime/providers/gemini/gemini_test.go
  runtime/providers/stream_retry.go
  runtime/providers/stream_retry_driver.go
Due: runtime

refactor(providers): convert all per-provider error sites to structured types
  runtime/providers/base_embedding.go
  runtime/providers/claude/claude.go
  runtime/providers/claude/claude_test.go
  runtime/providers/claude/claude_tools.go
  runtime/providers/errors.go
  runtime/providers/errors_test.go
  runtime/providers/gemini/gemini.go
  runtime/providers/gemini/gemini_multimodal.go
  runtime/providers/gemini/gemini_multimodal_test.go
  runtime/providers/gemini/gemini_tools.go
  runtime/providers/ollama/ollama.go
  runtime/providers/ollama/ollama_tools.go
  runtime/providers/openai/openai.go
  runtime/providers/openai/openai_responses_integration.go
  runtime/providers/openai/openai_tools.go
  runtime/providers/vllm/vllm_tools.go
Due: runtime

feat(arena): skip transient provider errors instead of failing
  tools/arena/engine/conversation_executor.go
  tools/arena/engine/conversation_executor_test.go
  tools/arena/engine/execution.go
  tools/arena/engine/interfaces.go
  tools/arena/engine/types.go
  tools/arena/results/junit/junit_repository.go
  tools/arena/statestore/metadata.go
  tools/arena/statestore/store.go
Due: arena

fix(providers): exclude context errors from IsTransient, use errors.Is in tests
  runtime/providers/errors.go
  runtime/providers/errors_test.go
  runtime/providers/streaming_mock_test.go
Due: runtime

Path conditions:
  runtime: any of: runtime/, but not: **/*_test.go, **/*_interactive.go, **/*_integration.go, examples/, docs/, scripts/, .github/, *.md
  sdk: any of: sdk/, but not: **/*_test.go, **/*_interactive.go, **/*_integration.go, examples/, docs/, scripts/, .github/, *.md
  arena: any of: tools/arena/, but not: **/*_test.go, **/*_interactive.go, **/*_integration.go, examples/, docs/, scripts/, .github/, *.md
  packc: any of: tools/packc/, but not: **/*_test.go, **/*_interactive.go, **/*_integration.go, examples/, docs/, scripts/, .github/, *.md
  inspect-state: any of: tools/inspect-state/, but not: **/*_test.go, **/*_interactive.go, **/*_integration.go, examples/, docs/, scripts/, .github/, *.md
