Repository AltairaLabs/PromptKit: changes, and which Codecov flags are due for each by the changed paths.
All: runtime, sdk, arena, packc, inspect-state

fix: gate streaming chunk recording on opt-in flags in RecordingStage
  runtime/pipeline/stage/stages_recording.go
  runtime/pipeline/stage/stages_recording_test.go
Due: runtime

fix: gate streaming chunk recording on opt-in flags in RecordingStage (#785)
  runtime/pipeline/stage/stages_recording.go
  runtime/pipeline/stage/stages_recording_test.go
Due: runtime

feat: add MessageLog write-through for tool loop durability
  runtime/pipeline/stage/stages_provider.go
  runtime/pipeline/stage/stages_provider_test.go
  runtime/pipeline/stage/stages_save.go
  runtime/statestore/memory.go
  runtime/statestore/memory_test.go
  runtime/statestore/message_log.go
  sdk/conversation.go
  sdk/integration/helpers_test.go
  sdk/internal/pipeline/builder.go
  sdk/options.go
Due: runtime, sdk

feat: add MessageLog write-through for tool loop durability (#786)
  runtime/pipeline/stage/stages_provider.go
  runtime/pipeline/stage/stages_provider_test.go
  runtime/pipeline/stage/stages_save.go
  runtime/statestore/memory.go
  runtime/statestore/memory_test.go
  runtime/statestore/message_log.go
  sdk/conversation.go
  sdk/integration/helpers_test.go
  sdk/internal/pipeline/builder.go
  sdk/options.go
Due: runtime, sdk

feat: add context compactor to fold stale tool results in tool loop
  runtime/pipeline/stage/compactor.go
  runtime/pipeline/stage/compactor_test.go
  runtime/pipeline/stage/stages_provider.go
Due: runtime

feat: add context compactor to fold stale tool results in tool loop (#787)
  runtime/pipeline/stage/compactor.go
  runtime/pipeline/stage/compactor_test.go
  runtime/pipeline/stage/stages_provider.go
Due: runtime

feat: complete compactor — default-on, events, cost budget, MaxRounds 50
  runtime/events/emitter.go
  runtime/events/types.go
  runtime/pipeline/stage/compactor.go
  runtime/pipeline/stage/compactor_test.go
  runtime/pipeline/stage/stages_provider.go
  runtime/pipeline/stage/stages_provider_test.go
  runtime/pipeline/types.go
  runtime/providers/provider.go
  sdk/conversation.go
  sdk/internal/pipeline/builder.go
  sdk/options.go
Due: runtime, sdk

fix: compactor correctness — update ToolResult.Parts on fold, add missing tests
  runtime/pipeline/stage/compactor.go
  runtime/pipeline/stage/compactor_test.go
  runtime/pipeline/stage/stages_provider.go
  runtime/pipeline/stage/stages_provider_test.go
  sdk/internal/pipeline/builder.go
Due: runtime, sdk

docs: update Astro docs for compactor, events, cost budget, idle timeout
  docs/src/content/docs/architecture/runtime-events.md
  docs/src/content/docs/architecture/runtime-pipeline.md
  docs/src/content/docs/architecture/runtime-tools-mcp.md
  docs/src/content/docs/runtime/how-to/configure-pipeline.md
  docs/src/content/docs/runtime/reference/index.md
  docs/src/content/docs/runtime/reference/pipeline.md
  docs/src/content/docs/runtime/reference/providers.md
  docs/src/content/docs/runtime/reference/statestore.md
  docs/src/content/docs/runtime/reference/tools-mcp.md
  docs/src/content/docs/sdk/explanation/observability.md
  docs/src/content/docs/sdk/how-to/manage-context.md
  docs/src/content/docs/sdk/how-to/monitor-events.md
  docs/src/content/docs/sdk/reference/index.md
Due: none

feat: complete compactor — default-on, events, cost budget, MaxRounds 50 (#788)
  docs/src/content/docs/architecture/runtime-events.md
  docs/src/content/docs/architecture/runtime-pipeline.md
  docs/src/content/docs/architecture/runtime-tools-mcp.md
  docs/src/content/docs/runtime/how-to/configure-pipeline.md
  docs/src/content/docs/runtime/reference/index.md
  docs/src/content/docs/runtime/reference/pipeline.md
  docs/src/content/docs/runtime/reference/providers.md
  docs/src/content/docs/runtime/reference/statestore.md
  docs/src/content/docs/runtime/reference/tools-mcp.md
  docs/src/content/docs/sdk/explanation/observability.md
  docs/src/content/docs/sdk/how-to/manage-context.md
  docs/src/content/docs/sdk/how-to/monitor-events.md
  docs/src/content/docs/sdk/reference/index.md
  runtime/events/emitter.go
  runtime/events/types.go
  runtime/pipeline/stage/compactor.go
  runtime/pipeline/stage/compactor_test.go
  runtime/pipeline/stage/stages_provider.go
  runtime/pipeline/stage/stages_provider_test.go
  runtime/pipeline/types.go
  runtime/providers/provider.go
  sdk/conversation.go
  sdk/internal/pipeline/builder.go
  sdk/options.go
Due: runtime, sdk

feat: compactor extensibility — strategy pattern, rules, pair collapsing
  runtime/pipeline/stage/compactor.go
  runtime/pipeline/stage/compactor_fold.go
  runtime/pipeline/stage/compactor_pairs.go
  runtime/pipeline/stage/compactor_test.go
  runtime/pipeline/stage/stages_provider.go
  runtime/pipeline/stage/stages_provider_test.go
  sdk/conversation.go
  sdk/internal/pipeline/builder.go
  sdk/options.go
Due: runtime, sdk

fix: code review — restore BudgetTokens field, fix false-positive pair collapse
  runtime/pipeline/stage/compactor.go
  runtime/pipeline/stage/compactor_pairs.go
  runtime/pipeline/stage/compactor_test.go
  runtime/pipeline/stage/stages_provider.go
  runtime/pipeline/stage/stages_provider_test.go
  sdk/examples/custom-compaction/compaction.pack.json
  sdk/examples/custom-compaction/main_interactive.go
  sdk/internal/pipeline/builder.go
Due: runtime, sdk

feat: compactor extensibility — strategy pattern, rules, pair collapsing (#789)
  runtime/pipeline/stage/compactor.go
  runtime/pipeline/stage/compactor_fold.go
  runtime/pipeline/stage/compactor_pairs.go
  runtime/pipeline/stage/compactor_test.go
  runtime/pipeline/stage/stages_provider.go
  sdk/conversation.go
  sdk/examples/custom-compaction/compaction.pack.json
  sdk/examples/custom-compaction/main_interactive.go
  sdk/internal/pipeline/builder.go
  sdk/options.go
Due: runtime, sdk

feat: RFC 0009 Phase 1 — terminal states + loop guards
  runtime/workflow/context.go
  runtime/workflow/machine.go
  runtime/workflow/machine_test.go
  runtime/workflow/types.go
  runtime/workflow/validate.go
  runtime/workflow/validate_test.go
  sdk/internal/pack/workflow.go
  sdk/workflow_transition_integration.go
  tools/arena/engine/workflow_tool_executor.go
  tools/arena/engine/workflow_tool_executor_test.go
Due: runtime, sdk, arena

fix: code review — Terminal blocks ProcessEvent, validation tests, dedup
  runtime/workflow/machine.go
  runtime/workflow/machine_test.go
  runtime/workflow/validate.go
  runtime/workflow/validate_test.go
Due: runtime

feat: RFC 0009 Phase 2 — workflow budgets
  runtime/workflow/context.go
  runtime/workflow/machine.go
  runtime/workflow/machine_test.go
  runtime/workflow/types.go
Due: runtime

feat: RFC 0009 Phase 3 — workflow artifacts
  runtime/workflow/context.go
  runtime/workflow/machine.go
  runtime/workflow/machine_test.go
  runtime/workflow/types.go
  sdk/internal/pack/workflow.go
Due: runtime, sdk

docs: add CLAUDE.md and SERVICE.md for runtime, SDK, and Arena
  runtime/CLAUDE.md
  runtime/SERVICE.md
  sdk/CLAUDE.md
  sdk/SERVICE.md
  tools/arena/CLAUDE.md
  tools/arena/SERVICE.md
Due: runtime, sdk, arena

feat: runtime TransitionExecutor + ArtifactExecutor with deferred commit
  runtime/workflow/artifact_tool.go
  runtime/workflow/artifact_tool_test.go
  runtime/workflow/transition_executor.go
  runtime/workflow/transition_executor_test.go
Due: runtime

refactor: unify workflow tool execution via runtime TransitionExecutor
  runtime/workflow/transition_executor.go
  sdk/workflow.go
  sdk/workflow_test.go
  sdk/workflow_transition_integration.go
  tools/arena/engine/workflow_tool_executor.go
  tools/arena/engine/workflow_tool_executor_test.go
Due: runtime, sdk, arena

fix: code review — wire Arena PostTurnHook, cache budget, cleanup dead code
  runtime/workflow/artifact_tool.go
  runtime/workflow/machine.go
  sdk/CLAUDE.md
  sdk/workflow.go
  sdk/workflow_test.go
  tools/arena/CLAUDE.md
  tools/arena/engine/conversation_executor.go
  tools/arena/engine/execution.go
  tools/arena/engine/interfaces.go
  tools/arena/engine/workflow_tool_executor.go
Due: runtime, sdk, arena

feat: RFC 0009 Phase 1 — terminal states + loop guards (#790)
  runtime/CLAUDE.md
  runtime/SERVICE.md
  runtime/workflow/artifact_tool.go
  runtime/workflow/artifact_tool_test.go
  runtime/workflow/context.go
  runtime/workflow/machine.go
  runtime/workflow/machine_test.go
  runtime/workflow/transition_executor.go
  runtime/workflow/transition_executor_test.go
  runtime/workflow/types.go
  runtime/workflow/validate.go
  runtime/workflow/validate_test.go
  sdk/CLAUDE.md
  sdk/SERVICE.md
  sdk/internal/pack/workflow.go
  sdk/workflow.go
  sdk/workflow_test.go
  sdk/workflow_transition_integration.go
  tools/arena/CLAUDE.md
  tools/arena/SERVICE.md
  tools/arena/engine/conversation_executor.go
  tools/arena/engine/execution.go
  tools/arena/engine/interfaces.go
  tools/arena/engine/workflow_tool_executor.go
  tools/arena/engine/workflow_tool_executor_test.go
Due: runtime, sdk, arena

feat: add thinking/reasoning content type for extended thinking models
  runtime/providers/claude/claude.go
  runtime/providers/claude/claude_tools.go
  runtime/providers/openai/openai.go
  runtime/types/content.go
Due: runtime

test: add coverage for thinking content type parsing
  runtime/providers/claude/claude_test.go
  runtime/providers/claude/claude_tools_test.go
  runtime/providers/openai/openai_test.go
  runtime/types/content_test.go
Due: none

feat: thinking/reasoning content type for extended thinking models (#791)
  runtime/providers/claude/claude.go
  runtime/providers/claude/claude_test.go
  runtime/providers/claude/claude_tools.go
  runtime/providers/claude/claude_tools_test.go
  runtime/providers/openai/openai.go
  runtime/providers/openai/openai_test.go
  runtime/types/content.go
  runtime/types/content_test.go
Due: runtime

feat: agentic memory — interfaces, in-memory store, tools, SDK capability
  runtime/memory/extractor.go
  runtime/memory/memory_store.go
  runtime/memory/memory_store_test.go
  runtime/memory/retriever.go
  runtime/memory/store.go
  runtime/memory/tools.go
  runtime/memory/tools_test.go
  runtime/memory/types.go
  sdk/capability_memory.go
  sdk/capability_memory_test.go
  sdk/options.go
Due: runtime, sdk

fix: code review — pipeline stages, thread safety, tool schemas
  runtime/memory/memory_store.go
  runtime/memory/tools.go
  runtime/pipeline/stage/stages_memory.go
  runtime/pipeline/stage/stages_memory_test.go
  sdk/conversation.go
  sdk/internal/pipeline/builder.go
Due: runtime, sdk

feat: Arena memory integration + example
  examples/memory-agent/README.md
  examples/memory-agent/config.arena.yaml
  examples/memory-agent/mock-responses.yaml
  examples/memory-agent/prompts/memory-assistant.yaml
  examples/memory-agent/providers/mock-provider.provider.yaml
  examples/memory-agent/scenarios/cross-turn-memory.scenario.yaml
  examples/memory-agent/scenarios/preference-recall.scenario.yaml
  pkg/config/types.go
  schemas/v1alpha1/arena.json
  tools/arena/engine/engine.go
  tools/arena/engine/execution.go
  tools/arena/engine/execution_memory_integration.go
Due: arena

fix: update mock response format and simplify scenarios
  examples/memory-agent/scenarios/preference-recall.scenario.yaml
Due: none

fix: correct mock response scenario keys to match metadata.name
  examples/memory-agent/mock-responses.yaml
  examples/memory-agent/scenarios/cross-turn-memory.scenario.yaml
  examples/memory-agent/scenarios/preference-recall.scenario.yaml
Due: none

docs: add mock response format and capability config to Arena CLAUDE.md and skill
  tools/arena/CLAUDE.md
Due: arena

feat: style memory tools in HTML reports with purple gradient + brain icon
  tools/arena/render/html.go
  tools/arena/render/templates/report.html.tmpl
Due: arena

feat: memory example with real providers (OpenAI works, Claude/Gemini have pre-existing system prompt issues)
  examples/memory-agent/config.arena.yaml
  examples/memory-agent/providers/claude.provider.yaml
  examples/memory-agent/providers/gemini.provider.yaml
  examples/memory-agent/providers/openai.provider.yaml
Due: none

fix: add output schemas to memory tools (fixes EOF validation), simplify system prompt
  examples/memory-agent/prompts/memory-assistant.yaml
  runtime/memory/tools.go
Due: runtime

fix: handle null/empty args in tool validator, add output schemas, remove seed
  examples/memory-agent/config.arena.yaml
  runtime/memory/tools_test.go
  runtime/tools/validator.go
Due: runtime

fix: reduce duplication in memory tool schemas, handle null args in validator
  runtime/memory/tools.go
Due: runtime

feat: agentic memory — interfaces, in-memory store, tools, SDK capability (#792)
  examples/memory-agent/README.md
  examples/memory-agent/config.arena.yaml
  examples/memory-agent/mock-responses.yaml
  examples/memory-agent/prompts/memory-assistant.yaml
  examples/memory-agent/providers/claude.provider.yaml
  examples/memory-agent/providers/gemini.provider.yaml
  examples/memory-agent/providers/mock-provider.provider.yaml
  examples/memory-agent/providers/openai.provider.yaml
  examples/memory-agent/scenarios/cross-turn-memory.scenario.yaml
  examples/memory-agent/scenarios/preference-recall.scenario.yaml
  pkg/config/types.go
  runtime/memory/extractor.go
  runtime/memory/memory_store.go
  runtime/memory/memory_store_test.go
  runtime/memory/retriever.go
  runtime/memory/store.go
  runtime/memory/tools.go
  runtime/memory/tools_test.go
  runtime/memory/types.go
  runtime/pipeline/stage/stages_memory.go
  runtime/pipeline/stage/stages_memory_test.go
  runtime/tools/validator.go
  schemas/v1alpha1/arena.json
  sdk/capability_memory.go
  sdk/capability_memory_test.go
  sdk/conversation.go
  sdk/internal/pipeline/builder.go
  sdk/options.go
  tools/arena/CLAUDE.md
  tools/arena/engine/engine.go
  tools/arena/engine/execution.go
  tools/arena/engine/execution_memory_integration.go
  tools/arena/render/html.go
  tools/arena/render/templates/report.html.tmpl
Due: runtime, sdk, arena

fix: skip system messages in Claude/Gemini tool request builders (#793)
  runtime/providers/claude/claude_contract_test.go
  runtime/providers/claude/claude_tools.go
  runtime/providers/gemini/gemini_contract_test.go
  runtime/providers/gemini/gemini_tools.go
  runtime/providers/openai/openai_contract_test.go
  runtime/providers/provider_contract_integration.go
Due: runtime

refactor: normalize system messages at provider boundary
  runtime/pipeline/stage/stages_provider.go
  runtime/providers/claude/claude.go
  runtime/providers/claude/claude_tools.go
  runtime/providers/gemini/gemini.go
  runtime/providers/gemini/gemini_multimodal.go
  runtime/providers/gemini/gemini_tools.go
  runtime/providers/provider.go
  runtime/providers/provider_test.go
Due: runtime

fix: close event bus on Arena exit and always write reports
  examples/memory-agent/config.arena.yaml
  runtime/events/bus.go
  tools/arena/cmd/promptarena/run_interactive.go
Due: runtime

Path conditions:
  runtime: any of: runtime/, but not: **/*_test.go, **/*_interactive.go, **/*_integration.go, examples/, docs/, scripts/, .github/, *.md
  sdk: any of: sdk/, but not: **/*_test.go, **/*_interactive.go, **/*_integration.go, examples/, docs/, scripts/, .github/, *.md
  arena: any of: tools/arena/, but not: **/*_test.go, **/*_interactive.go, **/*_integration.go, examples/, docs/, scripts/, .github/, *.md
  packc: any of: tools/packc/, but not: **/*_test.go, **/*_interactive.go, **/*_integration.go, examples/, docs/, scripts/, .github/, *.md
  inspect-state: any of: tools/inspect-state/, but not: **/*_test.go, **/*_interactive.go, **/*_integration.go, examples/, docs/, scripts/, .github/, *.md
